<div class="data-title">
  <h5 class="m-0">Your Orders</h5>
</div>

{% if customer.orders %}
  <div class="data-list">
    <ul>
      {% for order in customer.orders %}
        <li>
          <div class="order-head">
            <div class="number">
              <p>Order {{ order.name }}</p>
            </div>
            <div class="date">
              <p>{{ order.created_at | date: format: 'abbreviated_date' }}</p>
            </div>
            <div class="more">
              <p><a href="{{ shop.secured_url }}/apps/download?ids={{ order.id }}&t=invoice&public_key={{ invoice_id }}&source=shopify_notification_email" target="_blank"><i class="fa-thin fa-laptop-arrow-down"></i></a></p>
            </div>
          </div>

          {% for a in order.line_items %}
            <div class="order-body">
              <div class="order-item">
                <div class="rows-wrap">
                  <div class="img-wrap">
                    <span><img src={% if a.product.featured_image %}{{ a.product.featured_image | image_url }}{% else %}"{{ 'favicon-96x96.png' | asset_url }}"{% endif %} alt=""></span>
                  </div>

                  <div class="name"><p>{{ a.product.title }}</p></div>
                </div>

                <div class="item-quantity"><p>Quantity: {{ a.quantity }}</p></div>
                <div class="item-price"><p>{{ order.total_price | money_with_currency }}</p></div>

                <div class="status done">
                  <p>
                    {% if order.fulfillment_status != "fulfilled" %}
                      <style>
                        #{{ order.name }} { color: #d8ae13; }
                        #{{ order.name }}:before { background: #d8ae13; }
                      </style>
                    {% endif %}
                    <span id="{{ order.name }}">{{ order.fulfillment_status }}</span>
                  </p>
                </div>
              </div>

            </div>
            <div class="view-details d-mobile">
              <div class="more-btn">
                <p>
                  <a href="https://curalife-commerce.myshopify.com/apps/download?ids={{ order.id }}&t=invoice&public_key=51da85a3c3dfa1f360b48852b64218b2&source=shopify_notification_email" target="_blank">Download Invoice</a>                                                        </div>
            </div>
            {% endfor %}
          </li>
      {% endfor %}

    </ul>
  </div>
{% else %}
  <div class="data-content">
    <div class="empty-content">
      <div class="empty-text">
        <p>
          <span class="icon-smile"></span>You haven't placed any orders yet.</p>
        <a href="{{ section.settings.ord_btnlink }}" class="main-btn blank">SHOP NOW</a>
      </div>
    </div>
  </div>
{% endif %}