<div class="testimonials-section">
    <div class="container">
        <div class="data-wrap">
            <div class="testimonials_mainpanel">
                <div class="testimonials-video_part">
                    <div class="testimonials_iframe">
                        <lite-vimeo videoid="384752311" videoplay="Mirar"></lite-vimeo>
                    </div>
                    <div class="iframe_overlay">
                        <!--<div class="iframe-name">
            <h3>
              Dr. Sarah Brewer
            </h3>
          </div>
          <div class="iframe-description">
            <p>
              Functional doctor, diabetes expert, and author of over 60 books on personal health.
            </p>
          </div>-->
                    </div>
                </div>
                <div class="close-player"></div>
                <div class="testimonials-description">
                    <div class="testimonials-headline">
                        <h2>
                            In the cases I've seen, patients typically start to
                            experience results within the first few days
                            when starting Curalin.
                        </h2>
                    </div>
                    <div class="testimonials-username">
                        <p>
                            Dr. Sarah Brewer
                        </p>
                    </div>
                </div>
            </div>
            {% if isLP %}
              <div class="testimonials_mainpanel reverse">
                  <div class="testimonials-video_part">
                      <div class="testimonials_iframe">
                          <img src="{{ 'lps-doctors-testimonials-itamar-raz.png' | asset_url }}" alt="">
                      </div>
                  </div>
                  <div class="close-player"></div>
                  <div class="testimonials-description">
                      <div class="testimonials-headline">
                          <h2>
                              Curalin can make a big change in the lives of patients. It is safe and effective in supporting Hemoglobin A1C levels.
                          </h2>
                      </div>
                      <div class="testimonials-username">
                          <p>Prof. Itamar Raz</p>
                      </div>
                  </div>
              </div>
            {% endif %}
        </div>
    </div>
</div>

{% if isLP %}
  <style>
    .testimonials-section {
    background: rgba(234,234,234,.5);
}

.testimonials_mainpanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 69.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.testimonials_mainpanel:first-child {
    border-bottom: 1px solid lightgrey;
}

.testimonials_mainpanel.reverse {
    flex-direction: row-reverse;
}

.testimonials_mainpanel.reverse .testimonials-description {
    flex-direction: row-reverse;
    padding: 4.5rem 5.1875rem 0 0;
}

.testimonials-video_part {
    max-width: 29.5625rem;
    width: 42.7%;
    position: relative;
}

.testimonials-video_part:before {
    content: "";
    display: block;
    padding-bottom: 100.7%;
    pointer-events: none;
}

.testimonials_iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.testimonials_iframe * {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iframe_overlay {
    background-image: url("{{ 'lp-aio-iframe-overlay.png' | file_url }}");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    {% comment %} padding: 1.375rem 2.8125rem; {% endcomment %}
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 5;
    pointer-events: none;
}

.testimonials-video_part+.close-player {
    display: none;
}

.testimonials-description {
    width: 57.3%;
    padding: 4.5rem 0 0 5.1875rem;
    position: relative;
    z-index: 3;
}

.testimonials-headline {
    position: relative;
}

.testimonials-headline span {
    font-weight: 700;
}

.testimonials-headline * {
    font-size: 2.1875rem;
    line-height: 1.43;
    color: #000;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin: 0;
}

.testimonials-username {
    position: relative;
}

.testimonials-username * {
    font-size: 1.5rem;
    line-height: 1.43;
    color: #000;
    position: relative;
    z-index: 2;
    font-weight: 300;
    margin: 0;
}

.testimonials-headline:after {
    content: "";
    background-image: url("{{ 'lp-aio-big-quote-icon.png' | file_url }}");
    background-size: contain;
    max-width: 6.6875rem;
    width: 100%;
    height: 5.8125rem;
    position: absolute;
    left: 0.25rem;
    top: -3.6875rem;
    background-repeat: no-repeat;
}

.testimonials-video_part.show-video .testimonials_iframe {
    z-index: 10;
}

@media screen and (max-width:768px) {
  .testimonials_mainpanel {
    flex-wrap: wrap;
  }
    .testimonials-video_part {
    max-width: unset;
    width: 100%;
    margin: 0 1.25rem;
}

.testimonials-description {
    width: 100%;
    padding: 2.5rem 1.875rem 0 3.25rem !important;
}

.testimonials-headline * {
    font-size: 1.0625rem;
}

.testimonials-headline:after {
    max-width: 2.8125rem;
    height: 2.1875rem;
    top: -1.125rem;
    left: -1.0625rem;
}

.testimonials-username {
    padding-top: 0.125rem;
}

.testimonials-username * {
    font-size: .6875rem;
}
}
</style>


{% else %}
<style>


  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
  }
    .testimonials-section {
      background: rgba(234, 234, 234, .5);
      padding: 4.5rem 0;
      font-family: "Poppins", sans-serif;
    }

    .testimonials-video_part {
      max-width: 29.5625rem;
      width: 42.7%;
      position: relative
    }

    .testimonials-video_part:before {
      content: "";
      display: block;
      padding-bottom: 100.7%;
      pointer-events: none
    }

    .testimonials-video_part.show-video .testimonials_iframe {
      z-index: 10
    }

    .testimonials-video_part+.close-player {
      display: none
    }

    .iframe_overlay {
      background-image:url({{'lp-aio-iframe-overlay.png' | file_url }});
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      {% comment %} padding: 1.375rem 2.8125rem; {% endcomment %}
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      cursor: pointer;
      z-index: 5;
      pointer-events: none
    }

    .iframe-name {
      width: 100%;
      max-width: 100%;
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.1;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 5
    }

    .iframe-name * {
      margin: 0
    }

    .iframe-description {
      font-size: 1rem;
      line-height: 1.33;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 5;
      margin-top: .625rem
    }

    .iframe-description * {
      margin: 0
    }

    .testimonials_iframe {
      max-width: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0
    }

    .testimonials_iframe * {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover
    }

    .testimonials-username {
      position: relative
    }

    .testimonials-username * {
      font-size: 1.5rem;
      line-height: 1.43;
      color: #000;
      position: relative;
      z-index: 2;
      font-weight: 300;
      margin: 0
    }

    .testimonials-headline {
      position: relative
    }

    .testimonials-headline * {
      font-size: 2.1875rem;
      line-height: 1.43;
      color: #000;
      position: relative;
      z-index: 2;
      font-weight: 400;
      margin: 0
    }

    .testimonials-headline:after {
      content: "";
      background-image:url({{'lp-aio-big-quote-icon.png' | file_url }});
      background-size: contain;
      max-width: 6.6875rem;
      width: 100%;
      height: 5.8125rem;
      position: absolute;
      left: .25rem;
      top: -3.6875rem;
      background-repeat: no-repeat;
    }

    .testimonials-description {
      width: 57.3%;
      padding: 4.5rem 0 0 5.1875rem;
      position: relative;
      z-index: 3
    }

    .testimonials_mainpanel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 69.25rem;
      margin-left: auto;
      margin-right: auto
    }

    .testimonials-headline span {
      font-weight: 700
    }

    @media screen and (max-width: 991px) {
        .testimonials-description {
          padding: .625rem 0 0 2.1875rem
        }

        .testimonials-headline * {
          font-size: 1.375rem
        }

        .testimonials-username * {
          font-size: 1.125rem
        }

        .testimonials-headline:after {
          max-width: 4.5rem;
          height: 3.8125rem;
          top: -1.5625rem
        }
    }

    @media screen and (max-width: 768px){
      .testimonials-video_part.full-screen .testimonials_iframe,
          .testimonials-video_part.full-screen .player-wrap,
           {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 30
          }

          .testimonials-video_part.full-screen+.close-player,
           {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: fixed;
            top: 1rem;
            right: 1rem;
            left: unset;
            cursor: pointer;
            background: none;
            width: 1.875rem;
            height: 1.875rem;
            padding: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            z-index: 35
          }

          .testimonials-video_part.full-screen+.close-player:before,
         {
            content: "+";
            font-size: 1.875rem;
            font-weight: 300;
            color: var(--green)
          }

          .testimonials-video_part.show-video:not(.full-screen) .testimonials_iframe,
          .testimonials-video_part.show-video:not(.full-screen) .player-wrap,
         {
            pointer-events: none
          }
        .testimonials-video_part {
          max-width: unset;
          width: 100%;
          margin: 0 1.25rem
        }

        .testimonials-section {
          padding: 1.5625rem 0
        }

        .testimonials-headline * {
          font-size: 1.0625rem
        }

        .testimonials-description {
          width: 100%;
          padding: 2.5rem 1.875rem 0 3.25rem
        }

        .testimonials-username * {
          font-size: .6875rem
        }

        .testimonials-username {
          padding-top: .125rem
        }

        .testimonials-headline:after {
          max-width: 2.8125rem;
          height: 2.1875rem;
          top: -1.125rem;
          left: -1.0625rem
        }

    }

</style>

{% endif %}

<script>
  function showvideo() {
    this.classList.add('show-video');
  }

  document.querySelector('.iframe_overlay').closest(".testimonials-video_part").addEventListener('click', showvideo)
</script>