<div class="recipe-content flex flex-col gap-8 mb-8">
  <div class="recipe-details flex bg-[#fff4ed] p-4">
    <div class="calories w-1/2 text-center font-bold border-r border-[#a86129]"><i class="fa-thin fa-weight-scale"></i> {{ calories }}kcal</div>
    <div class="time w-1/2 font-bold text-center"><i class="fa-thin fa-clock"></i> {{ duration }}</div>
  </div>

  {% if fat %}
    <div class="nutrients flex p-4">
      <div class="nutrient-fat md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Fat | {{ fat }}</div>
      <div class="nutrient-carbs md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Carbs | {{ carbs }}</div>
      <div class="nutrient-protein md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Protein | {{ protein }}</div>
      <div class="nutrient-fiber md:w-1/2 w-1/4 text-[#a86129] text-center">Fiber | {{ fiber }}</div>
    </div>
  {% endif %}

  <div class="ingredients">
    <h3>Ingredients</h3>
    <ul>
      {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="instructions">
    <h3>Instructions</h3>
    {% for instruction in instructions %}
      <div class="text-instructions"><div class="sub-instructions"></div><div class="text-instruction">{{ instruction }}</div>  </div>
    {% endfor %}
  </div>
</div>

<style>
  .recipe-content .ingredients ul {
    list-style: disc;
  }

  .recipe-content .instructions .text-instructions {
    display: flex;
    counter-increment: instructions-counter;
    margin-bottom: 20px;
    line-height: 1.8em;
  }

  .recipe-content .instructions .text-instructions .sub-instructions::before {
    content: counter(instructions-counter) "";
    color: white;
    background: var(--peach);
    padding: 5px 13px;
    font-weight: bold;
    border-radius: 50%;
    max-width: 10px;
    max-height: 10px;
    margin-right: 30px;
    line-height: 1.8em;
  }
</style>