{%- capture previous_link_url -%}
  {%- if paginate.current_page == 2 -%}
    {%- if template contains "search" -%}
      {{ paginate.previous.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
    {%- else -%}
      {{ paginate.previous.url | replace: '?page=1', '' }}
    {%- endif -%}
  {%- else -%}
    {{ paginate.previous.url }}
  {%- endif -%}
{%- endcapture -%}

{%- paginate blog.articles by 10 -%}
  {%- for article in blog.articles -%}
    <!-- show blog article details here -->
  {%- endfor -%}

  {%- if paginate.pages > 1 -%}
    <nav role="navigation">
      <ol class="pagination">
        {%- if paginate.previous-%}
          <li>
            <a class="next prv" href="{{ previous_link_url }}">

              Previous <span class="visuallyhidden">page</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled">

          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li>
              {%- if part.title == 1 -%}
              	<a href="{{ part.url | replace: '?page=1', ''| replace: '?&', '?' | replace: '&&', '&' }}">
                	<span class="visuallyhidden">page</span> {{ part.title }}
              	</a>
              {%- else -%}
              	<a href="{{ part.url }}">
                	<span class="visuallyhidden">page</span> {{ part.title }}
              	</a>
              {%- endif -%}
            </li>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <li class="active" aria-current="page">
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
            {%- else -%}
              <li>
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a class="next" href="{{ paginate.next.url }}">
              Next <span class="visuallyhidden">page</span>

            </a>
          </li>
        {%- else -%}
          <li class="disabled">

          </li>
        {%- endif -%}
      </ol>
    </nav>
  {%- endif -%}
{%- endpaginate -%}

<style>
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .pagination {
      display: inline-block;
      padding: 10px 0;
  }

  .pagination li {
      display: inline;
      margin: 0 5px;
  }

  .pagination li a,
  .pagination li.active {
      padding: 5px 10px;
      border: 1px solid #ddd;
      color: #666;
      text-decoration: none;
  }

  .pagination li.active {
      background-color: var(--dark-green);
      border-color: var(--dark-green);
      color: #fff;
      font-size: 20px;
  }

  .pagination li a.next,
  .pagination li a.prv {
      transition: background-color 0.3s ease;
  }

  .pagination li a.next:hover,
  .pagination li a.prv:hover {
      background-color: #ddd;
  }

  @media only screen and (max-width: 768px) {
      .prv {
          display: none !important;
      }
  }

  @media only screen and (max-width: 365px) {
      .pagination li {
          margin: 0 2px;
      }
  }
</style>
