<div class="article-card">
  {%- if customer.email == 'yotam@curalife.com' -%}
    <a href="https://curalife-commerce.myshopify.com/admin/articles/{{ article.id }}/edit" class="admin-edit-link">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.828-1.415a2 2 0 112.828 2.829m-2.828-2.828L6 12m6 6v-6M6 12H0m6 6a2 2 0 110-4m0 4a2 2 0 014 0m-4 0a2 2 0 01-2-2m2 2a2 2 0 002-2m-2 2V6a2 2 0 012 2m0-4a2 2 0 00-2 2m2-2a2 2 0 01-2 2m2-2H6a2 2 0 012-2m-2 2v6a2 2 0 002 2m0-4a2 2 0 01-2-2" />
      </svg>
    </a>
  {%- endif -%}

  <div class="picture">
    <a href="{{ article.url }}" class="main-link"></a>
    {% if article.image %}
      <img src="{{ article.image | image_url }}" alt="" loading="lazy">
    {% else %}
      <img src="{{ 'meta-thumbnail.png' | asset_url }}" alt="" loading="lazy">
    {% endif %}
  </div>

  <div class="info">
    <div class="main-info">
      <div class="title">
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      </div>

      <div class="offer">
        <p>{{settings.offer_desc}}</p>
      </div>
        {% if description %}
      <div class="description">
        <p>
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
            {% else %}
            {{ article.content | strip_html | truncate: 150 }}
          {% endif %}
        </p>
      </div>
        {% endif %}
    </div>

    {% comment %} <div class="article-author">
      <div class="details">
          {% if article.author %}
        <h4>By {{ article.author}}</h4>
        {% endif %}
        {% if article.user.bio %}
        <p>{{ article.user.bio }}</p>
        {% endif %}
      </div>
    </div> {% endcomment %}
  </div>
</div>
