{%- capture previous_link_url -%}
  {%- if paginate.current_page == 2 -%}
    {%- if template contains "search" -%}
      {{ paginate.previous.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
    {%- else -%}
      {{ paginate.previous.url | replace: '?page=1', '' }}
    {%- endif -%}
  {%- else -%}
    {{ paginate.previous.url }}
  {%- endif -%}
{%- endcapture -%}

{%- paginate blog.articles by 10 -%}
  {%- for article in blog.articles -%}
    <!-- show blog article details here -->
  {%- endfor -%}

  {%- if paginate.pages > 1 -%}
    <nav role="navigation">
      <ol class="pagination">
        {%- if paginate.previous-%}
          <li>
<<<<<<< HEAD
            <a class="next prv" href="{{ previous_link_url }}">Previous</a>
          </li>
        {%- else -%}
          <li class="disabled">

=======
            <a class="next prv" href="{{ previous_link_url }}">
             
              Previous <span class="visuallyhidden">page</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled">
            
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li>
              {%- if part.title == 1 -%}
<<<<<<< HEAD
              	<a href="{{ part.url | replace: '?page=1', ''| replace: '?&', '?' | replace: '&&', '&' }}">{{ part.title }}</a>
              {%- else -%}
              	<a href="{{ part.url }}">{{ part.title }}</a>
=======
              	<a href="{{ part.url | replace: '?page=1', ''| replace: '?&', '?' | replace: '&&', '&' }}">
                	<span class="visuallyhidden">page</span> {{ part.title }}
              	</a>
              {%- else -%}
              	<a href="{{ part.url }}">
                	<span class="visuallyhidden">page</span> {{ part.title }}
              	</a>
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
              {%- endif -%}
            </li>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
<<<<<<< HEAD
              <li class="active" aria-current="page">{{ part.title }}</li>
            {%- else -%}
              <li>{{ part.title }}</li>
=======
              <li class="active" aria-current="page">
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
            {%- else -%}
              <li>
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
<<<<<<< HEAD
            <a class="next" href="{{ paginate.next.url }}">Next</a>
          </li>
        {%- else -%}
          <li class="disabled"></li>
=======
            <a class="next" href="{{ paginate.next.url }}">
              Next <span class="visuallyhidden">page</span>

            </a>
          </li>
        {%- else -%}
          <li class="disabled">
           
          </li>
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
        {%- endif -%}
      </ol>
    </nav>
  {%- endif -%}
{%- endpaginate -%}

<<<<<<< HEAD

<style>
  nav.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .pagination li {
    margin: 0 5px;
    text-align: center;
  }

  .pagination li a,
  .pagination li.active {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 20px;
    text-decoration: none;
  }

  .pagination li.active {
    background-color: var(--blue);
    border-color: var(--blue);
    color: #fff;
    min-width: 50px;
  }

  .pagination li a.next,
  .pagination li a.prv {
    transition: background-color 0.3s ease;
  }

  .pagination li a.next:hover,
  .pagination li a.prv:hover {
    background-color: #ddd;
  }

  @media only screen and (max-width: 768px) {
    .prv {
      display: none !important;
    }
  }

  @media only screen and (max-width: 365px) {
    .pagination li {
      margin: 0 2px;
=======
<style>
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
  .pagination li:before{

    content: '/';
  

  }
  .pagination li:first-child:before{
  	content: '';
  }
   .pagination li:nth-child(2):before{
  	content: '';
  }
.pagination li {
  display: inline; 
  margin: 0 5px;
}
.pagination li.active {
    font-size: 20px;
}
.pagination li a{
	color: #222;
}
@media only screen and (max-width: 650px){
	.prv{
		display: none !important;
	}
}
  @media only screen and (max-width: 365px){
    .pagination li{
    	margin: 0 2px;
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
    }
  }
</style>
