{% assign tags = "" %}
{% assign filters = blog.metafields.filters_data | json %}

<script>console.log("filters {{filters}}");</script>

{% for tag_group in filters %}
  <script>console.log("tag group {{tag_group}}");</script>
  {% for tag in tag_group%}
    {% assign tags = tags | append: tag %}
  {% endfor %}
{% endfor %}
<script>console.log("tags {{tags}}");</script>


<div class="blog-cat">
  <ul class="advanced-filters">
    <li class="button advanced-filter12"><a href=""> All</a></li>
    {% for tag in blog.metafields.filters_data %}
      {% if current_tags contains tag %}
        <li class="advanced-filter12 active-filter" style="float:left; list-style:none; margin:15px;" data-group="{{ cat_item }}" data-handle="/tagged/{{ tag | handle }}">{{ tag | remove_first: cat_item | remove_first: '_' | link_to_remove_tag: tag }}</li>
      {% else %}
        <li class="advanced-filter12" style="float:left; list-style:none; margin:15px; " data-group="{{ blog.handle }}" data-handle="/tagged/{{ tag }}"> {{ tag | link_to_tag: tag }} </li>
      {% endif %}
    {% endfor %}
    </ul>
</div>
