<a href="{{ button_url }}" {% if button_is_new_tab %}target="_blank"{% endif %}>
  <button id="{{ button_id }}" class="md:w-full flex justify-center gap-4 {% if alignment == 'center' %}m-auto{% endif %}">
    {{ button_text }}
    {% if button_icon != blank %}<i class="{{ button_icon }}"></i>{% endif %}
  </button>
</a>

<style>
{% if button_style == 'outline' %}
  section.text-image-{{ section_id }} button#{{ block.id }} {
    background: transparent;
    border: 1px solid {{ button_text_color }};
    border-color: {{ button_text_color }};
    border-radius: 0;
    color: {{ button_text_color }};
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 200ms ease-in-out;
  }

  section.text-image-{{ section_id }} button#{{ block.id }}:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: {{ button_text_color }};
    z-index: -1;
    transition: width 200ms ease-in-out;
  }

  section.text-image-{{ section_id }} button#{{ block.id }}:hover {
    color: #fff;
  }

  section.text-image-{{ section_id }} button#{{ block.id }}:hover:after {
    width: 110%;
  }
{% else %}
  section.text-image-{{ section_id }} button#{{ block.id }} {
    background-color: {{ button_bg_color }};
    color: {{ button_text_color }};
  }
{% endif %}
</style>