<div class="cart-toolbar" id="side-cart">
  <div class="top-info">
    <div class="title">
      <h3>Cart</h3>
      <button type="button" class="close-cart" data-fancybox-close><span class="icon-close"></span></button>
    </div>
  </div>
  <div class="content">
    <div class="added-products">
      {% if cart.item_count > 0 %}
      <ul>
        {% for item in cart.items %}
        <li>
          <div class="img-wrap">
            <a href="javascript:void(0)">
              <img src="{{ item | image_url }}" alt="{{ item.title | escape }}" width="120px" height="130px" loading="lazy">
            </a>
          </div>
          <div class="data">
            <div class="info-card">
              <div class="name">
                <h4><a href="{{item.product.url}}">{% if item.product.metafields.my_fields.alternative_title.value %}
                {{ item.product.metafields.my_fields.alternative_title.value }}
                {% else %}
                {{ item.product.title }}
                {% endif %}
              </a></h4>
                <div class="price">
                  <p>{{ item.price | money_with_currency | replace: ".00", "" }}</p>
                </div>
              </div>

              <div class="qty-control">
                <a class="decrease-quantity-drawer" href="javascript:void(0)" onclick="updateQuantity($(this).parent().find('input'), -1)" data-act="-" cart-type="drawer"><span class="icon-minus"></span></a>
                <label>
                  <input type="number" name="quantity[]" value="{{item.quantity}}" item-var-id="{{item.variant_id}}" currency="{{cart.currency.symbol}}" currency-code="{{cart.currency.iso_code}}" cart-type="drawer" title="{{item.product.title}}" prod-id="{{item.product.selected_or_first_available_variant.sku}}" price="{{item.product.selected_or_first_available_variant.price | money_without_currency}}">
                </label>
                <a class="increase-quantity-drawer" href="javascript:void(0)" onclick="updateQuantity($(this).parent().find('input'), 1)" data-act="+"><span class="icon-plus"></span></a>
              </div>
              <div class="delete-card">
                <button type="button" onclick="updateQuantity($(this).parent().parent().find('input'), 0 - $(this).parent().parent().find('input').val())" data-price ="{{ item.original_price | money_without_currency }}" data-title="{{ item.product.title }}" data-id="{{item.product.selected_or_first_available_variant.sku}}" data-quantity="{{ item.quantity }}" data-discount="{% if item.product.compare_at_price > item.product.price %}{{ item.product.compare_at_price | minus: item.product.price | times: 0.01 }}{% else %}0{% endif %}"><i class="icon-close"></i><span>Remove</span></button>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="bottom-info">
    <div class="summary">
      <h4>Subtotal</h4>
      <p class="cstm_pric">{{ cart.total_price | money_with_currency | replace: ".00", "" }}</p>
    </div>
    <div class="btn">
      {% if cart.item_count > 0 %}
      <a href="/checkout/" class="plc_order main-btn orange">Place your order</a>
      {% else %}
      <a href="/collections/all" class="main-btn orange">Place your order</a>
      {% endif %}
    </div>
  </div>
</div>