{% for item in checkout.line_items %}
  <div id="bundle-details-{{ forloop.index }}" class="bundle-details">
    {% if item.product.tags contains 'supplement' %}
      {% assign var_bundle_products = item.variant.metafields.custom.bundle_products %}
    {% else %}
      {% assign var_bundle_products = item.product.metafields.custom.bundle-products %}
    {% endif %}

    {% for item_prod in var_bundle_products %}
      {% assign prod_id = item_prod | split: "/" | last %}

      <script>console.log("prod-id {{ prod_id }}")</script>

      {% for bundle_prod in bundle_products %}
        {% assign bundle_prod_id = bundle_prod | split: ":" | first %}
        {% assign bundle_prod_name = bundle_prod | split: ":" | last %}

        {% if bundle_prod_id == prod_id %}
          {% if item.product.handle == 'curalin-bogo' %}
            <p>‣ Curalin<span>X{{ item.variant.metafields.my_fields.pack_bottles_quantity }}</span></p>
            <p>‣ {{ item.variant.title | split: ' / ' | last }}<span>X1</span></p>
          {% else %}
            <p>‣ {{ bundle_prod_name }}<span>X{{ item.variant.metafields.my_fields.pack_bottles_quantity }}</span></p>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <script>
    let bundleDetails{{ forloop.index }} = $('#bundle-details-{{ forloop.index }}');
    let lineItem{{ forloop.index }} = $("tbody[data-order-summary-section='line-items'] tr[data-product-id='{{ item.product.id }}']");
    bundleDetails{{ forloop.index }}.insertAfter(lineItem{{ forloop.index }});
    {% if item.variant.metafields.my_fields.pack_bottles_quantity and item.product.handle != 'curalin-bogo' %}
      lineItem{{ forloop.index }}.find('.product-thumbnail__quantity').text("{{ item.variant.metafields.my_fields.pack_bottles_quantity }}");
    {% endif %}
  </script>
{% endfor %}

<style>
  tbody[data-order-summary-section="line-items"] {
    display: table-caption;
  }

  .bundle-details {
    position: relative;
    top: -18px;
  }

  .bundle-details p {
    padding: 4px 0;
    font-size: 12px;
    padding-left: 114px;
    padding-right: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
  }

  {% comment %} .bundle-details::before {
    content: "▼";
    position: absolute;
    top: -20px;
    left: 120px;
  } {% endcomment %}
</style>