{% assign video_ids = article.content | split: "," %}

<section id="collection-exercise-video">
  <img class="exercise-img-swoosh" src="{{ 'video-exercise-swoosh.png' | asset_url }}" width="971" height="671" alt="Swoosh">
  <img class="exercise-img-leaf" src="{{ 'video-exercise-leaf.png' | asset_url }}" width="187" height="184" alt="Swoosh">
  <img class="exercise-img-leaf-mb" src="{{ 'video-exercise-leaf-mb.png' | asset_url }}" width="50" height="49" alt="Swoosh">

  <div class="container">
    <div id="site">
      <div id="player">
        <div class="player">
          <div class="video-title" id="video-title">{{ article.title }}</div>
          <div class="player__video">
            <iframe style="background-color: var(--light-green); padding:0.5em" width="560" height="315" src="https://www.youtube.com/embed/{{ video_ids | first }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="related-videos">Related Videos</div>
        {% for video_id in video_ids %}
          {% if forloop.first %}
            {% continue %}
          {% else %}
            <div class="gallery-item" id="{{ video_id }}">
              <a href="https://curalife.com/blogs/exercise-video/exercise-video-{{ video_id }}">
                <img class="gallery__item__img" src="{{ "https://img.youtube.com/vi/" | append: video_id | append: "/hqdefault.jpg" }}" alt="">
                <span class="gallery__item__span"></span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>

  #collection-exercise-video {
    position: relative;
  }

  .exercise-img-swoosh {
    position: absolute;
    top: 120px;
    right: 0;
  }

  .exercise-img-leaf {
    position: absolute;
    top: 600px;
  }

  .exercise-img-leaf-mb{
    display: none;
  }


  #site {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
  }

  #player {}

  .player {
    margin: auto;

    padding: 1em;
    &__video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .video-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(30px, 3vw, 45px);
    line-height: clamp(30px, 3vw, 45px);
    letter-spacing: -0.01em;
    color: #404733;
    padding-bottom: 1em;
  }



  .gallery {
    max-width: 20%;
    padding-top: 3em;
  }

  .gallery-item a {
    padding-top: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 .75em 0.5em;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;

  }

  .related-videos {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(16px, 2vw, 22px);
    letter-spacing: -0.01em;
    padding: 0em 1em 0.5em;
  }

  .gallery__item__img {
    background: #333333;
    border-radius: 10px;
    margin-bottom: 0.3em;
    padding: 0.3em;
  }



  @media screen and (max-width: 768px) {

  .gallery {
    max-width: unset;
  }

   .exercise-img-swoosh {
     top: 300px;
   }

   .exercise-img-leaf {
    display: none;
   }

   .exercise-img-leaf-mb {
    display: block;
    position: absolute;
    top: 0;
   }

    #site {
      flex-wrap: wrap;


    }

    .video-title {
      font-size: 7vw;
      line-height: 7vw;
      padding-bottom: 0.3em;

    }

    .related-videos {
      padding: unset;
      text-align: center;
    }



    .gallery-item {
      padding: 1em;

    }

    .gallery-item a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .gallery__item__span {
      padding-top: 1em;
    }

  }


</style>


<script>
    let elements = $('.gallery-item');


    elements.each((index, element) => {
      let item_id = element.id;
      let vidurl = `https://www.youtube.com/watch?v=${item_id}`;
      let spanElement = $(element).find('.gallery__item__span')[0];
      fetch(`https://noembed.com/embed?dataType=json&url=${vidurl}`)
        .then(res => res.json())
        .then(data => {
          $(spanElement).text(data.title);
          console.log(data.title);
        });
    });
</script>



