
{% assign array = article.content | split: "|" %}
{% assign dayNumber = array[0] %}
{% assign daySmallPicture = array[1] | append: ".png" %} 
{% assign dayTip = array[2] %}
{% assign dayTip2 = array[3] %}
{% assign articleURL = "/blogs/blog/" | append: array[4] %}
{% comment %} articles[array[4]].image.src | image_url {% endcomment %}
<div class="day-template">
    <div class="container">
        <div class="day-title">
            Habit Day {{ dayNumber  }}
        </div>
    </div>
</div>

<div class="tip-picture">  
   <div class="container">
    <img class="tip-bg-img" src="{{ 'tiphub-curalin-tips.png' | asset_url }}"  alt="">  
    <div class="day-tips">
        <div class="image-day">
            <img src="{{ daySmallPicture | file_url }}" width="114" height="104" alt="">
        </div>
        <div class="text-day">
            <div class="day-title-tip">Curalin Tips</div>
            <div class="day-tip-text">{{ dayTip }}</div>
        </div>

    </div>
   </div> 
</div>
<div class="tip-blog">
    <div class="container">
        <div class="related-tip">
            <div class="related-article">
                <div class="related-title">Tip of the day</div>
                <div class="border-day"></div>
                <div class="related-text">{{ dayTip2 }}</div>
                <div class="article-from-blog">
                    <img class="swoosh-article" src="{{ 'related-article-swoosh.png' | asset_url }}" width="180" height="176" alt="">
                    <div class="blog-title">Related Article</div>
                    <a href="{{ articleURL }}" class="link-to-article">
                        {% assign articleHandle = "blog/" | append: array[4] %}
                        {% assign articleObject = articles[articleHandle] %}
                        <img src="{{ articleObject.image.src | image_url }}" alt="">
                        <div class="article-title">{{ articleObject.title  }}</div>
                    </a>
                    <a href="{{ articleURL }}" class="download-main-btn-link">Read More</a>
                </div>
            </div>
            <div class="related-picture"><img  src="{{ article.image.src | image_url }}"  alt="">  </div>
        </div>
    </div>
</div>

 <style>
    .day-template .container .day-title{
        padding: 20px 0;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.03em;
        color: #5E8F8F;
        text-align: left;
    }

 
    .tip-picture {
        position: relative;
        background: #FFE17D;
        
    }
    .tip-bg-img {
        position: absolute;
        top: -50px;
        right: 0;
    }

    .image-day {
        display: flex;
        align-items: center;
        max-width: 15%;
    }

    .text-day {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .day-tips {
        padding: 5px 0 10px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .image-day {
        max-width: 15%;
    }

    .day-title-tip {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        color: #424733;      
    }

    .day-tip-text {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
    }

    .related-tip {
        padding: 5% 0;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
    }

    .related-article {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    .related-picture {
        max-width: 50%;
    }
    .related-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
    }

    .border-day {
        padding-top: 10px;
        max-width: 40%;
        border-bottom: 1px solid #424733;
    }

    .related-text {
        padding-top: 10px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }

    .blog-title {
        padding: 20px 0;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 34px;
        line-height: 44px;
    }

    .article-from-blog {
        position: relative;
    }

    .swoosh-article {
        max-width: 100px;
        position: absolute;
        right: -75px;
        top: 7px
    }



    .article-title {
        padding: 20px 0;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 24px;   
        
    }

    .download-main-btn-link {
      display: flex;
      justify-content: center;
      font-family: 'PP Radio Grotesk';
      font-weight: 400; 
      color: white;
      background: var(--dark-green);
      align-items: center;
      padding: 10px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
      font-weight: 300;
      font-size: clamp(20px, 2vw, 30px);
      border-color: var(--dark-green);
      border-radius: 4px;
    }

    @media screen and (max-width: 768px) {
        .day-template .container .day-title {
            font-size: 7vw;
            line-height: 7vw;
        }

        .day-title-tip {
            font-size: 4vw;
            line-height: 4vw;
        }

        .day-tips {
            padding: 3vw 6vw;
            gap: 20px;
        }

        .day-tip-text {
            font-size: 4vw;
            line-height: 4vw;
        }

        .tip-bg-img {
            width: 15vw;
            top: -7vw;
            right: 2vw;
        }

        .related-article {
            max-width: unset;
        }

        .related-picture {
            display: none;
        }
        .related-title {
            font-size: 7vw;
            line-height: 7vw;
        }

        .related-text {
            font-size: 5vw;
            line-height: 5vw;
        }

        .blog-title {
            font-size: 5vw;
            line-height: 5vw;
        }

        .swoosh-article {
            right: 0;
            top: -60px;
            max-width: 20vw;
            z-index: -1;
        }

        .article-title {
        
            font-size: 4vw;   

        }
    }

  

    @media screen and (max-width: 500px) {
        .download-main-btn-link {
            margin-bottom: 2vw;
        }

        .swoosh-article {
            top: -28px;
        }
    }

    @media screen and (max-width: 425px) {
       
    }
 </style>
