<section id="new-featured-prods">
    <div class="container">
      <h2>Featured Curalin Bundles</h2>
    <a class="link-to-collection" href="{{ ctaButtonLink }}">Shop All</a>

    <div class="featured-products-new">
      <div class="products-slider featured">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for prod in collections['curalin-related-products'].products %}
              {% if prod.title != "Curalin" %}
                <div class="swiper-slide">
                  <a href="{{ prod.url }}">
                    <div class="products">
                      <img style="background-color: {{ prod.metafields.custom.bg_color }}; border-radius: 25px;" src="{{ prod.featured_image | image_url }}" width="303" height="302" alt="">
                      <h5>{{ prod.title }}</h5>
                      <small class="quoted-text">{{ prod.metafields.custom.short_definition }}</small>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          {% comment %} <div class="slider-control">
            <div class="prev-slide2"><span><</span></div>
            <div class="next-slide2"><span>></span></div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #new-featured-prods h2 {
    display: inline-block;
  }

  #new-featured-prods .link-to-collection {
    text-decoration-line: underline;
  }

  #new-featured-prods .products {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (max-width: 768px) {
    #new-featured-prods h2 {
      display: block;
    }

    #new-featured-prods .link-to-collection {
        font-size: 5vw;
        line-height: 26px;
    }

    #new-featured-prods .featured-products-new {
        width: 100%;
    }
  }
</style>

<script>
  const quoteSliderNew = new Swiper(".products-slider.featured .swiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    grabCursor: true,
    loop: true,
    loopedSlides: 4,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      768: {
        slidesPerView: 3
      },
      992: {
        slidesPerView: 4
      }
    }
  });
</script>