<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<section class="video-reviews-section">
  <div class="container">
    <h2>{{ maintitle }}</h2>
    <div class="video-reviews swiper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe src="https://player.vimeo.com/video/662207384?h=d512ec6cd1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="C - Jo R Testimonial"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="quote-content">From the first bottle it has been amazing. I feel rewarded for my hard work</p>
              <p class="quote-author">Jo R.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe src="https://player.vimeo.com/video/770733369?h=fd73eeaa72&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="compliant_-_d&#039;gaye_curalin_testimonial (1080p).mp4"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="quote-content">CuraLin sounded too good to be true. But it works. Oh man, it works.</p>
              <p class="quote-author">D’Gaye</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe src="https://player.vimeo.com/video/770743565?h=f39297466f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="compliant_-_Denise_CuraLin_Testimony.mp4"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="quote-content">Curalin has really helped me. It’s a wonderful tool in my toolbox</p>
              <p class="quote-author">Denise R.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe src="https://player.vimeo.com/video/662208879?h=2a85cd00e8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="C - Sherry L Testimonial"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="quote-content">I thought ‘well, let’s give it a try'. And I did. And I was amazed. My doctor was totally amazed.</p>
              <p class="quote-author">Sherry L.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<style>
  .video-reviews-section .container .video-reviews {
      overflow: visible;
      max-width: 70%
  }

  .video-reviews-section .container .video-reviews .swiper-slide .video-review {
      display: flex;
      align-items: center
  }

  .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-video {
      width: 60%;
      margin-left: 10%;
      height: 500px
  }

  .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-video iframe {
      width: 100% !important;
      height: 100% !important
  }

  .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote {
      padding: 50px;
      width: 50%;
      font-size: 22px;
      position: relative
  }

  .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote img {
      opacity: .1;
      width: 70px;
      position: absolute;
      left: 50px
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote .quote-author {
      font-size: 18px;
      margin-bottom: 0
  }

  @media screen and (max-width: 768px) {

   .video-reviews-section {
      background-color: #f0f0f0
  }

   .video-reviews-section .container .video-reviews {
      max-width: unset;
      margin-top: 30px
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review {
      flex-direction: column;
      max-width: 80%;
      margin: auto;
      text-align: center
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-video {
      width: unset;
      margin-left: unset;
      height: 300px;
      margin-bottom: 10px
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote {
      padding: unset;
      width: 100%;
      font-size: 16px
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote img {
      width: 40px;
      left: -10px;
      top: 0
  }

   .video-reviews-section .container .video-reviews .swiper-slide .video-review .review-quote .quote-author {
      font-size: 14px
  }

  }
</style>

<script>
  videoReviewsSliderAllInOne = new Swiper('.video-reviews-section .swiper', {
      slidesPerView: 'auto',
      spaceBetween: 8,
      centeredSlides: true,
      grabCursor: true,
      slideToClickedSlide: true,
      loop: false,
      navigation: {
          nextEl: '.video-reviews-section .swiper-button-next',
          prevEl: '.video-reviews-section .swiper-button-prev',
          disabledClass: 'disabled'
      }
  });
</script>

<style>
  .swiper-button-prev,
   .swiper-button-next {
      color: grey;
      transition: opacity .5s
  }

  .video-reviews-section {
    padding: 50px 0;
  }

  .video-reviews-section h2 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
color: {% if isSecondLP %} var(--dark-green){% endif %};
  }

  .video-reviews-section .video-reviews {
    overflow: visible;
    max-width: 70%;
  }

  .video-reviews-section .swiper-button-prev, .video-reviews-section .swiper-button-next {
    color: grey;
    transition: opacity .5s;
  }

  .video-reviews-section .swiper-button-prev.disabled, .video-reviews-section .swiper-button-next.disabled {
    opacity: 0;
  }

  .video-reviews-section .swiper-button-prev::after, .video-reviews-section .swiper-button-next::after {
    font-size: 28px;
  }

  .video-reviews-section .video-reviews .video-review {
    display: flex;
    align-items: center;
  }

  .video-reviews-section .video-reviews .video-review .review-video {
    width: 40%;
    margin-left: 10%;
    height: 500px;
  }

  .video-reviews-section .video-reviews .video-review .review-video iframe {
    width: 100% !important;
    height: 100% !important;
  }

  .video-reviews-section .video-reviews .video-review .review-quote {
    padding: 50px;
    width: 50%;
    font-size: 22px;
    position: relative;
  }

  .video-reviews-section .video-reviews .video-review .review-quote img {
    opacity: .1;
    width: 70px;
    position: absolute;
    left: 50px;
  }

  .video-reviews-section .video-reviews .video-review .review-quote .quote-author {
    font-size: 18px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .video-reviews-section {
      background-color: #f0f0f0;
      padding: 8vw 0;
    }

    .video-reviews-section h2 {
      font-size: 6vw;
      text-align: center;
      max-width: unset;
      margin-bottom: 10px;
    }

    .video-reviews-section .video-reviews {
      max-width: unset;
      margin-top: 30px;
    }

    .video-reviews-section .video-reviews .video-review {
      flex-direction: column;
      max-width: 80%;
      margin: auto;
      text-align: center;
    }

    .video-reviews-section .video-reviews .video-review .review-video {
      width: unset;
      margin-left: unset;
      height: 300px;
      margin-bottom: 10px;
    }

    .video-reviews-section .video-reviews .video-review .review-quote {
      padding: unset;
      width: 100%;
      font-size: 16px;
    }

    .video-reviews-section .video-reviews .video-review .review-quote img {
      width: 40px;
      left: -10px;
      top: 0px;
    }

    .video-reviews-section .video-reviews .video-review .review-quote .quote-author {
      font-size: 14px;
    }
  }
</style>

