<section class="ingredients-badges-section">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h2>All Natural Ingredients</h2>
                <div class="description-overlay">
                    <h4>Support your body without chemicals or synthetics</h4>
                </div>
            </div>
            <div class="ingredients-badges-section_mainpanel">
                <div class="ingredients_mainpanel-img">
                    <img src="{{ 'lp-aio-capsula.png' | file_url }}" width="676px" height="203px" alt="">
                    <div class="ingredients_mainpanel-img_notice">*consult your doctor before taking CuraLin</div>
                </div>
                <div class="ingredients-mainpanel">
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-doctor1.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Doctor approved</p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-medicans2.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Safe to take with medications*</p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card no-mb">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-list.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Independent quality checks</p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-usa_flag.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Encapsulated in the USA </p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-search.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Uses registered facilities</p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-vegan.svg' | file_url }}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>Vegan friendly</p>
                        </div>
                    </div>
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ 'lp-aio-gmp.png' | file_url}}" height="59px" width="58px" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>GMP and ISO9001 Certified facilities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .ingredients-badges-section {
        position: relative;
        width: 100%;
        max-width: 100%;
        padding-bottom: 3.3125rem;
        padding-top: 4.9375rem;
        text-align: center;
    }

    .ingredients-badges-section .sub-title {
        text-align: center;
    }

    .ingredients-badges-section .description-overlay {
        margin-left: auto;
        margin-right: auto;
    }

    .ingredients-badges-section .description-overlay h4 {
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 1.45;
    }

    .ingredients-badges-section .ingredients-badges-section_mainpanel {
        display: flex;
        position: relative;
        margin-top: 0.2875rem;
    }

    .ingredients-badges-section .ingredients_mainpanel-img {
        max-width: 41.875rem;
        width: 48.9%;
        margin-top: 7.25rem;
    }

    .ingredients-badges-section .ingredients_mainpanel-img img {
        object-fit: contain;
    }

    .ingredients-badges-section .ingredients_mainpanel-img_notice {
        font-weight: 300;
        font-size: 1.0625rem;
        margin-top: 6.375rem;
        padding-left: 2.4375rem;
        text-align: left;
    }

    .ingredients-badges-section .ingredients-mainpanel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 3.8125rem -0.625rem 0 -2.6875rem;
        padding-top: 1.375rem;
        width: calc(51.1% + 53px);
    }

    .ingredients-badges-section .ingredients-mainpanel_card {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.625rem 0.1875rem;
        width: 25%;
        margin-bottom: 0.9375rem;
    }

    .ingredients-badges-section .card-icon_overlay {
        max-width: 5.3125rem;
        width: 100%;
        border-radius: 50%;
        border: 1px solid #000000;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .ingredients-badges-section .card-icon_overlay:before {
        content: "";
        display: block;
        padding-bottom: 100%;
        pointer-events: none;
    }

    .ingredients-badges-section .card-icon_overlay .card-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .ingredients-badges-section .card-icon_overlay .card-icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .ingredients-badges-section .card-description p {
        font-size: 1.1875rem;
        line-height: 1.1;
        text-align: center;
        color: #000;
        margin-top: 1.3125rem;
    }

    .ingredients-mainpanel_card p {
        margin: 0;
    }

    .ingredients-badges-section .ingredients-badges-section_mainpanel:after {
        content: "";
        position: absolute;
        left: -12.75rem;
        top: -2.75rem;
        background-image: url('{{ "lp-aio-natural-ingredients_back.png" | file_url }}');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        max-width: 53.3125rem;
        width: 100%;
        height: 31.75rem;
        z-index: -1;
    }

    @media screen and (max-width: 760px) {
        .ingredients-badges-section .sub-title h4 {
            font-size: 1.0625rem;
            text-align: center;
        }

        .ingredients-badges-section .ingredients-badges-section_mainpanel:after {
            display: none;
        }

        .ingredients-badges-section_mainpanel {
            flex-wrap: wrap;
        }

        .ingredients-badges-section .ingredients_mainpanel-img {
            margin: 1.5rem -3.125rem 0 -0.4375rem;
            width: calc(100% + 3.5625rem);
        }

        .ingredients-badges-section .ingredients_mainpanel-img_notice {
            font-size: .5rem;
            margin-top: 1.5625rem;
            padding-left: 0.5625rem;
        }

        .ingredients-badges-section .ingredients-mainpanel {
            margin: 0 -15px;
            padding-top: 1.375rem;
            width: calc(100% + 1.875rem);
        }

        .ingredients-badges-section .ingredients-mainpanel_card {
            padding: 0.875rem 0.1875rem;
            width: 33%;
        }

        .ingredients-badges-section .ingredients-mainpanel_card.no-mb {
            display: none;
        }

        .ingredients-badges-section .card-icon_overlay {
            width: 15vw;
        }

        .ingredients-badges-section .card-description p {
            font-size: .75rem;
            margin-top: 0.5rem;
        }

        .trusted-doctors .sub-titles h2 b {
            font-size: 8vw;
        }
    }
</style>