
<section id="hero-section">
    <div class="container">
        <div class="hero-title">Nature. Science. Technology.
            <div class="white-border"></div>
            <div class="hero-text">
                In nature we find answers to health challenges. <br>
                We develop powerful, scientifically proven nutraceuticals. <br>
                Through smart technologies, we create personalized health journeys.
            </div>
            <div class="learn-more">
            <a class="cta" href="#"><button>Learn More</button></a></div>
        </div>
        
        <div class="diamonds">
            <img class="diamond animate__animated animate__fadeIn animate__delay-1s" src="{{ 'partnership-hero-section-decoration-1.png' | asset_url }}" alt="">
            <img class="diamond animate__animated animate__fadeIn animate__delay-2s" src="{{ 'partnership-hero-section-decoration-2.png' | asset_url }}" alt="">
            <img class="diamond animate__animated animate__fadeIn animate__delay-3s" src="{{ 'partnership-hero-section-decoration-3.png' | asset_url }}" alt="">
            <img class="diamond animate__animated animate__fadeIn animate__delay-4s" src="{{ 'partnership-hero-section-decoration-4.png' | asset_url }}" alt="">
        </div>
    </div>
</section>

<style>
    #hero-section {
        background-image: url("{{ 'partnership-hero-background-image.png' | asset_url }}");
        background-size: cover;
        overflow: hidden;
        background-position: right;
        background-position-x: calc(100% + 20);
    }

    .hero-title {
        font-family: RadioGrotesk;
        letter-spacing: 2px;
        min-width: 80vw;
        font-weight: 700;
        font-size: 80px;
        line-height: 96px;
        color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        position: relative;
    }

    .diamond {
        position: absolute;
        right: -400px;
        bottom: -110px;
    }

    .white-border {
        border-bottom: 5px solid #FFFFFF;
        padding-top: 5%;
        max-width: 20%;
    }

    .hero-text {
        font-family: RadioGrotesk;
        letter-spacing: 2px;
        padding-top: 35px;
        max-width: 80vw;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.9);
    }

    .learn-more {
        margin-top: 6vw;
        min-width: 90vw;
    }


    @media screen and (max-width: 790px) {
        .hero-content {
            flex-wrap: wrap;
            flex-direction: column;

        }
        .hero-title {
            font-size: 20px;
            line-height: 24px;
        }

        .white-border {
            display: none;
        }

        .hero-text {
            padding-top: 6vw;
            max-width: unset;
            min-width: 90vw;
            font-size: 16px;
            line-height: 22px;
        }

        .diamond {
            right: -90vw;
            bottom: -30vw;
            max-width: unset;
            width: 200vw;
        }
    }
</style>