<div class="person-card">
  <div class="top-wrapper flex items-center">
    <img class="rounded-full" src="{{ person_img_src | image_url }}" alt="{{ person_name }}" loading="lazy">
    <div class="person-info">
      <h5>{{ person_name }}</h5>
      {% if person_link != blank %}
        <p>{{ person_link }}</p>
      {% endif %}
    </div>
  </div>
  <p>{{ person_description }}</p>
</div>

<style>
  .person-card {
    background-color: {{ bg_color }};
  }
</style>