<div class="person-card">
  <div class="top-wrapper flex items-center gap-8 pb-[30px]">
    <img class="rounded-full w-[200px] m-0 mt-[-60px]" src="{{ person_img_src | image_url }}" alt="{{ person_name }}" loading="lazy">
    <div class="person-info">
      <h5>{{ person_name }}</h5>
      {% if person_link != blank %}
        <p>{{ person_link }}</p>
      {% endif %}
    </div>
  </div>
  <p>{{ person_description }}</p>
</div>

<style>
  .person-card {
    background-color: {{ card_bg_color }};
    width: 580px;
    padding: 20px;
  }
</style>