<section class="cta-section cta-section-{{ section.id }}" id="cta-section-anchor">
  <div class="product-container container">
    <div class="product-image-wrapper">
      {% if isThumbsVertical %}
        {% render 'product-cta-section-gallery-new', isThumbsVertical: isThumbsVertical, isHideThumbs: isHideThumbs, badgeImage: badgeImage, blocks: blocks, product: product, isSaveTitle: isSaveTitle %}
      {% else %}
        {% render 'product-cta-section-gallery', isCuralinContent: isCuralinContent, product: product, isSaveTitle: isSaveTitle %}
      {% endif %}
    </div>

    <div class="product-info">
      <h1 class="m-0">{% if mainTitle != blank %}{{ mainTitle }}{% elsif product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% else %}{{ product.title }}{% endif %}</h1>

      {% if isReviews %}
        {% render 'product-cta-section-reviews', isReviewsQuotes: isReviewsQuotes %}
      {% endif %}
    </div>

    {% if badgesPosition == "cta" %}
      {% if request.path contains 'subscription' %}
        {% render 'product-cta-section-actions-subscription', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, blocks: blocks, ctaColor: ctaColor, title: 'Select Your Deal:', isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, challenge_value: challenge_value, curaeats_value: curaeats_value, isRetention: isRetention, isBuyWithPrime: isBuyWithPrime %}
      {% else %}
        {% render 'product-cta-section-actions', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, badgesContent: badgesContent, ctaColor: ctaColor, title: title, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, challenge_value: challenge_value, curaeats_value: curaeats_value, isRetention: isRetention, isBuyWithPrime: isBuyWithPrime %}
      {% endif %}
    {% else %}
      {% render 'product-cta-section-actions', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, ctaColor: ctaColor, title: title, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, challenge_value: challenge_value, curaeats_value: curaeats_value, isBuyWithPrime: isBuyWithPrime %}
    {% endif %}

    {% if badgesPosition == "bottom" or request.path contains 'subscription' %}
      {% assign badgesContent = 'free-shipping,money-back,secure-checkout' %}
      {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c" %}
    {% endif %}
  </div>
</section>

<style>
  .cta-section-{{ section.id }} {
    background: {{ bgColor }};
  }

  .cta-section-{{ section.id }} .product-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 50px;
    grid-row-gap: 0;
    {% if bottomLineColor != blank %}
      border-bottom: 1px solid {{ bottomLineColor }};
    {% endif %}
  }

  .cta-section-{{ section.id }} .product-image-wrapper {
    grid-row: 1/3;
    position: relative;
  }

  .cta-section-{{ section.id }} .product-container .product-info {
    padding: unset;s
    width: unset;
    max-width: 450px;
    grid-area: 1/2/2/3;
  }

  .container.line {
    margin-top: -50px;
  }

  .multiplier {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background: {{ multiplaerColor }};
    padding: 0px 15px;
    border-radius: 40px;
    color: {{ multiplierTextColor }};
    font-weight: bold;
    font-size: 28px;
    z-index: 1;
  }

  @media screen and (max-width: 1270px) {
    .container {
      max-width: unset;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .cta-section-{{ section.id }} {
      padding-top: 0;
    }

    .cta-section-{{ section.id }} .container {
      padding: 0 20px !important;
    }

    .cta-section-{{ section.id }} .product-image-wrapper {
      grid-row: unset;
    }

    .cta-section-{{ section.id }} .product-container {
      grid-template-columns: repeat(1, 100%) !important;
      grid-template-rows: unset;
    }

    .cta-section-{{ section.id }} .product-container .product-info {
      grid-area: unset;
      grid-row: 1;
      text-align: center;
      padding: 0 20px;
      max-width: unset;
      padding-bottom: 5vw;
    }

    .multiplier {
      font-size: 7vw !important;
      right: 13vw;
      bottom: 7vw;
    }
  }
</style>
