<section id="faq-section-{{ section.id }}" class="faq-section">
  <div class="container">
    <div class="top-wrapper flex justify-between">
      <h2>{{ title }}</h2>

      {% if main_image %}
        <img src="{{ main_image.src | image_url }}" alt="FAQ"/>
      {% endif %}
    </div>

    <div class="faq">
      {% if product.metafields.custom.faq.value %}
        {% for productFAQItem in product.metafields.custom.faq.value %}
          <div class="faq-item">
            <h5 class="question">{{ productFAQItem.question }}</h5>
            <div class="answer"><p>{{ productFAQItem.answer }}</p></div>
          </div>
        {% endfor %}
      {% elsif collection.metafields.custom.faq.value %}
        {% for collectionFAQItem in collection.metafields.custom.faq.value %}
          <div class="faq-item">
            <h5 class="question">{{ collectionFAQItem.question }}</h5>
            <div class="answer"><p>{{ collectionFAQItem.answer }}</p></div>
          </div>
        {% endfor %}
      {% else %}
        {% for textFAQItem in faqItems %}
          <div class="faq-item">
            <h5 class="question">{{ textFAQItem | split: ":" | first }}</h5>

            <div class="answer">
              <p>{{ textFAQItem | split: ":" | last }}</p>

              {% if textFAQItem contains 'How does each ingredient work' %}
                {% render 'product-all-in-one-ingredients-section' %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

<style>
  {% if bgColor %}
    #faq-section-{{ section.id }} {
      background-color: {{ bgColor }};
    }
  {% endif %}

  .faq-section .top-wrapper img {
    margin: unset;
  }

  .faq-section .faq {
    margin: 1rem auto;
  }

  .faq-section .faq .faq-item {
    border-bottom: 1px solid var(--dark-green);
  }

  .faq-section .faq .faq-item:last-child {
    border-bottom: none;
  }

  .faq-section .faq .faq-item .question {
    padding: 1rem 3rem 1rem 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .faq-section .faq .faq-item .question p {
    margin: unset;
  }

  .faq-section .faq .faq-item .question:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s;
  }

  .faq-section .faq .faq-item .question.active:after {
    content: "+";
    transform: rotate(45deg);
  }

  .faq-section .faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
  }

  .faq-section .faq .faq-item .answer p {
    padding: 0 1rem 1rem;
  }

  .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
  }

  .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
  }

  .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem;
  }

  .swiper-nav {
    color: grey;
    width: 10px;
    top: 150px;
  }

  @media screen and (max-width:768px) {
    .faq-section .faq .faq-item .question {
      font-size: 5vw;
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider {
      padding: 0
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .swiper-nav {
      top: 120px
    }

    .faq-section .swiper-slide {
      overflow: scroll;
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%;
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset;
    }

    .faq-section .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0;
    }
  }
</style>

<script>
  let accordionItemHeadersObject = document.querySelectorAll(".question");

  accordionItemHeadersObject.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {
      {% if isAllowOneOpen %}
        let currentlyActiveAccordionItemHeader = document.querySelector(".question.active");
        if (currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
          currentlyActiveAccordionItemHeader.classList.toggle("active");
          currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
        }
      {% endif %}

      accordionItemHeader.classList.toggle("active");
      let accordionItemBody = accordionItemHeader.nextElementSibling;
      if (accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      }
      else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });

  {% if is_ingredients_feature %}
    faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
      slidesPerView: 1,
      spaceBetween: 15,
      watchSlidesVisibility: false,
      loop: false,
      autoHeight: true,
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.faq-section .swiper-button-next',
        prevEl: '.faq-section .swiper-button-prev',
        disabledClass: 'disabled'
      }
    });
  {% endif %}

  // Open FAQ
  $('.question').click(function() {
    woopra.track('Open FAQ', {
      question_display_text: $(this).text(),
      question_order:  $(this).parents('.faq-item').index() + 1
    })
  });
</script>

