{% assign variantQuantity = product.variants | size %}
{% assign tooltipTitle = "Curalin's Subscription Is Simple." %}
{% assign tooltipDescription = "Receive your first Curalin a few days after ordering. Then you'll receive new products every 1 month after that initial order." %}
{% assign tooltipFeatures = "Every 4th subscription order is FREE.|Free US shipping on all orders.|Subscriber-only gifts and product drops.|24/7 support." | split: "|" %}

<div class="product-actions">
  <div class="top-wrapper flex justify-between items-center">
    {% if variantQuantity > 1 %}<div class="cta-title font-bold">{{ title }}</div>{% endif %}
    {% render 'tooltip', title: tooltipTitle, description: tooltipDescription, features: tooltipFeatures %}
  </div>

  <div class="purchase-options">
    <div class="purchase-option-box subscription">
      <div class="left-side-wrapper">
        <div class="radio-box">
          <input type="radio" id="subscribe" name="pack" checked="true"></input>
          <label for="subscribe"></label>
        </div>

        <div class="option-info">
          <div class="option-title font-semibold">Subscribe & <span>save 25%</span></div>
          <div class="option-subtitle text-[14px]">Every 4th order FREE = 25% off</div>
        </div>
      </div>

      <div class="price">
        <div class="calculations">
          <div class="compared-at-price rounded line-through text-[12px]">{{ product.variants.first.price | money_without_trailing_zeros }}</div>
          <div class="real-price no-letters rounded">{{ 5625 | money_without_trailing_zeros }}</div>
        </div>

        <p class="per-month">Per Month</p>
      </div>
    </div>

    <div class="purchase-option-box buy-once">
      <div class="left-side-wrapper">
        <div class="radio-box">
          <input type="radio" id="buyonce" name="pack"></input>
          <label for="buyonce"></label>
        </div>

        <div class="option-info">
          <div class="option-title font-semibold">Buy once</div>
          <div class="option-subtitle text-[14px]">One time delivery</div>
        </div>
      </div>

      {% comment %} <div class="price">
        <div class="calculations">
          <div class="compared-at-price"><strike class="no-letters rounded">{{ 75 | money_without_trailing_zeros }}</strike></div>
          <div class="real-price no-letters rounded">{{ 56 | money_without_trailing_zeros }}</div>
        </div>

        <p class="per-month">Per {{ pricePer | capitalize }}</p>
      </div> {% endcomment %}
    </div>
  </div>

  {% if variantQuantity > 1 %}
    <div class="variants" style="max-height:0; overflow:hidden;">
      {% comment %} <div class="cta-title font-bold">Choose Pack</div> {% endcomment %}

      {% for var in product.variants %}
        {% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
        {% assign item_price = var.price | divided_by: bottle_quantity %}
        {% assign save_price = original_item_price | minus: item_price | times: quantity %}

        <div class="pack-option {% if forloop.index == 2 %}selected{% endif %}" data-value="{{ var.id }}" data-quantity="{{ var.metafields.my_fields.pack_bottles_quantity }}" data-price="{{ var.price | money_without_currency | replace: ".00", "" }}" data-title="{{ var.title }}" data-sku="{{ var.sku }}" data-save="{{ save_price }}" data-index="{{ forloop.index }}">
          <div class="thumbnail relative">
            <img src="{{ var.product.metafields.custom.bottle_image | image_url }}" alt="{{ var.title }}">
            {% if bottle_quantity > 1 %}<div class="variant-bottle-quantity">X{{ bottle_quantity }}</div>{% endif %}
            {% if var.metafields.my_fields.subtitle %}<div class="variant-subtitle">{{ var.metafields.my_fields.subtitle }}</div>{% endif %}
          </div>
          <div class="variant-info py-2">
            <div class="variant-price-wrapper flex items-center justify-center gap-1">
              {% if var.compare_at_price > 0 %}<div class="variant-cap text-[12px] rounded line-through">{{ var.compare_at_price | money_without_trailing_zeros }}</div>{% endif %}
              <div class="variant-price font-bold">{{ var.price | money_without_trailing_zeros }}</div>
            </div>
            <div class="variant-title text-[14px]">{{ var.title }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="submit-wrap flex flex-col">
    <button class="main-btn" id="buy-button">SHOP NOW</button>
  </div>
</div>

{% render 'script.round-converted-currency' %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var subscriptionOption = document.querySelector('.subscription .radio-box input[type=radio]');
    var oneTimeOption = document.querySelector('.buy-once .radio-box input[type=radio]');
    var variants = document.querySelector('.variants');

    variants.style.transition = 'max-height 0.15s ease-out';
    variants.style.overflow = 'hidden';
    variants.style.maxHeight = '0';

    var checkOption = function() {
      if (oneTimeOption.checked) {
        variants.style.maxHeight = 'none';
        var scrollHeight = variants.scrollHeight;
        variants.style.maxHeight = '';
        variants.style.maxHeight = scrollHeight + 'px';
      } else if (subscriptionOption.checked) {
        variants.style.maxHeight = '0';
      }
    };

    $(".purchase-option-box").click(function() {
      let radioButton = $(this).find('input');
      radioButton.prop('checked', true);
      checkOption();
    });
  });
</script>

  <script>
    function updateSelectedVariantInformation(infoAttributeName, targetElementToUpdate) {
      let varIndex = $('.pack-option.selected').first().attr(infoAttributeName);

      $(targetElementToUpdate).fadeOut(300, function () {
        varIndex > 1 ? $(targetElementToUpdate).text("X" + varIndex) : $(targetElementToUpdate).text("");
      }).fadeIn(300);
    }

    $(".pack-option").click(function() {
      $(".pack-option").removeClass("selected");
      $(this).addClass("selected");

      {% comment %}
        // Update CTA Button Text
        {% if ctaTextType %}
          let ctaText = "Total " + "{{ cart.currency.symbol }}" + $('.pack-option.selected').first().attr('data-price');

          $("#save").fadeOut(300, function () {
            $(this).text(ctaText);
          }).fadeIn(300);
        {% endif %}
      {% endcomment %}

      // Slide to Variant Image
      {% if product.variants.size > 1 and product.images.size > 1 %}
        let slideIndex = productSliderAllInOne.slides.length - ({{ product.variants.size | plus: 1 }} - $(this).attr('data-index'));
        productSliderAllInOne.slideTo(slideIndex);
      {% endif %}

      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'variant-click',
        'label': $(this).attr('data-sku'),
        'userId': '{{ customer.id }}',
        'email': '{{ customer.email }}',
        'country': '{{customer.customer_address.country_code }}',
        'city': '{{customer.customer_address.city }}',
        'name': '{{ customer.first_name }}',
        'surname': '{{ customer.last_name }}',
        'phone_number': '{{customer.phone }}',
        'state': '{{customer.customer_address.province }}',       //state or province
        'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
      });

      // Track in Woopra
      woopra.track('Product_Variant_Select', {
        sku: $(this).attr("data-sku"),
        variant_id: $(this).attr("value"),
        variant_title: $(this).attr("data-title"),
        price: $(this).attr("data-price")
      })
    });
  </script>

<script>
  function buySubscription(variant_id, qty, selling_plan) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "selling_plan": selling_plan
    }

    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() {
        console.log('success');
        window.location.href = '/checkout';
      }
    });
  });

  // On Buy Button Click
  $(document).on("click", "#buy-button", function () {
    consoleq.log('buy button clicked');
    if ($('.purchase-option-box').find('input:checked').length === 0) {
      let checkedPack = $('.pack-option.selected').first().attr('data-value');
      let checkedQuantity = 1;
      let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
      window.location.href = checkoutLink;
    }
    else {
      buySubscription({{ products.variants.first.id }}, 1, {{ product.selling_plan_groups[0].selling_plans[0].id }});
    }

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',
      ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: $('input[name=pack]:checked').attr('data_sku'),
        affiliation: '{{ shop.name }}',
        price: $('input[name=pack]:checked').attr('data_price'),
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: $(".qty-control input").length ? parseInt($(".qty-control input").val()) : 1
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $('input[name=pack]:checked').attr('data_sku'),
      product_name: '{{ product.title }}',
      product_price: $('input[name=pack]:checked').attr('data_price'),
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });
</script>

<style>
  .radio-box input[type='radio'] {
  display: none;
}

.radio-box label {
  cursor: pointer;
  width: 19px;
  height: 19px;
  border: 1px solid var(--light-green);
  border-radius: 50%;
  position: relative;
}

.radio-box input[type='radio']:checked + label:after {
  content: '\2713';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--light-green);
  text-align: center;
  line-height: 22px;
  color: #fff;
}
</style>


<style>
  .product-actions {
    grid-area: 2/2/3/3;
    max-width: 400px;
    min-height: 415px;
  }

  .product-actions .cta-title {
    padding: 10px 0;
  }

  .product-actions .variants {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .product-actions .submit-wrap {
    display: flex;
  }

  .product-actions .submit-wrap button {
    background-color: {{ ctaColor }};
  }

  .product-actions .submit-wrap:hover button {
    background-color: #ea9f1c;
  }

  .purchase-option-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
    transition: all .5s;
    position: relative;
    border-radius: 10px;
    border-color: var(--light-green);
  }

  .purchase-option-box:hover {
    border-color: var(--dark-green);
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));
  }

  .purchase-option-box:hover>.radio-box input[type=radio]:after {
    background-color: #a9a9a9;
  }

  .purchase-option-box .left-side-wrapper {
    display: flex;
  }

  .purchase-option-box .radio-box {
    align-items: center;
    display: flex;
    padding: 20px;
  }

  .purchase-option-box .option-info {
    padding: 10px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  .purchase-option-box .option-info .option-title span {
    background: var(--light-green);
    color: white;
    border-radius: 10px;
    padding: 0 8px;
  }

  .purchase-option-box .option-info .option-infos p {
    font-weight: 200;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    {% if isHighlightSubtitle %}
      color: white;
      border-radius: 15px;
      padding: 2px 10px;
      background: var(--light-green);
    {% endif %}
  }

  .purchase-option-box .option-info .option-infos p b {
    font-weight: 700;
  }

  .purchase-option-box .price {
    display: flex;
    min-width: 70px;
    margin-right: 10px;
    flex-direction: column;
    align-items: end;
    gap: unset;
  }

  .purchase-option-box .price {

  }

  .purchase-option-box .price p {
    margin: unset;
  }

  .purchase-option-box .price .calculations {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
  }

  .purchase-option-box .price .calculations p::after {
    content: "00";
    font-size: 0.6rem;
    vertical-align: super;
    margin-right: 5px;
  }

  .purchase-option-box .price .calculations p.compared-at-price::after {
    font-size: 0.3rem;
  }

  .purchase-option-box .price .per-month {
    color: var(--grey);
    font-size: 16px;
  }

  .purchase-option-box .price .real-price {
    font-size: 20px;
  }

  @media screen and (max-width: 1270px) {
    .purchase-option-box {
      width: 100%
    }

    .purchase-option-box .option-info {
      padding: 10px 0;
      width: 95%;
    }

    .purchase-option-box .price {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 768px) {
    .purchase-option-box {
      justify-content: unset;
    }

    .purchase-option-box .option-info .option-title {
      font-size: 4vw;
    }

    .purchase-option-box .option-info .option-infos p {
      font-size: 3vw;
    }

    .purchase-option-box .radio-box {
      padding: 3vw;
    }

    .product-actions {
      grid-area: unset;
      grid-row: 3;
      max-width: unset
    }

    .product-actions .submit-wrap button {
      font-size: 4vw;
    }

    .product-actions .submit-wrap button {
      min-height: 15vw;
    }
  }
</style>

  <style>
    .product-actions .variants .pack-option .thumbnail img {
      border: 1px solid var(--light-green);
      border-radius: 5px;
      transition: 0.5s all;
      cursor: pointer;
    }

    .product-actions .variants .pack-option.selected .thumbnail img {
      background: var(--lighter-green);
    }

    .product-actions .pack-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .variant-bottle-quantity {
      position: absolute;
      right: 5px;
      top: 5px;
      border-radius: 50%;
      background: var(--light-green);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 14px;
    }

  .variant-subtitle {
    background: var(--light-green);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    padding: 3px 0;
  }
</style>

{% comment %}
  <script>
      function addItemToCart(variant_id, qty, selling_plan) {

        data = {
          "id": variant_id,
          "quantity": qty,
          "selling_plan": selling_plan
        }

        console.log(data);

        jQuery.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: data,
          dataType: 'json',
          success: function() {
            console.log('success');
            window.location.href = '/cart';
          }
        });
      }
    </script> {% endcomment %}