<div id="product-actions-{{ section_id }}" class="product-actions">
  {% assign variantQuantity = product.variants | size %}
  {% if variantQuantity > 1 %}
    <div class="cta-title">{{ title }}</div>
  {% endif %}

  <div class="variants">
    {% for var in product.variants %}
      {% if forloop.last %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer, challenge_value: challenge_value, curaeats_value: curaeats_value, isLastRender: true %}
      {% else %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer, challenge_value: challenge_value, curaeats_value: curaeats_value %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="submit-wrap flex flex-col">
    <div class="main-submit-wrapper flex">
      {% if isBuyQuantity %}
        <div class="qty">
          <input type="text" name="qty" maxlength="12" value="1" title="" class="input-text" />
          <div class="qty_inc_dec">
            <i class="increment" onclick="incrementQty()">+</i>
            <i class="decrement" onclick="decrementQty()">-</i>
          </div>
        </div>
      {% endif %}

      <button class="main-btn" id="buy-button"><span>SHOP NOW</span>{% if ctaTextType %}<span class="save" id="save"></span>{% endif %}</button>
    </div>

    {% render 'buy-with-prime-button' %}
  </div>

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
</div>

{% render 'script.round-converted-currency' %}

<style>
  #product-actions-{{ section_id }} {
    grid-area: 2/2/3/3;
    max-width: 400px;
  }

  #product-actions-{{ section_id }} .cta-title {
    padding: 10px 0;
  }

  #product-actions-{{ section_id }} .variants {
    display: flex;
    flex-direction: {% if isReversed %}column-reverse{% else %}column{% endif %};
  }

  #product-actions-{{ section_id }} .submit-wrap {
    display: flex;
  }

  #product-actions-{{ section_id }} .submit-wrap button {
    background-color: {{ ctaColor }};
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #product-actions-{{ section_id }} .submit-wrap:hover {
    border-color: #ea9f1c;
  }

  #product-actions-{{ section_id }} .submit-wrap:hover button {
    background-color: #ea9f1c;
  }

  #product-actions-{{ section_id }} .submit-wrap button span.save {
    font-weight: 100;
    border-left: 1px solid white;
    padding-left: 20px;
  }

  #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
    border: 0;
    background: white;
  }

  @media screen and (max-width: 768px) {
    #product-actions-{{ section_id }} {
      grid-area: unset;
      grid-row: 3;
      max-width: unset
    }

    #product-actions-{{ section_id }} .submit-wrap button span:first-child {
      font-size: 4vw;
    }

    #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
      border: 1px solid {{ ctaColor }};
    }

    #product-actions-{{ section_id }} .submit-wrap button {
      min-height: 15vw;
    }
  }
</style>

{% if isBuyQuantity %}
  <style>
    .qty {
      float: left;
      width: 80px;
      height: 100%;
      margin-right: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .qty_inc_dec .increment,
    .qty_inc_dec .decrement {
      float: left;
      text-align: center;
      width: 30px;
      cursor: pointer;
      font-size: 1.2em;
      line-height: 20px;
      height: 50%;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid #ccc;
    }

    .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    .qty_inc_dec {
      float: left;
      width: 10px;
      height: 100%;
      display: inline-block;
    }

    .qty input[type=text] {
      float: left;
      font-family: "Open Sans", sans-serif;
      outline: 0;
      font-size: 1.2em;
      text-align: center;
      width: 50px;
      height: 100%;
      color: #2a2a2a;
      line-height: 40px;
      border: 1px solid #ccc;
      border-right: 0;
    }

  </style>

  <script>
    function incrementQty() {
    var value = document.querySelector('input[name="qty"]').value;
    var cardQty = document.querySelector(".cart-qty");
    value = isNaN(value) ? 1 : value;
    value++;
    document.querySelector('input[name="qty"]').value = value;
    cardQty.innerHTML = value;
    cardQty.classList.add("rotate-x");
  }

  function decrementQty() {
    var value = document.querySelector('input[name="qty"]').value;
    var cardQty = document.querySelector(".cart-qty");
    value = isNaN(value) ? 1 : value;
    value > 1 ? value-- : value;
    document.querySelector('input[name="qty"]').value = value;
    cardQty.innerHTML = value;
    cardQty.classList.add("rotate-x");
  }
  </script>
{% endif %}

<script>
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let defaultVariant = urlParams.get('default-variant');

    if (defaultVariant) {
      $("#product-actions-{{ section_id }} .variant-box").eq(defaultVariant - 1).trigger("click");
    }
    else {
      $("#product-actions-{{ section_id }} .variant-box").{% if product.variants.size == 1 or request.path contains 'prime' %}first(){% elsif defaultSelectionIndex %}eq({{ defaultSelectionIndex | minus: 1 }}){% else %}first(){% endif %}.trigger( "click" );
    }
  });

  {% if isBuyQuantity %}
    // On Quantity Change
    $(document).on("click", "#product-actions-{{ section_id }} .submit-wrap .qty-control a", function (e) {
      e.preventDefault();
      let newVal, $button = $(this),
        inputObj = $button.closest(".qty-control").find("input"),
        oldValue = inputObj.val();
      if ($button.attr('data-act') === "+") {
        newVal = parseInt(oldValue) + 1;
      }
      else {
        newVal = parseInt(oldValue) - 1;
      }

      inputObj.val(newVal);
    });
  {% endif %}

  // On Buy Button Click
  $(document).on("click", "#product-actions-{{ section_id }} #buy-button", function () {
    let checkedPack = $('#product-actions-{{ section_id }} input[name=pack]:checked').val();
    let checkedQuantity = 1;
    let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
    window.location.href = checkoutLink;

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',
      ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: $('#product-actions-{{ section_id }} input[name=pack]:checked').attr('data_sku'),
        affiliation: '{{ shop.name }}',
        price: $('#product-actions-{{ section_id }} input[name=pack]:checked').attr('data_price'),
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: $(".qty-control input").length ? parseInt($(".qty-control input").val()) : 1
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $('#product-actions-{{ section_id }} input[name=pack]:checked').attr('data_sku'),
      product_name: '{{ product.title }}',
      product_price: $('#product-actions-{{ section_id }} input[name=pack]:checked').attr('data_price'),
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });
</script>