{% assign variantQuantity = product.variants | size %}
{% assign firstVariant = product.variants | first %}

{% if variantQuantity > 1 %}
  {% unless firstVariant.image.src %}
    {% assign isMultiplierVariants = true %}
  {% endunless %}
{% endif %}

<div class="product-thumbnails">
    <div class="product-slider">
      <div class="sliders-group">
      <div class="noa-wrap relative">
        {% unless isHideThumbs %}
          <div class="thumbs-slider absolute top-0 left-0 max-h-full">
            <div id="product-thumbs-slider-sc" class="product-thumbs-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% comment %} Render Product Images on Thumbs Slider {% endcomment %}
                <div class="swiper-slide">
                  <img class="max-h-[500px]" src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}" width="" height="" loading="lazy">
                </div>

                {% comment %} Render Section Images on Thumbs Slider {% endcomment %}
                {% for block in blocks %}
                  {% if block.type == 'image' %}
                    <div class="swiper-slide">
                      <img class="max-h-[500px]" src="{{ block.settings.product_img | image_url }}" width="291" height="278" alt="Product Image" loading="lazy">
                    </div>
                  {% elsif block.type == 'video' %}
                    <div class="swiper-slide">
                      <div class="thumbs-img video-thumbnail">
                        <img src="{{ block.settings.video_thumbnail | image_url }}" width="720" height="680" alt="" loading="lazy">
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

                {% comment %} Render Vaiants on Thumbs Slider {% endcomment %}
                {% comment %} {% unless isMultiplierVariants %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      <img src="{{ var.image | image_url }}" alt="{{ var.image.alt | escape }}" width="" height="" loading="lazy">
                    </div>
                  {% endfor %}
                {% endunless %} {% endcomment %}
              </div>
            </div>

            <div id="product-thumbs-slider-nav-prev" class="product-thumbs-slider-nav-prev swiper-button-prev"></div>
            <div id="product-thumbs-slider-nav-next" class="product-thumbs-slider-nav-next swiper-button-next"></div>
          </div>
        {% endunless %}

        <div class="main-slider">
          <div id="product-main-slider-sc" class="swiper">
            <div class="swiper-wrapper">
              {% comment %} Render Product Images on Main Slider {% endcomment %}
              <div class="swiper-slide">
                <img src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}" class="swiper-lazy max-h-[500px]">
                <div class="swiper-lazy-preloader"></div>
              </div>

              {% if badgeImage %}
                <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
              {% endif %}

              {% if isMultiplierVariants %}
                <p class="multiplier"></p>
              {% endif %}

              {% comment %} Render Section Images on Main Slider {% endcomment %}
              {% for block in blocks %}
                {% if block.type == 'image' %}
                  <div class="swiper-slide">
                    <img class="max-h-[500px]" src="{{ block.settings.product_img | image_url }}" alt="Product Image" loading="lazy">
                  </div>
                  {% elsif block.type == 'video' %}
                    <div class="swiper-slide">
                      <div class="product-video">
                        <iframe id="product-video-iframe" src="https://player.vimeo.com/video/{{ block.settings.vimeo_video_id }}?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                      </div>
                    </div>
                {% endif %}
              {% endfor %}

              {% comment %} Render Vaiants on Main Slider {% endcomment %}
              {% unless isMultiplierVariants %}
                {% for var in product.variants %}
                  <div class="swiper-slide">
                    <img src="{{ var.image | image_url }}" alt="{{ var.image.alt | escape }}" class="swiper-lazy max-h-[500px]">
                    <div class="swiper-lazy-preloader"></div>

                    {% if isSaveTitle %}
                      {% assign save_price = var.compare_at_price | minus: var.price %}

                      <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                    {% endif %}

                    {% if badgeImage %}
                      <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                    {% endif %}
                  </div>
                {% endfor %}
              {% endunless %}
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <div id="product-main-slider-nav-prev" class="swiper-button-prev product-main-slider-nav-prev nav"></div>
          <div id="product-main-slider-nav-next" class="swiper-button-next product-main-slider-nav-next nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% unless isHideThumbs %}
  <style>
    .noa-wrap .main-slider {
      margin-left: 160px;
    }

    @media screen and (max-width: 768px) {
      .noa-wrap .main-slider {
        margin-left: unset;
      }
    }
  </style>
{% endunless %}

  <style>
    {% if badgeImage %}
      .cta-section-{{ section_id }} .sale-badge {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 100px;
        z-index: 1;
      }

      @media screen and (max-width: 768px) {
        .cta-section-{{ section_id }} .sale-badge {
          top: 0;
          right: 0;
          width: 25vw;
        }
      }
    {% endif %}

    .cta-section-{{ section_id }} .save-title {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      top: 50%;
      }

      .cta-section-{{ section_id }} .save-title p {
      background-image: url("{{ 'title-bg.svg' | asset_url }}");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 5px;
      width: 235px;
      font-size: 35px;
      font-weight: bold;
      color: white;
      margin: auto;
    }

    .cta-section-{{ section_id }} .product-thumbnails {
      grid-area: 1/1/3/2;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider {
      width: unset !important;
      padding: unset;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider {
      padding: unset;
      {% unless isThumbsVertical %}margin-left: unset;{% endunless %}
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
      position: absolute;
      z-index: -1;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap {
      padding: unset;
      text-align: center
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap img {
    {% unless isThumbsVertical %}max-height: 400px;{% endunless %}
      object-fit: contain;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-slide .product-video iframe {
      height: 480px;
      width: 100%
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .nav {
      display: none;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .nav::after {
      font-size: 30px;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .thumbs-slider {
      {% unless isThumbsVertical %}
      margin-top: 30px;
      padding-left: 3em;
      padding-right: 3em;
      {% endunless %}
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    .cta-section-{{ section_id }} .product-thumbnails .product-slider .thumbs-slider .swiper-wrapper img {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      border: 1px solid #404733;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: scale-down;
    }

    .cta-section-{{ section_id }} .swiper-button-prev,
    .cta-section-{{ section_id }} .swiper-button-next {
      color: grey;
      transition: opacity .5s;
    }

    .cta-section-{{ section_id }} .swiper-button-prev.disabled,
    .cta-section-{{ section_id }} .swiper-button-next.disabled {
      opacity: 0;
    }

    .cta-section-{{ section_id }} .product-template-all-in-one .swiper-button-prev::after,
    .cta-section-{{ section_id }} .product-template-all-in-one .swiper-button-next::after {
      font-size: 28px;
    }

    @media screen and (max-width: 768px) {
      .cta-section-{{ section_id }} .product-thumbnails {
        grid-area: unset;
        grid-row: 2;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider {
        margin-left: unset;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider {
        width: 95%;
        margin: auto;
      }

      .cta-section-{{ section_id }} .product-slider .sliders-group:before {
        content: "";
        width: 150vw;
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        z-index: -1;
        transform: translate(50%);
        pointer-events: none;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
        margin-left: unset;
        left: 0;
        top: 10%;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-wrapper {
        margin-bottom: 30px;
        align-items: center
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe {
        height: 45vh
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe .vp-video-wrapper {
        border-radius: 10px;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-img::before {
        padding-bottom: 100%
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .nav {
        display: flex;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .nav.swiper-button-prev {
        left: -10px;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .nav.swiper-button-next {
        right: -10px;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet {
        background: var(--green);
        opacity: .4;
        width: 13px;
        height: 13px;
        border: 0;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--green);
        opacity: 1;
      }

      .cta-section-{{ section_id }} .product-thumbnails .product-slider .thumbs-slider {
        display: none;
      }
    }
  </style>

<script>
  {% unless isHideThumbs %}
   productThumbsAllInOne = new Swiper('.cta-section-{{ section_id }} .product-thumbs-slider-sc', {
    {% if isThumbsVertical %} direction: 'vertical', {% endif %}
     slidesPerView: 'auto',
     spaceBetween: 10,
     watchSlidesVisibility: true,
     grabCursor: true,
     navigation: {
       nextEl: '.cta-section-{{ section_id }} .product-thumbs-slider-nav-next',
       prevEl: '.cta-section-{{ section_id }} .product-thumbs-slider-nav-prev',
       disabledClass: 'disabled'
     },
     {% unless isThumbsVertical %}
     breakpoints: {
       760: {
         slidesPerView: 3,
         freemode: true
       },
       1200: {
         slidesPerView: 5
       }
     }
     {% endunless %}
   });
  {% endunless %}

 productSliderAllInOne = new Swiper('.cta-section-{{ section_id }} .product-main-slider-sc', {
  preloadImages: false,
   lazy: true,
   slidesPerView: 1,
   spaceBetween: 15,
   watchSlidesVisibility: true,
   grabCursor: true,
   slideToClickedSlide: true,
   {% unless isHideThumbs %}
     thumbs: {swiper: productThumbsAllInOne},
   {% endunless %}
   breakpoints: {
     0: {
       navigation: {
         nextEl: '.cta-section-{{ section_id }} .product-main-slider-nav-next',
         prevEl: '.cta-section-{{ section_id }} .product-main-slider-nav-prev',
         disabledClass: 'disabled'
       }
     },
     760: {
       navigation: {}
     }
   }
 });

  $('.cta-section-{{ section_id }} .thumbs-img').click(function() {
    woopra.track('Product Image Click', {});
  });

  // Product Arrow Click
  $('.cta-section-{{ section_id }}  .product-thumbs-slider-nav-next, .cta-section-{{ section_id }} .product-thumbs-slider-nav-prev').click(function() {
    woopra.track('Arrow Click', { section: "Product" });
  });
</script>