<section id="call-expert-section">
  <div class="container">
    <div class="call-background">
      <div class="schedule-call">
        <img class="avatar" src="{{ 'onboarding-calling-woman.png' | asset_url }}" width="209" height="209" alt="" loading="lazy">
        <div class="text-calling">
          <h3>Schedule a call with our customer success expert!</h3>

          <div class="grey-border"></div>

          <p>With your purchase of {{ productTitle }}, you can schedule a free 15 minute call with one of our customer success experts to answer all your questions about {{ productTitle }}! They will help guide your first 5 days on {{ productTitle }} so you can go into it with confidence!</p>
          <div class="call">
            <a href="https://calendly.com/hellocuralife" target="_blank">
              <button>
                <span class="call-text">Schedule A Call<i class="fa-regular fa-headset"></i></span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #call-expert-section {
    background-color: {{bgColor}};
    padding: 1% 0;
  }

  #call-expert-section .call-background {
    {% if border %}border: 2px solid #E1E8CF;{% endif %}
    margin-bottom: 3%;
  }

  #call-expert-section .schedule-call {
    margin: 5%;
    display: flex;
    gap: 5%;
  }

  #call-expert-section .text-calling {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  #call-expert-section .avatar {
    object-fit: contain;
    object-position: top;
  }

  #call-expert-section .grey-border {
    width: 98px;
    border: 1px solid #333333;
    position: relative;
  }

  #call-expert-section .call-text {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  #call-expert-section .call button {
    margin-top: 5%;
    background: #FFB22D;
  }

  @media screen and (max-width: 768px) {
    #call-expert-section .schedule-call {
      flex-direction: column;
      gap: 7vw;
    }

    #call-expert-section .text-calling .title {
      font-size: 24px;
      line-height: 29px;
    }

    #call-expert-section .avatar {
      width: 40vw;
      height: auto;
      {% if isHideImageOnMobile %}display: none;{% endif %}
    }

    #call-expert-section .grey-border {
      width: 98px;
      border: 2px solid #333333;
      top: 5vw;
      margin-bottom: 10%;
    }

    #call-expert-section .call-text {
      gap: 2vw;
    }


    #call-expert-section .text-calling p {
      font-size: 18px;
      line-height: 23px;
      padding: 2vw 0;
    }

    #call-expert-section .call button {
      width: 100%;
    }

    #call-expert-section .call button {
      font-size: 24px;
    }
  }
</style>

<script>
  $("#call-expert-section .call a").click(function() {
    // Track in GA
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'schedule-a-call',
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
    });

    // Track in Woopra
    woopra.track('Schedule A Call', {});
  });
</script>