<section class="cta-section">
  <div class="product-container container">
    {% render 'product-all-in-one-cta-section-gallery', isCuralinContent: isCuralinContent %}

    <div class="product-info">
      <h1>{% if product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% else %}{{ product.title }}{% endif %}</h1>

      {% render 'product-all-in-one-cta-section-reviews', isQuotes: isReviewsQuotes %}
      {% if isCuralinContent %}
        {% render 'product-all-in-one-cta-section-reviews', isReviewsQuotes: isReviewsQuotes  %}
      {% endif %}
    </div>

    {% if badgesPosition == "cta" %}
      {% render 'product-all-in-one-cta-section-actions', title: "Select Your Deal", isBadges: true, challenge_value: challenge_value, curaeats_value: curaeats_value %}
    {% endif %}
  </div>

  {% if badgesPosition == "bottom" %}
    {% render 'trust-badges-widget', content: "free-shipping,money-back,secure-checkout", colors: "#5c5c5c", bottomLine: true %}
  {% endif %}
</section>

<div class="line container" style="border-bottom: 1px solid var(--light-green)"></div>

<style>
  section {
    padding: 50px 0
  }

  .cta-section .product-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 30px;
    grid-row-gap: 0;
  }

  .cta-section .product-container .product-info {
    padding: unset;
    width: unset;
    max-width: 450px;
    grid-area: 1/2/2/3;
    padding-bottom: 30px;
  }

  .cta-section .product-container .product-info h1 {
    font-weight: 600;
    font-size: 40px;
  }

  @media screen and (max-width: 768px) {
    .cta-section {
      padding-top: 70px;
      padding-bottom: 0;
    }

    .cta-section .product-container {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: unset;
    }

    .cta-section .product-container .product-info {
      grid-area: unset;
      grid-row: 1;
      text-align: center;
      padding: 0 20px;
      max-width: unset
    }
  }
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>