<div class="easy">
    <div class="container">
      {% if isRetention %} <div class="button-wrapper">
      <a class="cta-btn" id="back-to-top-btn">{{ ctaTitle }}</a>
      </div>
     {% endif %}
        <div class="sub-title">
          <h3><b>It's easy as 1, 2, 3!</b></h3>         
        </div>
        <div class="easy-wrapper">
            <img class="easy-img" src="{{ 'thirty-day-product-easy-group.png' | asset_url }}" width="967" height="329" alt="">
            <img class="easy-img-mb" src="{{ 'thirty-day-product-easy-group-mb.png' | asset_url }}" width="362" height="593" alt="">
        </div>
        {% unless isSecondLP %}
        <div class="button-wrapper">
        <a class="cta-btn" id="back-to-top-btn">{{ ctaTitle }}</a>
        </div>
       {% endunless %}
       
    </div>
    {% unless isSecondLP %}
    <div class="experience-wrapper">
        <div class="experience-text">The 30 Day Challenge comes with a free bottle of Curalin, a clinically tested, 100% natural blood sugar support supplement. <br> <br>

        Its powerful blend of 9 herbs supports 18 key body functions to help you feel your best. Curalin normally costs $75, but it’s included at no cost with this challenge.<br><br>

       <b>Don't settle for less!</b></div>
       <img class="curalin-img" src="{{ 'thirty-day-product-easy-curalin-pack.png' | asset_url }}" width="960" height="443" alt=""> 
    </div>
    <div class="trust-badge"><i class="icofont-badge"></i>60 Day Money Back Guarantee</div>
    {% endunless %}
</div>


<style>
  .trust-badge {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    color: #404733;
    align-items: center;

  }

  @media screen and (max-width: 768px) {
    .trust-badge {      
      padding-top: 2vw;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
    }

  }

</style>
<style>
    .easy .sub-title {
      padding-top: 60px;
    }

    .easy .sub-title h3 {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 60px;
      line-height: 35px;
      color: var(--dark-green);
      padding-bottom: 30px;
      text-align: center;
    }

    .easy-wrapper {
        display: flex;
        justify-content: center;
    }

    .easy-img-mb {
        display: none;
    }

    .easy .container .button-wrapper {
      display: flex;
      padding: 35px 0;
      justify-content: {% if isRetention %}center{% else %} flex-start {% endif %};
    }

     .easy .container .cta-btn {  
      background: #FFB22D;
      border: 1px solid #FFB22D;
      font-weight: 700;
      font-size: clamp(14px, 2vw, 18px);
      color: {% if isRetention %} #ffffff {% else %} var(--dark-green){% endif %};
      margin-left: unset;
      border-radius: 5px;
      padding: 15px 40px;
      text-transform: {% if isRetention %}uppercase{% endif %};

    }

    .easy .container .cta-btn:hover {
      background: #FFB22D;
      border: 1px solid  #FFB22D;
      color: #FFFFFF;
    }

    .experience-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    .experience-text {
        display: flex;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #404733;
        flex-direction: column;
        justify-content: center;
        max-width: 30%;
    }

    .curalin-img {
        max-width: 60%;
    }



    @media screen and (max-width: 1028px) {
        
        .easy .sub-title h3 {
          font-size: 32px;
          line-height: 35px;
        }

   
        .experience-wrapper {
            flex-direction: column-reverse;
        }

        .experience-text {
            max-width: unset;
            text-align: center;
            font-size: 19px;
            line-height: 26px;
            color: #000000;
            max-width: unset;
            padding: 30px 20px;
        }

        .curalin-img {
            max-width: unset;
            width: 100%;
        }
    
      
    }

    @media screen and ( max-width: 760px) {
      .easy-img {
          display: none;
      }

      .easy-img-mb {
          display: flex;
      }

      .easy .container .cta-btn {       
        font-size: {% if isRetention %}5vw{% endif %};
      }
    }
</style>



<script>
  $(window).scroll(function() {
    $(window).scrollTop() > 1000 ? $('#back-to-top-btn').addClass('show') : $('#back-to-top-btn').removeClass('show');
  });

  $('#back-to-top-btn').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });
</script>