{% assign curalin_options = '' %}
{% assign supplement_options = '' %}

{% for variant in product.variants %}
  {% assign curalin_pack = variant.title | split: ' / ' | first %}
  {% assign supplement_pack = variant.title | split: ' / ' | last %}

  {% unless curalin_options contains curalin_pack %}
    {% assign curalin_options = curalin_options | append: curalin_pack | append: ',' %}
  {% endunless %}

  {% unless supplement_options contains supplement_pack %}
    {% assign supplement_options = supplement_options | append: supplement_pack | append: ',' %}
  {% endunless %}
{% endfor %}

{% assign curalin_options = curalin_options | split: ',' %}
{% assign supplement_options = supplement_options | split: ',' %}

<div class="product-selection">
  <div>Select Your <b>Curalin Pack</b>:</div>
  <div class="curalin-options mb-4">
    <div id="curalin-select">
      <div class="select_wrap">
        {% assign first_variant = product.variants.first %}
        <ul class="default_option">
          <li>
            <div id="default-curalin-option" class="option" data-curalin-pack="{{ first_variant.title | split: ' / ' | first }}">
              <div class="icon">
                <img src="//cdn.shopify.com/s/files/1/0452/2459/1511/files/Frame1597877272_b547e086-cfa2-44e2-bfb0-bf54b180826e.png?v=1684767010" />
              </div>
              <div>{{ first_variant.title | split: ' / ' | first }}</div>
            </div>
          </li>
        </ul>

        <!-- Build Dropdown options -->
        <ul class="select_ul shadow-xl">
          {% for option in curalin_options %}
            <!-- Obtain first matching variant -->
            {% for variant in product.variants %}
              {% assign option_title = variant.title | split: ' / ' | first %}
              {% if option_title == option %}
                {% assign variant_sample = variant %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% assign bottle_quantity = variant_sample.metafields.my_fields.pack_bottles_quantity %}
            {% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
            {% assign original_item_price = variant_sample.metafields.custom.original_item.value.price %}
            {% assign item_price = variant_sample.price | divided_by: bottle_quantity %}
            {% assign save_price = original_item_price | minus: item_price | times: quantity %}

            <!-- Create list item for option -->
            <li>
              <div class="option" data-curalin-pack="{{ option }}" data-price="{{ variant_sample.price | divided_by: 100  }}" data-discount="{{ save_price | divided_by: 100 }}">
                <div class="left-side-wrapper flex items-center gap-4">
                  {% assign bogo_curalin_pack_variant = variant_sample.metafields.custom.bogo_curalin_pack_variant.value %}
                  <img src="{{ bogo_curalin_pack_variant.image | image_url }}" alt="{{ option }}">

                  <div class="variant-info">
                    <div class="variant-title">{{ option }}</div>
                    {% if variant_sample.metafields.my_fields.subtitle %}
                      <div class="variant-infos">
                        <div class="subtitle">{{ variant_sample.metafields.my_fields.subtitle }}</div>
                      </div>
                    {% endif %}
                  </div>
                </div>

                {% if pricePer != "dont_split" %}
                  <div class="price">
                    <div class="calculations">
                      {% if original_item_cap_total > variant_sample.price %}
                        <div class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total | money_without_trailing_zeros }}</strike></div>
                      {% endif %}

                      <div class="real-price no-letters rounded">{{ item_price | money_without_trailing_zeros }}</div>
                    </div>

                    <div class="per-month">Per {{ pricePer | capitalize }}</div>
                  </div>
                {% else %}
                  <div class="price">
                    {% if original_item_cap_total_with_bundle > variant_sample.price %}
                      <div class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total_with_bundle | money_without_trailing_zeros }}</strike></div>
                    {% endif %}
                    <div class="real-price no-letters rounded">{{ variant_sample.price | money_without_trailing_zeros }}</div>
                  </div>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div>Select Your <b>Gift</b>:</div>
  <div class="supplement-options">
    {% for option in supplement_options %}
      <!-- Obtain first matching variant -->
      {% for variant in product.variants %}
        {% assign option_title = variant.title | split: ' / ' | last %}
        {% if option_title == option %}
          {% assign variant_sample = variant %}
          {% break %}
        {% endif %}
      {% endfor %}

      <div class="select-supplement">
        <div class="supplement-option" data-supplement-pack="{{ option }}">
          {% assign bogo_gift_product = variant_sample.metafields.custom.bogo_gift_product.value %}
          <img src="{{ bogo_gift_product.metafields.custom.bottle_image | image_url }}" alt="{{ option }}">

          <div class="free-strip">FREE</div>

          <div>{{ option }}</div>
        </div>
      </div>
    {% endfor %}
  </div>

  <button class="main-btn buy-now" id="buy-button"><span>SHOP NOW</span>{% if ctaTextType %}<span class="save" id="save"></span>{% endif %}</button>

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
</div>

{% render 'script.round-converted-currency' %}

<style>
  .product-selection .buy-now {
    background-color: {{ ctaColor }};
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .product-selection .buy-now:hover {
    background-color: #ea9f1c;
  }

  .variant-info .subtitle {
    font-size: 14px;
    color: #7a7a7a;
  }

  .product-selection .buy-now span.save {
    font-weight: 100;
    border-left: 1px solid white;
    padding-left: 10px;
  }

    .option .price {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .option .price .calculations {
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .option .price .calculations p::after {
      content: "00";
      font-size: 0.6rem;
      vertical-align: super;
      margin-right: 5px;
    }

    .option .price .calculations p.compared-at-price::after {
      font-size: 0.3rem;
    }

    .option .price .per-month {
      color: var(--grey);
      font-size: 16px;
    }

    .option .price .compared-at-price {
      font-size: unset;
    }

    .option .price .compared-at-price strike {
      font-size: 13px !important;
    }

    .option .price .real-price {
      font-size: 20px;
    }
</style>


<script>
  $(".default_option").click(function() {
    $(this).parent().toggleClass("active");
  })

  $(".select_ul li").click(function() {
    const currentel = $(this).html();
    $(".default_option li").html(currentel);
    $(this).parents(".select_wrap").removeClass("active");
  })
</script>


<script>
  function updateCTA(optionElement) {
    console.log(optionElement)

    {% if ctaTextType == "save" %}
      if (optionElement.getAttribute('data-discount').length == 0) {
        let ctaText = "";
      }
      else {
        let ctaText = "You Save " + "{{ cart.currency.symbol }}" + optionElement.getAttribute('data-discount');
      }
    {% elsif ctaTextType == "total" %}
      let ctaText = "Total " + "{{ cart.currency.symbol }}" + optionElement.getAttribute('data-price');
    {% endif %}

    $("#save").fadeOut(300, function () {
      $(this).text(ctaText);
    }).fadeIn(300);
  }

  // Map of variant titles to variants
  const variantMap = {};

  // Selected Curalin Pack and Supplement Pack
  let selectedCuralinPack = null;
  let selectedSupplementPack = null;

  // Handle Curalin Pack selection
  document.querySelectorAll('.curalin-options .option').forEach(option => {
    option.addEventListener('click', event => {
      // Remove 'selected' class from all options
      document.querySelectorAll('.curalin-options .option').forEach(opt => {
        opt.classList.remove('selected');
      });

      // Add 'selected' class to clicked option
      event.target.classList.add('selected');

      // Update selectedCuralinPack
      selectedCuralinPack = event.target.getAttribute('data-curalin-pack');

      // Update CTA Button Save Text
      updateCTA(event.target);
    });
  });

  // Handle Supplement selection
  document.querySelectorAll('.supplement-options .select-supplement .supplement-option').forEach(option => {
    option.addEventListener('click', event => {
      // Remove 'selected' class from all options
      document.querySelectorAll('.supplement-options .select-supplement .supplement-option').forEach(opt => {
        opt.classList.remove('selected');
      });

      // Add 'selected' class to clicked option
      event.target.classList.add('selected');

      // Update selectedSupplementPack
      selectedSupplementPack = event.target.getAttribute('data-supplement-pack');
    });
  });

  // Handle Buy Now click
  document.querySelector('.buy-now').addEventListener('click', event => {
    if (selectedCuralinPack && selectedSupplementPack) {
      // Convert product from Liquid to JavaScript
      const product = {{ product | json }};

      // Construct variant title
      const variantTitle = `${selectedCuralinPack} / ${selectedSupplementPack}`;

      // Find matching variant
      const matchingVariant = product.variants.find(variant => variant.title === variantTitle);

      if (matchingVariant) {
        // Construct the checkout URL
        const checkoutURL = `/cart/${matchingVariant.id}:1`;

        // Redirect to checkout URL
        window.location.href = checkoutURL;
      } else {
        // Handle case where matching variant isn't found
        console.error('No matching variant found for selected options');
      }
    } else {
      // Handle case where not all options are selected
      alert('Please select your gift before proceeding to checkout');
    }
  });

  // Add this code to the end of your script
  document.addEventListener('DOMContentLoaded', (event) => {
    $(".option[data-curalin-pack='Curalin']:first-child").click();
  });
</script>

<style>
  .product-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  .select_wrap{
    width: 100%;
    position: relative;
    user-select: none;
    border-radius: 5px;
  }

  .select_wrap .default_option {
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    border-color: var(--light-green);
    border-width: 2px;
  }

  .select_wrap .default_option li{
    padding: 5px;
  }

  .select_wrap .default_option:before{
    content: "";
    position: absolute;
    top: 28px;
    right: 18px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
  }

  .select_wrap .select_ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    max-height: 0;  /* changed from transform */
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;
    overflow: hidden;  /* hide the overflow */
  }

  .select_wrap.active .select_ul {
    opacity: 1;
    max-height: 470px; /* needs to be larger than the actual height you expect */
  }


  .select_wrap .select_ul li {
    padding: 15px 7px;
    cursor: pointer;
  }

  .select_wrap .select_ul li:last-of-type {
    border: none;
  }

  .select_wrap .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .select_wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .select_wrap .select_ul li:hover {
    background: var(--light-vomit);
  }

  .select_wrap .option {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
  }

  .select_wrap .option * {
    pointer-events: none;
  }

  .supplement-options .supplement-option * {
    pointer-events: none;
  }

  .select_wrap .option img {
    object-fit: contain;
    width: 60px;
  }

  .supplement-options .supplement-option .free-strip {
    background: var(--dark-green);
    position: absolute;
    color: white;
    transform: rotate(45deg);
    padding: 2px 15px;
    right: -13px;
    top: 4px;
    font-size: 9px;
}

  .select_wrap.active .default_option:before{
    top: 32px;
    transform: rotate(-225deg);
  }

  @media (max-width: 768px) {
    .product-selection {
      width: 100%;
    }

    .option .price .per-month {
      font-size: 4vw;
    }

    .supplement-option {
      width: 28vw;
    }

    .select-supplement img {
      width: 28vw;
      height: 28vw;
    }
  }
</style>

<style>
  .supplement-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .supplement-option {
    width: 120px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

  .select-supplement {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .select-supplement img {
    width: 120px;
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
    object-fit: cover;
    padding: 10px;
  }

  .select-supplement .supplement-option.selected img {
    background: var(--vomit) !important;
    border: 2px solid var(--light-green);
  }

  .select-supplement .supplement-option:hover img {
    background: var(--light-vomit);
  }

  .select-supplement span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    text-align: center;
  }
</style>