
<div class="text-image md:flex-row container flex flex-col-reverse gap-40">
  <img class="object-contain w-1/3" src="{{ main_image | image_url }}" alt="" loading="lazy">

  <div>
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>

    {% if button_title != "" %}
      <a href="{{ button_link }}" style="background-color: {{ button_color }};"><button>{{ section.settings.button_title }}</button></a>
    {% endif %}
  </div>
</div>

<style>
  .text-image p {
    margin-bottom: 20px;
  }

  .text-image p strong {
    font-weight: bold;
  }
</style>