
{% if block_index %}
  {% assign section_id = block_index %}
{% else %}
  {% assign section_id = section.id %}
{% endif %}

<section class="text-image text-image-{{ section_id }} h-680">
  <div class="gap-x-16 auto-rows-max container grid grid-flow-col grid-rows-4">
    <div class="image-wrap col-start-1 row-span-2 md:row-span-1 md:row-start-2 {% if is_flip %}col-start-2{% endif %}">
      {% if block_index %}
        <p class="odd:text-vomit even:text-lighterVomit text-8xl absolute font-bold">{{ block_index }}</p>
      {% endif %}

      <img class="max-h-500px relative z-auto object-contain" src="{{ main_image | image_url }}" alt="" loading="lazy">
    </div>

    <div class="title-wrap md:col-start-1 col-start-2 row-span-1 {% if is_flip %}col-start-1{% endif %}"><h3>{{ title }}</h3></div>

    <div class="content-wrap md:col-start-1 col-start-2 {% if is_flip %}col-start-1{% endif %}">
      <p>{{ content }}</p>

      <div class="links">
        {% if link_url_1 %}
          <a href="{{ link_url_1 }}">{{ link_title_1 }} <i class="fa-thin fa-arrow-right"></i></a>
        {% endif %}
        {% if link_url_2 %}
          <a href="{{ link_url_2 }}">{{ link_title_2 }} <i class="fa-thin fa-arrow-right"></i></a>
        {% endif %}
      </div>

      {% unless button_title == blank %}
        <a href="{{ button_link }}"><button style="background-color: {{ button_color }};">{{ button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  section.text-image .image-wrap p {
    font-size: clamp(10px,20vw,350px);
    margin-left: clamp(-130px,23%,-50px);
    line-height: 0.8;
  }

  section.text-image-{{ section_id }} {
    background-color: {{ bg_color }};
  }

  section.text-image-{{ section_id }} p strong {
    font-weight: bold;
  }

  section.text-image .links {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  section.text-image .links a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>