
{% if block_index %}
  {% assign section_id = block_index %}
{% else %}
  {% assign section_id = section.id %}
{% endif %}

<section class="text-image text-image-{{ section_id }} h-680">
  <div class="container flex items-center justify-between gap-8 md:gap-4 {% if is_mobile_reverse %}md:flex-col-reverse{% else %}md:flex-col{% endif %} {% if is_flip %}flex-row-reverse{% endif %}">
    {% unless is_mobile_reverse %}
      <div class="mobile-title md:block md:text-center hidden"><h2>{{ title }}</h2></div>
    {% endunless %}

    <div class="image-wrapper max-w-1/2">
      <img class="max-h-500px md:max-h-250px relative z-auto object-contain {% if main_mobile_image %}desktop{% endif %} {% if is_mobile_reverse %}md:!min-h-350px{% endif %}" src="{{ main_image | image_url }}" alt="{{ title }}" loading="lazy">

      {% if main_mobile_image %}
        <img class="max-h-500px mobile md:max-h-250px relative z-auto object-contain" src="{{ main_mobile_image | image_url }}" alt="{{ title }}" loading="lazy">
      {% endif %}
    </div>

    <div class="content py-16 md:py-0 md:w-full md:mb-8 md:text-{{ mobile_alignment }} w-45%">
      <h2 class="{% unless is_mobile_reverse %}md:hidden{% endunless %}">{{ title }}</h2>
      <p>{{ content }}</p>

      {% if link_title_1 %}
        <div class="links md:justify-{{ mobile_alignment }}">
          {% if link_url_1 %}
            <a href="{{ link_url_1 }}">{{ link_title_1 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
          {% if link_url_2 %}
            <a href="{{ link_url_2 }}">{{ link_title_2 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
        </div>
      {% endif %}

      {% unless button_title == blank %}
        <a href="{{ button_link }}"><button class="md:w-full">{{ button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  {% if text_color %}
    section.text-image-{{ section_id }} {
      color: {{ text_color }};
    }

    section.text-image-{{ section_id }} h2 {
      color: {{ text_color }};
    }
  {% endif %}

  {% if bg_color %}
    section.text-image-{{ section_id }} {
      background-color: {{ bg_color }};
    }
  {% endif %}

  {% if button_color %}
    section.text-image-{{ section_id }} button {
      background-color: {{ button_color }};
    }
  {% endif %}

  {% if button_text_color %}
    section.text-image-{{ section_id }} button {
      color: {{ button_text_color }};
    }
  {% endif %}


  section.text-image-{{ section_id }} p strong {
    font-weight: bold;
  }

  {% if is_mobile_reverse %}
    section.text-image-{{ section_id }} .image-wrapper img {
      max-width: 100vw;
      min-width: 50vw;
      min-height: 450px;
      object-fit: cover;
      object-position: top;
    }

    section.text-image-{{ section_id }} {
      padding: unset;
    }

    @media (max-width: 768px) {
      section.text-image-{{ section_id }} {
        padding-top: 50px !important;
      }

      section.text-image-{{ section_id }} .image-wrapper img {
        width: 100vw;
      }
    }
  {% endif %}

</style>

<style>
  section.text-image .links {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  section.text-image h2 {
    text-align: inherit;
  }

  section.text-image .links a {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 768px) {
    section.text-image {
      max-height: unset !important;
    }

    section.text-image .image-wrapper {
      max-width: unset;
    }
  }
</style>