
{% if isBlock %}
  {% assign section_id = index %}
{% else %}
  {% assign section_id = block.id %}
{% endif %}

<section class="text-image text-image-{{ section_id }} h-680">
  <div class="md:flex-col-reverse container flex items-center justify-between gap-1 {% if isFlip %}flex-row-reverse{% endif %}">
    <div class="image-wrapper">
      {% if index %}
        <p class="odd:text-vomit even:text-lighterVomit text-8xl absolute font-bold">{{ index }}</p>
      {% endif %}

      <img class="max-h-500px relative z-auto object-contain" src="{{ main_image | image_url }}" alt="" loading="lazy">
    </div>

    <div class="content w-2/5">
      <h3>{{ title }}</h3>
      <p>{{ content }}</p>

      <div class="links">
        {% if link_url_1 %}
          <a href="{{ link_url_1 }}">{{ link_title_1 }} <i class="fa-thin fa-arrow-right"></i></a>
        {% endif %}
        {% if link_url_2 %}
          <a href="{{ link_url_2 }}">{{ link_title_2 }} <i class="fa-thin fa-arrow-right"></i></a>
        {% endif %}
      </div>

      {% unless button_title == blank %}
        <a href="{{ button_link }}"><button style="background-color: {{ button_color }};">{{ button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  section.text-image .image-wrapper p {
    font-size: 350px;
    margin-left: -50px;
    line-height: 0.8;
  }

  section.text-image-{{ section_id }} {
    background-color: {{ bg_color }};
  }

  section.text-image-{{ section_id }} p strong {
    font-weight: bold;
  }

  section.text-image .links {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  section.text-image .links a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>