
{% if block_index %}
  {% assign section_id = block_index %}
{% else %}
  {% assign section_id = section.id %}
{% endif %}

<section class="text-image text-image-{{ section_id }} h-680">
  <div class="container flex items-center justify-between gap-8 {% if is_mobile_reverse %}md:flex-col-reverse{% else%}md:flex-col{% endif %} {% if is_flip %}flex-row-reverse{% endif %}">
{% unless is_mobile_reverse %}<div class="mobile-title md:block md:text-center hidden"><h3>{{ title }}</h3></div>{% endunless %}

    <div class="image-wrapper">
      {% if block_index %}
        <p class="odd:text-vomit even:text-lighterVomit md:text-2xl text-8xl absolute font-bold">{{ block_index }}</p>
      {% endif %}

      <img class="max-h-500px md:max-h-250px relative z-auto object-contain" src="{{ main_image | image_url }}" alt="" loading="lazy">
    </div>

    <div class="content md:w-full md:text-center w-2/5">
    <h3 class="{% unless is_mobile_reverse %}md:hidden{% endunless %}">{{ title }}</h3>
      <p>{{ content }}</p>

      {% if link_url_1 %}
        <div class="links md:justify-center">
          {% if link_url_1 %}
            <a href="{{ link_url_1 }}">{{ link_title_1 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
          {% if link_url_2 %}
            <a href="{{ link_url_2 }}">{{ link_title_2 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
        </div>
      {% endif %}

      {% unless button_title == blank %}
        <a href="{{ button_link }}"><button>{{ button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  section.text-image .image-wrapper p {
    font-size: 350px;
    margin-left: -50px;
    line-height: 0.8;
  }

  {% if text_color %}
    section.text-image-{{ section_id }} {
      color: {{ text_color }};
    }

    section.text-image-{{ section_id }} h3 {
      color: {{ text_color }};
    }
  {% endif %}

  {% if bg_color %}
    section.text-image-{{ section_id }} {
      background-color: {{ bg_color }};
    }
  {% endif %}

  {% if button_color %}
    section.text-image-{{ section_id }} button {
      background-color: {{ button_color }};
    }
  {% endif %}

  {% if button_text_color %}
    section.text-image-{{ section_id }} button {
      background-color: {{ button_text_color }};
    }
  {% endif %}


  section.text-image-{{ section_id }} p strong {
    font-weight: bold;
  }

  {% if is_mobile_reverse %}
    section.text-image-{{ section_id }} .image-wrapper img {
      margin-left: -27vw;
      margin-right: -60vw;
      max-width: 100vw;
      width: 50vw;
      object-fit: cover;
      object-position: top;
    }

    section.text-image-{{ section_id }} {
      padding: unset;
    }
  {% endif %}

  section.text-image .links {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  section.text-image .links a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 768px) {
    section.text-image {
      max-height: unset !important;
    }

    section.text-image .image-wrapper p {
      font-size: 50vw;
    }
  }
</style>