{% assign weeks = "Dozens of delicious recipes you can choose from. All designed by chefs and don’t compromise flavor! Don’t like a recipe? Choose another!
|Curalin is a clinically tested and 100% natural supplement that promotes insulin sensitivity and keep your glucose healthy!<br><br>

Rated #1 blood sugar support supplement by the world’s biggest blood sugar support community, Curalin will not just support your blood sugar, but also promote energy, sleep, and metabolic health.<br><br>

Curalin’s powerful formula will start to play a major part in your blood sugar success within just a few days!
|Easy-to-do exercises that will energize your day you’ll actually look forward to! Best of all, you do them from the comfort and privacy of your own home!
|Hey rockstar! You made it! You’re feeling better and more in control. Celebrate your win!  We’ll be sending you some secret rewards just for making it this far, so keep an eye out ;)
" | split: "|" %}

{% assign weeks_1 = "Curalin*Continue with Curalin as part of your daily regime. We’ll guide you through it every step of the way whenever needed.
|Smart
Meal plan*Access your new meal plan with tons of new recipes that don’t compromise flavor!
|Find your Flow*A movement routine that works for YOU! Go at your own pace, from the comfortability of your home. It’s doable, maintainable, and even enjoyable!
|Small Steps
Big Wins*Set yourself up for success! Have all the support you need from peers and our team of consultants!
" | split: "|" %}

<section class="timeline">
<div class="container">
  <div class="break-it">{{ mainTitle }}</div>
  {% if isSecondLP %}

    {% for week_1 in weeks_1 %}
      <div class="break-it-wrapper">
      <div class="time-wrapper">
      <div class="time-title">{{ week_1 | split: "*" | first }}</div>
      <div class="border-bottom"></div>
      </div>
      <div class="time-desc">{{ week_1 | split: "*" | last }}</div>
      </div>
    {% endfor %}

   {% else %}
    <ul>
      {% for week in weeks %}
        <li>
          <div class="wrapper-div">
          <div class="time-and-text">
            <div class="time">Week {{ forloop.index }}</div>

            <div class="border-bottom"></div>
            <p>{{ week }}</p>
            {% comment %} {% if forloop.index == 2 %}
              <div class="faq">
                      <div class="faq-item">
                      <div class="question">
                      Learn more about Curalin
                      </div>
                      <div class="answer">
                          <p>Curalin is a clinically tested blood sugar support supplement. It’s rated #1 most recommended by the world’s largest blood sugar support community.</p>

                      </div>
                 </div>

              </div>
            {% endif %} {% endcomment %}
          </div>

          <img class="img-break" src="{{ 'thirty-day-break-' | append: forloop.index | append: '.png' | asset_url }}" width="831" height="546" alt="" loading="lazy">

          </div>

        </li>
        {% comment %} <div class="bottom-line-horizontal"></div>  {% endcomment %}
      {% endfor %}

      {% comment %} <div class="light-div"></div> {% endcomment %}
      {% comment %} <li>
        <div class="wrapper-div">
        <div class="time-and-text">
          <div class="time achivement">Achievement
          unlocked!</div>
          <div class="border-bottom"></div>
          <div class="celebrate">Celebrate your win, rockstar! Together, we’re just getting started!</div>
        </div>

        <img class="img-break-confetty" src="{{ 'thirty-day-break-confetti.png' | asset_url }}" width="1211" height="211" alt="" loading="lazy">
        <img class="img-break-confetty-mb" src="{{ 'thirty-day-break-confetti-mb.png' | asset_url }}" width="368" height="223" alt="" loading="lazy">
        </div>
      </li>
      <li>
        <div class="wrapper-div">
        <div class="time-and-text">
          <img class="img-beyond" src="{{ 'thirty-day-break-infinity.png' | asset_url }}" width="86" height="42" alt="" loading="lazy">
          <div class="time">Beyond</div>
          <div class="border-bottom"></div>
          <p>You’ve gained a good base for practicing healthy habits that you will keep with you on your health journey!</p>
        </div>
        <img class="img-break" src="{{ 'thirty-day-break-5.png' | asset_url }}" width="831" height="596" alt="" loading="lazy">
        </div>
      </li> {% endcomment %}
    </ul>
    {% endif %}

    
  </div>
  <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
</section>

<style>

.timeline .cta-btn {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-weight: 100;
  background: var(--orange);
  text-align: center;
  border: 1px solid  var(--orange);
  border-radius: 4px;
  font-weight: 700;
  font-size: 25px;
  color:  #404733; 
  padding: 8px 15px;
  box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
  transition: unset;
  max-width: 430px;   
  max-height: 60px;

}

.timeline .cta-btn:hover {
background: #dd961a;
box-shadow: unset;
}
 {% comment %} .faq {
   margin: 1rem auto;
} {% endcomment %}

{% comment %} .faq .faq-item {
  display: flex;
  flex-wrap: wrap;
} {% endcomment %}

{% comment %} .faq .faq-item .question {
 padding: 0.7rem 1rem 0.7rem 0;
 display: flex;
 position: relative;
 cursor: pointer;
 font-family: 'DM Sans';
 font-weight: 500;
 font-size: 18px;
 line-height: 35px;
 color: var(--vomit);
 width: 100%;
} {% endcomment %}

{% comment %} .faq .faq-item .question:after {
  content: "+";
  font-size: 17px;
  position: absolute;
  right: 1rem;
  transition: transform 0.3s;
  color: var(--vomit);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px beige;
  border-radius: 50%;
  top: 18px;
} {% endcomment %}


{% comment %} .faq .faq-item .question.active:after {
 content: "+";
 transform: rotate(45deg);
} {% endcomment %}

{% comment %} .faq .faq-item .answer {
 max-height: 0;
 overflow: hidden;
 transition: max-height .2s ease-out;
 background: var(--vomit);
 border-radius: 5px;
} {% endcomment %}

{% comment %} .faq .faq-item .answer p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: clamp(12px, 2vw, 17px);
  line-height: 15px;
  color: var(--dark-green);
  padding: 0 15px;
} {% endcomment %}


 </style>

 <style>
  .break-it-wrapper {
    display: flex;
    gap: 11%;
    padding: 50px 70px;
  }

  .time-wrapper {
    min-width: 30%;
  }


  .time-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(30px, 3vw, 60px);
    letter-spacing: -0.01em;
    color: #B9C86B;
  }

  .time-desc {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(20px, 3vw, 34px);
    color: #FFFFFF;
  }


  @media screen and (max-width: 768px) {
    .break-it-wrapper {
      flex-direction: column;
      padding: 30px 20px;
    }


    .time-title {
      line-height: 30px;
    }

    .time-desc {
      line-height: 24px;
      padding: 4vw 0;
    }
  }
 </style>

<style>
  .bottom-line-horizontal {
    background: #B9C86B;
    height: 1px;
    width: 232%;
    position: absolute;
    right: -692px;
    overflow: hidden;
  }
  .celebrate{
    position: absolute;
    z-index: 2;
    right: -500px;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(29px, 1vw, 46px);
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    max-width: 500px;
  }
.light-div {
  background: #7B8E42;
  width: 300%;
  right: -65%;
  position: absolute;
  height: 200px;
}
 .timeline {
    background: #555F44;
    padding:{% unless isSecondLP %} 50px 0 20px !important {% endunless %};
 }

 .timeline .container {
  padding-bottom: {% if isSecondLP %}40px{% endif %};
 }

 .timeline .break-it {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(32px, 4vw, 60px);
    line-height: 35px;
    color: white;
    padding-bottom: 30px;
    padding-top: {% unless isSecondLP %} 29px {% endunless %};
 }

 @-webkit-keyframes pulsate {
     0% {-webkit-transform: scale(0.1, 0.1); opacity: 0;left:-12px;}
     50% {opacity: 1;}
     100% {-webkit-transform: scale(1, 1); opacity: 1;left:-12px;}
 }

    .timeline ul li {
      list-style-type: none;
      position: relative;
      width: 6px;
      padding-top: 50px;
      background: rgba(185, 200, 107, 0.5);
      margin-left: 6.5%;
      display: flex;
    }

    .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;

    }

    .timeline ul li .wrapper-div {
      position: relative;
      bottom: 0;
      padding: 0 10px;
      display: flex;

    }


    .timeline ul li .wrapper-div::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }

  .time-and-text {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    padding: 0 11px;
    min-width: 400px;
    padding-left: 30px;
  }

  .time-and-text p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
  }


    .time-and-text .time {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: clamp(35px, 4vw, 40px);
      line-height: 44px;
      letter-spacing: -0.01em;
      color: #B9C86B;
      z-index: 1;

    }

    .border-bottom {
      border-bottom: 2px solid #B9C86B;
      padding-top: 20px;
      max-width: 122px;
    }



    .img-beyond {
      padding-bottom: 10px;
    }

    .img-break {
      max-width: 200%;

    }

    .img-break-confetty {
      max-width: 260%;
      position: relative;
      top: -40px;
      right: 275px;
    }

    .img-break-confetty-mb {
      display: none;
    }

    .time-and-text .time.achivement {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: clamp(38px, 2vw, 45px);
      line-height: 44px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
    }




    .timeline ul li::after {
      transition: background .5s ease-in-out;
    }

    .timeline ul li.in-view::after {
        background: #B9C86B;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: 2;
        opacity: 1.0;
    }

    .timeline ul li .wrapper-div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    .timeline ul li .wrapper-div {
      transform: translate3d(0px, 0, 0);
    }



    .timeline ul li.in-view .wrapper-div {
      transform: none;
      visibility: visible;
      opacity: 1;
    }

    @media screen and (max-width: 1190px){
      .timeline ul li {
        margin-left: 20px;
      }

      .time-and-text {
        min-width: 330px;
      }

      .img-break {
          max-width: 120%;
      }
      .celebrate {
        right: -500px;
        max-width: 50vw;
      }

    }

    @media screen and (max-width: 860px){

      .celebrate {
        right: -370px;

      }

    }




    @media screen and (max-width: 768px) {

      .timeline .cta-btn {
        max-width: 90vw;
      }
      .timeline .container {
       padding-bottom: unset;
      }
      .bottom-line-horizontal {
        display: none;
      }
      .celebrate {
        position: unset;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        padding-top: 5px;
      }
      .light-div {
        height: 160px;
      }
      .img-break-confetty {
        display: none;
      }

      .img-break-confetty-mb {
        display: block;
        position: absolute;
        right: -15vw;
        top: -6vw;
        max-height: 150px;
      }
      .time-and-text .time.achivement {
        font-size: clamp(32px, 2vw, 36px);
        line-height: 32px;
        max-width: 53vw;
        margin-top: -40px;
      }

      .img-break {
        max-width: 120%;
      }

      .timeline ul li .wrapper-div {
        width: calc(100vw - 91px);
        flex-direction: column;
      }

      .time-and-text .time {
        line-height: 30px;
      }

       .border-bottom {
        max-width: 30vw;
      }

      .time-and-text p {
        font-size: 20px;
        line-height: 24px;
        max-width: 68vw;
      }

    }

  @media screen and (max-width: 617px) {
    .light-div {
      height: 172px;
    }

    .img-break-confetty-mb {
      right: -22vw;
      top: -8vw;
      max-height: 169px;
    }

  }

  @media screen and (max-width: 562px) {
    .light-div {
      height: 185px;
    }

    .time-and-text .time.achivement {
      max-width: 60vw;
    }

    .img-break-confetty-mb {
      max-height: 170px;
      right: -10vw;
    }
  }

  @media screen and (max-width: 390px) {
  .light-div {
    height: 210px;
  }

  }

  {% comment %} @media screen and (max-width: 350px){
    .faq .faq-item .question:after {
        right: 15vw;
      }
  } {% endcomment %}

  @media screen and (max-width: 323px) {
    .light-div {
      height: 225px;
    }

  }

</style>



<script>
    (function() {

      'use strict';

      // define variables
      var items = document.querySelectorAll(".timeline li");

      // check if an element is in viewport
      // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
          if (isElementInViewport(items[i])) {
            items[i].classList.add("in-view");
          }
        }
      }

      // listen for events
      window.addEventListener("load", callbackFunc);
      window.addEventListener("resize", callbackFunc);
      window.addEventListener("scroll", callbackFunc);

    })();



</script>

{% comment %} 
<script>
    const accordionItemHeaders = document.querySelectorAll(".question");

accordionItemHeaders.forEach(accordionItemHeader => {
  accordionItemHeader.addEventListener("click", event => {

    {% if isAllowOneOpen %}
        const currentlyActiveAccordionItemHeader = document.querySelector(".question.active");
        if (currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
            currentlyActiveAccordionItemHeader.classList.toggle("active");
            currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
        }
    {% endif %}

    accordionItemHeader.classList.toggle("active");
    const accordionItemBody = accordionItemHeader.nextElementSibling;
    if(accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
    }
    else {
      accordionItemBody.style.maxHeight = 0;
    }

  });
});

faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
        slidesPerView: 1,
        spaceBetween: 15,
        watchSlidesVisibility: false,
        loop: false,
        autoHeight: true,
        slideToClickedSlide: true,
        navigation: {
            nextEl: '.faq-section .swiper-button-next',
            prevEl: '.faq-section .swiper-button-prev',
            disabledClass: 'disabled'
        }
    });

    // Open FAQ
    $('.question').click(function() {
       woopra.track('Open FAQ', {
         question_display_text: $(this).text(),
         question_order:  $(this).parents('.faq-item').index() + 1
       })
       });
</script> {% endcomment %}