<div class="real-for-you">
  <div class="container">

    <div class="sub-title">
      <h3><b>What’s in it for you?</b></h3>
      <div class="description-overlay">
       
          To list a few...
       
      </div>
    </div>
    <div class="real-for-you-wrapper">
      {% for realChange in realChanges %}
      <div class="change-item-and-desc">
        <div class="change-item-thumbnail">
          <img src="{{ realChange | asset_url | split: "*" | first }}" width="102" height="86" alt="">
          {{ realChange | split: "*" | last | split: ":" | first }}
        </div>
        <div class="rw-item-description">
        {{ realChange | split: "*" | last | split: ":" | last }}
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="border-desk"></div>
    <div class="descripton-wrapper">
    <div class="rw-item-description">
      If you’re not satisfied with the program, we’ll give you your money back for up to 60 days! That’s how confident we feel about the program. We’re your partner through the whole journey. 
    </div></div>
      <div class="button-wrapper">
    <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
    </div>
  </div>
</div>

<style>
  .real-for-you {
    background: var(--light-brown);
  }

  .real-for-you .sub-title {
    padding-top: 60px;
  }

  .real-for-you .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    color: var(--dark-green);
    padding-bottom: 30px;
  }

  .real-for-you .sub-title .description-overlay  {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-green);
    padding-bottom: 20px;
  }



  .real-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .border-desk {
    border-top: 1px solid var(--dark-green);
    width: 60%;
    margin: 0 auto;  
  }

  .change-item-and-desc {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
  }

  .change-item-thumbnail {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: var(--dark-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .descripton-wrapper {
    padding: 30px 0;
  }

  .rw-item-description {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--dark-green);

  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .real-for-you .container .cta-btn {  
    background: var(--dark-green);
    border: 1px solid var(--dark-green);
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    padding: 20px 60px;  
    color: var(--white);
    margin-left: unset;
    margin-top: 20px;
    
  }

  .real-for-you .container .cta-btn:hover {
    background: #9eb069;
    border: 1px solid  #9eb069;
  }



  @media screen and (max-width: 768px) {
    .border-desk {
      display: none;
    }

    .real-for-you-wrapper {
      padding-bottom: unset;
      gap: 20px;
    }

    .real-for-you .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
      padding-bottom: unset;
    }

    .real-for-you .sub-title .description-overlay {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      padding-bottom: unset;
    }

    .change-item-and-desc {
      max-width: unset;
      width: 100%;

    }

    .change-item-thumbnail {
      flex-direction: row;
      width: 100%;
      font-size: 24px;
      justify-content: flex-start;
      text-align: left;
    }

    .rw-item-description {
      text-align: left;
    }

    .real-for-you .container .cta-btn {  
      position: unset; 
      width: unset;
      z-index: unset;
      padding: 20px 40px;
      font-size: 21px;
    }

  }
</style>