
<section class="hero-banner">
    <img class="main-img-mb" src="{{ 'thirty-strong-woman-mobile.png' | asset_url }}" width="750" height="727" alt="bottle-hand-mask-mb" loading="lazy"> 
    <div class="container">
      <div class="hero-banner-content">
       
        <div class="text-button">
          {% if isSecondLP %} 
          <img class="title-img" src="{{ 'lp02-percent-off.png' | asset_url }}" width="456" height="235" alt="bottle-hand-mask" loading="lazy">
          {% endif %}
      <div class="main-title">{{ mainTitle }}{% if isSecondLP %} <span class="plus">+</span>{% endif %} </div>
      <div class="second-title">{{ mainSecondTitle  }}</div>
          <div class="subtitle">{{ subTitle }}</div>
          {% unless isSecondLP %}
          <div class="text-hero">{{ textHeroTitle }} </div>
          <div class="sub-text-hero">{{ subTextHero }}</div>
         {% endunless %}
        </div>
        <img class="main-img" src="{{ 'thirty-strong-woman.png' | asset_url }}" width="1271" height="879" alt="bottle-hand-mask" loading="lazy">
      </div>    
    </div>

    {% if isSecondLP %} 
      <div class="bottom-text">Exclusive for existing Curalife customers!</div>
    {% endif %}
     
  </section>
  
  <style>
  
    
    .hero-banner {
      padding: 30px 0;
      position: relative;
      overflow: hidden;
      background-image: linear-gradient(to top, #d07d5b, #db8262, #e58869, #f08d70, #fb9378);
      z-index: -2;
    }
  
    .hero-banner-content {
      display: flex;
  
    }
  
    .hero-banner .main-img {
      position: relative;
      z-index: -1;
      right: 566px;
      top: 30px
    }
  
  
   
  
    .hero-banner-content .text-button {
      padding-top: {% if isSecondLP %}90px{% endif %};
      display: flex;
      flex-direction: column;
      min-width: 66%;
    }
  
    .hero-banner-content .text-button .main-title, .second-title  {
      color: {% if isSecondLP %}#ffffff{% else %} #FFF1E8{% endif %};
      font-family: 'PP Radio Grotesk';
      font-weight: 700;  
      padding: {% unless isSecondLP %} 0px 0px 0px 90px {% endunless %};
  }

  .hero-banner-content .text-button .main-title {
     font-size: {% if isSecondLP %} clamp(43px, 5vw, 75px){% else %} clamp(40px, 5vw, 115px){% endif %};
     line-height: 4.5rem;
  }

  .second-title { 
    font-size: clamp(27px, 3vw, 100px);
  }

  .title-img{
    max-width: 70%;
  }

   .plus {
    color: #404733;
    font-family: 'PP Radio Grotesk';
    font-weight: 900;
    font-size: clamp(58px, 8vw, 108px);
    position: relative;
    top: 0.5rem;
  }
    .hero-banner-content .text-button .subtitle {
      padding-left: {% unless isSecondLP %}85px {% endunless %};
      color: {% if isSecondLP %}#ffffff{% else %} var(--dark-green){% endif %};
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size:{% if isSecondLP %}clamp(26px, 4vw, 55px){% else %} clamp(22px, 4vw, 53px){% endif %};
      {% if isSecondLP %}letter-spacing: -0.02em{% endif %};
      max-width: {% if isSecondLP %}60%{% endif %};
      line-height: 4rem;
    }
  
    .hero-banner-content .text-button .text-hero, .sub-text-hero {
        padding-left: 84px;
        font-family: 'DM Sans';
        color: #ffffff;
        max-width: 504px;  
        line-height: 2.5rem;
    }

    .hero-banner-content .text-button .text-hero {
      font-weight: 700;
      font-size: clamp(24px, 5vw, 28px);
      padding-top: 26px;
    }

    .hero-banner-content .text-button .sub-text-hero {
      font-weight: 400;
      font-size: clamp(20px, 3vw, 25px);
      padding-top: 25px;
    }

  
    .hero-banner .main-img-mb {
      display: none;
    }

    .bottom-text{
      background-image: linear-gradient(90deg, #F9D3C9 45.73%, rgba(255, 219, 209, 0) 86.11%);
      opacity: 0.8;
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: clamp(26px, 3vw, 50px);
      letter-spacing: -0.02em;
      color: #404733;
      display: flex;
      justify-content: center;
      position: relative;
      bottom: -20px;
      max-height: 100px;
      z-index: 2;
    }
  
  
  
    @media screen and (max-width: 1125px) {
      .hero-banner .main-img {
          right: 200px;
          width: 70%;
      }
  
      .hero-banner-content .text-button .text-hero, .sub-text-hero {
        max-width: 470px;
        padding-top: 16px;
      }
    }
  
  
  
  
  
    @media screen and (max-width: 768px) {
      .hero-banner {
        height: {% if isSecondLP %} 100vh {% endif %};
        text-align: center;
      }
      .hero-banner-content {
        display: block;
      }

      .hero-banner-content .text-button {
        padding-top: unset;
      }
  
      .hero-banner-content .text-button .main-title, .second-title {
        padding: unset;
        text-align: center;
        
      }

      .second-title { 
        padding-bottom: 2vw;
      }

      .title-img{
        margin: 1vw auto;
      }

      .plus {
        top:0.2rem;
      }

      .hero-banner-content .text-button .subtitle {
        padding-top: unset;
        padding-left: unset;
        text-align: center;
        max-width: {% if isSecondLP %}60vw{% else %} unset {% endif %};
        margin: {% if isSecondLP %}auto{% endif %};
        line-height: 2rem;
      }
  
      .hero-banner-content .text-button .text-hero, .sub-text-hero {
        padding-top: unset;
        padding-left: unset;
        margin: 0 auto;
        letter-spacing: -0.02em;
        max-width: unset;
        
      }

      .hero-banner-content .text-button .text-hero {
        padding-top: 94vw;
        padding-bottom: 3vw;
      }
  
      .hero-banner-content .main-img {
        display: none;
      }
  
      .hero-banner .main-img-mb {
        display: block;
        position: absolute;
        top: {% if isSecondLP %}42vw {% else %} 15vw {% endif %};
        width: 100%;
      }
  
      .hero-banner-content .text-button {
        margin-left: unset;
      }

      .bottom-text {
        line-height: 26px;
        bottom: 5px;
      }
  
    
    }
  
    @media screen and (max-width: 684px) {
      .hero-banner .main-img-mb {
         top: {% if isSecondLP %}60vw {% else %} 20vw {% endif %};
      }
      }
  
      @media screen and (max-width: 564px) {
      .hero-banner .main-img-mb {
        top: {% if isSecondLP %}70vw{% else %} 30vw{% endif %};
      }
    }

    @media screen and (max-width: 450px){
      .bottom-text {
        bottom: 32px;
      }
    }
  
    @media screen and (max-width: 449px) {
      .hero-banner .main-img-mb {
        top: {% if isSecondLP %}80vw{% else %} 40vw{% endif %};
      }

      .hero-banner {
        height: {% if isSecondLP %} 91vh {% endif %};
      }
    }


    @media screen and (max-width: 375px) {
      .hero-banner {
        height: {% if isSecondLP %} 80vh {% endif %};
      }
    }
  
    @media screen and (max-width: 364px) {
      .hero-banner .main-img-mb {
        top:  {% if isSecondLP %}90vw{% else %}50vw{% endif %};
      }
     
    }
  
  
  
  
  </style>