
<div class="title-wrapper text-center relative z-10">
  <{{ title_tag }} class="title">{{ title }}</{{ title_tag }}>
  <div class="subtitle text-[24px] md:text-[5vw]">{{ subtitle }}</div>
</div>

<style>
  {% if padding_bottom %}
    #section-{{ section_id }} .title-wrapper {
      padding-bottom: {{ padding_bottom }}px;
    }
  {% endif %}

  {% if is_horizontal_lines %}
    #section-{{ section_id }} .title-wrapper .title::before,
    #section-{{ section_id }} .title-wrapper .title::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background-color: black;
      vertical-align: middle;
      margin: 0 10px;
    }
  {% endif %}

  {% if title_swoosh_color %}
    #section-{{ section_id }} .title strong {
      {% unless title_swoosh_color == 'none' %}background-image: url('{{ 'title-swoosh-' | append: title_swoosh_color | append: '.svg' | asset_url }}');{% endunless %}
      {% unless title_swoosh_color == 'none' %}padding: {% unless title_swoosh_color == 'dark-green' or title_swoosh_color == 'pink' %}8px{% else %}30px 10px{% endunless %};{% endunless %}
      {% if span_color %}color: {{ span_color }};{% endif %}
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  {% endif %}

  {% if title_color %}
    #section-{{ section_id }} .title {
      color: {{ title_color }};
    }
  {% endif %}

  {% if subtitle_color %}
    #section-{{ section_id }} .subtitle {
      color: {{ subtitle_color }};
    }
  {% endif %}

  {% if subtitle_color %}
    #section-{{ section_id }} .subtitle span {
      color: {{ span_color }};
    }
  {% endif %}

  {% if is_disable_br_desktop %}
    #section-{{ section_id }} .title br {
      display: none;
    }

    @media (max-width: 768px) {
      #section-{{ section_id }} .title br {
        display: block;
      }
    }
  {% endif %}
</style>

<style>
  #section-{{ section_id }} .title small {
    font-weight: lighter;
  }

  #section-{{ section_id }} .title {
    {% if subtitle == blank %}margin: unset;{% endif %}
    margin-inline: auto;
    margin-bottom: 0.2em;
  }

  @media (max-width: 768px) {
    {% if subtitle == blank %}
      #section-{{ section_id }} .title {
        margin-bottom: 0.5em;
      }
    {% endif %}
  }
</style>