{% if is_hide_on_global and shop.name == "CuraLife Global" %}
  {% assign is_hide = true %}
{% endif %}

{% unless is_hide %}
  <section id="title-section-{{ section_id }}" class="title-section z-10 {% if is_hide_on_mobile %}md:hidden{% endif %}">
    <div class="container text-center">
      <{{ title_tag }} class="title">{{ title }}</{{ title_tag }}>
      <div class="subtitle text-[24px] md:text-[5vw]">{{ subtitle }}</div>

      {% if decor_img %}
        <img class="decor-img {% if is_decor_remove_on_mobile %}md:hidden{% endif %}" src="{{ decor_img | image_url }}" alt="" loading="lazy">
      {% endif %}
    </div>
  </section>

  <style>
    {% if padding_top != 50 and padding_top != blank %}
    #title-section-{{ section_id }} {
      padding-top: {{ padding_top }}px;
    }
  {% endif %}

  {% if padding_bottom != 50 and padding_top != blank %}
    #title-section-{{ section_id }} {
      padding-bottom: {{ padding_bottom }}px;
    }
  {% endif %}

  {% if padding_top_mobile != blank %}
    @media screen and (max-width: 768px) {
      #title-section-{{ section_id }} {
        padding-top: {{ padding_top_mobile }}vw;
      }
    }
  {% endif %}

  {% if padding_bottom_mobile != blank %}
    @media screen and (max-width: 768px) {
      #title-section-{{ section_id }} {
        padding-bottom: {{ padding_bottom_mobile }}vw;
      }
    }
  {% endif %}

    {% if title_swoosh_color %}
      #title-section-{{ section_id }} .title strong {
        {% if span_color %}color: {{ span_color }};{% endif %}
        padding: {% unless title_swoosh_color == 'dark-green' or title_swoosh_color == 'pink' %}8px{% else %}30px 10px{% endunless %};
        background-image: url('{{ 'title-swoosh-' | append: title_swoosh_color | append: '.svg' | asset_url }}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    {% endif %}

    {% if title_color %}
      #title-section-{{ section_id }} .title {
        color: {{ title_color }};
      }
    {% endif %}

    {% if subtitle_color %}
      #title-section-{{ section_id }} .subtitle {
        color: {{ subtitle_color }};
      }
    {% endif %}

    {% if subtitle_color %}
      #title-section-{{ section_id }} .subtitle span {
        color: {{ span_color }};
      }
    {% endif %}

    #title-section-{{ section_id }} .container {
      max-width: {{ max_width }}%;
    }

    {% if bg_color %}
      #title-section-{{ section_id }} {
        background-color: {{ bg_color }};
      }
    {% endif %}

    {% if is_remove_padding_bottom %}
      #title-section-{{ section_id }} {
        padding-bottom: 0;
      }
    {% endif %}

    {% if is_remove_padding_top %}
      #title-section-{{ section_id }} {
        padding-top: 0;
      }
    {% endif %}

    {% if border_color != blank %}
      #title-section-{{ section_id }} .container {
        border-bottom: 1px solid {{ border_color }};
        padding-bottom: 30px;
      }
    {% endif %}

    {% if is_disable_br_desktop %}
      #title-section-{{ section_id }} .title br {
        display: none;
      }

      @media (max-width: 768px) {
        #title-section-{{ section_id }} .title br {
          display: block;
        }
      }
    {% endif %}
  </style>

  <style>
    #title-section-{{ section_id }} .title small {
      font-weight: lighter;
    }

    #title-section-{{ section_id }} .title {
      {% if subtitle == blank %}margin: unset;{% endif %}
      margin-inline: auto;
      margin-bottom: 0.2em;
    }

    @media (max-width: 768px) {
      .title-section .container {
        max-width: 100% !important;
      }

      {% if subtitle == blank %}
        #title-section-{{ section_id }} .title {
          margin: 0.5em;
        }
      {% endif %}
    }
  </style>
{% endunless %}

{% if decor_img %}
  <style>
    #title-section-{{ section_id }} .decor-img {
      position: absolute;
      z-index: {% if is_decor_above %}2{% else %}1{% endif %};
      top: {{ decor_position_top }}%;
      left: {{ decor_position_left }}%;
      opacity: {{ decor_opacity }}%;
      max-width: {{ decor_max_width }}%;
    }

    @media screen and (max-width: 768px) {
      #title-section-{{ section_id }} .decor-img {
        top: {{ decor_position_top_mobile }}%;
        left: {{ decor_position_left_mobile }}%;
      }
    }
  </style>
{% endif %}