{% assign clients = '“It started with my manager now 4 of us are on it. My doctor said give it
a
try.”*Jeff Ogden
|“Outstanding product and results. I cannot thank you enough for making
this
possible.”*Michael Edwards
|“Curalin has worked exceptionally well for me! Thank you Curalin for
helping
me help
myself feel better naturally. Definitely 5 stars!”*Colin Reader

' | split: '|' %}

{% assign percents = 'Are satisfied with Curalin*88.5%@width: 88.5%;
background: linear-gradient(
90.05deg
, #00D8C7 0%, #00B89D 100%);
|Feel safe using Curalin*98.1%@width: 98.1%;
background: linear-gradient(
90.05deg
, #FACC37 0%, #F5A412 100%);
|Saw a big impact in their lives*84%@width: 84%;
background: linear-gradient(
90.05deg
, #FF90AC 0%, #FF5476 100%);
|Would recommend Curalin to a friend*84%@width: 89%;
background: linear-gradient(
90.05deg
, #ACE5B6 0%, #76CF84 100%);
' | split: '|' %}

<div class="support-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="changing-experiences">
          <div class="sub-title">
            <h2 class="d-desktop">What Our Clients Say <br>About Curalin</h2>
            <h2 class="d-mobile">Life Changing Experiences</h2>
          </div>
          <div class="quote-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% for client in clients %}
                    <div class="swiper-slide">
                    <div class="quote-card">
                        <blockquote>
                        <span class="quote-span"><i class="fa fa-quote-left"></i>  </span>
                        <p>{{ client | split: "*" | first }}</p>
                        </blockquote>
                        <div class="quote-info">
                        <div class="quote-author">
                            <p>{{ client | split: "*" | last }}</p>
                        </div>
                        <div class="quote-rating">
                            <p>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            </p>
                        </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}

              </div>
              <div class="slide-control">
                <div class="nav prev-slide"><span><</span></div>
                <div class="nav next-slide"><span>></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="customer-success">
    <div class="container">
        <div class="intro-text">
          <div class="sub-title">
            <h2>Customer Success With Curalin</h2>
          </div>
        </div>
        <div class="success-list">
          <ul>
            {% assign contr = 0 %}
            {% for percent in percents %}

            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>{{ percent | split: "*" | first }}</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>{{ percent | split: "*" | last | split: "@" | first }}</p>
                </div>
                <div class="data">
                  <span style="{{ percent | split: "*" | last | split: "@" | last }}"></span>
                </div>
              </div>
            </li>

            {% assign contr = contr | plus : 1 %}

            {% endfor %}
          </ul>
        </div>
    </div>
  </section>

  <section>
      <div class="container">
            <div class="feature-info">

              <div class="img-wrap">
                <span><img src="{{ 'curalin-bottle.png' | asset_url }}" alt="" loading="lazy"></span>
              </div>

              <div class="intro-text">
                <div class="sub-title">
                  <h2>Maintain Healthy<br> Glucose levels</h2>
                  <p>Curalin is designed specifically for people looking for an effective and natural way to maintain healthy glucose levels so they can enjoy life’s events to the fullest</p>
                </div>
                <div class="btn">
                  <a href="/collections?category=glucose-support"><button>Shop Now</button></a>
                </div>
              </div>
        </div>
      </div>
  </section>
</div>

<style>
  .sub-title {
      text-align: center;
  }

  .sub-title .d-mobile {
      display: none;
  }

  .slide-control {
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }

  .quote-slider .nav {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background: var(--light-green);
    position: absolute;
    top: calc(50% - 20px);
    z-index: 5;
    transition: background var(--transition);
    line-height: 1;
    display: flex;
  }
  .quote-slide