
 <div  class="sale-banner-easter-button">
  <div class="container">
    <div class="logo-wrapper">
     <img class="logo" src="{{ section.settings.bg_image | image_url }}" width="164" height="45" alt="logo">
    </div>

    <div class="cta-wrapper">

      <div class="twenty-percent-off">
            <div class="up-to">
                {{ section.settings.text_1 }}
            </div>
            <div class="off">{{ section.settings.text_2 }}</div>
            <div class="twenty">{{ section.settings.text_1_mb }}</div>
            <div class="percent-off">
                <div class="percent">{{ section.settings.text_2_mb }}</div>
                <div class="off-mobile">{{ section.settings.text_3_mb }}</div>
            </div>
        </div>


     {% if shop.name == "Curalife" %}
      <a class="main-btn" id='main-cta-btn' href="{{ section.settings.button_link }}">{{ section.settings.text_button }}</a>
    {% else %}
     <a class="main-btn" id='main-cta-btn' href="{{ section.settings.button_link2 }}">{{ section.settings.text_button }}</a>
    </div>
   {% endif %}
  </div>
</div>


<style>
   section.sale-banner-easter-button {
    padding: unset !important;
  }
   .sale-banner-easter-button {
    background-color: {{ section.settings.bg_color }};
    background-image: url("{{ section.settings.bg_image2 | image_url }}");
    background-size: cover;
    background-position: center;

  }
   .twenty-percent-off {
    display: flex;
  }

   .up-to {
    width: 25px;
    height: 40px;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .off {
    margin-left: 10px;
    height: 40px;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 50px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

   .twenty {
    display: none;
  }

  .percent-off {
    display: none;
  }

  .sale-banner-easter-button a.main-btn {
    font-size: 26px;
    padding: 10px 40px;
    color: {{ section.settings.button_title_color }};
    background: {{ section.settings.button_color }};
    border-radius: 6px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 768px) {
    .sale-banner-easter-button {
      display: none;
    }

   .up-to {
      margin-top: 10px;
      width: 20px;
      height: 15px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
    }

     .off {
      display: none;
    }

     .twenty {
      display: flex;
      width: 55px;
      height: 47px;
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }

     .percent-off {
      display: flex;
      margin-left: -10px;
    }

    .percent {
      height: 47px;
      margin-top: -5px;
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 40px;

      }
       .off-mobile {
          font-family: 'PP Radio Grotesk';
          font-weight: 700;
          font-size: 40px;
          margin-top: -4px;
      }
    }

</style>



<style>

section {
  padding: unset;
}

 .sale-banner-easter-button {
    position: fixed;
    top: 0;
  }

   .sale-banner-easter-button img.logo {
    display: block;
  }



  .sale-banner-easter-button .off-container {
    display: flex;
  }





  @media screen and (max-width: 768px) {
    .sale-banner-easter-button .container {
        gap: 3vw;
      }


       .sale-banner-easter-button img.logo {
      display: block;
      width: 100%;
      max-width: 100px ;
    }



     .sale-banner-easter-button .cta-wrapper {
      width: 100%;
    }

     .sale-banner-easter-button. .off-container {
        display: flex;
    }

    .sale-banner a.main-btn {
      text-align:center;
      font-size: 4vw;
      padding: 3vw;
      height: 10vw;
    }


  }
</style>

<style>
   .sale-banner-easter-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    min-height: 80px;
  }



   .sale-banner-easter-button .container {
    position: relative;
    min-height: 80px;
    display: flex;
    justify-content: {% if isOnlyLogo %} center {% else %} space-between {% endif %};
    align-items: center;
  }

  .sale-banner-easter-button img.logo {
    object-fit: contain;
  }



  .sale-banner-easter-button .cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: #404733;
  }

  .sale-banner-easter-button .off-container {
    justify-content: center;
    align-items: center;
    font-family:'PP Radio Grotesk';
    gap: 10px;

  }

   .sale-banner-easter-button .percents-off {
    margin-right: 10px;
    font-size: clamp(20px, 2vw, 35px);
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

   .sale-banner-easter-button a.main-btn {
    font-size: 26px;
    padding: 10px 40px;
    color: white;
    background: var(--dark-green);
    border-radius: 6px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 768px) {

  .sale-banner-easter-button {
      min-height: 60px;
    }

    .sale-banner-easter-button .container {
      min-height: 60px;
    }



    .sale-banner-easter-button .cta-wrapper {
      gap: 1vw;
    }

     .sale-banner-easter-button .off-container {
      gap: unset;
    }



     .sale-banner-easter-button .percents-off {
      display:flex;
      justify-content: center;
      margin-right: unset;
      font-size:  4vw ;
      line-height: 4vw;
    }

     .sale-banner-easter-button a.main-btn {
      text-align:center;
      font-size: 4vw;
      padding: 3vw;
      height: 10vw;
    }
  }

  @media screen and (max-width: 425px) {
     .up-to {
      margin-top: 2vw;
      width:  5vw;
      font-size: 3vw;
      line-height:3vw;
    }
  }
</style>

{% schema %}
{
  "name": "Header Easter Button",
  "tag": "section",
  "class": "header-easter-button",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },

    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image2",
      "label": "Background Image 2"
    },
    {
      "type": "image_picker",
      "id": "bg_image2_mb",
      "label": "Background Image 2 Mobile"
    },

    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },

    {
      "type": "text",
      "id": "text_1_mb",
      "label": "Text 1 Mobile"
    },
    {
      "type": "text",
      "id": "text_2_mb",
      "label": "Text 2 Mobile"
    },

    {
      "type": "text",
      "id": "text_3_mb",
      "label": "Text 3 Mobile"
    },

    {
      "type": "text",
      "id": "text_button",
      "label": "Text Button"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_link2",
      "label": "Button Link 2"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "presets": [
    {
      "name": "Header Easter Button"
    }
  ]
}
{% endschema %}
