<section id="natural-ingredients-{{ section.id }}" class="natural-ingredients no-padding">
  <div class="container">
      <div class="natural-ingredients_mainpanel">
        <div class="ingredients_mainpanel-img">
          <img src="{{ section.settings.main_image | img_url: 'master'}}" width="676" height="203" alt="">
          <div class="ingredients_mainpanel-img_notice">
            {{ section.settings.small_text }}
          </div>
        </div>

        <div class="ingredients-mainpanel">
          {% for block in section.blocks %}
          <div class="ingredients-mainpanel_card">
            <div class="card-icon_overlay">
              <div class="card-icon">
                <img src="{{ block.settings.badge_image | img_url: 'medium' }}" height="59" width="58" alt="">
              </div>
            </div>
            <div class="card-description">
              <p>{{ block.settings.badge_name }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
</section>

<style>
  .card-description {
    font-size: 1.0rem;
    line-height: 1.1;
    text-align: center;
    color: #000;
    margin-top: 1.3125rem
  }

  .card-icon_overlay {
    max-width: 5.3125rem;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
  }

  .card-icon_overlay:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    pointer-events: none
  }

  .card-icon_overlay .card-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
  }

  .card-icon_overlay .card-icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
  }

  .natural-ingredients_mainpanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: .2875rem
  }

  .ingredients-mainpanel_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .625rem .1875rem;
    width: 25%;
    margin-bottom: .9375rem
  }

  .ingredients-mainpanel_card p {
    margin: 0
  }

  .ingredients-mainpanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.8125rem -.625rem 0 -2.6875rem;
    padding-top: 1.375rem;
    width: calc(51.1% + 53px)
  }

  .natural-ingredients_mainpanel:after {
    content: "";
    position: absolute;
    left: -12.75rem;
    top: -2.75rem;
    background-image:url({{ section.settings.bg_image | img_url: 'master'  }});
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    max-width: 53.3125rem;
    width: 100%;
    height: 31.75rem;
    z-index: -1
  }

  .ingredients_mainpanel-img_notice {
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1;
    color: #000;
    margin-top: 6.375rem;
    padding-left: 2.4375rem;
    text-align: left
  }

  .natural-ingredients {
    width: 100%;
    max-width: 100%;
    padding-bottom: 3.3125rem;
    padding-top: 4.9375rem;
    text-align: center
  }

  .natural-ingredients .survey-button {
    margin-bottom: 4.1875rem
  }


  .ingredients_mainpanel-img {
    max-width: 41.875rem;
    width: 48.9%;
    margin-top: 7.25rem
  }

  @media screen and (max-width: 991px) {
    .natural-ingredients {
      padding-bottom: 2.8125rem;
      padding-top: 2.1875rem
    }

      .life-changes .survey-button,
      .natural-ingredients .survey-button {
      margin-bottom: 3.125rem
      }

      .ingredients_mainpanel-img_notice {
      font-size: .875rem;
      margin-top: 3.125rem;
      padding-left: 1.875rem
      }

      .card-icon_overlay {
      max-width: 4.375rem
      }

      .card-description {
      font-size: .875rem;
      margin-top: .625rem;
      padding: 0
      }

      .ingredients-mainpanel {
      margin: 3.125rem 0 0 -2.6875rem;
      padding-top: 0;
      width: calc(51.1% + 2.6875rem)
      }

      .ingredients_mainpanel-img {
      margin-top: 6.25rem
      }

      .ingredients-mainpanel_card {
      width: 33.3333333333%;
      margin-bottom: 0;
      padding: .5rem .625rem
      }
  }

  @media screen and (max-width: 768px){
    .natural-ingredients {
      padding-bottom: 1.125rem
    }

    .natural-ingredients_mainpanel {
      flex-wrap: wrap
    }

    .ingredients_mainpanel-img {
      margin: 1.5rem -3.125rem 0 -.4375rem;
      width: calc(100% + 3.5625rem)
    }

    .ingredients_mainpanel-img_notice {
      font-size: .5rem;
      margin-top: 1.5625rem;
      padding-left: .5625rem
    }

    .ingredients-mainpanel {
      margin: 0 -15px;
      padding-top: 1.375rem;
      width: calc(100% + 1.875rem)
    }

    .card-icon_overlay {
      max-width: 2.75rem
    }

    .card-description {
      font-size: .75rem;
      margin-top: .5rem
    }

    .ingredients-mainpanel_card {
      padding: .875rem .1875rem
    }

    .ingredients-mainpanel_card.no-mb {
      display: none
    }

    .natural-ingredients_mainpanel:after {
      display: none
    }
  }
</style>


{% schema %}
    {
        "name": "Natural Ingredients",
          "disabled_on": {
            "groups": [
              "header",
              "footer"
            ]
          },
          "settings": [
            {
              "type": "image_picker",
              "id": "bg_image",
              "label": "Background Image"
            },
            {
              "type": "image_picker",
              "id": "main_image",
              "label": "Main Image"
            },
            {
                "type": "text",
                "id": "small_text",
                "label": "Small Text"
            }
          ],
          "blocks": [
            {
              "type": "badge",
              "name": "Badge",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "badge_image",
                  "label": "Badge Image"
                },
                {
                  "type": "text",
                  "id": "badge_name",
                  "label": "Badge Name"
                }
              ]
            }
          ],
          "presets": [
          {
              "name": "Natural Ingredients"
          }
        ]
    }
{% endschema %}