<section class="contact-us-section" id="contact-us-section">
  {% if box_link %}<a href="{{ box_link }}">{% endif %}
  <div class="container">
    <h2>{{ section.settings.title }}</h2>

    <div class="contact-options">
      {% assign contacts = section.blocks | where: 'type', 'contact_options' %}
        {% for block in contacts %}
          {% if shop.name == 'CuraLife' %}
            {% assign theLink = block.settings.link_us %}
          {% elsif shop.name == "CuraLife Global" %}
            {% assign theLink = block.settings.link_global %}
          {% endif %}

          {% if block.settings.link_us != blank %}<a href="{{ theLink }}">{% endif %}
          <div class="contact-option">
            <i class="{{ block.settings.icon_option }}"></i>
            <p>{{ block.settings.text_option }}</p>
          </div>
        {% if block.settings.link_us != blank %}</a>{% endif %}
        {% endfor %}
    </div>
    <div class="phone-numbers">
      {% assign phones = section.blocks | where: 'type', 'phone_numbers' %}
        {% for block in phones %}
        <div class="phone-number">
            <img src="{{ block.settings.flag_img | img_url: 'medium' }}" width="32" height="32" alt="" loading="lazy">
            <a href="tel:{{ block.settings.phone_link }}"><p>{{ block.settings.phone_number }}</p></a>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if box_link %}</a>{% endif %}
</section>

<style>
  {% if section.settings.bg_color %}
    .contact-us-section {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}
  .contact-us-section .container h2 {
    text-align: center;
  }

  .contact-us-section .container .contact-options {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
  }

  .contact-us-section .container .contact-options .contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .contact-us-section .container .contact-options .contact-option svg {
    border-radius: 50%;
    background-color: {{ section.settings.icon_background }};
    padding: 20px;
    width: 60px;
    height: 60px;
  }

  .contact-us-section .container .phone-numbers {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin: 30px auto auto;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-us-section .container .phone-numbers .phone-number {
    display: flex;
    align-items: center;
  }

  .contact-us-section .container .phone-numbers .phone-number img {
    width: 25px;
  }

  .contact-us-section .container .phone-numbers .phone-number p {
    font-size: 18px;
    margin: 10px;
    color: black;
  }

  @media screen and (max-width:768px) {
    .contact-us-section .container h2 {
        font-size: 6vw;
        text-align: center;
        max-width: unset;
        margin-bottom: 10px;
    }

    .contact-us-section .container .contact-options {
        gap: 5vw;
        margin-top: 40px;
    }

    .contact-us-section .container .contact-options .contact-option p {
      font-size: 0.6em;
    }

    .contact-us-section .container .contact-options .contact-option svg {
        width: 10vw;
        height: 10vw;
    }

    .contact-us-section .container .contact-options .contact-option .img-wrapper {
        width: 20vw;
        height: 20vw;
        padding: 15px;
    }

    .contact-us-section .container .phone-numbers .phone-number a p {
        font-size: 0.5em;
    }
  }

  @media screen and (max-width: 445px) {
    .contact-us-section .container .phone-numbers .phone-number a p {
        font-size: 0.9em;
    }
    .contact-us-section .container .contact-options .contact-option p {
        font-size: 0.8em;
    }
  }
</style>

{% schema %}
{
  "name": "Contact Us Section",
  "tag": "section",
  "class": "contact-us no-padding",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
        "type": "color",
        "id": "icon_background",
        "label": "Icon Background Color",
        "default": "#9eb069"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We’re here for you 24/7. <br>Get in touch any time."
    }
  ],
  "blocks":[
     {
        "name":"Contact Options",
        "type":"contact_options",
        "settings":[
           {
              "type":"text",
              "id":"icon_option",
              "label":"Icon Option"
           },
           {
            "type":"text",
            "id":"text_option",
            "label":"Text Option"
           },
           {
            "type":"url",
            "id":"link_us",
            "label":"Link US"
           },
           {
            "type":"url",
            "id":"link_global",
            "label":"Link Global"
           }
        ]
     },
     {
        "name":"Phone Numbers",
        "type":"phone_numbers",
        "settings":[
           {
              "type":"image_picker",
              "id":"flag_img",
              "label":"Flag Image"
           },
           {
              "type":"text",
              "id":"phone_link",
              "label":"Phone Link"
           },
           {
              "type":"text",
              "id":"phone_number",
              "label":"Phone Number"
           }
        ]
     }
  ],

  "presets": [
    {
      "name": "Contact Us Section"
    }
  ]
}
{% endschema %}