<section class="life-changes">
  <div class="container overflow-hidden">
    <h2 class="text-center">{{ section.settings.title }}</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="video-block-item">
              <div class="video-player">
                <iframe src="{{ block.settings.vidURL | escape }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="{{ block.settings.video_title }}"></iframe>
              </div>
              <div class="video-headline"><p>"{{ block.settings.video_description }}"</p></div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button swiper-button-next"></div>
      <div class="swiper-button swiper-button-prev"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
      on: {
        init: function() {
          const firstSlideIframe = document.querySelector('.swiper-slide-active iframe');
          if (firstSlideIframe) {
            firstSlideIframe.click();
          }
        },
      },
    });

    swiper.on('slideChange', function () {
      const activeSlideIframe = document.querySelector('.swiper-slide-active iframe');
      if (activeSlideIframe) {
        activeSlideIframe.click();
      }
    });
  });
</script>

<style>
  .swiper-button {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .swiper-button::after {
    font-size: 20px;
  }

  .life-changes {
    margin-top: unset !important;
  }

    .video-player {
      width: 100%;
      position: relative;
      object-fit: cover
    }

    .video-player:before {
      content: "";
      display: block;
      padding-bottom: 78.5%;
      pointer-events: none
    }

    .video-player * {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover
    }

    .video-player+.close-player {
      display: none
    }

    .video-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      margin-top: 50px;
    }

    .video-wrapper .video-block-item {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      border: 1px solid {{ section.settings.border_color }};
      max-width: 368px;
    }

    .video-wrapper .video-player #frame .lvo-playbtn {
      background: {{ section.settings.video_color }};
      width: 3.25rem;
      height: 3.25rem
    }

    .video-wrapper .video-headline {
      text-align: center;
      padding: 1rem;
    }

    .video-wrapper .video-headline p {
      min-height: 3.8125rem
    }

    .video-wrapper .video-headline * {
      margin: 0
    }

    /* .video-wrapper .video-headline:after {
      content: "";
      position: absolute;
      top: .5rem;
      left: 50%;
      transform: translate(-50%);
      display: inline-block;
      width: 1.75rem;
      height: 1.4375rem;
      background-image:url({{ section.settings.quote_img | img_url: 'master' }});
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1
    } */


    .life-changes .survey-button {
      margin-bottom: 4.1875rem;
      text-align: center;
      margin: 80px 0 0
    }

    .life-changes {
      background: {{ section.settings.bg_color }};
      position: relative;
      width: 100%;
      max-width: 100%;
      padding-top: 2.3125rem;
      padding-bottom: 5.5rem
    }

    .life-changes .data-wrap {
      padding: 0 2.1875rem
    }

    @media screen and (max-width: 991px) {
        .video-wrapper .video-headline {
            font-size: .875rem;
            padding: 2.3125rem .3125rem 0
          }

          .video-wrapper .video-headline br {
            display: none
          }
        .life-changes {
          padding-top: 2.1875rem;
          padding-bottom: 2.8125rem
        }

        .life-changes .data-wrap,
        .video-wrapper {
          padding: 0
        }
    }
    @media screen and (max-width: 768px) {
      .life-changes {
        margin-top: unset;
      }
      .video-player.full-screen .testimonials_iframe,
      .video-player.full-screen .player-wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30
      }


      .video-player.full-screen+.close-player {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 1rem;
        right: 1rem;
        left: unset;
        cursor: pointer;
        background: none;
        width: 1.875rem;
        height: 1.875rem;
        padding: 0;
        transform: rotate(45deg);
        z-index: 35
      }


      .video-player.full-screen+.close-player:before {
        content: "+";
        font-size: 1.875rem;
        font-weight: 300;
        color: var(--dark-green)
      }
      .video-player.show-video:not(.full-screen) .testimonials_iframe,
      .video-player.show-video:not(.full-screen) .player-wrap {
        pointer-events: none
      }

        .video-wrapper {
          margin: 0 -15px;
          padding: 1.1875rem 0 0 .875rem;
          flex-wrap: nowrap;
          overflow-x: scroll;
          scroll-behavior: smooth
        }

        .video-wrapper::-webkit-scrollbar {
          width: 0
        }

        .video-wrapper .video-block-item-overlay-col {
          flex-shrink: 0 !important;
          margin: 0 .375rem;
          flex: unset;
          width: 100%;
          max-width: 10rem;
          padding: 0
        }

        .video-wrapper .video-headline p {
          min-height: unset
        }

        .video-wrapper .video-headline {
          font-size: .75rem;
          line-height: 1.08;
          padding: .8125rem .1875rem;
          text-align: left
        }

        .video-wrapper .video-headline:after {
          top: .3125rem;
          left: .125rem;
          transform: none;
          width: .8125rem;
          height: .8125rem
        }

        .life-changes {
          padding-top: .9375rem;
          padding-bottom: .9375rem;
          background: none
        }

        .life-changes .survey-button {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .life-changes .survey-button {
          margin-bottom: 3.75rem
        }
    }
</style>

<style>
  .life-changes {
  margin-top: unset !important;
}

.video-player {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.video-player:before {
  content: "";
  display: block;
  padding-bottom: 78.5%;
  pointer-events: none;
}

.video-player * {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-headline {
  text-align: center;
  padding: 1rem;
}

.video-headline p {
  min-height: 3.8125rem;
  margin: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.video-block-item {
  width: 100%;
  max-width: 368px;
  height: 100%;
  border: 1px solid {{ section.settings.border_color }};
}
</style>



{% schema %}
    {
        "name": "Life Changes Videos",
        "disabled_on": {
          "groups": ["header", "footer"]
        },
        "settings": [
          {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color",
                "default": "#F0F0F0"
          },
          {
            "type": "color_background",
            "id": "video_color",
            "label": "Video Color",
            "default": "rgba(255, 255, 255, .3)"
          },
          {

            "type": "color",
            "id": "border_color",
            "label": "Border Color",
            "default": "#C1DAD8"
          },
          {
            "type": "image_picker",
            "id": "quote_img",
            "label": "Quote Image"

          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "ttl_clr",
            "label": "Title Color"
          }
        ],
        "blocks": [
          {
            "type": "client",
            "name": "Client",
            "settings": [
              {
                "type": "text",
                "id": "vidURL",
                "label": "Video URL"
              },

              {
                "type": "text",
                "id": "video_title",
                "label": "Video Title"
              },
              {
                "type": "text",
                "id": "video_description",
                "label": "Video Description"
              }
            ]
          }
        ],
        "presets": [
          {
            "name": "Life Changes Videos"
          }
        ]
    }
{% endschema %}