<section id="life-changes" class="life-changes">
  <div class="container overflow-hidden">
    <h2 class="mb-4 text-center" style="color: {{ section.settings.ttl_clr }};">{{ section.settings.title }}</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="video-block-item">
              <div class="video-player">
                <iframe src="{{ block.settings.vidURL | escape }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="{{ block.settings.video_title | escape }}"></iframe>
              </div>
              <div class="video-headline"><p>"{{ block.settings.video_description | escape }}"</p></div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="swiper-nav swiper-button-next"></div>
      <div class="swiper-nav swiper-button-prev"></div>
    </div>
  </div>
</section>

<script>
  loadSwiper();

  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('#life-changes .swiper', {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: '#life-changes .swiper-button-next',
        prevEl: '#life-changes .swiper-button-prev',
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
      on: {
        init: function() {
          const firstSlideIframe = this.slides[0].querySelector('iframe');
          if (firstSlideIframe) {
            firstSlideIframe.focus();
          }
        },
        slideChange: function() {
          const activeSlideIframe = this.slides[this.activeIndex].querySelector('iframe');
          if (activeSlideIframe) {
            activeSlideIframe.focus();
          }
        },
      },
    });
  });
</script>

<style>
  .life-changes {
    background-color: {{ section.settings.bg_color }};
    padding: 2.3125rem 0 5.5rem;
  }

  .video-player {
    position: relative;
    padding-bottom: 78.5%;
  }

  .video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-block-item {
    border: 1px solid {{ section.settings.border_color }};
    max-width: 368px;
    margin: 0 auto;
  }

  .video-headline {
    text-align: center;
    padding: 1rem;
  }

  .video-headline p {
    min-height: 3.8125rem;
    margin: 0;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 991px) {
    .video-headline {
      font-size: 0.875rem;
      padding: 2.3125rem 0.3125rem 0;
    }

    .life-changes {
      padding: 2.1875rem 0 2.8125rem;
    }
  }

  @media screen and (max-width: 768px) {
    .life-changes {
      padding: 0.9375rem 0;
      background: none;
    }

    .video-block-item {
      max-width: 100%;
    }

    .video-headline {
      font-size: 0.75rem;
      line-height: 1.08;
      padding: 0.8125rem 0.1875rem;
      text-align: left;
    }

    .video-headline p {
      min-height: unset;
    }
  }
</style>

{% schema %}
    {
        "name": "Life Changes Videos",
        "disabled_on": {
          "groups": ["header", "footer"]
        },
        "settings": [
          {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color",
                "default": "#F0F0F0"
          },
          {
            "type": "color_background",
            "id": "video_color",
            "label": "Video Color",
            "default": "rgba(255, 255, 255, .3)"
          },
          {

            "type": "color",
            "id": "border_color",
            "label": "Border Color",
            "default": "#C1DAD8"
          },
          {
            "type": "image_picker",
            "id": "quote_img",
            "label": "Quote Image"

          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "ttl_clr",
            "label": "Title Color"
          }
        ],
        "blocks": [
          {
            "type": "client",
            "name": "Client",
            "settings": [
              {
                "type": "text",
                "id": "vidURL",
                "label": "Video URL"
              },

              {
                "type": "text",
                "id": "video_title",
                "label": "Video Title"
              },
              {
                "type": "text",
                "id": "video_description",
                "label": "Video Description"
              }
            ]
          }
        ],
        "presets": [
          {
            "name": "Life Changes Videos"
          }
        ]
    }
{% endschema %}