<section class="meet-curalin" id="meet-curalin">
  <div class="container">
    <div class="brandmark-info">
    <div class="curaline-brandmark">
      <img src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="339" height="448" alt="">
    </div>
    <div class="curalin-intro">
      {% for block in section.blocks %}
      <div class="curaline-widget-item">
        <div class="curaline-widget-icon">
          <img src="{{ block.settings.image_prove | img_url: 'master' }}" width="64" height="64"  alt="" loading="lazy">
        </div>
        <div class="curaline-widget-text">
          <h4>{{ block.settings.title_prove }}</h4>
          <p>{{ block.settings.description_prove }}</p>
        </div>
      </div>
    {% endfor %}
     
    </div>
    </div>
  </div>
</section>

<style>
  .meet-curalin {
    margin-bottom: 20px;
    position: relative;
  }

  .brandmark-info {
    display: flex;
    flex-wrap: wrap;
  }


  .curalin-intro {
    
    position: relative;
    display: flex;
    flex-wrap: wrap
  }


  .curalin-intro .curaline-widget-item {
    display: flex;
    position: relative;
    z-index: 1
  }

  .curalin-intro .curaline-widget-item .curaline-widget-icon {
    display: flex;
    align-items: center
  }

 


  .curaline-brandmark {
    
  }

  .curaline-widget-text {
   
  }

  .curaline-widget-text h4 {
    margin: 0;
    font-weight: 700;
    font-size: clamp(12px, 2vw, 20px);
    line-height: 1.45;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-text p {
    margin: 0;
    font-weight: 300;
    font-size: clamp(12px, 2vw, 20px);
    line-height: 1.45;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-icon {
    max-width: 4rem;
    width: 100%
  }

 

  @media screen and (max-width: 991px) {
    .meet-curalin .data-wrap {
      
    }

    .curalin-intro {
     
    }

   

    .curaline-widget-text {
     
    }

    .curalin-intro .curaline-widget-item {
      margin-bottom: 1.75rem
    }

    .curaline-widget-text h4 {
      font-size: 1.25rem
    }

    .curaline-widget-text p {
      font-size: 1.125rem
    }

    .curaline-widget-icon {
      max-width: 3.625rem
    }

    .meet-curalin {
      padding-top: 2.1875rem;
      padding-bottom: 1.5625rem
    }

  

    .curaline-brandmark {
      
    }

    @media screen and (max-width: 768px) {

      .meet-curalin {
        
      }

      .meet-curalin h3 {
        font-size: 7vw;
      }

      .meet-curalin p {
        font-size: 5vw;
      }

      .curalin-intro .curaline-widget-item {
        align-items: center
      }

      .curaline-widget-icon {
        
      }

     

      .curaline-widget-text h4,
      .curaline-widget-text p {
       
      }

      .curalin-intro {
        
      }

      .curaline-widget-text {
        padding: 0 5.1875rem 0 .8125rem
      }

    
    
      .curalin-intro .curaline-widget-item {
        
      }

      .curaline-brandmark {
        
      }
    }
  }
</style>





{% schema %}
    {

    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
     
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      },
      {
        "type": "color",
        "id": "txt_clr",
        "label": "Text Color",
        "default": "#404733"

      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
        
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
        
    }
{% endschema %}