<section class="meet-curalin" id="meet-curalin">
  <div class="container">
    <h2 class="mb-9 text-center">{{ section.settings.title }}</h2>

    <div class="curaline-brandmark">
      <div class="text-with-bg flex flex-col items-start justify-between">
        <div class="laboratory flex items-center gap-4">
          <img class="desktop w-fit max-h-[100px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_41916_1.png" width="64" height="75" alt="" loading="lazy">

          <div class="laboratory-text">
            <h3 class="text-black">Clinically Tested</h3>
            <p class="inline-block m-0"> It’s on <span class="inline-block"> <img class="pubmed" src="{{ 'pubmed-logo-blue.png' | asset_url }}" width="98" height="33" loading="lazy" alt=""></span>! Curalin works <br>2-4X better than a placebo.</p>
          </div>
        </div>

        <div class="curalin-intro">
          {% for block in section.blocks %}
            <div class="curaline-widget-item">
              <img class="m-0" src="{{ block.settings.image_prove | img_url: 'master' }}" width="50" height="44"  alt="" loading="lazy">

              <div class="curaline-widget-text">
                <h3 class="h5">{{ block.settings.title_prove }}</h3>
                <div>{{ block.settings.description_prove }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <img class="desk-img object-contain max-h-[400px] mbl:mb-0" src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="878" height="518" alt="">
    </div>
  </div>
</section>

<style>
  #meet-curalin .meet-curalin {
    position: relative;
  }

  #meet-curalin .brandmark-info {
    display: flex;
  }

  #meet-curalin .curalin-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  #meet-curalin .curalin-intro .curaline-widget-item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #meet-curalin .curaline-brandmark {
    position: relative;
    display: flex;
    z-index: 2;
  }

  #meet-curalin .laboratory-text {
    min-width: 200px;
    font-size: 24px;
    white-space: nowrap;
  }

  #meet-curalin .laboratory-text h3 {
    font-size: 26px;
    margin-bottom: unset;
  }

  #meet-curalin .laboratory-text .pubmed {
    max-width: 5rem;
    position: relative;
    top: 6px;
  }

  #meet-curalin .curaline-widget-text h3 {
    margin: 0;
    color: {{ section.settings.txt_clr }};
  }

  @media screen and (max-width: 768px) {
    #meet-curalin h3 {
      font-size: 5vw;
    }

    #meet-curalin .bg-color {
      width: 100%;
      top: 2em;
      min-height: 8em;
    }
    #meet-curalin .curaline-brandmark {
        width: 100%;
    }

    #meet-curalin .text-with-bg {
      flex-direction: column;
      align-items: flex-start;
      gap: 8vw;
    }

    #meet-curalin .laboratory-img {
      max-width: 1.5em;
    }

    #meet-curalin .brandmark-info {
      flex-direction: column;
      justify-content: center;
    }

    #meet-curalin .curalin-intro {
      width: 100%;
      gap: 4vw;
    }

    #meet-curalin .laboratory-text h3 {
      font-size: 5vw;
    }

    #meet-curalin div {
      font-size: 4vw;
    }

    #meet-curalin .curalin-intro .curaline-widget-item {
        align-items: center
    }
  }
</style>

{% schema %}
  {
    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Meet Curalin"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Blood sugar support made for you."
      },
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      },
      {
        "type": "color",
        "id": "txt_clr",
        "label": "Text Color",
        "default": "#404733"
      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
  }
{% endschema %}