<section class="meet-curalin" id="meet-curalin">
  <div class="container">
   <div class="title-curalin">
    <h2>Meet Curalin</h2>
    <p> Blood sugar support made for you...</p>
   </div>
    <div class="brandmark-info">    
    <div class="curaline-brandmark">
      <div class="text-with-bg"></div>
      <img class="desk-img" src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="878" height="518" alt="">     
    </div>
    <div class="curalin-intro">
      {% for block in section.blocks %}
      <div class="curaline-widget-item">
        <div class="curaline-widget-icon">
          <img src="{{ block.settings.image_prove | img_url: 'master' }}" width="64" height="64"  alt="" loading="lazy">
        </div>
        <div class="curaline-widget-text">
          <h4>{{ block.settings.title_prove }}</h4>
          <p>{{ block.settings.description_prove }}</p>
        </div>
      </div>
    {% endfor %}
     
    </div>
    </div>
    </div>
</section>


<style>
  .meet-curalin {
    position: relative;
  }

 .title-curalin {
  position: absolute;
  left: 0;
 }

  .brandmark-info {
    display: flex;
   
  }


  .curalin-intro {
     padding-top: 10%; 
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 25px;
     width: 50%;
  }


  .curalin-intro .curaline-widget-item {
    display: flex;
    position: relative;
    gap: 10px;
    z-index: 1
  }

  .curalin-intro .curaline-widget-item .curaline-widget-icon {
    display: flex;
    align-items: center;
  }
.curaline-brandmark {
    width: 50%;
    position: relative;
  }

  .curaline-brandmark img  {
    margin: unset;
    width: 120%;
  }

 

  .curaline-widget-text h4 {
    margin: 0;
    font-weight: 700;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-text p {
    margin: 0;
    font-weight: 300;
    color: {{ section.settings.txt_clr }};
  }

  .curaline-widget-icon {
    max-width: 4rem;
    width: 100%
  }

  @media screen and (max-width: 1250px) {
    .title-curalin {
     position: unset;     
    }

  }

    @media screen and (max-width: 768px) {
      .curaline-brandmark {
          width: 100%;
      }


      .curaline-brandmark img  {       
        
      }

   

     .brandmark-info {
      flex-direction: column;
      justify-content: center;

     }

     .curalin-intro {
      width: 100%;
      padding-top: unset;
      padding-left: 3vw;
     }

      .meet-curalin h3 {
        
      }

      .meet-curalin p {
        
      }

      .curalin-intro .curaline-widget-item {
        align-items: center
      }

    }
 
</style>





{% schema %}
    {

    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
     
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      },   
      {
        "type": "color",
        "id": "txt_clr",
        "label": "Text Color",
        "default": "#404733"

      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
        
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
        
    }
{% endschema %}