<section class="meet-curalin" id="meet-curalin">
  <div class="container">
    <div class="curalin-intro">
      {% for block in section.blocks %}
      <div class="curaline-widget-item">
        <div class="curaline-widget-icon">
          <img src="{{ block.settings.image_prove | img_url: 'master' }}" width="64" height="64"  alt="" loading="lazy">
        </div>
        <div class="curaline-widget-text">
          <h4>{{ block.settings.title_prove }}</h4>
          <p>{{ block.settings.description_prove }}</p>
        </div>
      </div>
    {% endfor %}
      <div class="curaline-brandmark">
        <img src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="339" height="448" alt="">
      </div>
    </div>
  </div>
</section>

<style>
  .meet-curalin {
    margin-bottom: 20px;
    position: relative;
  }

  .curalin-intro {
    padding-top: 3.125rem;
    padding-left: 4.25rem;
    position: relative;
    display: flex;
    flex-wrap: wrap
  }

  .curalin-intro:after {
    content: "";
    position: absolute;
    width: 52.5rem;
    height: 33.5rem;
    top: 5.8rem;
    left: 50%;
    z-index: -3;
    transform: translate(-50%);
    background-image:url({{ section.settings.main_bg_image | img_url: 'master'  }});
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .curalin-intro .curaline-widget-item {
    display: flex;
    margin-bottom: 2.625rem;
    position: relative;
    z-index: 1
  }

  .curalin-intro .curaline-widget-item .curaline-widget-icon {
    display: flex;
    align-items: center
  }

  .curalin-intro .curaline-widget-item:nth-child(2n+1) {
    width: 61.5%
  }

  .curalin-intro .curaline-widget-item:nth-child(2n+2) {
    width: 38.5%
  }

  .curaline-brandmark {
    position: absolute;
    top: 8.4375rem;
    left: 50%;
    bottom: -.625rem;
    z-index: -1;
    transform: translate(-53%)
  }

  .curaline-widget-text {
    max-width: 24.8125rem;
    width: 100%;
    padding-left: 1.6875rem
  }

  .curaline-widget-text h4 {
    margin: 0;
    font-weight: 700;
    font-size: clamp(12px, 2vw, 20px);
    line-height: 1.45;
    color: #000
  }

  .curaline-widget-text p {
    margin: 0;
    font-weight: 300;
    font-size: clamp(12px, 2vw, 20px);
    line-height: 1.45;
    color: #000
  }

  .curaline-widget-icon {
    max-width: 4rem;
    width: 100%
  }

  @media screen and (min-width: 992px) {
    .curalin-intro .curaline-widget-item:nth-child(2):after {
      content: "";
      display: inline-block;
      width: 14.4375rem;
      height: 6.875rem;
      background-image:url({{ section.settings.arrow_left_img | img_url: 'master'  }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -1.5rem;
      left: -13rem;
      z-index: -1;
    }

    .curalin-intro .curaline-widget-item:nth-child(5) {
      margin-top: 1rem;
      padding-bottom: 1.125rem;
    }

    .curalin-intro .curaline-widget-item:nth-child(5):after {
      content: "";
      display: inline-block;
      width: 22.375rem;
      height: 3.5625rem;
      background-image:url({{ section.settings.arrow_right_img | img_url: 'master'  }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -2.1875rem;
      left: 3.125rem;
      z-index: -1;
    }

    .curalin-intro .curaline-widget-item:nth-child(6) {
      margin-top: 1.4375rem
    }
  }


  @media screen and (max-width: 991px) {
    .meet-curalin .data-wrap {
      padding: 0
    }

    .curalin-intro {
      padding-left: 0
    }

    .curalin-intro .curaline-widget-item:nth-child(2n+1),
    .curalin-intro .curaline-widget-item:nth-child(2n+2) {
      width: 100%
    }

    .curaline-widget-text {
      max-width: 30.625rem;
      padding-left: 1.4375rem
    }

    .curalin-intro .curaline-widget-item {
      margin-bottom: 1.75rem
    }

    .curaline-widget-text h4 {
      font-size: 1.25rem
    }

    .curaline-widget-text p {
      font-size: 1.125rem
    }

    .curaline-widget-icon {
      max-width: 3.625rem
    }

    .meet-curalin {
      padding-top: 2.1875rem;
      padding-bottom: 1.5625rem
    }

    .curalin-intro:after {
      content: "";
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;
      background-position: center
    }

    .curaline-brandmark {
      top: unset;
      left: unset;
      right: -3.125rem;
      bottom: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }

    @media screen and (max-width: 768px) {

      .meet-curalin {
        margin-bottom: unset;
        padding-top: .25rem;
        padding-bottom: 1.5625rem
      }

      .meet-curalin h3 {
        font-size: 7vw;
      }

      .meet-curalin p {
        font-size: 5vw;
      }

      .curalin-intro .curaline-widget-item {
        align-items: center
      }

      .curaline-widget-icon {
        max-width: 1.75rem
      }

      .curalin-intro .curaline-widget-item .curaline-widget-icon {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
      }

      .curaline-widget-text h4,
      .curaline-widget-text p {
        font-size: .875rem;
        line-height: 1.29
      }

      .curalin-intro {
        padding-top: .8125rem
      }

      .curaline-widget-text {
        padding: 0 5.1875rem 0 .8125rem
      }

      .curalin-intro .curaline-widget-item:nth-last-child(2) .curaline-widget-text {
        padding-right: 0
      }

      .curalin-intro:after {
        transform: translate(19%) rotate(-18deg)
      }

      .curalin-intro .curaline-widget-item {
        margin-bottom: .4375rem
      }

      .curaline-brandmark {
        max-width: 15.625rem;
        right: -8.125rem;
        bottom: 3.0625rem
      }
    }
  }
</style>





{% schema %}
    {

    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "main_bg_image",
        "label": "Background Main Image"
      },
      {
        "type": "image_picker",
        "id": "arrow_left_img",
        "label": "Arrow Left Image"
        
      },
      {
        "type": "image_picker",
        "id": "arrow_right_img",
        "label": "Arrow Right Image"
        
      },
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
        
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
        
    }
{% endschema %}