
 <div class="container">
  <div class="sub-title">
    <h3>{{ section.settings.sub_title }} <b>{{ section.settings.bold_title }}</b></h3>
     <div class="description-overlay">
       <h4>{{ section.settings.description }}</h4>
     </div>
  </div>
  <div class="community-wall">
     <img class="community-img" src="{{ section.settings.image1 | img_url: 'master' }}" width="1400" height="402" media="(min-width: 641px)" alt="Community" loading="lazy">
     <img class="community-img-mb" src="{{ section.settings.image2 | img_url: 'master'}}" width="446" height="316" alt="Community" loading="lazy">
  </div>
 </div>

  <style>
  .supported-community {
    padding: 30px 0 0;
  }
    .supported-community .data-wrap {
      padding: 0 1.875rem;
  }

  .supported-community .community-wall {
    text-align: center;
  }

  .supported-community .community-wall img {
    width: 100vw;
    
  }

  .supported-community .community-wall .community-img {
    display: flex;
  }

  .supported-community .community-wall .community-img-mb {
    display: none;
  }

  .supported-community .description-overlay {
    text-align: center;
    margin-bottom: 30px;
  }

  .supported-community .sub-title h3 {
    font-weight: 400;
    text-align: center;
    font-size:  clamp(27px, 3vw, 45px);
  }

  @media screen and (max-width:768px) {
   .supported-community .data-wrap {
    padding: 0;
  }

  .supported-community .community-wall img {
    left: -25px;
  }

  .supported-community .community-wall .community-img {
    display: none;
  }

  .supported-community .community-wall .community-img-mb {
    display: flex;
  }

  }
  </style>

  {% schema %}
    {
        "name":"Supported Community",
        "tag":"section",
        "class":"supported-community",
        "disabled_on":{
           "groups":[
              "header",
              "footer"
           ]
        },
        "settings":[
           {
              "type":"text",
              "id":"sub_title",
              "label":"Sub Title"
           },
           {
              "type":"text",
              "id":"bold_title",
              "label":"Bold Sub Title"
           },
           {
              "type":"text",
              "id":"description",
              "label":"Description Overlay"
           },
           {
              "type":"image_picker",
              "id":"image1",
              "label":"Image"
           },
           {
              "type":"image_picker",
              "id":"image2",
              "label":"Image mobile"
           }
        ],
        "presets":[
           {
              "name":"Supported Community"
           }
        ]
    }
  {% endschema %}




