<div class="testimonials-section">
    <div class="container">
        <div class="data-wrap">
          {% for block in section.blocks %}
            <div class="testimonials_mainpanel">
                <div class="testimonials-video_part">
                    <div class="testimonials_iframe">
                      <iframe src="{{ block.settings.vidURL | escape }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ block.settings.testimonials_title }}"></iframe>
                    </div>
                    <div class="iframe_overlay">
                      <img class="img-overlay" src="{{ block.settings.testimonials_img | img_url: 'master'  }}" width="434" height="437" alt="" loading="lazy">
                    </div>
                </div>
                <div class="close-player"></div>
                <div class="testimonials-description">
                    <div class="testimonials-headline">
                        <h2>
                            {{ block.settings.testimonials_description }}
                        </h2>
                    </div>
                    <div class="testimonials-username">
                        <p>
                            {{ block.settings.testimonials_author }}
                        </p>
                    </div>
                </div>
            </div>
        
         
              <div class="testimonials_mainpanel reverse">
                <div class="testimonials-video_part">
                     <div class="testimonials_iframe">
                       <iframe src="{{ block.settings.vidURL2 | escape }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ block.settings.testimonials_title2 }}"></iframe>
                     </div>
                     <div class="iframe_overlay">
                       <img class="img-overlay" src="{{ block.settings.testimonials_img2 | img_url: 'master'  }}" width="434" height="437" alt="" loading="lazy">
                     </div>
                 </div>
                  <div class="close-player"></div>
                  <div class="testimonials-description">
                      <div class="testimonials-headline">
                          <h2>
                              {{ block.settings.testimonials_description2 }}
                          </h2>
                      </div>
                      <div class="testimonials-username">
                          <p>{{ block.settings.testimonials_author2 }}</p>
                      </div>
                  </div>
              </div>

            {% endfor %}
          
        </div>
    </div>
</div>




  <style>
    .testimonials-section {
     background: {{ section.settings.bg_color2 }};
}

.testimonials_mainpanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 69.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.testimonials_mainpanel:first-child {
    border-bottom: 1px solid {{ section.settings.bg_color3 }};
}

.testimonials_mainpanel.reverse {
    flex-direction: row-reverse;
}

.testimonials_mainpanel.reverse .testimonials-description {
    flex-direction: row-reverse;
    padding: 4.5rem 5.1875rem 0 0;
}

.testimonials-video_part {
    max-width: 29.5625rem;
    width: 42.7%;
    position: relative;
}

.testimonials-video_part:before {
    content: "";
    display: block;
    padding-bottom: 100.7%;
    pointer-events: none;
}

.testimonials_iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.testimonials_iframe * {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iframe_overlay {  
    background-size: cover; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 5;
    pointer-events: none;
}

.active {
  display: none;

}

.testimonials-video_part+.close-player {
    display: none;
}

.testimonials-description {
    width: 57.3%;
    padding: 4.5rem 0 0 5.1875rem;
    position: relative;
    z-index: 3;
}

.testimonials-headline {
    position: relative;
}

.testimonials-headline span {
    font-weight: 700;
}

.testimonials-headline * {
    font-size: 2.1875rem;
    line-height: 1.43;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin: 0;
}

.testimonials-username {
    position: relative;
}

.testimonials-username * {
    font-size: 1.5rem;
    line-height: 1.43;
    position: relative;
    z-index: 2;
    font-weight: 300;
    margin: 0;
}

.testimonials-headline:after {
    content: "";
    background-image: url("{{ section.settings.image_quote | img_url: 'medium' }}");
    background-size: contain;
    max-width: 6.6875rem;
    width: 100%;
    height: 5.8125rem;
    position: absolute;
    left: 0.25rem;
    top: -3.6875rem;
    background-repeat: no-repeat;
    z-index: 1;
}

.testimonials-video_part.show-video .testimonials_iframe {
    z-index: 10;
}

@media screen and (max-width:768px) {
  .testimonials_mainpanel {
    flex-wrap: wrap;
  }
    .testimonials-video_part {
    max-width: unset;
    width: 100%;
    margin: 0 1.25rem;
}

.testimonials-description {
    width: 100%;
    padding: 2.5rem 1.875rem 0 3.25rem !important;
}

.testimonials-headline * {
    font-size: 1.0625rem;
}

.testimonials-headline:after {
    max-width: 2.8125rem;
    height: 2.1875rem;
    top: -1.125rem;
    left: -1.0625rem;
}

.testimonials-username {
    padding-top: 0.125rem;
}

.testimonials-username * {
    font-size: .6875rem;
}
}
</style>


 <script>
  function showvideo() {
    this.classList.add('show-video');
  }
  document.querySelector('.iframe_overlay').closest(".testimonials-video_part").addEventListener('click', showvideo())
  
</script>  




{% schema %}
{
  "name": "Testimonials Section",
  "tag": "section",
  "class": "aio-testimonials-section no-padding",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },

    {
        "type": "color_background",
        "id": "bg_color2",
        "label": "Background Color 2",
        "default": "rgba(234,234,234,.5)"
    },

    {
        "type": "color_background",
        "id": "bg_color3",
        "label": "Background Color 3",
        "default": "lightgrey"
    },
    {
      "type": "image_picker",
      "id": "image_quote",
      "label": "Quote Image"
    }
  
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Testimonials Slide",
      "settings": [
        {
          "type": "text",
          "id": "vidURL",
          "label": "Video URL"
        },
        {
          "type": "image_picker",
          "id": "testimonials_img",
          "label": "Testimonials Image"
        },
        {
          "type": "text",
          "id": "testimonials_title",
          "label": "Testimonials Title"
        },
        {
          "type": "text",
          "id": "testimonials_description",
          "label": "Testimonials Description"
        },
        {
          "type": "text",
          "id": "testimonials_author",
          "label": "Testimonials Author"
        }  
      ]
    },
    {
      "type": "slide2",
      "name": "Testimonials Slide 2",
      "settings": [
       
        {
          "type": "text",
          "id": "vidURL2",
          "label": "Video URL 2"
        },

        {
          "type": "image_picker",
          "id": "testimonials_img2",
          "label": "Testimonials Image 2"
        },
        {
          "type": "text",
          "id": "testimonials_title2",
          "label": "Testimonials Title2"
        },
        {
          "type": "text",
          "id": "testimonials_description2",
          "label": "Testimonials Description 2"
        },
        {
          "type": "text",
          "id": "testimonials_author2",
          "label": "Testimonials Author 2"
        }  
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Section"
    }
  ]
}
{% endschema %}