<section class="supplements">
  <div class="container" >
    <div class="supplement-tech-wrapper">
      <div class="wrapper">
        <div class="taeb-switch left">
          <div class="taeb active-button" taeb-direction="left">{{ section.settings.button_left_text }}</div>
          <div class="taeb" taeb-direction="right">{{ section.settings.button_right_text }}</div>
        </div>
      </div>

      <div id="screen1" class="screen screen1">
        <div class="tabbed-content desktop-version">
          <nav class="tabs">
              <ul>
                {% for block in section.blocks %}
                  {% if block.settings.block_tab == "supplement" %}
                    <li><span>{{ block.settings.number }}</span><h6><a href="#{{ block.settings.link_id }}" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a></h6></li>
                  {% endif %}
                {% endfor %}
              </ul>
           
          <div class="content">
            {% for block in section.blocks %}
              {% if block.settings.block_tab == "supplement" %}
                <div id="{{ block.settings.link_id }}" class="item {% if forloop.first %} active {% endif %}">
                  <p class="relative z-40">{{ block.settings.content }}</p>
                  <img class="absolute z-0 desktop-img" src="{{ block.settings.img | img_url: 'master' }}" width="464" height="468" alt="">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      <div class="tabbed-content mobile-version">
          <nav class="tabs">
            <ul>
              {% for block in section.blocks %}
              {% if block.settings.block_tab == "supplement" %}
              <li><span>{{ block.settings.number }}</span><h6><a href="#{{ block.settings.link_id }}-mb" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a></h6></li>
                  <div class="content">
                    <div id="{{ block.settings.link_id }}-mb" class="item">
                      <p>{{ block.settings.content }}</p>
                      <img class="mobile-img" src="{{ block.settings.img | img_url: 'master' }}" width="464" height="468" alt="">
                    </div>
                  </div>
                {% endif %}
              {% endfor %}   
            </ul>
          </nav>
        </div> 
      </div>

      <div id="screen2" class="screen screen2" style="display:none;">
        <div class="tabbed-content desktop-version">
            <nav class="tabs">
              <ul>
                {% for block in section.blocks %}
                  {% if block.settings.block_tab == "tech" %}
                    <li><span>{{ block.settings.number }}</span><h6><a href="#{{ block.settings.link_id }}" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a></h6></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
            <div class="content">
                {% for block in section.blocks %}
                  {% if block.settings.block_tab == "tech" %}
                    <div id="{{ block.settings.link_id }}" class="item {% if forloop.first %} active {% endif %}">
                      <p class="relative z-40">{{ block.settings.content }}</p>
                        <img class="absolute z-0 desktop-img" src="{{ block.settings.img | img_url: 'master'  }}" width="464" height="468" alt="">
                    </div>
                  {% endif %}
                {% endfor %}  
            </div>
          </div>
        <div class="tabbed-content mobile-version">
          <nav class="tabs">
              <ul>
                {% for block in section.blocks %}
                  {% if block.settings.block_tab == "tech" %}
                    <li><span>{{ block.settings.number }}</span><h6><a href="#{{ block.settings.link_id }}-mb" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a></h6></li>
                    <div class="content">
                      <div id="{{ block.settings.link_id }}-mb" class="item">
                        <p>{{ block.settings.content }}</p>
                          <img class="mobile-img" src="{{ block.settings.img | img_url: 'master'  }}" width="464" height="468" alt="">
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}   
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .supplement-tech-wrapper {
    border: 1px solid {{ section.settings.suppl_bcolor }};
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden;
  }

  .taeb-switch {
    position: relative;
    display: flex;
  }

  .supplements li:has(> h6 a.active) {
    font-weight: bold;
    color: var(--light-green)
  }

  .taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
    border-radius: 37px;
    border: 1px solid {{ section.settings.actbord_color }};
    height: 100%;
    z-index: 0;
    background: {{ section.settings.actbutt_color }};
  }

  .taeb-switch.left:after {
    left: 0;
  }

  .taeb-switch.right:after {
    left: 50%;
  }

  .taeb-switch.left.active-button:after {
    left: 50%;
  }

  .taeb-switch.right.active-button:after {
    left: 0;
  }

  .taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    z-index: 1;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    line-height: normal;
    user-select: none;
    font-weight: 700;
    text-align: center;
  }

  .taeb-switch .taeb.active-button {
    color: {{ section.settings.acttext_color }};
  }

  .wrapper {
    border-radius: 37px;
    border: 1px solid var(--dark-green);
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }

  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 90%;
    }

    .taeb-switch .taeb {
      padding: 2vw;
    }
  }

  .tabbed-content.desktop-version {
    display: flex;
    padding-left: 20px;
    gap: 20px;
    position: relative;
  }

  .tabbed-content.mobile-version {
    display: none;
  }

  .tabs {
    display: flex;
    min-width: 30%;
    margin-bottom: 1rem;
    position: relative;
  }

  .border-green {
    border-top: 1px solid var(--light-green);
  }

  .tabs li {
    border-bottom: 1px solid var(--light-green);
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }

  .tabs li span {
    min-width: 15px;
  }

  .tabs li:last-of-type {
    border-bottom: unset;
  }

  .tabs h6 {
    font-weight: lighter;
    margin: unset;
  }

  .tabs a.active {
      color: {{ section.settings.active_tab }};
      font-weight: bold;
  }

  .content {
    background: {{ section.settings.content_bg }};
    display: flex;
    padding: 20px;
    width: 100%;
  }

  .content .item {
    display: none;
  }

  .content .item.active {
    display: flex;
  }

  .content p {
    max-width: 350px;
    z-index: 5;
  }

  .desktop-img {
    max-width: 60%;
    position: relative;
    right: 0;
    bottom: 0;
    position: absolute;
    max-height: 100%;
    object-fit: scale-down;
    object-position: right;
    }

  @media screen and (max-width: 768px) {
    .mobile-img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      object-position: top;
    }

    .tabs {
      margin-bottom: unset;
    }
    .content {
      padding: unset;
    }

    .tabbed-content.desktop-version {
      display: none;
    }

    .tabbed-content.mobile-version {
      display: flex;
    }
    .tabbed-content {
      flex-direction: column;
    }

    .border-green {
      display: none;
      margin-left: 2vw;
      width: 88vw;
    }

    .tabs ul {
      width: 100%;
    }

    .tabs li {
      padding: 2vw;
    }

    .tabs li span {
      padding-inline-start: 10px;
    }

    .tabs h6 {
      padding: 3vw 0;
      max-width: 70%;
    }

    .tabs li:has(> a.active) {
      border-bottom: unset;
      box-shadow: 0 5px 5px rgb(0 0 0 / 3%);
      z-index: 100;
      position: relative;
    }

    .tabs a::after{
      position: absolute;
      right: 5vw;
      content: "+";
      font-size: 7vw;
      color: {{ section.settings.active_tab }};
      transition: transform 0.5s;
    }

    .tabs a.active::after {
      color: {{ section.settings.active_tab }};
      transform: rotate(45deg);
    }

    .content p {
      max-width: unset;
      padding: 3vw;
    }

    .content .item.active {
      flex-direction: column;
    }
  }
</style>

<script>
  var taeb = $(".taeb-switch");
  taeb.find(".taeb").on("click", function() {
    console.log("function"  );
  var $this = $(this);

    if ($this.hasClass("active-button")) return;

    var direction = $this.attr("taeb-direction");

    console.log("direction: "+direction)

    taeb.removeClass("left right").addClass(direction);
    taeb.find(".taeb.active-button").removeClass("active-button");
    $this.addClass("active-button");
  });
</script>

<script>
  // Get the List and Map buttons
  var suplBtn = document.querySelector('.taeb-switch .taeb[taeb-direction="left"]');
  var techBtn = document.querySelector('.taeb-switch .taeb[taeb-direction="right"]');
  // Get the screens
  var screen1 = document.getElementById('screen1');
  var screen2 = document.getElementById('screen2');
  
  // Add click event listeners to the buttons
  suplBtn.addEventListener('click', function() {
    $('.screen1').find('.tabs li a').first().addClass('active');  
    $('.screen1').find('.content .item').first().addClass('active');  
    // Set the List button to active
    suplBtn.classList.add('active-button');
    techBtn.classList.remove('active-button');

    // Show screen1 and hide screen2
    screen1.style.display = 'block';
    screen2.style.display = 'none';
  });

  techBtn.addEventListener('click', function() {
    $('.screen2').find('.tabs li a').first().addClass('active');  
    $('.screen2').find('.content .item').first().addClass('active');  
    // Set the Map button to active
    techBtn.classList.add('active-button');
    suplBtn.classList.remove('active-button');

    // Show screen2 and hide screen1
    screen2.style.display = 'block';
    screen1.style.display = 'none';
  });
</script>

{% comment %} <script>
  $(document).ready(function() {
    const tabs = $(".tabs a");
    const items = $(".content .item");

    // Use matchMedia to detect screen width
    const isDesktop = window.matchMedia('(min-width: 768px)').matches;
    const isMobile = window.matchMedia('(max-width: 768px)').matches;

    // Attach click event listener to tabs only on desktop but allow toggling when clicking on currently active elements for mobile
    tabs.on("click", function(event) {
      event.preventDefault();
      const target = $($(this).attr("href"));
      const isActive = target.hasClass("active");

      if (!(isDesktop && isActive)) {
        tabs.removeClass("active");
        items.removeClass("active");

        if (!isActive) {
          $(this).addClass("active");
          target.addClass("active");
        }

      } else {
        if (!isActive) {
          target.removeClass("active");
          $(this).removeClass("active");
        }
      }
    });
  });
</script> {% endcomment %}

<script>
  $(document).ready(function() {
    const tabs = $(".tabs a");
    const items = $(".content .item");
    const isMobile = window.matchMedia('(max-width: 768px)').matches;

    // Toggle active class on click
    tabs.on("click", function(event) {
      event.preventDefault();
      const target = $($(this).attr("href"));
      const isActive = target.hasClass("active");

      tabs.removeClass("active");
      items.removeClass("active");

      if (!isActive) {
        $(this).addClass("active");
        target.addClass("active");
      }
    });

    // Add toggle behavior for mobile devices
    if (isMobile) {
      // Hide items by default
      items.hide();

      // Show/hide items on click
      tabs.on("click", function(event) {
        const target = $($(this).attr("href"));

        if (target.hasClass("active")) {
          target.slideUp();
        } else {
          items.slideUp();
          target.slideDown();
        }
      });
    }
  });

</script>

{% schema %}
{
   "name":"Science Page Widget",
   "disabled_on":{
      "groups":[
         "header",
         "footer"
      ]
   },
   "settings":[
      {
         "type":"color",
         "id":"bg_color",
         "label":"Background Color"
      },
      {
         "type":"text",
         "id":"button_left_text",
         "label":"Button 1",
         "default":"Supplement"
      },
      {
         "type":"text",
         "id":"button_right_text",
         "label":"Button 2",
         "default":"Tech"
      },
      {
        "type": "color",
        "id": "suppl_bcolor",
        "label": "Suppliment Wrapper border",
        "default": "#E8E8B0"
      },
     {
       "type": "color",
       "id": "actbord_color",
       "label": "Active Border Color",
       "default": "#404733"
     },
     {
       "type": "color",
       "id": "actbutt_color",
       "label": "Active Button Color",
       "default": "#404733"
     },
     {
       "type": "color",
       "id": "acttext_color",
       "label": "Active Button Text",
       "default": "#fff"
     },
     {
      "type": "color",
      "id": "active_tab",
      "label": "Active Tabs Color",
      "default": "#9EB069"
     },
     {
      "type": "color",
      "id": "content_bg",
      "label": "Content Background Color",
      "default": "#F9F9F9"
     }
   ],
   "blocks": [
      {
         "name": "Science Block",
         "type": "science_block",
         "settings": [
          {
            "type": "select",
            "id": "block_tab",
            "label": "Block Tab",
            "options": [
              {
                "value": "supplement",
                "label": "Supplement"
              },
              {
                "value": "tech",
                "label": "Tech"
              }
            ],
            "default": "supplement"
          },
          {
            "type":"text",
            "id":"link_id",
            "label":"Link"
          },
          {
            "type":"text",
            "id":"number",
            "label":"Number"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"richtext",
            "id":"content",
            "label":"Content"
          },
          {
            "type":"image_picker",
            "id":"img",
            "label":"Image"
          }
         ]
      }
   ],
   "presets": [
      {
         "name":"Science Page Widget"
      }
   ]
}
{% endschema %}