<section class="reviews-section">
  <div class="white-fade">
    <div class="left-fade fade"></div>
    <div class="right-fade fade"></div>
  </div>
  <div class="top-bg"></div>
  <div class="container no-padding">
    <h2>Over 3000 5 Star Reviews</h2>
    <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" width="280" height="40" alt="" class="reviews-stars" loading="lazy">
    <div class="prev slider-nav swiper-button-prev"></div>
    <div class="reviews swiper">
      <div class="swiper-wrapper">
        {% for reviewsItem in reviewsItems %}
        <div class="review swiper-slide">
          <div class="review-top">
            <img src="{{ 'icon-quote.png' | asset_url }}" width="" height="" alt="quote" loading="lazy">
            <p class="review-content"> {{ reviewsItem | split: ":" | first }}</p>
          </div>
          <div class="review-bottom">
            <p class="review-author"> {{ reviewsItem | split: ":" | last }}</p>
            <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" width="280" height="40" alt="" class="reviews-stars" loading="lazy">
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
    <div class="next slider-nav swiper-button-next"></div>
  </div>
</section>

<style>
   .reviews-section {
      text-align: center;
      position: relative
  }

   .reviews-section .white-fade .fade {
      position: absolute;
      z-index: 2;
      width: 30%;
      height: 100%;
      pointer-events: none;
      top: 0
  }

   .reviews-section .white-fade .fade.right-fade {
      background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
      right: 0
  }

   .reviews-section .white-fade .fade.left-fade {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%);
      left: 0
  }

   .reviews-section .top-bg {
      background-color: #e7f2f1;
      width: 100%;
      height: 50%;
      position: absolute;
      z-index: 0;
      top: 0
  }

   .reviews-section h2 {
      position: relative
  }

   .reviews-section .reviews-stars {
      position: relative;
      max-width: 40%;
      margin-top: 10px
  }

   .reviews-section .slider-nav {
      margin-top: 50px
  }

   .reviews-section .slider-nav.next {
      right: 70px
  }

   .reviews-section .slider-nav.prev {
      left: 70px
  }

   .reviews-section .reviews {
      padding: 30px 0
  }

   .reviews-section .reviews .review {
      width: 310px;
      height: 320px;
      background-color: #fff;
      text-align: center;
      padding: 20px;
      box-shadow: 0 5.37634px 5.37634px rgba(0, 0, 0, .25);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

   .reviews-section .reviews .review .review-top img {
      height: 40px
  }

   .reviews-section .reviews .review .review-bottom {
      position: relative;
      bottom: 0
  }

   .reviews-section .reviews .review .review-bottom .reviews-stars {
      width: 100px
  }


  @media screen and (max-width: 768px) {
    .reviews-section .slider-nav {
        display: none
    }

   .reviews-section .reviews .review {
        width: 70%;
        height: 52vw;
    }

     .reviews-section .reviews .review .review-top img {
        height: 6vw
    }

     .reviews-section .reviews .review .review-top .review-content {
        font-size: 3vw
    }
  }

  @media screen and (max-width: 425px) {
    .reviews-section .reviews .review .review-top .review-content {
        font-size: 3.5vw
    }
  }
</style>


<style>
  .swiper-button-prev,
   .swiper-button-next {
      color: grey;
      transition: opacity .5s
  }

</style>




<script>
  $('.slider-nav').click(function() {
  woopra.track('Arrow Click', {
    section: "Over 3000 5 Star Reviews"
  });

  });
</script>

<script>
  reviewsSliderAllInOne = new Swiper(' .reviews-section .swiper', {
      slidesPerView: 'auto',
      spaceBetween: 30,
      watchSlidesVisibility: false,
      centeredSlides: true,
      loop: true,
      slideToClickedSlide: true,
      navigation: {
          nextEl: '.reviews-section .swiper-button-next',
          prevEl: '.reviews-section .swiper-button-prev',
          disabledClass: 'disabled'
      },
      breakpoints: {
          760: {
              slidesPerView: 3,
          },
          1200: {
              slidesPerView: 5,
          }
      }
  });

</script>