<section id="new-featured-prods">
    <div class="container">
      <h2>Featured Products</h2>
    <a class="link-to-collection" href="{{ ctaButtonLink }}">Shop All</a>

    <div class="featured-products-new">
      <div class="products-slider featured">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for prod in collections['curalin-related-products'].products %}
              {% if prod.title != "Curalin" %}

              <div class="swiper-slide">
                <a href="{{ prod.url }}">
                  <div class="products-card">
                  <div class="quote-info">
                  <img style="background-color: {{ prod.metafields.custom.bg_color }}; border-radius: 25px;" src="{{ prod.featured_image | image_url }}" width="303" height="302" alt="">

                    <div class="quote-author">
                      <h3>{{ prod.title }}</h3>
                    </div>
                  </div>

                  <p class="quoted-text">{{ prod.metafields.custom.short_definition }}</p>
                </div></a>
              </div>
            {% endif %}
          {% endfor %}
          </div>

          <div class="slider-control">
            <div class="prev-slide2"><span><</span></div>
            <div class="next-slide2"><span>></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .featured-products {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
  }

  .featured-products h2 {
    display: inline-block;
  }

  .link-to-collection {
      text-decoration-line: underline;
  }
  .products-slider .swiper {
      padding: 10px 0;
      position: unset;
  }
  .products-slider .slider-control {
      display: flex;
      align-items: center;

  }
  #new-featured-prods .products-slider .slider-control {
      justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    .featured-products h2 {
      display: block;
    }

    .link-to-collection {
        font-size: 5vw;
        line-height: 26px;
    }
    #new-featured-prods .featured-products-new {
        width: 100%;
    }
    .products-slider {
        position: relative;
    }
    #new-featured-prods .products-slider {
        padding: unset;
        margin: unset;
    }
    .products-slider .slider-control {
        padding-top: 20px;
    }
    #new-featured-prods .products-slider .slider-control {
        position: relative;
        top: -300px;
    }
  }
</style>

<style>

  #new-featured-prods .products-slider {
    padding: unset;
    margin: unset;
  }

  #new-featured-prods .products-slider .swiper-slide .products-card {
    box-shadow: unset;
    background: unset;
    justify-content: unset;
  }

  #new-featured-prods .products-slider .swiper-slide.swiper-slide-active .products-card  {
    top: 0;
    width: unset;
    background: unset;
    box-shadow: unset;
    margin: unset;
  }

  #new-featured-prods .products-card {
    background: unset;
  }

  #new-featured-prods .products-card .quote-info {
    padding-top: unset;
  }
  #new-featured-prods .products-slider .slider-control {
    justify-content: space-between;
  }

  #new-featured-prods .quote-author {
    padding-top: 10px;
  }

  #new-featured-prods .quote-author h3 {
      font-size: 25px;
  }


  #new-featured-prods .quoted-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: #424733;
    margin: unset;
  }

  @media screen and (max-width: 768px) {
    #new-featured-prods .featured-products-new {
      width: 100%;
    }

    #new-featured-prods  .products-slider .slider-control {
      position: relative;
      top: -300px;
    }
  }

  @media screen and (max-width: 629px) {
    #new-featured-prods .quoted-text {
      font-size: 4vw;
      line-height: unset;
    }
  }
</style>


<script>
  const quoteSliderNew = new Swiper(".products-slider.featured .swiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    grabCursor: true,
    loop: true,
    loopedSlides: 4,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      768: {
        slidesPerView: 3
      },
      992: {
        slidesPerView: 4
      }
    }
  });
</script>