<div class="collection-page">
  <div class="collection-hero">
    <div class="container flex items-center justify-between">
      <img class="left-img" src="{{ collection.metafields.hero.left_img | image_url }}" alt="{{ collection.metafields.hero.left_img.alt | escape }}" />

      <div class="titles w-f flex flex-col text-center">
        <h1>{{ collection.title }}</h1>
        <div class="subtitle">{{ collection.metafields.hero.subtitle }}</div>
      </div>

      <img class="right-img" src="{{ collection.metafields.hero.right_img | image_url }}" alt="{{ collection.metafields.hero.right_img.alt | escape }}" />
    </div>
  </div>

  <section class="collection-page-wrapper">
    <div class="container flex gap-4">
      <div class="collections-menu side-menu">
        <div class="menu-item {% if template.name == 'collection-list' %}active{% endif %}"><a href="/collections">All</a></div>

        {% for collectionItem in section.settings.collection_list %}
          <div class="menu-item {% if collectionItem.handle == collection.handle %}active{% endif %}"><a href="{{ collectionItem.url }}">{{ collectionItem.title }}</a></div>
        {% endfor %}
      </div>

      {% render 'collection', collection_handle: collection.handle, isDescription: false, isNoTitle: true, isNoPrices: false, isLinkToCollection: false, isCentered: customer.b2b?, isNoBundles: false, isLastCollectionRender: isLastCollectionRender %}
    </div>
  </section>
</div>

<style>
  .breadcrumbs {
    margin-top: 150px;
  }

  .collection-hero {
    background-color: {{ collection.metafields.hero.bg_color }};
    color: {{ collection.metafields.hero.text_color }};
    height: 150px;

    .titles {
      width: -webkit-fill-available;

      h1 {
        color: inherit;
        font-size: 36px;
      }

      .subtitle {
        font-size: 20px;
      }
    }
  }
</style>

{% schema %}
  {
      "name": "Collection Page",
      "disabled_on": {
        "groups": [
          "header",
          "footer"
        ]
      },
      "settings": [
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections"
        }
      ],
      "presets": [
      {
        "name": "Collection Page"
      }
    ]
  }
  {% endschema %}