{% if collection.handle == 'all' %}{% assign heroTitle = 'Explore Our Products' %}{% else %}{% assign heroTitle = collection.title %}{% endif %}

<div class="collection-page">
	<div class="collection-hero">
		<div class="container flex items-center justify-between h-full">
			<img class="left-img desktop" src="{{ collection.metafields.hero.left_img | image_url }}" alt="{{ collection.metafields.hero.left_img.alt | escape }}" />

			<div class="titles w-f flex flex-col text-center">
				<h1>{{ heroTitle }}</h1>
				<div class="subtitle">{{ collection.metafields.hero.subtitle }}</div>
			</div>

			<img class="right-img desktop" src="{{ collection.metafields.hero.right_img | image_url }}" alt="{{ collection.metafields.hero.right_img.alt | escape }}" />
		</div>
	</div>

  <section class="collection-page-wrapper pt-14">
    <div class="mbl:flex-col container flex gap-4">
      {% unless customer.b2b? %}
        <div class="collections-menu side-menu desktop">
					{% comment %} <div class="menu-item">
						<a href="/collections/black-friday" style="padding: 0;">
							<img class="top-1 relative" src="{{ 'bfcm-menu-title.svg' | file_url }}" alt="Black Friday Banner">
						</a>
					</div> {% endcomment %}

          {% for link in linklists.collections-menu.links %}
            <a class="menu-item {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>


        <div class="account-menu-mobile-dropdown mobile w-full">
          <select id="mobile-dropdown">
						{% comment %} <option value="/collections/black-friday" {% if request.path contains 'black-friday' %}selected{% endif %}>New Year SALE</option> {% endcomment %}
            {% for link in linklists.collections-menu.links %}
              <option value="{{ link.url }}" {% if link.active %}selected{% endif %}>{{ link.title }}</option>
            {% endfor %}
          </select>
        </div>
      {% endunless %}

			<div class="collections">
				{% if request.path contains 'black-friday' %}
					<div class="collection flex flex-col gap-4 mb-12">
						{% assign fileName = "bfcm-banner-1" %}
						{% assign fileExtension = ".png" %}
						{% assign imgURL = fileName | append: fileExtension %}
						{% assign imgURLMobile = fileName | append: "-mbl" | append: fileExtension %}
						{% assign imgURLGlobal = fileName | append: "-glb" | append: fileExtension %}
						{% assign imgURLGlobalMobile = fileName |  append: "-glb-mbl" | append: fileExtension %}

						{% if isGlobal %}
							<img class="mobile" src="{{ imgURLGlobalMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURLGlobal | file_url }}" alt="Black Friday Banner">
						{% else %}
							<img class="mobile" src="{{ imgURLMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURL | file_url }}" alt="Black Friday Banner">
						{% endif %}

						{% assign gluCollection = 'curalin-holiday-sale' | split: ',' %}
						{% render 'collection', product_handles: gluCollection, is_variant_split: true, isNoTitle: true, is_slider_on_mobile: true %}
					</div>

					<div class="collection flex flex-col gap-4 mb-12">
						{% assign fileName = "bfcm-banner-2" %}
						{% assign fileExtension = ".png" %}
						{% assign imgURL = fileName | append: fileExtension %}
						{% assign imgURLMobile = fileName | append: "-mbl" | append: fileExtension %}
						{% assign imgURLGlobal = fileName | append: "-glb" | append: fileExtension %}
						{% assign imgURLGlobalMobile = fileName |  append: "-glb-mbl" | append: fileExtension %}

						{% if isGlobal %}
							<img class="mobile" src="{{ imgURLGlobalMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURLGlobal | file_url }}" alt="Black Friday Banner">
						{% else %}
							<img class="mobile" src="{{ imgURLMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURL | file_url }}" alt="Black Friday Banner">
						{% endif %}

						{% assign wlCollection = 'curaslim-holiday-sale' | split: ',' %}
						{% render 'collection', product_handles: wlCollection, is_variant_split: true, isNoTitle: true, is_slider_on_mobile: true, collection_index: 'first' %}
					</div>

					{% assign imgURL = 'bfcm-banner-3.png' | file_url %}
					<div class="collection duo flex flex-col gap-4">
						{% assign fileName = "bfcm-banner-3" %}
						{% assign fileExtension = ".png" %}
						{% assign imgURL = fileName | append: fileExtension %}
						{% assign imgURLMobile = fileName | append: "-mbl" | append: fileExtension %}
						{% assign imgURLGlobal = fileName | append: "-glb" | append: fileExtension %}
						{% assign imgURLGlobalMobile = fileName |  append: "-glb-mbl" | append: fileExtension %}

						{% if isGlobal %}
							<img class="mobile" src="{{ imgURLGlobalMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURLGlobal | file_url }}" alt="Black Friday Banner">

							{% assign bfcmCollection = 'curalin-curaslim-holiday-sale' | split: ',' %}
							{% render 'collection', product_handles: bfcmCollection, is_variant_split: true, isNoTitle: true, is_slider_on_mobile: true, collection_index: 'second' %}
						{% else %}
							<img class="mobile" src="{{ imgURLMobile | file_url }}" alt="Black Friday Banner">
							<img class="desktop" src="{{ imgURL | file_url }}" alt="Black Friday Banner">

							{% assign bfcmCollection = 'curalin-curaslim-holiday-sale' | split: ',' %}
							{% render 'collection', product_handles: bfcmCollection, is_variant_split: true, isNoTitle: true, is_slider_on_mobile: true, collection_index: 'second' %}

							{% comment %} <div class="product-grid mobile-slider">
								<div class="swiper">
									<div class="swiper-wrapper flex flex-wrap justify-between gap-4">
										{% assign bundleProduct = all_products['curalin-curaslim-holiday-sale'] %}
										{% assign vari = bundleProduct.variants.first %}

										<div class="swiper-slide">
											{% render 'variant-card',
												variant: vari,
												product: bundleProduct,
												subtitle: "+ Restful Sleep for FREE",
												thumbnail_image: "https://cdn.shopify.com/s/files/1/0452/2459/1511/files/duo_sleep.png?v=1732523716",
												variantIndex: 1
											%}
										</div>

										<div class="swiper-slide">
											{% render 'variant-card',
												variant: vari,
												product: bundleProduct,
												subtitle: "+ Joint Care for FREE",
												thumbnail_image: "https://cdn.shopify.com/s/files/1/0452/2459/1511/files/duo_joint.png?v=1732523721",
												variantIndex: 2
											%}
										</div>

										<div class="swiper-slide">
											{% render 'variant-card',
												variant: vari,
												product: bundleProduct,
												subtitle: "+ Magnesium for FREE",
												thumbnail_image: "https://cdn.shopify.com/s/files/1/0452/2459/1511/files/duo_magnesium.png",
												variantIndex: 3
											%}
										</div>
									</div>
									<div class="swiper-nav swiper-button-next"></div>
									<div class="swiper-nav swiper-button-prev"></div>
								</div>
							</div>

							<script>
								document.addEventListener('DOMContentLoaded', function() {
									loadSwiper(() => {
										const mediaQuery = window.matchMedia('(max-width: 767px)');
										let swiper = null;

										function initializeSlider() {
											if (mediaQuery.matches) {
												if (!swiper) {
													swiper = initializeSwiper('.duo .mobile-slider .swiper', {
														slidesPerView: 1,
														spaceBetween: 10,
														grabCursor: true,
														navigation: {
															nextEl: '.mobile-slider .swiper-button-next',
															prevEl: '.mobile-slider .swiper-button-prev',
														},
														breakpoints: {
															768: {
																slidesPerView: 3,
															}
														},
													});
												}
											} else if (swiper) {
												swiper.destroy();
												swiper = null;
											}
										}

										initializeSlider();
										mediaQuery.addListener(initializeSlider);
									});
								});
							</script> {% endcomment %}
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="collection">
					{% render 'collection', collection_handle: collection.handle, isDescription: false, isNoTitle: true, isNoPrices: false, isCentered: customer.b2b?, isNoBundles: false, isLastCollectionRender: isLastCollectionRender %}
				</div>
			{% endif %}
    </div>
  </section>
</div>

<script>
  document.getElementById("mobile-dropdown").addEventListener('change', event => {
    window.location.href = event.target.value;
  });
</script>

<style>
  .breadcrumbs {
    position: relative;
    top: 150px;
  }

  #mobile-dropdown {
    width: 100%;
    background: var(--light-blue);
    border: 2px solid var(--blue);
    border-radius: 10px;
    color: var(--blue);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
  }

  .collection-hero {
    background-color: {{ collection.metafields.hero.bg_color }};
    color: {{ collection.metafields.hero.text_color }};
    height: 150px;
    align-content: center;

    .titles {
      width: -webkit-fill-available;

      h1 {
        color: inherit;
        font-size: 36px;
        margin-bottom: 0.25rem;
      }

      .subtitle {
        font-size: 20px;
      }
    }
  }
</style>

{% schema %}
  {
      "name": "Collection Page",
      "disabled_on": {
        "groups": [
          "header",
          "footer"
        ]
      },
      "settings": [],
      "presets": [
      {
        "name": "Collection Page"
      }
    ]
  }
  {% endschema %}