{% if customer.email contains "@curalife.com" %}
  {% assign bannerProduct = article.metafields.banner.product.value %}

  {% if article.metafields.banner.title != blank %}
    {% assign bannerImage = article.metafields.banner.image | default: bannerProduct.image %}

    <div class="promotional-banner rounded-xl mbl:flex-col mbl:p-8 flex items-center justify-between gap-4 p-4" style="background-color:{{ article.metafields.banner.background }}">
      <h3 class="banner-title h6 mobile text-center" style="color:{{ article.metafields.banner.button_color }}">{{ article.metafields.banner.title }}</h3>

      {% render 'image',
        image: bannerImage,
        sizes: '(min-width: 1200px) 1100px, (min-width: 769px) 750px, 100vw',
        breakpoint: 768,
        lazy: true,
        preload: true,
        alt: 'sidebar banner',
        class: 'main-image'
      %}

      <div class="banner-content dsk:w-[70%]">
        <h3 class="banner-title h6 desktop" style="color:{{ article.metafields.banner.button_color }}">{{ article.metafields.banner.title }}</h3>
        <div class="banner-description">{{ article.metafields.banner.description }}</div>
        {% if bannerProduct != blank %}<div class="banner-product-price">Price - {{ bannerProduct.selected_or_first_available_variant.price | money }}</div>{% endif %}
        <a href="{{ bannerProduct.url | default: '/collections/all' }}" class="banner-link"><button>Shop {% if bannerProduct != blank %}{{ bannerProduct.title }}{% else %}All Supplements{% endif %}</button></a>
      </div>

      <style>
        .promotional-banner {
          button {
            background-color: {{ article.metafields.banner.button_color | default: '#3A7684'}};
            color: white;
            padding: 0.5rem 2rem;
            border-radius: 50px;
            font-weight: bold;
            margin-top: {% if bannerProduct != blank %}0.5rem{% else %}1.5rem{% endif %};
          }

          .banner-product-price {
            color: {{ article.metafields.banner.button_color | default: '#3A7684'}};
            margin-top: 1rem;
            font-weight: bold;
          }

          .responsive-image-wrapper {
              width: 30%;

              img {
                width: 100%;
              }
            }
        }

        @media screen and (max-width: 768px) {
          .promotional-banner {
            .banner-title.mobile {
              font-size: 7vw;
            }

            .responsive-image-wrapper {
              width: 100%;
            }
          }
        }
      </style>
    </div>
  {% endif %}
{% endif %}