 <div class="article-card">
                    <div class="picture">
                        <a href="{{ article.url }}" class="main-link"></a>
                        {% if article.image %}
                        <img src="{{ article.image | image_url }}" alt="" loading="lazy">
                        {% endif %}
                        {% if article.tags.size > 0 %}
                            <a class="category"><p>{{ article.tags.first }}</p></a>
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="main-info">
                            <div class="title">
                                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                            </div>
                            <div class="offer">
                                <p>{{settings.offer_desc}}</p>
                            </div>
                             {% if description %}
                            <div class="description">
                                <p>
                                    {% if article.excerpt.size > 0 %}
                                        {{ article.excerpt }}
                                        {% else %}
                                        {{ article.content | strip_html | truncate: 150 }}
                                    {% endif %}
                                </p>
                            </div>
                             {% endif %}
                        </div>
                        <div class="article-author">
                            {% if article.user.image %}
                            <div class="photo">
                                <img src="{{ article.user.image | image_url }}" alt="{{ article.author }}" loading="lazy">
                            </div>
                            {% else %}
                             <div class="photo">
                               <img src="{{ section.settings.authr_blgimg | image_url }}" alt="{{ article.author }}" loading="lazy">
                            </div>
                            {% endif %}
                            <div class="details">
                                 {% if article.author %}
                                <h4>{{ article.author}}</h4>
                                {% endif %}
                                {% if article.user.bio %}
                                <p>{{ article.user.bio }}</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
