<div class="article-card relative">
	<a href="https://admin.shopify.com/store/curalife-commerce/articles/{{ article.id }}" class="admin admin-edit-link" target="_blank">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
			<path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
		</svg>
	</a>

	<div class="picture bg-primary">
		<a href="{{ article.url }}" class="main-link"></a>
		{% if article.image %}
			<img src="{{ article.image | image_url: height: 275 }}" width="331" height="275" alt="{{ article.title }}" loading="lazy">
		{% else %}
			<img src="{{ 'logo-new.svg' | asset_url }}" class="invert !object-contain p-4" alt="curalife logo" loading="lazy">
		{% endif %}
	</div>

	<div class="info">
		<div class="main-info ">
			<div class="title">
				<h3>
					<a href="{{ article.url }}">{{ article.title }}</a>
				</h3>
			</div>

			{% if description %}
				<div class="description">
					<p>
						{% if article.excerpt.size > 0 %}
							{{ article.excerpt }}
						{% else %}
							{{ article.content | strip_html | truncate: 150 }}
						{% endif %}
					</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>
