<div class="contact-page bottom-line">
  <div class="container">
  <div class="white-bg">
    <div class="mini-wrap">
    <div class="contact-data">
      <div class="info-wrap">
      <div class="contacts-bar">
        <div class="sub-title">
        <h1>24/7 Customer Support</h1>
        </div>
        <div class="support-contacts">
        <ul>
          <li>
          <div class="phone-title">

          <span>
            <img src="{{'UK.png' | asset_url }}" width="20" height="20" alt="" loading="lazy">
          </span>

          UK-Toll-Free:
          </div>
          <div class="show-phone">
          <div class="show-phone-btn"><i class="icofont-phone"></i> Show Phone</div>
          <div class="show-phone-content">
            <a href="tel: +44 800 086 9122">+44 800 086 9122</a>
          </div>
          </div>
          </li>
        
          <li>
          <div class="phone-title">
           
          <span>
            <img src="{{'US.png' | asset_url }}" width="20" height="20" alt="" loading="lazy">
          </span>
           
          US-Toll-Free:
          </div>
          <div class="show-phone">
          <div class="show-phone-btn"><i class="icofont-phone"></i> Show Phone</div>
          <div class="show-phone-content">
            <a href="tel: +1 888 286 7307">+1 888 286 7307</a>
          </div>
          </div>
          </li>

          <li>
          <div class="phone-title">

          <span>
            <img src="{{'icon-flag-au.png' | asset_url }}" width="20" height="20" alt="" loading="lazy">
          </span>

          AU-Toll-Free:
          </div>
          <div class="show-phone">
          <div class="show-phone-btn"><i class="icofont-phone"></i> Show Phone</div>
          <div class="show-phone-content">
            <a href="tel: +61 1800 942 961">+61 1800 942 961</a>
          </div>
          </div>
          </li>
         
         
          <li class="mail-me">
            E-mail: <a href="mailto: hello@curalife.com">
          <i class="icon-envelope"></i> hello@curalife.com </a>
          </li>
        
        </ul>
        </div>
      </div>
      <div class="social-bar">
        <h3>Follow us:</h3>
        <ul>
     
        <li><a href="https://twitter.com/curalife" target="_blank"><i class="icofont-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCaiEVA0zN9-Y4bqIkHRAONA" target="_blank"><i class="icofont-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/curalife/" target="_blank"><i class="icofont-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/curalife/" target="_blank"><i class="icofont-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/company/curalife-ltd/mycompany/verification/" target="_blank"><i class="icofont-linkedin"></i></a></li>
        <li><a href="https://vimeo.com/user33358682" target="_blank"><i class="icofont-vimeo"></i></a></li>
        </ul>
      </div>
      </div>
      <div class="contact-form">
      <div class="sub-title">
        <h2>{{section.settings.cntnt_titl}}</h2>
      </div>
      
      {% form 'contact' %}
      {{ form.errors | default_errors }}
      <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us">
      <div class="form-fields">
        <label for="first-name" class="full-size">
          <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
        </label>

        <label for="last-name" class="full-size">
        <input  id="last-name" maxlength="80" name="contact[last_name]" size="20" type="text" placeholder="Last Name" />
        </label>

        <label for="subject" class="full-size">
        <input  id="subject" maxlength="80" name="contact[information_id]" size="20" type="text" placeholder="Subject" />
        </label>

        <label for="phone" class="full-size">
        <input  id="phone" maxlength="40" name="contact[phone]" size="20" type="tel" placeholder="Phone" />
        </label>

        <label for="email" class="full-size">
        <input  id="email" maxlength="80" name="contact[email]" size="20" type="text" placeholder="Email" />
        </label>

        <label for="body" class="full-size">
          <textarea name="contact[body]" placeholder="Message"></textarea>
        </label>
      </div>


      <div class="submit-form">
        <button type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
      </div>
      {% endform %}

      
<!--             
      <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8"; method="POST" id="contact-us-form">
      <input type=hidden name="orgid" value="00D5I000003d6uG">
      <input type=hidden name="retURL" value="https://global.curalife.com/pages/thank-you?type=contact-us">
        <div class="form-fields">
        <label for="name" class="full-size">
          <input  id="name" maxlength="80" name="name" size="20" type="text" placeholder="Full Name" />
        </label>
        <label for="subject" class="full-size">
          <input  id="subject" maxlength="80" name="subject" size="20" type="text" placeholder="Subject" />
        </label>
        <label for="email" class="full-size">
          <input  id="email" maxlength="80" name="email" size="20" type="text" placeholder="Email" />
        </label>
        <label for="phone" class="full-size">
          <input  id="phone" maxlength="40" name="phone" size="20" type="text" placeholder="Phone" />
        </label>
        <label for="body" class="full-size">
          <textarea name="description" placeholder="Message"></textarea>
        </label>
        </div>
        <div class="submit-form">
        <button type="submit" name="submit" class="main-btn" value="{{ 'contact.form.submit' | t }}">Submit</button>
        </div>
      </form> -->
      <div class="social-bar">
        <h3>Follow us:</h3>
        <ul>
         
        <li><a href="https://twitter.com/curalife" target="_blank"><i class="icofont-twitter" style="color: black;"></i></a></li>
        
        </ul> 
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Contact Us",
    "class":"contact-us",
    "settings": [
      {
        "type": "header", 
        "content": "24/7 Customer Success Section Start" 
      },
      {
        "type": "header", 
        "content": "Contact Us Form Section Start" 
      },
      {
        "type": "text",
        "id": "cntnt_titl",
        "label": "Title",
        "default": "Enter Title"
      },
      {
        "type": "header", 
        "content": "Follow Us Section Start" 
      }
  ],
  "blocks": [
    {
      "type": "contact",
      "name": "Contact Numbers"
    },
    {
      "type": "social",
      "name": "Social Media",
      "settings": [
    {
      "type": "text",
      "id": "cntsocil_icn",
      "label": "Phone Icon",
      "default": "icon-tel"
    },
    {
    "type": "text",
    "id": "cntsocil_title",
    "label": "Title",
    "default": "Enter Title"
    },
    {
    "id": "cntsocil_link",
    "type": "url",
    "label": "Add Link"
    }
  
    ]    
    }
  ],
  "presets":[
  {
  "name": "Contact Us",
  "category": "Contact"
  }
  ]
  }
{% endschema %}

{% style %}
.support-contacts .phone-title {
  line-height: 2.5;
  }
  
  .support-contacts .show-phone-btn {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  color: var(--green);
  padding: 3px 10px;
  margin-left: 5px;
  }
  
  .support-contacts .show-phone-content {
  display: none;
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}
<style>
  #contact_form {
  width: 100%;
  padding: 0;
  }
</style>