{% layout 'theme.lps' %}

<div class="prelander-v1">

  <section class="nav">
   
    <div class="container">
     
      <div class="big-img">
        <img src="{{ 'lp-prelander-nav-logo-white.png' | file_url }}" alt="chef icon" loading="lazy">
      </div>
    </div>
  </section>

  <section class="five-ways">
    <div class="green-bg">
      <div class="five-ways-wrap">
      <div class="title-5-ways">
        <h1>5 Ways Gymnema Sylvestre Helps Support Your Blood Sugar</h1>
      </div>
    </div>
    </div>
    <div class="container">   
     <div class="text-5-ways">
       <p>Gymnema Sylvestre is an amazing discovery for blood sugar.
       Here are the big five ways that this plain looking leaf can promote healthy blood sugar levelsso you can keep enjoying your favorite foods, and regain your energy.</p>
     </div>   
    </div>
    
  
  </section>
  <section class="live-this-ways">
    <div class="container">
      <div class="live-ways">
        <img src="{{ 'lp-prelander-live-this-ways-live-ways-img1.png' | file_url }}" alt="live way image 1" loading="lazy">
        <h2>1. Helps with Glucose Absorption  </h2>
        <p>You probably already know that healthy blood sugar starts with what you eat. But how well you burn the sugar in your blood is even more important.
          <br><br>
          That’s where Gymnema Sylvestre helps. It supports your muscles absorbing sugar from your blood so your body can use the sugar as fuel instead of letting it weigh down your system. Many <a href="/pages/glucose-support-curalin-pack-v3">blood sugar support</a> supplements use Gymnema for this reason.
        </p>
      </div>
      <div class="live-ways">
        <img src="{{ 'lp-prelander-live-this-ways-live-ways-img2.png' | file_url }}" alt="live way image 2" loading="lazy">
        <h2>2. Supports Insulin Health </h2>
        <p>Beta cells are super important for your blood sugar health because they make insulin. Without insulin, you cannot absorb sugar from your blood.
          <br><br>
          Gymnema helps keep your beta cells healthy and clean so they can properly make insulin, an essential hormone for blood sugar support.
        </p>
      </div>
      <div class="live-ways">
        <img src="{{ 'lp-prelander-live-this-ways-live-ways-img3.png' | file_url }}" alt="live way image 3" loading="lazy">
        <h2>3. Burns Stubborn Fat</h2>
        <p>Dropping even a little body fat can make it easier for you to process blood sugar. Just a 5% reduction in fat can make a big difference. 
          <br><br>
         Gymnema is shown scientifically to help you lose weight. We’re not talking about unhealthy shedding like on fad diets, but those few extra pounds, which can easily help <a href="/pages/glucose-support-curalin-pack-v3">promote healthy blood sugar.</a> 

        </p>
      </div>
      <div class="live-ways">
        <img src="{{ 'lp-prelander-live-this-ways-live-ways-img4.png' | file_url }}" alt="live way image 4" loading="lazy">
        <h2>4. Blocks Unhealthy Cravings</h2>
        <p>It's completely normal to have food cravings, but you want to control them, not the other way around. Indulge when you plan to, on your terms, not when your hormones force you to.

        
          <br><br>
          Gymnema helps block unwanted cravings by filling in the <a href="/pages/glucose-support-curalin-pack-v3">sugar receptors on your tongue</a> without changing the taste of your favorite foods. It just makes you crave less and resist the urge to eat when you're not actually hungry.
        </p>
      </div>
      <div class="live-ways">
        <img src="{{ 'lp-prelander-live-this-ways-live-ways-img5.png' | file_url }}" alt="live way image 5" loading="lazy">
        <h2>5. Delays Hunger</h2>
        <p>Satiety is the feeling of being full and happy after meals. If you have an insatiable appetite, it can be difficult to feel full and happy after meals. 

       
          <br><br>
          Gymnema extends satiety so you feel full and satisfied for longer after meals. When you’re not thinking about eating all day, it’s easier to make <a href="/pages/glucose-support-curalin-pack-v3">the right food choices.</a> 
        </p>
      </div>
    </div>
  </section>
  <section class="you-need">
    <div class="container">
      <div class="you-need-title">
        <h2>You Need More Than Gynmema Sylvestre
          For Effective Blood Sugar Support</h2>
      </div>
      <div class="video-with-text">
        <div class="video">
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="707495152" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
              <div class="video-headline">
                <p>It worked, and it worked for other people that I recommended it to</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text">
          <div class="text-title">
            <h3>Have you met CuraLin?</h3>
          </div>
          <div class="text-wrap">
            <p>Sure, Gymnema Sylvestre is a powerful herb. But when you blend it into a larger formula something amazing happens. There are <a href="/pages/glucose-support-curalin-pack-v3">9 natural Ayurvedic herbs</a> that you will want to use together to support healthy blood sugar naturally. And Gynemna Sylvestre is just one of them.</p>
            <p id="blood-sugar">Check out the <a href="/pages/glucose-support-curalin-pack-v3">CuraLin blend for healthy
                blood sugar.</a></p>
            <p id="supports">
              CuraLin supports 18 key body
              functions for blood sugar support, making it the most extra-strength supplement
              available.</p>
            <p id="learn-more">Click on the <a href="/pages/glucose-support-curalin-pack-v3">Learn More</a> button below
              to see how CuraLin
              supports healthy
              blood sugar.</p>
          </div>
          <div class="leaf-img">
            <img src="{{ 'lp-prelander-leaf-img-leaf-image.png' | file_url }}" alt="leaf image" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="curalin-button">
    <div class="container">
      <div class="curalin-learn">
        <a href="/pages/glucose-support-curalin-pack-v3"><button><span class="learn-more">Learn More About
              CuraLin</span></button></a>
      </div>
    </div>
  </section>
</div>

<style>
  body {
    padding-top: 0;
  }

  .container {
    max-width: 1000px;
  }

  .nav {
    max-width: 100%;
    height: 88px;
    left: 0px;
    top: 0px;
    background: #324F3A;
  }

  .big-img {
    padding-top: 15px;
  }

  .green-bg {
    background-image: url("{{ 'lp-prelander-green-background.png' | file_url }}");
    background-size: cover;
    max-height: 235px;
  }

  .five-ways-wrap {
    display: flex;
    justify-content: center;
  }


  .title-5-ways h1 {
    margin-left: 20%;
    width: 780px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;      
  }

  .text-5-ways p {
    margin: 2% auto;
    max-width: 904px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }

  .live-ways {
    margin: 5% 0;
    display: grid;
    column-gap: 50px;
    grid-template-rows: 50px;
  }

  .live-ways img {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 385px;
  }

  .live-ways h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 33px;
    line-height: 37px;
  }

  .live-ways p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }

  .you-need-title h2 {
    margin: 5% auto;
    max-width: 700px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }

  .video-with-text {
    margin: 5% 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .video {
    width: 423px;
    height: 423px;
  }

  .video-player {
    width: 100%;
    position: relative;
    object-fit: cover;
  }

  .video-player:before {
    content: "";
    display: block;
    padding-bottom: 78.5%;
    pointer-events: none;
  }

  .video-player * {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-headline {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding-top: 5%;
    background-color: #f3f3f3;
    padding: 15px 20px 10px;
  }

  .video-headline:after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    width: 1.75rem;
    height: 1.4375rem;
    background-image: url("{{ 'lp-aio-quote-icon.png' | file_url }}");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .text {
    position: relative;
    box-sizing: border-box;
    width: 478px;
    height: 423px;
    border: 2px solid #324F3A;
  }

  .leaf-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
  }

  .text-title h3 {
    margin: 10px auto 0;
    max-width: 412px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
  }

  .text-wrap {
    margin-left: 30px;
    max-width: 400px;
    height: 356px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  #blood-sugar {
    max-width: 346px;
  }

  #supports {
    max-width: 250px;
  }

  #learn-more {
    max-width: 250px;
  }

  .curalin-learn {
    margin-bottom: 10%;
    text-align: center;
  }

  .learn-more {
    padding: 26px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
  }

  .curalin-learn button {
    padding: 15px 0;
    background: #FED602;
    border: 0;
  }

  @media (max-width: 1080px) {
    .title-5-ways h1{
      width: 640px;
     
      font-size: 38px;
    }
  }

 

  @media (max-width: 1024px) {
    
    .container {
      padding: 0 15px;
    }

    .nav {
      height: 60px;
    }

    .big-img {
      padding-top: 8px;
    }

    .live-ways {
      flex-direction: column;
      margin: 50px auto;
      flex-wrap: wrap;
    }

    .live-ways img {
      width: 35vw;
    }

    .live-ways h2 {
      font-size: 3.3vw;
    }

    .live-ways p {
      font-size: 2.5vw;
      line-height: 3.5vw;
    }
  }

  @media (max-width: 950px) {
    
    .video-with-text {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .video {
      width: 478px;
      height: unset;
    }
  }

  @media (max-width: 890px) {
    .title-5-ways h1{
      width: 450px;
      font-size: 28px;
      line-height: 40px;
    }
  }


  @media (max-width: 712px) {
    .title-5-ways h1 {
      font-size: 28px;
      line-height: 40px;
    }

    .text-5-ways p {
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.5px;
      text-align: left;
    }

    .live-ways {
      grid-template-rows: unset;
    }

    .live-ways img {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 100%;
    }

    .live-ways h2 {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 24px;
      margin-top: 20px;
    }

    .live-ways p {
      grid-column: 1/2;
      grid-row: 3/4;
      font-size: 18px;
      line-height: 25px;
      margin-top: 20px;
    }

    .video {
      margin-bottom: 10px;
      width: unset;
    }

    .text {
      width: unset;
    }

    .curalin-learn button {
      width: 100%;
    }
  }

  @media (max-width: 620px) {
    .nav .container {
      height: 100%;
    }

    .big-img {
      display: flex;
      justify-content: center;
      align-items: center;

    }


    .green-bg {
     background-image: url("{{ 'lp-prelander-green-background-mobile.png' | file_url }}");
     background-size: cover;
     
    }

    .title-5-ways h1 {
      margin-left: -30vw;
      max-width: 300px;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }

    .you-need-title h2 {
      text-align: left;
    }
  }

  @media (max-width: 500px) {

    .title-5-ways h1 {
     
      max-width: 240px;
      font-size: 20px;
      line-height: 25px;
    }

    .live-ways {
      margin: 15px auto;
    }

    .txt-way-title-small h2 {
      font-size: 22px;
      line-height: 26px;
    }

    .txt-way p {
      width: 300px;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.5px;
    }

    .text {
      height: 680px;
    }

    .leaf-img {
      max-width: 205px;
      height: unset;
    }

    .text-title {
      max-width: 412px;
      height: 32px;
    }

    .text-title h3 {
      margin: unset;
      margin-left: 10px;
      margin-top: 10px;
    }

    .text-wrap {
      margin-left: 10px;
      max-width: 315px;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.5px;
    }

    .text-wrap p {
      margin-bottom: 0;
    }

    #blood-sugar {
      max-width: unset;
      margin-top: 0;
    }

    #supports {
      margin-top: 0;
      max-width: unset;
    }

    #learn-more {
      max-width: 158px;
    }

    .learn-more {
      font-size: 22px;
    }
  }

  @media (max-width: 350px) {
    .title-5-ways h1 {
      max-width: 210px;
      font-size: 17px;
      
    }

    .text-5-ways p {
      max-width: 300px;
      font-size: 17px;
      line-height: 22px;
    }

    .txt-way-title-small h2 {
      max-width: 300px;
      font-size: 20px;
      line-height: 26px;
    }

    .img-way {
      display: none;
    }

    .img-way-small {
      display: block;
    }

    .txt-way p {
      width: unset;
      height: auto;
    }

 

    .text-title h3 {
      font-size: 23px;
    }

    .text-wrap {
      font-size: 17px;
    }

    .leaf-img {
      max-width: 170px;
    }

    .learn-more {
      font-size: 18px;
    }
  }
</style>