{% layout 'theme.lab1w' %}

<div class="about-intro optimize-title fixed-header">
    <!--with-bg-->
    <header>
        <div class="container">
            <div class="main-logo">
                <a class="only-dt" href="javascript:void(0)"><img src="{{ 'logo-white.png' | asset_url }}" alt="logo"></a>
                <a class="only-mb" href="javascript:void(0)"><img src="{{ 'logo-black.png' | asset_url }}" alt="logo"></a>
            </div>
            <div class="buy-btn">
                <a class="main-btn" href="javascript:void(0)">SAVE UP TO 20%</a>
            </div>
        </div>
    </header>


    <div class="bg-wrap">
        <picture>
            <source srcset="{{ 'lp01n-people.png' | file_url }}" media="(min-width: 641px)">
            <source srcset="{{ 'lp01n-people-m.png' | file_url }}">
            <img srcset="{{ 'lp01n-people-m.png' | file_url }}" alt="">
        </picture>
    </div>
    <div class="container">
        <div class="intro-wrap">
            <div class="title">
                <h1>Natural Blood Sugar Support</h1>
                <p>Over 100,000 Diabetics<br>
                    live better with CuraLin</p>
            </div>

            <div class="btn-wrap">
                <div class="buy-btn">
                    <a class="main-btn small" href="javascript:void(0)">GET NATURAL<br>
                        GLUCOSE SUPPORT!</a>
                    <p>60-Day Money-Back Guarantee</p>
                </div>
                <div class="img">
                    <img src="{{ 'lp01n-fda-bottle.png' | file_url }}" alt="">
                </div>
            </div>

            <div class="extra-info">
                <p>
                    <span class="icon-car"></span>FREE SHIPPING</p>
            </div>
        </div>
    </div>
</div>

<div class="mb-floating-btn">
    <div class="container">
        <a class="main-btn" href="javascript:void(0)">GET NATURAL<br>
            GLUCOSE SUPPORT!</a>
        <p>60-Day Money-Back Guarantee</p>
    </div>
</div>

<div class="about-content bottom-space">
    <div class="floating-btn">
        <div class="buy-btn">
            <a class="main-btn" href="javascript:void(0)">BUY NOW</a>
        </div>
    </div>
    <div class="seen-headlines">
        <div class="sub-title container">
            <h2>As Seen On</h2>
        </div>
        <div class="headlines-list">
            <div class="ticker-wrap">
                <ul>
                    <li><img src="{{ 'brands-msn.png' | asset_url }}" alt="msn logo"></li>
                    <li><img src="{{ 'brands-own.png' | asset_url }}" alt="own logo"></li>
                    <li><img src="{{ 'brands-yahoo.png' | asset_url }}" alt="yahoo logo"></li>
                    <li><img src="{{ 'brands-the-guardian.png' | asset_url }}" alt="the guardian logo"></li>
                    <li><img src="{{ 'brands-daily-express.png' | asset_url }}" alt="daily express logo"></li>
                    <li><img src="{{ 'brands-sun.png' | asset_url }}" alt="the sun logo"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="real-reviews">
        <div class="sub-title container">
            <h2>Real Reviews by Real Diabetics</h2>
        </div>
        <div class="container">
            <div class="reviews-slider">
                <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events" style="cursor: grab;">
                    <div aria-live="off" class="swiper-wrapper" id="swiper-wrapper-5b228155528735db" style="transition-duration: 300ms; transform: translate3d(-1377.5px, 0px, 0px);">
                        <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>“I have tried so many different supplements with no results. This one is amazing
                                                                                                                        and i am
                                                                                                                        excited. I just purchased my second bottle</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Murillo Sr.</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>It is so wonderful to find something that really works. I feel so much
                                                                                                                        better!!</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Leanne Anderson</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                                                                                        would
                                                                                                                        recommend to anyone.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Debra Doss</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>Have been taking CuraLin over the last four months and am beyond pleased with the
                                                                                                                        results.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Edwards</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="1 / 4" class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>“I have tried so many different supplements with no results. This one is amazing
                                                                                                                        and i am
                                                                                                                        excited. I just purchased my second bottle</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Murillo Sr.</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="2 / 4" class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>It is so wonderful to find something that really works. I feel so much
                                                                                                                        better!!</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Leanne Anderson</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="3 / 4" class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                                                                                        would
                                                                                                                        recommend to anyone.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Debra Doss</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="4 / 4" class="swiper-slide" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>Have been taking CuraLin over the last four months and am beyond pleased with the
                                                                                                                        results.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Edwards</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>“I have tried so many different supplements with no results. This one is amazing
                                                                                                                        and i am
                                                                                                                        excited. I just purchased my second bottle</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Murillo Sr.</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>It is so wonderful to find something that really works. I feel so much
                                                                                                                        better!!</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Leanne Anderson</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                                                                                        would
                                                                                                                        recommend to anyone.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Debra Doss</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
                            <div class="quote-card">
                                <blockquote>
                                    <p>Have been taking CuraLin over the last four months and am beyond pleased with the
                                                                                                                        results.</p>
                                </blockquote>
                                <div class="quote-info">
                                    <div class="quote-author">
                                        <p>Michael Edwards</p>
                                    </div>
                                    <div class="quote-rating">
                                        <p>
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                            <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Previous slide" class="swiper-button-prev" role="button" tabindex="0"></div>
                    <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Next slide" class="swiper-button-next" role="button" tabindex="0"></div>
                    <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="more-about">
        <div class="what-is">
            <div class="container">
                <div class="wrap">
                    <div class="sub-title">
                        <h2>What Is CuraLin?</h2>
                        <p>10 years of research and testing created CuraLin, a 100% natural and a clinically tested blood sugar support
                                                                                    formula. If
                                                                                    you’re looking for a natural way to support healthy glucose levels, CuraLin was made just
                                                                                    for
                                                                                    you.
                                                                                    Safe, powerful, and supported by leading diabetes doctors worldwide. Today, over 70,000
                                                                                    proud
                                                                                    diabetics use CuraLin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-advantages">
            <div class="container">
                <div class="wrap">
                    <ul>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-clinically-tested.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>CLINICALLY<br>
                                    TESTED</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-doctor-approved.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>DOCTOR<br>
                                    APPROVED</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-patient-recommended.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>PATIENT<br>
                                    RECOMMENDED</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="what-makes">
            <div class="container">
                <div class="wrap">
                    <div class="sub-title">
                        <h2>What Makes CuraLin Work?</h2>
                        <p>Powerful herbal ingredients work together to support 18 key body functions needed for
                                                                                    effective
                                                                                    blood sugar support. Building on hundreds of years of holistic practice, CuraLin is the most
                                                                                    effective blend of herbal ingredients and science. CuraLin is a clinically tested formula
                                                                                    that’s
                                                                                    100% guaranteed to work or your money back.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ingredients-slider">
        <div class="container">
            <div class="wrap">
                <div class="sub-title">
                    <h2>CuraLin’s 9 Ingredients</h2>
                    <h4>and mechanisms for supporting healthy glucose &amp; A1c:</h4>
                </div>
                <div class="slider-wrap">
                    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div aria-live="polite" class="swiper-wrapper" id="swiper-wrapper-044d3df513c155ed" style="transform: translate3d(0px, 0px, 0px);">
                            <div aria-label="1 / 9" class="swiper-slide swiper-slide-active" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>Swertia Chirata</h3>
                                        <p>is a beautiful, purple flower that contains active compounds that promote cellular glucose metabolism, support the release of insulin from the pancreas, and keep a healthy rate of glucose absorption in the digestive system.
                                            <br>
                                            <span>[31-33]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div aria-label="2 / 9" class="swiper-slide swiper-slide-next" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_1.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>BITTER MELON</h3>
                                        <p>is traditionally used to support insulin sensitivity and healthy pancreatic function.
                                            <br>
                                            <span>[14-22]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="3 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_2.png.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>CINNAMON</h3>
                                        <p>promotes healthy insulin sensitivity &amp; release and helps maintain healthy fasting glucose and A1c levels. Cinnamon also supports healthy weight loss and a healthy feeling nervous system.
                                            <br>
                                            <span>[51-52]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="4 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_3.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>Picrorhiza Kurroa</h3>
                                        <p>Picrorhiza Kurroa is a stem from the Himalayas that helps the liver’s management of toxins, and supports proper function, which in turn helps to promote glucose metabolism and natural weight management.<br>
                                            <span>[47-50]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="5 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_4.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>AMLA</h3>
                                        <p>is rich in tannins, which support the pancreas to promote the healthy function of damaged cells.<br>
                                            <span>[29-30]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="6 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_5.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>SYZYGIUM CUMINI</h3>
                                        <p>is a popular supplement in Ayurveda and traditional Chinese medicine for diabetes. It contains active compounds that support normal liver function and normal glucose levels.
                                            <br>
                                            <span>[43-44]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="7 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_6.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>FENUGREEK</h3>
                                        <p>is rich in special fibers that support insulin production, release and usage. It also maintains a healthy rate of carbohydrate absorption in the digestive system!<br>
                                            <span>[26-28]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="8 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_7.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>Gymnema Sylvestre</h3>
                                        <p>cuts through carb cravings! This plant is also known as “gurmar”, a meaning “sugar destroyer”. It contains molecules similar in shape to glucose, so they fill sugar receptors on the taste buds, reducing cravings and keeping carbohydrate absorption to a healthy rate.<br>
                                            <span>[26-28]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-label="9 / 9" class="swiper-slide" role="group" style="width: 1242px; margin-right: 15px;">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><img src="{{ '9_8.png' | file_url }}" alt=""></span>
                                    </div>
                                    <div class="text">
                                        <h3>TURMERIC</h3>
                                        <p>is a widely used traditional root for blood glucose support. It contains curcumin which promotes healthy blood glucose levels and insulin tolerance. It also supports the immune system.
                                            <br>
                                            <span>[23-25]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    <!-- If we need navigation buttons -->
                        <div aria-controls="swiper-wrapper-044d3df513c155ed" aria-disabled="true" aria-label="Previous slide" class="swiper-button-prev disabled" role="button" tabindex="-1"></div>
                        <div aria-controls="swiper-wrapper-044d3df513c155ed" aria-disabled="false" aria-label="Next slide" class="swiper-button-next" role="button" tabindex="0"></div>
                        <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
                    </div>
                    <div class="ingredients-bullets swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span aria-label="Go to slide 1" class="swiper-pagination-bullet swiper-pagination-bullet-active" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 2" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 3" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 4" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 5" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 6" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 7" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 8" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                        <span aria-label="Go to slide 9" class="swiper-pagination-bullet" role="button" tabindex="0"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tested-ingredients no-image">
        <div class="container">
            <div class="wrap">
                <div class="sub-title">
                    <h2>Clinically studied ingredients clinically studied formula.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="clinically-proven">
        <img src="{{ 'lp01n-product-clinically-proven-stamp.png' | file_url }}" alt="">
    </div>

    <div class="safe-work">
        <div class="container">
            <div class="wrap">
                <div class="data">
                    <div class="sub-title">
                        <h4>CuraLin’s clinical results were published in peer-reviewed medical journals. The studies
                                                                                    scientifically demonstrate CuraLin’s efficacy and favorable safety profile.<br>
                            70,000 diabetics now use CuraLin as part of their diabetes maintenence routines.</h4>
                    </div>
                    <div class="warning-text">
                        <p>Study conducted by CuraLife. Individual results may vary.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="make-work long">
        <div class="container">
            <div class="quote-wrap">
                <blockquote>
                    <p>CuraLin can make a big change in the lives of Diabetic patients. It is safe and effective
                                                                        in
                                                                        supporting Hemoglobin A1c levels.</p>
                </blockquote>
                <div class="author">
                    <div class="wrap">
                        <div class="img">
                            <img src="{{ 'lp01n-author-avatar.png' | file_url }}" alt="">
                        </div>
                        <div class="info">
                            <h3>Dr. Itamar Raz</h3>
                            <p>Professor Itamar Raz is a board-certified doctor and professor of Internal
                                                                                                Medicine
                                                                                                at
                                                                                                the
                                                                                                Hebrew University of Jerusalem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="guarantee-section">
        <div class="container">
            <div class="img big-label">
                <img src="{{ 'lp-lab1w-60-day-label-2.png' | file_url }}" alt="">
            </div>
            <div class="guarantee-text">
                <h3>We’re so confident that you’ll love CuraLin that we offer a 60-day money back guarantee.</h3>
            </div>
            <div class="extra-info">
                <p>
                    <span class="icon-car"></span>FREE SHIPPING</p>
            </div>
        </div>
    </div>

    {% assign lp_prods = page.content | split: ',' %}
    <div class="product-section">
        <div class="container">
            <div class="sl-optimize-03">
                <div class="product-list line-decoration">

                    {% for lp_prod in lp_prods %}
                        {% assign prod = all_products[lp_prod] %}
                        {% assign quantity = prod.metafields.my_fields.pack_items_quantity %}
                        {% assign quantity_by_cents = quantity | times: 100 %}
                        {% assign item_price = prod.price | divided_by: quantity_by_cents | times: 100 %}
                        {% assign original_item_price = prod.metafields.my_fields.original_item.value.price %}
                        {% assign save_price = original_item_price | minus: item_price | times: quantity %}
                        {% assign buylink = "/cart/" | append: prod.first_available_variant.id | append: ":1?channel=buy_button" %}

                        <div class="card">
                            <div class="top">
                                <div class="info">
                                    <h4>{% if save_price > 0 %}<span style="color:#5C88C6">SAVE {{ save_price | money_without_trailing_zeros }}</span>{% else %}Full Price{% endif %} + FREE SHIPPING</h4>
                                    <p style="text-transform: uppercase;">- {{ prod.metafields.my_fields.subtitle }} -</p>
                                </div>
                                <div class="img">
                                    <img src="{{ prod.featured_image.src | img_url: '500x500' }}" alt="">
                                </div>
                                <div class="name">
                                    <h3>{{ prod.title }}</h3>
                                </div>
                                <div class="price {% if quantity > 1 %}per-bottle{%endif%}">
                                    {% if quantity > 1 %}
                                        <p id="divided-price">{{ item_price | money_without_trailing_zeros }} Per Bottle</p>
                                    {% else %}
                                        <p id="original-price">{{ prod.price | money_without_trailing_zeros }}</p>
                                    {% endif %}
                                </div>
                                <div class="discount">
                                    {% if prod.compare_at_price > prod.price %}
                                        <p id="discounted-price">
                                            <strike>{{ prod.compare_at_price | money_without_trailing_zeros }}</strike>
                                            {{ prod.price | money_without_trailing_zeros }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="submit-btn">
                                    <a class="cta-btn" href="{{ buylink }}" prod-id="{{ prod.id }}" prod-title="{{ prod.title }}" prod-price="{{ prod.price | money_without_trailing_zeros | slice: 26, 4 | replace: "<","" }}">ADD TO CART</a>
                                    <p>60-Day Money-Back Guarantee</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="extra-labels">
    <div class="container">
        <ul>
            <li><img src="{{ 'lp01n-label-01.png' | file_url }}" alt=""></li>
            <li><img src="{{ 'lp01n-label-02.png' | file_url }}" alt=""></li>
            <li><img src="{{ 'lp01n-label-03.png' | file_url }}" alt=""></li>
            <li><img src="{{ 'lp01n-label-04.png' | file_url }}" alt=""></li>
            <li><img src="{{ 'lp01n-label-05.png' | file_url }}" alt=""></li>
        </ul>
    </div>
</div>

<footer>
    <div class="container">
        <div class="social-links">
            <ul>
                <li>
                    <a href="https://www.facebook.com/curalife" target="_blank">
                        <span>
                            <img src="{{'icon-facebook.png'| asset_url }}" alt=""></span>
                        </a>
                    </li>
                </li>
                <li>
                    <a href="https://twitter.com/CuraLife" target="_blank">
                        <span>
                            <img src="{{'icon-twitter.png'| asset_url }}" alt=""></span>
                        </a>
                    </li>
                </li>
                <li>
                    <a href="https://instagram.com/curalife" target="_blank">
                        <span>
                            <img src="{{'icon-instagram.png'| asset_url }}" alt=""></span>
                        </a>
                    </li>
                </li>
            </ul>
        </div>
        <div class="text">
            <div class="copyright">
                <p>Copyright © 2021 CuraLife USA LTD. All rights reserved.</p>
            </div>
            <div class="additional">
                <p>Use of this website signifies your agreement to the
                    <a href="/policies/privacy-policy" target="_blank">Privacy &amp; Cookie Policy</a> and
                    <a href="/policies/terms-of-service" target="_blank">Terms &amp; Conditions</a>.</p>
                <p>*Results can vary and there is no guarantee of specific results. We recommend to always monitor blood
                                                            sugar levels closely. This nutritional supplement is designed to enhance the general health,
                                                            however, it cannot be regarded as means to diagnose, treat, cure or prevent any disease or illness.
                                                            Ask your doctor about any questions concerning the compatibility of these supplements with your
                                                            medical conditions or with medications before use. CuraLin is not recommended for those who are
                                                            under 18, who are pregnant or nursing. The information contained in this Website is provided for
                                                            general informational purposes only. It is not intended as and should not be relied upon as medical
                                                            advice. The information may not apply to you and before you use any of the information provided on
                                                            the site, you should contact a qualified medical, dietary, or other appropriate professional. All
                                                            information and recommendations provided by CuraLife Commerce SIA ("CuraLife?) regardingits
                                                            nutritional supplements has been compiled with the utmost care and is provided for informative
                                                            purposes only, taking into account the current scientific knowledge, but without claiming to be
                                                            exhaustive or perfectly up-to-date. CuraLife cannot be held liable for abuse, careless use or any
                                                            other use of this supplement, regarding dosage,storage, (re)packaging and/or use in combination with
                                                            other products or medications. If you utilize any information provided on this site, you do so at
                                                            your own decision and you specifically waive any right to make any claim against the author and
                                                            publisher of this Website and materials as the result of the use of such information.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).on("click", ".cta-btn", function () {
      console.log("add to cart event");
          window.dataLayer  = window.dataLayer || [];
          window.dataLayer.push({
            'event': 'eec.addToCart',       // name of an event. In this case, always stays as eec.addToCart
            'ecommerce': {                  // ecommerce object. This is the essential part of tracking. New EE data must always be pushed to this object
              'currencyCode': '{{shop.currency}}',          // the currency which is currently used by a visitor
              'add': {                        // name of an action. In this case, always stays as add
              'actionField': {           
              'list': 'main'          // optional. name of a list from which the product was added to a cart  
            },       
            'products': [{              // list of products added to a cart. Can contain multiple products at the same time
              'name': $(this).attr('prod-title'),      // name of a product that was added to a cart
              'id': $(this).attr('prod-id'),       // id of a product
              'price': $(this).attr('prod-price').substring(1),      // price of a product
              'category': 'Simple',
              'variant': '',   // category of a product
              'quantity': 1
            }]
          } 
        },
        'userId': '{{ customer.id }}',
        'email': '{{ customer.email }}',
        'country': '{{customer.customer_address.country_code }}',
        'city': '{{customer.customer_address.city }}',
        'name': '{{ customer.first_name }}',
        'surname': '{{ customer.last_name }}',
        'phone_number': '{{customer.phone }}',
        'state': '{{customer.customer_address.province }}',       //state or province
        'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
        });
    });
</script>

<style>
        img.icon-star {
            width: 10px;
            filter: invert(91%) sepia(11%) saturate(3978%) hue-rotate(322deg) brightness(106%) contrast(101%);
        }

        .clinically-proven:before {
            background-image: url({{ 'lp01n-safe-bg.png' | file_url }});
        }

        .tested-ingredients:before {
            background-image: url({{ 'lp01n-tested-bg.svg' | file_url }});
        }

        .more-about .what-is:before {
            background-image: url({{ 'lp01n-more-about-bg.png' | file_url }});
        }

        .product-list .card .img img {
            max-height: 240px !important;
        }

        .product-list .card .img:before {
            padding-bottom: 60% !important;
        }

        @media screen and (max-width: 640px) {
            .more-about .what-is:before {
                background-image: url({{ 'lp01n-more-about-m-bg.png' | file_url }});
            }
        }
    </style>