{% if shop.name contains 'Global' and button_url_global != blank %}
  {% assign buttonURL = button_url_global %}
{% else %}
  {% assign buttonURL = button_url %}
{% endif %}

{% unless button_is_chatbot %}<a class="md:w-full md:block inline-block {% if button_is_prerender_link %}prerender{% endif %}" href="{{ buttonURL }}" {% if button_is_new_tab %}target="_blank"{% endif %}>{% endunless %}
  <button id="button-{{ button_id }}" class="flex justify-center gap-4 {% if alignment == 'center' %}m-auto{% endif %}" {% if button_is_chatbot %}onclick="window.Webchat.startSession('expert', 'Section')"{% endif %}>
    {{ button_text }}
    {% if button_icon != blank %}<i class="{{ button_icon }}"></i>{% endif %}
  </button>
{% unless button_is_chatbot %}</a>{% endunless %}

{% if button_is_link_to_top %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var scrollToTopButton = document.getElementById('button-{{ button_id }}');
      scrollToTopButton.addEventListener('click', function (e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    });
  </script>
{% endif %}

<style>
  {% if button_style == 'outline' %}
    #button-{{ button_id }} {
      background: transparent;
      border: 1px solid {{ button_text_color }};
      border-color: {{ button_text_color }};
      color: {{ button_text_color }};
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: color 200ms ease-in-out;
    }

    #button-{{ button_id }}:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: {{ button_text_color }};
      z-index: -1;
      transition: width 200ms ease-in-out;
    }

    #button-{{ button_id }}:hover {
      color: {{ button_bg_color }};
    }

    #button-{{ button_id }}:hover:after {
      width: 110%;
    }
  {% else %}
    #button-{{ button_id }} {
      background-color: {{ button_bg_color }};
      color: {{ button_text_color }};
    }

    #button-{{ button_id }}:hover {
      background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    }
  {% endif %}
</style>