<div id="countdown-{{ section_id }}" class="countdown">
  <ul>
    <li><span id="hours-{{ section_id }}"></span>Hours</li>
    <li><span id="minutes-{{ section_id }}"></span>Minutes</li>
    <li><span id="seconds-{{ section_id }}"></span>Seconds</li>
  </ul>
</div>

<style>
  @font-face {
    font-family: 'Digital-7';
    src: url({{ 'digital-7.ttf' | asset_url }}) format('truetype');
  }

  .countdown {
    margin: auto;
    max-width: fit-content;
    margin-top: -30px;
    max-height: 6rem;
    margin-bottom: 0;
  }

  .countdown ul {
    margin-bottom: unset;
  }

  .countdown li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase;
    min-width: 80px;
    text-align: center;
    padding: unset;
  }

  .countdown li span {
    display: block;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Digital-7', sans-serif;
  }

  .countdown li:before {
    content: unset !important;
  }

  .countdown li:not(:last-child):before {
    content: ":";
    color: black;
    display: block;
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 40px;
  }

  @media screen and (max-width: 760px) {
      .countdown li {
        min-width: 22vw;
      }

      .countdown li span {
        position: relative;
      }

      .countdown li:not(:last-child):before {
        left: 14vw;
      }
  }
</style>

<script>
    (function() {
        // Timer
        Number.prototype.pad = function() {
            return this < 10 ? '0' + this : this;
        };

        const second = 1000,
              minute = second * 60,
              hour = minute * 60;

        let birthday = "{{ month }} {{ day }}, {{ year }} 09:59:00";
        console.log('Birthday: ' + birthday);

        let countDown = new Date(birthday).getTime();

        let x = setInterval(function() {
            var now = new Date().getTime();

            var distance = countDown - now;

            document.getElementById("hours-{{ section_id }}").innerText = Math.floor(distance / (hour)).pad(),
            document.getElementById("minutes-{{ section_id }}").innerText = Math.floor((distance % (hour)) / (minute)).pad(),
            document.getElementById("seconds-{{ section_id }}").innerText = Math.floor((distance % (minute)) / second).pad();

            if (distance < 0) {
                clearInterval(x);
                //add console log  with calculation for debugging
                console.log('Countdown has ended');
                //add console log  with calculation for debugging
                console.log('Distance: ' + distance + ' Now: ' + now + ' CountDown: ' + countDown
                + ' Hour: ' + hour + ' Minute: ' + minute + ' Second: ' + second
                + ' Hours: ' + document.getElementById("hours-{{ section_id }}").innerText
                + ' Minutes: ' + document.getElementById("minutes-{{ section_id }}").innerText
                + ' Seconds: ' + document.getElementById("seconds-{{ section_id }}").innerText);



                document.getElementById("section-{{ section_id }}").parentElement.remove();
                document.querySelector('.shopify-section').firstChild.style.marginTop = '0';
            }
            //seconds
        }, 0)
    })();
</script>
