<div
	id="decoration-{{ id }}"
	class="decor-img {% if is_decor_remove_on_desktop %}hidden{% else %}block{% endif %} {% if is_decor_remove_on_mobile %}md:hidden{% else %}md:block{% endif %} {% if is_decor_bg %}w-full h-full !object-cover{% endif %}">
	{% unless is_decor_relative_full %}<div class="container">{% endunless %}
	<img
		src="{{ decor_img | image_url }}"
		alt=""
		{% unless is_dont_lazyload %}
			loading="lazy"
		{% endunless %}>
	{% unless is_decor_relative_full %}</div>{% endunless %}
</div>

<style>
	#section-{{ section.id }} #decoration-{{ id }} {
	  position: absolute;
	  z-index: {% if is_decor_above %}2{% else %}0{% endif %};
	  {% if decor_position_top > 50 %}
	    bottom: {{ 100 | minus:  decor_position_top }}%;
	  {% else %}
	    top: {{ decor_position_top }}%;
	  {% endif %}
	  {% if decor_position_left > 50 %}
	    right: {{ 100 | minus: decor_position_left }}%;
	  {% else %}
	    left: {{ decor_position_left }}%;
	  {% endif %}
	  opacity: {{ decor_opacity }}%;
	  max-width: {{ decor_max_width }}%;
	  max-height: 100%;
	  object-fit: contain;
	}

	@media screen and (max-width: 768px) {
	  #section-{{ section.id }} #decoration-{{ id }} {
	    {% if decor_position_top_mobile > 50 %}
	      bottom:{{ 100 | minus:  decor_position_top_mobile }}%;
	      top: unset;
	    {% else %}
	      top:{{ decor_position_top_mobile }}%;
	      bottom: unset;
	    {% endif %}
	    {% if decor_position_left_mobile > 50 %}
	      right: {{ 100 | minus: decor_position_left_mobile }}%;
	      left: unset;
	    {% else %}
	      left:{{ decor_position_left_mobile }}%;
	      right: unset;
	    {% endif %}
		max-width: {{ decor_max_width_mobile }}%;
	  }
	}
</style>
