{% comment %} {% assign collections_handles = "glucose-support,sleep,joint-care,immune-care,multivitamins,bundles" | split: "," %} {% endcomment %}

<div class="dropdown">
    <button class="dropbtn">{{ linkTitle }}</button>
    <div class="dropdown-content">
        {% for collection_handle in collectionsHandles %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
                {% assign image_url = collection.metafields.custom.menu_image | img_url: 'medium' %}
                {% assign product_title = collection.title %}
                {% assign products = collection.products %}
                {% if products.size > 0 %}
                    {% assign product = products.first %}                   
                    {% assign product_url = product.url %}
                {% endif %}
                <a href="{{ product_url }}">
                    <img src="{{ image_url }}" width="181" height="183" alt="{{ collection_handle }}">
                    <span>{{ product_title }}</span>
                </a>
            {% endif %}
        {% endfor %}
       
    </div>
</div>


{% comment %} 
<style>
    /* Styling for the dropdown menu */
    .dropdown .dropbtn {
      display: inline-block;
      position: relative;
    }

    .dropdown .dropbtn:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -3px;
      left: 0;
      background-color: var(--light-green);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .dropdown .dropbtn:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Style the button that is used to open the dropdown menu */
    .dropbtn {    
        padding: 19px 12px 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    /* Change background color on hover */
    .dropbtn:hover {
       z-index: 1;
    }

    /* Style the dropdown menu content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        width: max-content;
        background-color: #fff;
        {% comment %} box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); {% endcomment %}
        {% comment %} border-radius: 8px; {% endcomment %}
        transition: opacity 0.3s ease, top 0.3s ease;     
    }

    /* Style the links inside the dropdown */
    .dropdown-content a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 16px;
        text-decoration: none;
    }

    /* Add a hover effect on links inside the dropdown */
    .dropdown-content a:hover {
        {% comment %} background-color: #f1f1f1;  {% endcomment %}
        animation: animateMenuOpen var(--duration-default) ease;
        animation-fill-mode: forwards;
        z-index: 1;
    }

    .dropdown-content a span {
        padding-top: 10px;
        font-size: 16px;
        
    }

    .dropdown-content a span:hover {
      color: rgba(var(--color-foreground),.75);
    }

    /* Show the dropdown menu when the button is clicked or hovered */
    .dropdown.active .dropdown-content {
        display: flex;
        opacity: 1;
        max-width: 1000px;
    }

    /* Animate the dropdown menu when shown or hidden */
    .dropdown .dropdown-content {
        opacity: 0;
        top: 55px;
        left: -154px;
    }

    /* Add the active class to the dropdown element */
    .dropdown.active .dropdown-content {
        pointer-events: auto;
    }

    @media (max-width: 990px) {
      .dropbtn {
        font-size: 5vw;
      }
    }
</style> {% endcomment %}

<style>
    /* Styling for the dropdown menu */
    .dropdown .dropbtn {
        display: inline-block;
        position: relative;
      }

      .dropdown .dropbtn:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -3px;
        left: 0;
        background-color: var(--light-green);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .dropdown .dropbtn:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .dropdown {
          position: relative;
          display: inline-block;
      }

      /* Style the button that is used to open the dropdown menu */
      .dropbtn {    
          padding: 19px 12px 12px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      /* Change background color on hover */
      .dropbtn:hover {
         z-index: 1;
      }

      /* Style the dropdown menu content (hidden by default) */
      .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
          top: 0;
          width: max-content;
          background-color: #fff;
          transition: opacity 0.3s ease, top 0.3s ease;     
      }

      /* Style the links inside the dropdown */
      .dropdown-content a {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 12px 16px;
          text-decoration: none;
      }

      /* Add a hover effect on links inside the dropdown */
      .dropdown-content a:hover {
          transform: scale(1.05);
          z-index: 1;
      }

      .dropdown-content a span {
          padding-top: 10px;
          font-size: 16px;
      }

      .dropdown-content a span:hover {
        color: rgba(var(--color-foreground),.75);
      }

      /* Show the dropdown menu when the button is clicked or hovered */
      .dropdown.active .dropdown-content {
          display: flex;
          opacity: 1;
          max-width: 1000px;
      }

      /* Animate the dropdown menu when shown or hidden */
      .dropdown .dropdown-content {
          opacity: 0;
          top: 55px;
          left: -154px;
      }

      /* Add the active class to the dropdown element */
      .dropdown.active .dropdown-content {
          pointer-events: auto;
      }

      @media (max-width: 990px) {
        .dropbtn {
          font-size: 5vw;
        }
      }
  
</style>

<script>
    const dropdown = document.querySelector('.dropdown');
    const dropbtn = dropdown.querySelector('.dropbtn');

    function toggleDropdown() {
        dropdown.classList.toggle('active');
    }

    dropbtn.addEventListener('click', toggleDropdown);
    dropdown.addEventListener('mouseenter', function() {
        dropdown.classList.add('active');
    });
    dropdown.addEventListener('mouseleave', function() {
        dropdown.classList.remove('active');
    });
</script>
    
  