
<section class="faq-section">
  <div class="container">
    <div class="titles">
      {% if titleVersion == 'light' %}
        <h2>Frequently Asked Questions</h2>
      {% else %}
        <div class="sub-title">
          <h2>Have Questions?<br>We Want You to Ask!</h2>
          <p>Our team of nutrition experts and scientists has answers</p>
        </div>
        <div class="title-img">
          <img src="{{ 'lp-aio-v3-faq-img.png' | file_url }}" alt="" width="312" height="280">
        </div>
      {% endif %}
    </div>
    <div class="faq">
      {% for faqItem in faqItems %}
        <div class="faq-item">
          <h3 class="question h5" name="faq-question">{{ faqItem | split: ":" | first }}</h3>

          <div class="answer">
            <p>{{ faqItem | split: ":" | last }}</p>

            {% if faqItem contains 'How does each ingredient work' %}
              {% render 'product-all-in-one-ingredients-section' %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  {% if bgColor %}
    .faq-section {
      background-color: {{ bgColor }};
    }
  {% endif %}

  .swiper-button-prev,
  .swiper-button-next {
    color: grey;
    transition: opacity .5s
  }

  .faq-section .container h2 {
    text-align: start
  }

  .faq-section .container .faq {
    margin: 1rem auto
  }

  .faq-section .container .faq .faq-item {
    border-bottom: 1px solid #d3d3d3
  }

  .faq-section .container .faq .faq-item:last-child {
    border-bottom: none;
  }

  .faq-section .container .faq .faq-item .question {
    padding: 1rem 3rem 1rem 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .faq-section .question p {
    margin: unset;
  }

  .faq-section .container .faq .faq-item .question::after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem
  }

  .faq-section .container .faq .faq-item .question.active::after {
    content: "−"
  }

  .faq-section .container .faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out
  }

  .faq-section .container .faq .faq-item .answer .answer-content {
    padding: 0 1rem 1rem;
    line-height: 1.5rem;
    font-weight: 300
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider {
    padding: 50px 0
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem
  }

  {% if titleVersion == "complex" %}
    .faq-section .titles {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .faq-section .titles .sub-title h2 {
      font-size: 1.9rem;
    }

    .faq-section .titles .sub-title p {
      font-size: 1.4rem;
    }

    @media screen and (max-width:768px) {
      .faq-section .titles {
        flex-direction: column;
      }
    }
  {% endif %}

  {% if titleVersion == "light" %}
    .faq-section .titles h2 {
      margin: 0;
      font-weight: bold;
    }

    @media screen and (max-width:768px) {
      .faq-section .titles h2 {
        margin-bottom: unset;
      }
    }
  {% endif %}
</style>

<style>
.faq-section .container .faq {
  margin: 1rem auto;
}

.faq-section .container .faq .faq-item {
  border-bottom: 1px solid #d3d3d3;
}

.faq-section .container .faq .faq-item .question:after {
  content: "+";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.3s;
}

.faq-section .container .faq .faq-item .question.active:after {
  content: "+";
  transform: rotate(45deg);
}

.faq-section .container .faq .faq-item .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

.faq-section .container .faq .faq-item .answer p {
  padding: 0 1rem 1rem;
  line-height: 1.5rem;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
  margin-left: -10%;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
  margin-left: 50px;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
  font-size: 40px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
}

.swiper-nav {
  color: grey;
  width: 10px;
  top: 150px;
}

@media screen and (max-width:768px) {
  .faq-section .container .faq .faq-item .answer .ingredients-main-slider {
    padding: 0
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .swiper-nav {
    top: 120px
  }

  .faq-section .swiper-slide {
    overflow: scroll;
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%;
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset;
  }

  .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0;
  }
}
</style>

<script>
  const accordionItemHeaders = document.querySelectorAll(".question");

  accordionItemHeaders.forEach(accordionItemHeader => {
  accordionItemHeader.addEventListener("click", event => {

  {% if isAllowOneOpen %}
    const currentlyActiveAccordionItemHeader = document.querySelector(".question.active");
    if (currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
      currentlyActiveAccordionItemHeader.classList.toggle("active");
      currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
    }
  {% endif %}

  accordionItemHeader.classList.toggle("active");
  const accordionItemBody = accordionItemHeader.nextElementSibling;
  if(accordionItemHeader.classList.contains("active")) {
    accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
  }
  else {
    accordionItemBody.style.maxHeight = 0;
  }
  });
});

faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.faq-section .swiper-button-next',
      prevEl: '.faq-section .swiper-button-prev',
      disabledClass: 'disabled'
    }
  });
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for textFAQItem in faqItems %}
        {
          "@type": "Question",
          "name": "{{ textFAQItem | split: ':' | first | json }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ textFAQItem | split: ':' | last | json }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
</script>