{% unless instance_id %}
  {% assign instance_id = 'origin' %}
{% endunless %}

<div class="sale-banner {{ instance_id }} {% if isHidden == true %}hidden{% endif %}">
  <div class="container">
    <div class="logo-wrapper">
      {% if logoFileName %}<img class="logo" src="{{ logoFileName | asset_url }}" width="164" height="45" alt="logo">{% endif %}
    </div>

    {% if isFlash %}
      <div class="middle-flash-sale part-60">
        <div class="flash-sale-desktop"><img src="{{ 'header-flash-sale.png' | asset_url }}" alt="" loading="lazy"></div>
        <div class="flash-sale-mobile"><img src="{{ 'header-flash-sale-mobile.png' | asset_url }}" alt="" loading="lazy"></div>
      </div>
    {% endif %}

    <p class="title">{{ title }}</p>

    <div class="cta-wrapper">
      {% if ctaTitle == "20" %}
        <div class="off-container">
          <div class="up-to">UP TO</div>
          <div class="percents-off">20% OFF</div>
        </div>
        {% elsif ctaTitle == "flash" %}
          <div class="twenty-percent-off">
              <div class="up-to">
                  UP TO
              </div>
              <div class="off"> 20% OFF</div>
              <div class="twenty">20</div>
              <div class="percent-off">
                  <div class="percent">%</div>
                  <div class="off-mobile">OFF</div>
              </div>
          </div>
      {% else %}
        <div class="off-container">
          <div class="percents-off">{{ ctaTitle }}</div>
        </div>
      {% endif %}

      <a class="main-btn" id='main-cta-btn' href="{{ ctaButtonLink }}">{{ ctaButtonTitle }}</a>
    </div>
  </div>
</div>

<style>
  .twenty-percent-off {
    display: flex;
  }

  .up-to {
    width: 25px;
    height: 40px;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .off {
    margin-left: 10px;
    width: 256px;
    height: 40px;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 50px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .twenty {
    display: none;
  }

  .percent-off {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .up-to {
      margin-top: 10px;
      width: 20px;
      height: 15px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
    }

    .off {
      display: none;
    }

    .twenty {
      display: flex;
      width: 64px;
      height: 47px;
      font-family: 'PP Radio Grotesk';
      font-weight: 400;
      font-size: 47.0432px;
      line-height: 47px;
    }

    .percent-off {
      display: flex;
      flex-direction: column;
      margin-left: -5px;
    }

    .percent {
      width: 27px;
      height: 45px;
      margin-top: -10px;
      font-family: 'PP Radio Grotesk';
      font-weight: 400;
      font-size: 32px;
      line-height: 61px;
      color: #000000;
    }

    .off-mobile {
      width: 22px;
      height: 13px;
      font-family: 'PP Radio Grotesk';
      font-weight: 400;
      font-size: 10.4036px;
      line-height: 13px;
    }
  }
</style>

<style>
  .middle-flash-sale {
    padding: 0 20px;
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flash-sale-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
      .flash-sale-desktop {
        display: none;
    }

    .flash-sale-mobile {
      display: block;
    }

    .part-60 {
      width: 60%;
    }
  }
</style>

<style>
  .sale-banner {
    top: 0;
    {% if desktopContent == 'none' %}display: none;{% endif %}
  }

  .sale-banner.{{ instance_id }} {
    background: {{ bgColor }};
  }

  .sale-banner.{{ instance_id }} {
    {% if isFixed %}position: fixed;{% endif %}
  }

  .sale-banner.{{ instance_id }} img.logo {
    display: {% if desktopContent contains 'logo' %}block{% else %}none{% endif %};
  }

  .sale-banner.{{ instance_id }} p.title {
    display: {% if desktopContent contains 'title' %}block{% else %}none{% endif %};
    font-size:{% if longTitle %}clamp(32px, 3vw, 50px){% else %}clamp(38px, 4vw, 50px){% endif %};
    padding-bottom:{% if longTitle %}7px{% else %}20px{% endif %};
    left:{% if longTitle %}62%{% else %}50%{% endif %};
  }

  .sale-banner.{{ instance_id }} .off-container {
    display: {% if desktopContent contains 'cta' %}flex{% else %}none{% endif %};
  }

  .sale-banner.{{ instance_id }} .off-container {
    display: {% if desktopContent contains 'cta' %}flex{% else %}none{% endif %};
  }

  {% unless desktopContent contains 'cta-button' %}
    .sale-banner.{{ instance_id }} a.main-btn {
      display: none;
    }
  {% endunless %}

  @media screen and (max-width: 768px) {
    {% if desktopContent == 'none' %}
      .sale-banner {
        display: block;
      }
    {% endif %}

    {% if mobileContent contains ',' %}
      .sale-banner.{{ instance_id }} .container {
        gap: 3vw;
      }
    {% endif %}

    .sale-banner.{{ instance_id }} img.logo {
      display: {% if mobileContent contains 'logo' %}block{% else %}none{% endif %};
      width: {% unless logoFileName contains 'white' %}100%{% endunless %};
      max-width: {% if isLogoSmall %} 100px {% endif %};
    }

    .sale-banner.{{ instance_id }} p.title {
      display: {% if mobileContent contains 'title' %}block{% else %}none{% endif %};
      font-size: {% if isLogo %}7{% else %}9{% endif %}vw;
      {% if isLogo %}max-width: 50%;{% endif %}
    }

    .sale-banner.{{ instance_id }} .cta-wrapper {
      {% if isCTA %}width: 100%;{% endif %}
    }

    .sale-banner.{{ instance_id }} .off-container {
        display: {% if mobileContent contains 'cta' %}flex{% else %}none{% endif %};
    }

    .sale-banner.{{ instance_id }} a.main-btn {
      display: {% if mobileContent contains 'cta-button' %}block{% else %}none{% endif %};
    }
  }
</style>

<style>
  .sale-banner {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    min-height: 80px;
  }

  .sale-banner.hidden {
    display: none;
  }

  .sale-banner .container {
    position: relative;
    min-height: 80px;
    display: flex;
    justify-content: {% if isOnlyLogo %} center {% else %} space-between {% endif %};
    align-items: center;
  }

  .sale-banner img.logo {
    object-fit: contain;
  }

  .sale-banner p.title {
    font-family: 'PP Radio Grotesk';
    color: #ffffff;
    padding: 10px 0;
    margin: unset;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    line-height: 1.2em;
  }

  .sale-banner .cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .sale-banner .off-container {
    justify-content: center;
    align-items: center;
    font-family:'PP Radio Grotesk';
    gap: 10px;
    color: {% unless isFlash %} white {% endunless %};
  }

  .sale-banner .up-to {
    font-size: {% unless isFlash %} 25px{% endunless %};
  }

  .sale-banner .percents-off {
    margin-right: 10px;
    font-size: {% if isFlash %}clamp(20px, 2vw, 35px) {% else %} 35px {% endif %};
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sale-banner a.main-btn {
    font-size: 26px;
    padding: 10px 40px;
    color: white;
    background: var(--dark-green);
    border-radius: 6px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 768px) {
    .sale-banner {
      min-height: 60px;
    }

    .sale-banner .container {
      min-height: 60px;
    }

    .sale-banner p.title {
      position: unset;
      transform: unset;
      padding-bottom: 10px;
    }

    .sale-banner .cta-wrapper {
      gap: 1vw;
    }

    .sale-banner .off-container {
      gap: unset;
    }

    .sale-banner .up-to {
      font-size:{% unless isFlash %} 4vw{% endunless %};
    }

    .sale-banner .percents-off {
      display:flex;
      justify-content: center;
      margin-right: unset;
      font-size: {% if isFlash %} 4vw {% else %} 6vw {% endif %};
      line-height: {% if isFlash %} 4vw {% else %} 6vw {% endif %};
    }

    .sale-banner a.main-btn {
      text-align:center;
      font-size: 4vw;
      padding: 3vw;
      {% comment %} height: 10vw; {% endcomment %}
    }
  }

  @media screen and (max-width: 425px) {
    .up-to {
      margin-top: {% if isFlash %} 3vw{% endif %};
      width: {% if isFlash %} 8vw{% endif %};
      font-size: {% if isFlash %}4vw{% endif %};
      line-height: {% if isFlash %}4vw{% endif %};
    }
  }
</style>