{% assign text_align_class = "text-center" %}
{% if alignment == "start" %}
	{% assign text_align_class = "text-left" %}
{% endif %}

{% if title_tag == 'h1' %}
	{% assign actual_title_tag = 'h1' %}
{% else %}
	{% assign actual_title_tag = 'h2' %}
{% endif %}

<div class="title-wrapper relative z-10 {{ text_align_class }} flex {% if is_reverse %}flex-col-reverse{% else %}flex-col{% endif %}">
	<div class="main-title-wrapper flex items-center justify-center">
		<div class="line"></div>
		<{{ actual_title_tag }} class="title {{ title_tag }}">{{ title }}</{{ actual_title_tag }}>
		<div class="line"></div>
	</div>

	<div class="subtitle text-[22px] md:text-[4vw]">{{ subtitle }}</div>
</div>

<style>
	#section-{{ section_id }} .title-wrapper p {
		margin: 0;
		line-height: inherit;
		font-size: inherit;
	}

	{% if padding_bottom %}
		#section-{{ section_id }} .title-wrapper {
			padding-bottom: {{ padding_bottom }}px;
		}
	{% endif %}

	{% if is_horizontal_lines %}
		#section-{{ section_id }} .title-wrapper .line {
			flex-grow: 1;
			height: 1px;
			background-color: black;
		}

		#section-{{ section_id }} .title {
			flex-shrink: 0;
			margin: 0 10px !important;
		}
	{% endif %}

	{% if span_color %}
		#section-{{ section_id }} .main-title-wrapper strong,
		#section-{{ section_id }} .main-title-wrapper span {
			color: {{ span_color | default: "var(--secondary-color)" }};
		}
	{% endif %}

	{% if title_color %}
		#section-{{ section_id }} .title,
		#section-{{ section_id }} h1,
		#section-{{ section_id }} h2 {
			color: {{ title_color }};
		}
	{% endif %}

	{% if subtitle_color %}
		#section-{{ section_id }} .subtitle {
			color: {{ subtitle_color | default: title_color }};
		}
	{% endif %}

	{% if subtitle_color %}
		#section-{{ section_id }} .subtitle span {
			color: {{ span_color | default: "var(--secondary-color)" }};
		}
	{% endif %}

	{% if is_disable_br_desktop %}
		#section-{{ section_id }} .title br {
			display: none;
		}

		@media (max-width: 768px) {
			#section-{{ section_id }} .title br {
				display: block;
			}
		}
	{% endif %}

	#section-{{ section_id }} .title small {
		font-weight: lighter;
	}

	#section-{{ section_id }} .title {
		{% if subtitle == blank %}margin: unset;{% endif %}
		text-wrap: {% if is_balance_text %}balance{% else %}wrap{% endif %};
		margin-inline: auto;
		margin-{% if is_reverse %}top{% else %}bottom{% endif %}: 0.2em;
	}
</style>
