<div id="subscription-details-{{ SID }}" class="subscription-details relative underline text-[12px] cursor-pointer hover:color-[]">
  <div class="tooltip-button">{{ linkTitle }}</div>

  <div class="tooltip shadow-lg" style="display: none;">
    <span class="close" style="position: absolute; top: 0; right: 0; cursor: pointer;">&times;</span>
    {% if title %}<h6 class="text-[18px]">{{ title }}</h6>{% endif %}
    <p class="description text-[16px]">{{ description }}</p>
    {% if features %}
      <ul class="features">
        {% for feature in features %}
          <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    .tooltip-button {
      anchor-name: --anchor-el;
    }

    .tooltip {
      position-anchor: --anchor-el;
      top: anchor(bottom);
      position: absolute;
      background-color: var(--lighter-brown);
      color: black;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      width: 270px;
      z-index: 10;
      position-try-options: flip-block, flip-inline, flip-block flip-inline;
      position-area: bottom;

      @media (width < 768px) {
        font-size: 5vw;
        width: 90vw !important;
        transform: translateX(12.5%);
      }

      .close {
        font-size: 24px;
        padding: 0 5px;
        line-height: 1;
        display: block;

        @media (width < 768px) {
          font-size: 8vw;
        }
      }

      .tooltip-button {
        anchor-name: --anchor-el;
      }

      .features {
        list-style: none;
        padding: 0;
        font-size: 11px;
        font-weight: bold;

        @media (width < 768px) {
          font-size: 4vw;
        }

        li {
          display: flex;
          align-items: flex-start;
          margin-bottom: 3px;

          &::before {
            content: '✓';
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 13px;
            min-height: 13px;
            border-radius: 50%;
            background-color: var(--primary-color);
            color: white;
            margin-right: 7px;
            margin-top: 1px;
            font-size: 9px;
            left: 0;
            width: unset;
            top: unset;
          }
        }
      }

      h6 {
        @media (width < 768px) {
          font-size: 5.5vw;
        }
      }
    }
  }
</style>

<script>
  let subscriptionDetails{{ SID }} = document.querySelector("#subscription-details-{{ SID }}");
  let tooltip{{ SID }} = document.querySelector("#subscription-details-{{ SID }} .tooltip");
  let closeButton{{ SID }} = document.querySelector("#subscription-details-{{ SID }} .close");

  let shouldStayOpen{{ SID }} = false;

  subscriptionDetails{{ SID }}.addEventListener("mouseover", function() {
    if (!shouldStayOpen{{ SID }}) {
      tooltip{{ SID }}.style.display = "block";
    }
  });
  subscriptionDetails{{ SID }}.addEventListener("mouseout", function() {
    if (!shouldStayOpen{{ SID }}) {
      tooltip{{ SID }}.style.display = "none";
    }
  });

  subscriptionDetails{{ SID }}.addEventListener("click", function(event) {
    event.stopPropagation();
    shouldStayOpen{{ SID }} = !shouldStayOpen{{ SID }};
    tooltip{{ SID }}.style.display = shouldStayOpen{{ SID }} ? "block" : "none";
  });

  closeButton{{ SID }}.addEventListener("click", function(event) {
    event.stopPropagation();
    shouldStayOpen{{ SID }} = false;
    tooltip{{ SID }}.style.display = "none";
  });

  document.addEventListener("click", function() {
    if (shouldStayOpen{{ SID }}) {
      shouldStayOpen{{ SID }} = false;
      tooltip{{ SID }}.style.display = "none";
    }
  });
</script>