<div id="subscription-details-{{ SID }}" class="subscription-details relative underline text-[12px] cursor-pointer hover:color-[]">
  {{ linkTitle }}

  <div id="tooltip" class="shadow-lg" style="display: none;">
    <span id="close" style="position: absolute; top: 0; right: 0; cursor: pointer;">&times;</span>
    {% if title %}<h6 class="text-[18px]">{{ title }}</h6>{% endif %}
    <p class="description text-[16px]">{{ description }}</p>
    {% if features %}
      <ul class="features">
        {% for feature in features %}
          <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<style>
  #tooltip {
    position: absolute;
    background-color: var(--lighter-brown);
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 270px;
    z-index: 10;
    top: 20px;
    right: 0;

    @media (width < 768px) {
      font-size: 5vw;
      top: 33px;
      left: -40vw;
      width: 95vw !important;
    }

    #close {
      font-size: 24px;
      padding: 0 5px;
      line-height: 1;

      @media (width < 768px) {
        font-size: 8vw;
      }
    }

    .features {
      list-style: none;
      padding: 0;
      font-size: 11px;
      font-weight: bold;

      @media (width < 768px) {
        font-size: 4vw;
      }

      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3px;

        &::before {
          content: '✓';
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 13px;
          min-height: 13px;
          border-radius: 50%;
          background-color: var(--blue);
          color: white;
          margin-right: 7px;
          margin-top: 1px;
          font-size: 9px;
          left: 0;
          width: unset;
          top: unset;
        }
      }
    }

    h6 {
      @media (width < 768px) {
        font-size: 5.5vw;
      }
    }
  }
</style>

<script>
  let subscriptionDetails = document.querySelector("#subscription-details-{{ SID }}");
  let tooltip = document.querySelector("#subscription-details-{{ SID }} #tooltip");
  let closeButton = document.querySelector("#subscription-details-{{ SID }} #close");

  let shouldStayOpen = false;

  subscriptionDetails.addEventListener("mouseover", function() {
    if (!shouldStayOpen) {
      tooltip.style.display = "block";
    }
  });
  subscriptionDetails.addEventListener("mouseout", function() {
    if (!shouldStayOpen) {
      tooltip.style.display = "none";
    }
  });

  subscriptionDetails.addEventListener("click", function(event) {
    event.stopPropagation();
    shouldStayOpen = !shouldStayOpen;
    tooltip.style.display = shouldStayOpen ? "block" : "none";
  });

  closeButton.addEventListener("click", function(event) {
    event.stopPropagation();
    shouldStayOpen = false;
    tooltip.style.display = "none";
  });

  document.addEventListener("click", function() {
    if (shouldStayOpen) {
      shouldStayOpen = false;
      tooltip.style.display = "none";
    }
  });
</script>