<div class="video-placeholder" data-video-src="{{ videoURL | escape }}">
  <picture>
    {% if main_mobile_image %}
      <source media="(max-width: 768px)" srcset="{{ main_mobile_image | image_url }}" width="{{ main_mobile_image.width }}" height="{{ main_mobile_image.height }}">
    {% endif %}
    <img class=" relative z-auto object-contain cursor-pointer" src="{{ main_image | default: main_mobile_image | image_url }}" alt="{{ main_image.alt }}" width="{{ main_image.width }}" height="{{ main_image.height }}" {% unless is_dont_lazyload %}loading="lazy"{% endunless %} {% if image_animation != 'none'%}data-aos="{{ image_animation }}" data-aos-duration="{{ animation_duration }}"{% endif %}>
  </picture>
  <div class="play-button"><i class="fa-brands fa-youtube opacity-20 text-[22px] text-white"></i></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var videoPlaceholder = document.querySelector('#section-{{ SID }} .video-placeholder');
    if (videoPlaceholder) {
      videoPlaceholder.addEventListener('click', function() {
        var videoSrc = this.getAttribute('data-video-src');
        var iframe = document.createElement('iframe');
        iframe.setAttribute('src', videoSrc);
        iframe.setAttribute('frameborder', '0');
        iframe.setAttribute('allow', 'autoplay; fullscreen; picture-in-picture');
        iframe.setAttribute('allowfullscreen', '');
        iframe.setAttribute('class', 'w-full h-[400px] mbl:h-[100vw]');
        iframe.setAttribute('title', '');
        this.parentNode.replaceChild(iframe, this);
      });
    }
  });
</script>

<style>
  #section-{{ section_id }} .video-placeholder {
    position: relative;
    cursor: pointer;
  }
  #section-{{ section_id }} .video-placeholder img {
    display: block;
    width: 100%;
    height: auto;
  }
  #section-{{ section_id }} .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>