{% if section.settings.heading != blank or section.settings.content != blank or section.blocks != blank %}
<div class="lifestyle__block">
  <div class="head__lifestyle">
    <div class="text__lifestyle">
      {% if section.settings.heading != blank %}
      	<h2>{{ section.settings.heading }}</h2>
      {% endif %}
      {%if section.settings.lifestyle-image != blank %}
        <div class="lifestyle__image--small">
          <img class="lazyload" data-src="{{ section.settings.lifestyle-image | img_url: "master" }}" alt="lifestyle">
        </div>
      {% endif %}
      {% if section.settings.content != blank %}
      	<p>{{ section.settings.content }}</p>
      {% endif %}	
    </div>
    {%if section.settings.lifestyle-image != blank %}
      <div class="lifestyle__image">
        <img class="lazyload" data-src="{{ section.settings.lifestyle-image | img_url: "master" }}" alt="lifestyle">
      </div>
    {% endif %}
  </div>
  {% if section.blocks != blank %}
   <div class="inner__lifestyle">
     {%- for block in section.blocks -%}
       <div class="elem__lifestyle">
          <div class="head__lifestyle">
            {% if block.settings.lifestyle-list-image != blank %}
              <div class="image__lifestyle">
                <img class="lazyload" data-src="{{block.settings.lifestyle-list-image | img_url: "master" }}" alt="lifestyle">
              </div>
            {% endif %}
            {% if block.settings.lifestyle-list-heading %}
              <div class="header__lifestyle">
                <h6>{{block.settings.lifestyle-list-heading}}</h6>
              </div>
            {% endif %}
          </div>
          {% if block.settings.lifestyle-list-content %}
            <div class="content__lifestyle">
              <p>{{ block.settings.lifestyle-list-content }}</p>
            </div>
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  {% endif %}
</div>
{% endif %}

{% schema %}
  {
    "name": "Lifestyle Changes Section",
    "settings": [	
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading"
      },
	  {
     	 "type": "image_picker",
    	  "id": "lifestyle-image",
    	  "label": "Main Image"
      },
	  {
		"type" : "html",
		"id" : "content",
		"label" : "Description"
	  }
  	],
	"blocks": [
      {   
        "type": "lifestyle-list",
        "name": "Lifestyle List",
        "settings": [
			 {
              "type": "image_picker",
              "id": "lifestyle-list-image",
              "label": "Image"
             },
        	 {
              "type": "text",
              "id": "lifestyle-list-heading",
              "label": "Heading"
            },
			{
              "type": "html",
              "id": "lifestyle-list-content",
              "label": "Content"
            }
        ]
      }
	]
  }		
{% endschema %}