<style>
    .coupons-about{
        background-color: {{section.settings.cpn_abtbgclr}};
    }
    .coupons-about .mini-wrap {
        max-width: 1300px;
    }
    .coupons-about .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 104px 0 10% 0;
}
.coupons-about .about-wrap .text {
    width: 51%;
    padding-right: 3%;
}
.coupons-about .about-wrap .text .sub-title {
    text-align: left;
}
.coupons-about .about-wrap .text .sub-title h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.21;
}
.coupons-about .about-wrap .text .sub-title p {
    padding-top: 27px;
    font-size: 33px;
    line-height: 1.58;
}
.sub-title p b {
    font-weight: bold;
}
.coupons-about .about-wrap .text .mob-img {
    display: none;
    margin-top: 15px;
    position: relative;
}
.coupons-about .about-wrap .text .mob-img span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.coupons-about .about-wrap .text .mob-img span img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.coupons-about .about-wrap .text .btn {
    padding-top: 36px;
}
.coupons-about .about-wrap .text .btn a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 350px;
    padding: 26px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    background-color: var(--orange);
    border-radius: 38.5px;
    -webkit-transition: background-color var(--transition);
    -o-transition: background-color var(--transition);
    transition: background-color var(--transition);
}
.coupons-about .about-wrap .picture {
    width: calc(100% - 51%);
    text-align: center;
}
.coupons-about .about-wrap .text .mob-img:before {
    content: '';
    display: block;
    padding-bottom: 77.5%;
    pointer-events: none;
}
    @media screen and (max-width: 1590px){
        .coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
            max-width: 1173px;
    }
    .coupons-about .about-wrap {
    padding: 88px 0 10% 0;
}
.coupons-about .about-wrap .text .sub-title h2 {
    font-size: 45px;
}
.coupons-about .about-wrap .text .sub-title p {
    padding-top: 18px;
    font-size: 30px;
}
.coupons-about .about-wrap .text .btn {
    padding-top: 35px;
}
.coupons-about .about-wrap .text .btn a {
    min-width: 315px;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    padding: 24px 27px;
    font-size: 16px;
}
    }
    @media screen and (max-width: 1430px){
        .coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
            max-width: 1050px;
        }
        .coupons-about .about-wrap {
    padding: 80px 0 9% 0;
}
.coupons-about .about-wrap .text .sub-title h2 {
    font-size: 40px;
}
.coupons-about .about-wrap .text .sub-title p {
    font-size: 27px;
}
.coupons-about .about-wrap .text .btn {
    padding-top: 25px;
}
.coupons-about .about-wrap .text .btn a {
    min-width: 280px;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    padding: 22px 23px;
    font-size: 14px;
}
}
@media screen and (max-width: 810px){
.coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    padding: 0;
}
.coupons-about .about-wrap .text {
    width: 100%;
    padding-right: 0;
}
.coupons-about .about-wrap .text .mob-img, .coupons-bottom .text .mob-img {
    display: block;
}
.coupons-about .about-wrap .picture, .coupons-bottom .picture {
    display: none;
}
}


@media screen and (max-width: 640px){
.coupons-about .about-wrap {
    padding: 51px 0 49px 0;
}
.coupons-about .about-wrap .text .sub-title h2 {
    padding-right: 21px;
    font-size: 36px;
    line-height: 1.28;
}
.coupons-about .about-wrap .text .sub-title h2 br {
    display: none;
}
.coupons-about .about-wrap .text .sub-title p {
    padding-top: 23px;
    font-size: 16px;
    line-height: 1.44;
}
.coupons-about .about-wrap .text .btn {
    padding-top: 9px;
}
.coupons-about .about-wrap .text .btn a {
    min-width: unset;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    width: 100%;
    padding: 26px 15px;
    font-size: 18px;
}
}
</style>
<div class="coupons-about">
    <div class="container">
        <div class="mini-wrap">
            <div class="about-wrap">
                <div class="text">
                    <div class="sub-title">
                        {% if section.settings.cpn_abttit != blank %}
                        <h2>{{section.settings.cpn_abttit}}</h2>
                        {% endif %}
                        {% if section.settings.cpn_abtdescript != blank %}
                        <p>{{section.settings.cpn_abtdescript}}</p>
                        {% endif %}
                    </div>
                    {% if section.settings.cpn_abtmblimg != blank %}
                    <div class="mob-img">
                        <span>
                            <img src="{{ section.settings.cpn_abtmblimg | img_url: '' }}" alt="">
                        </span>
                    </div>
                    {% endif %}
                    {% if section.settings.cpn_btntitl != blank %}
                    <div class="btn">
                        <a href="{{section.settings.cpn_btnlnk}}">{{section.settings.cpn_btntitl}}</a>
                    </div>
                    {% endif %}
                </div>
                {% if section.settings.cpn_abtdeskimg != blank %}
                <div class="picture">
                    <span>
                        <img src="{{ section.settings.cpn_abtdeskimg | img_url: '' }}" alt="">
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Coupons About",
    "settings": [
        {
            "type": "color",
            "id": "cpn_abtbgclr",
            "label": "Select Color"
        },
        {
            "type": "text",
            "id": "cpn_abttit",
            "label": "Title",
            "default": "Enter Title"
        },
        {
            "type": "textarea",
            "id": "cpn_abtdescript",
            "label": "Description",
            "default": "Enter Description"
        },
        {
            "type": "text",
            "id": "cpn_btntitl",
            "label": "Button Title",
            "default": "Enter Title"
        },
        {
            "type": "url",
            "id": "cpn_btnlnk",
            "label": "Button Link"
        },
        {
            "type": "image_picker",
            "id": "cpn_abtdeskimg",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "cpn_abtmblimg",
            "label": "Select Mobile Image"
        }
    ],
     
    "presets":[
      {
      "name": "Coupons About",
      "category": "coupons_about"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}