<section id="featured-section">
  <div class="container" data-aos="fade-up">
    <h4>{{ section.settings.title }}</h4>
    <div class="partners-wrapper">
      <div class="ticker-wrap swiper" id="ticker-wrap">
        <div class="ticker-col swiper-wrapper">
          {% for block in section.blocks %}
            <div class="partner-col swiper-slide">
              <div class="partner-item">
                <img src="{{ block.settings.featured_image | img_url }}" alt="" loading="lazy">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  {% if section.settings.is_remove_padding_top %}
    #featured-section {
      padding-top: 0;
    }
  {% endif %}
  {% if section.settings.is_remove_padding_bottom %}
    #featured-section {
      padding-bottom: 0;
    }
  {% endif %}
  #featured-section {
      border-bottom: 1px solid {{ section.settings.bg_color_bottom }};
      background-color: {{ section.settings.bg_color }};
  }
  #featured-section h4 {
    font-size: 24px;
    opacity: .6;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
  }
  #featured-section .partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #featured-section .partners-wrapper .partner-col {
    width: 150px;
  }
  #featured-section .partners-wrapper .ticker-wrap:before,
  #featured-section .partners-wrapper .ticker-wrap:after {
    content: "";
    width: .9375rem;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }
  #featured-section .partners-wrapper .ticker-wrap:before {
    left: 0;
    background: {{ section.settings.ticker_background_before }};
  }
  #featured-section .partners-wrapper .ticker-wrap:after {
    right: 0;
    background: {{ section.settings.ticker_background_after }}
  }
  #featured-section .partners-wrapper .ticker-wrap .ticker-col {
    display: flex;
    transition-timing-function: linear;
  }
  #featured-section .partners-wrapper .partner-item {
    opacity: .6;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    #featured-section .partners-wrapper .ticker-wrap:before,
    #featured-section .partners-wrapper .ticker-wrap:after {
      display: none;
    }
    #featured-section .partners-wrapper .partner-col {
      width: 20vw;
    }
    #featured-section h4 {
      margin: 5vw 0;
    }
  }
</style>
 <script>
  let brandsTicker = new Swiper('#featured-section .swiper', {
    spaceBetween: 30,
    speed: 6000,
    autoplay: {
      delay: 0
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
    });
</script>
{% schema %}
{
  "name": "As Featured On",
  "tag": "section",
  "class": "featured no-padding",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "bg_color_bottom",
      "label": "Background Bottom Color",
      "default": "#DCD9D9"
    },
    {
      "type": "color_background",
      "id": "ticker_background_before",
      "label": "Ticker Background Before",
      "default": "linear-gradient(90deg, #F7F7F7 0%, rgba(255, 255, 255, .76) 49.3%, rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "color_background",
      "id": "ticker_background_after",
      "label": "Ticker Background After",
      "default": "linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .76) 49.3%, #F7F7F7 100%)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "As Featured On"
    },
    {
      "type": "checkbox",
      "id": "is_remove_padding_top",
      "label": "Remove Top Padding"
    },
    {
      "type": "checkbox",
      "id": "is_remove_padding_bottom",
      "label": "Remove Bottom Padding"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Featured Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "As Featured On"
    }
  ]
}
{% endschema %}