<footer>
  <div class="top-info">
      <div class="container">
              <div class="info-wrap">
                  <div class="main-side footer-column">
                    {% if section.settings.ftr_logoimage != blank %}
                    <div class="title">
                      <div class="logo">               
                          <a href="{{section.settings.lgo_ftrlink}}"><img src="{{section.settings.ftr_logoimage | img_url: 183 }}" width="183px" height="52px" alt=""></a>
                      </div>
                    </div>
                       {% endif %}
                      <div class="menu-list">
                        {% for block in section.blocks %}
                        {%- assign footer_linklist = block.settings.footer_linklist -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                          <ul>
                            {% for link in linklists[footer_linklist].links %}
                              <li><a href="{{link.url}}"{% if link.url contains 'professionals' or link.url contains 'retail' %} rel="nofollow"{% endif %}>{{link.title}}</a></li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          {% endfor %}
                      </div>
                  </div>
                  <div class="right-column footer-column">
                    <div class="support-contacts">
                      <div class="title">
                          <h3>24/7 CUSTOMER SUPPORT</h3>
                      </div>
                      <ul>
                          {% for block in section.blocks %}
                          {% if block.type == 'contact' %}
                          <li>
                            <div class="phone-title">
                              {% if block.settings.phn_img != blank %}
                              <span>
                                <img src="{{block.settings.phn_img | img_url: width: 32 }}" alt="" width="20" height="20">
                              </span>
                              {% endif %}
                              {{block.settings.phn_title}} 
                            </div>
                              <div class="show-phone">
                                <div class="show-phone-btn"><i class="{{block.settings.phn_icn}}"></i> Show Phone</div>
                                <div class="show-phone-content">
                                  <a href="tel:{{block.settings.phn_numbr}}">{{block.settings.phn_numbr}}</a>
                                </div>
                              </div>
                          </li>
                          {% endif %}
                          {% endfor %}
                         
                      </ul>
                  </div>
                  <div class="social-bar">
                    <div class="title">
                      <h3>FOLLOW US ON</h3>
                    </div>
                    <ul>
                      {% for block in section.blocks %}
                        {% if block.type == 'social' %}
                        <li><a href="{{block.settings.socil_link}}" target="_blank"><i class="{{block.settings.socil_icn}}"></i></a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                </div>
                  </div>
                  
              </div>
              <div class="text">
                  <p>{{section.settings.ftr_desc}}</p>
              </div>
          </div>
  </div>
  <div class="bottom-info">
      <div class="container">
          <div class="mini-wrap">
              <div class="info-wrap">
                  <div class="text">
                      <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p>
                  </div>
                  <div class="payment-methods">
                      <ul>
                        {% for block in section.blocks %}
                              {% if block.type == 'payment' %}
                              {% if block.settings.pymnt_img != blank %}
                          <li><span><img src="{{block.settings.pymnt_img | img_url: ''}}" width="51px" height="32px" alt=""></span></li>
                           {% endif %}
                           {% endif %}
                              {% endfor %}
                      </ul>
                  </div>
                  <div class="text">
                      <p>{{section.settings.alrght_titl}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

</footer>

<div class="modals-wrap">

  <!--

  to call the modal use $.fancybox.open({src: "#mydiv"});

  add to a button "class='open-modal' data-fancybox data-src='#mydiv'" to call a modal

  -->

 {% render 'cart-drawer'%}
 {% render 'login-popup'%}
 {% render 'thanks-popup'%}
 {% render 'logout-popup'%}
 {% render 'password-popup'%}
 {% render 'delete-popup'%}
 {% render 'card-popup'%}

</div>

{% schema %}
{
  "name": "Footer",
  "class":"footer_section",
  "settings": [
    {
      "type": "image_picker",
      "id": "ftr_logoimage",
      "label": "Logo image"
    },
    {
      "type": "url",
      "id": "lgo_ftrlink",
      "label": "Logo Link"
    },
    {
      "type": "text",
      "id": "ftr_titl",
      "label": "Title",
      "default": "Enter Yor title"
     },
     {
      "type": "textarea",
      "id": "ftr_desc",
      "label": "Description",
      "default": "Enter Yor Description"
     },
     {
      "type": "text",
      "id": "alrght_titl",
      "label": "All Rights Title",
      "default": "All Rights Title"
     }
     
     
  ],
  "blocks": [
  {
          "type": "menu",
          "name": {
              "en": "Menu",
              "de": "Menü",
              "es": "Menú",
              "fr": "Menu",
              "pt-PT": "Menu"
          },
          "settings": [
              {
                  "type": "text",
                  "id": "menu_title",
                  "label": {
                      "en": "Heading",
                      "de": "Überschrift",
                      "es": "Encabezado",
                      "fr": "Rubrique",
                      "pt-PT": "Título"
                  },
                  "default": {
                      "en": "Links",
                      "de": "Links",
                      "es": "Enlaces",
                      "fr": "Liens",
                      "pt-PT": "Ligações"
                  }
              },
              {
                  "type": "link_list",
                  "id": "footer_linklist",
                  "label": {
                      "en": "Menu",
                      "de": "Menü",
                      "es": "Menú",
                      "fr": "Menu",
                      "pt-PT": "Menu"
                  },
                  "default": "main-menu"
              }
          ]
      },
      {
        "type": "contact",
        "name": "Contact Numbers",
          "settings": [
            {
              "type": "image_picker",
              "id": "phn_img",
              "label": "Select Image"
            },    
            {
              "type": "text",
              "id": "phn_title",
              "label": "Title",
              "default": "Enter Title"
            },
            {
              "type": "text",
              "id": "phn_icn",
              "label": "Phone Icon",
              "default": "icon-tel"
            },
            {
              "type": "text",
              "id": "phn_numbr",
              "label": "Contact Number",
              "default": " Enter Phone Number "
            }
      
          ]    
        },
        {
        "type": "social",
        "name": "Social Media",
          "settings": [
            {
              "type": "text",
              "id": "socil_icn",
              "label": "Phone Icon",
              "default": "icon-tel"
            },
            {
              "type": "text",
              "id": "socil_title",
              "label": "Title",
              "default": "Enter Title"
            },
            {
              "id": "socil_link",
              "type": "url",
              "label": "Add Link"
            }
      
          ]    
        },
        {
        "type": "payment",
        "name": "Payment Images",
          "settings": [
            {
              "type": "image_picker",
              "id": "pymnt_img",
              "label": "Select Image"
            }
      
          ]    
        }

]
}
{% endschema %}

{% style %}
footer .payment-methods ul:nth-child(2) {
display: none;
}

footer .phone-title {
line-height: 2.5;
}

footer .show-phone-btn {
background: white;
border-radius: 10px;
cursor: pointer;
color: var(--green);
padding: 3px 10px;
margin-left: 5px;
}

footer .show-phone-content {
display: none;
}

footer .social-bar {
max-width: 500px;
}

footer .footer-column {
padding-bottom: 30px;
}

.main-side .menu-list ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
}

.main-side .menu-list ul li {
  margin-right: 50px
}

@media screen and (max-width: 760px){
footer .footer-columns {
    font-size: 20px;
}

.footer-column .title {
  min-height: 80px;
}

.main-side .menu-list ul {
  flex-wrap: nowrap;
  max-height: unset;
}
}

{% endstyle %}
{% javascript %}

{% endjavascript %}
<script>
Array.from(document.getElementsByClassName("show-phone-btn")).forEach(function(e) {
e.addEventListener('click', (event)=>{
  event.target.style.display = 'none';
  event.target.nextElementSibling.style.display = 'block';
})
})
</script>