<div class="support-page offset-top">
    <div class="container">
        <div class="white-bg">
            <div class="mini-wrap">
                <div class="advantages-section">
                    <div class="sub-title">
                        <h3>CuraLin Powerfully Helps</h3>
                    </div>
                    <div class="advantages-wrap">
                        <ul>
                            {% assign count = 0 %}
                           
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Group_3.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Supports healthy pancreatic beta cells function</p>
                                            </div>
                                        </li>
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Vector_2.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Promotes Short & Long Term Healthy & Balanced blood glucose levels</p>
                                            </div>
                                        </li>
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Group_4.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Reduces the craving for sugars & other carbs</p>
                                            </div>
                                        </li>
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Group_5.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Promotes high daily energy levels</p>
                                            </div>
                                        </li>
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Vector_1.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Supports pancreas, liver, and kidney health</p>
                                            </div>
                                        </li>
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ 'Group_4787.png' | asset_url  }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>Promotes healthy weight loss</p>
                                            </div>
                                        </li>
                                        {% assign count = count | plus: 1 %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="story-section">
        <div class="story-data">
            <div class="container">
                <div class="mini-wrap">
                    <div class="sub-title">
                        <h2>What is CuraLin?</h2>
                    </div>

                   
                    <div class="text">
                       <p>CuraLin is a 100% natural glucose support supplement for people looking to maintain
                       healthy blood sugar levels and enjoy life's events to the fullest. It works by
                       blending
                       ancient Ayurveda practices with modern science and technology into a spectacular,
                       synergistic glucose support formula.
                       <br><br>
                       Each CuraLin capsule is manufactured close to the source, using only premium
                       ingredients. Secret production processes ensure that each capsule is highly potent
                       and
                       safe. All facilities are GMP &amp; ISO 9001 certified, independent quality controls
                       assures that you get only the safest, highest quality supplements possible.
                       <br><br>
                       CuraLin comprises of 9 natural ingredients. Scroll down to learn more about the
                       formula.</p>
                    </div>
                  
                    <div class="badges">
                        <ul>   
                            <li>
                                <img src="{{ 'certified.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            <li>
                                <img src="{{ '02_47450747-793a-4005-82b7-d954fd1aafef.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            <li>
                                <img src="{{ '03_91aebecf-24b6-4657-bbd4-29845fa1c67c.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            <li>
                                <img src="{{ '06_ae7c7710-7cc7-4982-a735-808ff5edfcb3.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            <li>
                                <img src="{{ '04_87d176d5-f866-43fd-891e-2b706eb35713.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            <li>
                                <img src="{{ '05_610822b2-bdd3-4748-9b41-5925822d2818.png' | asset_url  }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                         
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "CuraLin Powerfully Helps",
        "settings": [
            {
                "type": "header", 
                "content": "CuraLin Powerfully Section Start" 
            },
           
            {
                "type": "header", 
                "content": "What is CuraLin Section Start" 
            },
           
            {
                "type": "textarea",
                "id": "wht_desc",
                "label": "Description",
                "default": "Enter Description"
            }
   
        ],
        "blocks": [
            {
                "type": "cura_power",
                "name": "CuraLin Helps Content",
                "settings": [    
                
                   
                
                ]    
            },
            {
                "type": "what_cura",
                "name": "What CuraLin Images",
                "settings": [    
                    {
                        "type": "image_picker",
                        "id": "wht_img",
                        "label": "Select Image"
                    }
                    
                ]    
            }
        ],
        "presets":[
            {
                "name": "Banner",
                "category": "text"
            }
        ]
    }
{% endschema %}

{% style %}
.icon-wrap {
    background-color: #BBDDD9;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.icon-wrap img {
    position: relative;
    top: 40%;
    left: 40%;
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.story-data .sub-title {
    margin-bottom: 40px;
    margin-top: 20px;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}