
<div class="health-glucome">
    <div class="container">
        <div class="glucome-wrapper">
            <div class="glucome-content-1">
                {{ section.settings.main_content }}
            </div>
            <div class="glucome-titles">
                <div class="glucome-subtitle">{{ section.settings.subtitle }}</div>
                <div class="glucome-text">{{ section.settings.main_content2 }}</div>
            </div>
            <div class="glucome-img-3">
                <img src="{{ section.settings.image_3 | image_url }}" width="268" height="58" alt="">
            </div>

            <p class="glucome-subtitle-2">
                {{ section.settings.subtitle2 }}
            </p>
            <div class="glucome-img-1">
                <img src="{{ section.settings.image_1 | image_url }}" width="1002" height="454" alt="">
            </div>
            <div class="glucome-img-2">
                <img src="{{ section.settings.image_2 | image_url }}" width="375" height="766" alt="">
            </div>
        </div>
    </div>
</div>


<style>
    .health-glucome {
        background: {{ section.settings.bg_color }};
    }
    .glucome-wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    } 

    .glucome-content-1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;   
        text-align: center;
        letter-spacing: -0.01em;
        color: #404733;
    }

    .glucome-titles {
        padding: 30px 0;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #404733;
    }

    .glucome-text {
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 0.01em;
    }

    .glucome-img-3 {
        display: flex;
        justify-content: center;
    }

    .glucome-subtitle-2 {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #163970;
    }

    .glucome-subtitle-2 span {
        font-weight: 700;
        color: #009BD9;
    }

    .glucome-img-1{
        display: flex;
        justify-content: center;
    }

    .glucome-img-2 {
        display: none;
    }



    @media screen and ( max-width: 425px ) {
       .glucome-img-1 {
        display: none;
       } 

       .glucome-img-2{
           display: flex;
           justify-content: center;
       }
    }  
</style>





{% schema %}
{
    "name": "Health04",
    "tag": "section",
    "class": "health-04",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
    },  
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "subtitle2",
      "label": "Subtitle 2"
    },
    {
        "type": "text",
        "id": "main_content",
        "label": "Content"
    },
    {
        "type": "text",
        "id": "main_content2",
        "label": "Content 2"
    }
],
    "presets": [{
        "name": "Health04"
    }]
}
{% endschema %}