
  <div class="container no-padding">
    <h2><b>{{ section.settings.main_title }}</b></h2>
    <h3>{{ section.settings.main_description }}</h3>
   
    <div class="ingredients-sliders">
      <h2>{{ section.settings.title }}</h2>
      <h3>{{ section.settings.description }}</h3>

      <div class="ingredients-thumbs-slider swiper">
        <div class="ingredients swiper-wrapper">
          {% assign image_small = section.blocks | where: 'type', 'category_image' %}
          {% for block in image_small %}
            <div class="ingredient swiper-slide">
            <img src="{{ block.settings.small_image | img_url }}" width="316" height="296" alt="" loading="lazy">
            </div>
           {% endfor %}
        </div>
      </div>

      <div class="ingredients-main-slider swiper">
        <div class="swiper-button-prev swiper-nav"></div>

        <div class="ingredients swiper-wrapper">
          {% assign image_big = section.blocks | where: 'type', 'category_image2' %}
            {% for block in image_big %}
            <div class="swiper-slide">
                <div class="ingredient">
                    <img src="{{ block.settings.big_image | img_url }}" width="316" height="296" alt="" loading="lazy">
                        <div class="ingredient-content">
                            <p class="ingredient-title">{{ block.settings.category_title }}</p>
                            <p class="ingredient-description">{{ block.settings.category_description }}</p>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next swiper-nav"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>


<style>
  .swiper-button-prev,
  .swiper-button-next {
    color: grey;
    transition: opacity .5s
  }

  .ingredients-section .ingredients-sliders h2 {
    color: #58AA9E;
    font-weight: 600;
    margin-bottom: 0;
  }

  .ingredients-section .ingredients-sliders h2, .ingredients-section .ingredients-sliders h3 {
    text-align: center;
  }

  .ingredients-section h3 {
    font-weight: 300;
  }

  .ingredients-section .seperator-line {
    display: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
    cursor: pointer;
    opacity: .7;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
    opacity: 1;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
    width: 120px;
  }

  .ingredients-section .swiper-button-prev.disabled, .ingredients-section .swiper-button-next.disabled {
    opacity: 0;
  }

  .ingredients-section .swiper-button-prev, .ingredients-section .swiper-button-next {
    color: grey;
    transition: opacity .5s;
  }

  .ingredients-section .swiper-button-prev:after, .ingredients-section .swiper-button-next:after {
    font-size: 28px;
  }

  .ingredients-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .ingredients-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--green);
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
  }

  @media screen and (max-width:768px) {
    .ingredients-section .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }
    .ingredients-section .ingredients-sliders h2, .ingredients-section .ingredients-sliders h3 {
      text-align: start;
    }

    .ingredients-section h2, h3 {
      text-align: left;
      
    }

  
    .ingredients-section .seperator-line {
      display: block;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
      top: 150px;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
      width: 50vw;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0;
      font-weight: 600;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
      margin: 10px 0;
    }

    .swiper {
      overflow: visible;
    }
    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: -15px;
    }
  }

  @media screen and (max-width: 395px ) {
   
  }
</style>

<script>
  ingredientsThumbsSliderAllInOne = new Swiper('.ingredients-section .ingredients-thumbs-slider.swiper', {
    slidesPerView: 5,
    spaceBetween: 10,
    loop: false,
    breakpoints: {
      760: {
        slidesPerView: 7,
        centeredSlides: false,
      },
      1200: {
        slidesPerView: 9,
        centeredSlides: false,
      }
    }
  });

  ingredientsMainSliderAllInOne = new Swiper('.ingredients-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    pagination: {
            el: '.ingredients-main-slider .swiper-pagination',
            clickable: 'true',
            type: 'bullets',
          },
    navigation: {
      nextEl: '.ingredients-section .swiper-button-next',
      prevEl: '.ingredients-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        pagination: {}
      }
    },
    thumbs: {swiper: ingredientsThumbsSliderAllInOne}
  });
</script>


{% schema %}
{
  "name": "Ingredients Section",
  "tag": "section",
  "class": "ingredients-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },

    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "What Makes CuraLin Work?"
    },
    {
      "type": "text",
      "id": "main_description",
      "label": "Main Description"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "text",
        "id": "description",
        "label": "Description"
    }

  ],
 "blocks":[
    {
       "name":"Category Image",
       "type":"category_image",
       "settings":[
          {
             "type":"image_picker",
             "id":"small_image",
             "label":"Image 1"
          }
       ]
    },
    {
       "name":"Category Image 2",
       "type":"category_image2",
       "settings":[
          {
             "type":"image_picker",
             "id":"big_image",
             "label":"Image 2"
          },
          {
             "type":"text",
             "id":"category_title",
             "label":"Category Title"
          },
          {
             "type":"text",
             "id":"category_description",
             "label":"Category Description"
          }
       ]
    }
 ],
  "presets": [
    {
      "name": "Ingredients Section"
    }
  ]
}
{% endschema %}