<div class="container">
  <h2 class="text-center">{{ section.settings.title }}</h2>


  <swiper-container class="items overflow-visible" slides-per-view="auto" auto-height="true" space-between="30" navigation="true" pagination="true" pagination-clickable="true" lazy="true">
    {% for block in section.blocks %}
      <swiper-slide class="item flex flex-col items-center text-center md:max-w-full max-w-30%">
        <img class="max-h-250px" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}" loading="lazy">
        <h5 class="mt-4">{{ block.settings.title }}</h4>
        <p>{{ block.settings.description }}</p>
      </swiper-slide>
    {% endfor %}
  </swiper-container>
</div>

<style>
  .items {
    --swiper-theme-color: #000;
    --swiper-pagination-bottom: -9%;
    --swiper-navigation-size: 18px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 0;
  }
</style>

{% schema %}
{
  "name": "Items collection",
  "tag": "section",
  "class": "items-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Items collection"
    }
  ]
}
{% endschema %}