
{% assign benefits = 'What:*An effort to adopt a fresh perspective on health.
|Why:*You deserve health that lasts.
|How:* (the methods or pillars we employ to deliver on our promise) -
'
| split: '|' %}

<div class="dna-section">
    <div class="container">
        <div class="dna-title">{{ section.settings.title }}</div>
        {% for benefit in benefits %} 
        <div class="dna-section-text">
            <div class="benefit-title">{{ benefit | split: "*" | first }}</div>
            <div class="benefit-desxription">{{ benefit | split: "*" | last }}</div>
        </div>
        {% endfor %}
        <div class="text-about-dna">
            • <b>We will be your partner,</b> your trusted guide, through your health journey.<br>
            • <b>We will help you get back to being you</b> - Healthy, confident, determine and full of life.<br>
            • <b>We will provide</b> natural and research-backed products.<br>
            • <b>Our technology will be innovative,</b> yet one that works for you - easy to use and friendly.<br>
            • <b>We will treat you as a person,</b> before we look at you as a patient.<br>
        </div>
    </div>
    <img class="dna-img" src="{{ section.settings.image | image_url }}" width="956" height="658" alt="">
</div>


<style>
    .dna-section {
        background: {{ section.settings.bg_color }};
        position: relative;
        padding: 20px 0;
        overflow: hidden;
        height: 660px;
    }

    .dna-img {
        max-width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
       
    }

   
    .dna-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 57px;
        line-height: 69px;
        display: flex;
        justify-content: center;
        color: #404733;
    }

    .dna-title span {
        padding-left: 10px;
        background-image: url("{{ 'our-story-dna-swoosh.png' | asset_url }}");
    }

    .dna-section-text {
        margin-left: 50%;
    }

    .text-about-dna {  
        margin-left: 50%;
        position: relative;
        z-index: 1;
        max-width: 45%;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #000000;

    }

    @media screen and (max-width: 1440px) {
        .dna-img {
            max-width: 62vw;
        }
    }


    @media screen and (max-width: 768px) {
        .dna-section {
            max-height: unset;
        }
        .dna-img {
            max-width: unset;
            top: 28vw;
            right: -40vw
        }

       .dna-title span {
            margin-left: 1vw;
        }

     
        .dna-title {
            font-size: 13vw;
            line-height: 1.2em;
        }

        .text-about-dna {
            margin-left: unset;
            max-width: unset;
            padding-top: 80vw;
        }

    
    }

    @media screen and (max-width: 740px) {
        .dna-img {
           
            right: -33vw
        }

    }

    @media screen and (max-width: 700px) {
        .dna-img {

            right: -39vw
        }

        .text-about-dna {  
            padding-top: 86vw;
        }


    }

    
    @media screen and (max-width: 650px) {
        .dna-img {

            right: -50vw
        }

        .text-about-dna {  
            padding-top: 90vw;
        }


    }

    @media screen and (max-width: 600px) {
        .dna-img {
            width: 150vw;
            right: -40vw
        }

        .text-about-dna {  
            padding-top: 85vw;
        }


    }

    @media screen and (max-width: 516px) {
        .dna-img {
            top:36vw;
        }

        .text-about-dna {  
            padding-top: 80vw;
        }

    }

    @media screen and (max-width: 420px) {
        .dna-img {
            top:40vw;
        }

    }

    @media screen and (max-width: 393px) {
        .dna-img {
            top:45vw;
        }

    }
</style>







{% schema %}
{
    "name": "Dna T&I",
    "tag": "section",
    "class": "dna-t-i",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
        {
            "type": "text",
            "id": "main_content",
            "label": "Content"
        }
       
    ],
    "presets": [{
        "name": "Dna T&I"
    }]
}
{% endschema %}