<style>
    @media only screen and (min-width: 761px){
   .white-bg .locations-wrap{
       padding-bottom: 0;
   }
   .loc_titl{
    margin-top: 50px !important;
   }
}
</style>
<div class="offset-top story-page">
   <div class="story-section">
       <div class="story-data">
           <div class="container">
               <div class="mini-wrap">
                   <div class="sub-title">
                       <h3>It started with a son and his father...</h3>
                   </div>
                   
                   <div class="more-text">
                       <div class="text">
                           <div class="wrap">
                            <p>When my father was diagnosed with type 2 diabetes, it transformed both our lives. I experienced first-hand the challenges my father faced maintaining a high quality of life with all the constraints of his condition. From that day, my mission became to help my father maintain healthy blood sugar levels and eliminate his lifestyle constraints, without any negative effects on his lifestyle. <br> <br>

                              I found the answer in Ayurveda; that’s how CuraLife was born. Since then, CuraLife has expanded its vision to improving the quality of life for everyone around the world. We do this by blending modernized ancient Ayurveda principles with modern-day science and technology and creating supportive communities for people on their journeys to health. <br> <br>

                              Join us on our mission to disrupt an industry and help millions of people lead higher quality lives.</p>
                           </div>
                       </div>
                       <div class="more">
                           <p><span class="show">+ Sow all</span><span class="less">- Sow less</span></p>
                       </div>
                   </div>

                   <div class="author">
                       
                       <div class="photo">
                               <img src="{{ 'author.png' | asset_url }}" width="67px" height="67px" alt="" loading="lazy">
                       </div>
                     
                       <div class="info">
                           <p><span>Ron Elul</span>CuraLife Founder & CEO</p>
                       </div>
                   </div>  
               </div>
           </div>
       </div>
   </div>

   <div class="container">
       <div class="white-bg">
           <div class="mini-wrap">
               <div class="team-section">
                   <div class="sub-title">
                       <h3>Meet The CuraTeam</h3>
                   </div>
                   <div class="team-wrap">
                     
                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '01.jpg' | asset_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Ron Elul</h4>
                               <p><i>Chief Executive Officer</i></p>
                           </div>


                           
                          
                       </div>

                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '02.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Tal Zimmerman</h4>
                               <p><i>Chief Growth Officer</i></p>
                           </div>




                       </div>


                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '03.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Alberto Iore</h4>
                               <p><i>Chief Business Officer</i></p>
                           </div>




                       </div>



                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '05.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Ofer Yigdal</h4>
                               <p><i>Chief Portfolio Officer</i></p>
                           </div>




                       </div>



                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '06.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Haviv Almog</h4>
                               <p><i>Head of Product</i></p>
                           </div>




                       </div>



                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '07.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Jolie Weiner</h4>
                               <p><i>Community Manager</i></p>
                           </div>




                       </div>


                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '08.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Dovi Lipton</h4>
                               <p><i>Head of Marketing</i></p>
                           </div>




                       </div>



                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '09.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Remy Reinstein</h4>
                               <p><i>US Sales Director</i></p>
                           </div>




                       </div>



                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '10.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Marco Fortino</h4>
                               <p><i>Head of Partnerships</i></p>
                           </div>

                       </div>


                       <div class="team-item">   
                           <div class="photo">
                               <img src="{{ '13.jpg' | file_url }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div> 
                           <div class="info">
                               <h4>Lital Lotker-Kolan</h4>
                               <p><i>VP Finance</i></p>
                           </div>

                       </div>
                     
                   </div>
               </div>

               <div class="culture-section">
                   <div class="sub-title">
                       <h3>Company Culture</h3>
                   </div>
                   <div class="culture-wrap">
                       <div class="culture-item">
                           
                           <div class="icon-wrap">
                               <img src="{{ 'leaf.png' | file_url }}" alt="" loading="lazy">
                           </div>
                           
                           <div class="text">
                               <p>The CuraLife team is driven by one mission – improving the quality of life for people around the world. And we work incredibly hard to achieve that goal through life-changing products, easily digestible education, and thriving communities. We care deeply, think globally, and work tirelessly to create a happier, healthier world.</p>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="advisory-section">
                   <div class="sub-title">
                       <h3>Advisory Board</h3>
                   </div>
                   <div class="advisory-wrap">
                     
                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ '01_fd6bb682-74e2-4661-822b-22f5379481e9.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Prof. Itamar Raz</h4>
                                   <p>CuraLife’s medical advisory board chairman is Professor Itamar Raz, one of the top diabetologists in the world, the head of the Israel National Council of Diabetes and is the founder and head of the National Diabetes Prevention and Care Plan in Israel. Professor Raz has over 320 publications in peer-reviewed journals and headed the Diabetes Unit at Hadassah University Hospital from 2000-2015.</p>
                               </div>
                           </div>
                       </div>

                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ '02_c1a89c7d-0a92-4717-85de-487dccfa035f.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Dr. Sarah Brewer</h4>
                                   <p>Dr. Sarah Brewer is a global expert in the field of Natural Sciences, with a MB from Cambridge University and a Master's degree from the University of Surrey. She has 30+ years of experience in prestigious hospitals and author of 60+ landmark books on health.</p>
                               </div>
                           </div>
                       </div>


                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ '03_91744e2f-6079-45f0-8e05-4a418ecca50d.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Dr. Sarah Kaplan</h4>
                                   <p>Dr. Sara Kaplan is a clinical dietitian and worldwide acclaimed diet expert. Dr. Kaplan heads the Department of Human Nutrition and Diet for a leading national private healthcare provider. Dr. Kaplan is the nutritional leader at CuraLife.</p>
                               </div>
                           </div>
                       </div>


                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ 'Joel_Adler.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Joel Adler</h4>
                                   <p>Joel has been a Partner at Mishcon de Reya since 2006. He advises and acts for entrepreneurs and company owners from a wide variety of business sectors, with a large part of his practice having an international aspect. He holds an LLB from Bar Ilan University and a Master's Degree in Law from London University. Joel is on the advisory board of CuraLife & two high-tech investment funds.</p>
                               </div>
                           </div>
                       </div>


                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ '04_9c197abf-3f23-4273-9f8d-7bafb16aa21d.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Dr. Laurent Choppe</h4>
                                   <p>Dr. Choppe leads Cukierman & Co. Life Sciences and has been involved in more than 50 Medtech and biotech corporate finance transactions and advisory assignments. Laurent brings extensive international life sciences experience in managing multifunctional teams and setting up new businesses in pharmaceuticals, biotechnology, nutraceuticals, and direct-to-consumer markets. Dr. Choppe is a Doctor of Veterinary Medicine of the University Paris XII and earned an MBA from INSEAD (Fontainebleau, France).</p>
                               </div>
                           </div>
                       </div>


                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ '05_b255f5ff-526c-46aa-b3c1-c3a5ae0b069b.jpg' | file_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>Dr. Uri Elyahu</h4>
                                   <p>Dr. Uri Eliyahu has a Ph.D in Medical Sciences specializing in Epidemiology. Dr. Eliyahu is a licensed pharmacist and holds a MSc in Physiology and Pharmacology. Dr Elyahu is a prestigious lecturer in top universities. Dr. Elyahu is the pharmacology lead at CuraLife.</p>
                               </div>
                           </div>
                       </div>



                     
                       <div class="more">
                           <p><span class="show">+ Sow all</span><span class="less">- Sow less</span></p>
                       </div>
                   </div>
               </div>
           </div>
           <div class="locations-section"> 
               <div class="sub-title"> 
                   <h3 class="loc_titl">Partnerships</h3>
               </div>
               <div class="locations-wrap">
                   <div class="locations-list">
                       <ul>
                           {% for block in section.blocks %}
                           {% if block.type == 'story_locations' %}
                           <li> 
                               <h4>{{block.settings.str_loctitl}}</h4>
                               <a href="{{block.settings.str_loc_url}}" target="_blank"><p>{{block.settings.str_locsubtitl}}</p></a>
                           </li>
                           {% endif %}
                           {% endfor %}
                       </ul>
                   </div>
                   </div>
               </div>
           </div>
       </div>
   </div> 




{% schema %}
 {
   "name": "Our Story Content",
   "settings": [
       {
           "type": "header", 
           "content": "Started Diagnosis Section Start" 
       }, 
     
       {
           "type": "header", 
           "content": "Our Team Section Start" 
       },
    
       {
           "type": "header", 
           "content": "Company Culture Section Start" 
       },
    
       {
             "type": "image_picker",
             "id": "cmpncltr_icnimg",
             "label": "Icon Image"
       },
    
  
       {
           "type": "header", 
           "content": "Advisory Board Section Start" 
       },
     
       {
           "type": "header", 
           "content": "Location Section Start" 
       },
    
       {
           "type": "image_picker",
           "id": "loc_img",
           "label": "Image"
       }   
   ],
   "blocks": [
       {
           "type": "our_team",
           "name": "Our Team",
           "settings": [
                
               
           ]    
       },
       {
           "type": "advis_board",
           "name": "Advisory Board",
           "settings": [
                   
           ]    
       },
       {
           "type": "story_locations",
           "name": "Partnerships Locations",
           "settings": [
                 
               {
                   "type": "text",
                   "id": "str_loctitl",
                   "label": "Country Name",
                   "default": "Enter Country Name"
               },
               {
                   "type": "text",
                   "id": "str_locsubtitl",
                   "label": "Title",
                   "default": "Enter Title"
               },
               {
                "type": "url",
                "id": "str_loc_url",
                "label": "Link"
                }
               
           ]    
       }
   ],
   "presets":[
       {
         "name": "Our Story Content",
         "category": "text"
       }
   ]
 }
{% endschema %}

{% style %}
.story-data .sub-title {
   margin: 40px 0;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}