{%- comment -%} Differences Between US and Global {%- endcomment -%}
{% if shop.name == "CuraLife" %}
  {% assign bundle_notice_text = "+ Life Changing Bonus" %}

  {% if localization.country.iso_code == 'CA' %}
    {% assign challenge_value = 132 %}
    {% assign curaeats_value = 39 %}
  {% elsif localization.country.iso_code == 'AU' %}
    {% assign challenge_value = 147 %}
    {% assign curaeats_value = 43 %}
  {% else %}
    {% assign challenge_value = 99 %}
    {% assign curaeats_value = 29 %}
  {% endif %}
  {% assign promotion_title = "Life Changing Program<br>& CuraEats Meal Plan" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign bundle_notice_text = "+ CuraEats App Bonus" %}
  {% assign challenge_value = 0 %}
  {% assign curaeats_value = 24 %}
  {% assign promotion_title = "CuraEats Meal Plan" %}
{% endif %}

{%- comment -%} More Variables {%- endcomment -%}
{% assign quantity = product.metafields.my_fields.pack_items_quantity %}
{% assign quantity_by_cents = quantity | times: 100 %}
{% assign item_price = product.price | times: 100.0 | divided_by: quantity_by_cents %}
{% if product.tags contains "CuraEats" %}{% assign bundle_addition = curaeats_value | plus: challenge_value | times: 100 %}{% else %}{% assign bundle_addition = 0 %}{% endif %}

{% if localization.country.iso_code == 'CA' %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.metafields.my_fields.ca_cap | times: 100 %}
{% elsif localization.country.iso_code == 'AU' %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.metafields.my_fields.au_cap | times: 100 %}
{% else %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.compare_at_price %}
{% endif %}

{% assign save_price = original_item_cap | minus: item_price | times: quantity | plus: bundle_addition | money_with_currency | replace: ".00", "" | replace: "GBP" | replace: "AUD", "" | replace: "CAD", "" %}

{% comment %} {% render 'script.round-converted-currency' %} {% endcomment %}

<div class="product-data">
  <div class="container">
    <div class="product-wrap">
      <div class="product-thumbnail-wrapper">
        <img class="bg-vector" src="{{ 'product-thumbnail-bg-vector.png' | asset_url }}" alt="" loading="lazy">
        <img class="product-image" src="{{ product.featured_image.src | img_url: 'original' }}" alt="" loading="lazy">
      </div>

      <div class="product-info">
        <div class="title-wrapper">
          <h1>{% if product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% else %}{{ product.title }}{% endif %}</h1>
          <p>Up To {{ product.metafields.my_fields.supply_days.value }} Days Supply</p>
        </div>

        <div class="description">
          {% if product.metafields.custom.original_item_variant %}
            {% render 'price', prod: product.metafields.custom.original_item_variant, productType: "variant" %}
          {% else %}
            {% render 'price', prod: product %}
          {% endif %}

          <p class="promotion-title">Bonus: {{ promotion_title }} ({{ bundle_addition | money_with_currency | replace: ".00", "" | replace: "GBP", "" }} Value)</p>

          <div class="form-wrap">
            <form method="post" id="addTocartForm" action="/cart/add">
              <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <div class="qty-data">
                <p>Quantity</p>
                <div class="qty-control">
                  <a href="javascript:void(0)" data-act="-"><span class="icon-minus"></span></a>
                  <label><input type="number" name="quantity" value="1" maxlength="4"></label>
                  <a href="javascript:void(0)" data-act="+"><span class="icon-plus"></span></a>
                </div>
              </div>

              <button type="submit" name="add" id="AddTCart" class="main-btn"><i class="icon-cart"></i>Add to Cart</button>
            </form>
          </div>

          <div class="total-and-shipping">
            <div class="total-prices" style="display:flex;align-items:center">
              TOTAL: <p style="font-weight: 100;margin:-3px 5px 0 5px;text-decoration: line-through;">{{ original_item_cap | times: quantity | plus: bundle_addition | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</p>
              <span class="real rounded">{{ product.price | money_with_currency | replace: ".00", "" | replace: "GBP", "" }}</span>
            </div>
          </div>

          <div class="extra-info">
            <div class="text-wrap">
              <p>CuraLin is different than anything else available on the market right now, and anything you may have tried in the past.</p>
              <p>CuraLin offers people needing advanced glucose support an effective and 100% natural option for maintaining healthy glucose levels.</p>
              <p>Each vegan-friendly capsule contains our powerful Ayurvedic formula, free from dairy, gluten, preservatives, and artificial colors & flavors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% render 'trust-badges-widget', badgesContent: "free-shipping,money-back,secure-checkout", colors: "#5c5c5c" %}

  {% if product.tags contains "CuraEats" %}
    {% render 'bundle-gifts-section', challenge_value: challenge_value, curaeats_value: curaeats_value %}
  {% endif %}
</div>

<style>
  .product-thumbnail-wrapper {
    position: relative;
    top: 45px;
    width: 500px
  }

  .product-thumbnail-wrapper .bg-vector {
    position: absolute;
    z-index: -1;
    top: 100px;
  }

  .product-wrap {
    justify-content: center;
  }

  .text-wrap p {
    font-size: 17px;
  }

  .main-btn {
    background: var(--dark-green);
    border-color: var(--dark-green);
    color: #FFFFFF;
  }

  .main-btn:hover {
    background: var(--darker-green);
    border-color: var(--darker-green);
  }

  .wisepops-root {
    display: none;
  }

  .product-data {
    padding-top: 0 !important;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .title-wrapper p {
    padding-top: unset;
    font-size: 16px;
    color: #6f6f6f;
    margin: unset;
  }

  .promotion-title {
    color: var(--dark-green);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .total-and-shipping {
    margin-top: 15px;
    display: flex;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 20px;
  }

  .total-and-shipping .free-shipping1 .free-red {
    color: var(--red);
  }

  @media screen and (max-width: 768px) {
    .product-thumbnail-wrapper {
      width: unset;
      top: unset;
    }

    .product-thumbnail-wrapper .bg-vector {
      top: 20vw;
    }

    .product-data {
      padding-top: 15px;
    }

    .title-wrapper {
      justify-content: center;
      position: relative;
      text-align: center;
    }

    .edit a {
      position: absolute;
      right: 0;
    }

    .promotion-title {
      text-align: center;
    }

    .product-info .description .price p {
        justify-content: center;
    }

    .total-and-shipping {
      justify-content: center;
    }
  }
</style>

<script>
  // Change Quantity Widget On Product Page
  $(document).on("click", ".product-data .qty-control a", function (e) {
    e.preventDefault();
    let newVal, $button = $(this),
      inputObj = $button.closest(".qty-control").find("input"),
      oldValue = inputObj.val();
    if ($button.attr('data-act') === "+") {
      newVal = parseInt(oldValue) + 1;
    }
    else {
      newVal = parseInt(oldValue) - 1;
    }

    inputObj.val(newVal);
  });
</script>

<script>
  $(document).on("click", "#AddTCart", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',             // name of the event. In this case, it always must be add_to_cart
      ecommerce: {
      items: [{                           // an array with a product (or multiple products) that was added to a cart
        item_name: '{{ product.title }}',
        item_id: '{{ product.selected_or_first_available_variant.sku }}',
        affiliation: '{{ shop.name }}',
        price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: parseInt($(".qty-control input").val())
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: '{{ product.selected_or_first_available_variant.sku }}',
      product_name: '{{ product.title }}',
      product_price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });
</script>

<script>
  $(document).on("click", "#AddToCart", function (Event) {
    $("#cart-upgrade-popup").slideToggle();
    return false;
  });

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
    items: [{
      item_name: '{{ product.title }}',
      item_id: '{{ product.selected_or_first_available_variant.sku }}',
      affiliation: '{{ shop.name }}',
      price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
      currency: '{{ shop.currency }}',
      item_brand: 'CuraLife',
      item_category: 'CuraLin',
      quantity: 1
    }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>

<script>
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url | remove: '/en-au' | remove: '/en-ca' }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
    };

    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

{% schema %}
{
  "name": "Proudct",
  "class": "cart-content",
  "settings": [
    {
      "type": "textarea",
      "id": "prd_descript",
      "label": "Description",
      "default": "Add Description "
    }, {
      "type": "text",
      "id": "prd_icn",
      "label": "Add Icon",
      "default": "icon-afterpay"
    }, {
      "type": "text",
      "id": "prd_text",
      "label": "Button Title",
      "default": "Add Button Title "
    }, {
      "type": "url",
      "id": "prd_url",
      "label": "Button URL"
    }, {
      "type": "text",
      "id": "ship_txt",
      "label": "Shipping Title",
      "default": "Add Shipping Title"
    }, {
      "type": "text",
      "id": "ship_icn",
      "label": "Shipping Icon",
      "default": "icon-shipping"
    }, {
      "type": "header",
      "content": "Upgrade Popup"
    }, {
      "type": "textarea",
      "id": "first_up_title",
      "label": "3-pack Title"
    }, {
      "type": "textarea",
      "id": "first_up_text",
      "label": "3-pack Text"
    }, {
      "type": "text",
      "id": "first_btnup_text",
      "label": "3-pack Btn"
    }, {
      "type": "textarea",
      "id": "second_up_title",
      "label": "6-pack Title"
    }, {
      "type": "textarea",
      "id": "second_up_text",
      "label": "6-pack Text"
    }, {
      "type": "text",
      "id": "second_btnup_text",
      "label": "6-pack Btn"
    }, {
      "type": "text",
      "id": "continue_btn_text",
      "label": "Continue Btn"
    }
  ],
  "blocks": [
    {
      "type": "prdct_tabs",
      "name": "Product Tabs",
      "settings": [
        {
          "type": "textarea",
          "id": "tab_des",
          "label": "Tab Description",
          "default": "Enter Tab Description"
        }
      ]
    }
  ]
}
{% endschema %}
