<div class="connection">
   <div class="container">

   <div class="connection-title">
    {{ section.settings.title }}
   </div>
    <div class="both-connection-wrapper">
        <div class="connection-text">
            <div class="connection-subtitle">{{ section.settings.subtitle_1 }}</div>
            <div class="connection-paragrath">{{ section.settings.main_content_1 }}</div>
        </div>
        <div class="connection-wrapper-img">
            <img src="{{ section.settings.image_1 | image_url }}" width="572" height="444" alt="">
        </div>
    </div>
    <div class="both-connection-wrapper-2">
        <div class="connection-wrapper-img-2">
            <img src="{{ section.settings.image_2 | image_url }}" width="572" height="444" alt="">
        </div>
        <div class="connection-text">
            <div class="connection-subtitle">{{ section.settings.subtitle_2 }}</div>
            <div class="connection-paragrath">{{ section.settings.main_content_2 }}</div>
        </div>
    </div>
   </div>
</div>


<style>
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>

<style>
    .connection {
        background: {{ section.settings.bg_color }};
    }

    .connection-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #404733;
        padding: 70px 10px 20px;

    }

    .both-connection-wrapper {
        display: flex;
        gap: 20px;
        padding: 20px;
    }

    .both-connection-wrapper-2 {
        display: flex;
        gap: 20px;
        padding: 20px 20px 0;
    }

    .connection-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-family: 'PP Radio Grotesk';
        letter-spacing: -0.01em;
        color: #404733;
        font-size: 30px;
        line-height: 30px;
        max-width: 50%;
    }


    .connection-subtitle {  
        font-weight: 700;     
    }

    .connection-paragrath {
        font-weight: 400;
    }


    @media screen and (max-width: 768px) {
       .connection-title {
         padding:4vw;
       } 

       .both-connection-wrapper {
         flex-direction: column;
       }

       .both-connection-wrapper-2 {
         flex-direction: column-reverse;
         padding: 20px;
       }

       .connection-text {
        max-width: unset;
        font-size: 6vw;
        line-height: 6vw;
       }
    }

</style>




{% schema %}
{
    "name": "Connection I&T",
    "tag": "section",
    "class": "connection-i-t",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle_1",
            "label": "Subtitle 1"
        },

        {
            "type": "text",
            "id": "subtitle_2",
            "label": "Subtitle 2"
        },

        {
            "type": "richtext",
            "id": "main_content_1",
            "label": "Content 1"
        },

        {
            "type": "richtext",
            "id": "main_content_2",
            "label": "Content 2"
        }

    ],
    "presets": [{
        "name": "Connection I&T"
    }]
}
{% endschema %}