<div class="md:flex-row container flex flex-col-reverse gap-40">
  <img class="object-contain w-1/3" src="{{ section.settings.image | image_url }}" alt="" loading="lazy">
  <div class="content">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.content }}</p>
    <a href="{{ section.settings.button_link }}" style="background-color: {{ section.settings.button_color }};"><button>{{ section.settings.button_title }}</button></a>
  </div>
</div>

<style>
  .text-with-image {
    background-color: {{ section.settings.bg_color }};
  }
  .text-with-image .container {
    padding: 50px 0;
  }
  .text-with-image .container p {
    margin-bottom: 20px;
  }

  .text-with-image .container p strong {
    font-weight: bold;
  }
</style>

{% schema %}
{
  "name": "Text with Image",
  "tag": "section",
  "class": "text-with-image",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    }
  ],
  "presets": [
    {
      "name": "Text with Image"
    }
  ]
}
{% endschema %}