<div class="support-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="changing-experiences">
          <div class="sub-title">
            <h2 class="d-desktop">What Our Clients Say <br>About CuraLin</h2>
            <h3 class="d-mobile">Life Changing Experiences</h3>
          </div>
          <div class="quote-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
               
                <div class="swiper-slide">
                  <div class="quote-card">
                    <blockquote>
                      <p>“CuraLin has worked exceptionally well for me! Thank you CuraLin for
                      helping
                      me help
                      myself feel better naturally. Definitely 5 stars!”</p>
                    </blockquote>
                    <div class="quote-info">
                      <div class="quote-author">
                        <p>Colin Reader</p>
                      </div>
                      <div class="quote-rating">
                        <p>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="quote-card">
                    <blockquote>
                     <p>“It started with my manager now 4 of us are on it. My doctor said give it
                     a
                     try.”</p>
                    </blockquote>
                    <div class="quote-info">
                      <div class="quote-author">
                        <p>Jeff Ogden</p>
                      </div>
                      <div class="quote-rating">
                        <p>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="swiper-slide">
                  <div class="quote-card">
                    <blockquote>
                     <p>“Outstanding product and results. I cannot thank you enough for making
                     this
                     possible.”</p>
                    </blockquote>
                    <div class="quote-info">
                      <div class="quote-author">
                        <p>Michael Edwards</p>
                      </div>
                      <div class="quote-rating">
                        <p>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                          <span class="icon-star"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
             

              </div>
              <div class="slide-control">
                <div class="prev-slide2"><span class="icon-arrow"></span></div>
                <div class="next-slide2"><span class="icon-arrow"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="customer-success">
    <div class="container">
      <div class="mini-wrap">
        <div class="intro-text">
          <div class="sub-title">
            <h3>Customer Success <br>With CuraLin</h3>
          </div>
        </div>
        <div class="success-list">
          <ul>
            {% assign contr = 0 %}
            
            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>Are satisfied with CuraLin</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>88.5%</p>
                </div>
                <div class="data">
                  <span style="width: 88.5%;
                      background: linear-gradient(
                  90.05deg
                  , #00D8C7 0%, #00B89D 100%);"></span>
                </div>
              </div>
            </li>

            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>Feel safe using CuraLin</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>98.1%</p>
                </div>
                <div class="data">
                  <span style="width: 98.1%;
                      background: linear-gradient(
                  90.05deg
                  , #FACC37 0%, #F5A412 100%);"></span>
                </div>
              </div>
            </li>

            
            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>Saw a big impact in their lives</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>84%</p>
                </div>
                <div class="data">
                 <span style="width: 84%;
                     background: linear-gradient(
                 90.05deg
                 , #FF90AC 0%, #FF5476 100%);"></span>
                </div>
              </div>
            </li>

            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>Would recommend CuraLin to a friend</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>89%</p>
                </div>
                <div class="data">
                <span style="width: 89%;
                    background: linear-gradient(
                90.05deg
                , #ACE5B6 0%, #76CF84 100%);"></span>
                </div>
              </div>
            </li>

            {% assign contr = contr | plus : 1 %}
           
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="feature-info">
         
          <div class="img-wrap">
            <span><img src="{{ 'bottle-02_1071910e-a3f2-4118-bb84-bde265428c3d.png' | asset_url  }}" width="442px" height="440px" alt="" loading="lazy"></span>
          </div>
         
          <div class="intro-text">
            <div class="sub-title">
              <h3>Maintain Healthy<br> Glucose levels</h3>
              <p>CuraLin is designed specifically for people looking for an effective and natural way to maintain healthy glucose levels so they can enjoy life’s events to the fullest</p>
            </div>
            <div class="btn">
              <a href="/collections/all" class="main-btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .slide-control {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
</style>

<script>
  quoteSlider = new Swiper(".quote-slider .swiper", {
    slidesPerView: 2,
    spaceBetween: 0,
    grabCursor: true,
    autoHeight: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 2,
        centeredSlides: false
      },
      992: {
        slidesPerView: 3,
        centeredSlides: true
      }
    }
  });
</script>

{% schema %}
  {
    "name": "What Our Clients Say",
    "settings": [
      {
         "type": "header", 
         "content": "What Our Clients Say Section Start" 
      }, 
     
    
      {
         "type": "header", 
         "content": "Customer Success Section Start" 
      },
      {
        "type": "text",
        "id": "custm_titl",
        "label": "Title",
        "default": "Enter title"
      },
      {
         "type": "header", 
         "content": "Maintain HealthyGlucose  Section Start" 
      },
      {
        "type": "image_picker",
         "id": "mntain_img",
        "label": "Select image"
      },
      {
        "type": "text",
        "id": "mntain_titl",
        "label": "Title",
        "default": "Enter Title"
      },
      {
        "type": "textarea",
        "id": "mntain_desc",
        "label": "Description",
        "default": "Enter Description"
      },
      {
        "type": "text",
        "id": "mntainbtn_titl",
        "label": "Button Title",
        "default": "Enter Button Title"
      },
      {
        "id": "mntain_btnlink",
        "type": "url",
        "label": "Button Link"
      }

    ],
    "blocks": [
      {
        "type": "our_clients",
        "name": "Our Clients Say Content",
        "settings": [    
         
        ]    
      },
      {
        "type": "customer_success",
        "name": "Customer Success Content",
        "settings": [    
        ]    
      }
    ],
    "presets":[
      {
        "name": "What Our Clients Say",
        "category": "slider"
      }
    ]
  }
{% endschema %}