<div class="support-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="changing-experiences">
          <div class="sub-title">
            <h2 class="d-desktop">{{section.settings.clnt_titl}}</h2>
            <h3 class="d-mobile">{{section.settings.clnt_mbltitl}}</h3>
          </div>
          <div class="quote-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                {% if block.type == 'our_clients' %}
                <div class="swiper-slide">
                  <div class="quote-card">
                    <blockquote>
                      <p>{{block.settings.quot_descript}}</p>
                    </blockquote>
                    <div class="quote-info">
                      <div class="quote-author">
                        <p>{{block.settings.authr_name}}</p>
                      </div>
                      <div class="quote-rating">
                        <p>
                          <span class="{{block.settings.quor_ratingone}}"></span>
                          <span class="{{block.settings.quor_ratingtwo}}"></span>
                          <span class="{{block.settings.quor_ratingthree}}"></span>
                          <span class="{{block.settings.quor_ratingfoue}}"></span>
                          <span class="{{block.settings.quor_ratingfive}}"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}

              </div>
              <div class="slide-control">
                <div class="prev-slide2"><span class="icon-arrow"></span></div>
                <div class="next-slide2"><span class="icon-arrow"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="customer-success">
    <div class="container">
      <div class="mini-wrap">
        <div class="intro-text">
          <div class="sub-title">
            <h3>{{section.settings.custm_titl}}</h3>
          </div>
        </div>
        <div class="success-list">
          <ul>
            {% assign contr = 0 %}
            {% for block in section.blocks %}
            {% if block.type == 'customer_success' %}
            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>{{block.settings.cstmr_sbtitl}}</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>{{block.settings.cstmr_percen}}</p>
                </div>
                <div class="data">
                  <span style="{{block.settings.percen_color}}"></span>
                </div>
              </div>
            </li>

            {% assign contr = contr | plus : 1 %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="feature-info">
          {% if section.settings.mntain_img != blank %}
          <div class="img-wrap">
            <span><img src="{{ section.settings.mntain_img | image_url }}" width="442px" height="440px" alt="" loading="lazy"></span>
          </div>
          {% endif %}
          <div class="intro-text">
            <div class="sub-title">
              <h3>{{section.settings.mntain_titl}}</h3>
              <p>{{section.settings.mntain_desc}}</p>
            </div>
            <div class="btn">
              <a href="{{section.settings.mntain_btnlink}}" class="main-btn">{{section.settings.mntainbtn_titl}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .slide-control {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
</style>

<script>
  quoteSlider = new Swiper(".quote-slider .swiper", {
    slidesPerView: 2,
    spaceBetween: 0,
    grabCursor: true,
    autoHeight: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 2,
        centeredSlides: false
      },
      992: {
        slidesPerView: 3,
        centeredSlides: true
      }
    }
  });
</script>

{% schema %}
  {
    "name": "What Our Clients Say",
    "settings": [
      {
         "type": "header", 
         "content": "What Our Clients Say Section Start" 
      }, 
      {
        "type": "text",
        "id": "clnt_titl",
        "label": "Title",
        "default": "Enter title"
      },
      {
        "type": "text",
        "id": "clnt_mbltitl",
        "label": "Mobile Title",
        "default": "Enter title"
      },
      {
         "type": "header", 
         "content": "Customer Success Section Start" 
      },
      {
        "type": "text",
        "id": "custm_titl",
        "label": "Title",
        "default": "Enter title"
      },
      {
         "type": "header", 
         "content": "Maintain HealthyGlucose  Section Start" 
      },
      {
        "type": "image_picker",
         "id": "mntain_img",
        "label": "Select image"
      },
      {
        "type": "text",
        "id": "mntain_titl",
        "label": "Title",
        "default": "Enter Title"
      },
      {
        "type": "textarea",
        "id": "mntain_desc",
        "label": "Description",
        "default": "Enter Description"
      },
      {
        "type": "text",
        "id": "mntainbtn_titl",
        "label": "Button Title",
        "default": "Enter Button Title"
      },
      {
        "id": "mntain_btnlink",
        "type": "url",
        "label": "Button Link"
      }

    ],
    "blocks": [
      {
        "type": "our_clients",
        "name": "Our Clients Say Content",
        "settings": [    
          {
            "type": "textarea",
            "id": "quot_descript",
            "label": "Description",
            "default": "Enter Description"
          },
          {
            "type": "text",
            "id": "authr_name",
            "label": "Author Name",
            "default": " Enter Author Name "
          },
          {
            "type": "text",
            "id": "quor_ratingone",
            "label": "Rating One",
            "default": " icon-star "
          },
          {
            "type": "text",
            "id": "quor_ratingtwo",
            "label": "Rating Two",
            "default": " icon-star "
          },
          {
            "type": "text",
            "id": "quor_ratingthree",
            "label": "Rating three",
            "default": " icon-star "
          },
          {
            "type": "text",
            "id": "quor_ratingfoue",
            "label": "Rating Four",
            "default": " icon-star "
          },
          {
            "type": "text",
            "id": "quor_ratingfive",
            "label": "Rating Five",
            "default": " icon-star "
          }

        ]    
      },
      {
        "type": "customer_success",
        "name": "Customer Success Content",
        "settings": [    
          {
            "type": "text",
            "id": "cstmr_sbtitl",
            "label": "Title",
            "default": " Enter Title "
          },
          {
            "type": "text",
            "id": "cstmr_percen",
            "label": "Percentage",
            "default": " Enter Percentage "
          },
          {
            "type": "textarea",
            "id": "percen_color",
            "label": "Percentage Line width and background Css",
            "default": "Enter css with poperty like background"
          }
        ]    
      }
    ],
    "presets":[
      {
        "name": "What Our Clients Say",
        "category": "slider"
      }
    ]
  }
{% endschema %}