<div class="contact-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="contact-data">
          <div class="info-wrap">
            <div class="contacts-bar">
              <div class="sub-title">
                <h1>24/7 Customer Support</h1>
              </div>
              <div class="support-contacts">
                <ul>
                  {% for block in section.blocks %}
                  {% if block.type == 'contact' %}
                  <li>
                  <div class="phone-title">
                    {% if block.settings.cntphn_img != blank %}
                    <span>
                       <img src="{{block.settings.cntphn_img | img_url: width: 32 }}" width="20px" height="20px" alt="">
                    </span>
                    {% endif %}
                    {{block.settings.cntphn_title}}
                  </div>
                  <div class="show-phone">
                    <div class="show-phone-btn"><i class="icofont-phone"></i> Show Phone</div>
                    <div class="show-phone-content">
                      <a href="tel:{{block.settings.cntphn_numbr}}">{{block.settings.cntphn_numbr}}</a>
                    </div>
                  </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% if section.settings.cstmr_emil !=blank %}
                  <li class="mail-me">
                      E-mail: <a href="mailto:{{section.settings.cstmr_emil}}">
                    <i class="icon-envelope"></i> {{section.settings.cstmr_emil}}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="social-bar">
              <h3>{{section.settings.flow_titl}}</h3>
              <ul>
                {% for block in section.blocks %}
                {% if block.type == 'social' %}
                <li><a href="{{block.settings.cntsocil_link}}" target="_blank"><i class="{{block.settings.cntsocil_icn}}"></i></a></li>
                 {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="contact-form">
            <div class="sub-title">
              <h2>{{section.settings.cntnt_titl}}</h2>
            </div>

            {% form 'contact' %}
              {{ form.errors | default_errors }}
              <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us">
              <div class="form-fields">
                  <label for="first-name" class="full-size">
                    <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
                  </label>

                <label for="last-name" class="full-size">
                  <input  id="last-name" maxlength="80" name="contact[last_name]" size="20" type="text" placeholder="Last Name" />
                </label>

                <label for="subject" class="full-size">
                  <input  id="subject" maxlength="80" name="contact[information_id]" size="20" type="text" placeholder="Subject" />
                </label>

                <label for="phone" class="full-size">
                  <input  id="phone" maxlength="40" name="contact[phone]" size="20" type="tel" placeholder="Phone" />
                </label>

                <label for="email" class="full-size">
                  <input  id="email" maxlength="80" name="contact[email]" size="20" type="text" placeholder="Email" />
                </label>

                <label for="body" class="full-size">
                    <textarea name="contact[body]" placeholder="Message"></textarea>
                </label>
              </div>


              <div class="submit-form">
                <button type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
              </div>
            {% endform %}

            <div class="social-bar">
              <h3>{{section.settings.flow_titl}}</h3>
              <ul>
                 {% for block in section.blocks %}
                {% if block.type == 'social' %}
                <li><a href="{{block.settings.cntsocil_link}}" target="_blank"><i class="{{block.settings.cntsocil_icn}}"></i></a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "Contact Us",
  "class":"contact-us",
  "settings": [
    {
      "type": "header",
      "content": "24/7 Customer Success Section Start"
    },
    {
      "type": "text",
      "id": "cstmr_emil",
      "label": "Email",
      "default": "Enter Email"
    },
    {
      "type": "header",
      "content": "Contact Us Form Section Start"
    },
    {
      "type": "text",
      "id": "cntnt_titl",
      "label": "Title",
      "default": "Enter Title"
    },
    {
      "type": "header",
      "content": "Follow Us Section Start"
    },
    {
      "type": "text",
      "id": "flow_titl",
      "label": "Title",
      "default": "Enter Title"
    }
  ],
  "blocks": [

    {
      "type": "contact",
      "name": "Contact Numbers",
      "settings": [
        {
        "type": "image_picker",
        "id": "cntphn_img",
        "label": "Select Image"
        },
        {
        "type": "text",
        "id": "cntphn_title",
        "label": "Title",
        "default": "Enter Title"
        },
        {
        "type": "text",
        "id": "cntphn_numbr",
        "label": "Contact Number",
        "default": " Enter Phone Number "
        }

      ]
      },
      {
      "type": "social",
      "name": "Social Media",
      "settings": [
        {
        "type": "text",
        "id": "cntsocil_icn",
        "label": "Phone Icon",
        "default": "icon-tel"
        },
        {
        "type": "text",
        "id": "cntsocil_title",
        "label": "Title",
        "default": "Enter Title"
        },
        {
        "id": "cntsocil_link",
        "type": "url",
        "label": "Add Link"
        }

      ]
      }


  ],
  "presets":[
    {
    "name": "Contact Us",
    "category": "Contact"
    }
  ]
  }
{% endschema %}

{% style %}
.support-contacts .phone-title {
  line-height: 2.5;
  }

  .support-contacts .show-phone-btn {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  color: var(--green);
  padding: 3px 10px;
  margin-left: 5px;
  }

  .support-contacts .show-phone-content {
  display: none;
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}
<style>
  #contact_form {
    width: 100%;
    padding: 0;
  }
</style>