<div class="content clearfix container">

<div class="title-bar custom-font">
	<h2 class="main-heading">{{ 'customer.addresses.title' | t }}</h2>
	<div class="clear"></div>
</div>

<div class="main_frm">

<div id="address_tables" class="lft_frm">
{% paginate customer.addresses by 10 %}

  {% for address in customer.addresses %}
  <div class="address_table">
    <div id="view_address_{{address.id}}" class="customer_address{% if address == customer.default_address %} default_address_container{% endif %}">
      {% if address == customer.default_address %}<span class="default_address">{{ 'customer.addresses.default' | t }}</span>{% endif %}
      <h4 class="type-subheading type-subheading--1 address_title">
        {{ address.street }}
      </h4> 
      <div class="view_address">
        <p>{{ address.first_name }} {{address.last_name }}
        {% if address.company != blank %}<br />{{ address.company }}{% endif %}
        {% if address.street != blank %}<br />{{ address.street }}{% endif %}
        <br />{{ address.city }} {% if address.province_code != blank %}, {{ address.province_code }}{% endif %}
        <br />{{ address.country }} {{ address.zip }}
        {% if address.phone != blank %}<br />{{ address.phone }}</p>{% endif %}
      </div>
      <div class="address_actions">
        <span class="action_edit btn" >
        	<a href="#" id="edit_add_{{address.id}}" >Edit</a>
        </span>
        <span class="action_delete btn">
        	<a href="javascript:" onclick='Shopify.CustomerAddress.destroy({{address.id}}, "Are you sure you wish to delete this address?"); return false' 
        	id="view_address_{{address.id}}" >Delete</a>
        </span>
      </div>
    </div>
    <div id="edit_address_{{address.id}}" class="customer_address edit_address nw_edit" style="display:none;">
      {% form 'customer_address', address %}

		<div class="sub-title-bar">
			<h4 class="type-subheading type-subheading--1">{{ 'customer.addresses.edit_address' | t }}</h4>
		</div>

        <table class="customer_address_table">
          <tr>
            <td class="label"><label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label></td>
            <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label></td>
            <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label></td>
            <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label></td>
            <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label></td>
            <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label></td>
            <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label></td>
            <td class="value">
              <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </td>
          </tr>
          <tr id="address_province_container_{{form.id}}" style="display:none">
            <td class="label"><label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label></td>
            <td class="value"><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
          </tr>
          <tr>
            <td class="label"><label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label></td>
            <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label"><label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label></td>
            <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
          </tr>
          <tr>
            <td class="label">{{ 'customer.addresses.set_default' | t }}</td>
            <td class="value">{{ form.set_as_default_checkbox }}</td>
          </tr>
        </table>
        <div class="action-bottom">
          <input class="btn" type="submit" value="{{ 'customer.addresses.update' | t }}" />
            <span class="note"><a href="#" class="btn btn-danger" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
        </div>
      {% endform %}
    </div>
  </div><!-- end .address_table -->
  {% endfor %}

    <div id="address_pagination">{{ paginate | default_pagination }}</div>
  {% endpaginate %}
  </div>

  <div  id="add_address"  class="rght_frm">
    {% form 'customer_address', customer.new_address %}

	<div class="sub-title-bar">
		<h4 class="nwadd">{{ 'customer.addresses.add_new' | t }}</h4>
	</div>
	<div class="form-fields">
	
    <label class="half-size" for="address--first-name">
		
			<input type="text" class="form-control" id="address--first-name" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" />
		</label>
  

	
		<label class="half-size" for="address--last-name">
		
			<input type="text" class="form-control" id="address--last-name" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}" />
		</label>

	
		<label class="half-size" for="address--company">
		
			<input type="text" class="form-control" id="address--company" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}" />
		</label>

	
		<label class="half-size" for="address--address-1">
		
			<input type="text" class="form-control" id="address--address-1" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}" />
		
		</label>
	
		<label class="half-size" for="address--address-1">
		
			<input type="text" class="form-control" id="address--address-2" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}" />
		
			</label>
	
		<label class="half-size" for="address--city">
		
			<input type="text" class="form-control" id="address--city" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}" />
		
			</label>
	
		<label class="half-size" for="address--country">
		
			<select id="address_country_new" name="address[country]" data-default="{{form.country}}" class="form-control" placeholder="{{ 'customer.addresses.country' | t }}">{{ country_option_tags }}</select>
		</label>

	<div  id="address_province_container_new" class=""  style="display:none">
		<label class="half-size" for="address--province">{{ 'customer.addresses.province' | t }}
		
			<select id="address_province_new" class="address_form form-control" name="address[province]" data-default="{{form.province}}"></select>
		</label>
	</div>

	
		<label class="half-size" for="address--zipcode">
		
			<input type="text" class="form-control" id="address--zipcode" name="address[zipcode]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}" />
		
	</label>

	
		<label class="half-size" for="address--phone">
	
			<input type="text" class="form-control" id="address--phone" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}" />
	
			</label>
	
		<label class="half-size">{{ 'customer.addresses.set_default' | t }}
		<div class="">
			{{ form.set_as_default_checkbox }}
		</div>
	</label>

  <div class="submit-wrap">
  	<div class="submit-form">
    <button type="submit" class="main-btn">{{ 'customer.addresses.add' | t }}</button>
</div>
  </div>
</div>
	{% endform %}

  </div>

  <script type="text/javascript" charset="utf-8">
    // initialize observers on address selectors
    new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});

	$(document).ready(function(){
		$('#edit_add_{{address.id}}').click(function(){
			$("#add_address").hide();
			$('#edit_address_{{address.id}}').show();
		});
	});


    {% endfor %}
  </script>

  </div>

</div><!-- /.content -->
<scritp>
<!-- Shopify.CustomerAddress.destroy(6323812860098, "Are you sure you wish to delete this address?"); return false -->
</scritp>


<style>
	.content{
		
		padding-bottom: 50px;
	}
	.main_frm {
    position: relative;
}

	.nwadd{
		margin:0;
	}
	h2.main-heading {
	    text-align: center;
	    margin-top: 3%;
    	padding: 23px 0;
    	font-size: 32px;
	}
	.submit-wrap {
    	margin: 0 auto;
	}
	input#address_default_address_new{
		-webkit-appearance: checkbox;
	}
	.edit_address td input, .edit_address td select {
    width: 100%;
    padding: 17px 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 10px;
}
.edit_address input.btn {
    background: 0 0;
    border: 1px solid rgba(35,24,24,0.5);
    color: #222222;
    padding: 14px 30px;
}
.edit_address input.btn:hover{
	background-color: #33b7a6;
	clear: #fff;
}
a.btn.btn-danger:hover{
	background-color: #33b7a6;
	clear: #fff;
}
a.btn.btn-danger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 30px;
    min-height: 46px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--orange);
    border-radius: 2px;
    border: 1px solid var(--orange);
    -webkit-transition: color var(--transition), border-color var(--transition), background-color var(--transition);
    -o-transition: color var(--transition), border-color var(--transition), background-color var(--transition);
    transition: color var(--transition), border-color var(--transition), background-color var(--transition);
}
.default_address_container {
    padding: 60px 30px 30px;
    border: 1px solid #2222;
    position: relative;
}
.btn {
    border: 0 none;
    padding: 12px 30px;
    border-radius: 0;
    background: #deb63a;
    color: #fff;
}
.btn a{
	color: #fff;
}
.btn:hover{
	background-color: #33b7a6;
}
.address_actions {
    margin-top: 30px;
    margin-bottom: 30px;
}
.customer_address_table input[type=checkbox] {
    width: 25px;
    -webkit-appearance: checkbox;
    left: 10px;
}
input[type=checkbox], input[type=radio] {
    background: var(--border-color-subtle);
    -webkit-appearance: none;
    padding: 9px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
    top: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
}
.action-bottom {
    margin-top: 20px;
}
input#address_default_address_new {
    width: 25%;
}
span.action_delete.btn {
    margin-left: 5px;
}
	@media only screen and (min-width: 768px){
		.main_frm{
		display: flex;
		flex-wrap: wrap;
		}
		.lft_frm{
			width: 50%;
			padding:0 30px;
		}
		.rght_frm{
			width: 50%;
			padding:0 30px;
		}
	}
  @media only screen and (min-width: 761px){
    .nw_edit {
    position: absolute !important;
      right: 0px !important;
      top: 0px !important;
  }  
}
	@media only screen and (max-width: 767px){
		.nwadd {
		    margin-top: 50px;
		    text-align: center;
		    margin-bottom: 20px;
		}
	}
</style>

<script>
  $(document).ready(function(){
      $(".action_edit").click(function(){
          $("footer").css("margin-top", "350px");
      });
  });
</script>