<div class="container">
	<h2>{{ section.settings.title }}<br><span class="subtitle">{{ section.settings.subtitle }}</span></h2>

	<div class="text-about">{{ section.settings.main_content }}</div>
</div>

<img class="father-son-img" src="{{ section.settings.image | image_url }}" width="1020" height="556" alt="">

<style>
	.our-story-father-son-section {
		position: relative;
		padding: 20px 0 0;
		overflow: hidden;
		max-height: 690px;
	}

	.our-story-father-son-section .father-son-img {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.our-story-father-son-section h2 span {
		padding-left: 10px;
		background-image: url("{{ 'our-story-son-father-swoosh.png' | asset_url }}");
	}

	.our-story-father-son-section h2 .subtitle {
		font-size: 30px;
		text-align: center;
		color: #404733;
		font-weight: normal;
	}

	@media screen and (max-width: 1440px) {
		.our-story-father-son-section .father-son-img {
			max-width: 62vw;
		}
	}

	@media screen and (max-width: 768px) {
		.our-story-father-son-section {
			max-height: 310vw;
		}

		.our-story-father-son-section.father-son-img {
			max-width: unset;
			top: 28vw;
			right: -40vw;
		}

		.our-story-father-son-section h2 span {
			margin-left: 1vw;
		}

		.our-story-father-son-section h2 {
			font-size: 13vw;
			line-height: 1.2em;
		}

		.our-story-father-son-section .text-about {
			max-width: unset;
			padding-top: 80vw;
			padding-bottom: 3vw;
		}
	}

	@media screen and (max-width: 740px) {
		.our-story-father-son-section .father-son-img {
			right: -33vw;
		}
	}

	@media screen and (max-width: 700px) {
		.our-story-father-son-section .father-son-img {
			right: -39vw;
		}

		.our-story-father-son-section .text-about {
			padding-top: 86vw;
		}
	}

	@media screen and (max-width: 650px) {
		.our-story-father-son-section .father-son-img {
			right: -50vw
		}

		.our-story-father-son-section .text-about {
			padding-top: 90vw;
		}
	}

	@media screen and (max-width: 600px) {
		.our-story-father-son-section .father-son-img {
			min-width: 150vw;
			right: -40vw
		}

		.our-story-father-son-section .text-about {
			padding-top: 85vw;
		}
	}

	@media screen and (max-width: 516px) {
		.our-story-father-son-section .father-son-img {
			top: 36vw;
		}

		.our-story-father-son-section .text-about {
			padding-top: 80vw;
		}
	}

	@media screen and (max-width: 420px) {
		.our-story-father-son-section .father-son-img {
			top: 40vw;
		}
	}

	@media screen and (max-width: 393px) {
		.our-story-father-son-section .father-son-img {
			top: 45vw;
		}
	}
</style>

{% schema %}
{
	"name": "Rebranding T&I",
	"tag": "section",
	"class": "our-story-father-son-section",
	"disabled_on": {
		"groups": [
			"header",
			"footer"
		]
	},
	"settings": [{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
		{
			"type": "richtext",
			"id": "main_content",
			"label": "Content"
		}

	],
	"presets": [{
		"name": "Rebranding T&I"
	}]
}
{% endschema %}