{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" | split: "," %}
{% assign banner_position = article.metafields.custom.product_banner_position | default: 'Bottom' %}

<article class="article-page py-[50px] md:py-[10vw]">
  <div class="container">
    <div class="article-wrap flex flex-wrap justify-between">
      <div class="article-info flex flex-col justify-center w-full mb-[30px] text-[16px] min-h-[120px]">
        <h1 class="text-[48px] md:text-[8vw] mb-2 text-black">{{ article.title }}</h1>
        <div class="details">
          {% unless article.author == 'Yotam Faraggi' %}By {{ article.metafields.custom.author | default: "Sara Barulli" }}, {% endunless %}
          {{ article.published_at | date: '%B %d, %Y' }}
        </div>
      </div>

      <div class="content md:w-full pb-4">
        {% if article.metafields.custom.audio_file %}
          {% assign coverImage = 'meta-thumbnail.png' | asset_url %}
          {% render 'audio-widget', audio_file: article.metafields.custom.audio_file, cover_image: coverImage, title: 'Winning Type 2 Together Podcast - Episode 1' %}
        {% endif %}

        {% if article.image %}
          {% unless article.metafields.custom.hide_article_image == true %}
            <div class="picture-container mb-[30px]">
              {% render 'image',
                image: article.image,
                sizes: '(min-width: 1200px) 1100px, (min-width: 769px) 750px, 100vw',
                breakpoint: 768,
                lazy: false,
                preload: true,
                alt: article.title,
                class: 'main-image object-cover !p-0 h-[400px] md:h-[250px] w-full'
              %}
            </div>
          {% endunless %}
        {% endif %}

        {% if banner_position == 'Top' %}
          {% render 'article-dynamic-banner' %}
        {% endif %}

        {% if banner_position == 'Middle' %}
          {% assign paragraphs = article.content | split: '</p>' %}
          {% assign total_paragraphs = paragraphs | size %}
          {% assign mid_index = total_paragraphs | divided_by: 2 %}

          <div class="text text-[20px]">
            {% for paragraph in paragraphs %}
              {% if forloop.index0 < mid_index %}
                {{ paragraph }}</p>
              {% endif %}
            {% endfor %}

            {% render 'article-dynamic-banner' %}

            {% for paragraph in paragraphs %}
              {% if forloop.index0 >= mid_index %}
                {{ paragraph }}</p>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="text text-[20px]">{{ article.content }}</div>
        {% endif %}

        {% if banner_position == 'Bottom' %}
          {% render 'article-dynamic-banner' %}
        {% endif %}

        {% if customer.email contains "@curalife.com" %}
          {% assign bannerProduct = article.metafields.banner.product.value %}

          {% if article.metafields.banner.title != blank %}
            {% assign bannerImage = article.metafields.banner.image | default: bannerProduct.image %}

            <div class="promotional-banner rounded-xl mbl:flex-col mbl:p-8 flex items-center justify-between gap-4 p-4" style="background-color:{{ article.metafields.banner.background }}">
              <h3 class="banner-title h6 mobile text-center" style="color:{{ article.metafields.banner.button_color }}">{{ article.metafields.banner.title }}</h3>

              {% render 'image',
                image: bannerImage,
                sizes: '(min-width: 1200px) 1100px, (min-width: 769px) 750px, 100vw',
                breakpoint: 768,
                lazy: true,
                preload: true,
                alt: 'sidebar banner',
                class: 'main-image'
              %}

              <div class="banner-content dsk:w-[70%]">
                <h3 class="banner-title h6 desktop" style="color:{{ article.metafields.banner.button_color }}">{{ article.metafields.banner.title }}</h3>
                <div class="banner-description">{{ article.metafields.banner.description }}</div>
                {% if bannerProduct != blank %}<div class="banner-product-price">Price - {{ bannerProduct.selected_or_first_available_variant.price | money }}</div>{% endif %}
                <a href="{{ bannerProduct.url | default: '/collections/all' }}" class="banner-link"><button>Shop {% if bannerProduct != blank %}{{ bannerProduct.title }}{% else %}All Supplements{% endif %}</button></a>
              </div>

              <style>
                .promotional-banner {
                  button {
                    background-color: {{ article.metafields.banner.button_color | default: '#3A7684'}};
                    color: white;
                    padding: 0.5rem 2rem;
                    border-radius: 50px;
                    font-weight: bold;
                    margin-top: {% if bannerProduct != blank %}0.5rem{% else %}1.5rem{% endif %};
                  }

                  .banner-product-price {
                    color: {{ article.metafields.banner.button_color | default: '#3A7684'}};
                    margin-top: 1rem;
                    font-weight: bold;
                  }
                }

                @media screen and (max-width: 768px) {
                  .promotional-banner {
                    .banner-title.mobile {
                      font-size: 7vw;
                    }

                    .responsive-image-wrapper {
                      width: 100%;

                      img {
                        width: 100%;
                      }
                    }
                  }
                }
              </style>
            </div>
          {% endif %}

          {% render 'product-recommendations' %}
        {% endif %}

        {% if article.tags contains 'recipe' and article.metafields.recipe.ingredients.value %}
          {% render 'article-recipe-content', calories: article.metafields.recipe.calories, duration: article.metafields.recipe.duration, fat: article.metafields.recipe.fat, carbs: article.metafields.recipe.carbs, protein: article.metafields.recipe.protein, fiber: article.metafields.recipe.fiber, ingredients: article.metafields.recipe.ingredients.value, instructions: article.metafields.recipe.instructions.value %}
        {% endif %}

        {% if article.metafields.recipe.tip != blank %}
          <div class="tip bg-[#fff4ed] flex items-center mt-4">
            <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_41304.png?v=1693331251" alt="tip icon" width="100" height="100" loading="lazy">
            <div class="tip-content w-[80%] flex flex-col justify-center gap-2 p-4">
              <div class="tip-content text-[16px]">{{ article.metafields.recipe.tip }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="tag-section w-[60%] md:w-full md:pt-4 items-center flex justify-center p-4">
      {% for tag in article.tags %}
        {% if blog_categories contains tag %}
          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="article-tag px-4 py-1 gap-2 bg-[--light-blue] text-[14px] min-w-[130px] text-center rounded-sm">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="share-article w-[60%] md:w-full bg-[--light-blue] items-center text-[20px] flex justify-center p-4 gap-4">
      <div>Share with friends: </div>
      <div class="social-buttons flex">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"><i class="fab fa-facebook-f p-4"></i></a>
        <a href="https://twitter.com/share?url={{ shop.url }}{{ article.url }}&text={{ article.title }}" target="_blank"><i class="fab fa-twitter p-4"></i></a>
        <a href="#" id="copy-link-button"><i class="fas fa-copy p-4"></i></a>
      </div>
    </div>

    <div id="stickySidebar" class="sidebar w-[33%] md:w-full md:pt-8 absolute md:!static top-[150px] right-0">
      {% assign related_count = 0 %}
      {% assign all_articles = blog.articles %}
      {% assign all_the_tags = article.tags | join: ',' %}
      {% assign current = article.id %}

      <div class="related-posts px-4 py-8 bg-[--light-blue]">
        <h2 class="h4 text-black">Related Topics</h2>

        <div class="posts-list flex flex-col gap-6">
          {% for related_article in all_articles %}
            {% if related_count >= 4 %}
              {% break %}
            {% endif %}
            {% unless related_article.id == current %}
              {% for tag in related_article.tags %}
                {% if all_the_tags contains tag %}
                  <a href="{{ related_article.url }}">
                    <div class="article-card flex-nowrap flex gap-3">
                      <div class="picture min-w-[150px] h-[100px] overflow-hidden border-r-2 bg-[--blue]">
                        {% if related_article.image %}
                          <img src="{{ related_article.image | image_url: height: 100 }}" class="related-image object-cover h-full" width="150" height="100" alt="{{ related_article.title }}" loading="lazy">
                        {% else %}
                          <img src="{{ 'logo-new.svg' | asset_url }}" class="invert !object-contain p-12" alt="curalife logo" loading="lazy">
                        {% endif %}
                      </div>

                      <div class="info flex flex-col gap-1">
                        <h3 class="text-[20px] m-0 line-clamp-3 text-black">{{ related_article.title }}</h3>
                        <div class="date text-[14px]">{{ related_article.published_at | date: '%B %d, %Y' }}</div>
                      </div>
                    </div>
                  </a>
                  {% assign related_count = related_count | plus: 1 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endunless %}
          {% endfor %}

          {% if related_count == 0 %}
            {% assign already_picked = "" %}
            {% for i in (1..5) %}
              {% assign random_seed = i | times: 17 | plus: now | modulo: 99999 %}
              {% assign random_index = random_seed | modulo: all_articles.size %}
              {% assign random_article = all_articles[random_index] %}
              {% unless already_picked contains random_article.id or random_article.id == current %}
                <!-- Existing random article code goes here -->
                <a href="{{ random_article.url }}">
                  <div class="article-card flex-nowrap flex gap-3">
                    <div class="picture min-w-[150px] h-[100px] flex overflow-hidden border-r-2 bg-[--blue]">
                      {% if random_article.image %}
                        <img src="{{ random_article.image | image_url: height: 100 }}" class="object-cover h-full" width="150" height="100" alt="{{ random_article.title }} article thumbnail" loading="lazy">
                      {% else %}
                        <img src="{{ 'logo-new.svg' | asset_url }}" class="invert !object-contain p-4" alt="curalife logo" loading="lazy">
                      {% endif %}
                    </div>

                    <div class="info flex flex-col gap-1">
                      <h3 class="text-[20px] m-0 line-clamp-3">{{ random_article.title }}</h3>
                      <div class="date text-[14px]">{{ random_article.published_at | date: '%B %d, %Y' }}</div>
                    </div>
                  </div>
                </a>
                {% assign already_picked = already_picked | append: "," | append: random_article.id %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>

{% render 'newsletter-form' %}

<script>
  $(document).ready(function() {
    if ($(window).width() > 768) {
      var initialSidebarTop = $('#stickySidebar').offset().top;
      var tagsSectionBottom = $('.tag-section').offset().top + $('.tag-section').height();
      var sidebarHeight = $('#stickySidebar').height();
      var offsetTop = 100;
      var offsetBottom = 0;
      var translateY = 0;
      var prevScrollPosition = $(window).scrollTop();
      var scrollingUp = false;

      function updateSidebar() {
        var scrollPosition = $(window).scrollTop();

        // Update offset based on scroll direction
        if (scrollPosition < prevScrollPosition) {
          scrollingUp = true;
          offsetTop = 100;
        } else if (scrollPosition > prevScrollPosition) {
          scrollingUp = false;
          offsetTop = 0;
        }

        // Calculate the maximum translateY value
        var maxTranslate = tagsSectionBottom - sidebarHeight - initialSidebarTop - offsetBottom;

        // Calculate the new translateY value
        if (scrollPosition >= initialSidebarTop - offsetTop) {
          translateY = Math.min(scrollPosition - initialSidebarTop + offsetTop, maxTranslate);
        } else {
          translateY = 0;
        }

        // Apply the new translateY value to the sidebar
        $('#stickySidebar').css('transform', 'translateY(' + translateY + 'px)');

        // Update the previous scroll position for the next iteration
        prevScrollPosition = scrollPosition;

        // Continue updating
        requestAnimationFrame(updateSidebar);
      }

      // Start the update loop
      requestAnimationFrame(updateSidebar);
    }
  });
</script>

<style>
  #stickySidebar {
    transition: transform 0 ease-in-out;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('copy-link-button').addEventListener('click', function(e) {
      e.preventDefault();
      var dummy = document.createElement('input'),
          text = window.location.href;

      document.body.appendChild(dummy);
      dummy.value = text;
      dummy.select();
      document.execCommand('copy');
      document.body.removeChild(dummy);

      alert('Link copied to clipboard.');
    });
  });
</script>

<style>
  .yotam {
    .faraggi {
      .is {
        great {
          content: "1";
        }
      }
    }
  }
</style>

<style>
  .article-wrap h3 {
    font-size: 26px;
    color: black;
  }

  .article-wrap a {
    color: var(--blue);
    text-decoration: underline;
  }

  .article-wrap .content {
    max-width: 60%;
  }

  .article-wrap .content .text h2 {
    font-size: 36px;
    color: black;
    margin-top: 2rem;
  }

  .article-wrap .content .picture-container img {
    padding: 2rem 0;
  }

  .social-buttons a:hover {
    color: black;
  }

  @media screen and (max-width: 768px) {
    .article-wrap .content {
      max-width: 100%;
    }
    .article-wrap .content .text {
      font-size: 18px;
      line-height: 1.33;
    }
    .article-wrap .content .text h2 {
      font-size: 24px;
    }
  }
</style>

{% schema %}
{
  "name": "Article Pages",
  "settings": []
}
{% endschema %}