{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" | split: "," %}
{% assign banner_position = article.metafields.custom.product_banner_position | default: 'Bottom' %}

<article class="article-page py-[50px] md:py-[14vw]">
  <div class="container">
    <div class="article-wrap flex flex-wrap justify-between">
      <div class="article-info flex flex-col justify-center w-full mb-[30px] text-[16px] min-h-[120px]">
        <h1 class="text-[48px] md:text-[8vw] mb-2 text-black">{{ article.title }}</h1>
        <div class="details">
          {% unless article.author == 'Yotam Faraggi' %}By {{ article.metafields.custom.author | default: "Sara Barulli" }}, {% endunless %}
          {{ article.published_at | date: '%B %d, %Y' }}
        </div>
      </div>

      <div class="content md:w-full pb-4">
        {% if article.metafields.custom.audio_file %}
          {% assign coverImage = 'meta-thumbnail.png' | asset_url %}
          {% render 'audio-widget', audio_file: article.metafields.custom.audio_file, cover_image: coverImage, title: 'Winning Type 2 Together Podcast - Episode 1' %}
        {% endif %}

        {% if article.image %}
          {% unless article.metafields.custom.hide_article_image == true %}
            <div class="picture-container mb-[30px]">
							{{ article.image | image_url: width: 702 | image_tag: class: 'main-image object-cover !p-0 h-[400px] md:h-[250px] w-full' }}
            </div>
          {% endunless %}
        {% endif %}

        {% if banner_position == 'Top' %}
          {% render 'article-banner' %}
        {% endif %}

        {% if banner_position == 'Middle' %}
          {% assign content_html = article.content | split: '</p>' %}
          {% assign total_paragraphs = content_html | size %}
          {% assign mid_index = total_paragraphs | divided_by: 2 | floor %}

          <div class="text text-[20px]">
            {% for paragraph in content_html %}
              {{ paragraph }}</p>
              {% if forloop.index == mid_index %}
                {% render 'article-banner' %}
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="text text-[20px]">{{ article.content }}</div>
        {% endif %}

        {% if banner_position == 'Bottom' %}
          {% render 'article-banner' %}
        {% endif %}

        {% render 'product-recommendations' %}

        {% if article.tags contains 'recipe' and article.metafields.recipe.ingredients.value %}
          {% render 'article-recipe-content', calories: article.metafields.recipe.calories, duration: article.metafields.recipe.duration, fat: article.metafields.recipe.fat, carbs: article.metafields.recipe.carbs, protein: article.metafields.recipe.protein, fiber: article.metafields.recipe.fiber, ingredients: article.metafields.recipe.ingredients.value, instructions: article.metafields.recipe.instructions.value %}
        {% endif %}

        {% if article.metafields.recipe.tip != blank %}
          <div class="tip bg-[#fff4ed] flex items-center mt-4">
            <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_41304.png?v=1693331251" alt="tip icon" width="100" height="100" loading="lazy">
            <div class="tip-content w-[80%] flex flex-col justify-center gap-2 p-4">
              <div class="tip-content text-[16px]">{{ article.metafields.recipe.tip }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="tag-section w-[60%] md:w-full md:pt-4 items-center flex justify-center p-4">
      {% for tag in article.tags %}
        {% if blog_categories contains tag %}
          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="article-tag px-4 py-1 gap-2 bg-[--light-blue] text-[14px] min-w-[130px] text-center rounded-sm">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="share-article w-[60%] md:w-full bg-[--light-blue] items-center text-[20px] flex justify-center p-4 gap-4">
      <div>Share with friends: </div>
      <div class="social-buttons flex gap-2">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 12.05C19.9813 10.5255 19.5273 9.03809 18.6915 7.76295C17.8557 6.48781 16.673 5.47804 15.2826 4.85257C13.8921 4.2271 12.3519 4.01198 10.8433 4.23253C9.33473 4.45309 7.92057 5.10013 6.7674 6.09748C5.61422 7.09482 4.77005 8.40092 4.3343 9.86195C3.89856 11.323 3.88938 12.8781 4.30786 14.3442C4.72634 15.8103 5.55504 17.1262 6.69637 18.1371C7.83769 19.148 9.24412 19.8117 10.75 20.05V14.38H8.75001V12.05H10.75V10.28C10.7037 9.86846 10.7483 9.45175 10.8807 9.05931C11.0131 8.66687 11.23 8.30827 11.5161 8.00882C11.8022 7.70936 12.1505 7.47635 12.5365 7.32624C12.9225 7.17612 13.3368 7.11255 13.75 7.14003C14.3498 7.14824 14.9482 7.20173 15.54 7.30003V9.30003H14.54C14.3676 9.27828 14.1924 9.29556 14.0276 9.35059C13.8627 9.40562 13.7123 9.49699 13.5875 9.61795C13.4627 9.73891 13.3667 9.88637 13.3066 10.0494C13.2464 10.2125 13.2237 10.387 13.24 10.56V12.07H15.46L15.1 14.4H13.25V20C15.1399 19.7011 16.8601 18.7347 18.0985 17.2761C19.3369 15.8175 20.0115 13.9634 20 12.05Z" fill="#000000"/>
					</svg>
				</a>
        <a href="https://twitter.com/share?url={{ shop.url }}{{ article.url }}&text={{ article.title }}" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="24" height="24" viewBox="0 0 32 32"><path d="M11.919 24.94c-2.548 0-4.921-.747-6.919-2.032a9.049 9.049 0 0 0 6.681-1.867 4.512 4.512 0 0 1-4.215-3.137c.276.054.559.082.848.082.412 0 .812-.056 1.193-.156a4.519 4.519 0 0 1-3.622-4.425v-.059a4.478 4.478 0 0 0 2.042.564 4.507 4.507 0 0 1-2.008-3.758c0-.824.225-1.602.612-2.268a12.811 12.811 0 0 0 9.303 4.715 4.517 4.517 0 0 1 7.692-4.115 9.107 9.107 0 0 0 2.866-1.094 4.542 4.542 0 0 1-1.983 2.498 9.08 9.08 0 0 0 2.592-.71 9.283 9.283 0 0 1-2.252 2.337c.008.193.014.388.014.583-.001 5.962-4.542 12.843-12.844 12.842"/></svg>
				</a>
        <button id="copy-link-button" aria-label="Copy link to clipboard">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M21 8C21 6.34315 19.6569 5 18 5H10C8.34315 5 7 6.34315 7 8V20C7 21.6569 8.34315 23 10 23H18C19.6569 23 21 21.6569 21 20V8ZM19 8C19 7.44772 18.5523 7 18 7H10C9.44772 7 9 7.44772 9 8V20C9 20.5523 9.44772 21 10 21H18C18.5523 21 19 20.5523 19 20V8Z" fill="#0F0F0F"/>
						<path d="M6 3H16C16.5523 3 17 2.55228 17 2C17 1.44772 16.5523 1 16 1H6C4.34315 1 3 2.34315 3 4V18C3 18.5523 3.44772 19 4 19C4.55228 19 5 18.5523 5 18V4C5 3.44772 5.44772 3 6 3Z" fill="#0F0F0F"/>
					</svg>
				</button>
      </div>
    </div>

    <div id="stickySidebar" class="sidebar w-[33%] md:w-full md:pt-8 absolute md:!static top-[150px] right-0">
      {% render 'related-articles' %}
    </div>
  </div>
</article>

{% render 'newsletter-form' %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (window.innerWidth > 768) {
      var stickySidebar = document.getElementById('stickySidebar');
      var initialSidebarTop = stickySidebar.offsetTop;
      var tagsSection = document.querySelector('.tag-section');
      var tagsSectionBottom = tagsSection.offsetTop + tagsSection.offsetHeight;
      var sidebarHeight = stickySidebar.offsetHeight;
      var offsetTop = 100;
      var translateY = 0;
      var ticking = false;

      function updateSidebar() {
        var scrollPosition = window.pageYOffset;
        var maxTranslate = tagsSectionBottom - sidebarHeight - initialSidebarTop;

        if (scrollPosition >= initialSidebarTop - offsetTop) {
          translateY = Math.min(scrollPosition - initialSidebarTop + offsetTop, maxTranslate);
        } else {
          translateY = 0;
        }

        stickySidebar.style.transform = 'translateY(' + translateY + 'px)';
        ticking = false;
      }

      window.addEventListener('scroll', function() {
        if (!ticking) {
          window.requestAnimationFrame(updateSidebar);
          ticking = true;
        }
      });
    }
  });
</script>

<style>
  #stickySidebar {
    transition: transform 0 ease-in-out;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('copy-link-button').addEventListener('click', function(e) {
      e.preventDefault();
      navigator.clipboard.writeText(window.location.href)
        .then(function() {
          alert('Link copied to clipboard.');
        })
        .catch(function(err) {
          console.error('Could not copy text: ', err);
        });
    });
  });
</script>

<style>
  .article-wrap h3 {
    font-size: 26px;
    color: black;
  }

  .article-wrap a {
    color: var(--blue);
    text-decoration: underline;
  }

  .article-wrap .content {
    max-width: 60%;
  }

  .article-wrap .content .text h2 {
    font-size: 30px;
    color: black;
    margin-top: 2rem;
  }

  .article-wrap .content .picture-container img {
    padding: 2rem 0;
  }

  .social-buttons a:hover {
    color: black;
  }

  @media screen and (max-width: 768px) {
    .article-wrap .content {
      max-width: 100%;
    }
  }
</style>

{% schema %}
{
  "name": "Article Pages",
  "settings": []
}
{% endschema %}