{% assign siteID = 'vgi1gktcrd' %}
{% assign widgetID = 'w-9AFp3mUw0t1xcJ0LkU4hT0' %}
{% comment %} {% assign productSKU = prodSKU | default: product.sku | default: product.selected_or_first_available_variant.sku | default: 'Curalin180' %} {% endcomment %}
{% assign productSKU = ProdSKU | default: 'Curalin180' %}

<script defer src='https://code.buywithprime.amazon.com/default.variant.selector.shopify.js'></script>
<script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>

<div id="bwp-{{ productSKU }}" class="buy-with-prime-button mt-[-10px]">
  <div id="amzn-bwp-cart" data-site-id="{{ siteID }}" data-widget-id="{{ widgetID }}"></div>
  <div id="amzn-buy-now" data-site-id="{{ siteID }}" data-widget-id="{{ widgetID }}" data-sku="{{ productSKU }}"></div>
</div>
