{% assign siteID = 'vgi1gktcrd' %}
{% assign widgetID = 'w-9AFp3mUw0t1xcJ0LkU4hT0' %}
{% assign productSKU = prodSKU | default: product.sku | default: product.selected_or_first_available_variant.sku | default: 'Curalin180' %}

<div class="buy-with-prime-button">
  <script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>
  <div id="amzn-bwp-cart" data-site-id="{{ siteID }}" data-widget-id="{{ widgetID }}"></div>
  <div id="amzn-buy-now" data-site-id="{{ siteID }}" data-widget-id="{{ widgetID }}" data-sku="{{ productSKU }}"></div>
</div>

<script>
  console.log("Buy With Prime Activated On Page");
  $(".product-actions .variant-box").click(function() {
    console.log("Variant Box Clicked");
    if ($(this).find('input[name=pack]:checked').attr('data-sku') == "{{ prodSKU }}") {
      console.log("{{prodSKU}} Variant Selected");
      $(".buy-with-prime-button").fadeIn(300);
    }
    else {
      console.log("{{prodSKU}} Variant Not Selected");
      $(".buy-with-prime-button").fadeOut(300);
    }
  });
</script>