{%- comment -%} Get Current Step and Settings {%- endcomment -%}
{% if content_for_layout contains 'data-step="contact_information"' %}
  {% assign is_contact_step = true %}
  {% assign extensions_exist = true %}
{% elsif content_for_layout contains 'data-step="shipping_method"' %}
  {% assign is_shipping_step = true %}
  {% assign extensions_exist = true %}
{% elsif content_for_layout contains 'data-step="payment_method"' %}
  {% assign is_payment_step = true %}
  {% assign extensions_exist = true %}
{% elsif content_for_layout contains 'Processing order' %}
  {% assign is_processing_step = true %}
{% elsif content_for_layout contains 'data-step="thank_you"' %}
  {% if content_for_layout contains 'You’ll receive a confirmation email with your order number shortly.' %}
    {% assign is_thank_you_step = true %}
  {% endif %}
{% endif %}

{% assign bundle_products = "7902673240215:Curalin|7904376455319:Curalin|5485767655575:Curalin|8008569487511:Curalin-Bogo|7896199463063:Platinum Joint Care|7896200478871:Joint Care Gummies|7911564345495:Immune Booster|7911559299223:Immune Gummies|7911568703639:Multivitamin Gummies|7911570473111:Omega 3 Gummies|7896197660823:Restful Sleep|7896198447255:Sleep Well Gummies" | split: "|" %}
{% assign bundle_variants = "" | split: "|" %}

{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
  {% assign yotpo_checkout_widget = "18962" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
  {% assign yotpo_checkout_widget = "85446" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">
  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32 }}" type="image/png">
  {%- endif -%}
  <title>{{ page_title }}</title>

  {{ content_for_header }}
  {{ checkout_stylesheets }}
  {{ checkout_scripts }}

  <!-- Curalife Shopify Redirect for checkout.shopify.com -->
  {% render 'layout.head.google-tag-manager-checkout-redirect' %}
  <!-- Curalife Shopify Only Google Tag Manager -->
  {% render 'layout.head.google-tag-manager' %}

  {% if shop.name == "CuraLife Global" %}
    <!-- ADDRESS VALIDATOR -->
    <script async src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
  {% endif %}

  <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>

  <script src="https://kit.fontawesome.com/2551503516.js" crossorigin="anonymous"></script>
</head>

<body>
  {{ skip_to_content_link }}

  <header class="banner" data-header role="banner">
    <div class="wrap">{{ content_for_logo }}</div>
  </header>

  {{ order_summary_toggle }}

  <div class="content" data-content>
    <div class="wrap">
      <div class="main">
        <header class="main__header" role="banner">
          {{ content_for_logo }}
          {{ breadcrumb }}

          {% if extensions_exist %}
            <div class="upper-extentions">
              <ul id="progressbar">
                <li id="contact-information" style="--step-content: 'Customer';z-index:3;" class="active"></li>
                <li id="shipping-method" style="--step-content: 'Shipping';z-index:2;"></li>
                <li id="payment-method" style="--step-content: 'Payment';z-index:1;"></li>
              </ul>
            </div>
          {% endif %}

          {{ alternative_payment_methods }}
        </header>

        <main class="main__content" role="main">
          {{ content_for_layout }}
          <div class="tc" style="display:flex;justify-content:flex-end;">
            <p style="margin-top:10px;">By clicking the continue button I Agree to CuraLife's <a href="/policies/terms-of-service">Terms & Conditions</a>.</p>
          </div>
        </main>

        {% if extensions_exist %}
          <div id="payment-badges" class="payment-badges">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-visa.png' | asset_url }}" alt="payment provider visa" loading="lazy">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-mastercard.png' | asset_url }}" alt="payment provider mastercard" loading="lazy">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-amex.png' | asset_url }}" alt="payment provider amex" loading="lazy">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-discover.png' | asset_url }}" alt="payment provider discover" loading="lazy">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-jcb.png' | asset_url }}" alt="payment provider jcb" loading="lazy">
            <img class="payment-badge" src="{{ 'checkout-payment-badges-diners.png' | asset_url }}" alt="payment provider diners" loading="lazy">
          </div>
        {% endif %}

        <footer class="main__footer" role="contentinfo">
          {{ content_for_footer }}
        </footer>
      </div>

      <aside class="sidebar" role="complementary">
        <div class="sidebar__header">
          {{ content_for_logo }}
        </div>

        <div class="sidebar__content">
          {{ content_for_order_summary }}
        </div>

        <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script>
        <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_checkout_widget }}"></div>

        {% if extensions_exist %}
          <div class="sidebar-extentions">
            {% render 'trust-badges-widget', badgesContent: "money-back,secure-checkout" %}
            {% render 'checkout-reviews-widget' %}
            {% render 'checkout-bundles-widget' %}

            {% assign firstLineItem = checkout.line_items | first %}
            {% if firstLineItem.product.selling_plan_groups[0].selling_plans[0].id %}
              <script>
                $('.product__description__variant').text('Monthly Supply');
                $('.product__description').first().append('<div class="product__description__selling_plan order-summary__small-text">Every 4th order - <b>FREE</b></div>');
              </script>
            {% endif %}
          </div>
        {% endif %}
      </aside>
    </div>
  </div>

  {{ tracking_code }}

  <!-- Start of Woopra Code -->
  <script>
    !function () { var t, o, c, e = window, n = document, r = arguments, a = "script", i = ["call", "cancelAction", "config", "identify", "push", "track", "trackClick", "trackForm", "update", "visit"], s = function () { var t, o = this, c = function (t) { o[t] = function () { return o._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), o } }; for (o._e = [], t = 0; t < i.length; t++)c(i[t]) }; for (e.__woo = e.__woo || {}, t = 0; t < r.length; t++)e.__woo[r[t]] = e[r[t]] = e[r[t]] || new s; (o = n.createElement(a)).async = 1, o.src = "https://static.woopra.com/js/w.js", (c = n.getElementsByTagName(a)[0]).parentNode.insertBefore(o, c) }("woopra");

    woopra.config({
      domain: "curalife.com",
      outgoing_tracking: true,
      download_tracking: true,
      click_tracking: true
    });

    {% if checkout.email %}
    woopra.identify({
      email: {{ checkout.email | json }}
        });
    {% endif %}

    {% if customer %}
    woopra.identify({
      customer_id: {{ customer.id | json }},
      name: {{ customer.name | json }},
      email: {{ customer.email | json }},
      order_count: {{ customer.orders_count | json }},
      total_spent: {{ customer.total_spent | json }}
        });
    {% endif %}

    woopra.track();
  </script>
  <!-- End of Woopra Code -->

  <script>
    items_data = [];
    {% for line_item in checkout.line_items %}
    var item = {
      item_id: '{{ line_item.sku }}',
      item_name: '{{ line_item.product.title }}',
      affiliation: '{{ shop.name }}',
      price: parseFloat({{ line_item.price }} / 100.0).toFixed(2).toString(),
        currency: '{{ shop.currency }}',
          item_brand: 'CuraLife',
            item_category: 'CuraLin',
              quantity: {{ line_item.quantity }}
        }
    items_data.push(item);
    {% endfor %}

    {% if extensions_exist %}
      $(".breadcrumb li:nth-child(2) .breadcrumb__text").html("Customer");
      $(".sidebar-extentions").insertAfter(".order-summary__section--total-lines");

      let isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;

      if (isMobile) {
        $(".reviews").insertAfter("#payment-badges");
      }

      // Track Discount Code
      var checker;

      function trackApplyDiscount() {
        checker = setInterval(checkApplyDiscount, 200);
      }

      function checkApplyDiscount() {
        if ($(".tag .reduction-code .reduction-code__text").length) {
          woopra.track('Apply Discount Code', {
            discount_code: $(".tag .reduction-code .reduction-code__text").text()
          });
          clearInterval(checker);
          $("#checkout_submit").click(trackApplyDiscount);
        }
        else if ($("#error-for-reduction_code").length) {
          woopra.track('Apply Discount Code - Failed', {
            discount_code: $("#checkout_reduction_code").attr("value"),
            error_message: $("#error-for-reduction_code").text()
          });
          clearInterval(checker);
          $("#checkout_submit").click(trackApplyDiscount);
        }
        else if ($("#checkout_submit").hasClass("btn--disabled")) {
          woopra.track('Apply Discount Code - Failed', {
            discount_code: $("#checkout_reduction_code").attr("value"),
            error_message: "No message displayed (but apply button disabled)"
          });
          clearInterval(checker);
          $("#checkout_submit").click(trackApplyDiscount);
        }
      }

      $("#checkout_submit").click(trackApplyDiscount);
      // End Track Discount Code
    {% endif %}

    {% if is_contact_step %}
      console.log("- step: contact");
      $("label[for='smsbump-checkout-messages-subscription'] span").html("Get free SMS order status updates");
      if ($("label[for='smsbump-checkout-messages-subscription']").length) {
        var replacer = $("label[for='smsbump-checkout-messages-subscription']").html().replace("YES - I want Free SMS order updates on my order, shipping status, and exclusive discounts", "I want free order status updates by SMS, and to be notified when CuraLin is on sale");
        $("label[for='smsbump-checkout-messages-subscription']").html(replacer);
      }
      $("label[for='checkout_remember_me']").html("Save my details for a faster shopping experience");
      $("label[for='checkout_buyer_accepts_marketing']").html("Send me emails about my order status, keep me up to date on discounts and educational content.");

      // Track Begin Checkout
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'begin_checkout',
        ecommerce: {
          items: items_data
        },
        email: '{{ checkout.email }}',
        phone: '{{ checkout.shipping_address.phone | replace: " ", "" }}',
        name: '{{ checkout.shipping_address.first_name }}',
        surname: '{{ checkout.shipping_address.last_name }}',
        city: '{{ checkout.shipping_address.city }}',
        state: '{{ checkout.shipping_address.province }}',
        zip: '{{ checkout.shipping_address.zip }}',
        country: '{{ checkout.shipping_address.country_code }}',
        user_agent: navigator.userAgent
      });

      woopra.track('Checkout Step - Information', { page_url: window.location.href });

      // Track Login
      $('a[href*="/account/login"]').click(function () {
        woopra.track('Checkout Login');
      })

      // Disable Discount on Curalin 1+1
      $('.product__description__name').each(function () {
        if ($(this).text() == 'Curalin 1+1') {
          $('.order-summary__section--discount').remove();
          $('.yotpo-widget-checkout-redemptions-widget').remove();
        }
      });
    {% elsif is_shipping_step %}
      console.log("- step: shipping");
      $("#shipping-method").addClass('active');
      $(".tc").hide();
      $('#contact-information').html('<a class="new-breadcrumb-link" href="' + $('.breadcrumb__link:contains("Information")').attr("href") + '"></a>');

      // Track Shipping Step
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'add_shipping_info',
        ecommerce: {
          shipping_tier: 'US Free Shipping',
          items: items_data
        },
        email: '{{ checkout.email }}',
        phone: '{{ checkout.shipping_address.phone | replace: " ", "" }}',
        name: '{{ checkout.shipping_address.first_name }}',
        surname: '{{ checkout.shipping_address.last_name }}',
        city: '{{ checkout.shipping_address.city }}',
        state: '{{ checkout.shipping_address.province }}',
        zip: '{{ checkout.shipping_address.zip }}',
        country: '{{ checkout.shipping_address.country_code }}',
        user_agent: navigator.userAgent
      });

      woopra.track('Checkout Step - Shipping', {});

      // Disable Discount on Curalin 1+1
      $('.product__description__name').each(function () {
        if ($(this).text() == 'Curalin 1+1') {
          $('.order-summary__section--discount').remove();
          $('.yotpo-widget-checkout-redemptions-widget').remove();
        }
      });
    // End Track Shipping Change
    {% elsif is_payment_step %}
      console.log("- step: payment")
      $("#shipping-method").addClass('active');
      $("#payment-method").addClass('active');
      $(".tc").hide();
      $(".content-box__row .review-block").last().hide();
      $('#contact-information').html('<a class="new-breadcrumb-link" href="' + $('.breadcrumb__link:contains("Information")').attr("href") + '"></a>');
      $('#shipping-method').html('<a class="new-breadcrumb-link" href="' + $('.breadcrumb__link:contains("Shipping")').attr("href") + '"></a>');

      // Track Payment Step
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'add_payment_info',
        ecommerce: {
          payment_type: '',
          items: items_data
        },
        email: '{{ checkout.email }}',
        phone: '{{ checkout.shipping_address.phone | replace: " ", "" }}',
        name: '{{ checkout.shipping_address.first_name }}',
        surname: '{{ checkout.shipping_address.last_name }}',
        city: '{{ checkout.shipping_address.city }}',
        state: '{{ checkout.shipping_address.province }}',
        zip: '{{ checkout.shipping_address.zip }}',
        country: '{{ checkout.shipping_address.country_code }}',
        user_agent: navigator.userAgent
      });

      woopra.track('Checkout Step - Payment', {});

      // Track Changing Billing Same/Different as Shipping
      $('.section--billing-address input').click(function () {
        woopra.track('Billing Same/Different as Shipping Select', {
          option: $(this).val() == 'true' ? 'Different' : 'Same'
        })
      })

      $('.section--billing-address label').click(function () {
        woopra.track('Billing Same/Different as Shipping Select', {
          option: $(this).attr('for') == 'checkout_different_billing_address_true' ? 'Different' : 'Same'
        })
      })

      // Disable Discount on Curalin 1+1
      $('.product__description__name').each(function () {
        if ($(this).text() == 'Curalin 1+1') {
          $('.order-summary__section--discount').remove();
          $('.yotpo-widget-checkout-redemptions-widget').remove();
        }
      });
    {% elsif is_processing_step %}
      console.log("- step: processing")
    {% elsif is_thank_you_step %}
      console.log("- step: thank you")

      $( document ).ready(function() {
        $("#progressbar").hide();
      });

      $("header").insertBefore(".content .wrap");

      // Track Purchase
        {% assign coupon = checkout.discount_applications | first %}
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: 'purchase',
          ecommerce: {
            currency: '{{ shop.currency }}',
            value: '{{ checkout.total_price | money_without_currency }}',
            tax: '{{ checkout.tax_price | money_without_currency }}',
            shipping: '{{ checkout.shipping_price | money_without_currency }}',
            affiliation: '{{ shop.name }}',
            transaction_id: '{{ checkout.order.id }}',
            ga4_transaction_id : '{% if checkout.order.name %}{{ checkout.order.id }}{% elsif checkout.order.id %}{{ checkout.order.id }}{% else %}{{ checkout.id }}{% endif %}',
            coupon: '{{ coupon.title }}',
            items: items_data
          },
          email: '{{ checkout.email }}',
          phone: '{{ checkout.shipping_address.phone | replace: " ", "" }}',
          name: '{{ checkout.shipping_address.first_name }}',
          surname: '{{ checkout.shipping_address.last_name }}',
          city: '{{ checkout.shipping_address.city }}',
          state: '{{ checkout.shipping_address.province }}',
          zip: '{{ checkout.shipping_address.zip }}',
          country: '{{ checkout.shipping_address.country_code }}',
          user_agent: navigator.userAgent
        });

      woopra.track('Checkout Step - Thank You', {});
    {% endif %}
  </script>

  <script>
    let utm_url = '&'
    let utm = location.search.split('utm')
    window.onload = function () {
      for (let i = 1; i < utm.length; i++) {
        utm_url += 'utm' + utm[i];
      }
      $("form").each((form) => {
        $(this).attr("action", $(this).attr("action") + utm_url);
      });
    }
  </script>

  {% if thankYouAdditions %}
    <style>
      .sidebar {
        width: 96% !important;
        padding-top: 20px !important;
        padding-left: 20px !important;
        float: left !important;
      }
      .sidebar::after {
        background: white !important;
      }

      .logo {
        top: unset;
        padding: 30px;
      }
    </style>
  {% endif %}

  {% if extensions_exist %}
    <style>
      a,
      .link {
        color: #009788;
      }

      a:hover,
      .link:hover {
        color: #007165;
      }

      .input-checkbox:checked,
      .input-radio:checked {
        border-color: #009788;
      }

      .input-checkbox:checked:hover,
      .input-radio:checked:hover {
        border-color: #007165;
      }

      .btn {
        min-width: 180px;
      }

      #main-title {
        padding-top: 50px;
        font-size: 20px;
      }

      #smsbump-consent-message {
        max-width: 200px;
        position: absolute;
        display: none;
      }

      .payment-badge {
        width: 50px;
      }

      .upper-extentions {
        margin-bottom: 70px;
      }

      /*progressbar*/
      #progressbar {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
      }

      #progressbar li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
        letter-spacing: 1px;
      }

      #progressbar li:before {
        background-image: url("{{ 'checkout-steps-bg-disabled.png' | asset_url }}");
        background-position: right;
        content: var(--step-content);
        width: 210px;
        height: 30px;
        line-height: 30px;
        display: block;
        font-size: 12px;
        color: white;
      }

      #progressbar li.active:before {
        background-image: url("{{ 'checkout-steps-bg-active.png' | asset_url }}");
        color: white;
        font-weight: 600;
      }

      .breadcrumb {
        display: none;
      }

      .new-breadcrumb-link {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 210px;
        height: 30px;
      }

      .order-summary__sections {
        height: unset !important;
      }

      .product-thumbnail {
        width: 100px;
        height: 100px;
        background: unset;
      }

      .product-thumbnail::after {
        border: unset;
      }

      .product__description .reduction-code__text,
      .sidebar .icon-svg--color-adaptive-light {
        color: var(--green);
        font-size: 11px;
      }

      .anyflexbox .field__input-btn {
        border-radius: 3px;
        font-size: 16px;
        font-weight: 300;
      }

      .dynamic-checkout__title {
        font-size: 20px;
        font-weight: 300;
      }

      .step__footer__continue-btn {
        padding: 15px;
        background-color: #cd7550;
        border-radius: 3px;
        font-weight: 700;
      }

      .step__footer__continue-btn:hover {
        background-color: #b76f50;
      }

      .tc p {
        font-weight: 300;
      }

      .section__content {
        padding: unset !important;
        border: unset !important;
        background-color: unset !important;
      }

      .checkbox__label span {
        font-weight: unset !important;
      }

      .sidebar {
        padding-left: 2%;
      }

      .section__content .field {
        padding: 2px;
      }

      .field.field--optional.field--show-floating-label {
        padding: 15px 0;
      }

      .main__header {
        padding-bottom: unset !important;
      }

      @media screen and (max-width: 768px) {
        .tc p {
          max-width: 180px;
        }

        #progressbar {
          overflow: hidden;
          margin-top: 0;
        }

        #progressbar li:before {
          width: 35vw;
        }

        .upper-extentions {
          margin-bottom: unset;
        }

        .checkbox-wrapper {
          padding: 5px 0;
        }

        .reviews {
          margin-top: 5vw;
        }

        .review-content {
          font-size: 4vw;
          line-height: 5vw;
        }

        .review-info img {
          height: 15vw;
        }

        .review .review-title {
          font-size: 5vw;
        }

        .order-summary-toggle__icon {
          fill: #EAAE79 !important;
        }

        .order-summary-toggle__text {
          color: black !important;
          font-size: 4vw;
          font-weight: 200;
        }

        .order-summary-toggle__dropdown {
          fill: black !important;
        }

        .payment-badges {
          justify-content: space-between;
        }

        .payment-badge {
          width: calc(100%/7 + 1vw);
        }

        .step__footer__continue-btn {
          font-size: 4.5vw;
          text-transform: uppercase;
        }

        .money-back-guarantee {
          margin-bottom: 20px;
        }

        .trust-badges .badge img.badge-icon {
          height: 6vw;
        }
      }
    </style>
  {% endif %}
</body>
</html>