<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>

    <!-- {% render 'layout.head.geo-redirect-script' %} -->
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    
    <!-- Stylesheets -->
    <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {% if request.path contains 'curalin-pack' %}
    <link rel="preload" href="{{ 'styles-product-aio.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {% endif %}

    <!-- Script Libraries -->
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url}}"></script>
    <script src="{{ 'libs.js' | asset_url }}" async></script>
    <script src="{{ 'common.js' | asset_url }}" async></script>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;0,800;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">
    <style>@font-face{font-family:IcoFont;font-weight:400;font-style:Regular;src:url({{ "icofont.woff2" | asset_url }}) format("woff2"),url({{ "icofont.woff" | asset_url }}) format("woff")}</style>
    
    <!-- Swiper Import -->
    <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

    <!-- Shopify Scripts -->
    {% if template contains 'customers' %}
        <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
        <script type="text/javascript" src="{{ 'customer_area.js'  | shopify_asset_url }}" async></script>
    {% endif %}
    {{ content_for_header }} <!-- Header hook for plugins -->

    <!-- Other Scripts -->
    {% render 'layout.head.marker-io-snippet' %}
  </head>
  <body>
    <!-- TODO: make another solution for removing header from curalin-pack page -->
    {% unless request.path contains 'curalin-pack' %}
      {% section 'header'%}
    {% endunless %}

    <main role="main">{{ content_for_layout }}</main>
    {% section 'footer'%}

    {% render 'layout.footer.cart-functionality-scripts' %}
    {% render 'layout.footer.woopra-snippet' %}
    {% render 'layout.footer.ac-snippet' %}
    {% render 'wisepops-generated' %}
    {% render 'social-login' %}

    {% if localization.country.iso_code == 'CA' or localization.country.iso_code == 'AU' %}
      <style>
        .shipscout-banner {
          display: none;
        }
      </style>
    {% endif %}

    <script>
      // var testVariant = $.cookie("_sc_4");

      // let noTestCountries = ["AU", "CA"]
      // if (noTestCountries.includes(sessionStorage.getItem('country'))) {
      //   var styleSheet = document.createElement("style");
      //   styleSheet.innerText = `.shipscout-banner {display: none;}`;
      //   document.head.appendChild(styleSheet);
      // }
    </script>

    <style>
      #admin-bar-iframe {
        display: none;
      }
    </style>

  {% include 'social-login' %}</body>
</html>