<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>

  {% render 'layout.head.google-tag-manager'%}
  {% render 'layout.head.meta-tags' %}
  {% render 'layout.head.canonicals-global' %}

  <!-- Stylesheets -->
  <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <!-- Script Libraries -->
  <script src="{{ 'jquery-3.6.0.min.js' | asset_url}}"></script>
  <script src="{{ 'libs.js' | asset_url }}" async></script>
  <script src="{{ 'common.js' | asset_url }}" async></script>

  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <!-- Animate on Scroll Library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Swiper Import -->
  <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <script src="{{ 'swiper.min.js' | asset_url}}"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <style>@font-face{font-family:IcoFont;font-weight:400;font-style:Regular;src:url({{ "icofont.woff2" | asset_url }}) format("woff2"),url({{ "icoFont.woff" | asset_url }}) format("woff");}</style>
  <style>@font-face{font-family:DMSans;font-weight:400;src:url({{ "DMSans-Regular.ttf" | asset_url }});}@font-face{font-family:DMSans;font-weight:700;src:url({{ "DMSans-Bold.ttf" | asset_url }});}@font-face{font-family:DMSans;font-weight:500;src:url({{ "DMSans-Medium.ttf" | asset_url }});}</style>

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ content_for_header }}  <!-- Header hook for plugins -->

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>

  {% render 'layout.head.marker-io-snippet' %}
</head>

<body>
  <main role="main">
    {{ content_for_layout }}
  </main>

  <style>
    .shipscout-banner {
      display: none;
    }

    .locale-selectors__container {
      display: none;
    }
  </style>

  <script>
    AOS.init();
  </script>

  {% render 'layout.footer.woopra-snippet' %}
  {% render 'layout.footer.ac-snippet' %}
</body>
</html>