<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
  <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'mid.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'mid.css' | asset_url }}"></noscript>
<script  src="{{ 'mid-jquery.js' | asset_url }}"></script>
<script  src="{{ 'mid_swiper_bundle.min.js' | asset_url }}" async></script>
<script  src="{{ 'mid.js' | asset_url }}" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" defer="defer"></script>

{% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}
{{ content_for_header }} <!-- Header hook for plugins -->

  
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
</head>
<body>

 
{% render 'layout.head.google-tag-manager'%}
{% render 'hot-jar'%}
  <main role="main">
    {{ content_for_layout }}
    
     {% section 'footer'%}
  </main>
 
</body>
</html>
