<!DOCTYPE html>
<html lang="en">

<head>
  {% render 'layout.head.geo-redirect-script' %}
  
  <title>Support Healthy Blood Sugar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Rufina&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=ABeeZee&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">


 <!-- Stylesheets -->
 <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
 <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <noscript><link rel="stylesheet" href="{{ 'styles.css' | asset_url }}"></noscript>

 <!-- Swiper Import -->
 <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <script src="{{ 'swiper.min.js' | asset_url}}"></script>
 
  <style>
    @font-face {
      font-family: 'Takota';
      src: url("../fonts/Takota/Takota.eot");
      src: local("Takota"), url("../fonts/Takota/Takota.eot?#iefix") format("embedded-opentype"), url("../fonts/Takota/Takota.woff2") format("woff2"), url("../fonts/Takota/Takota.woff") format("woff"), url("../fonts/Takota/Takota.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Autography';
      src: url("../fonts/Autography/Autography.eot");
      src: url("../fonts/Autography/Autography.eot?#iefix") format("embedded-opentype"), url("../fonts/Autography/Autography.woff") format("woff"), url("../fonts/Autography/Autography.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Samantha';
      src: url("../fonts/Samantha/Samantha-Regular.eot");
      src: local("Samantha Regular"), local("Samantha-Regular"), url("../fonts/Samantha/Samantha-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Samantha/Samantha-Regular.woff") format("woff"), url("../fonts/Samantha/Samantha-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Light.eot");
      src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot");
      src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.ttf") format("truetype");
      font-weight: bold;
      font-style: italic;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
      src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("{{ 'SegoeUI.eot' | asset_url }}");
      src: local("Segoe UI"),
      local("SegoeUI"),
      url("{{ 'SegoeUI.eot' | asset_url }}?#iefix") format("embedded-opentype"),
      url("{{ 'SegoeUI.woff' | asset_url }}") format("woff"),
      url("{{ 'SegoeUI.ttf' | asset_url }}") format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
      src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Italic.eot");
      src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Italic.ttf") format("truetype");
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: 'icoFont';
      src: url("{{ 'icoFont.eot' | asset_url }}");
      src: url("{{ 'icoFont.eot' | asset_url }}?uayl2p#iefix") format("embedded-opentype"),
      url("{{ 'icoFont.ttf' | asset_url }}?uayl2p") format("truetype"),
      url("{{ 'icoFont.woff' | asset_url }}?uayl2p") format("woff"),
      url("{{ 'icoFont.svg' | asset_url }}?uayl2p#icoFont") format("svg");
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }

    body {
      padding: 0;
    }

    .page-overflow {
      overflow: hidden;
    }

    .container {
      padding: 0 15px;
    }

    section {
      padding: 30px 0;
    }

    h2,
    h3 {
      margin: 0;
      text-align: start;
    }

    h2 {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 15px;
    }

    h3 {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
    }

    @media screen and (max-width:760px) {
      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 17px;
      }
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{{ 'libs.js' | asset_url }}"></script>

  <!-- <link rel="stylesheet" href="{{ 'lp-aio-support-pack.css' | asset_url }}" type="text/css"/> -->

  {% render 'layout.head.meta-tags'%}

  {% render 'layout.head.google-tag-manager'%}

  <!-- anti-flicker snippet (recommended)  -->
  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>
  <script>
    (function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y;
      h.start = 1 * new Date;
      h.end = i = function () {
        s.className = s.className.replace(RegExp(' ?' + y), '')
      };
      (a[n] = a[n] || []).hide = h;
      setTimeout(function () {
        i();
        h.end = null
      }, c);
      h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
      'GTM-TR9676S': true
    });
  </script>

  {{content_for_header}}

  <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>
</head>

<body>
  <main role="main">
    {{ content_for_layout }}
  </main>

  <script>
    $(document).on("click", ".cta-btn", function () {
      console.log("add to cart event");
          window.dataLayer  = window.dataLayer || [];
          window.dataLayer.push({
            'event': 'eec.addToCart',       // name of an event. In this case, always stays as eec.addToCart
            'ecommerce': {                  // ecommerce object. This is the essential part of tracking. New EE data must always be pushed to this object
              'currencyCode': '{{shop.currency}}',          // the currency which is currently used by a visitor
              'add': {                        // name of an action. In this case, always stays as add
              'actionField': {           
              'list': 'main'          // optional. name of a list from which the product was added to a cart  
            },       
            'products': [{              // list of products added to a cart. Can contain multiple products at the same time
              'name': $(this).attr('prod-title'),      // name of a product that was added to a cart
              'id': $(this).attr('prod-id'),       // id of a product
              'price': $(this).attr('prod-price').substring(1),      // price of a product
              'category': 'Simple',
              'variant': '',   // category of a product
              'quantity': 1
            }]
          } 
        },
        'userId': '{{ customer.id }}',
        'email': '{{ customer.email }}',
        'country': '{{customer.customer_address.country_code }}',
        'city': '{{customer.customer_address.city }}',
        'name': '{{ customer.first_name }}',
        'surname': '{{ customer.last_name }}',
        'phone_number': '{{customer.phone }}',
        'state': '{{customer.customer_address.province }}',       //state or province
        'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
        });
    });
</script>

</body>
  {% render 'fa_translate_core' %}

</html>