<!DOCTYPE html>
<html lang="en">
<head>
  {% render 'layout.head.geo-redirect-script' %}
  {% render 'layout.head.redirects-script' %}
  {% render 'layout.head.google-tag-manager'%}
  {% render 'layout.head.meta-tags' %}
  {% render 'layout.head.canonicals' %}
  
  <title>Support Healthy Blood Sugar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Rufina&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=ABeeZee&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}"> -->

<!-- Fonts -->

<link rel="preload" href="{{ 'RobotoSlab-Thin.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-ExtraLight.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'RobotoSlab-Black.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">


<link rel="preload" href="{{ 'Roboto-Thin.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-ThinItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Roboto-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-LightItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Roboto-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-Italic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Roboto-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-MediumItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Roboto-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-BoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Roboto-Black.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Roboto-BlackItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">


<link rel="preload" href="{{ 'Rufina-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Rufina-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Ovo-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">




<link rel="preload" href="{{ 'Poppins-Thin.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-ThinItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-ExtraLight.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-ExtraLightItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-LightItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-Italic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-MediumItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-SemiBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-BoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-ExtraBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'Poppins-Black.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'Poppins-BlackItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'ABeeZee-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'ABeeZee-Italic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">



<link rel="preload" href="{{ 'OpenSans_Condensed-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-LightItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans_Condensed-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-Italic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans_Condensed-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-MediumItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans_Condensed-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-SemiBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans_Condensed-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-BoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans_Condensed-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans_Condensed-ExtraBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">


<link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">
<link rel="preload" href="{{ 'icofont.woff' | asset_url }}" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="{{ 'icofont.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">


<link rel="preload" href="{{ 'OpenSans-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-LightItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-Italic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-MediumItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-SemiBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-BoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

<link rel="preload" href="{{ 'OpenSans-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ 'OpenSans-ExtraBoldItalic.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">



{% render 'css-fonts' %}


 <!-- Stylesheets -->
 <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
 <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <noscript><link rel="stylesheet" href="{{ 'styles.css' | asset_url }}"></noscript>

 <!-- Swiper Import -->
 <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <script src="{{ 'swiper.min.js' | asset_url}}"></script>
 
  <style>
    @font-face {
      font-family: 'Takota';
      src: url("../fonts/Takota/Takota.eot");
      src: local("Takota"), url("../fonts/Takota/Takota.eot?#iefix") format("embedded-opentype"), url("../fonts/Takota/Takota.woff2") format("woff2"), url("../fonts/Takota/Takota.woff") format("woff"), url("../fonts/Takota/Takota.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Autography';
      src: url("../fonts/Autography/Autography.eot");
      src: url("../fonts/Autography/Autography.eot?#iefix") format("embedded-opentype"), url("../fonts/Autography/Autography.woff") format("woff"), url("../fonts/Autography/Autography.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Samantha';
      src: url("../fonts/Samantha/Samantha-Regular.eot");
      src: local("Samantha Regular"), local("Samantha-Regular"), url("../fonts/Samantha/Samantha-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Samantha/Samantha-Regular.woff") format("woff"), url("../fonts/Samantha/Samantha-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Light.eot");
      src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot");
      src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.ttf") format("truetype");
      font-weight: bold;
      font-style: italic;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
      src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("{{ 'SegoeUI.eot' | asset_url }}");
      src: local("Segoe UI"),
      local("SegoeUI"),
      url("{{ 'SegoeUI.eot' | asset_url }}?#iefix") format("embedded-opentype"),
      url("{{ 'SegoeUI.woff' | asset_url }}") format("woff"),
      url("{{ 'SegoeUI.ttf' | asset_url }}") format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
      src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Segoe UI';
      src: url("../fonts/SegoeUI/SegoeUI-Italic.eot");
      src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Italic.ttf") format("truetype");
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: 'icoFont';
      src: url("{{ 'icoFont.eot' | asset_url }}");
      src: url("{{ 'icoFont.eot' | asset_url }}?uayl2p#iefix") format("embedded-opentype"),
      url("{{ 'icoFont.ttf' | asset_url }}?uayl2p") format("truetype"),
      url("{{ 'icoFont.woff' | asset_url }}?uayl2p") format("woff"),
      url("{{ 'icoFont.svg' | asset_url }}?uayl2p#icoFont") format("svg");
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }

    body {
      padding: 0;
    }

    .page-overflow {
      overflow: hidden;
    }

    .container {
      padding: 0 15px;
    }

    section {
      padding: 30px 0;
    }

    h2,
    h3 {
      margin: 0;
      text-align: start;
    }

    h2 {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 15px;
    }

    h3 {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
    }

    @media screen and (max-width:760px) {
      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 17px;
      }
    }
  </style>

  <script src="{{ 'jquery-3.6.0.min.js' | asset_url}}"></script>
  <script src="{{ 'libs.js' | asset_url }}"></script>
  {{content_for_header}}

  <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
</head>

<body>
  <main role="main">
    {{ content_for_layout }}
  </main>

{% render 'fa_translate_core' %}
</body>

</html>