{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
  {% assign global = true %}
{% endif %}

<!doctype html>
<html class="js{{ ' shopify-design-mode' if request.design_mode }}" lang="{{ request.locale.iso_code }}">  <head>
    {% unless request.design_mode %}
      {% render 'layout.head.geo-redirect-script' %}
      {% render 'layout.head.redirects-script' %}
      {% render 'layout.head.google-tag-manager'%}
      {% render 'layout.head.sentry-io' %}
    {% endunless %}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.fonts' %}
    {% render 'layout.head.canonicals' %}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <script src="{{ 'constants.js' | asset_url }}" defer></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    {{ content_for_header }}

    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    {% render 'layout.head.swiper' %}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {% comment %} {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%} {% endcomment %}

    <script src="https://kit.fontawesome.com/2551503516.js" crossorigin="anonymous"></script>

    <!-- Other Scripts -->
    {% render 'layout.footer.woopra-snippet' %}
    {% render 'layout.head.marker-io-snippet' %}
  </head>

  <body>
    {%- render 'cart-drawer' -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% unless request.design_mode %}
      {% render 'layout.footer.ac-snippet' %}
      {% render 'layout.footer.social-login' %}
      {% render 'wisepops-generated' %}
    {% endunless %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {% comment %} {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
    {%- endif -%} {% endcomment %}
  </body>
</html>
