{% assign reviews = "“Curalife has kept my sugar within normal ranges even after I eat things that I probably shouldn't!”*Alon M.
|“This is the greatest! My husband started taking this! Finally found a product that works! “*Linda V.
|“I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle.”*Michael Murillo Sr.
|“It is so wonderful to find something that really works. I feel so much better!!”*Leanne A.
|“Have been taking Curalin over the last four months and am beyond pleased with the results.”*Michael E."
| split: '|' %}

<section id="curalin-pack-info-section">
  <div class="container">
    <div class="section-titles">
      <h2 class="title">{% if product.metafields.my_fields.alternative_title %}{{ product.metafields.my_fields.alternative_title }}{% else %}{{ product.title }}{% endif %}</h2>
      <div class="subtitle">{{ product.description }}</div>
    </div>

    <div class="tabbed-content tabs-side">
      <nav class="tabs">
        <ul>
          <li><a href="#health-benefits" class="active">Benefits/Description <i>></i></a></li>
          <li><a href="#instructions">Usage Instructions <i>></i></a></li>
          {% if product.metafields.custom.ingredients_data.value %}
            <li><a href="#ingredients">Ingredients <i>></i></a></li>
          {% endif %}
          <li><a href="#reviews">Reviews <i>></i></a></li>
        </ul>
      </nav>

      <div class="content">
        <div id="health-benefits" class="content-item active always-active" data-title="Benefits/Description">
          <div class="health-benefits item-content">
            {% for benefit in product.metafields.custom.benefits_images.value %}
              <div class="health-benefit">
                <img src="{{ benefit.src | image_url }}" alt="health benefit" loading="lazy">
                <p>{{ benefit.alt }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

        <div id="instructions" class="content-item" data-title="Usage Instructions">
          <div class="instructions item-content">
            {% for step in product.metafields.custom.instructions.value %}
              <div class="step">
                <h3>{{ step.title }}</h3>

                <div class="capsules">
                  {% for item in (1..step.capsules) %}
                    {% if product.tags contains "gummies" %}
                      <img class="gummies" src="{{ "onboarding-gummy.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy">
                    {% else %}
                      <img class="caps m-0" src="{{ "onboarding-capsule.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy" style="min-width: 35px">
                    {% endif %}
                  {% endfor %}
                </div>
                <p>{{ step.subtitle }} <br> {{ step.text }} <br> {{ step.text_2 }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

        {% if product.metafields.custom.ingredients_data.value %}
          <div id="ingredients" class="content-item" data-title="Ingredients">
            <div class="ingredients item-content">
              {% for ingredient in product.metafields.custom.ingredients_data.value %}
                <div class="ingredient">
                  {% assign ingredient_handle = ingredient.title | downcase | replace: ' ', '-' %}
                  <img src="{{ "product-supplement-pack-info-ingredient-icon-" | append: ingredient_handle | append: ".png" | asset_url }}" alt="Ingredient" loading="lazy">
                  <p>{{ ingredient.title }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <div id="reviews" class="content-item" data-title="Reviews">
          <div class="reviews item-content">
            {% render 'product-supplement-pack-info-reviews', reviews: reviews %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .content {
    max-width: 100%;
  }

  #curalin-pack-info-section {
    background-color: var(--lighter-brown);
  }

  #curalin-pack-info-section .section-titles {
    flex-direction: revert;
    justify-content: start;
    max-width: 100%;
    text-align: left;
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  #curalin-pack-info-section:nth-of-type(even) {
    background: {{ bg_color }};
  }

  #curalin-pack-info-section .product-image-wrapper {
    position: absolute;
    bottom: -120px;
    right: 0;
    pointer-events: none;
  }

  #curalin-pack-info-section:nth-of-type(even) .product-image-wrapper,
  #curalin-pack-info-section:nth-of-type(even) .product-image-wrapper p {
    left: 0;
  }

  #curalin-pack-info-section .product-image-wrapper .number {
    font-family: var(--main-font);
    position: absolute;
    right: 0;
    top: -80px;
    line-height: 1em;
    font-size: 350px;
    font-weight: bold;
    color: var(--dark-orange);
    margin: unset;
  }

  #curalin-pack-info-section#curalin-pack-info-section:nth-of-type(even) .product-image-wrapper .number {
    color: {{ number_color }};
  }

  #curalin-pack-info-section .product-image-wrapper .product-image {
    position: relative;
    right: -10px;
  }

  #curalin-pack-info-section .health-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  #curalin-pack-info-section .health-benefits .health-benefit {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 20px;
  }

  #curalin-pack-info-section .health-benefit-icon {
    background: var(--blue);
    color: white;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  #curalin-pack-info-section .instructions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 650px;
  }

  #curalin-pack-info-section .instructions .step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
  }

  #curalin-pack-info-section .instructions .step p {
      min-width: 210px;
      margin: unset;
  }

  #curalin-pack-info-section .instructions .step h3 {
    font-size: 28px;
    font-weight: bold;
    min-width: 105px;
    margin: unset;
  }

  #curalin-pack-info-section .instructions .step .capsules {
    min-width: 80px;
    display: flex;
  }

  #curalin-pack-info-section .ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 500px;
  }

  #curalin-pack-info-section .ingredient {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #curalin-pack-info-section .ingredient p {
    font-size: 16px;
    text-align: center;
  }

  #curalin-pack-info-section .reviews {
    text-align: center;
  }

  #curalin-pack-info-section .reviews img {
    max-height: 300px;
  }

  #curalin-pack-info-section .tabbed-content {
    display: flex;
    align-items: center;
  }

  #curalin-pack-info-section .tabs ul li {
    text-align: center;
    height: 70px;
    border-bottom: 1px solid;
    padding-left: unset;
  }

  #curalin-pack-info-section .tabs ul li::before {
    content: '';
  }

  #curalin-pack-info-section .tabs ul li:first-child {
    border-top: 1px solid;
  }

  #curalin-pack-info-section .tabs ul li a {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #curalin-pack-info-section .tabs ul li a i {
    position: relative;
    transition: all 0.5s ease-in-out;
    font-style: normal;
    left: 20px;
  }

  #curalin-pack-info-section .tabs ul li a:hover,
  #curalin-pack-info-section .tabs ul li a.active {
    color: var(--brown);
    font-weight: bold;
  }

  #curalin-pack-info-section:nth-of-type(even) .tabs ul li a:hover,
  #curalin-pack-info-section:nth-of-type(even) .tabs ul li a.active {
    color: {{ link_color }};
  }

  #curalin-pack-info-section .content-item {
    margin-bottom: 2px;
    position: relative;
  }

  #curalin-pack-info-section .content-item::before {
    content: attr(data-title);
    border-top: 1px solid var(--blue);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    display: block;
    text-align: center;
  }

  #curalin-pack-info-section .content-item.active .item-content {
    transition: opacity 0.8s ease-in-out;
  }

  #curalin-pack-info-section .tabbed-content .tabs {
    display: none;
  }

  .tabbed-content .content-item {
    min-height: 2em;
  }

  #curalin-pack-info-section .tabbed-content .content-item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  #curalin-pack-info-section .tabbed-content .content-item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  @media all and (min-width: 1131px) {

    #curalin-pack-info-section .health-benefits {
        justify-content: center;
      }
    .content-item.active .item-content {
      padding-top: 0;
    }

    #curalin-pack-info-section .tabbed-content .tabs {
      display: block;
    }

    #curalin-pack-info-section .tabbed-content .tabs li {
      display: inline-block;
      margin-bottom: 2px;
    }

    #curalin-pack-info-section .tabbed-content .tabs li a {
      display: flex;
    }

    #curalin-pack-info-section .tabbed-content .content-item {
      min-height: 0;
      margin: unset;
      max-width: 800px;
    }

    #curalin-pack-info-section .health-benefits .health-benefit img {
      min-width: 40px;
      max-height: 40px;
      object-fit: contain;
    }

    #curalin-pack-info-section .tabbed-content .content-item::before {
      display: none;
    }

    #curalin-pack-info-section .tabbed-content.tabs-side .tabs {
      min-width: 300px;
      margin-right: 50px;
    }

    #curalin-pack-info-section .tabbed-content.tabs-side .tabs li {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    #curalin-pack-info-section .health-benefits .health-benefit {
      width: 40%;
    }
    #curalin-pack-info-section .health-benefits .health-benefit {
      gap: 2vw;
      flex-direction: column;
      text-align: center;
    }
    #curalin-pack-info-section .health-benefits .health-benefit p {
      font-size: 4vw;
      text-align: center;
     }

     #curalin-pack-info-section .section-titles {
       gap: unset;
       margin-bottom: 5vw;
       flex-wrap: wrap;
     }

     #curalin-pack-info-section .tabbed-content {
       display: block;
       margin-left: unset !important;
     }

     #curalin-pack-info-section .content-item::after {
       content: "+";
       font-size: 30px;
       position: absolute;
       top: 5px;
       right: 2vw;
       border: 2px solid var(--blue);
       border-radius: 50%;
       width: 3vw;
       height: 3vw;
       font-size: 3vw;
       display: flex;
       align-items: center;
       justify-content: center;
       color: var(--blue);
     }

     #curalin-pack-info-section .content-item.active::after {
       content: "-";
     }

     #curalin-pack-info-section .product-image-wrapper {
       bottom: 0;
       width: 100%;
       position: relative;
       text-align: center;
       margin-top: 10vw;
     }

     #curalin-pack-info-section .product-image-wrapper .product-image {
       right: unset;
       text-align: center;
     }

     #curalin-pack-info-section .product-image-wrapper .number {
       top: -15vw;
       font-size: 70vw !important;
       right: 45vw;
     }

     #curalin-pack-info-section .tabbed-content .content-item.active .item-content {
       padding: 5vw 0;
     }


     #curalin-pack-info-section .instructions .step {
       gap: 2vw;
     }

     #curalin-pack-info-section .instructions .step h3 {
       min-width: 20vw;
     }
    }

    @media screen and (max-width: 500px) {
      #curalin-pack-info-section .content-item::after {
          top: 3vw;
          width: 5vw;
          height: 5vw;
          font-size: 5vw;
      }

  }
</style>

<script>
  tabControl();

  var resizeTimer;
  $(window).on('resize', function(e) {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
      tabControl();
    }, 250);
  });

  function tabControl() {
    var tabs = $('#curalin-pack-info-section .tabbed-content').find('.tabs');
    if(tabs.is(':visible')) {
    tabs.find('a').on('click', function(event) {
      event.preventDefault();
      var target = $(this).attr('href'),
          tabs = $(this).parents('.tabs'),
          buttons = tabs.find('a'),
          item = tabs.parents('#curalin-pack-info-section .tabbed-content').find('.content-item');
      buttons.removeClass('active');
      item.removeClass('active');
      $(this).addClass('active');
      $(target).addClass('active');
    });
    } else {
    $('.content-item').before().on('click', function() {
      var container = $(this).parents('.tabbed-content'),
          currId = $(this).attr('id'),
          items = container.find('.content-item');
      const isCurrentActive = $(this).hasClass('active');
      container.find('.tabs a').removeClass('active');
      items.removeClass('active');
      if (!isCurrentActive) {
        $(this).addClass('active');
        container.find('.tabs a[href$="#'+ currId +'"]').addClass('active');
      };
    });
    }
  }
</script>