{% layout 'theme.lps' %}

<div class="lp-dr1">
  <nav>
    <div class="container">
      <img src="{{ 'logo-colored-darker.png' | asset_url }}" alt="curalife logo">
    </div>
  </nav>

  <section class="hero-section">
    <div class="container">
      <h1>Are There <b>Good Natural Ways</b> to Maintain Healthy Glucose Levels?</h1>
    </div>
  </section>
  <section class="content-section">
    <div class="container content">
      <h3>Summary:</h3>
      <p>Scientists confirm natural method for blood sugar maintenance. Discovery credited to a young son looking to help his father. Read how 100,000 patients are living better thanks to this natural blood sugar approach.</p>

      <div class="contributors-wrapper">
        <p class="contributors-title">Article Contributors</p>
        <div class="contributors">
          <div class="contributor">
            <img src="{{ 'lp-dr1-contributors-1.png' | file_url }}" alt="">
            <div class="contributor-content">
              <p class="contributor-name">Dr. Sarah Brewer</p>
              <p class="contributor-titles">GP Functional doctor, blood sugar expert, and author of over 60 books on personal health.</p>
            </div>
          </div>
          <div class="contributor">
            <img src="{{ 'lp-dr1-contributors-2.png' | file_url }}" alt="">
            <div class="contributor-content">
              <p class="contributor-name">Dr. Wendy Denning</p>
              <p class="contributor-titles">GP, Member of Prince of Wales Foundation steering committee.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="estimated-time">
        <i class="icofont-clock-time"></i><p>Estimated Read Time: 3 minutes</p>
      </div>

      <p>A new report released by healthcare group CuraLife is raising some eyebrows after challanging some big misconceptions held by people watching their blood sugar.</p>
      <p>The new survey data from the world’s largest blood sugar support community show that:</p>
      <p>Although 55% of people caring for their blood sugar claim to be in control, in fact:</p>

      <div class="stats">
        <div class="stat">
          <p class="percent">73%</p>
          <p>Still suffer from frequent issues.</p>
        </div>
        <div class="stat">
          <p class="percent">65%</p>
          <p>Rate their health only as ‘just fair’.</p>
        </div>
      </div>

      <p>What gives? Reality and how well we ‘believe’ we are managing are just not the same.</p>
      <p>That's why so many of us feel frustrated. It’s so hard to keep blood sugar healty.</p>
      <p>If you feel like this, it’s not your fault. The non-stop nature of blood sugar maintenance never gives you a break. It gets hard to enjoy food, sleep, and physical intimacy like this.</p>
      <p><b>Bottom line</b> - no matter how we ‘think’ we’re doing, no one likes to miss out on life’s pleasures. So what’s the best way to support healthy blood sugar without the efforts hurting your lifestyle??</p>

      <h2><b>C</b>arb counting and restrictive dieting fail us</h2>
      <p>That much is clear.</p>
      <p>Everyone agress that eating well is important to our health and wellbeing. But if crash dieting really worked, would we be so frustrated with the results? Would there be dozens of fad diets if even a few of them really worked?</p>

      <h2><b>D</b>iets aren’t the answer. Now, what is?</h2>
      <p>Funny enough, it’s the very opposite of dieting you want. No restriction (dieting) more nutrition (supplementation).</p>
      <p>Junk foods harm your blood sugar levels and weight. Good nutrition, on the other hand helps. But this doesn’t mean you need to start eating salad all the time.</p>

      <div class="advisory-recommends">
        <div class="quote">
          <img src="{{ 'lp-dr1-quote-sign.png' | file_url }}" alt="quote sign green">
          <h2><b>B</b>lood Sugar Health Requires All the Support You Can Get.<br>
          Supplements are my big recommendation for that!</h2>
        </div>
        <div class="advisor">
          <img src="{{ 'lp-dr1-advisor.png' | file_url }}" alt="">
          <p class="advisor-name">Dr. Sarah Brewer</p>
          <p class="advisor-title">Member of CuraLife’s medical advisory board</p>
          <p class="advisor-description">Award-winning author of over 60 popular self-help books, a registered medical Doctor, Nutritionist and Nutritional Therapist.</p>
        </div>
      </div>

      <p>The good news is – using the right herbal supplements makes it easier to maintain healthy glucose levels, keep a healthy weight, feel highly energetic, and reduce the daily frustrations that caring for your blood sugar can cause in your lifestyle.<br>
        The science is clear. Clinical trials show that specialty supplements work for up to 88% of patients. But only 32% know that these supplements exist and can improve your quality of life.<br>
        That’s where CuraLin comes intדo the picture. But what is CuraLin?</p>

        <div class="meet-curalin">
          <h2><b>M</b>eet CuraLin</h2>
          <h4>The blood sugar support your body’s been craving</h4>
          <div class="meet-curalin-content">
            <img src="{{ 'lp-dr1-curalin-bottle.png' | file_url }}" alt="">
            <div class="content">
              <p>Today, over 100,000 patients take CuraLin for daily blood sugar support.</p>
              <p>It’s is an effective, safe, and doctor-approved supplement for general wellness and blood sugar health.</p>
              <p>Your body needs you to support 18 key cellular functions for blood sugar health in order for you to feel lifestyle benefits of targeted nutrition (meaning, enjoying your favorite foods, sleeping well, keeping an active love life, etc). CuraLin’s formula is specifically made to target those needs.</p>
              <p>The effects are quick and measureable - most users seeing results in just 3-7 days.</p>
              <p style="font-size:13px">Individual results may vary.</p>
            </div>
          </div>
        </div>

        <div class="floating-cta">
          <button  class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack')">Try CuraLin</button>
        </div>

        <div class="the-story">
          <div class="header">
            <div class="titles">
              <img src="{{ 'lp-dr1-quote-sign.png' | file_url }}" alt="quote sign green">
              <h2 class="title"><b>M</b>y dad’s story is<br>
              CuraLin’s Story</h2>
              <p class="subtitle"><b>Ron Elul |</b> Founder of CuraLife</p>
            </div>
            <div class="img">
              <img src="{{ 'lp-dr1-ron.png' | file_url }}" alt="">
            </div>
          </div>
          <div class="content">
            <p>“Caring for my father’s blood sugar health fell on my whole family. It hit him hard. He was always so independent and energetic. It was sad to see him suddenly fatigued and frustrated all the time.</p>
            <p>I used to physically take food away from him. Honestly, that was as painful for me as it was for my dad. He was trying so hard but his blood sugar was crushing his lifestyle. I had to do something.</p>
            <p>I worked with blood sugar doctors and investigated lost medicinal systems from around the world until we finally found a formula that works.</p>
            <p>This research took years. But it helped my father... and his friends. So I made available to everyone, and now over 100,000 patients take CuraLin.”</p>
            <p>Ron, CuraLife’s founder and CEO, explains, “CuraLin mixed ancient Ayurvedic principles with modern science, to create an extra strength natural supplement for glucose support.</p>
            <p>Each ingredient is exactly what your body needs, like bitter melon, which supports healthy pancreas function, which is the foundation of healthy glucose levels.”</p>
          </div>
        </div>
    </div>
  </section>
  <section class="curalin-banner">
    <div class="container content">
      <p>CuraLin<br>Natural blood<br>sugar support</p>
      <img src="{{ 'curalin-bottle.png' | asset_url }}" alt="">
    </div>
  </section>

  <section class="satisfaction-survey-titles">
    <div class="container">
      <h2>You’re making a smart choice.</h2>
      <p>Over 7 Years and Thousands of Customers...</p>
    </div>
  </section>
  {% section 'lps-satisfaction-survey' %}

  {% render 'lps-video-reviews-2', maintitle: 'People Everywhere Swear by CuraLin' %}

  <section class="content-section">
    <div class="container content">
      <div class="the-story v2">
        <div class="header">
          <div class="titles">
            <img src="{{ 'lp-dr1-quote-sign.png' | file_url }}" alt="quote sign green">
            <h2 class="title"><b>M</b>y father has been<br>
            using CuraLin and i feel<br>
            much better knowing his<br>
            health is in good hands</h2>
          </div>
          <div class="img">
            <img src="{{ 'lp-dr1-story-2-author.png' | file_url }}" alt="">
          </div>
        </div>
        <p class="content">CuraLin blends herbal compounds that support your glucose health from the inside out. Supporting healthy pancreas and liver function, weight management and 18 other actions that contributes to blood sugar health.<br>
        But CuraLin goes even further. The herbs in CuraLin reduce cravings for sugars and carbs. Now it’s so much easier to manage your cravings and diet. <br><br>
        Boom. Just like that, lifestyle choices that felt hard until now are easier. It’s easier to eat well, stay energetic, keep your weight in check and finally focus on other areas of your life.<br>
        Individual results may vary.<br><br>
        Here's a run-down on the <b>9 incredible herbs in CuraLin</b><br>and how they combine to support a healthy blood sugar level:</p>
      </div>
    </div>
  </section>

  {% render 'lps-ingredients-slider' %}

  <section class="content-section">
    <div class="container content">
      <div class="cta">
        <p class="subtitle">This Extra-strength blood sugar support formula is going to help you...</p>
        <p class="title">Enjoy your life and food while feeling at pace with your health.</p>
        <a href="/products/curalin-pack"><button>TRY CURALIN</button></a>
      </div>
    </div>
  </section>

  <section class="money-back-section">
    <div class="container content">
      <p class="title">You’ll love CuraLin or we’ll give your money back.</p>
      <div class="content-wrapper">
        <img src="{{ 'lp-dr1-money-back.png' | file_url }}" alt="60 days money back guarantee">
        <p>Don’t just take our word for it. We’re so confident you'll love CuraLin that we offer a 60-day money-back guarantee! If you're not 100% satisfied with CuraLin within 60 days, simply give us a call, and we'll get you your money back, no questions asked.</p>
      </div> 
    </div>
  </section>

  {% render 'lps-faq-list' %}
  {% section 'lps-trusted-by-doctors' %}
  {% section 'lps-doctors-testimonials' %}
  {% render 'lps-ingredients-badges' %}

  <footer>
    <div class="container">
      <p>Copyright © 2018 CuraLife Commerce SIA. All rights reserved.</p>
      <p>Use of this website signifies your agreement to the <a href="/policies/privacy-policy">Privacy & Cookie Policy</a> and <a href="/policies/terms-of-service">Terms & Conditions</a>.</p>
      <p>*Results can vary and there is no guarantee of specific results. We recommend to always monitor blood sugar levels closely. This nutritional supplement is designed to enhance the general health, however, it cannot be regarded as means to diagnose, treat, cure or prevent any disease or illness. Ask your doctor about any questions concerning the compatibility of these supplements with your medical conditions or with medications before use. CuraLin is not recommended for those who are under 18, who are pregnant or nursing. The information contained in this Website is provided for general informational purposes only. It is not intended as and should not be relied upon as medical advice. The information may not apply to you and before you use any of the information provided on the site, you should contact a qualified medical, dietary, or other appropriate professional. All information and recommendations provided by CuraLife Commerce SIA ("CuraLife?) regardingits nutritional supplements has been compiled with the utmost care and is provided for informative purposes only, taking into account the current scientific knowledge, but without claiming to be exhaustive or perfectly up-to-date. CuraLife cannot be held liable for abuse, careless use or any other use of this supplement, regarding dosage,storage, (re)packaging and/or use in combination with other products or medications. If you utilize any information provided on this site, you do so at your own decision and you specifically waive any right to make any claim against the author and publisher of this Website and materials as the result of the use of such information.</p>
    </div>
  </footer>
</div>

<style>
  body {
    padding-top: 0;
  }

  section {
    padding: 50px 0;
  }

  .lp-dr1 nav {
    padding: 30px 0;
  }

  .lp-dr1 p {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
  }

  .lp-dr1 h2 {
    color: #516A3E;
    font-size: 48px;
    line-height: 70px;
    font-weight: 500;
    text-align: center;
  }

  .lp-dr1 h2 b {
    font-size: 60px;
    font-weight: 800;
  }

  .lp-dr1 h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .lp-dr1 .meet-curalin h4 {
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .lp-dr1 .container.content {
    max-width: 1144px;
  }

  .hero-section {
    background-image: url("{{ 'lp-dr1-hero-bg.png' | file_url }}");
    background-size: cover;
    height: 530px;
    padding-top: 60px;
  }

  .hero-section h1 {
    color: white;
    max-width: 480px;
    font-size: 48px;
    font-weight: 500;
    line-height: 70px;
  }

  .hero-section h1 b {
    font-size: 60px;
    font-weight: 700;
  }

  .content-section .contributors-wrapper {
    margin-top: 50px;
  }

  .content-section .contributors-wrapper .contributors-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content-section .contributors .contributor {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .content-section .contributors .contributor img {
    padding-right: 15px;
    border-right: 1px solid black;
    width: 100px;
    height: 85px;
  }

  .content-section .contributors .contributor .contributor-content {
    padding-left: 15px;
    max-width: 850px;
  }

  .content-section .contributors .contributor .contributor-content .contributor-name {
    font-weight: bold;
    font-size: 26px;
  }

  .content-section .contributors .contributor .contributor-content .contributor-titles {
    line-height: 30px;
  }

  .content-section .estimated-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 42px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 1px solid #DE64A0;
    margin-bottom: 30px;
  }

  .content-section .estimated-time p {
    font-size: 42px;
    font-weight: 400;
  }

  .content-section .stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
  }

  .content-section .stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 310px;
    text-align: center;
  }

  .content-section .stats .stat .percent {
    color: #516A3E;
    font-size: 70px;
  }

  .content-section .advisory-recommends {
    display: flex;
    gap: 30px;
    margin: 50px 0;
  }

  .content-section .advisory-recommends .quote {
    align-self: center;
    position: relative;
    width: 60%;
  }

  .content-section .advisory-recommends .quote img {
    position: absolute;
    top: -50px;
    left: -30px;
  }

  .content-section .advisory-recommends .quote h2 {
    margin: 0;
    text-align: left;
  }

  .content-section .advisory-recommends .advisor {
    width: 40%;
    text-align: center;
    background-color: #F1F1F1;
    padding: 30px 10px;
    line-height: 26px;
  }

  .content-section .advisory-recommends .advisor .advisor-name {
    color: #516A3E;
    font-size: 31px;
  }

  .content-section .advisory-recommends .advisor .advisor-title {
    color: #516A3E;
    font-size: 23px;
    line-height: 23px;
    margin: 10px 0;
  }

  .content-section .advisory-recommends .advisor .advisor-description {
    font-size: 22px;
    line-height: 26px;
  }

  .content-section .meet-curalin .meet-curalin-content {
    display: flex;
    gap: 30px;
  }

  .content-section .the-story .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #DE64A0;
    margin-bottom: 30px;
    padding: 50px 0;
  }

  .content-section .the-story.v2 .header {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .content-section .the-story .header .titles {
    position: relative;
  }

  .content-section .the-story .header .titles img {
    position: absolute;
    top: -50px;
    left: -30px;
  }

  .content-section .the-story .header .titles .title {
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }

  .content-section .the-story .header .titles .subtitle {
    font-size: 35px;
  }

  .content-section .the-story .header .titles .subtitle b {
    font-weight: bold;
  }

  .content-section .the-story .content b {
    font-weight: 600;
    font-size: 35px;
  }

  .curalin-banner {
    background-image: url("{{ 'lp-dr1-curalin-banner-bg.png' | file_url }}");
    background-size: cover;
  }

  .curalin-banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .curalin-banner p {
    color: white;
    font-size: 70px;
    line-height: 73px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .curalin-banner img {
    height: 460px;
    padding: 30px 0;
  }

  .satisfaction-survey-titles h2 {
    font-size: 35px;
    margin: 0;
  }

  .satisfaction-survey-titles p {
    font-size: 48px;
    text-align: center;
  }

  .satisfaction-survey .success-list {
    margin-top: unset;
  }

  .satisfaction-survey .satisfaction-survey-bg {
    padding-bottom: 30px;
  }

  .satisfaction-survey .satisfaction-survey-bg:before, .satisfaction-survey .satisfaction-survey-bg:after {
    content: unset;
  }

  .satisfaction-survey .success-list ul li .title h4 {
    text-align: left;
  }

  .satisfaction-survey .success-list ul li .line span {
    background: linear-gradient(90.05deg ,rgb(180 204 196 / 50%) 0%,rgb(80 106 62) 100%);
  }

  .satisfaction-survey .sub-titles {
    display: none;
  }

  .video-reviews-section {
    background: #EAEAEA;
  }

  .video-reviews-section .video-reviews .video-review .review-quote .quote-content {
    font-weight: 400;
  }

  .content-section .cta {
    text-align: center;
  }

  .content-section .cta .title {
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    margin-top: 20px;
  }

  .content-section .cta button {
    background-color: #FBB80C;
    color: white;
    font-size: 42px;
    font-weight: 600;
    box-shadow: 0px 8.45926px 8.45926px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding: 20px 150px;
    border: 0;
    margin: 50px;
  }

  .money-back-section {
    background-color: #516A3E;
    padding: 30px 0;
  }

  .money-back-section p {
    color: white;
  }

  .money-back-section .title {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }

  .money-back-section .content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: auto;
    max-width: 750px;
  }

  .money-back-section .content-wrapper p {
    font-size: 16px;
    line-height: 20px;
  }

  .trusted-doctors .doctor-thumbnail:before {
    border-color: #E06EA6;
  }

  .trusted-doctors .doctor-informative:after {
    background: #E06EA6;
  }

  .trusted-doctors .sub-titles h2 b {
    font-weight: 500;
    font-size: 48px;
  }

  .trusted-doctors .sub-titles .description-overlay h3 {
    font-weight: 300;
    font-size: 24px;
  }

  .testimonials-section .testimonials_mainpanel:nth-child(2) {
    display: none;
  }

  .testimonials-section .testimonials_mainpanel:first-child {
    border-bottom: unset;
  }

  .lp-dr1 footer {
    background: #363839;
  }

  .lp-dr1 footer p {
    color: #999999;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin: 40px 0;
  }

  .lp-dr1 footer p:first-child {
    font-size: 14px;
  }

  @media screen and (max-width: 760px) {
    section {
      padding: 4vw 0;
    }

    .lp-dr1 .container {
      padding: 0 15px;
    }

    .lp-dr1 p {
      font-size: 18px;
      line-height: 26px;
      margin: 20px 0;
    }

    .lp-dr1 h2 {
      font-size: 7vw;
      line-height: 9vw;
      text-align: center !important;
    }

    .lp-dr1 h4 {
      font-size: 5vw;
      margin: 0;
    }

    .lp-dr1 h2 b {
      font-size: 8vw;
    }

    .lp-dr1 nav {
        padding: 20px 0;
    }

    .lp-dr1 nav .container {
      text-align: center;
    }

    .lp-dr1 nav .container img {
      width: 35%;
    }

    .hero-section {
      background-image: url("{{ 'lp-dr1-hero-bg-mobile.png' | file_url }}");
      padding: 20px;
      height: unset;
    }

    .hero-section h1 {
      font-size: 7vw;
      line-height: 35px;
      line-height: 8vw;
      max-width: 50vw;
      margin: 0;
    }

    .hero-section h1 b {
      font-weight: normal;
      font-size: 7vw;
    }

    .content-section .contributors .contributor .contributor-content p {
        margin: 1vw 0;
    }

    .content-section .contributors .contributor .contributor-content .contributor-name {
      font-size: 5vw;
    }

    .content-section .contributors .contributor .contributor-content .contributor-titles {
      font-size: 3.5vw;
      line-height: 4vw;
    }

    .content-section .estimated-time {
      font-size: 8vw;
      gap: 2vw;
      padding: 5vw 0;
    }

    .content-section .estimated-time p {
      font-size: 4.5vw;
    }

    .content-section .stats {
      padding: 5vw;
    }

    .content-section .stats .stat {
      gap: 1vw;
    }

    .content-section .stats .stat .percent {
      font-size: 14vw !important;
    }

    .content-section .stats .stat p {
      margin: 2vw 0;
      font-size: 3vw !important;
      line-height: 5vw;
      max-width: 30vw;
    }

    .content-section .advisory-recommends {
      flex-wrap: wrap;
    }

    .content-section .advisory-recommends .quote {
      width: unset;
    }

    .content-section .advisory-recommends .advisor {
      width: unset;
    }

    .content-section .advisory-recommends .quote h2 {
      text-align: center;
    }

    .content-section .advisory-recommends .quote img {
      width: 12vw;
      top: -5vw;
      left: 4vw;
    }

    .lp-dr1 .meet-curalin h4 {
      font-size: 7vw;
    }

    .content-section .meet-curalin .meet-curalin-content {
      display: unset;
    }

    .content-section .the-story .header {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 0;
    }

    .content-section .the-story .header .img img {
      width: 40vw;
      margin-bottom: 5vw;
    }

    .content-section .the-story .header .titles img {
      width: 12vw;
      top: -5vw;
      left: 7vw;
    }

    .content-section .the-story .header .titles .subtitle {
      font-size: 6vw;
    }

    .curalin-banner {
      background-position: top;
    }

    .curalin-banner .container {
      flex-direction: column;
    }

    .curalin-banner p {
      text-align: center;
      font-size: 10vw;
      line-height: 12vw;
      font-weight: 400;
    }

    .curalin-banner img {
      height: 70vw;
      padding: 3vw 0;
    }

    .satisfaction-survey-titles h2 {
      font-size: 5vw;
    }

    .satisfaction-survey-titles p {
      font-size: 6.5vw;
      font-weight: 600;
    }

    .video-reviews-section {
      background: unset;
    }

    .video-reviews-section h2 {
      margin-top: 0;
      margin-bottom: 50px;
    }

    .content-section .the-story.v2 .header .img img {
      width: 100%;
    }

    .content-section .the-story .content b {
      font-size: 22px;
      display: block;
    }

    .content-section .cta .title {
      font-size: 7vw;
      line-height: 10vw;
    }

    .content-section .cta button {
      font-size: 6vw;
      padding: 3vw 12vw;
      margin: 5vw 0 10vw;
    }

    .money-back-section .title {
      font-size: 6vw;
      line-height: 7vw;
    }

    .money-back-section .content-wrapper {
      gap: 2vw;
    }

    .money-back-section .content-wrapper img {
      max-width: 30vw;
    }

    .testimonials-section .testimonials-headline * {
      color: #516A3E !important;
    }

    .money-back-section .content-wrapper p {
      font-size: 3vw;
    }
  }
</style>

<style>
  .btn-cta {
    border: none;
  }
  .floating-cta {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 1.25rem;
    z-index: 20;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition);
  }

  .floating-cta .btn-cta {
    max-width: 18.375rem;
    font-size: 2.5rem;
    pointer-events: auto;
  }

  .floating-cta:not(.show) {
    opacity: 0;
    visibility: hidden;
  }

  .floating-cta:not(.show) .btn-cta {
    pointer-events: none;
  }

  .btn-cta {
    background: #FBB80C;
    box-shadow: 0.625rem 0.625rem 0.825rem rgba(0, 0, 0, 0.3);
    border-radius: 1.25rem;
    padding: 0.875rem;
    max-width: 39.1875rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.867375rem;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    transition: all var(--transition);
  }

  .btn-cta b {
    font-weight: bold;
  }

  .btn-cta:hover {
    background-color: #FFFFFF;
    color: #d9a112;
    transition: all var(--transition);
  }

  @media screen and (max-width: 760px) {
    .floating-cta {
      left: 0;
      text-align: center;
    }

    .floating-cta .btn-cta {
      max-width: 90%;
      padding: 2vw;
      font-size: 9vw;
    }
  }
</style>

<script>
  window.addEventListener('scroll', (e) => {
      let last_known_scroll_position = window.scrollY;
      if (counters && animateCounters && window.innerHeight > document.querySelector('.cta').getBoundingClientRect().top && window.innerHeight < document.querySelector('.cta').getBoundingClientRect().top + document.querySelector('.cta button').getBoundingClientRect().top) {
          animateCounters = false;
          counters.forEach(counter => {
              const animate = () => {
                  const value = parseFloat(+counter.getAttribute('data-count'));
                  const dataLine = counter.closest('li').querySelector('.line span');
                  const data = +counter.innerText;

                  const time = value / countingSpeed;
                  if (data < value) {
                      counter.innerText = Math.ceil(data + time);
                      dataLine.style.width = Math.ceil(data + time) + '%';
                      setTimeout(animate, 0.1);
                  } else {
                      counter.innerText = value;
                      dataLine.style.width = value + '%';
                  }
              }
              animate();
          });
      }

      if ((document.querySelector('.meet-curalin').getBoundingClientRect().top < -(document.querySelector('.meet-curalin .meet-curalin-content').getBoundingClientRect().height / 2) || document.querySelector('.meet-curalin').getBoundingClientRect().top < -(document.querySelector('.meet-curalin .meet-curalin-content').getBoundingClientRect().height / 2)) &&
          window.innerHeight < document.querySelector('.cta button').getBoundingClientRect().top) {
          document.querySelector('.floating-cta').classList.add('show');
      } else if (document.querySelector('.cta button').getBoundingClientRect().top < -document.querySelector('.cta button').getBoundingClientRect().height && !document.querySelector('.floating-cta').classList.contains("active")) {
          document.querySelector('.floating-cta').classList.add('show');
      } else {
          document.querySelector('.floating-cta').classList.remove('show');
      }
  });
</script>