{% layout 'theme.lps' %}

<main class="lp-quiz">
  <section class="nav">
    <div class="container">
      <div class="big-img">
        <img src="{{ 'lp-quiz-logo-black.png' | file_url }}" alt="chef icon" loading="lazy">
      </div>
    </div>
  </section>

  <section class="hero-banner">
    <div class="container">
      <div class="titles">
        <p class="why">Why are diets lousy at promoting <br> healthy blood sugar?</p><br>
        <p class="question">Not all are designed for YOU, your personality, your lifestyle.</p>
      </div>
      <a href="/pages/v1-quiz"><button class="quiz-button">Take Quiz</button></a>
    </div>
  </section>

  <section class="question-mobile">
    <div class="container">
      <p>Not all are designed for YOU, your personality, your lifestyle.</p>
      <div class="grey-border"></div>
    </div>
  </section>

  {% section 'lps-featured-on' %}

  <section class="hero-body">
    <div class="container">
      <div class="yellow-rectangle"></div>
      <div class="text-its-simple">
        <p>Stop asking yourself why diets are so hard.
          They won’t be once you’re on the right one. </p>
      </div>
    </div>
    <div class="grey-rectangle">
      <div class="text-its-simple2">
        <p>Stop asking yourself why diets are so hard.
          They won’t be once you’re on the right one. </p>
        <div class="discover-diet2">Discover the diet right for YOU!</div>
      </div>
      <div class="ellipse"></div>
      <div class="discover-diet">Discover the diet right for YOU!</div>
      <a href="/pages/v1-quiz"><button id="second-button">Take Quiz</button></a>
    </div>
    <div class="container">
      <div class="diet-maintain">
        <div class="diet-maintin-small-text">
          <p> Diets are key for maintaining healthy blood sugar.</p> <br>
          <p>Learning which blood sugar diet is right for YOU is
            important not only for short term goals, but for the long term effects of your blood sugar.</p> <br>
          <p class="benefits">
            Benefits of
            learning which diet is right for YOUR blood sugar:</p> <br>
          <img src="{{ 'lp-quiz-keep-your-blood-small.png' | file_url }}" alt="keep your blood text small"
            loading="lazy"><br>
        </div>
        <div class="diet-maintain-text">
          <p class="diets-key">Diets are key for maintaining healthy blood sugar.
            Learning which blood sugar diet is right for YOU is important not only for short term goals, but for the
            long term effects of your blood sugar.
            Benefits of learning which diet is right for YOUR blood sugar:</p>
          <img src="{{ 'lp-quiz-keep-your-blood.png' | file_url }}" alt="keep your blood text" loading="lazy">
        </div>
        <div class="diet-maintain-picture">
          <img src="{{ 'lp-quiz-diet-girl.png' | file_url }}" alt="diet girl" loading="lazy">
        </div>
      </div>
      <div class="people-saying">What people are saying:</div>
      <div class="people-that-saying">
        <div class="people-small"><img src="{{ 'lp-quiz-people-small-1.png' | file_url }}" alt="people-small 1"
            loading="lazy"></div>
        <div class="people-small"><img src="{{ 'lp-quiz-people-small-2.png' | file_url }}" alt="people-small 2"
            loading="lazy"></div>
        <div class="people-small"><img src="{{ 'lp-quiz-people-small-3.png' | file_url }}" alt="people-small 3"
            loading="lazy"></div>
        <div class="people-small"><img src="{{ 'lp-quiz-people-small-4.png' | file_url }}" alt="people-small 4"
            loading="lazy"></div>
        <div class="people"><img src="{{ 'lp-quiz-people-1.png' | file_url }}" alt="people 1" loading="lazy"></div>
        <div class="people"><img src="{{ 'lp-quiz-people-2.png' | file_url }}" alt="people 2" loading="lazy"></div>
        <div class="people"><img src="{{ 'lp-quiz-people-3.png' | file_url }}" alt="people 3" loading="lazy"></div>
        <div class="people"><img src="{{ 'lp-quiz-people-4.png' | file_url }}" alt="people 4" loading="lazy"></div>
      </div>
      <div class="yellow-rectangle" id="second-yellow-rectangle"></div>
    </div>
    </div>
    <div class="grey-big-rectangle">
      <div class="container">
        <div class="quiz-text-small">
          <p class="take-quiz-small">Take this quiz to find out more about which blood sugar diet is right for you. When
            you listen to your
            body, it works WITH you, not against you. </p>
          <p class="start-learn">Start learning about what your body wants so YOU can succeed today! </p>
        </div>
        <div class="quiz-text">
          <img src="{{ 'lp-quiz-take-quiz-text.png' | file_url }}" alt="take quiz text" loading="lazy">
        </div>
        <a href="/pages/v1-quiz"><button class="quiz-button3">Take Quiz</button></a>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="container">
      <p class="copyright">
        Copyright © 2018 CuraLife Commerce SIA. All rights reserved.</p>
      <p class="use">
        Use of this website signifies your agreement to the <a href="/policies/privacy-policy">Privacy & Cookie
          Policy</a> and <a href="/policies/terms-of-service">Terms
          & Conditions</a></p>
    </div>
  </section>
</main>

<style>
  body {
    padding-top: 0;
  }

  .lp-quiz .featured-section {
    border: none;
  }

  .lp-quiz .featured-section .sub-title h4 {
    display: none;
  }

  .lp-quiz p {
    margin: 0;
  }

  .lp-quiz button {
    width: 327px;
    height: 73px;
    background-color: #53B2C9;
    box-shadow: 0px 4.5625px 4.5625px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 0;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  }

  .big-img {
    padding: 25px 0;
  }

  .hero-banner {
    background-image: url("{{ 'lp-quiz-hero-bg.png' | file_url }}");
    background-size: cover;
    height: 700px;
    padding-top: 50px;
  }

  .titles {
    margin-top: 54px;
  }

  .why {
    max-width: 592px;
    height: 183px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
  }

  .lp-quiz .question {
    max-width: 639px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: #827878;
  }

  .question-mobile {
    display: none;
  }

  .question-mobile p {
    margin: 0 auto;
    padding-top: 19px;
    width: 300px;
    height: 43px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #E38354;
  }

  .grey-border {
    margin: 30px;
    margin-bottom: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
  }

  .quiz-button {
    top: 241px;
  }

  .hero-body {
    max-width: 100%;
    height: 100%;
  }

  .yellow-rectangle {
    height: 2px;
    background: #FFC10E;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .text-its-simple {
    margin: 50px auto;
    max-width: 940px;
    height: 103px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 51px;
    text-align: center;
    color: #000000;
  }

  .text-its-simple2 {
    display: none;
    max-width: 342px;
    height: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  .ellipse {
    margin-top: 45px;
    position: absolute;
    width: 342px;
    height: 342px;
    left: -273px;
    top: 1000px;
    border-radius: 50%;
    background: #FFC10E;
    z-index: -1;
  }

  .grey-rectangle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    background: #F6F6F6;
  }

  .discover-diet {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    color: #E2833F;
  }

  .discover-diet2 {
    margin-top: 10px;
    display: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFC10E;
  }

  .diet-maintain {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .diet-maintin-small-text {
    display: none;
    max-width: 354px;
    height: 216px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  .diets-key {
    max-width: 698px;
    height: 310px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    color: #000000;
  }

  .people-saying {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #E38354;
  }

  .people-that-saying {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .people-small {
    display: none;
    max-width: 48%;
  }

  #second-yellow-rectangle {
    margin: 100px auto 50px;
  }

  .grey-big-rectangle {
    max-width: 100%;
    height: 309px;
    background: rgba(232, 232, 232, 0.4);
    text-align: center;
  }

  .quiz-text {
    padding-top: 2%;
  }

  .quiz-text-small {
    display: none;
    margin: 0 auto;
    max-width: 342px;
    height: 96px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333333;
  }

  .quiz-button3 {
    margin: 2% 30%;
  }

  .benefits {
    font-weight: 700;
  }

  .footer {
    height: 164px;
    background: #363839;
    padding-top: 30px;
  }

  .footer p {
    font-family: 'Open Sans';
    text-align: center;
    color: #999999;
  }

  .lp-quiz p.copyright {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .use {
    font-size: 13px;
  }

  .use a {
    text-decoration: none;
    color: #11AADF;
  }

  @media (max-width: 1024px) {
    .people {
      display: none;
    }

    .people-small {
      display: flex;
      margin-top: 2%;
    }

    .people-that-saying {
      margin-top: 0;
      margin-bottom: 2%;
      justify-content: space-evenly;
    }
  }

  @media (max-width: 1000px) {
    .container {
      padding: 0 15px;
    }

    .hero-banner {
      background-image: url("{{ 'lp-quiz-hero-bg-small.png' | file_url }}");
      background-size: cover;
      height: 269px;
      padding-top: 50px;
    }

    .big-img img {
      max-width: 100px;
      padding: 10px 0;
    }

    .titles {
      margin-left: 10px;
      margin-top: 0;
    }

    .why {
      width: 226px;
      height: 108px;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
    }

    .lp-quiz .question {
      display: none;
    }

    .lp-quiz button {

      width: 136px;
      height: 30px;
      font-size: 20px;
    }

    .quiz-button {
      margin-left: 10px;
    }

    .yellow-rectangle {
      display: none;
    }

    .question-mobile {
      display: block;
    }

    .discover-diet {
      display: none;
    }

    .text-its-simple {
      display: none;
    }

    .ellipse {
      display: none;
    }

    .grey-rectangle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 188px;
    }

    .text-its-simple2 {
      display: block;
    }

    .discover-diet2 {
      display: block;
    }

    .diet-maintain-text {
      display: none;
    }

    .diet-maintain-picture {
      display: none;
    }

    .diet-maintin-small-text {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .people-saying {
      margin-top: 20px;
      font-size: 24px;
      line-height: 45px;
    }

    .quiz-text {
      display: none;
    }

    .grey-big-rectangle {
      height: 280px;
    }

    .quiz-button3 {
      margin-top: 135px;
    }

    .quiz-text-small {
      display: block;
    }

    .take-quiz-small {
      padding-top: 20px;
    }

    .start-learn {
      padding-top: 20px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #000000;
    }

    .footer p {
      margin: 0 auto;
      font-family: 'Poppins';
    }

    .lp-quiz p.copyright {
      width: 305px;
      height: 36px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

    .use {
      width: 300px;
      height: 54px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  @media (max-width: 350px) {
    .text-its-simple2 {
      width: 300px;
      font-size: 14px;
      line-height: 18px;
    }

    .discover-diet2 {
      font-size: 16px;
      line-height: 22px;
    }

    .diet-maintin-small-text {
      width: 300px;
      margin-top: 20px;
      font-size: 14px;
      line-height: 18px;
    }

    .people-saying {
      margin-top: 0;
    }

    .quiz-text-small {
      width: 300px;
      font-size: 16px;
      line-height: 22px;
    }
  }
</style>