{% render 'script.round-converted-currency' %}

<section id="curaeats-section">
  {% if shop.name == "CuraLife" %}
    {% unless product.title == "CuraLin BFCM 2022" %}
    <h2>Everything you need to keep your blood sugar happy!</h2>
    {% endunless %}
    <div class="challenge">

      <div class="container">
        <div class="badge-img">SAVE {{ challenge_value | times: 100 | money | replace: ".00", "" }}</div>

        <div class="badge" style="display: none;">
          <div class="badge-bg">
            <p><span class="rounded floor">{{ challenge_value | times: 100 | money | replace: ".00", "" }}</span><br>Value</p>
          </div>
        </div>
        <h3>30 Day Life Changing Program</h3>
        <p>There is a science to healthy blood sugar, and we’ve cracked it.<br><br>
        Together, we’ll help you kickstart a healthier, stronger, and more determined you... because you deserve health that lasts.<br><br>
        Let’s build good habits together. <b>We’ll guide you every step of the way!</b></p>

        <img class="main-image" src="{{ 'hs-curaeats-main-image.png' | asset_url }}" alt="">

        {% assign features = "<b>Curalin</b> - clinically tested for blood sugar health
          |Tips on what to eat to nourish your body (and cravings 😉)
          |Easy exercise routines that you’ll love
          |A community of 100K+ people cheering you on and helping you out
          |24/7 unlimited access to Curalife’s customer success team" | split: "|" %}

        <div class="features">
          {% for feature in features %}
            <div class="feature">
              <div class="feature-icon"><i class="icofont-check"></i></div>
              <div class="feature-text">{{ feature | split: "|" | last }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="curaeats">
    {% if shop.name == "CuraLife" %}
      <i class="icofont-plus plus"></i>
    {% else %}
    <br><br><br>
    {% endif %}
    <div class="container">

      <div class="badge">
        <div class="badge-bg">
          <p><span class="rounded floor">{{ curaeats_value | times: 100 | money | replace: ".00", "" }}</span><br>Value</p>
        </div>
      </div>
      <div class="content-wrapper">
        <img class="main-image" src="{{ 'hs-curaeats-main-image-app.png' | asset_url }}" width="413" height="482" alt="" loading="lazy">
        <div class="titles">
          <p class="limited-time">Limited Time Bonus!</p>
          <div class="main-titles">
            <p class="title"><i class="icofont-star"></i> CuraEats Meal Plan! <i class="icofont-star"></i></p>
            <p class="subtitle">84 recipes you’ll love making and devouring</p>
          </div>
        </div>
      </div>
     <p class="notice">*Offer applies when you buy a Curalin 2, 3 or 6 Pack</p>
    </div>
  </div>
</section>

<style>
  #curaeats-section {
    font-size: 20px;
    padding-top: 20px;
  }

  #curaeats-section h2 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: clamp(30px, 2vw, 45px);
    color: #404733;
  }

  #curaeats-section .container {
    font-weight: bold;
    position: relative;
    padding: 0 100px;
  }

  #curaeats-section .badge {
    width: 100px;
    height: 100px;
    background: #FFE746;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    z-index: 2;
    font-size: 25px;
    line-height: 2rem;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 700;
    border: 3px solid #FFE746;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    color: black;
  }

  #curaeats-section .badge .badge-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 0px 1px black;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #curaeats-section h2 {
    color: #404733;
    text-align: center;
    padding: 0 10px;
  }

  #curaeats-section .challenge {
    position: relative;
    background: var(--dark-green);
    color: white;
    padding: 50px 0;
    line-height: 1.2em;
  }

  #curaeats-section .challenge .badge-img {
    background-image: url("{{ 'hs-badge.png' | asset_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    right: 10px;
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 16px;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(20px, 2vw, 22px);
    text-align: center;
    color: #404733;
    z-index: 0;
  }


  #curaeats-section .challenge .badge {
    background: #FFE746;
    border-color: #FFE746;
  }

  #curaeats-section .challenge h3 {
    font-family: 'Poppins';
    color: #404733;
    font-weight: 700;
    font-size: clamp(22px, 4vw, 39px);
    line-height: 1em;
    margin-top: unset;
    margin-bottom: 40px;
    z-index: 0;
    position: relative;
    width: fit-content;
  }

  #curaeats-section .challenge h3::before {
    content: "";
    background-image: url("{{ 'hs-curaeats-title-decoration.png' | asset_url }}");
    width: 106%;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
    top: -16px;
    left: -17px;
    z-index: -1;
  }

  #curaeats-section .challenge p {
    max-width: 780px;
  }

  #curaeats-section .challenge .main-image {
    position: absolute;
    right: -100px;
    bottom: -50px;
    max-width: 60%;
  }

  #curaeats-section .challenge .features {
    max-width: 415px;
    display: flex;
    flex-direction: column;
  }

  #curaeats-section .challenge .features .feature {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
  }

  #curaeats-section .challenge .features .feature:last-child {
    border-bottom: unset;
  }

  #curaeats-section .challenge .features .feature .feature-icon {
    background: white;
    color: #404733;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  #curaeats-section .curaeats {
    position: relative;
    text-align: center;
  }

  #curaeats-section .curaeats .badge {
    background: #C00101;
    border-color: #C00101;
    color: white;
  }

  #curaeats-section .curaeats .badge .badge-bg {
    box-shadow: inset 0px 0px 0px 1px white;
  }

  #curaeats-section i.plus {
    color: #C00101;
    font-size: 200px;
    position: absolute;
    top: -100px;
    left: calc(50% - 0.5em);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    line-height: unset !important;
  }

  #curaeats-section .curaeats .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    top: {% if shop.name == "CuraLife" %} -50px{% else %} -150px{% endif %};
    position: relative;
  }

  #curaeats-section .curaeats .content-wrapper p.limited-time {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
    color: var(--dark-green);
  }

  #curaeats-section .curaeats .content-wrapper .main-titles {
    border-top: 1px solid var(--dark-green);
    border-bottom: 1px solid var(--dark-green);
    padding: 1.5em 0;
  }

  #curaeats-section .curaeats .content-wrapper .main-titles p.title {
    font-family: 'Montserrat';
    letter-spacing: -2px;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #curaeats-section .curaeats .content-wrapper .main-titles p.title {
    color:#C00101;
  }
  #curaeats-section .curaeats .content-wrapper .main-titles p.title i {
    font-size: 0.5em;
    color: var(--dark-green);
  }

  #curaeats-section .curaeats .content-wrapper .main-titles p.subtitle {
    font-size: 2em;
    max-width: 450px;
    margin: 0 auto;
  }

  #curaeats-section .curaeats p.notice {
    font-size: 1.5em;
    margin: 20px 0 0;
  }


  @media screen and (max-width: 768px) {
    #curaeats-section .challenge .badge-img {
      right: 1vw;
      padding-top: 4vw;
      line-height: 23px;

    }
    #curaeats-section {
      font-size: 5.4vw;
    }

    #curaeats-section .container {
      padding: 0 15px;
    }

    #curaeats-section .badge {
      width: 20vw;
      height: 20vw;
      font-size: 4.4vw;
      top: -10vw;
      right: 5vw;
    }

    #curaeats-section .challenge h3 {
      margin-top: unset;
      max-width: 75%;
      color: #FFFFFF;
      font-weight: 400;
      line-height: 1.2em;
    }

    #curaeats-section .challenge h3::before {
      content: unset;
    }

    #curaeats-section .challenge .main-image {
      position: relative;
      min-width: 170%;
      right: 35%;
      bottom: 0;
    }

    #curaeats-section .challenge .features {
      max-width: unset;
    }

    #curaeats-section i.plus {
      font-size: 30vw;
      top: -15vw;
    }

    #curaeats-section .curaeats .content-wrapper {
      flex-direction: column;
    }

    #curaeats-section .curaeats .content-wrapper .main-image {
      margin: auto;
      max-width: 70%;
      margin-top: 10vw;
    }

    #curaeats-section .curaeats .content-wrapper .titles {
      width: 100%;
    }

    #curaeats-section .curaeats .content-wrapper .titles p.limited-time {
      font-size: 1.3em;
    }

    #curaeats-section .curaeats .content-wrapper .titles .main-titles {
      width: 100%;
      padding: 0.7em 0;
    }

    #curaeats-section .curaeats .content-wrapper .titles .main-titles .title {
      font-size: 1.4em;
      gap: 0.2em;
    }

    #curaeats-section .curaeats .content-wrapper .titles .main-titles p.subtitle {
      font-size: 1.3em;
      padding: 0.2em 0;
    }

    #curaeats-section .curaeats p.notice {
        font-size: 0.65em;
    }
  }
</style>