
<section id="hero-section">
  <div class="decoration">
    <img class="animate__animated animate__fadeIn animate__delay-1s" src="{{ 'partnership-hero-section-decoration-1.png' | asset_url }}" alt="">
    <img class="animate__animated animate__fadeIn animate__delay-2s" src="{{ 'partnership-hero-section-decoration-2.png' | asset_url }}" alt="">
    <img class="animate__animated animate__fadeIn animate__delay-3s" src="{{ 'partnership-hero-section-decoration-3.png' | asset_url }}" alt="">
    <img class="animate__animated animate__fadeIn animate__delay-4s" src="{{ 'partnership-hero-section-decoration-4.png' | asset_url }}" alt="">
  </div>
  <div class="container">
    <h1>
      <span class="animate__animated animate__fadeIn animate__delay-1s">Nature.</span>
      <span class="animate__animated animate__fadeIn animate__delay-2s">Science.</span>
      <span class="animate__animated animate__fadeIn animate__delay-3s">Technology.</span>
    </h1>
    <div class="line animate__animated animate__fadeIn animate__delay-4s"></div>
    <div class="hero-subtitle animate__animated animate__fadeIn animate__delay-4s">
      In nature we find answers to health challenges.<br>
      We develop powerful, scientifically proven nutraceuticals.<br>
      Through smart technologies, we create personalized health journeys.
    </div>
    <a href="#contact-section" class="animate__animated animate__fadeIn animate__delay-4s"><button>Learn More</button></a>
  </div>
</section>

<style>
  #hero-section {
    background-image: url("{{ 'partnership-hero-background-image.png' | asset_url }}");
    background-size: cover;
    overflow: hidden;
    background-position: right;
    color: white;
  }

  #hero-section .decoration img {
    position: absolute;
    right: -400px;
    bottom: -60px;
    max-height: 50vh;
  }

  #hero-section .line {
    border-bottom: 5px solid #FFFFFF;
    max-width: 20%;
  }

  #hero-section .hero-subtitle {
    font-family: DM Sans;
    padding: 50px 0;
    max-width: 80vw;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2em;
    color: white;
    position: relative;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 26%);
  }

  #chat-widget-container,
  .wisepops-root {
    display: none;
  }

  @media screen and (max-width: 790px) {
    #hero-section {
      height: calc(100vh - 70px);
      background-position-x: calc(100% + 500px);
    }

    #hero-section .line {
      display: none;
    }

    #hero-section .hero-subtitle {
      padding-top: 0;
      padding-bottom: 10vw;
      min-width: 90vw;
      font-size: 5vw;
    }

    #hero-section .decoration img {
      right: -170vw;
      bottom: -10vw;
      max-width: unset;
      width: 300vw;
    }
  }
</style>