<div class="buy-box container md:!max-w-[100vw] flex mbl:flex-col" name="{{ buyboxName }}">
	{% render 'buy-box-gallery',
		product: prod,
		SID: SID,
		thumbs: thumbs,
		badgeImage: badgeImage,
		thumbnailImage: thumbnailImage,
		thumbnailImageMobile: thumbnailImageMobile,
		isProductThumbs: isProductThumbs
	%}

	{% unless isHideInfo %}
		<div class="product-info">
			<div class="top-wrapper mbl:flex-col flex items-center justify-between mb-4">
				<div class="titles">
					{% if upperTitleNotice and prod.handle == 'curalin-curabox' -%}
						<div class="upper-title-notice bg-light-pink w-fit text-bronze text-[16px] rounded-full font-bold px-4 py-2 mbl:mx-auto mbl:my-2">
							{{ upperTitleNotice }}
						</div>
					{%- endif %}
					<{{ titleTag | default: 'h1' }} class="product-title m-0 text-black">
						{%- if prod.metafields.my_fields.alternative_title.value -%}
							{{- prod.metafields.my_fields.alternative_title.value -}}
						{%- elsif mainTitle != blank -%}
							{{- mainTitle -}}
						{%- else -%}
							{{- prod.title -}}
						{%- endif -%}
					</{{ titleTag | default: 'h1' }}>
					{% if subtitle %}
						<p class="product-subtitle text-[22px] m-0">{{ subtitle }}</p>
					{% endif %}
				</div>

				{% if isShowReviews %}
					<div class="reviews flex items-center gap-2 text-[16px]">
						{% render 'rating-stars', rating: '5' %}
						Over 3000 Reviews
					</div>
				{% endif %}
			</div>

			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when '@app' -%}
						{% render block %}
				{%- endcase -%}
			{%- endfor -%}

			{% if ctaText %}
				<div class="cta-text text-start mbl:mb-4">{{ ctaText }}</div>
			{% endif %}

			{% if isFSA and shop.name != 'CuraLife Global' %}{% render 'fsa-badge', SID: SID %}{% endif %}
		</div>
	{% endunless %}

	{% render 'buy-box-subscription',
		prod: prod,
		SID: SID,
		blocks: blocks,
		buyType: buyType,
		ctaTextType: ctaTextType,
		isVariantNotice: isVariantNotice,
		product: prod,
		ctaColor: ctaColor,
		ctaTextColor: ctaTextColor,
		isReversed: isReversed,
		defaultSelectionIndex: defaultSelectionIndex,
		pricePer: pricePer,
		isOneTimePurchaseLink: isOneTimePurchaseLink,
		isSlideVariant: isSlideVariant,
		isOneTimeGift: isOneTimeGift,
		isHideInfo: isHideInfo,
		buyboxType: buyboxType
	%}
</div>

<style>
	#cta-section-{{ SID }} {
		.buy-box {
			.product-info {
				padding: unset;
				width: unset;
			}
		}

		.product-image-wrapper {
			position: relative;
		}

		.cta-text {
			font-size: 14px;

			h6 {
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 0.5rem;
				font-family: 'DM Sans', sans-serif;
				color: var('--primary-color');
			}

			ul li {
				padding-left: 1.5rem;
				margin-bottom: 0.25rem;
				color: var(--black);

				&::before {
					content: "✓";
					background: unset;
					color: var(--primary-color);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		@media screen and (max-width: 1270px) {
			.container {
				max-width: unset;
				padding: 0 20px;
			}
		}

		@media screen and (max-width: 768px) {
			padding-top: 0;

			.container {
				padding: 0 20px !important;
			}

			.product-image-wrapper {
			}

			.buy-box {
				.product-info {
					text-align: center;
					padding-top: 15vw;
				}
			}
		}
	}
</style>
