{% assign variantQuantity = product.variants | size %}

{% comment %} Short Section ID for JS Variables {% endcomment %}
{% assign sectionIDParts = section_id | split: '-' %}
{% assign shortSectionID = sectionIDParts[-1] %}

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

<div id="product-thumbnails-{{ section_id }}" class="product-thumbnails">
  <div class="product-slider">
    <div class="sliders-group">
      {% unless isHideThumbs %}
        <div class="thumbs-slider absolute">
          <div id="product-thumbs-slider-nav-prev-{{ section_id }}" class="swiper-nav swiper-button-prev"></div>

          <div id="thumbs-slider-{{ section_id }}" class="swiper">
            <div class="swiper-wrapper">
              {% comment %} Render Product Images on Thumbs Slider {% endcomment %}
              <div class="swiper-slide cursor-pointer !h-auto">
                <img src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}" width="" height="" loading="lazy">
              </div>

              {% comment %} Render Section Images on Thumbs Slider {% endcomment %}
              {% for block in blocks %}
                {% if block.type == 'image' %}
                  <div class="swiper-slide cursor-pointer !h-auto">
                    <img src="{{ block.settings.product_img | image_url }}" width="291" height="278" alt="Product Image" loading="lazy">
                  </div>
                {% elsif block.type == 'video' %}
                  <div class="swiper-slide cursor-pointer !h-auto">
                    <div class="thumbs-img video-thumbnail">
                      <img src="{{ block.settings.video_thumbnail | image_url }}" width="720" height="680" alt="" loading="lazy">
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

              {%- if first_3d_model -%}
                <div class="swiper-slide cursor-pointer !h-auto">
                  <img class="p-1" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/single_supp.png?v=1704621391" width="291" height="278" alt="Product Image" loading="lazy">
                  <i class="fa-light fa-360-degrees model-icon"></i>
                </div>
              {%- endif -%}
            </div>
          </div>

          <div id="product-thumbs-slider-nav-next-{{ section_id }}" class="swiper-nav swiper-button-next"></div>
        </div>
      {% endunless %}

    <div class="main-slider {% unless isHideThumbs %} dsk:ml-[160px] {% endunless %}">
        <div id="product-main-slider-sc-{{ section_id }}" class="swiper">
          <div class="swiper-wrapper">
            {% comment %} Render Product Images on Main Slider {% endcomment %}
            <div class="swiper-slide product-image-slide">
              <img src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}">
            </div>

            {% if badgeImage %}
              <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
            {% endif %}

            {% comment %} Render Section Images on Main Slider {% endcomment %}
            {% for block in blocks %}
              {% if block.type == 'image' %}
                <div class="swiper-slide image-block-slide">
                  <img src="{{ block.settings.product_img | image_url }}" alt="Product Image" loading="lazy">
                </div>
                {% elsif block.type == 'video' %}
                  <div class="swiper-slide video-block-slide">
                    <div class="product-video">
                      <iframe id="product-video-iframe" src="https://player.vimeo.com/video/{{ block.settings.vimeo_video_id }}?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                    </div>
                  </div>
              {% endif %}
            {% endfor %}

            {%- if first_3d_model -%}
              <div class="swiper-slide 3d-image-slide">
                <model-viewer class="w-full h-[500px] md:h-[80vw]" alt="Curalin" src="{{ first_3d_model.sources.first.url }}" poster="//curalife.com/cdn/shop/files/curalinsdsdv.png?v=1704651801" shadow-intensity="1" camera-controls camera-orbit="300deg 80deg" auto-rotate></model-viewer>
              </div>
            {%- endif -%}

            {% comment %} Render Vaiants on Main Slider {% endcomment %}
            {% if product.variants.size > 1 %}
              {% for var in product.variants %}
                <div class="swiper-slide variant-image-slide">
                  {% if var.image %}
                    <img src="{{ var.image | image_url }}" alt="{{ var.image.alt | escape }}">
                  {% endif %}

                  {% if isSaveTitle %}
                    {% assign save_price = var.compare_at_price | minus: var.price %}

                    <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                  {% endif %}

                  {% if badgeImage %}
                    <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}

            {% if customer.email == 'ana@curalife.com' or customer.email == 'yotam@curalife.com' %}
              {% for additionalVariant in product.metafields.custom.additional_variants.value %}
                <div class="swiper-slide">
                  <img src="{{ additionalVariant.image | image_url }}" alt="{{ additionalVariant.image.alt | escape }}">

                  {% if isSaveTitle %}
                    {% assign save_price = additionalVariant.compare_at_price | minus: additionalVariant.price %}

                    <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                  {% endif %}

                  {% if badgeImage %}
                    <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="swiper-pagination"></div>
        </div>

        <div id="product-main-slider-nav-prev-{{ section.id }}" class="swiper-button-prev product-main-slider-nav-prev nav"></div>
        <div id="product-main-slider-nav-next-{{ section.id }}" class="swiper-button-next product-main-slider-nav-next nav"></div>
      </div>
    </div>
  </div>
</div>

<style>
  {% if first_3d_model %}
    #product-thumbnails-{{ section_id }} .model-icon {
      position: absolute;
      top: 25%;
      left: 25%;
      font-size: 10px;
      color: white;
      border-radius: 50%;
      border: 2px solid white;
      width: 30%;
      height: 30%;
      padding: 0.5rem;
      background: rgba(255,255,255,0.2)
    }
  {% endif %}

  {% if badgeImage %}
    #product-thumbnails-{{ section_id }} .sale-badge {
      position: absolute;
      top: 10px;
      right: 50px;
      width: 100px;
      z-index: 1;
    }

    @media screen and (max-width: 768px) {
      #product-thumbnails-{{ section_id }} .sale-badge {
        top: 0;
        right: 0;
        width: 25vw;
      }
    }
  {% endif %}

  #product-thumbnails-{{ section_id }} .product-slider .thumbs-slider {
    top: 90px;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper {
    max-height: 320px;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    position: relative;
    left: 35px;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav.swiper-button-next {
    bottom: -30px;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav.swiper-button-prev {
    top: -10px;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav:after {
    font-size: 12px;
  }

  #product-thumbnails-{{ section_id }} .save-title {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    top: 50%;
    }

    #product-thumbnails-{{ section_id }} .save-title p {
    background-image: url("{{ 'title-bg.svg' | asset_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    width: 235px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: auto;
  }

  #product-thumbnails-{{ section_id }} {
    grid-area: 1/1/3/2;
  }

  #product-thumbnails-{{ section_id }} .product-slider .main-slider .main-slider-vector-bg {
    position: absolute;
    z-index: -1;
  }

  #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-slide .img-wrap {
    padding: unset;
    text-align: center
  }

  #product-thumbnails-{{ section_id }}.product-thumbnails .product-slider .main-slider .swiper-slide img {
    max-height: 550px;
  }

  #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-slide .product-video iframe {
    height: 480px;
    width: 100%
  }

  #product-thumbnails-{{ section_id }} .product-slider .main-slider .nav {
    display: none;
  }

  #product-thumbnails-{{ section_id }} .product-slider .main-slider .nav::after {
    font-size: 12px;
    color: var(--blue);
    font-weight: bold;
  }

  #product-thumbnails-{{ section_id }} .product-slider .thumbs-slider .swiper-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #404733;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #product-thumbnails-{{ section_id }} .swiper-button-prev,
  #product-thumbnails-{{ section_id }} .swiper-button-next {
    color: grey;
    transition: opacity .5s;
    background: white;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav.disabled {
    opacity: 0;
  }

  #product-thumbnails-{{ section_id }} .thumbs-slider .swiper-nav:active {
    box-shadow: unset !important;
  }

  #product-thumbnails-{{ section_id }} .main-slider .swiper-button-prev.disabled,
  #product-thumbnails-{{ section_id }} .main-slider .swiper-button-next.disabled {
    opacity: 0;
  }

  #product-thumbnails-{{ section_id }} .product-template-all-in-one .swiper-button-prev::after,
  #product-thumbnails-{{ section_id }} .product-template-all-in-one .swiper-button-next::after {
    font-size: 28px;
  }

  @media screen and (max-width: 768px) {
    #product-thumbnails-{{ section_id }} {
      grid-area: unset;
      grid-row: 2;
    }

    #product-thumbnails-{{ section_id }} .product-slider {
      margin-left: unset;
    }

    #product-thumbnails-{{ section_id }} .product-slider .sliders-group:before {
      content: "";
      width: 100vw;
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      z-index: -1;
      transform: translate(50%);
      pointer-events: none;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .main-slider-vector-bg {
      margin-left: unset;
      left: 0;
      top: 10%;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper {
      max-width: 95%;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-wrapper {
      align-items: center
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe {
      height: 45vh
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe .vp-video-wrapper {
      border-radius: 10px;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-wrapper .swiper-slide .product-img::before {
      padding-bottom: 100%
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .nav {
      display: flex;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .nav.swiper-button-prev {
      left: -10px;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .nav.swiper-button-next {
      right: -10px;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet {
      background: var(--green);
      opacity: .4;
      width: 13px;
      height: 13px;
      border: 0;
    }

    #product-thumbnails-{{ section_id }} .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: var(--green);
      opacity: 1;
    }

    #product-thumbnails-{{ section_id }} .product-slider .thumbs-slider {
      display: none;
    }
  }
</style>

<script>
  {% unless isHideThumbs %}
    window.productThumbsAllInOne{{ shortSectionID }} = new Swiper('#thumbs-slider-{{ section_id }}', {
      direction: 'vertical',
      spaceBetween: 10,
      watchSlidesVisibility: false,
      grabCursor: true,
      slidesPerView: 3,
      navigation: {
        nextEl: '#product-thumbs-slider-nav-next-{{ section_id }}',
        prevEl: '#product-thumbs-slider-nav-prev-{{ section_id }}',
        disabledClass: 'disabled'
      }
    });
  {% endunless %}

  window.productSliderAllInOne{{ shortSectionID }} = new Swiper('#product-main-slider-sc-{{ section_id }}', {
    {% unless isHideThumbs %}thumbs: {swiper: window.productThumbsAllInOne{{ shortSectionID }}},{% endunless %}
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: true,
    grabCursor: false,
    slideToClickedSlide: true,
    breakpoints: {
      0: {
        allowTouchMove: false,
        navigation: {
          nextEl: '#product-main-slider-nav-next-{{ section_id }}',
          prevEl: '#product-main-slider-nav-prev-{{ section_id }}',
          disabledClass: 'disabled'
        }
      },
      760: {
        allowTouchMove: false,
        navigation: {}
      }
    }
  });

  $('.thumbs-img').click(function() {
    woopra.track('Product Image Click', {});
  });

  // Product Arrow Click
  $('#product-thumbs-slider-nav-next-{{ section_id }}, #product-thumbs-slider-nav-prev-{{ section_id }}').click(function() {
    woopra.track('Arrow Click', { section: "Product" });
  });
</script>