{% if shop.name contains 'Global' %}
	{% assign buyOnceOneMonth = '£44.90' %}
	{% assign buyOnceThreeMonths = '£101.03' %}
	{% assign buyOnceThreeMonthsCAP = '£134.70' %}
	{% assign buySubscriptionOneMonth = '£33.68' %}
	{% assign buySubscriptionThreeMonths = '£94.29' %}
	{% assign buyOnceOneMonthProductID = '8962040660292' %}
	{% assign buyOnceOneMonthVariantID = '48230349504836' %}
	{% assign buyOnceThreeMonthsProductID = '8962040660292' %}
	{% assign buyOnceThreeMonthsVariantID = '48230349570372' %}
	{% assign buySubscriptionOneMonthProductID = '48458157293892' %}
	{% assign buySubscriptionOneMonthVariantID = '48230349504836' %}
	{% assign buySubscriptionOneMonthPlanID = '691276677444' %}
	{% assign buySubscriptionThreeMonthsProductID = '48458157293892' %}
	{% assign buySubscriptionThreeMonthsVariantID = '48230349570372' %}
	{% assign buySubscriptionThreeMonthsPlanID = '691276710212' %}
	{% assign buySubscriptionOneMonthCAP = '£44.90' %}
	{% assign buySubscriptionThreeMonthsCAP = '£134.70' %}
	{% assign buyOnceThreeMonthsDiscountPercentage = 25 %}
	{% assign buySubscriptionOneMonthDiscountPercentage = 25 %}
	{% assign buySubscriptionThreeMonthsDiscountPercentage = 30 %}
{% elsif request.path contains '-bundles' %}
	{% assign buyOnceThreeMonths = '112.28' %}
	{% assign buyOnceThreeMonthsCAP = '$149.70' %}
	{% assign buyOnceThreeMonthsProductID = '8583197327511' %}
	{% assign buyOnceThreeMonthsVariantID = '44698087063703' %}
	{% assign buyOnceThreeMonthsDiscountPercentage = 25 %}

	{% assign buySubscriptionThreeMonthsProductID = '8583197327511' %}
	{% assign buySubscriptionThreeMonthsVariantID = '44698087063703' %}
	{% assign buySubscriptionThreeMonthsPlanID = '11271372951' %}
	{% assign buySubscriptionThreeMonths = '$104.79' %}
	{% assign buySubscriptionThreeMonthsCAP = buyOnceThreeMonthsCAP %}
	{% assign buySubscriptionThreeMonthsDiscountPercentage = 35 %}

	{% assign buyOnceSixMonths = '$194.61' %}
	{% assign buyOnceSixMonthsCAP = '$299.40' %}
	{% assign buyOnceSixMonthsProductID = '8583197327511' %}
	{% assign buyOnceSixMonthsVariantID = '44895513936023' %}
	{% assign buyOnceSixMonthsDiscountPercentage = 35 %}

	{% assign buySubscriptionSixMonthsProductID = '8583197327511' %}
	{% assign buySubscriptionSixMonthsVariantID = '44895513936023' %}
	{% assign buySubscriptionSixMonthsPlanID = '11536662679' %}
	{% assign buySubscriptionSixMonths = '$179.64' %}
	{% assign buySubscriptionSixMonthsCAP = buyOnceSixMonthsCAP %}
	{% assign buySubscriptionSixMonthsDiscountPercentage = 40 %}
{% elsif request.path contains 'lp-wl-curaslim-360-aff' %}
	{% assign buyOnceOneMonthProductID = '8228158439575' %}
	{% assign buyOnceOneMonthVariantID = '44190159274135' %}
	{% assign buyOnceOneMonth = '$49.90' %}

	{% assign buySubscriptionOneMonth = '$44.90' %}
	{% assign buySubscriptionOneMonthProductID = '8228158439575' %}
	{% assign buySubscriptionOneMonthVariantID = '44190159274135' %}
	{% assign buySubscriptionOneMonthPlanID = '8556806295' %}
	{% assign buySubscriptionOneMonthCAP = '$49.90' %}
	{% assign buySubscriptionOneMonthDiscountPercentage = 10 %}

	{% assign buyOnceThreeMonths = '$135.00' %}
	{% assign buyOnceThreeMonthsProductID = '8228158439575' %}
	{% assign buyOnceThreeMonthsVariantID = '44190137843863' %}
	{% assign buyOnceThreeMonthsCAP = '$149.70' %}
	{% assign buyOnceThreeMonthsDiscountPercentage = 10 %}

	{% assign buySubscriptionThreeMonthsProductID = '8228158439575' %}
	{% assign buySubscriptionThreeMonthsVariantID = '44190137843863' %}
	{% assign buySubscriptionThreeMonthsPlanID = '8556871831' %}
	{% assign buySubscriptionThreeMonths = ' $127.00' %}
	{% assign buySubscriptionThreeMonthsCAP = '$149.70' %}
	{% assign buySubscriptionThreeMonthsDiscountPercentage = 15 %}
{% else %}
	{% assign buyOnceOneMonthProductID = '8583197327511' %}
	{% assign buyOnceOneMonthVariantID = '44698086998167' %}
	{% assign buyOnceOneMonth = '$42.42' %}
	{% assign buyOnceOneMonthCAP = '$49.90' %}
	{% assign buyOnceOneMonthDiscountPercentage = 15 %}

	{% assign buySubscriptionOneMonth = '$37.43' %}
	{% assign buySubscriptionOneMonthCAP = buyOnceOneMonthCAP %}
	{% assign buySubscriptionOneMonthDiscountPercentage = 25 %}
	{% assign buySubscriptionOneMonthProductID = '8583197327511' %}
	{% assign buySubscriptionOneMonthVariantID = '44698086998167' %}
	{% assign buySubscriptionOneMonthPlanID = '11271405719' %}

	{% assign buyOnceThreeMonths = '112.28' %}
	{% assign buyOnceThreeMonthsCAP = '$149.70' %}
	{% assign buyOnceThreeMonthsProductID = '8583197327511' %}
	{% assign buyOnceThreeMonthsVariantID = '44698087063703' %}
	{% assign buyOnceThreeMonthsDiscountPercentage = 25 %}

	{% assign buySubscriptionThreeMonthsProductID = '8583197327511' %}
	{% assign buySubscriptionThreeMonthsVariantID = '44698087063703' %}
	{% assign buySubscriptionThreeMonthsPlanID = '11271372951' %}
	{% assign buySubscriptionThreeMonths = '$104.79' %}
	{% assign buySubscriptionThreeMonthsCAP = buyOnceThreeMonthsCAP %}
	{% assign buySubscriptionThreeMonthsDiscountPercentage = 30 %}
{% endif %}

<div id="product-actions-{{ SID }}" class="product-actions">
	<div class="buying-options">
		<p class="text-[14px] font-bold">Buying Options:</p>
		<div class="purchase-type mt-2">
			{% unless isSubscription %}
				<div class="option one-time-purchase">
					<label>
						<input type="radio" name="purchase-type" value="one-time" id="track:Purchase Type - Buy Once" checked>
						<span class="option-text">One Time Purchase</span>
						{% if page.template_suffix == 'curaslim-lp-2024-v2' or page.template_suffix == 'curaslim-quiz-results' %}
							<span class="tag bfcm popular-tag">Holiday Sale</span>
						{% else %}
							<span class="tag popular-tag">Popular</span>
						{% endif %}
					</label>

					<div class="quantity-options">
						{% if buyOnceOneMonthProductID %}
							<div
								class="quantity-option"
								name="track:Buy Once Purchase Option - 1 Month"
								data-product-id="{{ buyOnceOneMonthProductID }}"
								data-quantity="1"
								data-variant-id="{{ buyOnceOneMonthVariantID }}">
								<input type="radio" name="quantity" id="qty-1" value="1" href="track:Buy Once Purchase Option - 1 Month">
								<label for="qty-1">
									<div class="left-wrapper">
										<span class="buy-text">Buy 1</span>
										{% if buyOnceOneMonthDiscountPercentage > 0 %}
											<span class="save-tag">Save {{ buyOnceOneMonthDiscountPercentage }}%</span>
										{% endif %}
									</div>
									<div class="price-wrapper">
										<span class="price">{{ buyOnceOneMonth }}</span>
										<span class="original-price">{{ buyOnceOneMonthCAP }}</span>
									</div>
								</label>
							</div>
						{% endif %}

						{% if buyOnceThreeMonthsProductID %}
							<div
								class="quantity-option"
								name="track:Buy Once Purchase Option - 3 Months"
								data-product-id="{{ buyOnceThreeMonthsProductID }}"
								data-quantity="1"
								data-variant-id="{{ buyOnceThreeMonthsVariantID }}">
								<input
									type="radio"
									name="quantity"
									id="qty-3"
									value="3"
									href="track:Purchase Option- Buy Once - 3 Months"
									checked>
								<label for="qty-3">
									<div class="left-wrapper">
										<span class="buy-text">Buy 3</span>
										<span class="save-tag">Save {{ buyOnceThreeMonthsDiscountPercentage }}%</span>
									</div>
									<div class="price-wrapper">
										<span class="price">{{ buyOnceThreeMonths }}</span>
										<span class="original-price">{{ buyOnceThreeMonthsCAP }}</span>
									</div>
								</label>
							</div>
						{% endif %}

						{% if buyOnceSixMonthsProductID %}
							<div
								class="quantity-option"
								name="track:Buy Once Purchase Option - 6 Months"
								data-product-id="{{ buyOnceSixMonthsProductID }}"
								data-quantity="1"
								data-variant-id="{{ buyOnceSixMonthsVariantID }}">
								<input
									type="radio"
									name="quantity"
									id="qty-6"
									value="6"
									href="track:Purchase Option- Buy Once - 6 Months"
									checked>
								<label for="qty-6">
									<div class="left-wrapper">
										<span class="buy-text">Buy 6</span>
										<span class="save-tag">Save {{ buyOnceSixMonthsDiscountPercentage }}%</span>
									</div>
									<div class="price-wrapper">
										<span class="price">{{ buyOnceSixMonths }}</span>
										<span class="original-price">{{ buyOnceSixMonthsCAP }}</span>
									</div>
								</label>
							</div>
						{% endif %}
					</div>
				</div>
			{% endunless %}

			<div class="option subscription">
				<label id="subscription-option-label">
					<input type="radio" name="purchase-type" value="subscription" id="track:Purchase Type - Subscription">
					<span class="option-text">Purchase With Subscription</span>
					{% if page.template_suffix == 'curaslim-lp-2024-v2' or page.template_suffix == 'curaslim-quiz-results' %}
						<span class="tag bfcm popular-tag">
							Holiday Sale
							<br>
							Best Value
						</span>
					{% else %}
						<span class="tag best-value-tag text-orange">
							Best Value
							<br>
							{{ buySubscriptionThreeMonthsDiscountPercentage }}% Off
						</span>
					{% endif %}
				</label>

				<div class="quantity-options">
					{% if buyOnceOneMonthProductID %}
						<div
							class="quantity-option"
							name="track:Subscription Purchase Option - 1 Month"
							data-product-id="{{ buySubscriptionOneMonthProductID }}"
							data-quantity="1"
							data-variant-id="{{ buySubscriptionOneMonthVariantID }}"
							data-subscription-plan-id="{{ buySubscriptionOneMonthPlanID }}">
							<input
								type="radio"
								name="subscription-quantity"
								id="sub-qty-1"
								value="1"
								href="track:Purchase Option - Subscription - 1 Month">
							<label for="sub-qty-1">
								<div class="left-wrapper">
									<span class="buy-text">1 Month</span>
									<span class="save-tag">Save {{ buySubscriptionOneMonthDiscountPercentage }}%</span>
								</div>

								<div class="price-wrapper">
									<span class="price">{{ buySubscriptionOneMonth }}</span>
									<span class="original-price">{{ buySubscriptionOneMonthCAP }}</span>
								</div>
							</label>
						</div>
					{% endif %}

					{% if buyOnceThreeMonthsProductID %}
						<div
							class="quantity-option"
							name="track:Subscription Purchase Option - 3 Months"
							data-product-id="{{ buySubscriptionThreeMonthsProductID }}"
							data-quantity="1"
							data-variant-id="{{ buySubscriptionThreeMonthsVariantID }}"
							data-subscription-plan-id="{{ buySubscriptionThreeMonthsPlanID }}">
							<input
								type="radio"
								name="subscription-quantity"
								id="sub-qty-3"
								value="3"
								href="track:Purchase Option - Subscription - 3 Months">
							<label for="sub-qty-3">
								<div class="left-wrapper">
									<span class="buy-text">3 Months</span>
									<span class="save-tag">Save {{ buySubscriptionThreeMonthsDiscountPercentage }}%</span>
								</div>

								<div class="price-wrapper">
									<span class="price">{{ buySubscriptionThreeMonths }}</span>
									<span class="original-price">{{ buySubscriptionThreeMonthsCAP }}</span>
								</div>
							</label>
						</div>
					{% endif %}

					{% if buyOnceSixMonthsProductID %}
						<div
							class="quantity-option"
							name="track:Subscription Purchase Option - 6 Months"
							data-product-id="{{ buySubscriptionSixMonthsProductID }}"
							data-quantity="1"
							data-variant-id="{{ buySubscriptionSixMonthsVariantID }}"
							data-subscription-plan-id="{{ buySubscriptionSixMonthsPlanID }}">
							<input
								type="radio"
								name="subscription-quantity"
								id="sub-qty-6"
								value="6"
								href="track:Purchase Option - Subscription - 6 Months">
							<label for="sub-qty-6">
								<div class="left-wrapper">
									<span class="buy-text">6 Months</span>
									<span class="save-tag">Save {{ buySubscriptionSixMonthsDiscountPercentage }}%</span>
								</div>

								<div class="price-wrapper">
									<span class="price">{{ buySubscriptionSixMonths }}</span>
									<span class="original-price">{{ buySubscriptionSixMonthsCAP }}</span>
								</div>
							</label>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<form onsubmit="return false;">
			<button type="submit" class="submit-button" id="submit-button" name="add">
				<span class="submit-button-text">
					<strong>Buy Now</strong>
					<span class="total-price"></span>
				</span>
				<div class="loader" style="display: none;">
					<div class="lds-ellipsis">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</button>
		</form>
	</div>

	<div class="guarantee-wrapper flex flex-col gap-2 p-4">
		<img
			class="object-scale-down m-0"
			src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/cta-badges.png"
			alt="Secure Checkout"
			class="secure-checkout">
		<div class="guarantee text-center">
			<strong>60 Days Satisfaction Guarantee</strong>
			<br>
			If our products aren't your cup of tea, just send it back within 60 days for a full refund. No hassle, just health.
		</div>
	</div>
</div>

<script>
	document
		.querySelector('#cta-section-{{ SID }} .product-image-wrapper')
		.parentNode.insertBefore(document.querySelector('#cta-section-{{ SID }} .guarantee-wrapper'), document.querySelector('#cta-section-{{ SID }} .product-image-wrapper'));
</script>

<style>
	.uwy {
		display: none !important;
	}

	#cta-section-{{ SID }} {
		padding-bottom: 50px;

		.cta-text li {
			width: 48% !important;
			font-size: 14px !important;

			@media (max-width: 768px) {
				font-size: 3.2vw !important;
				padding-left: 4vw;
			}

			&::before {
				top: 0;
			}
		}

		.buy-box {
			grid-template-columns: 25% 40% 32% !important;
			grid-column-gap: 1rem !important;
		}

		.guarantee-wrapper {
			grid-column: 1;
			grid-row: 1/3;
			justify-content: center;
			font-size: 14px;
			line-height: 1.3;
			margin-top: 20px;

			img {
				max-width: 220px;
				margin-inline: auto;
				margin-top: unset;
			}
		}

		.product-image-wrapper {
			grid-column: 2;
		}

		.product-info {
			grid-area: 1 / 3 / 2 / 3 !important;
		}

		.product-info {
			max-width: 400px;

			h2 {
				font-size: 32px;
				font-weight: bold;
				font-style: normal;
			}
		}

		.product-actions {
			grid-column: 3;
			max-width: 400px;
		}

		@media (width <= 768px) {
			.buy-box {
				grid-template-columns: 100% !important;
			}

			.guarantee-wrapper {
				grid-row: 4;
				grid-column: 1;
			}

			.product-info {
				grid-row: 2 !important;
				grid-column: 1 !important;
			}

			.product-image-wrapper {
				grid-row: 2;
				grid-column: 1;
			}

			.product-actions {
				grid-row: 3;
				grid-column: 1;
			}
		}
	}
</style>

<style>
	.purchase-type {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 10px;
	}
	.option {
		background-color: white;
		border-radius: 15px;
		padding: 10px;
		transition: all 0.3s ease;
		min-height: 60px;
		display: grid;
		opacity: 0;
		transform: translateY(20px);
		animation: fadeInUp 0.5s forwards;
	}

	.option > label {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.option input[type='radio'] {
		margin-right: 10px;
	}

	.option-text {
		padding-block: 0.5rem;
		font-size: 16px;
		font-weight: 600;

		@media (max-width: 768px) {
			font-size: 3.7vw;
		}
	}

	.tag {
		margin-left: auto;
		padding: 3px 6px;
		border-radius: 5px;
		font-size: 13px;
		font-weight: 600;
		text-align: center;

		&.bfcm {
			background-color: #c20000;
			color: white;
			font-weight: bold;

			span {
				color: var(--orange);
				font-style: italic;
			}
		}

		@media screen and (max-width: 768px) {
			font-size: 3vw;
		}
	}

	.popular-tag {
		background-color: #ffebcd;
	}
	.best-value-tag {
		background-color: #c8eaff;
		text-align: center;
	}

	.quantity-options {
		display: none;
		gap: 10px;
		margin-top: 10px;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	.quantity-option {
		flex: 1;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
		border-radius: 15px;
		overflow: hidden;
		transition: all 0.3s ease;
		transform: scale(0.95);
		opacity: 0;
		animation: fadeInScale 0.4s forwards;
		font-size: 16px !important;

		.left-wrapper {
			display: flex;
			flex-direction: column;
			align-items: start;
		}
	}
	.quantity-option.selected {
		box-shadow: inset 0px 0px 0px 2px var(--orange);
		transform: scale(1);
	}
	.quantity-option input[type='radio'] {
		display: none;
	}
	.quantity-option label {
		display: flex;
		align-items: center;
		padding: 10px;
		cursor: pointer;
		justify-content: space-between;
		height: 100%;
	}
	.buy-text {
		font-weight: bold;

		@media screen and (max-width: 768px) {
			font-size: 3.5vw;
		}
	}
	.price {
		font-weight: 500;
	}
	.price-wrapper {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 0.2rem;
	}
	.original-price {
		text-decoration: line-through;
		color: #b4b4b4;
		font-size: 12px;
	}
	.save-tag {
		background-color: var(--orange);
		padding: 2px 5px;
		border-radius: 15px;
		font-size: 0.8em;
		margin-top: 5px;
		font-weight: bold;
		text-align: center;

		@media screen and (max-width: 768px) {
			font-size: 3vw;
		}
	}
	.submit-button {
		width: 100%;
		background-color: var(--orange);
		color: black;
		border: none;
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.3s, transform 0.2s;
		padding: 1rem;
		border-radius: 15px;
	}
	.submit-button:hover {
		background-color: var(--dark-orange);
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes fadeInScale {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
	.lds-ellipsis {
		display: inline-block;
		position: relative;
		width: 80px;
		top: -10px;
	}
	.lds-ellipsis div {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
		left: 8px;
		animation: lds-ellipsis1 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(2) {
		left: 8px;
		animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(3) {
		left: 32px;
		animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(4) {
		left: 56px;
		animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes lds-ellipsis3 {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
	@keyframes lds-ellipsis2 {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(24px, 0);
		}
	}
</style>

<style>
	#cta-section-{{ SID }} .lds-ellipsis {
	  display: inline-block;
	  position: relative;
	  width: 80px;
	  top:-10px;
	}
	#cta-section-{{ SID }} .lds-ellipsis div {
	  position: absolute;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  background: #fff;
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	#cta-section-{{ SID }} .lds-ellipsis div:nth-child(1) {
	  left: 8px;
	  animation: lds-ellipsis1 0.6s infinite;
	}
	#cta-section-{{ SID }} .lds-ellipsis div:nth-child(2) {
	  left: 8px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	#cta-section-{{ SID }} .lds-ellipsis div:nth-child(3) {
	  left: 32px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	#cta-section-{{ SID }} .lds-ellipsis div:nth-child(4) {
	  left: 56px;
	  animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
	  0% {
	    transform: scale(0);
	  }
	  100% {
	    transform: scale(1);
	  }
	}
	@keyframes lds-ellipsis3 {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(0);
	  }
	}
	@keyframes lds-ellipsis2 {
	  0% {
	    transform: translate(0, 0);
	  }
	  100% {
	    transform: translate(24px, 0);
	  }
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const productActions = document.getElementById('product-actions-{{ SID }}');
		const purchaseTypeInputs = productActions.querySelectorAll('input[name="purchase-type"]');
		const submitButton = productActions.querySelector('.submit-button');
		const loader = submitButton.querySelector('.loader');

		// Get all quantity options, both one-time and subscription
		const quantityOptions = productActions.querySelectorAll('.quantity-option input[type="radio"]');

		function init() {
			// Check if one-time purchase option exists
			const oneTimePurchaseOption = document.querySelector('input[name="purchase-type"][value="one-time"]');
			const subscriptionOption = document.querySelector('input[name="purchase-type"][value="subscription"]');

			// If one-time purchase exists, select it by default
			if (oneTimePurchaseOption) {
				oneTimePurchaseOption.checked = true;
				const oneTimeOptions = document.querySelector('.one-time-purchase .quantity-options');
				if (oneTimeOptions) {
					oneTimeOptions.style.display = 'flex';
				}

				// Select the "Buy 3" option if it exists
				const buyThreeOption = document.querySelector('.one-time-purchase .quantity-option input[value="3"]');
				if (buyThreeOption) {
					buyThreeOption.checked = true;
					buyThreeOption.click();
					buyThreeOption.closest('.quantity-option').classList.add('selected');
				}
			}
			// If no one-time purchase but subscription exists, select subscription by default
			else if (subscriptionOption) {
				subscriptionOption.checked = true;
				const subscriptionOptions = document.querySelector('.subscription .quantity-options');
				if (subscriptionOptions) {
					subscriptionOptions.style.display = 'flex';
				}

				// Select the first subscription option
				const firstSubscriptionOption = document.querySelector('.subscription .quantity-option input[type="radio"]');
				if (firstSubscriptionOption) {
					firstSubscriptionOption.checked = true;
					firstSubscriptionOption.click();
					firstSubscriptionOption.closest('.quantity-option').classList.add('selected');
				}
			}

			// Update the submit button text
			updateSubmitButton();

			// Add event listeners
			purchaseTypeInputs.forEach(input => input.addEventListener('change', handlePurchaseTypeChange));
			quantityOptions.forEach(option => option.addEventListener('click', handleQuantitySelection));
			productActions.addEventListener('submit', handleSubmit);
		}

		function handlePurchaseTypeChange(event) {
			const purchaseType = event.target.value;
			updatePurchaseOptions(purchaseType);

			// Get the appropriate selector based on purchase type
			const optionSelector = purchaseType === 'subscription' ? '.subscription .quantity-option input[type="radio"]' : '.one-time-purchase .quantity-option input[type="radio"]';

			const firstOption = productActions.querySelector(optionSelector);
			if (firstOption) {
				firstOption.click();
			}

			updateSubmitButton();
		}

		function updatePurchaseOptions(purchaseType = 'one-time') {
			const isSubscription = purchaseType === 'subscription';
			const oneTimeOptions = productActions.querySelector('.one-time-purchase .quantity-options');
			const subscriptionOptions = productActions.querySelector('.subscription .quantity-options');

			if (oneTimeOptions) {
				oneTimeOptions.style.display = isSubscription ? 'none' : 'flex';
			}
			if (subscriptionOptions) {
				subscriptionOptions.style.display = isSubscription ? 'flex' : 'none';
			}
		}

		function handleQuantitySelection(event) {
			const selectedOption = event.target.closest('.quantity-option');
			if (!selectedOption) return;

			quantityOptions.forEach(option => {
				const optionContainer = option.closest('.quantity-option');
				if (optionContainer) {
					optionContainer.classList.remove('selected');
				}
			});

			selectedOption.classList.add('selected');
		}

		function updateSubmitButton() {
			const checkedInput = productActions.querySelector('input[name="purchase-type"]:checked');
			const isSubscription = checkedInput ? checkedInput.value === 'subscription' : false;
			const buttonText = isSubscription ? 'Subscribe Now' : 'Buy Now';
			submitButton.querySelector('.submit-button-text').innerHTML = `<strong>${buttonText}</strong>`;
		}

		function handleSubmit(event) {
			event.preventDefault();
			event.stopPropagation();

			const checkedInput = productActions.querySelector('input[name="purchase-type"]:checked');
			const isSubscription = checkedInput ? checkedInput.value === 'subscription' : false;
			const selector = isSubscription ? 'input[name="subscription-quantity"]:checked' : 'input[name="quantity"]:checked';
			const selectedOption = productActions.querySelector(selector);

			if (!selectedOption) {
				console.error('No option selected');
				return;
			}

			const optionContainer = selectedOption.closest('.quantity-option');
			const variantId = optionContainer.dataset.variantId;
			const quantity = optionContainer.dataset.quantity;
			const subscriptionPlanId = isSubscription ? optionContainer.dataset.subscriptionPlanId : null;

			toggleButtonLoading(true);

			console.log('variantId:', variantId);
			console.log('quantity:', quantity);
			console.log('subscriptionPlanId:', subscriptionPlanId);
			clearCartAndAddItem(variantId, quantity, subscriptionPlanId);
		}

		function toggleButtonLoading(isLoading) {
			if (loader) {
				loader.style.display = isLoading ? 'block' : 'none';
			}
			const submitButtonText = submitButton.querySelector('.submit-button-text');
			if (submitButtonText) {
				submitButtonText.style.display = isLoading ? 'none' : 'block';
			}
		}

		function clearCartAndAddItem(variantId, quantity, sellingPlan = null) {
			const data = {
				items: [
					{
						id: variantId,
						quantity: quantity,
						selling_plan: sellingPlan
					}
				]
			};

			fetch('/cart/clear.js', { method: 'POST' })
				.then(() =>
					fetch('/cart/add.js', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify(data)
					})
				)
				.then(response => response.json())
				.then(() => {
					console.log('Item added to cart');
					window.location.href = '/checkout';
				})
				.catch(error => {
					console.error('Error:', error);
					toggleButtonLoading(false);
				});
		}

		init();
	});
</script>
