<div class="product-container container md:!max-w-[100vw]">
  <div class="product-image-wrapper">
    {% if ctaTemplate == '2024-new-3' %}
      {% render 'product-cta-section-gallery-2024', SID: SID, isHideThumbs: isHideThumbs, badgeImage: badgeImage, blocks: blocks, product: prod, isSaveTitle: isSaveTitle, thumbnailImage: thumbnailImage, thumbnailImageMobile: thumbnailImageMobile %}
    {% else %}
      {% render 'product-cta-section-gallery-new', SID: SID, isHideThumbs: isHideThumbs, badgeImage: badgeImage, blocks: blocks, product: prod, isSaveTitle: isSaveTitle, thumbnailImage: thumbnailImage, thumbnailImageMobile: thumbnailImageMobile %}
    {% endif %}
  </div>

  {% unless isHideInfo %}
    <div class="product-info mb-4">
      {% if upperTitleNotice and prod.handle == 'curalin-curabox' %}<div class="upper-title-notice bg-[--light-pink] w-fit text-[--bronze] text-[16px] rounded-full font-bold px-4 py-2 mbl:mx-auto mbl:my-2">{{ upperTitleNotice }}</div>{% endif %}
      <{{ titleTag | default: 'h1' }} class="product-title mb-[5px] text-black">{% if prod.metafields.my_fields.alternative_title.value %}{{ prod.metafields.my_fields.alternative_title.value }}{% elsif mainTitle != blank %}{{ mainTitle }}{% else %}{{ prod.title }}{% endif %}</{{ titleTag | default: 'h1' }}>

      {% if ctaText %}<div class="cta-text text-start mt-4">{{ ctaText }}</div>{% endif %}

      {% if isFSA and shop.name != 'CuraLife Global' %}{% render 'fsa-badge', SID: SID %}{% endif %}
    </div>
  {% endunless %}

  {% if customer.b2b? %}
    {% render 'product-cta-section-actions-add-to-cart', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, blocks: blocks, ctaColor: ctaColor, ctaTextColor: ctaTextColor, title: 'Select Your Product:', isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: true, isBuyWithPrime: isBuyWithPrime %}
  {% else %}
    {% if request.path contains 'lp-glu-curalin-2024' and customer.email contains '@curalife.com' %}
      {% render 'product-cta-section-actions-2024-new-4', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, prod: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime %}
    {% elsif ctaTemplate == 'basic' %}
      {% render 'product-cta-section-actions', SID: SID, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, title: title, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, isBuyWithPrime: isBuyWithPrime, isHideInfo: isHideInfo, buyType: buyType, buttonTitle: buttonTitle %}
    {% elsif ctaTemplate == '2024-new' %}
      {% render 'product-cta-section-actions-2024-new', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime %}
    {% elsif ctaTemplate == '2024-new-3' %}
      {% render 'product-cta-section-actions-2024-new-3', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, prod: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, saveFormat: saveFormat, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime, isVariantBoxToggle: isVariantBoxToggle, isSubscription: isSubscription %}
    {% elsif ctaTemplate == '2024-new-2' %}
      {% render 'product-cta-section-actions-2024-new-2', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime %}
    {% elsif ctaTemplate == '2024-new-4' %}
      {% render 'product-cta-section-actions-2024-new-4', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, prod: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime %}
    {% elsif ctaTemplate == 'info' %}
      {% render 'product-cta-section-actions-preorder', blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad %}
    {% else %}
      {% render 'product-cta-section-actions-2024-new', SID: SID, blocks: blocks, buyType: buyType, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: ctaColor, ctaTextColor: ctaTextColor, buyBoxColor: buyBoxColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isSlideOnLoad: isSlideOnLoad, isBuyWithPrime: isBuyWithPrime %}
    {% endif %}
  {% endif %}
</div>

<style>
  #cta-section-{{ SID }} {
    background: {{ bgColor }};
  }

  #cta-section-{{ SID }} .product-container {
    display: grid;
    grid-template-columns: 58% 38%;
    grid-column-gap: 4%;
    grid-row-gap: 0;
  }

  #cta-section-{{ SID }} .product-image-wrapper {
    grid-row: 1/3;
    position: relative;
  }

  #cta-section-{{ SID }} .product-container .product-info {
    padding: unset;
    width: unset;
    grid-area: 1/2/2/3;


  }

  {% if isHideInfo %}
    #cta-section-{{ SID }} .product-actions {
      grid-row: 1 / 2;
      margin-top: 60px;

      @media screen and (max-width: 768px) {
        grid-row: 2 / 3;
        margin-top: unset;
      }
    }
  {% endif %}

  #cta-section-{{ SID }} .container.line {
    margin-top: -50px;
  }

  #cta-section-{{ SID }} .cta-text {
    font-size: 14px;
  }

  #cta-section-{{ SID }} .cta-text ul li {
    padding-left: 1.5rem;
  }

  #cta-section-{{ SID }} .cta-text ul li::before {
    content: "✓";
    background: var(--primary);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1270px) {
    #cta-section-{{ SID }} .container {
      max-width: unset;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
    #cta-section-{{ SID }} {
      padding-top: 0;
    }

    #cta-section-{{ SID }} .container {
      padding: 0 20px !important;
    }

    #cta-section-{{ SID }} .product-image-wrapper {
      grid-row: unset;
    }

    #cta-section-{{ SID }} .product-container {
      grid-template-columns: repeat(1, 100%) !important;
      grid-template-rows: unset;
    }

    #cta-section-{{ SID }} .product-container .product-info {
      grid-area: unset;
      grid-row: 1;
      text-align: center;
      padding-top: 10vw;
    }
  }
</style>