{% if product.images.size > 1 %}
  <div class="product-thumbnails">
    <div class="product-slider">
      <div class="sliders-group">
        <div class="main-slider">
          <div id="product-main-slider-sc" class="swiper">
            <div class="swiper-wrapper">
              {% if isCuralinContent %}
                {% for i in (1..5) %}
                  <div class="swiper-slide">
                    {% unless forloop.index == 1 %}<img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">{% endunless %}

                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" width="588" height="453" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <div class="swiper-slide">
                  <div class="product-video">
                    <iframe id="product-video-iframe" src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                  </div>
                </div>
              {% endif %}

              {% if product.variants.size > 1 %}
                {% for var in product.variants %}
                  <div class="swiper-slide">
                    {% if shop.name == "CuraLife Global"%}
                      <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">
                    {% endif %}

                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ var.featured_image | image_url }}" alt="{{ var.featured_image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                    {% if isSaveTitle %}
                      {% assign save_price = var.compare_at_price | minus: var.price %}

                      <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                    {% endif %}

                    {% comment %} If Curalin is in the product, render the sale badge {% endcomment %}
                    {% if product.metafields.custom.badge_image %}
                      <img src="{{ product.metafields.custom.badge_image | image_url }}" width="200" height="200" alt="Curalin" class="sale-badge" loading="lazy">

                      <style>
                        .sale-badge {
                          position: absolute;
                          top: 100px;
                          right: 130px;
                          width: 100px;
                          z-index: 1;
                        }

                        @media screen and (max-width: 768px) {
                          .sale-badge {
                            top: 10vw;
                            right: 0;
                            width: 25vw;
                          }
                        }
                      </style>
                    {% endif %}
                  </div>
                {% endfor %}
              {% else %}
                {% for img in product.images %}
                  <div class="swiper-slide">
                    {% if shop.name == "CuraLife Global"%}
                      <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" width="534" height="342" alt="">
                    {% endif %}

                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ img.src | image_url }}" alt="{{ img.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
          <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
        </div>

        {% unless product.metafields.custom.is_hide_thumbs %}
          <div class="thumbs-slider">
            <div id="product-thumbs-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% if isCuralinContent %}
                  {% for i in (1..6) %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" width="588" height="453" alt="" loading="lazy">
                      </div>
                    </div>
                  {% endfor %}

                  <div class="swiper-slide">
                    <div class="thumbs-img video-thumbnail">
                      <img src="{{ "product-aio-product-video-thumbnail.png" | asset_url }}" width="720" height="680" alt="" loading="lazy">
                    </div>
                  </div>
                {% endif %}

                {% if product.variants.size > 1 %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <img src="{{ var.featured_image | image_url }}" alt="{{ var.featured_image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  {% for img in product.images %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <img src="{{ img.src | image_url }}" alt="{{ img.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>

            <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
            <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
          </div>
        {% endunless %}
      </div>
    </div>
  </div>

  <style>
    .cta-section .save-title {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      top: 50%;
      }

    .cta-section .save-title p {
      background-image: url("{{ 'title-bg.svg' | asset_url }}");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 5px;
      width: 235px;
      font-size: 35px;
      font-weight: bold;
      color: white;
      margin: auto;
    }

    .product-thumbnails {
      grid-area: 1/1/3/2;
    }

    .product-thumbnails .product-slider {
      width: unset !important;
      padding: unset;
    }

    .product-thumbnails .product-slider .main-slider {
      padding: unset;
      margin-left: unset
    }

    .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
      position: absolute;
      z-index: -1;
    }

    .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap {
      padding: unset;
      text-align: center
    }


    .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap img {
      max-height: 400px;
      object-fit: contain;
    }

    .product-thumbnails .product-slider .main-slider .swiper-slide .product-video iframe {
      height: 400px;
      width: 100%
    }

    .product-thumbnails .product-slider .main-slider .nav {
       display: none;
    }

    .product-thumbnails .product-slider .thumbs-slider {
      position: relative;
      display: flex;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 3em;
      padding-right: 3em;
    }

    .product-thumbnails .product-slider .thumbs-slider .swiper-wrapper .thumbs-img {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: grey;
      transition: opacity .5s;
    }

    .swiper-button-prev.disabled,
    .swiper-button-next.disabled {
      opacity: 0;
    }

    .product-template-all-in-one .swiper-button-prev::after,
    .product-template-all-in-one .swiper-button-next::after {
      font-size: 28px;
    }

    @media screen and (max-width: 768px) {
      .product-thumbnails {
        grid-area: unset;
        grid-row: 2;
      }

      .product-thumbnails .product-slider {
        margin-left: unset;
      }

      .product-thumbnails .product-slider .main-slider {
        width: 95%;
        margin: auto;
      }

      .product-slider .sliders-group:before {
        content: "";
        width: 150vw;
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        z-index: -1;
        transform: translate(50%);
        pointer-events: none;
      }

      .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
        margin-left: unset;
        left: 0;
        top: 10%;
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper {
        margin-bottom: 30px;
        align-items: center
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe {
        height: 45vh
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe .vp-video-wrapper {
        border-radius: 10px;
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-img::before {
        padding-bottom: 100%
      }

      .product-thumbnails .product-slider .main-slider .nav {
        display: flex;
      }

      .product-thumbnails .product-slider .main-slider .nav.swiper-button-prev {
        left: 0;
      }

      .product-thumbnails .product-slider .main-slider .nav.swiper-button-next {
        right: 0
      }

      .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet {
        background: var(--green);
        opacity: .4;
        width: 13px;
        height: 13px;
        border: 0;
      }

      .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--green);
        opacity: 1;
      }

      .product-thumbnails .product-slider .thumbs-slider {
            display: none;
      }
    }
  </style>

  <script>
    {% unless product.metafields.custom.is_hide_thumbs %}
      productThumbsAllInOne = new Swiper('#product-thumbs-slider-sc', {
        slidesPerView: 'auto',
        spaceBetween: 10,
        watchSlidesVisibility: true,
        grabCursor: true,
        loop: false,
        navigation: {
          nextEl: '#product-thumbs-slider-nav-next',
          prevEl: '#product-thumbs-slider-nav-prev',
          disabledClass: 'disabled'
        },
        breakpoints: {
          760: {
            slidesPerView: 3,
            freemode: true
          },
          1200: {
            slidesPerView: 5
          }
        }
      });
    {% endunless %}

    productSliderAllInOne = new Swiper('#product-main-slider-sc', {
      slidesPerView: 1,
      spaceBetween: 15,
      centeredSlides: true,
      watchSlidesVisibility: true,
      loop: false,
      grabCursor: true,
      slideToClickedSlide: true,
      {% unless product.metafields.custom.is_hide_thumbs %}
        thumbs: {swiper: productThumbsAllInOne},
      {% endunless %}
      breakpoints: {
        0: {
          pagination: {
            el: '.swiper-pagination',
            clickable: 'true',
            type: 'bullets',
          },
          navigation: {
            nextEl: '#product-main-slider-nav-next',
            prevEl: '#product-main-slider-nav-prev',
            disabledClass: 'disabled'
          }
        },
        760: {
          pagination: {},
          navigation: {}
        }
      }
    });

    {% if isCuralinContent %}
      productSliderAllInOne.on('slideChange', function () {
        $('iframe#product-video-iframe').attr( 'src', function ( i, val ) { return val; });
      });
    {% endif %}

    $('.thumbs-img').click(function() {
      woopra.track('Product Image Click', {});
    });

    // Product Arrow Click
    $('#product-thumbs-slider-nav-next, #product-thumbs-slider-nav-prev').click(function() {
      woopra.track('Arrow Click', { section: "Product" });
    });
  </script>
{% else %}
  <img src="{{ product.images[0].src | image_url }}" alt="{{ product.images[0].alt }}" class="product-image" loading="lazy">
  {% assign variantQuantity = product.variants | size %}
  {% if variantQuantity > 1 %}
    <p class="multiplier"></p>
  {% endif %}

  {% comment %} If Curalin is in the product, render the sale badge {% endcomment %}
    {% if var.metafields.custom.badge_image %}
    <img src="{{ product.metafields.custom.badge_image | image_url }}" width="200" height="200" alt="Curalin" class="sale-badge" loading="lazy">

    <style>
      .cta-section .product-image {
        max-height: 500px;
      }

      .sale-badge {
        position: absolute;
        top: 100px;
        right: 130px;
        width: 100px;
        z-index: 1;
      }

      @media screen and (max-width: 768px) {
        .sale-badge {
          top: 10vw;
          right: 0;
          width: 25vw;
        }
      }
    </style>
  {% endif %}
{% endif %}