{% if product.tags contains 'subscription' %}
  {% unless customer.tags contains 'B2B' %}
    {% assign isSubscription = true %}
  {% endunless %}
{% endif %}

<section class="cta-section cta-section-{{ section.id }} overflow-visible {% if isSubscription %}subscription{% endif %} pb-0" id="cta-section-anchor">
  <div class="product-container container md:!max-w-[100vw]">
    <div class="product-image-wrapper">
      {% render 'product-cta-section-gallery-new', section_id: section.id, isHideThumbs: isHideThumbs, badgeImage: badgeImage, blocks: blocks, product: product, isSaveTitle: isSaveTitle %}
    </div>

    <div class="product-info mb-2">
      <h1 class="mb-[5px]">{% if product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% elsif mainTitle != blank %}{{ mainTitle }}{% else %}{{ product.title }}{% endif %}</h1>

      {% if isReviews %}
        {% render 'product-cta-section-reviews', isReviewsQuotes: isReviewsQuotes %}
      {% endif %}
    </div>


    {% if product.handle contains 'curaslim' %}
      {% if product.handle contains 'lead' %}
          <div class="klaviyo-form-{% if shop.name contains 'Global' %}TB2Wxb{% else %}U6seD9{% endif %}"></div>
          <style>.cta-section .product-container {grid-template-columns: 50% 52% !important;}.klaviyo-form p {margin-bottom:1rem}</style>
      {% else %}
        {% render 'product-cta-section-actions-preorder', section_id: section.id, product: product, blocks: blocks, ctaColor: ctaColor %}
      {% endif %}
    {% elsif customer.b2b? %}
      {% render 'product-cta-section-actions-add-to-cart', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, blocks: blocks, ctaColor: ctaColor, title: 'Select Your Product:', isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: true, isBuyWithPrime: false %}
    {% elsif buyType == 'buy_now' or request.path contains 'pages/' or product.handle contains 'curalin-pack' %}
      {% render 'product-cta-section-actions', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, ctaColor: ctaColor, title: title, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, isBuyWithPrime: isBuyWithPrime %}
    {% else %}
      {% render 'product-cta-section-actions-2024', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, blocks: blocks, ctaColor: ctaColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer %}

      {% comment %} {% if customer.email == 'yotam@curalife.com' or customer.email == 'hello@ecdc-marketing.com' %}
        {% render 'product-cta-section-actions-2024', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, blocks: blocks, ctaColor: ctaColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer %}
      {% elsif isSubscription %}
        {% render 'product-cta-section-actions-subscription-multi', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, blocks: blocks, ctaColor: ctaColor, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer %}
      {% else %}
        {% render 'product-cta-section-actions', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: product, ctaColor: ctaColor, title: title, isHighlightSubtitle: isHighlightSubtitle, isReversed: isReversed, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isBuyQuantity: isBuyQuantity, isBuyWithPrime: isBuyWithPrime %}
      {% endif %} {% endcomment %}
    {% endif %}
  </div>
</section>

<style>
  .cta-section-{{ section.id }} {
    background: {{ bgColor }};
  }

  .cta-section-{{ section.id }} .product-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 50px;
    grid-row-gap: 0;
  }

  .cta-section-{{ section.id }} .product-image-wrapper {
    grid-row: 1/3;
    position: relative;
  }

  .cta-section-{{ section.id }} .product-container .product-info {
    padding: unset;
    width: unset;
    max-width: 450px;
    grid-area: 1/2/2/3;
  }

  .cta-section-{{ section.id }} .container.line {
    margin-top: -50px;
  }

  @media screen and (max-width: 1270px) {
    .cta-section-{{ section.id }} .container {
      max-width: unset;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .cta-section-{{ section.id }} {
      padding-top: 0;
    }

    .cta-section-{{ section.id }} .container {
      padding: 0 20px !important;
    }

    .cta-section-{{ section.id }} .product-image-wrapper {
      grid-row: unset;
    }

    .cta-section-{{ section.id }} .product-container {
      grid-template-columns: repeat(1, 100%) !important;
      grid-template-rows: unset;
    }

    .cta-section-{{ section.id }} .product-container .product-info {
      grid-area: unset;
      grid-row: 1;
      text-align: center;
      padding-top: 10vw;
    }
  }
</style>