{% if customer.tags contains 'B2B' %}
  {% assign isBuyQuantity = true %}
{% endif %}

<div id="product-actions-{{ section_id }}" class="product-actions">
  {% assign variantQuantity = product.variants | size %}
  {% if title != blank and variantQuantity > 1 %}
    <div class="cta-title">{{ title }}</div>
  {% endif %}

  <div class="variants">
    {% for var in product.variants %}
      {% if forloop.last %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer, isLastRender: true %}
      {% else %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="submit-wrap flex flex-col">
    <div class="main-submit-wrapper flex">
      {% if isBuyQuantity %}
        <div class="qty">
          <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
          <div class="qty_inc_dec">
            <i class="increment" onclick="incrementQty()">+</i>
            <i class="decrement" onclick="decrementQty()">-</i>
          </div>
        </div>
      {% endif %}

      <button class="main-btn" id="buy-button">
        <span>SHOP NOW</span>
        {% if product.metafields.custom.is_price_per_month %}
          <span class="total-price w-1/2 border-l-2 border-white">Total <span class="total-price-amount"></span></span>
        {% endif %}
        {% comment %} {% unless isBuyQuantity %}<span class="save" id="save"></span>{% endunless %} {% endcomment %}
      </button>
    </div>

    {% comment %} {% unless shop.name == 'CuraLife Global' %}
      {% if request.path contains 'buy-with-prime' or request.path contains 'presell-yotam' %}
        {% render 'buy-with-prime-button' %}
      {% endif %}
    {% endunless %} {% endcomment %}
  </div>

  {% if customer %}
    {% unless customer.b2b? %}
      {% render 'yotpo-product-points-widget' %}
    {% endunless %}
  {% endif %}

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
  </div>

  <style>
  #product-actions-{{ section_id }} {
    grid-area: 2/2/3/3;
    max-width: 400px;
    {% if isHideInfo %}
      top: -100px;
      position: relative;
    {% endif %}
  }

  #product-actions-{{ section_id }} .cta-title {
    padding: 10px 0;
  }

  #product-actions-{{ section_id }} .variants {
    display: flex;
    flex-direction: {% if isReversed %}column-reverse{% else %}column{% endif %};
  }

  #product-actions-{{ section_id }} .submit-wrap {
    display: flex;
  }

  #product-actions-{{ section_id }} .submit-wrap button {
    {% unless isBuyQuantity %}width: 100%;{% endunless %}
    {% if isBuyQuantity %}border-radius: 0 25px 25px 0;{% endif %}
    background-color: {{ ctaColor }};
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 320px;
    transition: width 0.3s ease;
  }

  #product-actions-{{ section_id }} .submit-wrap:hover {
    border-color: #ea9f1c;
  }

  #product-actions-{{ section_id }} .submit-wrap:hover button {
    background-color: #ea9f1c;
  }

  #product-actions-{{ section_id }} .submit-wrap button span.save {
    font-weight: 100;
    border-left: 1px solid white;
    padding-left: 20px;
  }

  #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
    border: 0;
    background: white;
  }

  @media screen and (max-width: 768px) {
    #product-actions-{{ section_id }} {
      grid-area: unset;
      grid-row: 3;
      max-width: unset;
      {% if isHideInfo %}
        top: unset;
      {% endif %}
    }

    #product-actions-{{ section_id }} .submit-wrap button span:first-child {
      font-size: 4vw;
    }

    #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
      border: 1px solid {{ ctaColor }};
    }

    #product-actions-{{ section_id }} .submit-wrap button {
      min-height: 15vw;
    }
  }
</style>

{% if isBuyQuantity %}
  <style>
    .qty {
      float: left;
      width: 100px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .qty_inc_dec .increment,
    .qty_inc_dec .decrement {
      float: left;
      text-align: center;
      width: 30px;
      cursor: pointer;
      font-size: 1.2em;
      line-height: 20px;
      height: 50%;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid #ccc;
    }

    .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    .qty_inc_dec {
      width: 10px;
      height: 100%;
      display: inline-block;
    }

    .qty input[type=text] {
      float: left;
      font-family: "Open Sans", sans-serif;
      outline: 0;
      font-size: 1.2em;
      text-align: center;
      width: 50px;
      height: 100%;
      color: #2a2a2a;
      line-height: 40px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 25px 0 0 25px;
    }

    /* Quantity Selector Transition */
    .qty {
      transition: width 0.3s ease;
    }

    .qty_expanded {
      width: 120px; /* Adjust the width as per your design */
    }

    .qty_inc_dec {
      transition: opacity 0.3s ease;
    }

    .qty_expanded .qty_inc_dec {
      opacity: 1;
    }
  </style>

  <script>
    function incrementQty() {
      var value = document.querySelector('input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value++;
      document.querySelector('input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }

    function decrementQty() {
      var value = document.querySelector('input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value > 1 ? value-- : value;
      document.querySelector('input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }
  </script>

  <script>
    $(".product-actions .variant-box").click(function() {
      if ($(this).find('input[name=pack]:checked').attr('data-sku') == "Curalin180") {
        $(".qty").addClass("qty_expanded");
        $(".submit-wrap button").css("width", "unset");
      }
      else {
        $(".qty").removeClass("qty_expanded");
        $(".submit-wrap button").css("width", "100%");
      }
    });
  </script>
{% endif %}

{% if product.metafields.custom.is_price_per_month %}
  <script>
    $(".product-actions .variant-box").click(function() {
      let variantTotalPrice = $(this).find('input[name=pack]:checked').data('price');
      console.log(variantTotalPrice);
      $('.total-price .total-price-amount').text(variantTotalPrice);
    });
  </script>
{% endif %}

<script>
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let defaultVariant = urlParams.get('default-variant');

    if (defaultVariant) {
      $("#product-actions-{{ section_id }} .variant-box").eq(defaultVariant - 1).trigger("click");
    }
    else {
      $("#product-actions-{{ section_id }} .variant-box").{% if product.variants.size == 1 or request.path contains 'prime' %}first(){% elsif defaultSelectionIndex %}eq({{ defaultSelectionIndex | minus: 1 }}){% else %}first(){% endif %}.trigger( "click" );
    }
  });

  // On Buy Button Click
  const buyButton = document.querySelector('#product-actions-{{ section_id }} #buy-button');
  buyButton.addEventListener('click', function() {
    try {
      let checkedVariantInput = document.querySelector('#product-actions-{{ section_id }} input[name=pack]:checked');

      let packValue = checkedVariantInput?.value;
      packValue = checkedVariantInput.getAttribute("data-ref-variant") || packValue;
      if (!packValue) throw new Error('No pack selected');

      // Handle alternative checkout link
      let checkoutLink = checkedVariantInput.getAttribute("data-checkout-link");
      if (checkoutLink) {
        window.location.href = checkoutLink;
        return;
      }

      let quantityValue = {% if isBuyQuantity %}document.querySelector('#product-actions-{{ section_id }} input[name=quantity]')?.value || 1{% else %}1{% endif %};
      window.location.href = `https://${location.hostname}/cart/${packValue}:${quantityValue}`;
    } catch (error) {
      console.error(error);
      alert("Something went wrong! Please contact our support team.");
    }
  });
</script>