{% if var.metafields.custom.original_item.value %}
  {% assign original_item = var.metafields.custom.original_item.value %}
{% else %}
  {% if var.product.variants.size == 1 %}
    {% assign isSingleDefaultVariant = true %}
    {% assign original_item = product %}
  {% else %}
    {% assign original_item = var %}
  {% endif %}
{% endif %}
{% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
{% assign original_item_cap = original_item.compare_at_price %}
{% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
{% assign original_item_price = original_item.price %}
{% assign item_price = var.price | divided_by: bottle_quantity %}
{% assign save_price = original_item_price | minus: item_price | times: quantity %}

<div id="variant-box-{{ SID }}" class="variant-box" name="variant-box-{{ var.sku }}-buyonce">
  <div class="left-side-wrapper">
    <div class="radio-box">
      {% assign discount = 0 %}
      <input type="radio" name="pack{{ SID }}" value="{{ var.id }}" {% if var.metafields.custom.checkout_link %}data-checkout-link="{{ var.metafields.custom.checkout_link }}"{% endif %} data-ref-variant="{{ var.metafields.custom.reference_variant_id }}" data-quantity="{{ var.metafields.my_fields.pack_bottles_quantity }}" data-price="{{ var.price | money }}" data-discount="{{ discount | replace: ".00", "" }}" data-title="{{ var.title }}" data-sku="{{ var.sku }}" data-save="{{ save_price }}" data-index="{{ index }}"></input>
    </div>

    <div class="variant-info">
      <p class="variant-title">
				{% if isSingleDefaultVariant %}{{ var.product.title }}{% else %}{{ var.title }}{% endif %}

				{% if request.path contains 'glu-curalin-2024' and var.metafields.custom.save_percents %}
					<span class="rounded-md absolute text-center text-[12px] px-2 py-1 font-bold ml-8" style="margin-left:2rem;background:#c20000;color:#FFE576"><span class="block font-normal text-white">Holiday Sale</span>Save {{ var.metafields.custom.save_percents }}%</span>
				{% elsif var.metafields.custom.save_dollars %}
					<span class="bg-primary rounded-xl text-white text-[12px] px-2 pyhmm -1 font-bold ml-8">Save {{ var.metafields.custom.save_dollars | times: 100 | money_without_trailing_zeros }}</span>
				{% endif %}
			</p>

      {% if var.metafields.my_fields.subtitle %}
        <div class="subtitle">{{ var.metafields.my_fields.subtitle }}</div>
      {% endif %}
    </div>
  </div>

  {% if product.metafields.custom.is_price_per_month %}
    <div class="price">
      <div class="calculations gap-1">
        {% if original_item_cap_total > var.price %}
          <p class="compared-at-price text-gray-400"><strike class="no-letters rounded">{{ original_item_cap_total | divided_by: bottle_quantity | money }}</strike></p>
        {% endif %}

        <p class="real-price no-letters rounded">{{ item_price | money }}</p>
      </div>

      {% if product.metafields.custom.is_price_per_month %}
        <p class="per-month">Per Month</p>
      {% endif %}
    </div>
  {% else %}
    <div class="price">
      {% if original_item_cap_total > var.price %}
        <p class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total | money }}</strike></p>
      {% endif %}
      <p class="real-price no-letters rounded">{{ var.price | money }}</p>
    </div>
  {% endif %}
</div>