{% assign subscriptionPrice = 75 %}

{% comment %} Short Section ID for JS Variables {% endcomment %}
{% assign sectionIDParts = section.id | split: '-' %}
{% assign shortSectionID = sectionIDParts[-1] %}

{% assign variantQuantity = product.variants | size %}
{% assign tooltipTitle = "Curalin's Subscription Is Simple." %}
{% if product.handle == 'curalin' %}
  {% assign tooltipDescription = "Receive your first Curalin a few days after ordering. Then you'll receive a new Curalin bottle every 1 month after that initial order." %}
{% else %}
  {% assign tooltipDescription = "Receive your first Curalin a few days after ordering. Then you'll receive the order of Curalin bottles pack every X month after that initial order." %}
{% endif %}
{% assign tooltipFeatures = product.metafields.susbscription.subtitle | append: "|Free US shipping on all orders.|Subscriber-only gifts and product drops.|Cancel anytime." | split: "|" %}

<div id="product-actions-{{ section.id }}" class="product-actions">
  <div class="top-wrapper subscription-element flex items-center justify-between" {% if shop.name == "CuraLife Global" %}{% if product.title == "Curalin 3 Pack" or product.title == "Curalin 6 Pack" %}style="display: none"{% endif %}{% endif %}>
    {% if variantQuantity > 1 or product.tags contains 'subscription' %}<div class="cta-title font-bold">{{ title }}</div>{% endif %}
  {% if shop.name == "Curalife" %}{% render 'tooltip', section.id: section.id, title: tooltipTitle, description: tooltipDescription, features: tooltipFeatures %}{% endif %}
  </div>

  <div class="purchase-options flex flex-col">
    <div class="purchase-option-box buy-once {% if shop.name == "CuraLife Global" %}!hidden{% endif %}">
      <div class="left-side-wrapper">
        <div class="radio-box">
          <input type="radio" id="buyonce" name="pack-subscription" data-variant="{{ product.variants.first.id }}" data-price="{{ product.variants.first.price | money_without_currency | replace: ".00", "" }}" data-sku="{{ product.variants.first.sku }}"></input>
          <label for="buyonce"></label>
        </div>

        <div class="option-info leading-none">
        <div class="option-title font-semibold">{% if variantQuantity > 1 %}Buy once{% else %}{% if product.variants.first.title == blank or product.variants.first.title == 'Default Title' %}{{ product.title }}{% else %}{{ product.variants.first.title }}{% endif %}{% endif %}</div>
          <div class="option-subtitle text-[14px] subscription-element {% if product.handle == "curalin-3-pack" or product.handle == "curalin-6-pack" %}bg-[--blue] text-white rounded-xl w-max px-2 py-[2px]{% endif %}">{% if product.handle == "curalin-3-pack" or product.handle == "curalin-6-pack" %}{{ product.variants[0].metafields.my_fields.subtitle }}{% else %}One time delivery{% endif %}</div>
        </div>
      </div>

      {% if variantQuantity == 1 %}
        <div class="price">
          <div class="calculations">
            <div class="compared-at-price rounded line-through text-[12px]">{{ product.variants.first.compare_at_price | money_without_trailing_zeros }}</div>
            <div class="real-price no-letters rounded">{{ product.variants.first.price | money_without_trailing_zeros }}</div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if variantQuantity > 1 %}
      <div class="variants">
        {% for var in product.variants %}
          {% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
          {% assign item_price = var.price | divided_by: bottle_quantity %}
          {% assign save_price = original_item_price | minus: item_price | times: quantity %}

          <div class="pack-option {% if forloop.index == 1 %}selected{% endif %}" data-value="{{ var.id }}" data-quantity="{{ var.metafields.my_fields.pack_bottles_quantity }}" data-price="{{ var.price | money_without_currency | replace: ".00", "" }}" data-title="{{ var.title }}" data-sku="{{ var.sku }}" data-save="{{ save_price }}" data-index="{{ forloop.index }}">
            <div class="thumbnail relative">
              <img src="{{ var.product.metafields.custom.bottle_image | image_url }}" alt="{{ var.title }}">
              {% if bottle_quantity > 1 %}<div class="variant-bottle-quantity">X{{ bottle_quantity }}</div>{% endif %}
              {% if var.metafields.my_fields.subtitle %}<div class="variant-subtitle">{{ var.metafields.my_fields.subtitle }}</div>{% endif %}
            </div>
            <div class="variant-info py-2">
              <div class="variant-price-wrapper flex items-center justify-center gap-1">
                {% if var.compare_at_price > 0 and var.compare_at_price > var.price %}<div class="variant-cap text-[12px] rounded line-through">{{ var.compare_at_price | money_without_trailing_zeros }}</div>{% endif %}
                <div class="variant-price font-bold">{{ var.price | money_without_trailing_zeros }}</div>
              </div>
              <div class="variant-title text-[14px] md:text-[3.5vw]">{{ var.title }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if shop.name == "Curalife" %}
      <div class="purchase-option-box subscription-element">
        <div class="left-side-wrapper">
          <div class="radio-box">
            <input type="radio" id="subscribe" name="pack-subscription" data-price="{{ all_products['curalin'].variants.first.price | money_without_currency | replace: ".00", "" }}" data-sku="Curalin180"></input>
            <label for="subscribe"></label>
          </div>

          <div class="option-info leading-none">
            <div class="option-title flex items-center font-semibold">Subscribe & <span>Save {{ product.metafields.subscription.visible_discount_percentage }}%</span></div>
            {% if product.metafields.susbscription.subtitle %}
              <div class="option-subtitle text-[14px]">{{ product.metafields.susbscription.subtitle }}</div>
            {% endif %}
          </div>
        </div>

        <div class="price">
          <div class="calculations">
          {% if product.variants[0].compare_at_price > 0 and product.variants[0].compare_at_price > product.variants[0].price %}<div class="variant-cap text-[12px] rounded line-through">{{ product.variants[0].compare_at_price | money_without_trailing_zeros }}</div>{% endif %}
            <div class="real-price no-letters">
              {% if product.selling_plan_groups[0].selling_plans[0].price_adjustments[0].value_type == "percentage" %}
                {% if product.metafields.custom.subscription_original_price.value %}
                  {{ product.metafields.custom.subscription_original_price.value | money_without_trailing_zeros }}
                {% else %}
                  {% assign totalPaymentPercent = 100 | minus: product.selling_plan_groups[0].selling_plans[0].price_adjustments[0].value %}
                  {% assign finalPrice = product.price | divided_by: 100 | times: totalPaymentPercent %}
                  {{ finalPrice | money_without_trailing_zeros }}
                {% endif %}
              {% else %}
                {{ subscriptionPrice | times: 100 | money_without_trailing_zeros }}
              {% endif %}
            </div>
          </div>
            {% if product.handle == 'curalin' %}<p class="per-month">Per Month</p>{% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="submit-wrap flex flex-col">
    <button class="main-btn p-0 bg-[#ffb22d]" id="buy-button" onclick="buyButtonHandler()" style="min-height:50px">
      <span id="button-text">SHOP NOW</span>
      <div id="loader" style="display: none;">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>
    </button>
  </div>
</div>

{% render 'script.round-converted-currency' %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var subscriptionOption = document.querySelector('#product-actions-{{ section.id }} .subscription-element .radio-box input[type=radio]');
    var oneTimeOption = document.querySelector('#product-actions-{{ section.id }} .buy-once .radio-box input[type=radio]');

    {% if variantQuantity > 1 %}
      var variants = document.querySelector('#product-actions-{{ section.id }} .variants');

      variants.style.transition = 'max-height 0.15s ease-out, opacity 0.3s ease-in-out';
      variants.style.overflow = 'hidden';
      variants.style.maxHeight = '0';
      variants.style.opacity = '0';

      var checkOption = function() {
        if (oneTimeOption.checked) {
          variants.style.maxHeight = 'none';
          var scrollHeight = variants.scrollHeight;
          // Ensure the maxHeight is at least 200px
          scrollHeight = Math.max(scrollHeight, 200);
          variants.style.maxHeight = scrollHeight + 'px';
          setTimeout(() => { variants.style.opacity = '1'; }, 150);
        } else if (subscriptionOption.checked) {
          variants.style.opacity = '0';
          setTimeout(() => { variants.style.maxHeight = '0'; }, 300);
        }
      };
    {% endif %}

    $("#product-actions-{{ section.id }} .purchase-option-box").click(function() {
      $("#product-actions-{{ section.id }} .pack-option").removeClass("selected");
      $("#product-actions-{{ section.id }} .purchase-option-box input[type='radio']").prop('checked', false);
      let radioButton = $(this).find('input');
      radioButton.prop('checked', true);
      {% if variantQuantity > 1 %} checkOption(); {% endif %}

      if ($(this).hasClass('buy-once')) {
        $("#product-actions-{{ section.id }} .pack-option").first().trigger('click');
      }
    });

    $(".purchase-option-box.buy-once").first().trigger('click');
    window.option_clicked_once = true;
  });
</script>

  <script>
    function updateSelectedVariantInformation(infoAttributeName, targetElementToUpdate) {
      let varIndex = $('#product-actions-{{ section.id }} .pack-option.selected').first().attr(infoAttributeName);

      $(targetElementToUpdate).fadeOut(300, function () {
        varIndex > 1 ? $(targetElementToUpdate).text("X" + varIndex) : $(targetElementToUpdate).text("");
      }).fadeIn(300);
    }

    $("#product-actions-{{ section.id }} .pack-option").click(function() {
      $("#product-actions-{{ section.id }} .pack-option").removeClass("selected");
      $(this).addClass("selected");

      // Slide to Variant Image
      {% if product.variants.size > 1 and product.images.size > 1 %}
      if (window.option_clicked_once) {
        let slideIndex = window.productSliderAllInOne{{ shortSectionID }}.slides.length - ({{ product.variants.size | plus: 1 }} - $(this).attr('data-index'));
        window.productSliderAllInOne{{ shortSectionID }}.slideTo(slideIndex);
      }
      {% endif %}

      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'variant-click',
        'label': $(this).attr('data-sku'),
        'userId': '{{ customer.id }}',
        'email': '{{ customer.email }}',
        'country': '{{customer.customer_address.country_code }}',
        'city': '{{customer.customer_address.city }}',
        'name': '{{ customer.first_name }}',
        'surname': '{{ customer.last_name }}',
        'phone_number': '{{customer.phone }}',
        'state': '{{customer.customer_address.province }}',       //state or province
        'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
      });

      // Track in Woopra
      woopra.track('Product_Variant_Select', {
        sku: $(this).attr("data-sku"),
        variant_id: $(this).attr("value"),
        variant_title: $(this).attr("data-title"),
        price: $(this).attr("data-price")
      })
    });
  </script>

<script>
  function clearCart(callback) {
    jQuery.ajax({
      type: 'POST',
      url: '/cart/clear.js',
      success: function() {
        console.log('Cart cleared');
        callback();
      },
      error: function() {
        console.log('Failed to clear cart');
      }
    });
  }

  function buySubscription(variant_id, qty, selling_plan) {
    clearCart(function() {
      data = {
        "id": variant_id,
        "quantity": qty,
        "selling_plan": selling_plan
      }

      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() {
          console.log('success');
          window.location.href = '/checkout';
        },
        error: function() {
          console.log('Failed to add item to cart');
        }
      });
    });
  }

  // On Buy Button Click
  function buyButtonHandler() {
    console.log("Buy Button Pushed!");
    document.querySelector('#product-actions-{{ section.id }} #loader').style.display = 'block';
    document.querySelector('#product-actions-{{ section.id }} #button-text').style.display = 'none';

    if ($('#product-actions-{{ section.id }} .purchase-option-box.subscription-element').find('input:checked').length === 0) {
      {% if variantQuantity > 1 %}
        let checkedPack = $('#product-actions-{{ section.id }} .pack-option.selected').first().attr('data-value');
        console.log("Selected Variant ID: " + checkedPack);
      {% else %}
        let checkedPack = {{ product.variants.first.id }};
        console.log("Selected Variant ID else: " + checkedPack);
      {% endif %}

      let checkedQuantity = 1;
      let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
      console.log("Checkout Link: " + checkoutLink);
      window.location.href = checkoutLink;
    }
    else {
      // buySubscription(ID Of the variant, 1, External ID of the selling plan);
      // buySubscription({{ product.variants.first.id }}, 1, {{ product.selling_plan_groups[0].selling_plans[0].id }})
      buySubscription({{ product.metafields.custom.subscription_product_id }}, 1, {{ product.metafields.custom.subscription_selling_plan_id }})
    }
  };
</script>

<style>
  #cta-section-{{ section.id }} .radio-box input[type='radio'] {
    display: none;
  }

  #cta-section-{{ section.id }} .radio-box label {
    cursor: pointer;
    width: 19px;
    height: 19px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    position: relative;
  }

  #cta-section-{{ section.id }} .radio-box input[type='radio']:checked + label:after {
    content: '\2713';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    text-align: center;
    line-height: 22px;
    color: #fff;
  }
</style>


<style>
  #cta-section-{{ section.id }} .product-actions {
    grid-area: 2/2/3/3;
    max-width: 400px;
    min-height: 415px;
  }

  #cta-section-{{ section.id }} .product-actions .cta-title {
    padding: 10px 0;
  }

  #cta-section-{{ section.id }} .product-actions .variants {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #cta-section-{{ section.id }} .product-actions .submit-wrap {
    display: flex;
  }

  #cta-section-{{ section.id }} .product-actions .submit-wrap button {
    background-color: {{ ctaColor }};
  }

  #cta-section-{{ section.id }} .purchase-option-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
    transition: all .5s;
    position: relative;
    border-radius: 10px;
    border-color: var(--blue);
  }

  #cta-section-{{ section.id }} .purchase-option-box:hover {
    border-color: var(--blue);
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));
  }

  #cta-section-{{ section.id }} .purchase-option-box:hover>.radio-box input[type=radio]:after {
    background-color: #a9a9a9;
  }

  #cta-section-{{ section.id }} .purchase-option-box .left-side-wrapper {
    display: flex;
  }

  #cta-section-{{ section.id }} .purchase-option-box .radio-box {
    align-items: center;
    display: flex;
    padding: 20px;
  }

  #cta-section-{{ section.id }} .purchase-option-box .option-info {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  #cta-section-{{ section.id }} .purchase-option-box .option-info .option-title span {
    background: var(--blue);
    color: white;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 15px;
    margin-left: 5px;
    font-weight: normal;
    line-height: 1.2;
  }

  #cta-section-{{ section.id }} .purchase-option-box .option-info .option-infos p {
    font-weight: 200;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    {% if isHighlightSubtitle %}
      color: white;
      border-radius: 15px;
      padding: 2px 10px;
      background: var(--blue);
    {% endif %}
  }

  #cta-section-{{ section.id }} .purchase-option-box .option-info .option-infos p b {
    font-weight: 700;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price {
    display: flex;
    min-width: 70px;
    margin-right: 10px;
    flex-direction: column;
    align-items: end;
    gap: unset;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price p {
    margin: unset;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price .calculations {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    line-height: 1;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price .calculations p::after {
    content: "00";
    font-size: 0.6rem;
    vertical-align: super;
    margin-right: 5px;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price .calculations p.compared-at-price::after {
    font-size: 0.3rem;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price .per-month {
    color: var(--grey);
    font-size: 16px;
  }

  #cta-section-{{ section.id }} .purchase-option-box .price .real-price {
    font-size: 20px;
  }

  @media screen and (max-width: 1270px) {
    #cta-section-{{ section.id }} .purchase-option-box {
      width: 100%
    }

    #cta-section-{{ section.id }} .purchase-option-box .option-info {
      padding: 10px 0;
      width: 95%;
    }
  }

  @media screen and (max-width: 768px) {
    #cta-section-{{ section.id }} .purchase-option-box .option-info .option-title {
      font-size: 4vw;
    }

    #cta-section-{{ section.id }} .purchase-option-box .option-info .option-infos p {
      font-size: 3vw;
    }

    #cta-section-{{ section.id }} .purchase-option-box .radio-box {
      padding: 3vw;
    }

    #cta-section-{{ section.id }} .product-actions {
      grid-area: unset;
      grid-row: 3;
      max-width: unset;
      min-height: unset;
    }

    #cta-section-{{ section.id }} .product-actions .submit-wrap button {
      font-size: 4vw;
    }

    #cta-section-{{ section.id }} .product-actions .submit-wrap button {
      min-height: 15vw;
    }
  }
</style>

<style>
  #cta-section-{{ section.id }} .product-actions .variants .pack-option .thumbnail img {
    border: 1px solid var(--blue);
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
  }

  #cta-section-{{ section.id }} .product-actions .variants .pack-option.selected .thumbnail img {
    background: var(--beige);
  }

  #cta-section-{{ section.id }} .product-actions .pack-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta-section-{{ section.id }} .variant-bottle-quantity {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background: var(--blue);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  #cta-section-{{ section.id }} .variant-subtitle {
    background: var(--blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    padding: 3px 0;
  }
</style>

<style>
  #cta-section-{{ section.id }} .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    top:-10px;
  }
  #cta-section-{{ section.id }} .lds-ellipsis div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  #cta-section-{{ section.id }} .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  #cta-section-{{ section.id }} .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #cta-section-{{ section.id }} .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #cta-section-{{ section.id }} .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
</style>