<div id="product-actions-{{ section_id }}" class="product-actions">
  {% if customer.b2b? and customer.company_available_locations.current? == false %}
    <div class="not-approved-warning">You are not approved yet for wholesale prices, please wait or reach our wholesale manager <a href="mailto:remy@curalife.com?subject=Please Approve My Wholesale User">here</a></div>
  {% endif %}

  {% assign variantQuantity = product.variants | size %}
  {% if variantQuantity > 1 %}
    <div class="cta-title">{{ title }}</div>
  {% endif %}

  <div class="variants">
    {% for var in product.variants %}
      {% if forloop.last %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer, isLastRender: true %}
      {% else %}
        {% render 'product-cta-section-actions-variant-box', section_id: section_id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="submit-wrap flex flex-col">
    {% render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section.id, quantity_selector: true %}
  </div>

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
</div>

{% unless product.handle == "curalin-90-capsules-pack" %}
  {% render 'script.round-converted-currency' %}
{% endunless %}

<style>
  #product-actions-{{ section_id }} {
    grid-area: 2/2/3/3;
    max-width: 400px;
  }

  #product-actions-{{ section_id }} .cta-title {
    padding: 10px 0;
  }

  #product-actions-{{ section_id }} .variants {
    display: flex;
    flex-direction: {% if isReversed %}column-reverse{% else %}column{% endif %};
  }

  #product-actions-{{ section_id }} .submit-wrap {
    display: flex;
  }

  #product-actions-{{ section_id }} .submit-wrap button {
    background-color: {{ ctaColor }};
    {% unless isBuyQuantity %}width: 100%;{% endunless %}
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 320px;
    transition: width 0.3s ease;
    border-radius: 0px 10px 10px 0;
  }

  #product-actions-{{ section_id }} .submit-wrap button span.save {
    font-weight: 100;
    border-left: 1px solid white;
    padding-left: 20px;
  }

  #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
    border: 0;
    background: white;
  }

  @media screen and (max-width: 768px) {
    #product-actions-{{ section_id }} {
      grid-area: unset;
      grid-row: 3;
      max-width: unset
    }

    #product-actions-{{ section_id }} .submit-wrap .qty-data .qty-control {
      border: 1px solid {{ ctaColor }};
    }

    #product-actions-{{ section_id }} .submit-wrap button {
      min-width: 70vw;
    }
  }
</style>


{% if isBuyQuantity %}
  <style>
    .qty {
      float: left;
      width: 100px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .qty_inc_dec .increment,
    .qty_inc_dec .decrement {
      cursor: pointer;
      font-size: 1.2em;
      height: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    .qty_inc_dec {
      width: 30px;
      height: 100%;
      display: inline-block;
    }

    .qty input[type=text] {
      float: left;
      font-family: "Open Sans", sans-serif;
      outline: 0;
      font-size: 1.2em;
      text-align: center;
      width: 50px;
      height: 100%;
      color: #2a2a2a;
      line-height: 40px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }

    /* Quantity Selector Transition */
.qty {
  transition: width 0.3s ease;
  width: -webkit-fill-available;
}

.qty_inc_dec {
  transition: opacity 0.3s ease;
}
  </style>

  <script>
    function incrementQty() {
      var value = document.querySelector('input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value++;
      document.querySelector('input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }

    function decrementQty() {
      var value = document.querySelector('input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value > 1 ? value-- : value;
      document.querySelector('input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }
  </script>
{% endif %}
<script>
  $("#product-actions-{{ section_id }} .variant-box").click(function() {
    $("#product-actions-{{ section_id }} input[name=id]").val($(this).find('input[name=pack]:checked').val());
  });
</script>

<script>
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let defaultVariant = urlParams.get('default-variant');

    if (defaultVariant) {
      $("#product-actions-{{ section_id }} .variant-box").eq(defaultVariant - 1).trigger("click");
    }
    else {
      $("#product-actions-{{ section_id }} .variant-box").{% if product.variants.size == 1 or request.path contains 'prime' %}first(){% elsif defaultSelectionIndex %}eq({{ defaultSelectionIndex | minus: 1 }}){% else %}first(){% endif %}.trigger( "click" );
    }
  });

  {% comment %}
  // On Buy Button Click
  $(document).on("click", "#ProductSubmitButton-{{ section_id }}", function () {
    console.log("Buy Button Pushed!")
    let checkedPack = $('#product-actions-{{ section_id }} input[name=pack]:checked').val();
    let checkedQuantity = {% if isBuyQuantity %}$('#product-actions-{{ section_id }} input[name=quantity]').val(){% else %}1{% endif %};
    let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
    window.location.href = checkoutLink;
  });
  {% endcomment %}
</script>