{% comment %} Short Section ID for JS Variables {% endcomment %}
{% assign sectionIDParts = section.id | split: '-' %}
{% assign shortSectionID = sectionIDParts[-1] %}

{% assign variantQuantity = product.variants | size %}

<div id="product-actions-{{ section.id }}" class="product-actions">
  <div class="purchase-options md:p-2 flex flex-col gap-2">
    {% for var in product.variants %}
      {% assign variant_id = var.metafields.custom.reference_variant_id | default: var.id %}
      {% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
      {% assign original_item_cap = var.metafields.custom.original_item.value.compare_at_price | default: var.metafields.custom.original_item.value.price %}
      {% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
      {% assign original_item_price = var.metafields.custom.original_item.value.price %}
      {% assign item_price = var.price | divided_by: bottle_quantity %}
      {% assign subscription_save_percents = var.metafields.subscription.save_percents %}
      {% assign subscription_item_price_save = original_item_cap | times: subscription_save_percents | divided_by: 100 %}
      {% assign subscription_item_price = original_item_cap | minus: subscription_item_price_save %}
      {% assign subscription_total_price = subscription_item_price | times: bottle_quantity %}

      <script>console.log("subscription_save_percents: {{ subscription_save_percents }}")</script>
      <script>console.log("subscription_item_price_save: {{ subscription_item_price_save }}")</script>
      <script>console.log("subscription_item_price: {{ subscription_item_price }}")</script>

      <div class="purchase-option-box flex flex-col items-start p-4 overflow-hidden {% if forloop.first %}selected{% endif %}" data-variant="{{ variant_id }}" data-subscription-selling-plan-id="{{ var.metafields.subscription.selling_plan_id }}" data-price="{{ var.price | money_without_currency | replace: ".00", "" }}" data-sku="{{ var.sku }}" data-index="{{ forloop.index }}" data-item-price="{{ item_price }}" data-subscription-item-price="{{ subscription_item_price }}" data-original-item-cap="{{ original_item_cap }}">
        <div class="top-wrapper md:gap-2 flex items-center w-full gap-4 pb-4">
          <div class="radio-box"><input type="radio"></input><label for="buyonce"></label></div>

          <div class="option-title font-semibold text-[--blue]">{{ var.title }}{% if var.metafields.subscription.save_percents > 0 %} - Save up to {{ var.metafields.subscription.save_percents }}%{% endif %}</div>
        </div>

        {% if var.metafields.subscription.selling_plan_id != blank %}
          <div class="purchase-type flex-nowrap flex w-full gap-2">
            <button class="subscription selected">Subscribe & Save</button>
            <button class="buy-once">Buy Once</button>
          </div>
        {% endif %}

        <div class="subscription-info bg-light-blue text-[--blue] p-2 flex justify-center gap-2 mt-4">
          <i class="fa-thin fa-badge-percent text-[50px]"></i>
          <div class="info text-[13px]">Save {{ var.metafields.subscription.save_percents }}% every order, guaranteed delivery, make changes any time, prompt VIP support & new subscriber gifts</div>
        </div>

        {% if var.metafields.subscription.selling_plan_id != blank %}
          <div class="option-subtitles w-full my-2">
            <div class="option-subtitle subscription text-[14px]">{{ var.title }} <span class="save-title text-[--blue]">Save {{ var.metafields.subscription.save_percents }}%</span></div>
            <div class="option-subtitle buy-once text-[14px] hidden">{{ var.title }} {% if var.compare_at_price > var.price %}<span class="save-title text-[--blue] font-bold">Save {{ var.metafields.custom.save_percents }}%</span> or {% endif %}<br><span class="save-title text-[--blue] font-bold">Subscribe & Save MORE</span></div>
          </div>
        {% endif %}

        <div class="price-wrapper">
          <div class="calculations flex items-center gap-2 font-bold leading-10">
            <div class="real-price no-letters text-[40px] subscription"><span class="floor rounded">{{ subscription_item_price | money_without_trailing_zeros }}</span></div>
            <div class="real-price no-letters text-[40px] buy-once hidden"><span class="floor rounded">{{ item_price | money_without_trailing_zeros }}</span></div>
            <div class="compared-at-price rounded line-through text-[30px] font-normal text-[#baced5]">{{ original_item_cap | money_without_trailing_zeros }}</div>
          </div>

          <div class="per-month font-bold">Per Month</div>
        </div>

        {% assign giftBundlesProductHandles = "joint-care,restful-sleep,magnesium-glycinate,immune-care" | split: ',' %}
        {% if var.metafields.gifts.amount %}
        <div class="gifts">
            {% for i in (1..var.metafields.gifts.amount) %}
              <div class="first:mt-2">Choose a gift:</div>
              <div class="gift-products flex gap-2">
                {% for prodHandle in giftBundlesProductHandles %}
                  {% assign prod = all_products[prodHandle] %}
                  <div class="gift-product flex flex-col items-center w-[80px]" data-product-id="{{ prod.id }}">
                    <img class="active:bg-light-blue border border-[--blue] rounded-md m-0" src="{{ prod.metafields.custom.bottle_image | image_url }}" alt="{{ prod.title }}">
                    <p class="text-xs text-center">{{ prod.title }}</p>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="submit-wrap flex flex-col w-full mt-4">
          <button class="main-btn p-0 bg-orange hover:bg-[--dark-orange] min-h-[50px]" id="buy-button">
            <div class="button-text flex justify-center md:text-[5vw]">
              <span class="w-1/2 {% if product.handle contains 'curalin' %}border-r-2 border-white{% endif %}">SHOP NOW</span>
              {% if product.handle contains 'curalin' %}
                <span class="total-price subscription w-1/2">Total <span class="floor rounded">{{ subscription_total_price | money_without_trailing_zeros }}</span></span>
                <span class="total-price buy-once hidden w-1/2">Total <span class="floor rounded">{{ var.price | money_without_trailing_zeros }}</span></span>
              {% endif %}
            </div>

            <div class="loader" style="display: none;">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </button>
        </div>

        {% if customer %}
          {% render 'yotpo-product-points-widget' %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if product.handle contains 'curalin' or product.tags contains 'supplement' %}
    {% unless product.handle == 'curalin' %}
      <div class="notice w-fit m-auto mt-4 p-4 bg-light-blue text-[15px] text-[--blue] text-center md:mx-7">Please note! Curalin order may arrive in our original or new bottle. Our trusted formula is unchanged.</div>
    {% endunless %}
  {% endif %}
</div>


{% render 'script.round-converted-currency' %}

<style>
  .gift-product.selected img {
    background-color: var(--light-blue);
    border-width: 2px;
  }
</style>

<script>
  $(document).ready(function() {
    const productActions = $("#product-actions-{{ section.id }}");
    const purchaseOptionBoxes = productActions.find('.purchase-option-box');

    handleGiftSelection();
    initializePurchaseOptions();
    setupMutationObserver();
    attachEventHandlers();

    function initializePurchaseOptions() {
      purchaseOptionBoxes.each(function(index) {
        const box = $(this);
        togglePurchaseType(box, box.find('.purchase-type .subscription').hasClass('selected'));
        box.css('max-height', index === 0 ? this.scrollHeight + 'px' : '54px')
          .find("input[type='radio']").prop('checked', index === 0);
      });
    }

    function handleGiftSelection() {
      const productActions = $("#product-actions-{{ section.id }}");
      productActions.on('click', '.gift-product', function() {
        const giftsElement = $(this).closest('.gifts');
        const currentlySelectedGifts = giftsElement.find('.gift-product.selected');

        $(this).siblings('.selected').removeClass('selected');
        $(this).addClass('selected');

        let selectableGiftsProductIDs = giftsElement.find('.gift-product.selected').map(function() {
          return $(this).attr('data-product-id');
        }).get();

        const singleSelectionMapping = {
          "7896199463063": "43680761839767",
          "7896197660823": "43680760594583",
          "8009619243159": "43680762593431",
          "7911564345495": "43680762429591"
        };

        const handleTwoSelections = (ids) => {
          const combinations = {
            "7896199463063_7896197660823": "43680615202967",
            "7896199463063_8009619243159": "43680725139607",
            "7896199463063_7911564345495": "43680725401751",
            "7896197660823_8009619243159": "43680726319255",
            "7896197660823_7911564345495": "43680726024343",
            "8009619243159_7911564345495": "43680726450327",
            "7896199463063_7896199463063": "43680761872535",
            "7896197660823_7896197660823": "43680760627351",
            "7911564345495_7911564345495": "43680762626199",
            "8009619243159_8009619243159": "43680762462359"
          };

          ids.sort();
          return combinations[ids.join('_')];
        };

        if (selectableGiftsProductIDs.length === 1) {
          const bundleProductID = singleSelectionMapping[selectableGiftsProductIDs[0]];
          if (bundleProductID) {
            giftsElement.attr('data-bundle-product-id', bundleProductID);
          }
        } else if (selectableGiftsProductIDs.length === 2) {
          const bundleProductID = handleTwoSelections(selectableGiftsProductIDs);
          if (bundleProductID) {
            giftsElement.attr('data-bundle-product-id', bundleProductID);
          }
        }
      });
    }

    function setupMutationObserver() {
      const observer = new MutationObserver(mutations => {
        mutations.forEach(({ target }) => {
          const targetBox = $(target).closest('.purchase-option-box');
          if (targetBox.hasClass('selected')) adjustMaxHeight(targetBox);
        });
      });

      purchaseOptionBoxes.each((_, element) => observer.observe(element, { attributes: true, childList: true, subtree: true }));
    }

    function attachEventHandlers() {
      productActions.on('click', '.purchase-option-box', event => togglePurchaseBox($(event.currentTarget)))
                    .on('click', '.purchase-type button', event => handlePurchaseTypeClick(event, $(event.currentTarget)))
                    .on('click', '.main-btn', event => handleMainButtonClick(event, $(event.currentTarget)));
    }

    function handlePurchaseTypeClick(event, button) {
      event.stopPropagation();
      togglePurchaseType(button.closest('.purchase-option-box'), button.hasClass('subscription'));
    }

    function handleMainButtonClick(event, button) {
      event.stopPropagation();
      const parentBox = button.closest('.purchase-option-box');
      buyButtonHandler(parentBox.data('variant'), parentBox.data('subscription-selling-plan-id'), button);
    }

    function adjustMaxHeight(element) {
      var openHeight = $(element).get(0).scrollHeight;
      $(element).css('max-height', openHeight + 'px');
    }

    function updateComparedAtPriceDisplay(parentBox) {
      let isSubscriptionSelected = parentBox.find('.purchase-type .subscription').hasClass('selected');

      let itemPrice = parseFloat(parentBox.data('item-price'));
      let subscriptionItemPrice = parseFloat(parentBox.data('subscription-item-price'));
      let originalItemCap = parseFloat(parentBox.data('original-item-cap'));

      let currentPrice = isSubscriptionSelected ? subscriptionItemPrice : itemPrice;

      let comparedAtPriceElement = parentBox.find('.compared-at-price');
      if (originalItemCap > currentPrice) {
        comparedAtPriceElement.fadeIn();
      } else {
        comparedAtPriceElement.fadeOut();
      }
    }

    function togglePurchaseBox(element) {
        var wasSelected = $(element).hasClass('selected');

        // Prevent collapsing the currently opened box
        if (wasSelected) {
            return;
        }

        // Collapse any currently expanded box
        $('.purchase-option-box.selected').removeClass('selected').each(function() {
            $(this).css('max-height', '54px');
            $(this).find('.toggle-icon').hide(); // Hide the 'v' icon for collapsed boxes
        });

        // Expand the clicked box
        $(element).addClass('selected');
        adjustMaxHeight(element);
        $(element).find("input[type='radio']").prop('checked', true);
        $(element).find('.toggle-icon').show(); // Show the 'v' icon in the expanded box

        {% if product.variants.size > 1 and product.images.size > 1 %}
        updateVariantImage(element);
        {% endif %}
    }

    function togglePurchaseType(parentBox, isSubscriptionSelected) {
      parentBox.find('.purchase-type button').removeClass('selected');
      parentBox.find(isSubscriptionSelected ? '.subscription' : '.buy-once').addClass('selected');
      togglePriceDisplay(parentBox, isSubscriptionSelected);

      var optionSubtitleToHide = isSubscriptionSelected ? '.option-subtitle.buy-once' : '.option-subtitle.subscription';
      var optionSubtitleToShow = isSubscriptionSelected ? '.option-subtitle.subscription' : '.option-subtitle.buy-once';

      parentBox.find(optionSubtitleToHide).fadeOut('fast', function() {
        parentBox.find(optionSubtitleToShow).fadeIn('fast');
      });

      // Toggle subscription info
      if (isSubscriptionSelected) {
        parentBox.find('.subscription-info').slideDown('fast');
        {% unless pricePer == 'month' %}parentBox.find('.per-month').show();{% endunless %} // Show the "per month" title when subscription is selected
      } else {
        parentBox.find('.subscription-info').slideUp('fast');
        {% unless pricePer == 'month' %}parentBox.find('.per-month').hide();{% endunless %} // Hide the "per month" title when subscription is not selected
      }

      // Yotpo Widget Points Amount Change
      parentBox.find('.reward-points-widget .current-price').html(
        isSubscriptionSelected
        ? Math.floor(Number(parentBox.data('subscription-item-price')) / 100)
        : Math.floor(Number(parentBox.data('item-price')) / 100)
      );

      adjustMaxHeight(parentBox);
      updateComparedAtPriceDisplay(parentBox);
    }

    function togglePriceDisplay(parentBox, isSubscriptionSelected) {
      var pricesToHide = isSubscriptionSelected ? '.real-price.buy-once, .total-price.buy-once' : '.real-price.subscription, .total-price.subscription';
      var pricesToShow = isSubscriptionSelected ? '.real-price.subscription, .total-price.subscription' : '.real-price.buy-once, .total-price.buy-once';

      parentBox.find(pricesToHide).fadeOut('fast', function() {
        parentBox.find(pricesToShow).fadeIn('fast').css("display","inline-block");
      });
    }

    function updateSelection(element) {
      let container = $("#product-actions-{{ section.id }}");
      container.find(".purchase-option-box").removeClass("selected");
      container.find(".purchase-option-box input[type='radio']").prop('checked', false);
      $(element).addClass("selected").find('input').prop('checked', true);
    }

    function updateVariantImage(element) {
      let slideIndex = calculateSlideIndex(element);
      window.productSliderAllInOne{{ shortSectionID }}.slideTo(slideIndex);
    }

    function calculateSlideIndex(element) {
      return window.productSliderAllInOne{{ shortSectionID }}.slides.length - ({{ product.variants.size | plus: 1 }} - $(element).attr('data-index'));
    }

    function buyButtonHandler(variant_id, subscription_selling_plan_id, buttonElement) {
      toggleButtonLoading(buttonElement, true);
      if (isSubscriptionSelected()) {
        buySubscription(variant_id, 1, subscription_selling_plan_id);
      } else {
        let giftProductID = buttonElement.parent().siblings('.gifts').attr('data-bundle-product-id');
        if (giftProductID){
          redirectToCheckout(giftProductID);
        }
        else {
          redirectToCheckout(variant_id);
        }
      }
    }

    function isSubscriptionSelected() {
      return $('#product-actions-{{ section.id }} .purchase-option-box.selected').find('.purchase-type .subscription.selected').length > 0;
    }

    function redirectToCheckout(variant_id) {
      let checkoutLink = "https://" + location.hostname + "/cart/" + variant_id + ":1";
      window.location.href = checkoutLink;
    }

    function toggleButtonLoading(buttonElement, isLoading) {
      let loader = $(buttonElement).closest('.purchase-option-box').find('.loader');
      let buttonText = $(buttonElement).find('.button-text');

      if (loader.length === 0) {
          console.error("Loader element not found");
          return;
      }

      if (isLoading) {
          loader.show();
          buttonText.hide();
      } else {
          loader.hide();
          buttonText.show();
      }
    }

    function clearCart(callback) {
      jQuery.ajax({
        type: 'POST',
        url: '/cart/clear.js',
        success: function() {
          console.log('Cart cleared');
          callback();
        },
        error: function() {
          console.log('Failed to clear cart');
        }
      });
    }

    function buySubscription(variant_id, qty, selling_plan) {
      clearCart(function() {
        data = {
          "id": variant_id,
          "quantity": qty,
          "selling_plan": selling_plan
        }

        jQuery.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: data,
          dataType: 'json',
          success: function() {
            console.log('success');
            window.location.href = '/checkout';
          },
          error: function() {
            console.log('Failed to add item to cart');
          }
        });
      });
    }
  });
</script>

<style>
  .purchase-type button {
    border-radius: 5px;
    font-size: 16px;
    min-width: 49%;
    padding: 0.5rem;
  }

  .purchase-type button:not(.selected) {
    background: unset;
    border: 1px solid var(--blue);
    color: var(--blue);
  }
</style>

<style>
  #cta-section-{{ SID }} .purchase-option-box .radio-box input[type='radio'] {
      display: none;
  }

  #cta-section-{{ SID }} .purchase-option-box .radio-box label {
      cursor: pointer;
      width: 19px;
      height: 19px;
      border: 1px solid var(--blue);
      border-radius: 50%;
      position: relative;
  }

  /* This will only apply the style when the variant box is selected and the radio button is checked */
  #cta-section-{{ SID }} .purchase-option-box.selected .radio-box input[type='radio']:checked + label:after {
      content: '\2713';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--blue);
      text-align: center;
      line-height: 22px;
      color: #fff;
  }
</style>

<style>
  #cta-section-{{ SID }} .product-actions {
    grid-area: 2/2/3/3;
    max-width: 410px;
    min-height: 415px;
  }

  #cta-section-{{ SID }} .purchase-option-box {
    background: #fff;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    max-height: 54px;
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
    transition: max-height 0.5s ease-in-out;
    border-radius: 10px;
    border-color: var(--blue);
    overflow: hidden;
  }

  #cta-section-{{ SID }} .purchase-option-box.selected {
    border-width: 3px;
    max-height: max-content;
  }

  #cta-section-{{ SID }} .purchase-option-box:hover,
  #cta-section-{{ SID }} .purchase-option-box.selected {
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));
  }

  #cta-section-{{ SID }} .purchase-option-box:hover>.radio-box input[type=radio]:after {
    background-color: #a9a9a9;
  }

  #cta-section-{{ SID }} .purchase-option-box .radio-box {
    align-items: center;
    display: flex;
  }

  #cta-section-{{ SID }} .purchase-option-box .option-info {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  #cta-section-{{ SID }} .purchase-option-box .option-info .option-title span {
    background: var(--blue);
    color: white;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 15px;
    margin-left: 5px;
    font-weight: normal;
    line-height: 1.2;
  }

  #cta-section-{{ SID }} .purchase-option-box .option-info .option-infos p {
    font-weight: 200;
    display: inline-block;
    margin: 0;
    font-size: 14px;
  }

  @media screen and (max-width: 1270px) {
    #cta-section-{{ SID }} .purchase-option-box {
      width: 100%
    }

    #cta-section-{{ SID }} .purchase-option-box .option-info {
      padding: 10px 0;
      width: 95%;
    }
  }

  @media screen and (max-width: 768px) {
    #cta-section-{{ SID }} .purchase-option-box {
      font-size: 4vw;
      padding-top: 1.5vw;
    }

    #cta-section-{{ SID }} .purchase-option-box .option-info .option-title {
      font-size: 4vw;
    }

    #cta-section-{{ SID }} .purchase-option-box .option-info .option-infos p {
      font-size: 3vw;
    }

    #cta-section-{{ SID }} .purchase-option-box .radio-box {
      padding: 3vw 0;
    }

    #cta-section-{{ SID }} .product-actions {
      grid-area: unset;
      grid-row: 3;
      max-width: unset;
      min-height: unset;
    }

    #cta-section-{{ SID }} .product-actions .submit-wrap button {
      font-size: 4vw;
    }

    #cta-section-{{ SID }} .product-actions .submit-wrap button {
      min-height: 15vw;
    }
  }
</style>

<style>
  #cta-section-{{ SID }} .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    top:-10px;
  }
  #cta-section-{{ SID }} .lds-ellipsis div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  #cta-section-{{ SID }} .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  #cta-section-{{ SID }} .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #cta-section-{{ SID }} .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #cta-section-{{ SID }} .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
</style>