<div class="buy-box container md:!max-w-[100vw]" name="{{ buyboxName }}">
	<div class="product-image-wrapper">
		{% if buyboxType == '2024-new-3' %}
			{% render 'product-cta-section-gallery-2024',
				SID: SID,
				isHideThumbs: isHideThumbs,
				badgeImage: badgeImage,
				blocks: blocks,
				product: prod,
				isSaveTitle: isSaveTitle,
				thumbnailImage: thumbnailImage,
				thumbnailImageMobile: thumbnailImageMobile
			%}
		{% else %}
			{% if buyboxType == 'subscription' or buyboxType == 'subscription-2' or buyboxType == 'subscription-3' or buyboxType == 'add-to-cart' %}
				{% render 'buy-box-gallery',
					product: prod,
					SID: SID,
					thumbs: thumbs,
					badgeImage: badgeImage,
					thumbnailImage: thumbnailImage,
					thumbnailImageMobile: thumbnailImageMobile,
					isProductThumbs: isProductThumbs
				%}
			{% else %}
				{% render 'product-cta-section-gallery-new',
					SID: SID,
					isHideThumbs: isHideThumbs,
					badgeImage: badgeImage,
					blocks: blocks,
					product: prod,
					isSaveTitle: isSaveTitle,
					thumbnailImage: thumbnailImage,
					thumbnailImageMobile: thumbnailImageMobile,
					isProductThumbs: isProductThumbs
				%}
			{% endif %}
		{% endif %}
	</div>

	{% unless isHideInfo %}
		<div class="product-info">
			<div class="top-wrapper mbl:flex-col gap-y-2 flex items-center justify-between">
				<div class="titles w-full">
					{% if upperTitleNotice and prod.handle == 'curalin-curabox' -%}
						<div class="upper-title-notice bg-[--light-pink] w-fit text-[--bronze] text-[16px] rounded-full font-bold px-4 py-2 mbl:mx-auto mbl:my-2">
							{{ upperTitleNotice }}
						</div>
					{%- endif %}
					<{{ titleTag | default: 'h1' }} class="product-title m-0 text-black text-[40px]">
						{%- if prod.metafields.my_fields.alternative_title.value -%}
							{{- prod.metafields.my_fields.alternative_title.value -}}
						{%- elsif mainTitle != blank -%}
							{{- mainTitle -}}
						{%- else -%}
							{{- prod.title -}}
						{%- endif -%}
					</{{ titleTag | default: 'h1' }}>
					{% if subtitle %}
						<p class="product-subtitle text-[22px] m-0">{{ subtitle }}</p>
					{% endif %}
				</div>

				{% if isShowReviews %}
					<div class="reviews flex items-center flex-wrap justify-end gap-x-2 text-[14px]">
						{% render 'rating-stars', rating: '5' %}
						Over 3000 Reviews
					</div>
				{% endif %}
			</div>

			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when '@app' -%}
						{% render block %}
				{%- endcase -%}
			{%- endfor -%}

			{% if ctaText %}
				<div class="cta-text text-start mt-2" style="margin-bottom: 1.5rem">{{ ctaText }}</div>
			{% endif %}

			{% if isFSA and shop.name != 'CuraLife Global' %}{% render 'fsa-badge', SID: SID %}{% endif %}
		</div>
	{% endunless %}

	<!-- Product Actions Section -->
	{% if customer.b2b? %}
		{% render 'product-cta-section-actions-add-to-cart',
			SID: SID,
			ctaTextType: ctaTextType,
			isVariantNotice: isVariantNotice,
			product: prod,
			blocks: blocks,
			ctaColor: ctaColor,
			ctaTextColor: ctaTextColor,
			variantsTitle: 'Select Your Product:',
			isHighlightSubtitle: isHighlightSubtitle,
			isReversed: isReversed,
			defaultSelectionIndex: defaultSelectionIndex,
			pricePer: pricePer,
			isBuyQuantity: true,
			isBuyWithPrime: isBuyWithPrime
		%}
	{% else %}
		{% if request.path contains 'lp-wl-curaslim-360-aff-bogo' %}
			{% render 'product-cta-section-actions-2024-new-2-bogo',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime
			%}
		{% elsif buyboxType == 'basic' %}
			{% render 'product-cta-section-actions',
				SID: SID,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				variantsTitle: variantsTitle,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyQuantity: isBuyQuantity,
				isBuyWithPrime: isBuyWithPrime,
				isHideInfo: isHideInfo,
				buyType: buyType,
				buttonTitle: buttonTitle
			%}
		{% elsif buyboxType == 'add-to-cart' %}
			{% render 'product-cta-section-actions-add-to-cart',
				SID: SID,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				blocks: blocks,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyQuantity: true,
				isBuyWithPrime: isBuyWithPrime
			%}
		{% elsif buyboxType == '2024-new' %}
			{% render 'product-cta-section-actions-2024-new',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime
			%}
		{% elsif buyboxType == '2024-new-gift' %}
			{% render 'product-cta-section-actions-2024-new-gift',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime,
				isCartNotifications: false
			%}
		{% elsif buyboxType == '2024-new-gift-two' %}
			{% render 'product-cta-section-actions-2024-new-gift-two',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime,
				isCartNotifications: false
			%}
		{% elsif buyboxType == '2024-new-3' %}
			{% render 'product-cta-section-actions-2024-new-3',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				prod: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				saveFormat: saveFormat,
				isBuyWithPrime: isBuyWithPrime,
				isVariantBoxToggle: isVariantBoxToggle,
				isSubscription: isSubscription
			%}
		{% elsif buyboxType == '2024-new-2' %}
			{% render 'product-cta-section-actions-2024-new-2',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isSubscription: isSubscription,
				isBuyWithPrime: isBuyWithPrime
			%}
		{% elsif buyboxType == '2024-new-4' %}
			{% render 'product-cta-section-actions-2024-new-4',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				prod: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime,
				isOneTimePurchaseLink: isOneTimePurchaseLink
			%}
		{% elsif buyboxType == '2024-new-4-gift' %}
			{% render 'product-cta-section-actions-2024-new-4-gift',
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				prod: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				isBuyWithPrime: isBuyWithPrime,
				isOneTimePurchaseLink: isOneTimePurchaseLink,
				isCartNotifications: true
			%}
		{% elsif buyboxType == 'subscription' %}
			{% render 'buy-box-subscription',
				prod: prod,
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				variantsTitle: variantsTitle,
				variantsNotice: variantsNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				priceFormat: priceFormat,
				isOneTimePurchaseLink: isOneTimePurchaseLink,
				isSlideVariant: isSlideVariant,
				isOneTimeGift: isOneTimeGift,
				isHideInfo: isHideInfo,
				buyboxType: buyboxType,
				buyboxName: buyboxName
			%}
		{% elsif buyboxType == 'subscription-2' %}
			{% render 'buy-box-subscription-2',
				prod: prod,
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				variantsTitle: variantsTitle,
				variantsNotice: variantsNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				priceFormat: priceFormat,
				isOneTimePurchaseLink: isOneTimePurchaseLink,
				isSlideVariant: isSlideVariant,
				isOneTimeGift: isOneTimeGift,
				isHideInfo: isHideInfo,
				buyboxType: buyboxType,
				buyboxName: buyboxName
			%}
		{% elsif buyboxType == 'subscription-3' %}
			{% render 'buy-box-subscription-3',
				prod: prod,
				SID: SID,
				blocks: blocks,
				buyType: buyType,
				variantsTitle: variantsTitle,
				variantsNotice: variantsNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				defaultSelectionIndex: defaultSelectionIndex,
				pricePer: pricePer,
				priceFormat: priceFormat,
				isOneTimePurchaseLink: isOneTimePurchaseLink,
				isSlideVariant: isSlideVariant,
				isOneTimeGift: isOneTimeGift,
				isHideInfo: isHideInfo,
				buyboxType: buyboxType,
				buyboxName: buyboxName
			%}
		{% elsif buyboxType == 'info' %}
			{% render 'product-cta-section-actions-preorder',
				blocks: blocks,
				buyType: buyType,
				ctaTextType: ctaTextType,
				isVariantNotice: isVariantNotice,
				product: prod,
				ctaColor: ctaColor,
				ctaTextColor: ctaTextColor,
				isHighlightSubtitle: isHighlightSubtitle,
				isReversed: isReversed,
				defaultSelectionIndex: defaultSelectionIndex,
				priceFormat: priceFormat,
				pricePer: pricePer
			%}
		{% endif %}
	{% endif %}
</div>

<style>
	#cta-section-{{ SID }} {
		.buy-box {
			display: grid;
			grid-template-columns: 58% 38%;
			grid-column-gap: 4%;

			.product-info {
				padding: unset;
				width: unset;
				grid-area: 1/2/2/3;
			}
		}

		.product-image-wrapper {
			grid-row: 1/3;
			position: relative;
		}

		/* {% if isHideInfo %}
			.product-actions {
				grid-row: 1 / 2;
				margin-top: 60px;

				@media screen and (max-width: 768px) {
					grid-row: 2 / 3;
					margin-top: unset;
				}
			}
		{% endif %} */

		.container.line {
			margin-top: -50px;
		}

		.cta-text {
			font-size: 16px;

			h6 {
				font-weight: 600;
				margin-bottom: 0.5rem;
				font-family: 'DM Sans', sans-serif;
				color: var(--primary-color);
			}

			ul li {
				padding-left: 1.5rem;
				margin-bottom: 0.25rem;

				strong {
					color: var(--black);
				}

				&::before {
					content: "✓";
					background: unset;
					color: var(--primary-color);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		@media screen and (max-width: 1270px) {
			.container {
				max-width: unset;
				padding: 0 20px;
			}
		}

		@media screen and (max-width: 768px) {
			padding-top: 0;

			.container {
				padding: 0 20px !important;
			}

			.product-image-wrapper {
				grid-row: unset;
			}

			.buy-box {
				grid-template-columns: repeat(1, 100%) !important;
				grid-template-rows: unset;

				.product-info {
					grid-area: unset;
					grid-row: 1;
					text-align: center;
					padding-top: 15vw;
				}
			}
		}
	}
</style>
