{% comment %} Short Section ID for JS Variables {% endcomment %}
{% assign sectionIDParts = section_id | split: '-' %}
{% assign shortSectionID = sectionIDParts[-1] %}

{% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
{% assign original_item_cap = var.metafields.custom.original_item.value.compare_at_price %}
{% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
{% assign original_item_price = var.metafields.custom.original_item.value.price %}
{% assign item_price = var.price | divided_by: bottle_quantity %}
{% assign save_price = original_item_price | minus: item_price | times: quantity %}

<div id="variant-box-{{ section_id }}" class="variant-box">
  <div class="left-side-wrapper">
    <div class="radio-box">
      {% assign discount = 0 %}
      <input type="radio" name="pack" value="{{ var.id }}" {% if var.metafields.custom.checkout_link %}data-checkout-link="{{ var.metafields.custom.checkout_link }}"{% endif %} data-ref-variant="{{ var.metafields.custom.reference_variant_id }}" data-quantity="{{ var.metafields.my_fields.pack_bottles_quantity }}" data-price="{{ var.price | money_without_currency | replace: ".00", "" }}" data-discount="{{ discount | replace: ".00", "" }}" data-title="{{ var.title }}" data-sku="{{ var.sku }}" data-save="{{ save_price }}" data-index="{{ product.variants.size | minus: index | plus: 1 }}"></input>
    </div>

    <div class="variant-info">
      <p class="variant-title">{% if var.title == blank or var.title == 'Default Title' %}{{ product.title }}{% else %}{{ var.title }}{% endif %}</p>

      {% if var.metafields.my_fields.subtitle %}
        <div class="variant-infos">
          <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  {% if product.metafields.custom.price_per != "dont_split" %}
    <div class="price">
      <div class="calculations">
        {% if original_item_cap_total > var.price %}
          <p class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total | divided_by: bottle_quantity | money }}</strike></p>
        {% endif %}

        <p class="real-price no-letters rounded">{{ item_price | money }}</p>
      </div>

      <p class="per-month">Per {{ product.metafields.custom.price_per | capitalize }}</p>
    </div>
  {% else %}
    <div class="price">
      {% if original_item_cap_total > var.price %}
        <p class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total | money }}</strike></p>
      {% endif %}
      <p class="real-price no-letters rounded">{{ var.price | money }}</p>
    </div>
  {% endif %}
</div>

{% if isLastRender %}
  <style>
    .variant-notice p {
      background: var(--blue);;
      color: white;
      padding: 2px 10px;
      margin: unset;
      font-size: 14px;
    }

    .variant-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 65px;
      background: #fff;
      border: 1px solid #cbcbcb;
      box-sizing: border-box;
      border-radius: 2px;
      margin-bottom: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
      transition: all .5s;
      position: relative;
      border-radius: 10px;
      border-color: var(--blue);
    }

    .variant-box:hover {
      border-color: var(--blue);
      filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));
    }

    .variant-box:hover>.radio-box input[type=radio]:after {
      background-color: #a9a9a9;
    }

    .variant-box .left-side-wrapper {
      display: flex;
    }

    .variant-box .radio-box {
      align-items: center;
      display: flex;
      padding: 20px;
    }

    .variant-box .variant-info {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .variant-box .variant-info .variant-title {
      margin: 0;
    }

    .variant-box .variant-info .variant-infos p {
      font-weight: 200;
      display: inline-block;
      margin: 0;
      font-size: 14px;
      {% if isHighlightSubtitle %}
        color: white;
        border-radius: 15px;
        padding: 2px 10px;
        background: var(--blue);
      {% endif %}
    }

    .variant-box .variant-info .variant-infos p b {
      font-weight: 700;
    }

    .variant-box .price {
      display: flex;
      min-width: 70px;
      margin-right: 10px;
      {% if product.metafields.custom.price_per == 'dont_split' %}
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
      {% else %}
        flex-direction: column;
        align-items: end;
        gap: unset;
      {% endif %}
    }

    .variant-box .price p {
      margin: unset;
    }

    .variant-box .price .calculations {
      display: flex;
      align-items: center;
      justify-content: right;
    }

    /* .variant-box .price .calculations p::after {
      content: "00";
      font-size: 0.6rem;
      vertical-align: super;
      margin-right: 5px;
    } */

    .variant-box .price .calculations p.compared-at-price::after {
      font-size: 0.3rem;
    }

    .variant-box .price .per-month {
      color: var(--grey);
      font-size: 16px;
    }

    .variant-box .price .compared-at-price {
      line-height: 1rem;
    }

    .variant-box .price .compared-at-price strike {
      font-size: 13px !important;
    }

    .variant-box .price .real-price {
      font-size: 20px;
    }

    @media screen and (max-width: 1270px) {
      .variant-box {
        width: 100%
      }

      .variant-box .variant-info {
        padding: 10px 0;
        width: 95%;
      }

      .variant-box .price {
        position: absolute;
        right: 10px;
        margin-right: unset;
      }
    }

    @media screen and (max-width: 768px) {
      .variant-box {
        justify-content: unset;
      }

      .variant-box .variant-info .variant-title {
        font-size: 4vw;
      }

      .variant-box .variant-info .variant-infos p {
        font-size: 3vw;
      }

      .variant-box .radio-box {
        padding: 3vw;
      }
    }
  </style>

  <script>
    function updateCTA() {
      {% if ctaTextType %}
        let checkedInputElement = $('#variant-box-{{ section_id }} input[name=pack]:checked');

        {% if ctaTextType == "save" %}
          if (checkedInputElement.attr('data-discount') == 0) {
            let ctaText = "";
          }
          else {
            let ctaText = "You Save " + "{{ cart.currency.symbol }}" + checkedInputElement.attr('data-discount');
          }
        {% elsif ctaTextType == "total" %}
          let ctaText = "Total " + "{{ cart.currency.symbol }}" + checkedInputElement.attr('data-price');
        {% endif %}

        $("#product-actions-{{ section_id }} #save").fadeOut(300, function () {$(this).text(ctaText);}).fadeIn(300);
      {% endif %}
    }

    function updateSelectedVariantInformation(infoAttributeName, targetElementToUpdate) {
      let varIndex = $('#variant-box-{{ section_id }} input[name=pack]:checked').attr(infoAttributeName);

      $(targetElementToUpdate).fadeOut(300, function () {
        varIndex > 1 ? $(targetElementToUpdate).text("X" + varIndex) : $(targetElementToUpdate).text("");
      }).fadeIn(300);
    }

    $("#product-actions-{{ section_id }} .variant-box").click(function() {
      $(this).find('input[name=pack]').prop('checked', true);
      updateCTA();
      updateSelectedVariantInformation('data-quantity', '.multiplier');
      updateSelectedVariantInformation('data-save', '.save-badge');

      {% assign collection_products_amount = var.product.collections.last.products | size %}
      {% if collection_products_amount == 1 and var.product.tags contains 'supplement' %}
        window.didClickVariant = true;
      {% endif %}

      if (window.didClickVariant) {
        {% unless customer.b2b? %}
          // Slide to Variant Image
          {% if product.variants.size > 1 and product.images.size > 1 %}
            let slideIndex = window.productSliderAllInOne{{ shortSectionID }}.slides.length - $(this).find('input[name=pack]:checked').attr('data-index');
            window.productSliderAllInOne{{ shortSectionID }}.slideTo(slideIndex);
          {% endif %}
        {% endunless %}

        // Track in GA
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'variant-click',
          'label': $(this).find('input[name=pack]:checked').attr('data-sku'),
          'userId': '{{ customer.id }}',
          'email': '{{ customer.email }}',
          'country': '{{customer.customer_address.country_code }}',
          'city': '{{customer.customer_address.city }}',
          'name': '{{ customer.first_name }}',
          'surname': '{{ customer.last_name }}',
          'phone_number': '{{customer.phone }}',
          'state': '{{customer.customer_address.province }}',       //state or province
          'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
        });

        // Track in Woopra
        woopra.track('Product_Variant_Select', {
          sku: $(this).find('input[name=pack]:checked').attr("data-sku"),
          variant_id: $(this).find('input[name=pack]:checked').attr("value"),
          variant_title: $(this).find('input[name=pack]:checked').attr("data-title"),
          price: $(this).find('input[name=pack]:checked').attr("data-price")
        })
      }
      else {
        window.didClickVariant = true;
      }
    });
  </script>
{% endif %}