{% comment %} Short Section ID for JS Variables {% endcomment %}
{% assign sectionIDParts = section_id | split: '-' %}
{% assign shortSectionID = sectionIDParts[-1] %}

{% if var.metafields.custom.original_item.value %}
  {% assign original_item = var.metafields.custom.original_item.value %}
{% else %}
  {% if var.product.variants.size == 1 %}
    {% assign isSingleDefaultVariant = true %}
    {% assign original_item = product %}
  {% else %}
    {% assign original_item = var %}
  {% endif %}
{% endif %}
{% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
{% assign original_item_cap = original_item.compare_at_price %}
{% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
{% assign original_item_price = original_item.price %}
{% assign item_price = var.price | divided_by: bottle_quantity %}
{% assign save_price = original_item_price | minus: item_price | times: quantity %}

<div id="variant-box-{{ section_id }}" class="variant-box">
  <div class="left-side-wrapper">
    <div class="radio-box">
      {% assign discount = 0 %}
      <input type="radio" name="pack{{ shortSectionID }}" value="{{ var.id }}" {% if var.metafields.custom.checkout_link %}data-checkout-link="{{ var.metafields.custom.checkout_link }}"{% endif %} data-ref-variant="{{ var.metafields.custom.reference_variant_id }}" data-quantity="{{ var.metafields.my_fields.pack_bottles_quantity }}" data-price="{{ var.price | money }}" data-discount="{{ discount | replace: ".00", "" }}" data-title="{{ var.title }}" data-sku="{{ var.sku }}" data-save="{{ save_price }}" data-index="{{ product.variants.size | minus: index | plus: 1 }}"></input>
    </div>

    <div class="variant-info">
      <p class="variant-title">{% if isSingleDefaultVariant %}{{ var.product.title }}{% else %}{{ var.title }}{% endif %}</p>

      {% if var.metafields.my_fields.subtitle %}
        <div class="variant-infos">
          <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  {% if product.metafields.custom.is_price_per_month %}
    <div class="price">
      <div class="calculations gap-1">
        {% if original_item_cap_total > var.price %}
          <p class="compared-at-price text-gray-400"><strike class="no-letters rounded">{{ original_item_cap_total | divided_by: bottle_quantity | money }}</strike></p>
        {% endif %}

        <p class="real-price no-letters rounded">{{ item_price | money }}</p>
      </div>

      {% if product.metafields.custom.is_price_per_month %}
        <p class="per-month">Per Month</p>
      {% endif %}
    </div>
  {% else %}
    <div class="price">
      {% if original_item_cap_total > var.price %}
        <p class="compared-at-price"><strike class="no-letters rounded">{{ original_item_cap_total | money }}</strike></p>
      {% endif %}
      <p class="real-price no-letters rounded">{{ var.price | money }}</p>
    </div>
  {% endif %}
</div>