{% if product.tags contains 'sleep' %}
	{% assign bg_color = 'var(--light-turquoise)' %}
	{% assign number_color = 'var(--dark-turquoise)' %}
	{% assign link_color = 'var(--dark-turquoise)' %}
{% elsif product.tags contains 'joint' %}
	{% assign bg_color = 'var(--light-purple)' %}
	{% assign number_color = 'var(--purple)' %}
	{% assign link_color = 'var(--dark-purple)' %}
{% elsif product.tags contains 'immune' %}
	{% assign bg_color = 'var(--light-purple)' %}
	{% assign number_color = 'var(--purple)' %}
	{% assign link_color = 'var(--dark-purple)' %}
{% elsif product.tags contains 'multivitamin' %}
	{% assign bg_color = 'var(--lighter-peach)' %}
	{% assign number_color = 'var(--peach)' %}
	{% assign link_color = 'var(--dark-peach)' %}
{% endif %}

<section class="pack-info-section instance-{{ index }}">
	<div class="container">
		<div class="titles mbl:flex-col mbl:items-baseline gap-2">
			<h2 class="title">{{ product.title }}</h2>
			<div class="subtitle">{{ product.description }}</div>
		</div>

		<div class="product-image-wrapper">
			{% if index %}
				<p class="number">{{ index }}</p>
			{% endif %}

			<img class="product-image" src="{{ product.metafields.custom.bottle_image | img_url: 'original' }}" alt="{{ product.title }}" loading="lazy">
		</div>

		<div class="tabbed-content tabs-side">
			<nav class="tabs">
				<div class="tab">
					<a href="#highlights-{{ index }}" class="active">
						Product Highlights
						<i>></i>
					</a>
				</div>
				<div class="tab">
					<a href="#instructions-{{ index }}">
						Usage Instructions
						<i>></i>
					</a>
				</div>
				{% if product.metafields.custom.ingredients.value %}
					<div class="tab">
						<a href="#ingredients-{{ index }}">
							Ingredients
							<i>></i>
						</a>
					</div>
				{% endif %}
				<div class="tab">
					<a href="#facts-{{ index }}">
						Supplement Facts
						<i>></i>
					</a>
				</div>
				{% if product.metafields.custom.reviews.value %}
					<div class="tab">
						<a href="#reviews-{{ index }}">
							Reviews
							<i>></i>
						</a>
					</div>
				{% endif %}
			</nav>

			<div class="content">
				<div id="highlights-{{ index }}" class="item active always-active" data-title="Product Highlights">
					<div class="highlights item-content">
						{% for highlight in product.metafields.custom['product-highlights'].value %}
							<div class="highlight">
								<div class="highlight-icon"><i class="fa-solid fa-circle-check"></i></div>
								<p>
									<b>{{ highlight.title }}</b>
									<br>
									{{ highlight.subtitle }}
								</p>
							</div>
						{% endfor %}
					</div>
				</div>

				<div id="instructions-{{ index }}" class="item" data-title="Usage Instructions">
					<div class="instructions item-content">
						{% for step in product.metafields.custom.instructions.value %}
							<div class="step">
								<div class="capsules">
									{% for item in (1..step.capsules) %}
										{% if product.tags contains 'gummies' %}
											<img class="gummies m-0" src="{{ "icon-gummy.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy">
										{% else %}
											<img class="caps m-0" src="{{ "icon-capsule.png" | asset_url }}" width="20" height="31" alt="Capsule Pill" loading="lazy" style="min-width: 35px">
										{% endif %}
									{% endfor %}
								</div>

								<div>{{ step.subtitle }}</div>
							</div>
						{% endfor %}
					</div>
				</div>

				{% if product.metafields.custom.ingredients.value %}
					<div id="ingredients-{{ index }}" class="item" data-title="Ingredients">
						<div class="ingredients item-content">
							{% for ingredient in product.metafields.custom.ingredients.value %}
								<div class="ingredient">
									{% assign ingredient_handle = ingredient | downcase | replace: ' ', '-' %}
									<img src="{{ "product-supplement-pack-info-ingredient-icon-" | append: ingredient_handle | append: ".png" | asset_url }}" alt="Ingredient" loading="lazy">
									<p>{{ ingredient }}</p>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				<div id="facts-{{ index }}" class="item" data-title="Supplement Facts">
					<div class="facts item-content">
						<img src="{{ product.metafields.custom.supplement_fact | image_url }}" alt="Supplement Facts" loading="lazy">
					</div>
				</div>

				{% if product.metafields.custom.reviews.value %}
					<div id="reviews-{{ index }}" class="item" data-title="Reviews">
						<div class="reviews item-content">
							{% render 'product-supplement-pack-info-reviews', reviews: reviews %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% if isLastRender %}
	<style>
		.pack-info-section .titles {
		  flex-direction: revert;
		  justify-content: start;
		  max-width: 100%;
		  text-align: left;
		  display: flex;
		  align-items: center;
		  margin-bottom: 30px;
		  gap: 20px;
		  z-index: 2;
		  position: relative;
		}

		.pack-info-section .titles h2 {
		  margin: unset;
		  white-space: nowrap;
		}

		.pack-info-section {
		  background: var(--lighter-brown);
		  overflow: visible;
		  padding-top: 80px;
		}

		.pack-info-section:nth-of-type(even) {
		  background: {{ bg_color }};
		}

		.pack-info-section .product-image-wrapper {
		  position: absolute;
		  bottom: -120px;
		  right: 0;
		  pointer-events: none;
		  z-index: 1;
		}

		.pack-info-section:nth-of-type(even) .tabbed-content {
		  margin-left: 30%;
		}

		.pack-info-section:nth-of-type(even) .product-image-wrapper,
		.pack-info-section:nth-of-type(even) .product-image-wrapper p{
		  left: 0;
		}

		.pack-info-section .product-image-wrapper .number {
		  font-family: var(--main-font);
		  position: absolute;
		  right: 0;
		  top: -80px;
		  line-height: 1em;
		  font-size: 350px;
		  font-weight: bold;
		  color: var(--dark-orange);
		  margin: unset;
		}

		.pack-info-section:nth-of-type(even) .product-image-wrapper .number {
		  color: {{ number_color }};
		}

		.pack-info-section .product-image-wrapper .product-image {
		  position: relative;
		  max-height: 400px;
		  margin: 0;
		}

		.pack-info-section .highlights {
		  display: flex;
		  flex-direction: column;
		  gap: 30px;
		}

		.pack-info-section .highlights .highlight {
		  display: flex;
		  align-items: center;
		}

		.pack-info-section .highlights .highlight p {
		  margin: unset;
		}

		.pack-info-section .highlight-icon {
		  color: var(--light-green);
		  font-size: 30px;
		  margin-right: 20px;
		}

		.pack-info-section .instructions {
		  display: flex;
		  flex-direction: column;
		  gap: 30px;
		}

		.pack-info-section .instructions .step {
		  display: flex;
		  flex-direction: column;
		  gap: 10px;
		}

		.pack-info-section .instructions .step p {
		  min-width: 120px;
		}

		.pack-info-section .instructions .step h3 {
		  font-size: 28px;
		  font-weight: bold;
		  min-width: 105px;
		}

		.pack-info-section .instructions .step .capsules {
		  display: flex;
		}

		.pack-info-section .instructions .step p {
		  max-width: 35vw;
		}

		.pack-info-section .ingredients {
		  display: flex;
		  flex-wrap: wrap;
		  max-width: 400px;
		  gap: 10px;
		  max-width: 500px;
		}

		.pack-info-section .ingredient {
		  width: 120px;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		}

		.pack-info-section .ingredient p {
		  font-size: 16px;
		  text-align: center;
		}

		.pack-info-section .facts {
		  text-align: center;
		}

		.pack-info-section .facts img {
		  max-height: 300px;
		}

		.pack-info-section .tabbed-content {
		  max-width: 800px;
		  display: flex;
		  align-items: center;
		  height: 300px;
		}

		.pack-info-section .tabs .tab {
		  text-align: center;
		  height: 70px;
		  border-bottom: 1px solid;
		  padding-left: unset;
		}

		.pack-info-section .tabs .tab::before {
		  content: "";
		}

		.pack-info-section .tabs .tab:first-child {
		  border-top: 1px solid;
		}

		.pack-info-section .tabs .tab a {
		  height: 100%;
		  align-items: center;
		  display: flex;
		  justify-content: center;
		}

		.pack-info-section .tabs .tab a i {
		  position: relative;
		  transition: all 0.5s ease-in-out;
		  font-style: normal;
		  left: 20px;
		}

		.pack-info-section .tabs .tab a:hover,
		.pack-info-section .tabs .tab a.active {
		  color: var(--brown);
		  font-weight: bold;
		}

		.pack-info-section:nth-of-type(even) .tabs .tab a:hover,
		.pack-info-section:nth-of-type(even) .tabs .tab a.active {
		  color: {{ link_color }};
		}

		.pack-info-section .item {
		  margin-bottom: 2px;
		  position: relative;
		}

		.pack-info-section .item::before {
		  content: attr(data-title);
		  border-top: 1px solid var(--light-green);
		  cursor: pointer;
		  font-weight: bold;
		  padding: 0.5em;
		  display: block;
		  text-align: center;
		}

		.pack-info-section .item.active .item-content {
		  transition: opacity 0.8s ease-in-out;
		}

		.pack-info-section .tabbed-content .tabs {
		  display: none;
		}

		.tabbed-content .item {
		  min-height: 2em;
		}

		.pack-info-section .tabbed-content .item .item-content {
		  opacity: 0;
		  visibility: hidden;
		  height: 0;
		}

		.pack-info-section .tabbed-content .item.active .item-content {
		  opacity: 1;
		  visibility: visible;
		  height: auto;
		}

		@media all and (min-width: 800px) {
		  .item.active .item-content {
		    padding-top: 0;
		  }

		  .pack-info-section .tabbed-content .tabs {
		    display: block;
		  }

		  .pack-info-section .tabbed-content .tabs li {
		    display: inline-block;
		    margin-bottom: 2px;
		  }

		  .pack-info-section .tabbed-content .tabs li a {
		    display: flex;
		  }

		  .pack-info-section .tabbed-content .item {
		    min-height: 0;
		  }

		  .pack-info-section .tabbed-content .item::before {
		    display: none;
		  }

		  .pack-info-section .tabbed-content.tabs-side .tabs {
		    min-width: 300px;
		    margin-right: 50px;
		  }

		  .pack-info-section .tabbed-content.tabs-side .tabs li {
		    display: block;
		  }
		}

		@media all and (max-width: 768px) {
		  .pack-info-section {
		    padding-bottom: 75vw;
		    padding-top: 10vw;
		  }

		  .pack-info-section .instructions .step .capsules {
		    min-width: 65px;
		  }

		  .pack-info-section .tabbed-content {
		    display: block;
		    margin-left: unset !important;
		  }

		  .pack-info-section .item::after {
		    content: "+";
		    font-size: 30px;
		    position: absolute;
		    top: 5px;
		    right: 2vw;
		    border: 2px solid var(--light-green);
		    border-radius: 50%;
		    width: 5vw;
		    height: 5vw;
		    font-size: 5vw;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    color: var(--light-green);
		  }

		  .pack-info-section .item.active::after {
		    content: "-";
		  }

		  .pack-info-section .product-image-wrapper {
		    bottom: 0;
		    width: 100%;
		    position: relative;
		    text-align: center;
		    margin-top: 10vw;
		  }

		  .pack-info-section:nth-of-type(odd) .product-image-wrapper img {
		    right: -25vw;
		  }

		  .pack-info-section .product-image-wrapper .number {
		    top: -15vw;
		    font-size: 70vw !important;
		    right: 45vw;
		  }

		  .pack-info-section .tabbed-content .item.active .item-content {
		    padding: 5vw 0;
		  }

		  .pack-info-section .ingredient {
		    width: 27vw;
		  }

		  .pack-info-section .instructions .step {
		    gap: 2vw;
		  }

		  .pack-info-section .instructions .step h3 {
		    min-width: 20vw;
		  }
		}

		@media screen and (max-width: 500px) {
		  .pack-info-section .item::after {
		    top: 4vw;
		  }
		}
	</style>
{% endif %}

<script>
	(function () {
		tabControl();

		let resizeTimer;
		window.addEventListener('resize', function () {
			clearTimeout(resizeTimer);
			resizeTimer = setTimeout(function () {
				tabControl();
			}, 250);
		});

		function tabControl() {
			const tabs = document.querySelector(`.pack-info-section.instance-{{ index }} .tabbed-content .tabs`);

			if (tabs && tabs.offsetParent !== null) {
				// Checks if the element is visible
				tabs.querySelectorAll('a').forEach(function (button) {
					button.addEventListener('click', function (event) {
						event.preventDefault();
						const target = button.getAttribute('href');
						const tabsContainer = button.closest('.tabs');
						const buttons = tabsContainer.querySelectorAll('a');
						const itemContainer = tabsContainer.closest('.pack-info-section.instance-{{ index }} .tabbed-content').querySelectorAll('.item');

						buttons.forEach(btn => btn.classList.remove('active'));
						itemContainer.forEach(item => item.classList.remove('active'));

						button.classList.add('active');
						document.querySelector(target).classList.add('active');
					});
				});
			} else {
				document.querySelectorAll('.item').forEach(function (item) {
					item.addEventListener('click', function () {
						const container = item.closest('.tabbed-content');
						const currId = item.getAttribute('id');
						const items = container.querySelectorAll('.item');

						container.querySelectorAll('.tabs a').forEach(btn => btn.classList.remove('active'));
						items.forEach(it => it.classList.remove('active'));

						item.classList.add('active');
						const correspondingTab = container.querySelector(`.tabs a[href$="#${currId}"]`);
						if (correspondingTab) {
							correspondingTab.classList.add('active');
						}
					});
				});
			}
		}
	})();
</script>
