{% assign variantQuantity = product.variants | size %}
{% assign firstVariant = product.variants | first %}

{% if variantQuantity > 1 %}
  {% unless firstVariant.image.src %}
    {% assign isMultiplierVariants = true %}
  {% endunless %}
{% endif %}

{% if isThumbsVertical %}
  <div class="product-thumbnails">
      <div class="product-slider">
        <div class="sliders-group">
        <div class="noa-wrap relative">
          <div class="thumbs-slider absolute top-0 left-0 max-h-full">
            <div id="product-thumbs-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% comment %} Render Product Images on Thumbs Slider {% endcomment %}
                <div class="swiper-slide">
                  <img src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}" width="" height="" loading="lazy">
                </div>

                {% comment %} Render Section Images on Thumbs Slider {% endcomment %}
                {% for img in product_images %}
                  <div class="swiper-slide">
                    <img src="{{ img.settings.product_img | image_url }}" width="291" height="278" alt="Product Image" loading="lazy">
                  </div>
                {% endfor %}

                {% comment %} Render Vaiants on Thumbs Slider {% endcomment %}
                {% comment %} {% unless isMultiplierVariants %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      <img src="{{ var.image | image_url }}" alt="{{ var.image.alt | escape }}" width="" height="" loading="lazy">
                    </div>
                  {% endfor %}
                {% endunless %} {% endcomment %}
              </div>
            </div>

            <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
            <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
          </div>

          <div class="main-slider">
            <div id="product-main-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% comment %} Render Product Images on Main Slider {% endcomment %}
                <div class="swiper-slide">
                  <img src="{{ product.images | first | image_url }}" alt="{{ img.alt | escape }}" width="" height="" loading="lazy">
                </div>

                {% if badgeImage %}
                  <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                {% endif %}

                {% if isMultiplierVariants %}
                  <p class="multiplier"></p>
                {% endif %}

                {% comment %} Render Section Images on Main Slider {% endcomment %}
                {% for img in product_images %}
                  <div class="swiper-slide">
                    <img class="max-h-[500px]" src="{{ img.settings.product_img | image_url }}" alt="Product Image" loading="lazy">
                  </div>
                {% endfor %}

                {% comment %} Render Vaiants on Main Slider {% endcomment %}
                {% unless isMultiplierVariants %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      <img src="{{ var.image | image_url }}" alt="{{ var.image.alt | escape }}" width="" height="" loading="lazy">

                      {% if isSaveTitle %}
                        {% assign save_price = var.compare_at_price | minus: var.price %}

                        <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                      {% endif %}

                      {% if badgeImage %}
                        <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endunless %}
              </div>

              <div class="swiper-pagination"></div>
            </div>

            <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
            <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .noa-wrap .main-slider {
      margin-left: 160px;
    }

    @media screen and (max-width: 768px) {
      .noa-wrap .main-slider {
        margin-left: unset;
      }
    }
  </style>
{% else %}
  <div class="product-thumbnails">
      <div class="product-slider">
        <div class="sliders-group">
          <div class="main-slider">
            <div id="product-main-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                {% if product_images.size > 0 %}
                  {% for img in product_images %}
                    <div class="swiper-slide">
                      <img class="max-h-[500px]" src="{{ img.settings.product_img | image_url }}" alt="Product Image" loading="lazy">
                    </div>
                  {% endfor %}
                {% endif %}

                {% if product.variants.size > 0 %}
                  {% for var in product.variants %}
                    <div class="swiper-slide">
                      <div class="product-img">
                        <div class="img-wrap">
                          <img src="{{ var.featured_image | image_url }}" alt="{{ var.featured_image.alt | escape }}" width="" height="" loading="lazy">
                        </div>
                      </div>
                      {% if isSaveTitle %}
                        {% assign save_price = var.compare_at_price | minus: var.price %}

                        <div class="save-title"><p>SAVE {{ save_price | money_without_trailing_zeros }}</p></div>
                      {% endif %}

                      {% if badgeImage %}
                        <img src="{{ badgeImage | image_url }}" alt="Curalin" class="sale-badge" loading="lazy">
                      {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  {% for img in product.images %}
                    <div class="swiper-slide">
                      <div class="product-img">
                        <div class="img-wrap">
                          <img src="{{ img.src | image_url }}" alt="{{ img.alt | escape }}" width="" height="" loading="lazy">
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>

              {% if isMultiplierVariants %}
                <p class="multiplier"></p>
              {% endif %}

              <div class="swiper-pagination"></div>
            </div>

            <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
            <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
          </div>

            <div class="thumbs-slider">
              <div id="product-thumbs-slider-sc" class="swiper">
                <div class="swiper-wrapper">
                  {% if product_images.size > 0 %}
                    {% for img in product_images %}
                      <div class="swiper-slide">
                        <img src="{{ img.settings.product_img | image_url }}" width="291" height="278" alt="Product Image" loading="lazy">
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
              <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
            </div>

        </div>
      </div>
    </div>
{% endif %}

  <style>
    {% if badgeImage %}
      .sale-badge {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 100px;
        z-index: 1;
      }

      @media screen and (max-width: 768px) {
        .sale-badge {
          top: 0;
          right: 0;
          width: 25vw;
        }
      }
    {% endif %}

    .cta-section .save-title {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      top: 50%;
      }

    .cta-section .save-title p {
      background-image: url("{{ 'title-bg.svg' | asset_url }}");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 5px;
      width: 235px;
      font-size: 35px;
      font-weight: bold;
      color: white;
      margin: auto;
    }

    .product-thumbnails {
      grid-area: 1/1/3/2;
    }

    .product-thumbnails .product-slider {
      width: unset !important;
      padding: unset;
    }

    .product-thumbnails .product-slider .main-slider {
      padding: unset;
    {% unless isThumbsVertical %}margin-left: unset;{% endunless %}
    }

    .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
      position: absolute;
      z-index: -1;
    }

    .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap {
      padding: unset;
      text-align: center
    }

    .product-thumbnails .product-slider .main-slider .swiper-slide .img-wrap img {
    {% unless isThumbsVertical %}max-height: 400px;{% endunless %}
      object-fit: contain;
    }

    .product-thumbnails .product-slider .main-slider .swiper-slide .product-video iframe {
      height: 400px;
      width: 100%
    }

    .product-thumbnails .product-slider .main-slider .nav {
      display: none;
    }

    .product-thumbnails .product-slider .main-slider .nav::after {
      font-size: 30px;
    }

    .product-thumbnails .product-slider .thumbs-slider {
      {% unless isThumbsVertical %}
      margin-top: 30px;
      padding-left: 3em;
      padding-right: 3em;
      {% endunless %}
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    .product-thumbnails .product-slider .thumbs-slider .swiper-wrapper img {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      border: 1px solid #404733;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: grey;
      transition: opacity .5s;
    }

    .swiper-button-prev.disabled,
    .swiper-button-next.disabled {
      opacity: 0;
    }

    .product-template-all-in-one .swiper-button-prev::after,
    .product-template-all-in-one .swiper-button-next::after {
      font-size: 28px;
    }

    @media screen and (max-width: 768px) {
      .product-thumbnails {
        grid-area: unset;
        grid-row: 2;
      }

      .product-thumbnails .product-slider {
        margin-left: unset;
      }

      .product-thumbnails .product-slider .main-slider {
        width: 95%;
        margin: auto;
      }

      .product-slider .sliders-group:before {
        content: "";
        width: 150vw;
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        z-index: -1;
        transform: translate(50%);
        pointer-events: none;
      }

      .product-thumbnails .product-slider .main-slider .main-slider-vector-bg {
        margin-left: unset;
        left: 0;
        top: 10%;
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper {
        margin-bottom: 30px;
        align-items: center
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe {
        height: 45vh
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-video iframe .vp-video-wrapper {
        border-radius: 10px;
      }

      .product-thumbnails .product-slider .main-slider .swiper-wrapper .swiper-slide .product-img::before {
        padding-bottom: 100%
      }

      .product-thumbnails .product-slider .main-slider .nav {
        display: flex;
      }

      .product-thumbnails .product-slider .main-slider .nav.swiper-button-prev {
        left: 0;
      }

      .product-thumbnails .product-slider .main-slider .nav.swiper-button-next {
        right: 0
      }

      .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet {
        background: var(--green);
        opacity: .4;
        width: 13px;
        height: 13px;
        border: 0;
      }

      .product-thumbnails .product-slider .main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--green);
        opacity: 1;
      }

      .product-thumbnails .product-slider .thumbs-slider {
            display: none;
      }
    }
  </style>

<script>
  {% unless isHideThumbs %}
   productThumbsAllInOne = new Swiper('#product-thumbs-slider-sc', {
    {% if isThumbsVertical %} direction: 'vertical', {% endif %}
     slidesPerView: 'auto',
     spaceBetween: 10,
     watchSlidesVisibility: true,
     grabCursor: true,
     navigation: {
       nextEl: '#product-thumbs-slider-nav-next',
       prevEl: '#product-thumbs-slider-nav-prev',
       disabledClass: 'disabled'
     },
     {% unless isThumbsVertical %}
     breakpoints: {
       760: {
         slidesPerView: 3,
         freemode: true
       },
       1200: {
         slidesPerView: 5
       }
     }
     {% endunless %}
   });
  {% endunless %}

 productSliderAllInOne = new Swiper('#product-main-slider-sc', {
   slidesPerView: 1,
   spaceBetween: 15,
   watchSlidesVisibility: true,
   grabCursor: true,
   slideToClickedSlide: true,
   {% unless isHideThumbs %}
     thumbs: {swiper: productThumbsAllInOne},
   {% endunless %}
   breakpoints: {
     0: {
       pagination: {
         el: '.swiper-pagination',
         clickable: 'true',
         type: 'bullets',
       },
       navigation: {
         nextEl: '#product-main-slider-nav-next',
         prevEl: '#product-main-slider-nav-prev',
         disabledClass: 'disabled'
       }
     },
     760: {
       pagination: {},
       navigation: {}
     }
   }
 });

  $('.thumbs-img').click(function() {
    woopra.track('Product Image Click', {});
  });

  // Product Arrow Click
  $('#product-thumbs-slider-nav-next, #product-thumbs-slider-nav-prev').click(function() {
    woopra.track('Arrow Click', { section: "Product" });
  });
</script>