<div id="product-actions-{{ section.id }}" class="product-actions">
  {% if customer.b2b? and customer.company_available_locations.current? == false %}
    <div class="not-approved-warning">You are not approved yet for wholesale prices, please wait or reach our wholesale manager <a href="mailto:remy@curalife.com?subject=Please Approve My Wholesale User">here</a></div>
  {% endif %}

  {% assign variantQuantity = product.variants | size %}
  {% if variantQuantity > 1 %}
    <div class="cta-title">{{ title }}</div>
  {% endif %}

  <div class="variants {% if variantQuantity == 1 and false %}!hidden{% endif %}">
    {% for var in product.variants %}
      {% if forloop.last %}
        {% render 'product-cta-section-actions-variant-box', section.id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer, isLastRender: true %}
      {% else %}
        {% render 'product-cta-section-actions-variant-box', section.id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, pricePer: pricePer %}
      {% endif %}
    {% endfor %}
  </div>

  {% comment %} {% if variantQuantity == 1 %}
    <div class="product-price">
      <div class="price flex items-center gap-2">
        <div class="real-price text-[40px]">{{ product.price | money }}</div>
        {% if product.compare_at_price > product.price %}
          <div class="compared-at-price line-through text-[--blue]">{{ product.compare_at_price | money }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %} {% endcomment %}

  <div class="submit-wrap flex flex-col">
    {% render 'buy-buttons', product: product, variant: "dynamic", product_form_id: product_form_id, section_id: SID, isBuyQuantity: isBuyQuantity, isBuyWithPrime: isBuyWithPrime %}
  </div>

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
</div>

<style>
  #cta-section-{{ SID }} {
    .product-actions {
      grid-area: 2/2/3/3;
      max-width: 400px;

      .cta-title {
        padding: 10px 0;
      }

      .variants {
        display: flex;
        flex-direction: {% if isReversed %}column-reverse{% else %}column{% endif %};
      }

      .submit-wrap {
        display: flex;
        flex-direction: column;

        button {
          background-color: {{ ctaColor }};
          {% unless isBuyQuantity %}width: 100%;{% endunless %}
          transition: width 0.3s ease;
          border-radius: {% if isBuyQuantity %}10px{% else %}50px{% endif %};

          span.save {
            font-weight: 100;
            border-left: 1px solid white;
            padding-left: 20px;
          }
        }

        .qty-data .qty-control {
          border: 0;
          background: white;
        }
      }
    }

    .variant-notice p {
      background: var(--blue);
      color: white;
      padding: 2px 10px;
      margin: unset;
      font-size: 14px;
    }

    .variant-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 65px;
      background: #fff;
      border: 1px solid #cbcbcb;
      box-sizing: border-box;
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
      transition: all .5s;
      position: relative;
      border-color: var(--primary-color);

      &:hover {
        filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));

        > .radio-box input[type=radio]:after {
          background-color: #a9a9a9;
        }
      }

      .left-side-wrapper {
        display: flex;
      }

      .radio-box {
        align-items: center;
        display: flex;
        padding: 20px;
      }

      .variant-info {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .variant-title {
          margin: 0;
        }

        .variant-infos p {
          font-weight: 200;
          display: inline-block;
          margin: 0;
          font-size: 14px;
          {% if isHighlightSubtitle %}
            color: white;
            border-radius: 15px;
            padding: 2px 10px;
            background: var(--blue);
          {% endif %}

          b {
            font-weight: 700;
          }
        }
      }

      .price {
        display: flex;
        min-width: 70px;
        margin-right: 10px;
        gap: 0.5rem;
        {% if product.metafields.custom.is_price_per_month %}
          flex-direction: column;
          align-items: end;
          gap: unset;
        {% else %}
          align-items: center;
          justify-content: end;
          flex-wrap: wrap;
        {% endif %}

        p {
          margin: unset;
        }

        .calculations {
          display: flex;
          align-items: center;
          justify-content: right;

          p.compared-at-price::after {
            font-size: 0.3rem;
          }
        }

        .per-month {
          color: var(--grey);
          font-size: 16px;
        }

        .compared-at-price {
          line-height: 1rem;

          strike {
            font-size: 13px !important;
          }
        }

        .real-price {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 1270px) {
    #cta-section-{{ SID }} {
      .variant-box {
        width: 100%;

        .variant-info {
          padding: 10px 0;
          width: 95%;
        }

        .price {
          position: absolute;
          right: 10px;
          margin-right: unset;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #cta-section-{{ SID }} {
      .product-actions {
        grid-area: unset;
        grid-row: 3;
        max-width: unset;

        .submit-wrap {
          .qty-data .qty-control {
            border: 1px solid {{ ctaColor }};
          }

          button {
            min-width: 70vw;
          }
        }
      }

      .variant-box {
        justify-content: unset;

        .variant-info {
          .variant-title {
            font-size: 4vw;
          }

          .variant-infos p {
            font-size: 3vw;
          }
        }

        .radio-box {
          padding: 3vw;
        }
      }
    }
  }
</style>

<script>
  document.querySelectorAll("#cta-section-{{ SID }} .variant-box").forEach(function(variantBox) {
    variantBox.addEventListener("click", function() {
      variantBox.querySelector("input[type=radio]").checked = true;

      document.querySelector("#cta-section-{{ SID }} .product-form input[name='id']").value =
        variantBox.querySelector("input[type=radio]").value;
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    let urlParams = new URLSearchParams(window.location.search);
    let defaultVariant = urlParams.get('default-variant');
    let variantBoxes = document.querySelectorAll("#cta-section-{{ SID }} .variant-box");

    if (defaultVariant) {
      variantBoxes[defaultVariant - 1]?.click();
    } else {
      {% if product.variants.size == 1 or request.path contains 'prime' %}
        variantBoxes[0]?.click();
      {% elsif defaultSelectionIndex %}
        variantBoxes[{{ defaultSelectionIndex | minus: 1 }}]?.click();
      {% else %}
        variantBoxes[0]?.click();
      {% endif %}
    }
  });
</script>
