<div class="column-content-block {% if block.settings.alignment %}text-{{ block.settings.alignment }}{% endif %} {% if block.settings.animation != 'none' %}data-aos="{{ block.settings.animation }}"{% endif %} {% if block.settings.animation_duration != blank %}data-aos-duration="{{ block.settings.animation_duration }}"{% endif %} {% if block.settings.additional_classes %}{{ block.settings.additional_classes }}{% endif %}"
	style="{% if block.settings.bg_color %}background-color: {{ block.settings.bg_color }};{% endif %}
	{% if block.settings.padding_top != blank %}padding-top: {{ block.settings.padding_top }}px;{% endif %}
	{% if block.settings.padding_bottom != blank %}padding-bottom: {{ block.settings.padding_bottom }}px;{% endif %}
	{% if block.settings.padding_left != blank %}padding-left: {{ block.settings.padding_left }}px;{% endif %}
	{% if block.settings.padding_right != blank %}padding-right: {{ block.settings.padding_right }}px;{% endif %}
	{% if block.settings.text_color %}color: {{ block.settings.text_color }};{% endif %}
	{% if block.settings.border_radius != blank %}border-radius: {{ block.settings.border_radius }}px;{% endif %}
	{% if block.settings.border_color %}border: 1px solid {{ block.settings.border_color }};{% endif %}
	{% if block.settings.is_shadow %}box-shadow: 0px 4px 20px rgba(0, 0, 0, {{ block.settings.shadow_opacity | divided_by: 100.0 }});{% endif %}">


	{% if block.settings.title != blank %}
		<{{ block.settings.title_tag | default: 'h3' }} class="column-title {% if block.settings.title_color %}text-[{{ block.settings.title_color }}]{% endif %} mb-4">
			{{ block.settings.title }}
		</{{ block.settings.title_tag | default: 'h3' }}>
	{% endif %}

	{% content_for 'blocks' %}
</div>

{% schema %}
	{
		"name": "Blocks Group",
		"blocks": [{ "type": "@theme" }, { "type": "@app" }],
		"settings": [
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Column Title (Optional)"
			},
			{
				"type": "select",
				"id": "title_tag",
				"label": "Title Tag",
				"options": [
					{
						"value": "h2",
						"label": "H2"
					},
					{
						"value": "h3",
						"label": "H3"
					},
					{
						"value": "h4",
						"label": "H4"
					},
					{
						"value": "h5",
						"label": "H5"
					},
					{
						"value": "h6",
						"label": "H6"
					}
				],
				"default": "h3"
			},
			{
				"type": "range",
				"id": "column_width",
				"label": "Column Width (Fraction of Total)",
				"min": 1,
				"max": 12,
				"step": 1,
				"default": 6,
				"info": "Defines width based on a 12-unit grid. Adjust section's column count setting accordingly."
			},
			{
				"type": "header",
				"content": "Styling"
			},
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text Color"
			},
			{
				"type": "color",
				"id": "title_color",
				"label": "Title Color"
			},
			{
				"type": "color",
				"id": "border_color",
				"label": "Border Color"
			},
			{
				"type": "range",
				"id": "border_radius",
				"label": "Border Radius",
				"min": 0,
				"max": 50,
				"step": 1,
				"unit": "px",
				"default": 0
			},
			{
				"type": "checkbox",
				"id": "is_shadow",
				"label": "Add Shadow"
			},
			{
				"type": "range",
				"id": "shadow_opacity",
				"label": "Shadow Opacity",
				"min": 0,
				"max": 100,
				"step": 5,
				"unit": "%",
				"default": 20
			},
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "select",
				"id": "alignment",
				"label": "Content Alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "left"
			},
			{
				"type": "number",
				"id": "padding_top",
				"label": "Padding Top",
				"default": 20
			},
			{
				"type": "number",
				"id": "padding_bottom",
				"label": "Padding Bottom",
				"default": 20
			},
			{
				"type": "number",
				"id": "padding_left",
				"label": "Padding Left",
				"default": 20
			},
			{
				"type": "number",
				"id": "padding_right",
				"label": "Padding Right",
				"default": 20
			},
			{
				"type": "header",
				"content": "Animation"
			},
			{
				"type": "select",
				"id": "animation",
				"label": "Animation",
				"options": [
					{
						"value": "none",
						"label": "None"
					},
					{
						"value": "fade",
						"label": "Fade In"
					},
					{
						"value": "fade-up",
						"label": "Fade Up"
					},
					{
						"value": "fade-down",
						"label": "Fade Down"
					},
					{
						"value": "fade-left",
						"label": "Fade Left"
					},
					{
						"value": "fade-right",
						"label": "Fade Right"
					},
					{
						"value": "zoom-in",
						"label": "Zoom In"
					},
					{
						"value": "zoom-out",
						"label": "Zoom Out"
					}
				],
				"default": "none"
			},
			{
				"type": "range",
				"id": "animation_duration",
				"label": "Animation Duration",
				"min": 200,
				"max": 2000,
				"step": 100,
				"unit": "ms",
				"default": 800
			},
			{
				"type": "header",
				"content": "Advanced"
			},
			{
				"type": "text",
				"id": "additional_classes",
				"label": "Additional CSS Classes"
			}
		],
		"presets": [
			{
				"name": "Blocks Group"
			}
		]
	}
{% endschema %}
