<section id="why-curalin-{{ section.id }}" class="why-curalin">
    <div class="container">
        <div class="data-wrap">
            <div class="widget-with-thumbnail">
                <div class="widget-item-text">
                    <div class="sub-title">
                        <h3><b>{{ section.settings.title }}</b></h3>
                        <div class="description-overlay">
                            <h4>
                                {{ section.settings.description }}
                            </h4>
                        </div>
                    </div>

                    <div class="widget-thumbnail-item">
                        <img src="{{ section.settings.main_image | img_url: 'master' }}" width="709" height="472" alt="">
                    </div>

                    <div class="informer-list">
                        {% for block in section.blocks %}
                        <ul>
                            <li><img src="{{ block.settings.badge_image | img_url: 'medium' }}" height="59" width="58" alt="" loading="lazy"> {{ block.settings.badge_name }}</li>

                        </ul>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<style>

  .why-curalin .sub-title h3 {
    font-size:  clamp(1.4rem, 2vw, 2.4rem);
  }

  .why-curalin .sub-title h4 {
    font-size:  clamp(1.1rem, 2vw, 1.5rem);
  }
    .informer-list {
      font-weight: 300;
      font-size: 1.375rem;
      line-height: 1.3;
      color: #000;
      margin-top: 2.25rem
    }

    .informer-list ul li {
      position: relative;
      padding-left: 3.4375rem;
      margin-bottom: 1.9375rem
    }


    .informer-list ul li img {
      max-width: 1.8125rem;
      max-height: 1.9375rem;
      position: absolute;
      top: 50%;
      left: .3125rem;
      display: inline-block;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translateY(-50%);
    }



    .widget-with-thumbnail {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
    }

    .widget-with-thumbnail:after {
      content: "";
      position: absolute;
      right: -9.5rem;
      top: -3.75rem;
      background-image:url({{ section.settings.bg_image | img_url: 'master'  }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      max-width: 58.125rem;
      width: 100%;
      height: 37.125rem;
      z-index: -1
    }

    .widget-thumbnail-item {
      max-width: 53.4%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: right
    }

    .widget-with-thumbnail {
      position: relative
    }

    .widget-item-text {
      width: 46.6%;
      margin-top: -.375rem;
      padding-right: 1.25rem
    }

    .widget-item-text .description-overlay {
      margin-top: .75rem
    }

    @media screen and (max-width: 991px) {
        .informer-list {
          padding-top: 1.875rem;
          margin: 0;
          font-size: 1.125rem
        }

        .informer-list ul li {
          padding-left: 2.8125rem;
          margin-bottom: .9375rem
        }

        .widget-item-text {
          width: 100%;
          margin-top: 0;
          padding-right: 0
        }

        .widget-thumbnail-item {
          max-width: 100%;
          margin: 0 auto;
          padding-top: 1.875rem;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          position: static;
          text-align: center;
        }
    }

    @media screen and (max-width: 768px){

        .informer-list ul li img {
          max-width: 1.125rem;
          max-height: 1.25rem;
          left: .25rem
        }

        .informer-list {
          padding-top: 1.75rem;
          margin: 0 -15px 0 0;
          font-size: 1.0625rem
        }

        .informer-list ul li {
          padding-left: 2rem;
          margin-bottom: 1.375rem;
        }

        .widget-item-text .description-overlay {
          margin-top: .25rem;
          padding-right: 1.25rem
        }

        .widget-thumbnail-item {
          padding-top: 1.0625rem;
          position: relative
        }

        .widget-thumbnail-item:after {
          content: "";
          position: absolute;
          top: -3.0625rem;
          right: -3.5625rem;
          left: -2.375rem;
          bottom: -4.1875rem;
          background-image:url({{ section.settings.bg_image | img_url: 'master' }});
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: -1
        }

        .widget-with-thumbnail:after {
          display: none
        }
    }
</style>

<style>
    .why-curalin {
      padding-top: 5.25rem;
      padding-bottom: 5.9375rem
    }

    .why-curalin .data-wrap {
      padding: 0 1rem 0 1.75rem
    }

    @media screen and (max-width: 991px) {
        .why-curalin {
          padding-top: 2.1875rem;
          padding-bottom: 2.8125rem
        }
    }

    @media screen and (max-width: 768px) {
        .why-curalin {
          padding-top: 1.0625rem;
          padding-bottom: 1.0625rem
        }
    }

</style>

{% schema %}
    {
        "name": "Why Curalin",
          "disabled_on": {
            "groups": [
              "header",
              "footer"
            ]
          },
          "settings": [
            {
              "type": "image_picker",
              "id": "bg_image",
              "label": "Background Image"
            },
            {
              "type": "image_picker",
              "id": "main_image",
              "label": "Main Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Who is CuraLin for?"
            },
            {
                "type": "text",
                "id": "description",
                "label": "Description",
                "default": "People watching their blood sugar who want to:"
            }
          ],
          "blocks": [
            {
              "type": "badge",
              "name": "Badge",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "badge_image",
                  "label": "Badge Image"
                },
                {
                  "type": "text",
                  "id": "badge_name",
                  "label": "Badge Name"
                }
              ]
            }
          ],
          "presets": [
          {
              "name": "Why Curalin"
          }
        ]
    }
{% endschema %}