<section id="hero-section">
  <div class="container">
    {% if section.settings.logo != blank %}
      <img class="logo" src="{{ section.settings.logo | img_url  }}" width='264'  height="61" alt="logo">
    {% endif %}

    <h1>{{ section.settings.ttl_txt }}</h1>
    <div class="brand-welcome-text">
      <h2 class="v3">{{ section.settings.sub_txt }}
        {% assign text_block = section.blocks | where: 'type', 'text_block' %}
        {% for block in text_block %}
           <span class="title-text" {% unless forloop.first %}
           style="display: none;"
           {% endunless %} >{{ block.settings.spn_txt }}</span>
        {% endfor %}
      </h2>
    </div>
    <div class="brand-intro-cover">
      <span class="brand-intro-cover-img">
        {% assign img_block = section.blocks | where: 'type', 'img_block' %}
        {% for block in img_block %}
            <img class="cover-img" src="{{ block.settings.img_dsk | img_url:'master' }}" width="1063" height="681" alt=""  {% unless forloop.first %}
              style="display: none;"
            {% endunless %} >
        {% endfor %}
      </span>
      <span class="brand-intro-cover-img-mobile">
        {% assign mbimg_block = section.blocks | where: 'type', 'mbimg_block' %}
        {% for block in mbimg_block %}
            <img class="cover-img-mobile" src="{{ block.settings.img_mb | img_url:'master'}}" width="1063" height="681" alt="" {% unless forloop.first %}
            style="display: none;"
            {% endunless %} >
        {% endfor %}

      </span>
    </div>
  </div>
</section>

<style>
  #hero-section {
    padding-top: {% if section.settings.is_flash %}100px{% else %} 50px{% endif %};
  }

  #hero-section:before {
    content: "";
    width: 220vw;
    position: absolute;
    top: 0px;
    height: 120%;
    left: -20vw;
    z-index: -5;
    background: {{ section.settings.bg_color }};
  }

  #hero-section img.logo {
    width: 150px;
    margin: unset;
    margin-bottom: 50px;
  }

  #hero-section .brand-intro-cover span {
    width: 80%;
    display: block;
    position: absolute;
    top: -200px;
    right: -4.875rem;
    bottom: 0;
    z-index: -1;
    padding-top: 11vw;
  }

  #hero-section .brand-intro-cover span img {
    width: 100%;
    height: 100%;
    object-fit: contain
  }

  #hero-section h1 {
    max-width: 360px;
    font-size: clamp(28px, 3vw, 48px);
    font-weight: 100;
  }

  #hero-section .brand-welcome-text span,
  #hero-section .brand-welcome-text b,
  #hero-section .brand-welcome-text strong {
    font-weight: 700
  }

  #hero-section .brand-welcome-text span.typed-cursor {
    font-weight: 200;
  }

  .brand-intro-cover-img-mobile {
    display: none !important;
  }

  #hero-section .brand-welcome-text {
    padding: 6rem 0 0;
  }

  #hero-section .brand-welcome-text * {
    color: {{ section.settings.wlcm_txt }};
    line-height: 1.2;
    font-size: 70px;
    background: {{ section.settings.wlcm_bg }};
    width: max-content;
    margin: unset;
  }

  @media screen and (max-width: 991px) {
    #hero-section .brand-logo {
      max-width: 9.5rem
    }

    #hero-section:before {
      bottom: 2.5rem
    }

    #hero-section .brand-welcome-text * {
      font-size: 3.125rem
    }

    #hero-section .brand-welcome-text {
      padding: 4.375rem 0 2.5rem
    }

    #hero-section .brand-intro-cover span {
      top: -1.25rem
    }

    @media screen and (max-width: 768px) {
      #hero-section .container {
        margin: unset;
      }
      #hero-section .brand-intro-cover span {
        width: 100%;
        position: static
      }

      #hero-section .brand-intro-cover {
        margin: 0 -6.0625rem 0 -3.25rem;
      }

      #hero-section h1 {
        width: unset;
        text-align: center;
        max-width: unset;
        font-size: 10vw;
      }

      #hero-section .brand-welcome-text * {
        font-size: 8vw;
        color: {{ section.settings.wlc_mbtxt }};
        background: unset;
      }

      #hero-section .brand-welcome-text {
        padding: .875rem 0;
        margin: 0 -15px 0 5%;
      }

      #hero-section:before {
        height: 145vw;
      }

      #hero-section img.logo {
        display: flex;
        margin: 20px auto;
        width: 120px;
      }

      #hero-section .brand-intro-cover-img-mobile {
        display: block !important;
        position: absolute !important;
        top: 45vw !important;
        height: 80vw;
        width: 110vw !important;
        left: -8vw;
      }

      #hero-section .brand-welcome-text {
        margin: 0;
        padding-top: 10px;
        margin-left: 2vw;
      }

      #hero-section .brand-intro-cover-img {
        display: none !important;
      }

      #hero-section {
        min-height:{% if section.settings.is_flash %} 150vw {% else %} 135vw{% endif %};
        overflow: visible;
        padding-top: {% if section.settings.is_flash %}100px {% else %}5vw{% endif %};
      }
    }
  }
</style>

<script>
  // Fade Quotes
  var quotes = $(".title-text");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length)
      .fadeIn(900)
      .delay(1500)
      .fadeOut(900, showNextQuote);
  }

  showNextQuote();

  $next = 1;
  $current = 0;
  $nextM = 1;
  $currentM = 0;
  $interval = 1500;
  $fadeTime = 1800;
  $imgNum = 5;

  $(document).ready(function () {
    $('.brand-intro-cover-img img').css({ 'position': 'absolute' });
    $('.brand-intro-cover-img-mobile img').css({ 'position': 'absolute' });
    nextFadeIn();
    nextFadeInM();
  });

  function nextFadeIn() {
    $('.brand-intro-cover-img img').eq($current).delay($interval).fadeOut($fadeTime)
      .end().eq($next).delay($interval).hide().fadeIn($fadeTime, nextFadeIn);

    if ($next < $imgNum - 1) { $next++; } else { $next = 0; }
    if ($current < $imgNum - 1) { $current++; } else { $current = 0; }
  };

  function nextFadeInM() {
    $('.brand-intro-cover-img-mobile img').eq($currentM).delay($interval).fadeOut($fadeTime)
      .end().eq($nextM).delay($interval).hide().fadeIn($fadeTime, nextFadeInM);

    if ($nextM < $imgNum - 1) { $nextM++; } else { $nextM = 0; }
    if ($currentM < $imgNum - 1) { $currentM++; } else { $currentM = 0; }
  };
</script>

<script>
  if (!$("#hero-section .brand-welcome-text .v3").length) {
    let typed = new Typed('#hero-section .brand-welcome-text span', {
      strings: ["sleep well", "eat well", "feel energetic", "stay romantic", "stay healthy"],
      typeSpeed: 50,
      backDelay: 3000,
      backSpeed: 30,
      loop: true
    });
  }
</script>

<script>
  const modifyProductLinks = () => {
    const getProductValue = () => new URLSearchParams(window.location.search).get("product");

    const replaceProductSegment = (url, productValue) => {
      if (!url || !productValue) return url;

      const parsedUrl = new URL(url);
      const pathParts = parsedUrl.pathname.split('/');
      const productIndex = pathParts.indexOf('products');

      if (productIndex === -1 || productIndex === pathParts.length - 1) return url;

      pathParts[productIndex + 1] = productValue;
      parsedUrl.pathname = pathParts.join('/');
      parsedUrl.searchParams.delete("product");

      return parsedUrl.toString();
    };

    const productReplacement = getProductValue();
    if (!productReplacement) return;

    // Target links within a specific class, or use another selector as needed
    document.querySelectorAll('a.your-specific-class').forEach(link => {
      const currentHref = link.getAttribute('href');
      const newHref = replaceProductSegment(currentHref, productReplacement);
      link.setAttribute('href', newHref);
    });
  };

  document.addEventListener('DOMContentLoaded', modifyProductLinks);
</script>


{% schema %}
{
   "name":"Aio Hero",
   "disabled_on":{
      "groups":[
         "header",
         "footer"
      ]
   },
   "settings":[
       {
           "type":"image_picker",
           "id":"logo",
           "label":"Logo"
        },
      {
         "type":"color",
         "id":"bg_color",
         "label":"Background Color",
         "default": "#e8e8e8"
      },
      {
        "type": "color",
        "id": "wlcm_bg",
        "label": "Welcome Background",
        "default": "#404733"
      },
      {
        "type": "color",
        "id": "wlcm_txt",
        "label": "Welcome Text",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "wlc_mbtxt",
        "label": "Welcome Mobile Text",
        "default": "#404733"
      },
      {
        "type": "checkbox",
        "id": "is_flash",
        "label": "Flash Header"
      },
      {
        "type": "text",
        "id": "ttl_txt",
        "label": "Title",
        "default": "Natural & Effective Blood Sugar Support"
      },
      {
        "type": "text",
        "id": "sub_txt",
        "label": "Welcome Subtitle",
        "default": "So you can"
      }
   ],
   "blocks": [
      {
         "name": "Text Block",
         "type": "text_block",
         "settings": [
          {
            "type":"text",
            "id":"spn_txt",
            "label":"Span Text"
          }
         ]
      },
      {
         "name": "Image Block",
         "type": "img_block",
         "settings": [
          {
            "type":"image_picker",
            "id":"img_dsk",
            "label":"Desktop Image"
          }
         ]
      },
      {
         "name": "Image Mobile Block",
         "type": "mbimg_block",
         "settings": [
          {
            "type":"image_picker",
            "id":"img_mb",
            "label":"Mobile Image"
          }
         ]
      }
   ],
   "presets": [
      {
         "name":"Aio Hero"
      }
   ]
}
{% endschema %}