{% if section.settings.heading != blank or section.settings.subheading != blank %} 
  {% if section.settings.cir-bg-color != blank %}
    <style>
      .circulatory__block{
        background-color: {{section.settings.cir-bg-color}};
      }
    </style>
  {% endif %}	
  {% if section.settings.cir-bg-img != blank %}
    <style>
      @media only screen and (max-width: 480px){
        .circulatory__block{
          	background-image: url("{{section.settings.cir-bg-img | img_url: "master"}}");
            background-color:#E11948;
            background-repeat: no-repeat;
            background-position:left bottom;
            background-size: contain;
        }
      }
    </style>
  {% endif %}		
  <div class="circulatory__block">
    {% if section.settings.cir-main-image != blank %}
   		 <img src="{{section.settings.cir-main-image | img_url: "master"}}" alt="syrup" loading="lazy">
    {% endif %}
      <div class="outer__circulatory">
        <div class="top__circulatory">
          <div class="txt__circulatory">
            {% if section.settings.heading != blank %}
           		 <h6>{{ section.settings.heading }}</h6>
            {% endif %}
            {% if section.settings.subheading != blank %}
           		 <h2>{{ section.settings.subheading }}</h2>
            {% endif %}
            {% if section.settings.desc_left != blank %}
            	{{ section.settings.desc_left }}
            {% endif %}
          </div>
          {% if section.settings.image-right != blank %}
         	<div class="image__circulatory">
            	<img src="{{ section.settings.image-right | img_url: "master" }}" alt="fullbody" loading="lazy">
          	</div>
          {% endif %}
        </div>
        <div class="syrup__block">
          {% if section.settings.image-left != blank %}
         	 <div class="syrup__image">
            	<img src="{{ section.settings.image-left | img_url: "master" }}" alt="syrup" loading="lazy">
          	</div>
          {% endif %}
  		  {% if section.settings.desc_right != blank %}	
            <div class="syrup__text">
              {{ section.settings.desc_right }}
            </div>
          {% endif %}
        </div>
      </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Circulatory Section",
    "settings": [
	  {
        "type": "color",
        "id": "cir-bg-color",
        "label": "Background Color"
      },	
	  {
		"type" : "image_picker",
		"id" : "cir-bg-img",
		"label" : "Mobile Background Image"
	  },	
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
	  {
        "type": "image_picker",
        "id": "cir-main-image",
        "label": "Main Image"
      },
	  {
        "type": "html",
        "id": "desc_left",
        "label": "Content On Left"
      },	
	  {
        "type": "html",
        "id": "desc_right",
        "label": "Content On Right"
      },	
	  {
        "type": "image_picker",
        "id": "image-left",
        "label": "Image On Left"
      },
	  {
        "type": "image_picker",
        "id": "image-right",
        "label": "Image On Right"
      }
  	]
  }		
{% endschema %}
