{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" %}

<section class="article-page">
  <div class="container">
    <div class="article-wrap flex flex-wrap justify-between">
      <h1 class="text-[48px] m-0">{{ article.title }}</h1>

      <div class="article-info w-full mb-[30px]">
        <div class="details">By {{ article.author }}, {{ article.published_at | date: '%B %d, %Y' }}</div>
      </div>

      <div class="content w-[60%] pb-16">
        <div class="picture-container mb-[30px]">
          {% if article.image %}
            {% unless article.metafields.custom.hide_article_image == "true" %}
              <img class="h-[400px] md:h-[250px] w-full" id="featured-image" src="{{ article.image | image_url }}" alt="" height="400" loading="lazy">
            {% endunless %}
          {% endif %}
        </div>

        <div class="text text-[20px]">{{ article.content }}</div>
      </div>
    </div>

    <div id="stickySidebar" class="sidebar w-[33%] absolute md:!static top-[100px] right-0">
      {% assign all_the_tags = article.tags | join: ',' %}
      {% assign current = article.id %}
      {% assign related_count = 0 %}

      <div class="related-posts px-4 py-8 bg-[#F1F1F1]">
        <h4>Related Topics</h4>

        <div class="posts-list flex flex-col gap-4">
          {% for loop_article in blog.articles %}
            {% if related_count >= 5 %}
              {% break %}
            {% endif %}

            {% unless loop_article.id == current %}
              {% for tag in loop_article.tags %}
                {% if all_the_tags contains tag %}
                  <a href="{{ loop_article.url }}">
                    <div class="article-card flex-nowrap flex gap-2">
                      <div class="picture w-[110px] h-[60px] overflow-hidden border-r-2">
                        <img src="{{ loop_article.image | image_url }}" width="110" height="60" alt="{{ loop_article.title }} article thumbnail" loading="lazy">
                      </div>

                      <div class="info flex flex-col">
                        <h4 class="text-[20px] m-0 line-clamp-2">{{ loop_article.title }}</h4>
                        <div class="date text-[14px]">{{ loop_article.published_at | date: '%B %d, %Y' }}</div>
                      </div>
                    </div>
                  </a>

                  {% assign related_count = related_count | plus: 1 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'newsletter-form' %}

<script>
  $(document).ready(function(){
    $(window).on('scroll', function(){
      var scrollPosition = $(this).scrollTop();
      var articleBottom = $('.content').offset().top + $('.content').height();
      var sidebarHeight = $('#stickySidebar').height();

      // Start with a 100px offset
      var offsetTop = 100;

      // Change to 30px offset when scrolling starts
      if (scrollPosition > 0) {
        offsetTop = 0;
      }

      if (scrollPosition + sidebarHeight < articleBottom) {
        $('#stickySidebar').css('top', scrollPosition + offsetTop + 'px');
      }
    });
  });
</script>

<style>
  .article-wrap h3 {
    font-size: 30px;
  }

  .article-top {
      padding: 50px 0;
      text-align: center;
  }

  a:hover {
      text-decoration: unset;
  }

  .article-author .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }

  .article-author .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  .article-wrap .intro-data {
      width: 100%;
  }
  .introhide {
      display: none;
  }

  .article-wrap .content .text p {
      margin-bottom: 15px;
  }

  .article-wrap .content .text h2 {
      font-size: 36px;
  }

  @media screen and (max-width: 768px) {
    .article-wrap .content {
        width: 100%;
    }
    .article-wrap .content .text {
        font-size: 18px;
        line-height: 1.33;
    }
    .article-wrap .content .text h2 {
        font-size: 24px;
    }
  }
</style>

{% schema %}
{
  "name": "Article Pages",
  "settings": []
}
{% endschema %}