{% if section.settings.heading != blank or section.settings.subheading1 != blank or section.settings.subheading2 != blank or section.settings.article-banner-content != blank %}
  {% if section.settings.article-bg-color != blank %}
    <style>
      .main__diabet{
        background-color: {{section.settings.article-bg-color}};
      }
    </style>
  {% endif %}	
<div class="main__diabet">
		<div class="outer__diabet">
			<div class="text__info">
				{% if section.settings.heading != blank %}
         	 		<p>{{ section.settings.heading }}</p>
          		{% endif %}
				{% if section.settings.subheading1 != blank %}
         	 		<h1>{{ section.settings.subheading1 }}</h1>
          		{% endif %}
				 {% if section.settings.subheading2 != blank %}
         	 		<p>{{ section.settings.subheading2 }}</p>
          		{% endif %}
				{% if section.settings.article-banner-content != blank %}
         	 		<div class="desc">
            	  		<p>{{ section.settings.article-banner-content }}</p>
           	 		</div>
          		{% endif %}
			</div>
			{% if section.settings.banner-image != blank %}
          		<div class="image__diabet">
              		<img src="{{ section.settings.banner-image | img_url: 'master'}}" alt="mainhero" loading="lazy">
          		</div>
        	{% endif %}
		</div>
	</div>
{% endif %}


{% schema %}
  {
    "name": "Article Banner Section",
    "settings": [
		{
          "type": "color",
          "id": "article-bg-color",
          "label": "Background Color"
		},
		{
            "type": "text",
            "id": "heading",
            "label": "Section Title"
        },
		{
            "type": "text",
            "id": "subheading1",
            "label": "Section Subheading1"
        },
		{
            "type": "text",
            "id": "subheading2",
            "label": "Section Subheading2"
        },
		{
            "type": "textarea",
            "id": "article-banner-content",
            "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "banner-image",
          "label": "Banner Image"
        }
		
	]
  }
{% endschema %}
