{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" %}

<section class="article-page">
  <div class="container">
    <div class="article-data">
      <div class="article-wrap flex flex-wrap justify-between">
        <h1 class="text-[40px] m-0">{{ article.title }}</h1>

        <div class="article-author w-full mb-[30px]">
          <div class="details">By {{ article.author }}</div>
        </div>

        <div class="content w-[60%]">
          <div class="picture-container mb-[30px]">
            {% if article.image %}
              {% unless article.metafields.custom.hide_article_image == "true" %}
                <img class="h-[400px] w-full" id="featured-image" src="{{ article.image | image_url }}" alt="" height="410" loading="lazy">
              {% endunless %}
            {% endif %}
          </div>

          <div class="text">{{ article.content }}</div>
        </div>

        {% if section.settings.sidepst_img != blank %}
          <div class="sidebar desktop w-[33%]">
            {% assign all_the_tags = article.tags | join: ',' %}
            {% assign current = article.id %}
            {% assign related_count = 0 %}

            <div class="related-posts p-4 bg-[#F1F1F1]">
              <h4>Related topics</h4>

              <div class="posts-list flex flex-col gap-4">
                {% for loop_article in blog.articles %}
                  {% if related_count >= 5 %}
                    {% break %}
                  {% endif %}

                  {% unless loop_article.id == current %}
                    {% for tag in loop_article.tags %}
                      {% if all_the_tags contains tag %}
                        <a href="{{ loop_article.url }}">
                          <div class="article-card flex-nowrap flex gap-2">
                            <div class="picture w-[110px] h-[60px] overflow-hidden border-r-2">
                              <img src="{{ loop_article.image | image_url }}" width="110" height="60" alt="{{ loop_article.title }} article thumbnail" loading="lazy">
                            </div>

                            <div class="info flex flex-col">
                              <h4 class="text-[20px] m-0 line-clamp-2">{{ loop_article.title }}</h4>
                              <div class="date text-[14px]">{{ loop_article.published_at | date: '%B %d, %Y' }}</div>
                            </div>
                          </div>
                        </a>

                        {% assign related_count = related_count | plus: 1 %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endunless %}
                {% endfor %}
              </div>
            </div>

            <a class="banner click" id="article_sidebar" href="{{ section.settings.sidepst_url}}">
              <img src="{{ section.settings.sidepst_img | image_url: width: 308 }}" width="259" height="512" alt="" loading="lazy">
            </a>
          </div>
        {% endif %}
      </div>

      <div class="share-post">
        <div class="container">
          <div class="share-wrap">
            {% if section.settings.socil_titl != blank %}
              <p>{{section.settings.socil_titl}}</p>
            {% endif %}
            <ul>
              {% for block in section.blocks %}
                {% if block.type == 'socl_icn' %}
                  {% if block.settings.blg_icn != blank %}
                    <li>
                      <a href="{{block.settings.blg_icnlink}}">
                        <span class="{{block.settings.blg_icn}}"></span>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      {% if section.settings.mobile_img != blank %}
        <div class="article-bottom">
          <a class="banner click" id="article_bottom" href="{{ section.settings.sidepst_url}}">
            <img src="{{ section.settings.mobile_img | image_url: width: 308 }}" width="260px" height="512px" alt="" loading="lazy">
          </a>
        </div>
      {% endif %}

      <div class="posts-categories">
        <h2>Blog Categories</h2>

        <ul class="blog-category flex justify-center">
          {% for tag in blog.all_tags %}
            {% if blog_categories contains tag %}
                {% assign crTag = tag %}
                {% if current_tags contains crTag %}
                {% assign cls = "active" %}
                {% else %}
                {% assign cls = "" %}
                {% endif %}
                <li class="{{ cls }}"><a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% render 'newsletter-form' %}

<style>
  .article-wrap h3 {
    font-size: 30px;
  }

  .article-top {
      padding: 50px 0;
      text-align: center;
  }

  a:hover {
      text-decoration: unset;
  }

  .article-author .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }

  .article-author .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  .article-wrap .intro-data {
      width: 100%;
  }
  .introhide {
      display: none;
  }

  .article-wrap .content .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: #222222;
  }
  .text p {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.6;
      color: #222222;
  }
  .article-wrap .content .text p {
      margin: 0;
      padding-bottom: 20px;
  }
  .article-wrap .content .text p:last-child {
      padding-bottom: 0;
  }

  .article-wrap .content .text h2 {
      font-size: 36px;
  }

  .share-post {
      padding: 20px 0;
      margin-top: 60px;
      background: #f5f5f5;
  }

  .share-post .share-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .share-post p {
      display: flex;
      margin: 0;
      padding: 0 31px 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
  }
  .share-post ul {
      display: flex;
      flex-wrap: wrap;
  }
  .share-post ul li {
      display: flex;
  }

  .share-post ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 10px;
      height: 40px;
      font-size: 22px;
  }

  .article-data .article-bottom {
      padding: 29px 0 2px;
  }

  .article-bottom {
      display: none;
  }

  .article-data .article-bottom a {
      display: block;
      max-width: 283px;
      margin: 0 auto;
  }

  .related-posts .posts-wrap .posts-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
  }

  @media screen and (max-width: 768px) {
    .article-top {
        padding-bottom: 33px;
    }
    .article-wrap .title h1 {
        font-size: 28px;
    }

    .article-wrap .content {
        width: 100%;
    }
    .article-wrap .content .text {
        font-size: 18px;
        line-height: 1.33;
    }
    .article-wrap .content .text h2 {
        font-size: 24px;
    }
    .article-wrap .sidebar {
        display: none;
    }
    .share-post {
        padding: 27px 0;
        margin-top: 27px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .share-post p {
        width: 100%;
        padding: 0;
        font-size: 18px;
        justify-content: center;
    }
    .share-post ul {
        width: 100%;
        justify-content: center;
        padding-top: 15px;
    }
    .share-post ul li a {
        margin: 5px 10px;
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
  }

  @media screen and (max-width: 640px) {
    .article-bottom {
        display: block;
    }
  }

  .article-card .info .main-info .title h3 a {
      color: inherit;
      transition: color var(--transition);
  }
  .blog-page {
      padding-bottom: 50px;
  }

  .blog-category ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .blog-category ul li {
      display: flex;
      text-align: center;
      margin-bottom: 10px;
      padding-right: 13px;
  }
  .blog-category ul li a {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      letter-spacing: -.284583px;
      color: var(--green);
      white-space: nowrap;
      border: 1px solid var(--green);
      border-radius: 5px;
      transition: color var(--transition),border-color var(--transition),background-color var(--transition);
  }
  .blog-category ul li.active a {
      color: #fff;
      background: var(--green);
  }
  .article-list {
      display: flex;
      flex-wrap: wrap;
  }

  .article-card .picture .category {
      max-width: 100%;
      padding: 17px 20px;
      background: var(--green);
      border-radius: 0 2px 2px 0;
      position: absolute;
      left: 0;
      bottom: 20px;
      z-index: 3;
      min-width: 140px;
      text-align: center;
  }
  .article-card .picture .category p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      letter-spacing: -.284583px;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
  .article-card .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
  }
  .article-card .info .main-info {
      padding-right: 10px;
  }

  @media screen and (max-width: 768px){
    .blog-category {
        padding-top: 20px;
    }
    .article-card {
        width: 100%;
    }
    .article-list .article-card:first-child {
        flex-direction: column;
    }
    .article-list .article-card:first-child .picture {
        width: 100%;
    }
    .article-list .article-card .picture:before {
        padding-bottom: 67.7%;
    }
    .article-list .article-card:first-child .picture:before {
        padding-bottom: 67.7%;
    }
    .article-card .picture .category {
        padding: 17px 20px;
        bottom: 24px;
    }
    .article-card .picture .category p {
        font-size: 16px;
    }
    .article-list .article-card:first-child .info .main-info {
        padding: 0;
    }
    .article-card {
        width: 100%;
    }
    .article-list .article-card:first-child {
        flex-direction: column;
    }
    .article-list .article-card:first-child .info .main-info .title {
        padding-top: 12px;
    }
    .article-card .info .main-info .title {
        padding-top: 12px;
    }
    .article-card .info .main-info .title h3 {
        font-size: 16px;
    }
    .article-list .article-card:first-child .info .main-info .offer {
        padding-top: 19px;
        padding-right: 10px;
    }
    .article-list .article-card .info .main-info .offer {
        padding-top: 19px;
        padding-right: 10px;
    }
    .article-card .info .main-info .offer p {
        font-size: 18px;
    }
    .article-list .article-card:first-child .info .main-info .description {
        display: none;
    }
    .article-list .article-card .info .main-info .description {
        padding-top: 24px;
    }
    .article-card .info .main-info .description p {
        font-size: 14px;
    }
    .article-card .info .article-author {
        padding-top: 22px;
        display: none;
    }
  }
</style>

{% schema %}
{
  "name": "Article Pages",
  "settings": [
    {
      "type": "image_picker",
      "id": "singpst_img",
      "label": "Select Image"
    }, {
      "type": "url",
      "id": "singpst_url",
      "label": "Link"
    }, {
      "type": "image_picker",
      "id": "authr_blgimg",
      "label": "Select Author Image"
    }, {
      "type": "image_picker",
      "id": "sidepst_img",
      "label": "Select Sidebar Image"
    }, {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Select Mobile Image"
    }, {
      "type": "url",
      "id": "sidepst_url",
      "label": "Link for sidebar image and (Mobile Image)"
    }, {
      "type": "header",
      "content": "Social Share Section Start"
    }, {
      "type": "text",
      "id": "socil_titl",
      "label": "Title",
      "default": "Enter Title"
    }, {
      "type": "header",
      "content": "Newsletter Section Start"
    }
  ],
  "blocks": [
    {
      "type": "socl_icn",
      "name": "Social Icons",
      "settings": [
        {
          "type": "text",
          "id": "blg_icn",
          "label": "Facebook Icone",
          "default": "icon-b-fb"
        }, {
          "type": "url",
          "id": "blg_icnlink",
          "label": "Facebook Link"
        }
      ]
    }
  ]
}
{% endschema %}