{% if section.settings.heading != blank or section.settings.subheading != blank or section.settings.content != blank or section.blocks != blank %}
{% if section.settings.bg-img != blank %}
  <style>
      .supplements__block{
          background-image: url("{{section.settings.bg-img | img_url: "master"}}");
      }
  </style>
{% endif %}
{% if section.settings.bg-img-mobile != blank %}
  <style>
    @media only screen and (max-width: 480px){
        .supplements__block{
            background-image: url("{{section.settings.bg-img-mobile | img_url: "master"}}");
        }
    }
  </style>
{% endif %}
<div class="supplements__block">
  {% if section.settings.arrow-image != blank %}
 	 <img src="{{section.settings.arrow-image | img_url: "master"}}" alt="supplements" loading="lazy">
  {% endif %}
  {% if section.settings.heading != blank or section.settings.subheading %}
    <div class="outer__supplements">
      {% if section.settings.heading != blank %}
     	 <h6>{{ section.settings.heading }}</h6>
      {% endif %}
      {% if section.settings.subheading != blank %}
     	 <h2>{{ section.settings.subheading }}</h2>
      {% endif %}
    </div>
  {% endif %}
</div>
<div class="info__supplements">
  {% if section.settings.content != blank %}
    <div class="outer__info--supplements">
    	{{section.settings.content}}
      	{% if section.settings.desc-img %}
      		<img src="{{ section.settings.desc-img | img_url: "master" }}" loading="lazy">
      	{% endif %}
    </div>
  {% endif %}
  {% if section.blocks != blank %}
    <div class="supplements__images">
      {%- for block in section.blocks -%}
      	{% if block.type == 'supplements-images' %}
       		<img src="{{block.settings.sup-image | img_url : "master" }}" class="{% if block.settings.sup-class != blank %}{{ block.settings.sup-class }}{% endif %}" loading="lazy">
      	{% endif %}
      {%- endfor -%}
    </div>
  {% endif %}
</div>
{% if section.blocks != blank %}
<div class="diabet__compounds">
  <div class="outer__compounds">
   {% if section.settings.compound-heading != blank %}	
      <div class="head__compounds">
        <h2>{{section.settings.compound-heading}}</h2>
      </div>
   {% endif %}
    <div class="compounds__inner">
      {%- for block in section.blocks -%}
      	{% if block.type == 'compound-list' %}
          <div class="elem__compound">
            {% if block.settings.compound-list-image != blank %}
              <div class="image__compound">
                <img src="{{ block.settings.compound-list-image | img_url: "master" }}" alt="compound" loading="lazy">
              </div>
            {% endif %}
            <div class="text__compound">
              	{% if block.settings.comp-list-heading != blank %}
             		<p>{{ block.settings.comp-list-heading }}</p>
              	{% endif %}
              	{% if block.settings.comp-list-content != blank %}
              		 {{block.settings.comp-list-content}}
              	{% endif %}
            </div>
          </div>
      	{% endif %}
	  {%- endfor -%}	
    </div>
  </div>
</div>
{% endif %}
{% endif %}

{% schema %}
  {
    "name": "Ayurvedic Supplements",
    "settings": [	
	  {
		"type" : "image_picker",
		"id" : "bg-img",
		"label" : "Background Image"
	  },	
	  {
		"type" : "image_picker",
		"id" : "bg-img-mobile",
		"label" : "Mobile Background Image"
	  },	
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading"
      },
	  {
        "type": "text",
        "id": "subheading",
        "label": "Section Subheading"
      },
	  {
     	 "type": "image_picker",
    	  "id": "arrow-image",
    	  "label": "Top Arrow Image"
      },
	  {
		"type" : "html",
		"id" : "content",
		"label" : "Description"
	  },
	  {
		"type" : "image_picker",
		"id" : "desc-img",
		"label" : "Description Image"
	  },
	  {
		"type" : "text",
		"id" : "compound-heading",
		"label" : "Compound List Heading"	
	  }	
  	],
	"blocks": [
      {   
        "type": "supplements-images",
        "name": "Supplements Image",
        "settings": [
			{
				"type" : "text",
				"id" : "sup-class",
				"label" : "Image Class"
			},
            {
            	"type": "image_picker",
            	"id": "sup-image",
           		"label": "Image"
            }
        ]
      },
	  {   
        "type": "compound-list",
        "name": "Compound List",
        "settings": [
			{
				"type" : "text",
				"id" : "comp-list-heading",
				"label": "Heading"
			},
			{
				"type" : "html",
				"id" : "comp-list-content",
				"label": "Content"
			},
            {
            	"type": "image_picker",
            	"id": "compound-list-image",
           		"label": "Image"
            }
        ]
      }	
	]
  }		
{% endschema %} 