{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" %}
{% assign variable = value %}

<div class="article-page">
  <div class="container">
    {% if section.settings.singpst_img != blank %}
      <div class="article-top py-[50px]">
        <a class="banner click" id="article_top" href="{{ section.settings.singpst_url}}">
          <img src="{{ section.settings.singpst_img | image_url }}" alt="" loading="lazy" height="175" style="width:100%">
        </a>
      </div>
    {% endif %}

      <div class="article-data">
        <div class="article-wrap">
          <div class="title">
            <h1>{{ article.title }}</h1>
          </div>
          {% capture CFH %}{{ content_for_header }}{% endcapture %}

          {% if CFH contains 'adminBarInjector' %}
          {% assign admin = true %}
          {% elsif CFH contains 'admin-bar-iframe' %}
          {% assign admin = true %}
          {% elsif CFH contains 'preview_bar_injector-' %}
          {% assign admin = true %}
          {% endif %}

          {% if admin %}
            <div class="edit">
              <a href="/admin/articles/{{ article.id }}"> <i class="icofont-ui-edit" style="position:relative;top:10px;left:20px;font-size:20px;"></i></a>
            </div>
          {% endif %}

          <div class="article-author">
            {% if article.user.image %}
              <div class="photo">
                <img src="{{ article.user.image | image_url: width: 250 }}" width="40px" height="40px" alt="{{ article.author }}" loading="lazy">
              </div>
            {% else %}
              <div class="photo">
                <img src="{{ section.settings.authr_blgimg | image_url: width: 250 }}" width="40px" height="40px" alt="{{ article.author }}" loading="lazy">
              </div>
            {% endif %}
            <div class="details">{{ article.author }}</div>
          </div>

          <div class="intro-data introhide">
            <div class="content">
              <div class="text">
                <p>
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="content w-[66%]">
            <div class="picture-container">
              <div class="img-wrap">
                {% if article.image %}
                  {% unless article.metafields.custom.hide_article_image == "true" %}
                    <img id="featured-image" src="{{ article.image | image_url }}" alt="" loading="lazy">
                  {% endunless %}
                {% endif %}
              </div>
            </div>
            <div class="text">
              {{ article.content }}
            </div>
          </div>
          {% if section.settings.sidepst_img != blank %}
            <div class="sidebar w-[33%]">
              <a class="banner click" id="article_sidebar" href="{{ section.settings.sidepst_url}}">
                <img src="{{ section.settings.sidepst_img | image_url: width: 308 }}" width="259px" height="512px" alt="" loading="lazy">
              </a>
            </div>
          {% endif %}
        </div>

        <div class="share-post">
          <div class="container">
            <div class="share-wrap">
              {% if section.settings.socil_titl != blank %}
                <p>{{section.settings.socil_titl}}</p>
              {% endif %}
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'socl_icn' %}
                    {% if block.settings.blg_icn != blank %}
                      <li>
                        <a href="{{block.settings.blg_icnlink}}">
                          <span class="{{block.settings.blg_icn}}"></span>
                        </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>


        {% if section.settings.mobile_img != blank %}
          <div class="article-bottom">
            <a class="banner click" id="article_bottom" href="{{ section.settings.sidepst_url}}">
              <img src="{{ section.settings.mobile_img | image_url: width: 308 }}" width="260px" height="512px" alt="" loading="lazy">
            </a>
          </div>
        {% endif %}

        {% capture all_the_tags %}
          {% for tag in article.tags %}
            {{ tag }}
          {% endfor %}
        {% endcapture %}
        {% assign current = article.id %}
        {% assign count = 0 %}
        <div class="related-posts">
          <div class="container">
            <div class="posts-wrap">
              <div class="sub-title">
                <h2>Related Articles</h2>
              </div>
              <div class="posts-list">
                {% for article in blog.articles %}
                  {% if count <= 2 %}
                    {% unless article.id == current %}
                      {% for tag in article.tags %}
                        {% if all_the_tags contains tag %}
                            <div class="article-card">
                              <div class="picture">
                                <a href="{{ article.url }}" class="main-link"></a>
                                {% if article.image %}
                                  <img src="{{ article.image | image_url }}" alt="" loading="lazy">
                                {% endif %}
                                {% if article.tags.size > 0 %}
                                  {% for tag in article.tags %}
                                    <div class="category">
                                      <p>{{ tag }}</p>
                                    </div>
                                  {% endfor %}
                                {% endif %}
                              </div>

                              <div class="info">
                                <div class="main-info">
                                  <div class="title">
                                    <h3>
                                      <a href="{{ article.url }}">{{ article.title }}</a>
                                    </h3>
                                  </div>
                                  <div class="offer">
                                    <p>{{settings.offer_desc}}</p>
                                  </div>
                                  <div class="description">
                                    <p>
                                      {% if article.excerpt.size > 0 %}
                                        {{ article.excerpt }}
                                      {% else %}
                                        {{ article.content | strip_html | truncate: 150 }}
                                      {% endif %}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% assign count = count | plus: 1 %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="posts-categories">
          <div class="sub-title">
            <h2>Blog Categories</h2>
          </div>

          <div class="blog-category">
            <div class="category-wrap">
              <div class="touch-scroll">
                <div class="scroll-wrap">
                  <ul>
                    {% for tag in blog.all_tags %}
                      {% if blog_categories contains tag %}
                          {% assign crTag = tag %}
                          {% if current_tags contains crTag %}
                          {% assign cls = "active" %}
                          {% else %}
                          {% assign cls = "" %}
                          {% endif %}
                          <li class="{{ cls }}"><a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% render 'newsletter-form' %}

<style>
  .article-wrap h3 {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    .article-wrap .sidebar {
        display: none;
    }
  }

  .article-page {
      padding-bottom: 60px;
  }

  .article-top {
      padding: 50px 0;
      text-align: center;
  }
  a:hover {
      text-decoration: unset;
  }

  .article-wrap {
      display: flex;
      flex-wrap: wrap;
  }

  .article-wrap .title h1 {
      font-size: 40px;
  }

  .article-author {
      width: 100%;
  }

  .article-author {
      display: flex;
      align-items: center;
      gap: 10px
  }

  .article-wrap .article-author {
      margin-bottom: 10px;
  }

  .article-author .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }

  .article-author .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  .article-wrap .intro-data {
      width: 100%;
  }
  .introhide {
      display: none;
  }

  .article-wrap .content .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: #222222;
  }
  .text p {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.6;
      color: #222222;
  }
  .article-wrap .content .text p {
      margin: 0;
      padding-bottom: 20px;
  }
  .article-wrap .content .text p:last-child {
      padding-bottom: 0;
  }

  .picture-container {
      margin-bottom: 30px;
  }
  .article-wrap .content .text h2 {
      font-size: 36px;
  }

  .share-post {
      padding: 20px 0;
      margin-top: 60px;
      background: #f5f5f5;
  }

  .share-post .share-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .share-post p {
      display: flex;
      margin: 0;
      padding: 0 31px 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
  }
  .share-post ul {
      display: flex;
      flex-wrap: wrap;
  }
  .share-post ul li {
      display: flex;
  }

  .share-post ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 10px;
      height: 40px;
      font-size: 22px;
  }

  .article-data .article-bottom {
      padding: 29px 0 2px;
  }

  .article-bottom {
      display: none;
  }

  .article-data .article-bottom a {
      display: block;
      max-width: 283px;
      margin: 0 auto;
  }
  .related-posts {
      padding-top: 60px;
  }
  .related-posts .posts-wrap {
      padding: 1.8% 0 3%;
  }

  .related-posts .posts-wrap .posts-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
  }

  .sub-title {
      text-align: center;
      color: var(--dark);
      margin-bottom: 30px;
  }

  .sub-title h1, .sub-title h2 {
      margin: 0;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.3;
  }

  @media screen and (max-width: 1590px){
    .article-page {
        padding-bottom: 48px;
    }
    .article-top {
        padding-bottom: 42px;
    }

    .article-wrap .content .text {
        font-size: 16px;
    }
    .article-wrap .content .text p {
        padding-bottom: 10px;
    }
    .article-wrap .content .text h2 {
      font-size: 26px;
    }
    .share-post {
        padding: 14px 0;
        margin-top: 48px;
    }
    .share-post p {
        padding: 0 29px 0 0;
        font-size: 15px;
    }
    .share-post ul li a {
        margin: 5px 6px;
        width: 34px;
        height: 34px;
        font-size: 18px;
    }
    .sub-title h1, .sub-title h2 {
        font-size: 36px;
    }
  }

  @media screen and (max-width: 768px) {
    .article-top {
        padding-bottom: 33px;
    }
    .article-wrap .title h1 {
        font-size: 28px;
    }

    .article-wrap .content {
        width: 100%;
    }
    .article-wrap .content .text {
        font-size: 18px;
        line-height: 1.33;
    }
    .article-wrap .content .text h2 {
        font-size: 24px;
    }
    .article-wrap .sidebar {
        display: none;
    }
    .share-post {
        padding: 27px 0;
        margin-top: 27px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .share-post p {
        width: 100%;
        padding: 0;
        font-size: 18px;
        justify-content: center;
    }
    .share-post ul {
        width: 100%;
        justify-content: center;
        padding-top: 15px;
    }
    .share-post ul li a {
        margin: 5px 10px;
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
    .sub-title h2 {
        font-size: 36px;
        line-height: 1.28;
    }
  }

  @media screen and (max-width: 640px) {
    .article-bottom {
        display: block;
    }
  }

  .article-card .info .main-info .title h3 a {
      color: inherit;
      transition: color var(--transition);
  }
  .blog-page {
      padding-bottom: 50px;
  }
  .page-title {
      margin-top: 3%;
      padding: 27px 0;
  }
  .sub-title {
      text-align: center;
      color: var(--dark);
      margin-bottom: 30px;
  }
  .sub-title h1, .sub-title h2 {
      margin: 0;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.3;
  }
  .sub-title p {
      margin: 0;
      padding-top: 23px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.6;
  }
  .page-title .sub-title p {
      padding-top: 17px;
      color: var(--dark-grey);
  }
  .blog-category {
      padding-top: 15px;
      display: flex;
      justify-content: center;
  }
  .blog-category .category-wrap {
      max-width: 100%;
      padding: 0 10px;
  }
  .touch-scroll {
      width: 100%;
  }
  .touch-scroll .scroll-wrap {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
  }

  .blog-category ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .blog-category ul li {
      display: flex;
      text-align: center;
      margin-bottom: 10px;
      padding-right: 13px;
  }
  .blog-category ul li a {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      letter-spacing: -.284583px;
      color: var(--green);
      white-space: nowrap;
      border: 1px solid var(--green);
      border-radius: 5px;
      transition: color var(--transition),border-color var(--transition),background-color var(--transition);
  }
  .blog-category ul li.active a {
      color: #fff;
      background: var(--green);
  }
  .article-list {
      display: flex;
      flex-wrap: wrap;
  }

  .article-card .picture {
      overflow: hidden;
      position: relative;
      border-radius: 5px;
  }

  .article-card .picture .main-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
  }
  .article-card .picture img {
    height: 260px;
  }

  .article-card .picture .category {
      max-width: 100%;
      padding: 17px 20px;
      background: var(--green);
      border-radius: 0 2px 2px 0;
      position: absolute;
      left: 0;
      bottom: 20px;
      z-index: 3;
      min-width: 140px;
      text-align: center;
  }
  .article-card .picture .category p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      letter-spacing: -.284583px;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
  .article-card .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
  }
  .article-card .info .main-info {
      padding-right: 10px;
  }
  .article-list .article-card:first-child .info .main-info {
      padding: 0 5%;
  }
  .article-card {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding: 17px 10px;
  }
  .article-list .article-card:first-child {
      width: 100%;
      flex-direction: row;
  }

  .article-list .article-card:first-child .info .main-info .title {
      padding-top: 10px;
  }
  .article-card .info .main-info .title {
      padding-top: 15px;
  }
  .article-card .info .main-info .title h3 {
      margin: 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.43;
      color: var(--dark-green);
  }
  .article-list .article-card:first-child .info .main-info .offer {
      padding-top: 19px;
      padding-right: 15px;
  }
  .article-card .info .main-info .offer p {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
      color: var(--dark);
  }
  .article-list .article-card:first-child .info .main-info .description {
      padding-top: 20px;
      -webkit-line-clamp: unset;
  }
  .article-card .info .main-info .description {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
  .article-card .info .main-info .description p {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.57;
      color: var(--dark);
  }

  .article-list .article-card:first-child .info .article-author {
      padding: 0 5%;
  }
  .article-author .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }
  .article-author .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  @media screen and (max-width: 1590px) {
    .mini-wrap {
        max-width: 1110px;
    }
    .page-title {
        margin-top: 3%;
        padding: 23px 0;
    }
    .sub-title h1, .sub-title h2 {
        font-size: 36px;
    }
    .sub-title p {
        padding-top: 19px;
        font-size: 18px;
    }
    .blog-category {
        padding-top: 57px;
    }
    .article-card .picture .category {
        padding: 15px 20px;
    }
    .article-card .picture .category p {
        font-size: 14px;
    }
    .article-card .info .main-info .title h3 {
        font-size: 14px;
    }
    .article-list .article-card:first-child .info .main-info .offer, .article-list .article-card:first-child .info .main-info .description {
        padding-top: 17px;
    }
    .article-card .info .main-info .offer {
        padding-top: 12px;
        padding-right: 5px;
    }
    .article-card .info .main-info .offer p {
        font-size: 16px;
    }
    .article-list .article-card:first-child .info .main-info .offer, .article-list .article-card:first-child .info .main-info .description {
        padding-top: 17px;
    }
    .article-card .info .main-info .description p {
        font-size: 13px;
    }
    .article-card .info .article-author {
        padding-top: 13px;
    }
  }


  @media screen and (max-width: 1270px) {
    .mini-wrap {
        max-width: 798px;
    }
    .page-title {
        margin-top: 2%;
    }
    .sub-title h1, .sub-title h2 {
        font-size: 28px;
    }
    .sub-title p {
        padding-top: 8px;
        font-size: 14px;
    }
    .page-title .sub-title p {
        padding-top: 7px;
    }
  }
  @media screen and (max-width: 1200px) {
    .sub-title h1, .sub-title h2 {
        font-size: 32px;
    }
    .sub-title p {
        padding-top: 17px;
        font-size: 16px;
    }
    .blog-category {
        padding-top: 46px;
    }

    .article-card .picture .category {
        padding: 13px 14px;
        bottom: 14px;
    }
    .article-card .info .main-info .title h3 {
        font-size: 13px;
    }
    .article-list .article-card:first-child .info .main-info .offer {
        padding-top: 13px;
    }
    .article-card .info .main-info .offer {
        padding-top: 8px;
        padding-right: 13px;
    }
    .article-card .info .main-info .offer p {
        font-size: 15px;
    }
    .article-card .info .main-info .description {
        padding-top: 10px;
    }
  }

  @media screen and (max-width: 768px){
    .blog-page {
        padding-bottom: 100px;
    }
    .page-title {
        padding: 15px 0;
    }
    .sub-title h1 {
        font-size: 10vw;
        text-align: center;
    }
    .sub-title p {
        padding-top: 25px;
        font-size: 16px;
        line-height: 1.44;
    }
    .page-title .sub-title p {
        padding: 13px 15px 0;
    }
    .blog-category {
        padding-top: 20px;
    }
    .article-card {
        width: 100%;
    }
    .article-list .article-card:first-child {
        flex-direction: column;
    }
    .article-list .article-card:first-child .picture {
        width: 100%;
    }
    .article-list .article-card .picture:before {
        padding-bottom: 67.7%;
    }
    .article-list .article-card:first-child .picture:before {
        padding-bottom: 67.7%;
    }
    .article-card .picture .category {
        padding: 17px 20px;
        bottom: 24px;
    }
    .article-card .picture .category p {
        font-size: 16px;
    }
    .article-list .article-card:first-child .info .main-info {
        padding: 0;
    }
    .article-card {
        width: 100%;
    }
    .article-list .article-card:first-child {
        flex-direction: column;
    }
    .article-list .article-card:first-child .info .main-info .title {
        padding-top: 12px;
    }
    .article-card .info .main-info .title {
        padding-top: 12px;
    }
    .article-card .info .main-info .title h3 {
        font-size: 16px;
    }
    .article-list .article-card:first-child .info .main-info .offer {
        padding-top: 19px;
        padding-right: 10px;
    }
    .article-list .article-card .info .main-info .offer {
        padding-top: 19px;
        padding-right: 10px;
    }
    .article-card .info .main-info .offer p {
        font-size: 18px;
    }
    .article-list .article-card:first-child .info .main-info .description {
        display: none;
    }
    .article-list .article-card .info .main-info .description {
        padding-top: 24px;
    }
    .article-card .info .main-info .description p {
        font-size: 14px;
    }
    .article-card .info .article-author {
        padding-top: 22px;
        display: none;
    }
  }
</style>

{% render 'layout.head.swiper', Activate: true %}

<script>
  // Hide featured image if theres is <div id="hide-featured-image"></div>
  if ($("#hide-featured-image").length) {$("#featured-image").hide()};

  quoteSlider = new Swiper(".related-posts .posts-list .swiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    grabCursor: true,
    loop: false,
    navigation: {
      nextEl: ".next-slide",
      prevEl: ".prev-slide",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      641: {
        slidesPerView: 2,
      },
      761: {
        slidesPerView: 3,
      }
    }
  });
</script>

{% schema %}
{
  "name": "Article Pages",
  "settings": [
    {
      "type": "image_picker",
      "id": "singpst_img",
      "label": "Select Image"
    }, {
      "type": "url",
      "id": "singpst_url",
      "label": "Link"
    }, {
      "type": "image_picker",
      "id": "authr_blgimg",
      "label": "Select Author Image"
    }, {
      "type": "image_picker",
      "id": "sidepst_img",
      "label": "Select Sidebar Image"
    }, {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Select Mobile Image"
    }, {
      "type": "url",
      "id": "sidepst_url",
      "label": "Link for sidebar image and (Mobile Image)"
    }, {
      "type": "header",
      "content": "Social Share Section Start"
    }, {
      "type": "text",
      "id": "socil_titl",
      "label": "Title",
      "default": "Enter Title"
    }, {
      "type": "header",
      "content": "Newsletter Section Start"
    }
  ],
  "blocks": [
    {
      "type": "socl_icn",
      "name": "Social Icons",
      "settings": [
        {
          "type": "text",
          "id": "blg_icn",
          "label": "Facebook Icone",
          "default": "icon-b-fb"
        }, {
          "type": "url",
          "id": "blg_icnlink",
          "label": "Facebook Link"
        }
      ]
    }
  ]
}
{% endschema %}