{% if section.settings.heading != blank or section.settings.subheading != blank %}
{% if section.settings.symptoms-bg-image != blank %}
	<style>
      .head__symptoms{
        background-image: url("{{section.settings.symptoms-bg-image | img_url: "master" }}");
      }
    </style>
{% endif %}
<div class="symptoms__block">
  <div class="head__symptoms">
    {% if section.settings.heading != blank %}
    	<h6>{{ section.settings.heading }}</h6>
    {% endif %}
    {% if section.settings.subheading != blank %}
    	<h2>{{ section.settings.subheading }}</h2>
    {% endif %}
  </div>
  <div class="inner__symptoms">
     {%- for block in section.blocks -%}
    	<div class="elem__symptom">
          <div class="symptom__image">
            {% if block.settings.symptoms-image != blank %}
            	<img src="{{ block.settings.symptoms-image | img_url: "master" }}" alt="symptom-image" loading="lazy">
            {% endif %}
          </div>
          <div class="symptom__text">
            {% if block.settings.symptoms-heading %}
           		<h6>{{block.settings.symptoms-heading}}</h6>
            {% endif %}
            {% if block.settings.symptoms-content %}
          	   <p>{{ block.settings.symptoms-content }}</p>
          	{% endif %}
          </div>
        </div>
     {%- endfor -%}
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Symptoms Type2 Diabetes",
    "settings": [
	  {
        "type": "image_picker",
        "id": "symptoms-bg-image",
        "label": "Background Image"
      },	
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      }
  	],
	"blocks": [
      {   
        "type": "symptoms-list",
        "name": "Type2 Symptoms List",
        "settings": [
			 {
                "type": "image_picker",
                "id": "symptoms-image",
                "label": "Image"
             },	
        	 {
              "type": "text",
              "id": "symptoms-heading",
              "label": "Heading"
            },
 			{
              "type": "textarea",
              "id": "symptoms-content",
              "label": "Content"
            }
        ]
      }
	]
  }		
{% endschema %}
