{% if section.settings.heading != blank or sectoin.settings.subheading != blank or section.blocks != blank %}
  {% if section.settings.next-bg-img != blank %}
    <style>
        .next-step{
            background-image: url("{{section.settings.next-bg-img | img_url: "master"}}") !important;
        }
    </style>
  {% endif %}
<section class="next-step">
  <div class="container">
    <div class="next-heading">
      {% if section.settings.heading != blank %}
      	<span class="your-next">{{section.settings.heading}}</span>
      {% endif %}
      {% if section.settings.subheading != blank %}
      	<span class="step">{{section.settings.subheading}}</span>
      {% endif %}
    </div>
    {% if section.blocks != blank %}
    <div class="diabetes-text">
      {% if section.settings.content != blank %}
      	<p>{{section.settings.content}}</p>
      {% endif %}
      <div class="diabete__list">
         <div class="column__diabete">
           {%- for block in section.blocks -%}
              {% if block.type == "next-list-left" %}
                 <div class="elem__diabete">
                      {% if block.settings.next-image-left != blank %}
                        <span><img class="lazyload" data-src="{{block.settings.next-image-left | img_url: "master"}}" alt="diabete"></span>
                      {% endif %}
                      {% if block.settings.next-content-left != blank %}
                        {{block.settings.next-content-left}}
                      {% endif %}
                  </div>
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="column__diabete">
            {%- for block in section.blocks -%}
                {% if block.type == "next-list-right" %}
                  <div class="elem__diabete">
                      {% if block.settings.next-image-right != blank %}
                        <span><img class="lazyload" data-src="{{block.settings.next-image-right | img_url: "master"}}" alt="diabete"></span>
                      {% endif %}
                      {% if block.settings.next-content-right != blank %}
                        {{block.settings.next-content-right}}
                      {% endif %}
                   </div>
                {% endif %}
            {%- endfor -%}
          </div>
      </div>
      {% if section.settings.bottom-content %}
        <div class="education-text">
         	{{section.settings.bottom-content}}
        </div>
      {% endif %}
    </div>
    {% endif %}
   <div class="sign-form">
    <p>Please double check the spelling of your email address.</p>
     <div class="salesforce">
      <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" _lpchecked="1">
      <input type="hidden" name="oid" value="00D5I000003d6uG">
      <input type="hidden" name="recordType" id="recordType" value="0125I000000cIMh">
      <input type="hidden" name="Campaign_ID" value="7015I000000kq61QAA">
      <input type="hidden" name="lead_source" value="Infographic V1">
      <input type="hidden" name="retURL" value="https://www.facebook.com/groups/261568611056436">
      <input id="email" maxlength="80" name="email" type="text" placeholder="Email" required="">
      <input id="submit" type="submit" name="Sign Me Up">
      </form>
    </div>
    </div>
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Next Step Section",
    "settings": [	
	  {
		"type" : "image_picker",
		"id" : "next-bg-img",
		"label" : "Background Image"
	  },	
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading"
      },
	  {
        "type": "text",
        "id": "subheading",
        "label": "Section Subheading"
      },
	  {
		"type" : "html",
		"id" : "content",
		"label" : "Description"
	  },	
	  {
		"type" : "html",
		"id" : "bottom-content",
		"label" : "Bottom Content"	
	  },
      {
        "type" : "html",
        "id" : "newsletter-form",
        "label" : "Newsletter Form"	
      }		
    ],
	"blocks": [
	  {   
        "type": "next-list-left",
        "name": "Next Step List Left",
        "settings": [
			{
				"type" : "text",
				"id" : "next-heading-left",
				"label": "Heading"
			},
			{
				"type" : "html",
				"id" : "next-content-left",
				"label": "Content"
			},
            {
            	"type": "image_picker",
            	"id": "next-image-left",
           		"label": "Image"
            }
        ]
      },
	  {   
        "type": "next-list-right",
        "name": "Next Step List Right",
        "settings": [
			{
				"type" : "text",
				"id" : "next-heading-right",
				"label": "Heading"
			},
			{
				"type" : "html",
				"id" : "next-content-right",
				"label": "Content"
			},
            {
            	"type": "image_picker",
            	"id": "next-image-right",
           		"label": "Image"
            }
        ]
      }	
	]
  }		
{% endschema %}

