{% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" | split: "," %}

<section class="article-page">
  <div class="container">
    <div class="article-wrap flex flex-wrap justify-between">
      <h1 class="text-[48px] md:text-[8vw] mb-2">{{ article.title }}</h1>

      <div class="article-info w-full mb-[30px] text-[16px]">
        <div class="details">By {{ article.author }}, {{ article.published_at | date: '%B %d, %Y' }}</div>
      </div>

      <div class="content w-[60%] md:w-full pb-4">
        <div class="picture-container mb-[30px]">
          {% if article.image %}
            {% unless article.metafields.custom.hide_article_image == "true" %}
              <img class="!p-0 h-[400px] md:h-[250px] w-full" id="featured-image" src="{{ article.image | image_url }}" alt="" height="400" loading="lazy">
            {% endunless %}
          {% endif %}
        </div>

        <div class="recipe-content mb-8">
          <div class="recipe-details flex bg-[#fff4ed] p-4">
            <div class="calories w-1/2 text-center font-bold border-r border-[#a86129]"><i class="fa-thin fa-weight-scale"></i> {{ article.metafields.recipe.calories }}kcal</div>
            <div class="time w-1/2 font-bold text-center"><i class="fa-thin fa-clock"></i> {{ article.metafields.recipe.duration }}</div>
          </div>

          {% if article.metafields.recipe.fat %}
            <div class="nutrients flex p-4">
              <div class="nutrient-fat md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Fat | {{ article.metafields.recipe.fat }}</div>
              <div class="nutrient-carbs md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Carbs | {{ article.metafields.recipe.carbs }}</div>
              <div class="nutrient-protein md:w-1/2 w-1/4 text-[#a86129] text-center border-r border-[#a86129]">Protein | {{ article.metafields.recipe.protein }}</div>
              <div class="nutrient-fiber md:w-1/2 w-1/4 text-[#a86129] text-center">Fiber | {{ article.metafields.recipe.fiber }}</div>
            </div>
          {% endif %}

          <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
              {% for ingredient in article.metafields.recipe.ingredients.value %}
                <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="instructions">
            <h2>Instructions</h2>
            {% for instruction in article.metafields.recipe.instructions.value %}
              <div class="text-instructions"><div class="sub-instructions"></div><div class="text-instruction">{{ instruction }}</div>  </div>
            {% endfor %}
          </div>
        </div>

        <div class="text text-[20px]">{{ article.content }}</div>

        {% if article.metafields.recipe.tip != blank %}
          <div class="tip bg-[#fff4ed] flex items-center">
            <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_41304.png?v=1693331251" alt="tip icon" width="100" height="100" loading="lazy">
            <div class="tip-content w-[60%] flex flex-col justify-center gap-2 p-4">
              <div class="tip-title text-[20px] font-bold">Tip</div>
              <div class="tip-content text-[16px]">{{ article.metafields.recipe.tip }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="tag-section w-[60%] md:w-full md:pt-4 items-center flex justify-center p-4">
      {% for tag in article.tags %}
        {% if blog_categories contains tag %}
          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="article-tag px-4 py-1 gap-2 bg-[#F1F1F1] text-[14px] min-w-[130px] text-center rounded-sm">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="share-article w-[60%] md:w-full bg-[#F1F1F1] items-center text-[20px] flex justify-center p-4 gap-4">
      <div>Share with friends: </div>
      <div class="social-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"><i class="fab fa-facebook-f p-4"></i></a>
        <a href="https://twitter.com/share?url={{ shop.url }}{{ article.url }}&text={{ article.title }}" target="_blank"><i class="fab fa-twitter p-4"></i></a>
        <a href="#" id="copy-link-button"><i class="fas fa-copy p-4"></i></a>
      </div>
    </div>

    <div id="stickySidebar" class="sidebar w-[33%] md:w-full md:pt-8 absolute md:!static top-[100px] right-0">
      {% assign related_count = 0 %}
      {% assign all_articles = blog.articles %}
      {% assign all_the_tags = article.tags | join: ',' %}
      {% assign current = article.id %}

      <div class="related-posts px-4 py-8 bg-[#F1F1F1]">
        <h4>Related Topics</h4>

        <div class="posts-list flex flex-col gap-6">
          {% for related_article in all_articles %}
            {% if related_count >= 5 %}
              {% break %}
            {% endif %}
            {% unless related_article.id == current %}
              {% for tag in related_article.tags %}
                {% if all_the_tags contains tag %}
                  <a href="{{ related_article.url }}">
                    <div class="article-card flex-nowrap flex gap-2">
                      <div class="picture min-w-[110px] h-[60px] overflow-hidden border-r-2">
                        <img src="{{ related_article.image | image_url }}" width="110" height="60" alt="{{ related_article.title }} article thumbnail" loading="lazy">
                      </div>

                      <div class="info flex flex-col gap-1">
                        <h4 class="text-[20px] m-0 line-clamp-2">{{ related_article.title }}</h4>
                        <div class="date text-[14px]">{{ related_article.published_at | date: '%B %d, %Y' }}</div>
                      </div>
                    </div>
                  </a>
                  {% assign related_count = related_count | plus: 1 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endunless %}
          {% endfor %}

          {% if related_count == 0 %}
            {% assign already_picked = "" %}
            {% for i in (1..5) %}
              {% assign random_seed = i | times: 17 | plus: now | modulo: 99999 %}
              {% assign random_index = random_seed | modulo: all_articles.size %}
              {% assign random_article = all_articles[random_index] %}
              {% unless already_picked contains random_article.id or random_article.id == current %}
                <!-- Existing random article code goes here -->
                <a href="{{ random_article.url }}">
                  <div class="article-card flex-nowrap flex gap-2">
                    <div class="picture min-w-[110px] h-[60px] overflow-hidden border-r-2">
                      <img src="{{ random_article.image | image_url }}" width="110" height="60" alt="{{ random_article.title }} article thumbnail" loading="lazy">
                    </div>

                    <div class="info flex flex-col gap-1">
                      <h4 class="text-[20px] m-0 line-clamp-2">{{ random_article.title }}</h4>
                      <div class="date text-[14px]">{{ random_article.published_at | date: '%B %d, %Y' }}</div>
                    </div>
                  </div>
                </a>
                {% assign already_picked = already_picked | append: "," | append: random_article.id %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'newsletter-form' %}

<script>
  $(document).ready(function(){
    if ($(window).width() > 768) {
      var initialSidebarTop = $('#stickySidebar').offset().top;
      var tagsSectionBottom = $('.tag-section').offset().top + $('.tag-section').height();
      var sidebarHeight = $('#stickySidebar').height();
      var offsetTop = 100;

      $(window).on('scroll', function(){
        var scrollPosition = $(this).scrollTop();
        var maxTranslate = tagsSectionBottom - sidebarHeight - initialSidebarTop + offsetTop;

        if (scrollPosition >= initialSidebarTop - offsetTop) {
          var translateY = scrollPosition - initialSidebarTop + offsetTop;
          translateY = Math.min(translateY, maxTranslate);
          $('#stickySidebar').css('transform', 'translateY(' + translateY + 'px)');
        } else {
          $('#stickySidebar').css('transform', 'translateY(0)');
        }
      });
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('copy-link-button').addEventListener('click', function(e) {
      e.preventDefault();
      var dummy = document.createElement('input'),
          text = window.location.href;

      document.body.appendChild(dummy);
      dummy.value = text;
      dummy.select();
      document.execCommand('copy');
      document.body.removeChild(dummy);

      alert('Link copied to clipboard.');
    });
  });
</script>

<style>
  .article-wrap h3 {
    font-size: 30px;
  }

  .article-author .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }

  .article-author .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  .article-wrap .intro-data {
      width: 100%;
  }
  .introhide {
      display: none;
  }

  .article-wrap .content .text p {
      margin-bottom: 15px;
  }

  .article-wrap .content .text h2 {
      font-size: 36px;
  }

  .article-wrap .content img {
    padding: 2rem 0;
  }

  .social-buttons a:hover {
    color: black;
  }

  @media screen and (max-width: 768px) {
    .article-wrap .content {
        width: 100%;
    }
    .article-wrap .content .text {
        font-size: 18px;
        line-height: 1.33;
    }
    .article-wrap .content .text h2 {
        font-size: 24px;
    }
  }
</style>

{% schema %}
{
  "name": "Article Pages",
  "settings": []
}
{% endschema %}