{% if section.settings.heading != blank or section.settngs.subheading1 != blank or section.settings.subheading2 != blank or section.blocks != blank %}
<div class="treatments__block">
  <div class="head__treatments">
    {% if section.settings.treat-img1 != blank %}
      <div class="treat__image first__image">
        <img src="{{section.settings.treat-img1 | img_url: "master"}}" alt="floatimage" loading="lazy">
      </div>
    {% endif %}
    {% if section.settings.treat-img2 != blank %}
      <div class="treat__image second__image">
        <img src="{{section.settings.treat-img2 | img_url: "master"}}" alt="floatimage" loading="lazy">
      </div>
    {% endif %}
    {% if section.settings.treat-img3 != blank %}
      <div class="treat__image third__image">
        <img src="{{section.settings.treat-img3 | img_url: "master"}}" alt="floatimage" loading="lazy">
      </div>
    {% endif %}
    {% if section.settings.treat-img4 != blank %}
      <div class="treat__image fourth__image">
        <img src="{{section.settings.treat-img4 | img_url: "master"}}" alt="floatimage" loading="lazy">
      </div>
    {% endif %}
    {% if section.settings.heading != blank %}
    	<h6>{{section.settings.heading}}</h6>
    {% endif %}
    {% if section.settings.subheading1 != blank %}
    	<h2>{{section.settings.subheading1}}</h2>
    {% endif %}
    {% if section.settings.subheading2 != blank %}
    	<h6>{{section.settings.subheading2}}</h6>
    {% endif %}
  </div>
  <div class="main__treatments">
    {%- for block in section.blocks -%}
    {% if block.type == 'treatment-left' %}
      <div class="elem__treatment">
        <div class="head__treatment">
          {% if block.settings.treatment-image-left != blank %}
            <div class="image__treatment">
              <img class="lazyload" data-src="{{block.settings.treatment-image-left | img_url: "master"}}" alt="treatment1">
            </div>
          {% endif %}
          {% if block.settings.traetment-heading-left %}
          	 <h6>{{block.settings.traetment-heading-left}}</h6>
          {% endif %}
        </div>
        {% if block.settings.treatment-content-left %}
          <div class="content__treatment">
             {{block.settings.treatment-content-left}}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {%- endfor -%}
	{%- for block in section.blocks -%}
      {% if block.type == 'treatment-right' %}
        <div class="elem__treatment">
          <div class="head__treatment">
            {% if block.settings.treatment-image-right != blank %}
              <div class="image__treatment">
                <img class="lazyload" data-src="{{block.settings.treatment-image-right | img_url: "master"}}" alt="treatment1">
              </div>
            {% endif %}
            {% if block.settings.traetment-heading-right %}
               <h6>{{block.settings.traetment-heading-right}}</h6>
            {% endif %}
          </div>
          {% if block.settings.treatment-content-right %}
            <div class="content__treatment">
               {{block.settings.treatment-content-right}}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>
{% endif %}

{% schema %}
	{
		"name": "Treatment Section",
        "settings": [	
          {
            "type": "text",
            "id": "heading",
            "label": "Section Heading"
          },
          {
            "type": "text",
            "id": "subheading1",
            "label": "Section Subheading 1"
          },
	      {
            "type": "text",
            "id": "subheading2",
            "label": "Section Subheading 2"
          },
		  {
            "type": "text",
            "id": "list-heading",
            "label": "List Heading"
          },
		  {
			"type" : "image_picker",
			"id" : "treat-img1",
			"label" : "Image 1"
		  },
		 {
			"type" : "image_picker",
			"id" : "treat-img2",
			"label" : "Image 2"
		 },
		 {
			"type" : "image_picker",
			"id" : "treat-img3",
			"label" : "Image 3"
		 },
		 {
			"type" : "image_picker",
			"id" : "treat-img4",
			"label" : "Image 4"
		 }
        ],
		"blocks": [
          {   
            "type": "treatment-left",
            "name": "Treatment Content Left",
            "settings": [
                 {
                    "type": "image_picker",
                    "id": "treatment-image-left",
                    "label": "Image"
                 },	
                 {
                  "type": "text",
                  "id": "traetment-heading-left",
                  "label": "Heading"
                },
                {
                  "type": "html",
                  "id": "treatment-content-left",
                  "label": "Content"
                }
            ]
          },
		  {   
            "type": "treatment-right",
            "name": "Treatment Content Right",
            "settings": [
                 {
                    "type": "image_picker",
                    "id": "treatment-image-right",
                    "label": "Image"
                 },	
                 {
                  "type": "text",
                  "id": "traetment-heading-right",
                  "label": "Heading"
                },
                {
                  "type": "html",
                  "id": "treatment-content-right",
                  "label": "Content"
                }
            ]
          }
        ]
	}
{% endschema %}