{% if section.settings.heading != blank or section.settings.subheading != blank %}
{% if section.settings.myth-bg-image != blank %}
	<style>
      .myths__block{
        background-image: url("{{section.settings.myth-bg-image | img_url: "master"}}");
      }
    </style>
{% endif %}
{% if section.settings.myth-bg-image-mobile != blank %}
	<style>
      @media (max-width: 991px){
        .myths__block{
          background-image: url("{{section.settings.myth-bg-image-mobile | img_url: "master"}}");
        }
      }
    </style>
{% endif %}
<div class="myths__block">
  <div class="outer__myths">
    <div class="head__myths">
      {% if section.settings.heading != blank %}
     	 <h6>{{ section.settings.heading }}</h6>
      {% endif %}
      {% if section.settings.subheading != blank %}
     	 <h2>{{ section.settings.subheading }}</h2>
      {% endif %}
    </div>
    <div class="inner__myths">		
      <div class="column__myths">
      {%- for block in section.blocks -%}
          {% case block.type %}	
          {% when 'myths-list-left' %}	
            <div class="elem__myth">
              <div class="myth__text">
               {% if block.settings.myths-heading-left != blank or block.settings.myths-image-left != blank %}
                  <div class="head__myth">
                    {% if block.settings.myths-heading-left != blank %}
                      <p>“{{block.settings.myths-heading-left }}”</p>
                    {% endif %}
                    {% if block.settings.myths-image-left != blank %}
                      <div class="myth__image">
                          <img src="{{block.settings.myths-image-left | img_url: "master" }}" alt="myth" loading="lazy">
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {% if block.settings.myths-content-left != blank %}
                  <div class="content__myth">
                    <p>{{ block.settings.myths-content-left }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endcase %}		
      {%- endfor -%}
      </div>  
      <div class="column__myths">
      {%- for block in section.blocks -%}
          {% case block.type %}	
          {% when 'myths-list-right' %}	
          <div class="elem__myth">
            <div class="myth__text">
             {% if block.settings.myths-heading-right != blank or block.settings.myths-image-right != blank %}
                <div class="head__myth">
                  {% if block.settings.myths-heading-right != blank %}
                  	<p>“{{block.settings.myths-heading-right }}”</p>
                  {% endif %}
                  {% if block.settings.myths-image-right != blank %}
                    <div class="myth__image">
                     	<img src="{{block.settings.myths-image-right | img_url: "master" }}" alt="myth" loading="lazy">
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if block.settings.myths-content-right != blank %}
                <div class="content__myth">
                  <p>{{ block.settings.myths-content-right }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        {% endcase %}
      {%- endfor -%}
      </div> 
    </div>
  </div>
</div>
{% endif %}
{% schema %}
	{
		"name": "Common Myth Diabetes",
        "settings": [
          {
            "type": "image_picker",
            "id": "myth-bg-image",
            "label": "Background Image"
          },
		  {
            "type": "image_picker",
            "id": "myth-bg-image-mobile",
            "label": "Mobile Background Image"
          },	
          {
            "type": "text",
            "id": "heading",
            "label": "Section Heading"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }
        ],
		"blocks": [
          {   
            "type": "myths-list-left",
            "name": "Diabetes Myths List Left",
            "settings": [
                 {
                    "type": "image_picker",
                    "id": "myths-image-left",
                    "label": "Image"
                 },	
                 {
                  "type": "text",
                  "id": "myths-heading-left",
                  "label": "Heading"
                },
                {
                  "type": "textarea",
                  "id": "myths-content-left",
                  "label": "Content"
                }
            ]
          },
		  {   
            "type": "myths-list-right",
            "name": "Diabetes Myths List Right",
            "settings": [
                 {
                    "type": "image_picker",
                    "id": "myths-image-right",
                    "label": "Image"
                 },	
                 {
                  "type": "text",
                  "id": "myths-heading-right",
                  "label": "Heading"
                },
                {
                  "type": "textarea",
                  "id": "myths-content-right",
                  "label": "Content"
                }
            ]
          }		
        ]
	}
{% endschema %}