{% assign user_types = "Healthcare Professional|fa-user-doctor,Retailer|fa-shop,Reseller|fa-handshake-simple" | split: "," %}

{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  main .shopify-section {
    background: #fef6ea;
    padding: 50px 0;
  }

  form#create_customer {
    margin-top: 1em;
  }

  input[type="radio"]:checked + label svg {
    background-color: var(--darker-green);
  }
{%- endstyle -%}

<div class="customer register section-{{ section.id }}-padding bg-white rounded-lg">
  <div class="container p-8">
    <svg style="display: none">
      <symbol id="icon-error" viewBox="0 0 13 13">
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
      </symbol>
    </svg>

    <h1>{{ 'customer.register.title' | t }}</h1>

    {%- form 'create_customer', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <svg aria-hidden="true" focusable="false"><use href="#icon-error" /></svg>
          Oops! something went wrong.<br>Please fix the errors below and try again.
        </h2>
      {%- endif -%}
      <!-- New Radio Button Field -->
      <p>Select User Type:</p>
      <div class="user-type-selection flex justify-center gap-4">
        {% for user_type in user_types %}
          {% assign user_type_title = user_type | split: "|" | first %}
          {% assign user_type_icon = user_type | split: "|" | last %}
          <div class="radio-option flex flex-col w-[100px] gap-2">
            <input class="hidden" type="radio" id="{{ user_type_title | replace: ' ', '-' | downcase }}" name="customer[note][User Type]" value="{{ user_type_title }}" required>
            <label class="flex flex-col items-center gap-1 cursor-pointer" for="{{ user_type_title | replace: ' ', '-' | downcase }}">
              <i class="fa-thin {{ user_type_icon }} h-[40px] w-[40px] rounded-full bg-[#4B643D] text-white p-4"></i>
              {{ user_type_title }}
            </label>
          </div>
        {% endfor %}
      </div>
      <div class="field">
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.register.first_name' | t }}"
          required
        >
        <label for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
      </div>
      <div class="field">
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.register.last_name' | t }}"
          required
        >
        <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
      </div>
      <div class="field">
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          {% if form.email %}
            value="{{ form.email }}"
          {% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
          placeholder="{{ 'customer.register.email' | t }}"
          required
        >
        <label for="RegisterForm-email">{{ 'customer.register.email' | t }}</label>
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="form__message">
          <svg aria-hidden="true" focusable="false"><use href="#icon-error" /></svg>
          {{ form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email }}.
        </span>
      {%- endif -%}

      <div class="field">
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          aria-required="true"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
          placeholder="{{ 'customer.register.password' | t }}"
          required
        >
        <label for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
      </div>
      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="form__message">
          <svg aria-hidden="true" focusable="false"><use href="#icon-error" /></svg>
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}.
        </span>
      {%- endif -%}

      <div class="field b2b">
        <input type="text" name="customer[note][B2B: Business Name]" id="BusinessName" placeholder="Business Name" required>
        <label for="BusinessName">Legal Business Name</label>
      </div>
      <div class="field b2b">
        <input type="text" name="customer[note][B2B: Phone]" id="PhoneNumber" placeholder="Phone Number" required>
        <label for="PhoneNumber">Phone Number</label>
      </div>

      <div id="submit-button-wrapper" class="disabled:bg-gray-600 ">
        <button class="bg-[#4B643D]" disabled>Create Account</button>
      </div>
    {%- endform -%}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector('form');
    const submitButton = document.querySelector('button[disabled]');
    const requiredFields = form.querySelectorAll('input[required]');
    const submitButtonWrapper = document.getElementById('submit-button-wrapper');

    const checkRequiredFields = () => {
      let allFilled = true;

      requiredFields.forEach(field => {
        if (!field.value.trim()) {
          allFilled = false;
        }
      });

      const userTypeRadioButtons = form.querySelectorAll('input[name="customer[note][User Type]"]');
      const userTypeSelected = Array.from(userTypeRadioButtons).some(radio => radio.checked);

      // Debugging lines
      console.log("allFilled:", allFilled);
      console.log("userTypeSelected:", userTypeSelected);

      if (!userTypeSelected) {
        allFilled = false;
      }

      submitButton.disabled = !allFilled;

      if (allFilled) {
        submitButtonWrapper.classList.remove('disabled:bg-gray-600');
        submitButton.disabled = false;
      } else {
        submitButtonWrapper.classList.add('disabled:bg-gray-600');
        submitButton.disabled = true;
      }
    };

    submitButtonWrapper.addEventListener('click', function(event) {
      if (submitButton.disabled) {
        event.stopPropagation();
        let missingFields = [];

        requiredFields.forEach(field => {
          if (!field.value.trim()) {
            missingFields.push(field.getAttribute("placeholder"));
          }
        });

        const userTypeRadioButtons = form.querySelectorAll('input[name="customer[note][User Type]"]');
        if (!Array.from(userTypeRadioButtons).some(radio => radio.checked)) {
          missingFields.push("User Type");
        }

        alert("Please fill the following missing fields: " + missingFields.join(', '));
      }
    });

    requiredFields.forEach(field => {
      field.addEventListener('input', checkRequiredFields);
    });

    const userTypeRadioButtons = form.querySelectorAll('input[name="customer[note][User Type]"]');
    userTypeRadioButtons.forEach(radio => {
      radio.addEventListener('change', checkRequiredFields);
    });
  });
</script>

{% schema %}
{
  "name": "Business Signup",
  "settings": [],
  "presets": [
    {
      "name": "Business Signup"
    }
  ]
}
{% endschema %}
