<a id="floating-btn" {% if section.settings.link %}href="{{ section.settings.link }}"{% endif %}><button>{{ section.settings.title }}</button></a>

<style>
  #floating-btn button {
    background: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }

  #floating-btn button:hover {
    {% if section.settings.bg_color_hover != blank %}background: {{ section.settings.bg_color_hover }};{% endif %}
    {% if section.settings.text_color_hover != blank %}color: {{ section.settings.text_color_hover }};{% endif %}
  }

  #floating-btn button {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    box-shadow: 0 4.5px 4.5px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    font-size: 25px;
    padding: 10px 40px;
  }

  #floating-btn button.show {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 768px) {
    #floating-btn button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: -webkit-fill-available;
      border-radius: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 -2px 15px rgba(0, 0, 0, .25)
    }

    body {
      padding-bottom: 50px;
    }
  }
</style>

  <script>
    $(window).scroll(function() {
      $(window).scrollTop() > 1000 ? $('#floating-btn button').addClass('show') : $('#floating-btn button').removeClass('show');
    });

    {% unless section.settings.link %}
      $('#floating-btn').on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
      });
    {% endunless %}
  </script>

{% schema %}
{
    "name": "Floating Button",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color_background",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color_background",
        "id": "bg_color_hover",
        "label": "Background Color on Hover"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "text_color_hover",
        "label": "Text Color on Hover"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Back To Top"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link (if not filled - link to the top of the page)"
      }
    ],
    "presets": [
    {
      "name": "Floating Button"
    }
  ]
}
{% endschema %}