<div class="cstm_page page-intro with-bg">
  <div class="cstm_container container">
    <div class="cstm_miniwrp mini-wrap">
      <div class="cstm_introwrp intro-wrap">
        <div class="data-wrap">
          <div class="intro-text">
            <div class="cstm_titl sub-title">
              <h2>{{section.settings.bnr_titl}}</h2>
              <p>{{section.settings.bnr_desc}}</p>
            </div>
            <div class="cstm_btn btn">
              <a href="{{section.settings.bnr_btnlink}}" class="main-btn">{{section.settings.btn_titl}}</a>
            </div>
            <div class="under-btn-titles">
              <p class="money-back-title">60 day money back guarantee</p>
              <div class="free-shipping">
                <img srcset="{{ section.settings.shipping_icon | img_url: '' }}" alt="free shipping icon">
                <p>FREE SHIPPING</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.bnr_img != blank %}
  <div class="intro-bg">
    <span>
      <picture>
        <source srcset="{{ section.settings.bnr_img | img_url: '' }}" media="(min-width: 768px)">
        <source srcset="{{ section.settings.mblbnr_img | img_url: '' }}">
        <img srcset="{{ section.settings.mblbnr_img | img_url: '' }}" alt="main intro">
      </picture>
    </span>
  </div>
  {% endif %}
</div>


{% schema %}
{
"name": "Home Banner",
"settings": [
{
"type": "text",
"id": "bnr_titl",
"label": "Title",
"default": "Enter Yor title"
},
{
"type": "textarea",
"id": "bnr_desc",
"label": "Description",
"default": "Enter Yor Description"
},
{
"type": "text",
"id": "btn_titl",
"label": "Button Title",
"default": "Enter Button Title"
},
{
"id": "bnr_btnlink",
"type": "url",
"label": "Button Link"
},
{
"type": "image_picker",
"id": "bnr_img",
"label": "Banner image"
},
{
"type": "image_picker",
"id": "mblbnr_img",
"label": "Mobile Banner image"
},
{
"type": "image_picker",
"id": "shipping_icon",
"label": "Free Shipping Icon"
}
],
"presets":[
{
"name": "Home Banner",
"category": "Home"
}
]
}
{% endschema %}

{% style %}

.cstm_page.page-intro.with-bg {
  background-color: unset;
}

.cstm_page.page-intro.with-bg .intro-bg span {
  background-color: #E9C8C7;
}

.cstm_page.page-intro.with-bg .cstm_introwrp.intro-wrap .data-wrap {
  width: 100%;
}

.cstm_page.page-intro.with-bg .intro-wrap .data-wrap .intro-text {
  padding: 7.4% 0 12.4% 0;
}

.cstm_page.page-intro .intro-wrap .data-wrap .intro-text {
  width: 100%;
  padding: 17.8% 30px 30px 0;
}

.cstm_page.page-intro.with-bg .cstm_titl.sub-title {
  text-align: start;
  max-width: 50%;
}

.intro-text .cstm_btn.btn {
  padding-top: 34px;
}

.intro-wrap .intro-text .main-btn {
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
  position: absolute;
  color: #345329;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .money-back-title {
  margin: 25px 0 0px 0px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping {
  display: flex;
  place-items: flex-start;
  align-items: center;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping img {
  margin: 0px 10px 0 0;
  max-width: 50px;
}

.cstm_page.page-intro.with-bg .intro-bg span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cstm_page.page-intro.with-bg .intro-bg span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media screen and (max-width: 1430px) {
  .cstm_container.container {
    max-width: 1172px;
  }

  .cstm_miniwrp.mini-wrap {
    max-width: 990px;
  }

  .cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
    padding-bottom: 51px;
  }

  .intro-text .cstm_titl.sub-title {
    max-width: 555px;
  }

  .cstm_titl.sub-title h1,
  .cstm_titl.sub-title h2 {
    font-size: 32px;
  }

  .cstm_titl.sub-title p {
    padding-top: 17px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1590px) {
  .cstm_container.container {
    max-width: 1316px;
  }

  .cstm_miniwrp.mini-wrap {
    max-width: 1110px;
  }

  .cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
    padding-bottom: 57px;
  }

  .intro-text .cstm_titl.sub-title {
    max-width: 625px;
  }

  .cstm_titl.sub-title h1,
  .cstm_titl.sub-title h2 {
    font-size: 36px;
  }

  .cstm_titl.sub-title p {
    padding-top: 19px;
    font-size: 18px;
  }
}

@media screen and (max-width: 760px) {
  .cstm_page.page-intro.with-bg {
    background-color: #E9C8C7;
  }

  .cstm_page.page-intro .intro-wrap {
    position: unset;
    padding-top: 10px;
  }

  .intro-text .cstm_btn.btn {
    padding-top: 0;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap {
    width: 100% !important;
    padding-bottom: 0 !important;
    z-index: 2 !important;
    position: unset;
  }

  .cstm_page.page-intro.with-bg .intro-wrap .data-wrap .intro-text {
    padding: 14px 0 0 0 !important;
  }

  .cstm_page.page-intro.with-bg .sub-title {
    text-align: unset !important;
    max-width: unset !important;
  }

  .cstm_page.page-intro .sub-title h1,
  .page-intro .sub-title h2 {
    font-size: 48px !important;
    line-height: 1.28 !important;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap .intro-text .sub-title p {
    padding-top: 9px !important;
  }

  .cstm_page.page-intro .sub-title p {
    padding-top: 25px !important;
    font-size: 16px !important;
    line-height: 1.44 !important;
  }

  .cstm_page.page-intro .main-btn {
    padding: 20px 10px !important;
    font-size: 24px;
    position: absolute;
    bottom: 150px;
    max-width: 50%;
  }

  .cstm_page.page-intro.with-bg .intro-bg {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    pointer-events: auto !important;
    margin-bottom: 100px;
  }

  .cstm_page.page-intro.with-bg .intro-bg:before {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
    pointer-events: none !important;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
    font-size: 16px;
    bottom: 40px;
    margin: auto;
    width: 90%;
  }

  .cstm_page.page-intro.with-bg .intro-bg span img {
    object-fit: contain;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping {
    justify-content: center;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping img {
    margin-left: 0;
    max-width: 50px;
  }
}

@media screen and (max-width: 1270px) {
  .cstm_page.with-bg .container {
    max-width: 942px;
    background-color: #E9C8C7;
  }

  .cstm_page.with-bg .mini-wrap {
    max-width: 798px;
  }

  .cstm_page.page-intro .sub-title h1,
  .page-intro .sub-title h2 {
    font-size: 28px;
  }

  .cstm_page.page-intro .sub-title p {
    padding-top: 8px;
    font-size: 14px;
  }
}

.cstm_page.page-intro {
  background-color: #F0F1F4;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cstm_container.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.cstm_miniwrp.mini-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 65px;
}

.intro-text .cstm_titl.sub-title {
  max-width: 695px;
  text-align: unset;
}

.cstm_titl.sub-title h1,
.cstm_titl.sub-title h2 {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3;
}

.cstm_titl.sub-title p {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.6;
}

.page-intro:before {
  background-image: none;
}

{% endstyle %}

{% javascript %}
{% endjavascript %}