<div class="cstm_page page-intro with-bg">
  <div class="cstm_container container">
      <div class="cstm_introwrp intro-wrap">
        <div class="data-wrap">
          <div class="intro-text">
            <div class="cstm_titl sub-title">
              <h3>BETTER YOU IN 2022</h3>
              <h2>{{section.settings.bnr_titl}}</h2>
              <p>{{section.settings.bnr_desc}}</p>
            </div>
            <div class="cstm_btn btn">
              <a href="{{section.settings.bnr_btnlink}}" class="main-btn">{{section.settings.btn_titl}}</a>
            </div>
            
          </div>
        </div>
    </div>
  </div>
  {% if section.settings.bnr_img != blank %}
  <div class="intro-bg">
    <span>
      <picture>
        <source srcset="{{ section.settings.bnr_img | img_url: '' }}" media="(min-width: 768px)">
        <source srcset="{{ section.settings.mblbnr_img | img_url: '' }}">
        <img srcset="{{ section.settings.mblbnr_img | img_url: '' }}" alt="main intro">
      </picture>
    </span>
  </div>
  {% endif %}
</div>


{% schema %}
{
"name": "Home Banner New Year",
"settings": [
{
"type": "text",
"id": "bnr_titl",
"label": "Title",
"default": "Enter Yor title"
},
{
"type": "textarea",
"id": "bnr_desc",
"label": "Description",
"default": "Enter Yor Description"
},
{
"type": "text",
"id": "btn_titl",
"label": "Button Title",
"default": "Enter Button Title"
},
{
"id": "bnr_btnlink",
"type": "url",
"label": "Button Link"
},
{
"type": "image_picker",
"id": "bnr_img",
"label": "Banner image"
},
{
"type": "image_picker",
"id": "mblbnr_img",
"label": "Mobile Banner image"
},
{
"type": "image_picker",
"id": "shipping_icon",
"label": "Free Shipping Icon"
}
],
"presets":[
{
"name": "Home Banner New Year",
"category": "Home"
}
]
}
{% endschema %}

{% style %}
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Baloo+Bhai+2&family=Pridi&display=swap');

.page-intro .intro-wrap h3 {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 5vw;
}

.cstm_page.page-intro.with-bg {
  background-color: unset;
  max-height: 40vw;
}

.page-intro .intro-wrap {
  padding-top: unset;
}

.cstm_page.page-intro.with-bg .cstm_introwrp.intro-wrap .data-wrap {
  width: 100%;
}

.cstm_page.page-intro.with-bg .intro-wrap .data-wrap .intro-text {
  padding: 4vw 0;
}

.cstm_page.page-intro.with-bg .cstm_titl.sub-title {
  text-align: start;
  color: white;
  max-width: unset;
}

.intro-text .cstm_btn.btn {
  padding-top: 34px;
}

.intro-wrap .intro-text .main-btn {
  border-radius: 3px;
  color: #314C47;
  background-color: white;
  border: 0;
  box-shadow: -10px 10px 0px 1px rgb(235 211 95 / 90%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 2vw;
  width: unset;
  max-width: unset;
  margin-left: 10px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
  position: absolute;
  color: #345329;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .money-back-title {
  margin: 25px 0 0px 0px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping {
  display: flex;
  place-items: flex-start;
  align-items: center;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping img {
  margin: 0px 10px 0 0;
  max-width: 50px;
}

.cstm_page.page-intro.with-bg .intro-bg span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cstm_page.page-intro.with-bg .intro-bg span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

@media screen and (max-width: 1430px) {

  .cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
    padding-bottom: 51px;
  }

  .intro-text .cstm_titl.sub-title {
    max-width: 555px;
  }

  .cstm_titl.sub-title h1,
  .cstm_titl.sub-title h2 {
    font-size: 32px;
  }

  .cstm_titl.sub-title p {
    padding-top: 17px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1590px) {

  .cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
    padding-bottom: 57px;
  }

  .intro-text .cstm_titl.sub-title {
    max-width: 625px;
  }

  .cstm_titl.sub-title h1,
  .cstm_titl.sub-title h2 {
    font-size: 36px;
  }

  .cstm_titl.sub-title p {
    padding-top: 19px;
    font-size: 18px;
  }
}

@media screen and (max-width: 760px) {
  .cstm_page.page-intro.with-bg {
    max-height: unset;
    height: calc(100vh - 50px);
  }

  .page-intro .sub-title h3 {
    font-size: 8.5vw !important;
  }

  .page-intro .container {
    position: absolute;
    bottom: 30px;
    padding: 0 30px !important;
  }

  .cstm_page.page-intro .intro-wrap {
    position: unset;
    padding-top: 10px;
  }

  .intro-text .cstm_btn.btn {
    padding-top: 0;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap {
    width: 100% !important;
    padding-bottom: 0 !important;
    z-index: 2 !important;
    position: unset;
  }

  .cstm_page.page-intro.with-bg .sub-title {
    text-align: unset !important;
    max-width: unset !important;
  }

  .cstm_page.page-intro .sub-title h1,
  .page-intro .sub-title h2 {
    font-size: 6vw !important;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap .intro-text .sub-title p {
    padding-top: 9px !important;
    font-size: 4vw !important;
  }

  .cstm_page.page-intro .sub-title p {
    padding-top: 25px !important;
    font-size: 16px !important;
    line-height: 1.44 !important;
  }

  .cstm_page.page-intro .main-btn {
    padding: 4vw 6vw !important;
    font-size: 6vw;
    margin-top: 20px;
  }

  .cstm_page.page-intro.with-bg .intro-bg {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    pointer-events: auto !important;
  }

  .cstm_page.page-intro.with-bg .intro-bg:before {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
    pointer-events: none !important;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
    font-size: 16px;
    bottom: 40px;
    margin: auto;
    width: 90%;
  }

  .cstm_page.page-intro.with-bg .intro-bg span img {
    object-fit: cover;
    object-position: top;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping {
    justify-content: center;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping img {
    margin-left: 0;
    max-width: 50px;
  }
}

@media screen and (max-width: 1270px) {

  .cstm_page.page-intro .sub-title h1,
  .page-intro .sub-title h2 {
    font-size: 28px;
  }

  .cstm_page.page-intro .sub-title p {
    padding-top: 8px;
    font-size: 14px;
  }
}

.cstm_page.page-intro {
  background-color: #F0F1F4;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cstm_container.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
  width: 50%;
  display: flex;
}

.intro-text .cstm_titl.sub-title {
  max-width: 695px;
  text-align: unset;
}

.cstm_titl.sub-title h1,
.cstm_titl.sub-title h2 {
  margin: 0;
  font-weight: 800;
  font-size: 3vw;
  line-height: 1.3;
}

.cstm_titl.sub-title p {
  font-size: 1.5vw;
}

.page-intro:before {
  background-image: none;
}

{% endstyle %}

{% javascript %}
{% endjavascript %}