{% assign showOnTag = blog.metafields.custom.show_on_tag %}
{% if showOnTag != blank %}
  {% if customer %}
    {% if customer.tags contains showOnTag %}
      {% assign hideForTag = false %}
    {% else %}
      {% assign hideForTag = true %}
    {% endif %}
  {% else %}
    {% assign hideForTag = true %}
  {% endif %}
{% endif %}

{% if blog.metafields.custom.is_show_to_p1 %}
  {% if customer %}
    {% if customer.orders_count > 0 %}
      {% assign hideForTag = false %}
    {% else %}
      {% assign hideForTag = true %}
    {% endif %}
  {% else %}
    {% assign hideForTag = true %}
  {% endif %}
{% endif %}

{% comment %} {% if customer.email == 'yotam@curalife.com' %}
  {% assign hideForTag = false %}
{% endif %} {% endcomment %}

{% if hideForTag != true %}
  {% assign blog_categories = "Awareness Dates,CuraFood Recipes,Health Education,Healthy Living" %}
  {% assign filters_data = blog.metafields.custom.filters %}

  <section class="blog-page">
    <div class="container">
      {% paginate blog.articles by 9 %}

        {% if filters_data %}
          <div id="dynamic-filters" data-active="{{ current_tags.first | replace: ' ', '-' | downcase }}"></div>
        {% else %}
          <div class="blog-category">
            <div class="category-wrap">
              <div class="touch-scroll">
                <div class="scroll-wrap">
                  <ul>
                    <li {% if current_tags == blank  %}class="active"{% endif %}><a href="{{ blog.url }}">All</a></li>
                      <ul>
                        {% for tag in blog.all_tags %}
                          {% if blog_categories contains tag %}
                            {% assign crTag = tag %}
                            {% if current_tags contains crTag  %}
                              {% assign cls = "active" %}
                            {% else %}
                              {% assign cls = "" %}
                            {% endif %}
                            {% assign tag_in_articles = false %}
                            {% for article in blog.articles %}
                              {% if article.tags contains crTag %}
                                {% assign tag_in_articles = true %}
                              {% endif %}
                            {% endfor %}
                            {% if tag_in_articles %}
                              <li class="{{cls}}"><a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a></li>
                            {% else %}
                              <li class="{{cls}}"><a href="#" class="disabled border-gray-500">{{ tag }}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div id="articles-container" class="article-list">
          {% for article in blog.articles %}
            {% if forloop.index <= 2 %}
              {% assign desc = true %}
            {% else %}
              {% assign desc = false %}
            {% endif %}
            {% render 'blog-card-grid', article: article, description: desc, blog_categories: blog_categories %}
          {% endfor %}
        </div>

        {%- if paginate.pages > 1 -%}
        {% assign totalPage = paginate.pages %}
            {% render 'blog-pagination', paginate: paginate, totalPage: totalPage %}
          {%- endif -%}
        {% endpaginate %}
    </div>
  </div>

  {% render 'newsletter-form' %}

  {% if filters_data %}
    {% assign disabledTags = '' %}
    <script>console.log("blog.all_tags: {{ blog.all_tags }}")</script>
    {% for tag in blog.all_tags %}
      <script>console.log("tag: {{ tag }}")</script>
      {% assign crTag = tag %}
      {% assign tag_in_articles = false %}
      {% for article in blog.articles %}
        {% if article.tags contains crTag %}
          {% assign tag_in_articles = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% unless tag_in_articles %}
          <script>console.log("tag: {{ tag }} not in blog tags!")</script>
        {% assign disabledTags = disabledTags | append: tag | append: ',' %}
      {% endunless %}
    {% endfor %}

    <script>console.log("disabledTags: {{ disabledTags }}")</script>

    <script>
      function titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(' ');
      }

      $(document).ready(function() {
        // Parse filters_data from Liquid to JavaScript object
        const filtersJson = '{{ filters_data }}';
        console.log('filtersJson:', filtersJson);
        const filtersData = JSON.parse(filtersJson);
        console.log('filtersData:', filtersData);

        // Generate dynamic filters
        let filterHTML = "";
        for(const [key, values] of Object.entries(filtersData)) {
          console.log('key:', key);
          console.log('values:', values);
          titleHTML = key ? `<h4>${titleCase(key.replace('-',' '))}</h4>` : '';
          console.log('titleHTML:', titleHTML);
          filterHTML += `<div class="filter-group">${titleHTML}<ul>`;
          for(const value of values) {
            console.log('value:', value);
            const is_disabled = '{{ blog.all_tags }}'.includes(value) ? false : true;
            console.log('disabled:', is_disabled);
            const href = is_disabled ? '#' : `/blogs/{{ blog.handle }}/tagged/${value}`;
            const disabledClass = is_disabled ? 'disabled' : '';
            filterHTML += `<li><a href="${href}" data-category="${key}" data-value="${value}" class="${disabledClass}">${titleCase(value.replace('-',' '))}</a></li>`;
          }
          filterHTML += `</ul></div>`;
        }
        console.log('filterHTML:', filterHTML);
        $("#dynamic-filters").html(filterHTML);

        // Highlight active filter
        const activeTag = $('#dynamic-filters').data('active');
        console.log('activeTag:', activeTag);
        if (activeTag) {
          $(`#dynamic-filters [data-value="${activeTag}"]`)[0].parentElement.classList.add('active');
        }
      });
    </script>
  {% endif %}

  <style>
    #dynamic-filters {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      gap: 1rem;
    }

    #dynamic-filters .filter-group {
      padding: 1rem;
    }

    #dynamic-filters .filter-group ul {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    #dynamic-filters .filter-group ul li {
      border-radius: 30px;
      border: 1px solid var(--blue);
      padding: 0.5rem 1rem;
      margin-bottom: unset;
    }

    #dynamic-filters .filter-group ul li::before {
      content: "";
    }

    #dynamic-filters .filter-group ul li.active {
      background: var(--blue);
      color: white;
    }

    @media screen and (max-width: 768px) {
      #dynamic-filters .filter-group ul {
        padding: unset;
        font-size: 3vw;
      }

      #dynamic-filters .filter-group ul {
        flex-wrap: wrap;
      }

      #dynamic-filters .filter-group ul li {
        margin-bottom: 1rem;
      }
    }
  </style>

  <style>
    .page-title {
        padding: 30px 0;
    }

    .blog-category {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    .blog-category .category-wrap {
        max-width: 100%;
        padding: 0 10px;
    }
    .touch-scroll {
        width: 100%;
    }
    .touch-scroll .scroll-wrap {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .blog-category ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-category ul li {
        display: flex;
        text-align: center;
        margin-bottom: 10px;
        padding-right: 13px;
    }
    .blog-category ul li:before {
      content: "";
    }
    .blog-category ul li a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -.284583px;
        color: var(--blue);
        white-space: nowrap;
        border: 1px solid var(--blue);
        border-radius: 5px;
        transition: color var(--transition),border-color var(--transition),background-color var(--transition);
    }
    .blog-category ul li.active a {
        color: #fff;
        background: var(--blue);
    }
    .article-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .article-card {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .article-card a.admin-edit-link {
      position: absolute;
      right: 20px;
      top: 20px;
      background: white;
      padding: 5px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }

    .article-card .picture {
        overflow: hidden;
        position: relative;
        border-radius: 5px;
    }

    .article-card .picture:before {
        content: "";
        display: block;
        padding-bottom: 83%;
        pointer-events: none;
    }

    .article-card .picture .main-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
    .article-card .picture img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        will-change: transform;
        transition: transform .7s ease-in-out;
    }

    .article-card .picture .category {
        max-width: 100%;
        padding: 17px 20px;
        background: var(--blue);
        border-radius: 0 2px 2px 0;
        position: absolute;
        left: 0;
        bottom: 20px;
        z-index: 3;
        min-width:140px;
        text-align: center;;
    }
    .article-card .picture .category p {
        margin: 0;
        font-size: 16px;
        color: #fff;
    }
    .article-card .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    .article-card .info .main-info .title {
        padding-top: 15px;
    }
    .article-card .info .main-info .title h3 {
        font-size: 22px;
          line-height: 1.2;
          margin:0;
          color: black;
    }

    .article-card .info .main-info .offer p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.33;
        color: var(--dark);
    }

    .article-card .info .main-info .description {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: none;
    }
    .article-card .info .main-info .description p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.57;
        color: var(--dark);
    }

      .article-card .info .article-author {
          display: flex;
          align-items: center;
      }
    .article-author .photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    .article-author .photo img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .article-author .details {
        width: calc(100% - 60px);
        color: grey !important;
    }
    .article-author .details h4 {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    @media screen and (max-width: 768px) {
      .blog-page {
          padding-bottom: 100px;
      }

      .blog-category {
          padding-top: 20px;
      }
      .article-card {
          width: 100%;
      }

      .article-list .article-card .picture:before {
          padding-bottom: 67.7%;
      }

      .article-card .info .main-info .title {
          padding-top: 12px;
      }

      .article-card .info .article-author {
          padding-top: 22px;
          display: none;
      }
      .article-author .details {
          width: calc(100% - 60px);
          padding-left: 20px;
      }
      .article-author .details h4 {
          font-size: 16px;
      }
    }

  </style>
{% else %}
  <div class="container">
    <div class="article-list">
      <div class="article-card">
        <div class="info">
          <div class="main-info">
            <div class="title">
              <h3 class="text-center">No Articles Available</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "text",
        "id": "blg_des",
        "label": "Blog Description",
        "default": "Enter Blog Description"
      },
      {
        "type": "image_picker",
        "id": "authr_blgimg",
        "label": "Select Author Image"
      }
    ]
  }
{% endschema %}