<div class="bogo-gift-section" id="bogo-gift-section">
  <div class="container">
    <div class="bogo-gift-boxes swiper md:overflow-visible">
      <div class="swiper-wrapper mb-[50px] pt-[50px]">
        <div class="swiper-slide">
          <div class="bogo-gift-box relative shadow-2xl flex md:flex-col w-[1000px] md:w-auto h-[380px] md:h-auto m-auto p-8 md:p-2 items-center">
            <img src="{{ section.settings.badge_image | image_url }}" alt="" class="badge-image absolute top-[-10px] md:top-[-30px] right-[-10px] md:right-[-10px] md:w-[18vw]">
            <img src="{{ section.settings.decoration_image | image_url }}" alt="" class="decoration-image absolute bottom-[50px] right-[50px] md:hidden">
            <h3 class="title text-center mobile">Immune Booster</h3>
            <div class="content-wrapper flex items-center">
              <img src="{{ all_products['immune-booster'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px] md:h-[50vw]">
              <div class="content w-3/5 md:w-auto">
                <h3 class="title desktop">Immune Booster</h3>
                <ul class="benefits md:w-auto">
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Powerful mushrooms & fungi</b><br>that support total immune health</div></li>
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Supports daily strength</b><br>cognition, and endurance</div></li>
                  <li class="benefit flex items-start gap-2"><div class="text"><b>Keeps inflammation</b><br>checked by promoting a healthy inflammation response</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="bogo-gift-box relative shadow-2xl flex md:flex-col w-[1000px] md:w-auto h-[380px] md:h-auto m-auto p-8 md:p-2 items-center">
            <img src="{{ section.settings.badge_image | image_url }}" alt="" class="badge-image absolute top-[-10px] md:top-[-30px] right-[-10px] md:right-[-10px] md:w-[18vw]">
            <img src="{{ section.settings.decoration_image | image_url }}" alt="" class="decoration-image absolute bottom-[50px] right-[50px] md:hidden">
            <h3 class="title text-center mobile">Restful Sleep</h3>
            <div class="content-wrapper flex items-center">
              <img src="{{ all_products['restful-sleep'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px] md:h-[50vw]">
              <div class="content w-3/5 md:w-auto">
                <h3 class="title desktop">Restful Sleep</h3>
                <ul class="benefits md:w-auto">
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Know you’re covered</b><br>with 19 powerful ingredients supporting your sleep</div></li>
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Support muscle function</b><br>with powerful B6 vitamins</div></li>
                  <li class="benefit flex items-start gap-2"><div class="text"><b>Destress and boost</b><br>nervous system health for a restful night’s sleep</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="bogo-gift-box relative shadow-2xl flex md:flex-col w-[1000px] md:w-auto h-[380px] md:h-auto m-auto p-8 md:p-2 items-center">
            <img src="{{ section.settings.badge_image | image_url }}" alt="" class="badge-image absolute top-[-10px] md:top-[-30px] right-[-10px] md:right-[-10px] md:w-[18vw]">
            <img src="{{ section.settings.decoration_image | image_url }}" alt="" class="decoration-image absolute bottom-[50px] right-[50px] md:hidden">
            <h3 class="title text-center mobile">Platinum Joint Care</h3>
            <div class="content-wrapper flex items-center">
              <img src="{{ all_products['platinum-joint-care'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px] md:h-[50vw]">
              <div class="content w-3/5 md:w-auto">
                <h3 class="title desktop">Platinum Joint Care</h3>
                <ul class="benefits md:w-auto">
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Formulated for joints</b><br>with 8 synergistic ingredients</div></li>
                  <li class="benefit flex items-start gap-2 mb-4"><div class="text"><b>Supports flexibility</b><br>and helps with joint stiffness</div></li>
                  <li class="benefit flex items-start gap-2"><div class="text"><b>Keeps inflammation</b><br>checked and promotes healthy blood pressure</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bogo-gift-section ul li:before {
    content: '✓';
    background-color: black;
    color: white;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
  }

  .bogo-gift-section ul li {
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    .bogo-gift-section ul li {
      font-size: 14px;
    }
  }
</style>

<script>
  window.giftSlider = new Swiper('.bogo-gift-boxes', {
    slidesPerView: 1,
    spaceBetween: 30,
    navigation: {
      nextEl: '.bogo-gift-section .swiper-button-next',
      prevEl: '.bogo-gift-section .swiper-button-prev',
    },
  });
</script>

{% schema %}
  {
    "name": "Bogo Gift",
    "settings": [
      {
        "type": "image_picker",
        "id": "badge_image",
        "label": "Badge Image"
      },
      {
        "type": "image_picker",
        "id": "decoration_image",
        "label": "Decoration Image"
      }
    ],
    "presets": [
      {
        "name": "Bogo Gift"
      }
    ]
  }
{% endschema %}