<nav class="breadcrumb">
  <a href="/">Home</a>
  {% if collection %}
    <span class="breadcrumb-separator"> &gt; </span>
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% elsif page %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>{{ page.title }}</span>
  {% elsif article %}
    <span class="breadcrumb-separator"> &gt; </span>
    <a href="/blogs/{{ blog.handle }}">{{ blog.title }}</a>
    <span class="breadcrumb-separator"> &gt; </span>
    <span>{{ article.title }}</span>
  {% elsif template.name == 'list-collections' %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>Collections</span>
  {% elsif template.name == 'index' %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>Home</span>
  {% elsif template.name == 'cart' %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>Cart</span>
  {% elsif template.name == 'search' %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>Search</span>
  {% endif %}
  {% if product %}
    <span class="breadcrumb-separator"> &gt; </span>
    <span>{{ product.title }}</span>
  {% endif %}
</nav>

<style>
  .breadcrumb {
    font-size: 14px;
  }

  .breadcrumb a {
    text-decoration: none;
    color: #5a5a5a;
  }

  .breadcrumb-separator {
    padding: 0 8px;
    color: #ccc;
  }
</style>

{% schema  %}
{
  "name": "Breadcrumb",
  "settings": [
  ],
  "presets": [
    {
      "name": "Breadcrumb",
      "category": "Navigation"
    }
  ]
}
{% endschema %}