{% if template.name != "index" %}
  <nav class="breadcrumb">
    <div class="container">
      <a href="/">Home</a>
      {% if collection %}
        <span class="breadcrumb-separator"> &gt; </span>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {% elsif page %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>{{ page.title }}</span>
      {% elsif blog and article %}
        <span class="breadcrumb-separator"> &gt; </span>
        <a href="/blogs/{{ blog.handle }}">{{ blog.title }}</a>
        <span class="breadcrumb-separator"> &gt; </span>
        <span>{{ article.title }}</span>
      {% elsif blog %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>{{ blog.title }}</span>
      {% elsif template.name == 'list-collections' %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>Collections</span>
      {% elsif template.name == 'cart' %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>Cart</span>
      {% elsif template.name == 'search' %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>Search</span>
      {% endif %}
      {% if product %}
        <span class="breadcrumb-separator"> &gt; </span>
        <span>{{ product.title }}</span>
      {% endif %}
    </div>
  </nav>

  <style>
    .breadcrumb {
      font-size: 14px;
    }

    .breadcrumb a {
      text-decoration: none;
      color: #5a5a5a;
    }

    .breadcrumb-separator {
      padding: 0 8px;
      color: #ccc;
    }
  </style>
{% endif %}

{% schema  %}
{
  "name": "Breadcrumb",
  "settings": [
  ],
  "presets": [
    {
      "name": "Breadcrumb",
      "category": "Navigation"
    }
  ]
}
{% endschema %}