{% if template.name != "index" %}
  <div class="container">
    <nav class="breadcrumb absolute top-[10px] z-10 text-[14px]">
      <a href="/">Home</a>
      {% if collection %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {% elsif page %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>{{ page.title }}</span>
      {% elsif blog and article %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <a href="/blogs/{{ blog.handle }}">{{ blog.title }}</a>
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>{{ article.title }}</span>
      {% elsif blog %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>{{ blog.title }}</span>
      {% elsif template.name == 'list-collections' %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>Collections</span>
      {% elsif template.name == 'cart' %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>Cart</span>
      {% elsif template.name == 'search' %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>Search</span>
      {% endif %}

      {% if product %}
        {% if product.collections.size > 0 %}
          {% assign current_collection = product.collections.first %}
          <span class="breadcrumb-separator px-2"> &gt; </span>
          <a href="{{ current_collection.url }}">{{ current_collection.title }}</a>
        {% endif %}
        <span class="breadcrumb-separator px-2"> &gt; </span>
        <span>{{ product.title }}</span>
      {% endif %}
    </nav>
  </div>
{% endif %}


{% schema  %}
{
  "name": "Breadcrumb",
  "settings": [
  ],
  "presets": [
    {
      "name": "Breadcrumb",
      "category": "Navigation"
    }
  ]
}
{% endschema %}