<section class="button-section">
  <div class="container">
    <a href="{{ section.settings.button_link }}"><button>{{ section.settings.button-text }}</button></a>
  </div>
</section>

<style>
  .button-section {
    background: {{ section.settings.bg_color }};
    {% if section.settings.remove_padding_top %}padding-top: 0;{% endif %}
    {% if section.settings.remove_padding_bottom %}padding-bottom: 0;{% endif %}
  }

  .button-section .container {
    display: flex;
    justify-content: center;
  }

  .button-section button {
    border: none;
    background: {{ section.settings.button_bg_color }};
    border-radius: 0;
    color: {{ section.settings.button_title_color }};
    font-weight: 700;
    font-size: 33px;
    box-shadow: 8.26531px 8.26531px 8.26531px rgba(0, 0, 0, 0.2);
    transition: all var(--transition);
    border-radius: 17px;
    min-width: 500px;
  }

  .button-section button:hover {
    background: {{ section.settings.button_bg_hover }};
    color: {{ section.settings.button_title_color_hover }}
  }
  @media screen and ( max-width: 768px) {
    .button-section button {
      min-width: 300px;
      font-size: 25px;
    }
  }
</style>

{% schema %}
{
  "name": "Button",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button Hover Background Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_title_color_hover",
      "label": "Button Hover Title Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_top",
      "label": "Remove Top Padding"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_bottom",
      "label": "Remove Bottom Padding"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
