<section class="button-section">
  <div class="container">
    <div class="btn-wrapper">
    <a href="{{ section.settings.button_link }}"><button class="button">{{ section.settings.button-text }}</button></a>
    </div>
  </div>
</section>

<style>
  .button-section {
    background: {{ section.settings.bg_color }};
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .button {
    border: none;
    background:  {{ section.settings.button_color }};
    border-radius: 0;
    color: {{ section.settings.button_title_color }};
    font-weight: 700;
    font-size: 33px;
    box-shadow: 8.26531px 8.26531px 8.26531px rgba(0, 0, 0, 0.2);
    transition: all var(--transition);
    border-radius: 17px;
    min-width: 500px;
  }

  .button-section:hover {
    background: {{ section.settings.button_hbg }};
    color: {{ section.settings.button_httl }}
  }
 @media screen and ( max-width: 768px) {

    .button-section {
      min-width: 300px;
      font-size: 25px;
    }
  }
</style>

{% schema %}
{
  "name": "Button",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },


    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_hbg",
      "label": "Button Hover Background Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_httl",
      "label": "Button Hover Title Color",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
