{% assign cda = page.content | split: '<span id="smoothie-career-data" style="display: none !important;">' %}
{% assign cdb = cda[1] | split: '</span>' %}

{% assign listings = cdb[0] | split: '<br>' %}

<div id="smoothie-job-content" class="smoothie-search-page" style="">
    <h1 style="display: none;">Career Opportunities</h1>
  <div class="job-page container">
    <div class="page-hero">
      <div class="hero-content">
        <h2 class="main-title">Your Work<br>Should<span class="main-title-bolder">MATTER.</span></h2>
        <img src="{{ "careers-hero-image-mobile.png" | asset_url }}" alt="creers-image">
        <p class="subtitle">We are on a mission to <b>REDEFINE HEALTHCARE.</b></p>
        <div class="description">By disrupting an industry, we help millions of people live healthy, happy lives. As a team, we put the health and wellness of our community at the brink of our job! We are creators/builders/innovators - and we’re disrupting how the world sees health, one person at a time.<br><b>Sounds fun right?</b></div>
      </div>
      <div class="hero-image-wrapper">
        <img src="{{ "careers-hero-image.png" | asset_url }}" alt="creers-image">
      </div>
    </div>
    <button id="scroll-to-careers">OUR CAREERS</button>
    <div class="about">
      <h4>About Working At CuraLife</h4>
      <div class="benefits">
        <div class="benefit">
          <div class="benefit-container">
            <div class="box">
              <div class="icon_bg"></div>
            </div>
            <div class="icon">
              <img src="{{ "careers-benefits-icon-1.png" | asset_url }}" alt="creers-icon">
            </div>
          </div>
          <div class="text">
            <p class="title">
              We Hear You
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-container">
            <div class="box">
              <div class="icon_bg"></div>
            </div>
            <div class="icon">
              <img src="{{ "careers-benefits-icon-2.png" | asset_url }}" alt="creers-icon">
            </div>
          </div>
          <div class="text">
            <p class="title">
              We Grow Together
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-container">
            <div class="box">
              <div class="icon_bg"></div>
            </div>
            <div class="icon">
              <img src="{{ "careers-benefits-icon-3.png" | asset_url }}" alt="creers-icon">
            </div>
          </div>
          <div class="text">
            <p class="title">
              We Vibe
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-container">
            <div class="box">
              <div class="icon_bg"></div>
            </div>
            <div class="icon">
              <img src="{{ "careers-benefits-icon-4.png" | asset_url }}" alt="creers-icon">
            </div>
          </div>
          <div class="text">
            <p class="title">
              Our Work Matters
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-container">
            <div class="box">
              <div class="icon_bg"></div>
            </div>
            <div class="icon">
              <img src="{{ "careers-benefits-icon-5.png" | asset_url }}" alt="creers-icon">
            </div>
          </div>
          <div class="text">
            <p class="title">
              We're Worldwide
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
              videoId: "ZDoh5GwcyKU", // YouTube Video ID
              width: 1920, // Player width (in px)
              playerVars: {
                autoplay: 0, // Auto-play the video on load
                controls: 1, // Show pause/play buttons in player
                showinfo: 1, // Hide the video title
                modestbranding: 1, // Hide the Youtube Logo
                loop: 0, // Run the video in a loop
                fs: 1, // Hide the full screen button
                cc_load_policy: 1, // Hide closed captions
                iv_load_policy: 3, // Hide the Video Annotations
                autohide: 1, // Hide video controls when playing
                mute: 0, // Sound Off On
                rel: 0
          }
        });
      }

      $(document).ready(function ($) {
  // Play when in viewport
  $(window).on('scroll load', function(){
    $('.responsive-vid iframe').each( function(i){
      player.pauseVideo();
      var scroll_position = $(window).scrollTop();
      var bottom_of_video = $(this).offset().top + ($(this).outerHeight() / 2);
      var bottom_of_window3 = $(window).scrollTop() + $(window).height();
      if( bottom_of_window3 > bottom_of_video && scroll_position < bottom_of_video ) {
        player.playVideo();
        $('#player').css({'opacity':'1'});
      } else {
        player.pauseVideo();
        $('#player').css({'opacity':'.6'});
      }
    });
  });

});
    </script>
    <div class="vid-section">
      <div class="vid-wrap">
        <div class="responsive-vid">
          <div id="player"></div>
        </div>
      <div class="video__overlay"></div>
      </div>
    </div>
    <div class="more-content">
      <p class="">We are looking for creative, hardworking, and passionate people who are ready to do something bold. And we want you to join the family.</p>
      <p class="bolder">Is that you?</p>
    </div>



    <ul id="jobs-list">
  {% if listings.size == 0 %}
    <p class="jobs-empty">There are no open jobs currently.</p>
  {% endif %}

  {% for listing in listings %}

      {% assign parts = listing  | split: '|||' %}
      {% assign handle = parts[0] %}
      {% assign title = parts[1] %}
      {% assign location = parts[2] %}
      {% assign team = parts[3] %}
      {% assign salary = parts[4] %}
      {% assign deadline = parts[5] %}

      {% assign job_type = "" %}
      {% if parts.size > 5 %}
      {% assign job_type = parts[6] %}
      {% endif %}

      {% assign career_currency = "" %}
      {% assign career_period = "" %}
      {% assign career_amount_type = "" %}
      {% assign career_amount_value = "" %}
      {% assign career_amount_min = "" %}
      {% assign career_amount_max = "" %}
      {% assign career_show_salary = "" %}

      {% if parts.size > 12 %}
        {% assign career_currency = parts[7] %}
        {% assign career_period = parts[8] %}
        {% assign career_amount_type = parts[9] %}
        {% assign career_amount_value = parts[10] %}
        {% assign career_amount_min = parts[11] %}
        {% assign career_amount_max = parts[12] %}
        {% assign career_show_salary = parts[13] %}
      {% endif %}

      {% if parts.size > 13 %}
        {% assign external_link = parts[14] %}
      {% endif %}

      {% assign career_period_text = "" %}
      {% if career_period != blank %}
        {% capture career_period_text %}
          {% case career_period %}
          {% when 'HOUR' %}
          hour
          {% when 'DAY' %}
          day
          {% when 'WEEK' %}
          week
          {% when 'MONTH' %}
          month
          {% when 'YEAR' %}
          year
          {% endcase %}
        {% endcapture %}
      {% endif %}

      {% if career_show_salary != blank and career_show_salary == 'true' %}

        {% assign size_value = career_amount_value | size %}
        {% assign size_max = career_amount_max | size %}
        {% assign size_min = career_amount_min | size %}

        {% if size_value > 3 %}
          {% assign val_slice = career_amount_value | slice: -3, 3 %}
          {% if val_slice == '000' %}
            {% assign size = size_value | minus: 3 %}
            {% assign career_amount_value = career_amount_value | slice: 0, size | append: 'K' %}
          {% endif %}
        {% endif %}

        {% if size_max > 3 %}
          {% assign max_slice = career_amount_max | slice: -3, 3 %}
          {% if val_slice == '000' %}
            {% assign size = size_max | minus: 3 %}
            {% assign career_amount_max = career_amount_max | slice: 0, size | append: 'K' %}
          {% endif %}
        {% endif %}

        {% if size_min > 3 %}
          {% assign min_slice = career_amount_min | slice: -3, 3 %}
          {% if val_slice == '000' %}
            {% assign size = size_min | minus: 3 %}
            {% assign career_amount_min = career_amount_min | slice: 0, size | append: 'K' %}
          {% endif %}
        {% endif %}


        {% assign suffix_string = " " | append: career_currency | downcase %}
        {% assign suffix_string = suffix_string | append: " / " | append: career_period_text | downcase %}

        {% assign salary = "" %}
        {% if career_amount_type == 'single' %}
          {% assign salary = salary | append: career_amount_value %}
        {% elsif career_amount_type == 'range' %}
          {% assign salary = salary | append: career_amount_min %}
          {% assign salary = salary | append: " - " %}
          {% assign salary = salary | append: career_amount_max %}
        {% endif %}

        {% assign salary = salary | append: suffix_string %}

      {% endif %}

    {% if external_link == blank or external_link == 'null' %}
    <a href="/pages/{{ handle }}" >
    {% else %}
    <a href="{{ external_link }}" target="_blank">
    {% endif %}
        <li>
          <h3>{{ title }}</h3>

          {% if location != "" and location != "null" %}
          <span class="detail" title="Career location">
            <div class="smoothie-icon-wrapper">
              <svg class="smoothie-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title></title><g data-name="53-Location" id="_53-Location"><path class="cls-1" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:1.3px;" d="M27,12A11,11,0,0,0,5,12c0,9,10,19,10,19S27,22,27,12Z"></path><circle style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:1.3px;" cx="16" cy="11" r="4"></circle></g></svg>
            </div>
            <span class="detail-text" style="margin-left: 7px;">{{ location }}</span>
          </span>
          {% endif %}

          {% if team != "" and team != "null" %}
          <span class="detail" title="Team/department">
            <div class="smoothie-icon-wrapper">
              <svg class="smoothie-icon" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"><path d="M9,49h32v-4h8V33c0-5.834-3.863-10.781-9.165-12.421C42.335,18.978,44,16.182,44,13c0-4.962-4.037-9-9-9   c-0.855,0-1.703,0.128-2.531,0.373C30.636,2.31,27.971,1,25,1s-5.636,1.31-7.469,3.373C16.703,4.128,15.855,4,15,4   c-4.963,0-9,4.038-9,9c0,3.182,1.665,5.978,4.165,7.579C4.863,22.219,1,27.166,1,33v12h8V49z M39,47H11v-2V32   c0-0.334,0.021-0.664,0.05-0.991c0.01-0.107,0.023-0.213,0.035-0.32c0.027-0.226,0.062-0.449,0.103-0.67   c0.021-0.112,0.038-0.225,0.062-0.336c0.062-0.287,0.135-0.569,0.218-0.848c0.042-0.138,0.092-0.272,0.139-0.408   c0.054-0.158,0.111-0.314,0.172-0.469c0.059-0.149,0.121-0.297,0.186-0.443c0.064-0.143,0.134-0.283,0.204-0.423   c0.102-0.204,0.21-0.404,0.324-0.601c0.1-0.171,0.2-0.342,0.308-0.507c0.084-0.128,0.174-0.252,0.263-0.377   c0.094-0.132,0.191-0.262,0.291-0.389c0.092-0.117,0.184-0.233,0.281-0.346c0.126-0.147,0.257-0.289,0.39-0.429   c0.123-0.13,0.249-0.258,0.378-0.382c0.159-0.152,0.32-0.301,0.488-0.444c0.11-0.093,0.224-0.182,0.338-0.271   c0.131-0.102,0.263-0.202,0.399-0.298c0.126-0.09,0.252-0.179,0.383-0.264c0.132-0.086,0.268-0.165,0.403-0.245   c0.255-0.151,0.517-0.292,0.786-0.423c0.135-0.066,0.268-0.135,0.406-0.196l0.161-0.072C19.072,21.303,20.501,21,22,21h6   c1.499,0,2.928,0.303,4.231,0.849l0.161,0.072c0.138,0.06,0.271,0.13,0.406,0.196c0.269,0.131,0.531,0.272,0.786,0.423   c0.136,0.08,0.272,0.159,0.403,0.245c0.13,0.085,0.257,0.174,0.383,0.264c0.135,0.096,0.268,0.196,0.399,0.298   c0.114,0.089,0.228,0.178,0.338,0.271c0.168,0.142,0.329,0.292,0.488,0.444c0.13,0.124,0.255,0.252,0.378,0.382   c0.133,0.14,0.265,0.282,0.39,0.429c0.096,0.113,0.189,0.229,0.281,0.346c0.1,0.127,0.197,0.257,0.291,0.389   c0.089,0.125,0.18,0.248,0.263,0.377c0.108,0.165,0.209,0.336,0.308,0.507c0.114,0.197,0.222,0.398,0.324,0.601   c0.07,0.14,0.14,0.28,0.204,0.423c0.066,0.146,0.127,0.294,0.186,0.443c0.061,0.154,0.117,0.311,0.172,0.469   c0.047,0.136,0.097,0.271,0.139,0.408c0.084,0.278,0.157,0.561,0.218,0.848c0.024,0.111,0.042,0.224,0.062,0.336   c0.04,0.221,0.076,0.445,0.103,0.67c0.013,0.106,0.026,0.213,0.035,0.32C38.979,31.336,39,31.666,39,32v13V47z M47,33v10h-6V32   c0-0.475-0.029-0.943-0.079-1.405c-0.012-0.109-0.035-0.215-0.049-0.323c-0.048-0.357-0.104-0.712-0.18-1.059   c-0.025-0.114-0.059-0.224-0.087-0.337c-0.084-0.339-0.177-0.674-0.287-1.002c-0.037-0.111-0.08-0.219-0.12-0.328   c-0.118-0.323-0.247-0.641-0.389-0.951c-0.05-0.109-0.103-0.217-0.157-0.324c-0.149-0.303-0.309-0.598-0.481-0.887   c-0.063-0.106-0.126-0.212-0.193-0.317c-0.18-0.283-0.371-0.557-0.571-0.825c-0.073-0.098-0.143-0.197-0.219-0.293   c-0.219-0.277-0.452-0.542-0.693-0.8c-0.068-0.073-0.131-0.15-0.201-0.221c-0.316-0.324-0.646-0.634-0.994-0.923   C42.227,22.164,47,27.035,47,33z M33.723,6.121C34.145,6.041,34.571,6,35,6c3.859,0,7,3.14,7,7s-3.141,7-7,7   c-1.373,0-2.694-0.4-3.826-1.144c0.015-0.011,0.027-0.025,0.041-0.037c0.861-0.685,1.603-1.509,2.199-2.438   c0.019-0.03,0.036-0.06,0.055-0.09c0.173-0.276,0.332-0.56,0.478-0.853c0.024-0.048,0.046-0.096,0.069-0.144   c0.133-0.277,0.252-0.561,0.359-0.852c0.022-0.06,0.045-0.12,0.066-0.18c0.097-0.279,0.18-0.564,0.252-0.854   c0.018-0.072,0.039-0.143,0.055-0.215c0.064-0.283,0.112-0.571,0.151-0.863c0.011-0.077,0.027-0.153,0.035-0.231   C34.976,11.739,35,11.372,35,11c0-0.396-0.029-0.784-0.074-1.168c-0.014-0.122-0.037-0.242-0.056-0.364   c-0.042-0.268-0.092-0.533-0.154-0.794c-0.03-0.127-0.062-0.253-0.097-0.378c-0.081-0.289-0.176-0.572-0.282-0.849   c-0.03-0.077-0.054-0.156-0.085-0.232c-0.152-0.37-0.325-0.728-0.519-1.075C33.728,6.133,33.726,6.127,33.723,6.121z M31.163,5.905   l0.061,0.079c0.049,0.061,0.093,0.125,0.14,0.187c0.51,0.671,0.9,1.402,1.174,2.173c0.018,0.05,0.038,0.099,0.055,0.15   c0.119,0.359,0.209,0.726,0.276,1.1c0.014,0.078,0.025,0.158,0.036,0.237C32.961,10.216,33,10.605,33,11   c0,0.328-0.025,0.652-0.065,0.973c-0.009,0.075-0.023,0.149-0.034,0.224c-0.041,0.265-0.092,0.527-0.159,0.784   c-0.014,0.054-0.027,0.109-0.042,0.163c-0.181,0.644-0.439,1.262-0.771,1.838c-0.006,0.01-0.012,0.02-0.018,0.03   c-0.161,0.277-0.341,0.544-0.535,0.8c-0.018,0.023-0.035,0.047-0.053,0.071c-0.407,0.527-0.881,1.004-1.414,1.42   c-0.031,0.024-0.064,0.047-0.095,0.071c-0.247,0.187-0.505,0.361-0.775,0.52c-0.048,0.028-0.093,0.059-0.142,0.086l-0.114,0.066   C27.655,18.654,26.368,19,25,19s-2.655-0.346-3.782-0.954l-0.114-0.066c-0.048-0.027-0.094-0.058-0.142-0.086   c-0.27-0.159-0.528-0.333-0.775-0.52c-0.032-0.024-0.064-0.047-0.095-0.071c-0.532-0.416-1.006-0.893-1.414-1.42   c-0.018-0.023-0.035-0.047-0.053-0.071c-0.194-0.256-0.373-0.523-0.535-0.8c-0.006-0.01-0.012-0.02-0.018-0.03   c-0.333-0.577-0.591-1.195-0.772-1.839c-0.015-0.053-0.028-0.108-0.042-0.161c-0.067-0.258-0.118-0.52-0.159-0.785   c-0.011-0.075-0.025-0.148-0.034-0.224C17.025,11.652,17,11.328,17,11c0-0.395,0.039-0.784,0.095-1.168   c0.012-0.079,0.022-0.158,0.036-0.237c0.067-0.373,0.157-0.741,0.276-1.1c0.017-0.051,0.037-0.1,0.055-0.15   c0.274-0.771,0.664-1.503,1.174-2.173c0.047-0.062,0.091-0.127,0.14-0.187l0.061-0.079C20.306,4.132,22.523,3,25,3   S29.694,4.132,31.163,5.905z M8,13c0-3.86,3.141-7,7-7c0.429,0,0.855,0.041,1.277,0.121c-0.003,0.006-0.006,0.013-0.009,0.019   c-0.193,0.346-0.367,0.704-0.519,1.074c-0.032,0.077-0.056,0.156-0.086,0.234c-0.106,0.277-0.201,0.56-0.282,0.848   c-0.035,0.125-0.067,0.251-0.097,0.378C15.222,8.935,15.172,9.2,15.13,9.468c-0.019,0.121-0.041,0.241-0.056,0.364   C15.029,10.216,15,10.604,15,11c0,0.372,0.024,0.739,0.064,1.1c0.009,0.078,0.025,0.153,0.035,0.23   c0.039,0.292,0.088,0.581,0.151,0.864c0.016,0.072,0.037,0.142,0.055,0.213c0.072,0.29,0.155,0.576,0.252,0.856   c0.021,0.061,0.044,0.12,0.066,0.181c0.107,0.29,0.227,0.574,0.359,0.851c0.023,0.048,0.046,0.097,0.07,0.145   c0.146,0.293,0.305,0.577,0.478,0.853c0.019,0.03,0.036,0.06,0.055,0.09c0.596,0.929,1.339,1.752,2.199,2.438   c0.014,0.012,0.027,0.025,0.041,0.037C17.694,19.6,16.373,20,15,20C11.141,20,8,16.86,8,13z M3,43V33   c0-5.965,4.773-10.836,10.701-10.996c-0.348,0.289-0.678,0.6-0.994,0.923c-0.07,0.071-0.133,0.148-0.201,0.221   c-0.241,0.258-0.474,0.523-0.694,0.801c-0.075,0.095-0.145,0.194-0.218,0.292c-0.201,0.268-0.392,0.542-0.572,0.826   c-0.066,0.105-0.129,0.21-0.193,0.317c-0.172,0.289-0.332,0.584-0.481,0.887c-0.053,0.108-0.106,0.215-0.157,0.324   c-0.143,0.31-0.271,0.628-0.389,0.951c-0.04,0.11-0.083,0.217-0.12,0.328c-0.11,0.329-0.203,0.664-0.288,1.004   c-0.028,0.112-0.061,0.222-0.086,0.335c-0.076,0.348-0.132,0.703-0.18,1.061c-0.015,0.108-0.037,0.213-0.049,0.322   C9.029,31.057,9,31.525,9,32v11H3z"></path></g><g></g></svg>
            </div>
            <span class="detail-text">{{ team }}</span>
          </span>
          {% endif %}

          {% if salary != "" and salary != "null" %}
          <span class="detail" title="Compensation">
            <div class="smoothie-icon-wrapper">
              <svg height="32px" width="32px" class="smoothie-icon" style="enable-background:new 0 0 60 60;" version="1.1" viewBox="0 0 60 60" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M14.457,25.904c-1.93,0-3.5,1.57-3.5,3.5s1.57,3.5,3.5,3.5s3.5-1.57,3.5-3.5S16.387,25.904,14.457,25.904z M14.457,30.904   c-0.827,0-1.5-0.673-1.5-1.5s0.673-1.5,1.5-1.5s1.5,0.673,1.5,1.5S15.284,30.904,14.457,30.904z"/><path d="M59.965,32.904c0-1.535-0.584-2.933-1.536-3.995c0.092-1.157-0.096-2.332-0.58-3.415c-0.226-0.505-0.819-0.732-1.321-0.504   c-0.504,0.226-0.73,0.817-0.504,1.321c0.158,0.354,0.266,0.722,0.338,1.096c-0.735-0.321-1.544-0.502-2.396-0.502   c-0.059,0-0.11,0.024-0.167,0.034c-0.112-0.008-0.219-0.034-0.333-0.034c-0.246,0-0.482,0.034-0.717,0.072   c-1.874-4.454-5.11-8.074-9.437-10.554c0.419-1.257,0.645-2.579,0.645-3.922c0-6.893-5.607-12.5-12.5-12.5s-12.5,5.607-12.5,12.5   c0,0.94,0.108,1.863,0.309,2.756c-0.892,0.292-1.684,0.573-2.31,0.82c-4.385-1.751-7.24-2.354-9.793-2.07   c-0.607,0.067-1.084,0.516-1.187,1.116c-0.104,0.608,0.202,1.197,0.76,1.465c1.358,0.654,1.936,2.238,2.548,3.916   c0.153,0.421,0.311,0.851,0.482,1.272c-2.608,2.7-3.09,4.888-3.557,8.129H4.949c-3.123,0-4.914,2.222-4.914,6.096v3.607   c0,3.943,1.837,6.297,4.914,6.297h0.617c0.732,1.852,1.82,3.543,3.186,5.064l-1.381,3.452c-0.502,1.255-0.35,2.673,0.408,3.792   S9.797,60,11.149,60h6.74c0.852,0,1.607-0.511,1.925-1.303l0.367-0.917c3.191,0.936,6.738,1.44,10.518,1.44   c3.094,0,5.984-0.393,8.616-1.128l0.004,0.015C39.66,59.239,40.683,60,41.866,60h6.017c1.434,0,2.731-0.671,3.56-1.842   s1.03-2.617,0.552-3.97l-1.171-3.319c2.649-3.27,4.143-7.347,4.143-11.966c0-0.03-0.003-0.06-0.003-0.09   C57.797,38.337,59.965,35.872,59.965,32.904z M53.832,33.867l-0.169,0.013c-0.057,0.004-0.113,0.011-0.197,0.024   c-1.378,0-2.5-1.122-2.5-2.5c0-0.156,0.019-0.307,0.046-0.455c0.008-0.042,0.019-0.083,0.028-0.124   c0.026-0.111,0.06-0.218,0.1-0.323c0.014-0.036,0.027-0.073,0.043-0.109c0.119-0.267,0.283-0.509,0.483-0.718   c0.035-0.036,0.073-0.07,0.111-0.104c0.065-0.06,0.133-0.116,0.204-0.169c0.054-0.04,0.109-0.079,0.166-0.115   c0.058-0.036,0.12-0.067,0.181-0.098c0.069-0.035,0.136-0.073,0.209-0.103l0.009-0.004c0.285-0.113,0.594-0.18,0.918-0.18   c1.378,0,2.5,1.122,2.5,2.5C55.965,32.657,55.036,33.687,53.832,33.867z M31.457,2c5.79,0,10.5,4.71,10.5,10.5   c0,1.256-0.227,2.469-0.645,3.608l-0.155,0.375c-0.496,1.199-1.215,2.307-2.096,3.239c-0.124-0.058-0.254-0.095-0.379-0.15   c-0.293-0.127-0.589-0.242-0.888-0.351c-0.258-0.094-0.514-0.19-0.775-0.271c-0.283-0.086-0.569-0.153-0.855-0.223   c-0.521-0.128-1.045-0.228-1.573-0.302c-0.25-0.035-0.5-0.079-0.751-0.102c-0.312-0.029-0.624-0.035-0.938-0.045   c-0.256-0.008-0.511-0.016-0.767-0.012c-0.3,0.005-0.599,0.021-0.898,0.043c-0.284,0.021-0.566,0.052-0.849,0.088   c-0.27,0.035-0.539,0.067-0.807,0.116c-0.383,0.069-0.762,0.161-1.141,0.258c-0.165,0.043-0.333,0.073-0.497,0.121   c-0.55,0.161-1.092,0.357-1.625,0.58c-0.122,0.051-0.24,0.113-0.361,0.167c-0.428,0.191-0.85,0.4-1.263,0.632   c-0.059,0.033-0.121,0.056-0.179,0.09c-0.333-0.294-0.643-0.611-0.934-0.943c-0.04-0.045-0.075-0.093-0.114-0.138   c-0.261-0.308-0.507-0.628-0.731-0.964c-0.017-0.026-0.034-0.051-0.051-0.077c-0.495-0.759-0.896-1.583-1.186-2.46l-0.109-0.335   c-0.276-0.944-0.432-1.931-0.432-2.945C20.957,6.71,25.667,2,31.457,2z M17.889,58h-6.74c-0.698,0-1.322-0.332-1.713-0.909   s-0.467-1.281-0.208-1.928l1.06-2.651c2.171,1.931,4.868,3.502,7.965,4.635L17.889,58z M49.809,57.003   C49.361,57.637,48.659,58,47.882,58h-6.017c-0.293,0-0.546-0.188-0.63-0.469l-0.016-0.052c3.171-1.145,5.901-2.822,8.073-4.936   l0.816,2.311C50.367,55.586,50.258,56.369,49.809,57.003z M48.161,50.812c-0.008,0.008-0.016,0.018-0.024,0.026   c-0.404,0.41-0.836,0.798-1.285,1.173c-0.109,0.091-0.223,0.177-0.335,0.266c-0.333,0.265-0.678,0.519-1.033,0.765   c-0.154,0.107-0.307,0.216-0.465,0.319c-0.451,0.294-0.917,0.576-1.401,0.839c-0.164,0.089-0.336,0.169-0.503,0.254   C42.751,54.64,42.38,54.819,42,54.987c-0.207,0.091-0.414,0.181-0.625,0.267c-0.452,0.184-0.915,0.357-1.388,0.516   c-0.105,0.035-0.205,0.077-0.311,0.111l-0.042,0.013c-2.684,0.859-5.687,1.324-8.935,1.324c-4.119,0-7.97-0.666-11.344-1.86   c-0.199-0.07-0.399-0.138-0.594-0.211c-5.708-2.162-9.943-5.889-11.553-10.57l-0.232-0.675H4.949c-2.409,0-2.914-2.336-2.914-4.297   V36c0-4.096,2.193-4.096,2.914-4.096h3l0.12-0.862c0.524-3.747,0.787-5.628,3.582-8.322l0.517-0.498l-0.306-0.649   c-0.253-0.537-0.469-1.128-0.698-1.755c-0.48-1.317-1.005-2.756-1.989-3.848c1.905,0.145,4.205,0.81,7.406,2.11l0.382,0.155   l0.38-0.159c0.613-0.256,1.508-0.579,2.532-0.915c0.199,0.494,0.431,0.972,0.692,1.436c0.02,0.036,0.041,0.072,0.061,0.109   c0.236,0.41,0.496,0.806,0.779,1.188c0.05,0.069,0.098,0.139,0.15,0.206c0.265,0.343,0.551,0.67,0.853,0.987   c0.074,0.078,0.141,0.16,0.216,0.236c0.063,0.063,0.126,0.125,0.19,0.186c-0.542,0.416-1.07,0.857-1.566,1.352   c-0.391,0.391-0.391,1.023,0,1.414s1.023,0.391,1.414,0c0.653-0.653,1.357-1.223,2.097-1.716l0.16-0.103   c0.305-0.197,0.616-0.379,0.932-0.55c0.128-0.069,0.258-0.132,0.387-0.197c0.252-0.126,0.506-0.244,0.763-0.354   c0.102-0.043,0.202-0.089,0.305-0.13c0.363-0.144,0.731-0.273,1.102-0.385c0.062-0.019,0.125-0.034,0.187-0.052   c0.363-0.103,0.728-0.194,1.097-0.267c0.035-0.007,0.07-0.015,0.105-0.022c2.579-0.491,5.272-0.242,7.735,0.746   c0.024,0.01,0.048,0.019,0.072,0.029c1.643,0.67,3.183,1.67,4.515,3.001c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414c-0.828-0.828-1.731-1.535-2.68-2.14c0.081-0.093,0.15-0.194,0.228-0.289   c0.136-0.166,0.272-0.332,0.4-0.506c0.125-0.169,0.243-0.342,0.36-0.517c0.096-0.144,0.188-0.289,0.278-0.437   c0.118-0.194,0.232-0.389,0.339-0.588c0.023-0.043,0.051-0.084,0.073-0.127c3.829,2.25,6.701,5.487,8.376,9.447   c-0.206,0.141-0.393,0.304-0.571,0.475c-0.032,0.031-0.064,0.062-0.095,0.094c-0.377,0.386-0.679,0.834-0.895,1.328   c-0.013,0.029-0.027,0.056-0.039,0.085c-0.1,0.242-0.178,0.494-0.235,0.754c-0.01,0.047-0.018,0.095-0.026,0.143   c-0.049,0.268-0.083,0.54-0.083,0.82c0,0.298,0.032,0.587,0.088,0.869c0.019,0.095,0.053,0.183,0.078,0.275   c0.048,0.182,0.097,0.364,0.167,0.537c0.042,0.104,0.098,0.2,0.147,0.3c0.074,0.15,0.149,0.299,0.239,0.439   c0.064,0.099,0.137,0.19,0.208,0.283c0.097,0.127,0.194,0.252,0.304,0.368c0.082,0.087,0.17,0.167,0.259,0.248   c0.116,0.106,0.236,0.206,0.363,0.299c0.098,0.072,0.198,0.138,0.301,0.202c0.134,0.083,0.272,0.157,0.415,0.225   c0.11,0.053,0.22,0.103,0.334,0.146c0.151,0.058,0.306,0.103,0.464,0.144c0.118,0.031,0.234,0.063,0.356,0.084   c0.049,0.009,0.095,0.027,0.145,0.034c0.089,1.006,0.134,2.027,0.134,3.044C52.965,43.612,51.219,47.7,48.161,50.812z    M54.903,36.781c-0.021-0.371-0.062-0.737-0.094-1.105c1.59-0.502,2.797-1.848,3.081-3.522c0.046,0.243,0.076,0.493,0.076,0.75   C57.965,34.785,56.655,36.357,54.903,36.781z"/><path d="M26.331,18.692c0.183,0.141,0.398,0.209,0.612,0.209c0.298,0,0.594-0.133,0.791-0.387c0.338-0.437,0.259-1.065-0.178-1.403   c-1.577-1.222-2.482-3.061-2.482-5.043c0-3.52,2.863-6.383,6.383-6.383s6.383,2.863,6.383,6.383c0,1.792-0.73,3.455-2.056,4.681   c-0.405,0.375-0.43,1.007-0.055,1.413c0.375,0.405,1.007,0.43,1.413,0.055c1.714-1.585,2.697-3.827,2.697-6.149   c0-4.622-3.761-8.383-8.383-8.383s-8.383,3.761-8.383,8.383C23.074,14.673,24.261,17.088,26.331,18.692z"/><path d="M31.871,53.004c-4.542,0.393-8.312-0.206-12.227-1.939c-0.506-0.223-1.096,0.004-1.319,0.51   c-0.224,0.505,0.005,1.096,0.51,1.319c3.386,1.499,6.781,2.222,10.513,2.222c0.878,0,1.776-0.04,2.696-0.12   c0.55-0.047,0.958-0.532,0.91-1.082C32.906,53.364,32.419,52.945,31.871,53.004z"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
            </div>
            <span class="detail-text">{{ salary }}</span>
          </span>
          {% endif %}

          {% if deadline != "" and deadline != "null" %}
          <span class="detail" title="Career advertised until">
            <div class="smoothie-icon-wrapper">
              <svg class="smoothie-icon" id="Layer_1" style="enable-background:new 0 0 48 48;" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M24,2C11.9,2,2,11.9,2,24s9.9,22,22,22s22-9.9,22-22S36.1,2,24,2z M24,44C13,44,4,35,4,24C4,13,13,4,24,4c11,0,20,9,20,20   C44,35,35,44,24,44z"/><polygon points="25,10 23,10 23,25 34,25 34,23 25,23  "/></g></svg>
            </div>
            <span class="detail-text">{{ deadline | date: "%a, %b %d, %Y" }}</span>
          </span>
          {% endif %}

          {% if job_type != "" and job_type != blank and job_type != "null" and job_type != "OTHER" %}
          <span class="detail" title="Job type">
            <div class="smoothie-icon-wrapper">
              <svg class="smoothie-icon" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 40" width="20">
                <rect xmlns="http://www.w3.org/2000/svg" x="1" y="16" rx="4" ry="4" width="38" height="23" stroke="black" fill="transparent" stroke-width="2"></rect><rect xmlns="http://www.w3.org/2000/svg" x="16" y="11" rx="2" ry="2" width="10" height="5" stroke="black" fill="transparent" stroke-width="2"></rect>
                <line xmlns="http://www.w3.org/2000/svg" x1="2" y1="19" x2="20.5" y2="27" stroke="black" stroke-width="2"></line>
                <line xmlns="http://www.w3.org/2000/svg" x1="38" y1="19" x2="19.5" y2="27" stroke="black" stroke-width="2"></line>
              </svg>
              <!--img class="smoothie-icon" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik00MCAxMmgtOFY4YzAtMi4yMS0xLjc5LTQtNC00aC04Yy0yLjIxIDAtNCAxLjc5LTQgNHY0SDhjLTIuMjEgMC0zLjk4IDEuNzktMy45OCA0TDQgMzhjMCAyLjIxIDEuNzkgNCA0IDRoMzJjMi4yMSAwIDQtMS43OSA0LTRWMTZjMC0yLjIxLTEuNzktNC00LTR6bS0xMiAwaC04VjhoOHY0eiIvPjwvc3ZnPg==" alt=""/!-->
            </div>
            <span class="detail-text">
            {% case job_type %}
            {% when 'FULL_TIME' %}
            Full time
            {% when 'PART_TIME' %}
            Part time
            {% when 'CONTRACTOR' %}
            Contractor
            {% when 'TEMPORARY' %}
            Temporary
            {% when 'INTERN' %}
            Internship
            {% when 'VOLUNTEER' %}
            Voluntary
            {% when 'PER_DIEM' %}
            Per diem
            {% endcase %}
            </span>
          </span>
          {% endif %}
        </li>
      </a>
  {% endfor %}
    </ul>
  </div>
</div>

<script>
  $("#scroll-to-careers").click(function() {
    $([document.documentElement, document.body]).animate({scrollTop: $("#jobs-list").offset().top - 100}, 2000);
});
</script>

<style>
  #smoothie-job-content *{
    box-sizing: border-box;
  }
  #smoothie-job-content h1{
  margin-bottom: 50px;
  font-weight:600;
  font-size:26px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  }

  #smoothie-job-content .page-hero {
  display: flex;
  }

  #smoothie-job-content .page-hero .hero-content {
  max-width: 930px;
  }

  #smoothie-job-content .page-hero .hero-content img {
      display: none;
    }

  #smoothie-job-content .page-hero .hero-image-wrapper img {
  width: 730px;
  position: absolute;
  margin-left: -50px;
  }

  #smoothie-job-content h2{
  font-size: 60px;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 80px;
  }

  #smoothie-job-content h4{
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  }

  #smoothie-job-content h2 .main-title-bolder {
  font-size: 120px;
  color: #FFB648;
  position: relative;
  top: 40px;
  font-weight: 700;
  }

  #smoothie-job-content .subtitle {
  font-size: 36px;
  font-weight: 400;
  }

  #smoothie-job-content .subtitle b {
    font-weight: 600;
  }

  #smoothie-job-content .description {
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
  }

  #smoothie-job-content .description b {
  font-weight: 500;
  }

  #smoothie-job-content button#scroll-to-careers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 490px;
    height: 80px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    letter-spacing: 8px;
    margin: 70px auto;
  }

  #smoothie-job-content .more-content {
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  }

  #smoothie-job-content .more-content .bolder {
  font-size: 60px;
  color: #F79E1B;
  font-weight: 600;
  }

  #smoothie-job-content h3,#smoothie-job-content h3 *{
  font-size:22px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 18px 0;
  color: black;
  }
  #smoothie-job-content span.detail-text{
  float:left;
  margin: 4px 0 0 10px;
  font-size: 14px;
  }
  #smoothie-job-content .detail {
  margin-right:10px;
  margin-bottom:10px;
  clear: none;
  display: inline-block;
  float: left;
  }
  #smoothie-job-content .details{
  display:block;
  margin: 5px 0;
  }
  #smoothie-job-content .details:after{
  content:"";
  display:block;
  clear:both
  }
  #smoothie-job-content .smoothie-icon{
  height:20px;
  width:20px
  }
  #smoothie-job-content .smoothie-icon-wrapper{
  display:inline-block
  }
  #smoothie-job-content span.detail .smoothie-icon-wrapper{
  float:left
  }
  #smoothie-job-content .job-page ul{
  padding: 0;
  max-width: 1270px;
    margin: auto;
  }
  #smoothie-job-content .job-page li{
  list-style: none;
  padding: 26px 54px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: black;
  }
  #smoothie-job-content .job-page li:hover{
  background: rgba(0, 0, 0, 0.04);
  }
  #smoothie-job-content .job-page li:after{
  content: "";
  clear: both;
  display: block;
  }

  #smoothie-job-content .job-page{
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  }
  #smoothie-job-content .job-intro{
    max-width: 1000px;
    padding: 0 30px 30px;
    margin: 0 auto;
  }
  #smoothie-job-content a > li{
    border-bottom: 1px solid #ddd;
  }
  #smoothie-job-content a > li:before{
    content: none !important;
  }
  #smoothie-job-content a:last-child > li{
    border: 0px;
  }

  p.ql-align-center{
    text-align: center;
  }

  @media(max-width: 760px){
    #smoothie-job-content .job-page {
      padding: 16px;
    }
    #smoothie-job-content .job-page li {
      padding: 20px;
    }

    #smoothie-job-content .page-hero .hero-content {
      max-width: 100%;
    }

    #smoothie-job-content .page-hero .hero-content img {
      display: block;
      width: 100%;
    position: absolute;
    left: 0;
    top: 55vw;
    }

    #smoothie-job-content .page-hero .hero-image-wrapper img {
  display: none;
  }

  #smoothie-job-content .subtitle {
    margin-top: 65vw;
  }

    #smoothie-job-content h2 {
      font-size: 11vw;
    line-height: 12vw;
    margin-top: 10px;
    }

    #smoothie-job-content h2 .main-title-bolder {
      display: block;
      font-size: 18vw;
      margin-top: -30px;
    }

    #smoothie-job-content .description {
      line-height: 40px;
      font-size: 5vw;
    }

    #smoothie-job-content button#scroll-to-careers {
      width: 100%;
      color: black !important;
    }

    #smoothie-job-content h3, #smoothie-job-content h3 * {
      font-size: 4vw;
    }

    #smoothie-job-content span.detail-text {
      font-size: 3vw;
      margin-top: 5px;
    }

    #smoothie-job-content .smoothie-icon {
      height: 25px;
      width: 30px;
    }
  }
  #smoothie-job-content p.jobs-empty{
  text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color: #888;
  }
  </style>

<style>
  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
  }

  .benefit-container {
    width: 410px;
   height: 340px;
   display: flex;
    justify-content: center;
    align-items: center;
 }

 .box {
   position: absolute;
   width: 410px;
   height: 360px;
   display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
   border-radius: 3px;
   overflow: hidden;
   transition: box-shadow ease 1s;
 }

 .icon {
   position: relative;
   transition: all 0.6s ease;
           transition-delay: 0.32s;
   will-change: transform;
 }

 .icon img {
  width: 100px;
  max-height: 80px;
    object-fit: contain;
 }

 .icon_bg {
   width: 120px;
   height: 120px;
   border-radius: 100%;
           background-color: #A5C3CD;
   display: flex;
           justify-content: center;
           align-items: center;
   transition: all 0.6s ease;
           transition-delay: 0.32s;
   will-change: transform;
 }

 .text .title {
   position: relative;
   font-size: 36px !important;
   font-weight: 200;
   transition: all 0.4s ease-in-out;
 }

 .benefit:hover .box {
           box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
           transition-delay: 0.32s;
 }

 .benefit:hover .icon_bg {
           transform: translateY(-32px) scale(8);
 }

 .benefit:hover .icon {
           transform: translateY(-130px) scale(0.7);
           opacity: 0;
 }

 .benefit {
     width: 410px;
   height: 340px;
   display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
 }

 .benefit .text {
   position: relative;
   top: -70px;
   text-align: center;
   transition: all 0.4s ease-in-out;
           transition-delay: 0.32s;
 }

 .benefit:hover .text {
   transform: translateY(-230px) scale(.8);
  }

  .benefit:hover .text .title {
   color: white;
   font-weight: 500;
 }

 .box::after {
   content: "We celebrate that each individual brings diversity and a different talent to our team, and we want your voice to be heard. Our work culture thrives on respect and support from each other. We want to hear you!";
   position: absolute;
   width: 360px;
   top: 70px;
   opacity: 0;
   text-align: center;
   font-size: 24px;
   color: white;
   background-color: #A5C3CD;
   line-height: 30px;
   transition: all 0.3s ease;
           transition-delay: 0.32s;
           padding: 10px;
 }

 .benefit:nth-child(1) .box:after {
   content: "We celebrate that each individual brings diversity and a different talent to our team, and we want your voice to be heard. Our work culture thrives on respect and support from each other. We want to hear you!";
 }

 .benefit:nth-child(2) .box:after {
   content: "Your ‘out the box’ becomes our frame. Know we’re ready for the challenge you can bring! There’s a duality to this process and we’re eager to watch you grow because there’s no one path for anyone.";
 }

 .benefit:nth-child(3) .box:after {
   content: "We put the ‘hard’ in work and play. We scale with passion and ownership and get the job done. We come together to celebrate successes, enjoy meaningful moments, and the rest you’ll learn along the way.";
 }

 .benefit:nth-child(4) .box:after {
   content: "It’s all about people helping people. Period.";
 }

 .benefit:nth-child(5) .box:after {
   content: "We’re a little bit of everywhere, but remain a close family with all of our offices! We’re located in Tel Aviv, Barcelona and the USA, and make up 8 nationalities between us! We visit, we collaborate, and we move as one.";
 }

 .benefit:hover .box::after {
   opacity: 1;
 }
</style>
<style>
  .vid-section {
  background: #ccc;
  padding: 0px;
}
.vid-wrap {
  width: 100%;
  height: 720px;
  background: white;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.responsive-vid {
  padding-top: 56.25%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.responsive-vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  opacity: 0;
  transition: all .5s ease-in-out;
}

@media screen and (max-width:760px) {
  .vid-wrap {
    height: 60vw;
  }
}
</style>