<style>
    .coupons-bottom .mini-wrap {
    max-width: 1300px;
}
.coupons-bottom .bottom-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2% 0 10% 0;
}
.coupons-bottom .picture {
    width: 40.5%;
    padding-top: 9px;
}
.coupons-bottom .text {
    width: calc(100% - 40.5%);
    padding-left: 8.1%;
}
.coupons-bottom .text .sub-title {
    text-align: left;
}
.coupons-bottom .text .sub-title h3 {
    font-weight: bold;
    font-size: 60px;
}
.coupons-bottom .text .sub-title p {
    padding-top: 16px;
    font-size: 24px;
    line-height: 1.59;
}
.coupons-bottom .text .mob-img {
    display: none;
    margin-top: 25px;
    position: relative;
}
.coupons-bottom .text .mob-img span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.coupons-bottom .text .mob-img span img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.coupons-bottom .text .btn {
    padding-top: 9.3%;
}
.coupons-bottom .text .btn a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 26px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    background-color: var(--green);
    border-radius: 38.5px;
    -webkit-transition: background-color var(--transition);
    -o-transition: background-color var(--transition);
    transition: background-color var(--transition);
}
.coupons-bottom .text .mob-img:before {
    content: '';
    display: block;
    padding-bottom: 81.2%;
    pointer-events: none;
}
.coupons-bottom .text .btn a:hover {
    background-color: #deb63a;
}
    @media screen and (max-width: 1590px){
.coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    max-width: 1173px;
}
.coupons-bottom .picture {
    width: 40.5%;
    padding-top: 8px;
}
.coupons-bottom .text {
    width: calc(100% - 40.5%);
    padding-left: 8.2%;
}
.coupons-bottom .text .sub-title h3 {
    font-size: 54px;
}
.coupons-bottom .text .sub-title p {
    font-size: 22px;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    padding: 24px 27px;
    font-size: 16px;
}
}
    @media screen and (max-width: 1430px){
.coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    max-width: 1050px;
}
.coupons-bottom .bottom-wrap {
    padding: 2% 0 9% 0;
}
.coupons-bottom .text .sub-title h3 {
    font-size: 48px;
}
.coupons-bottom .text .sub-title p {
    font-size: 20px;
}
.coupons-bottom .text .btn {
    padding-top: 8.3%;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    padding: 22px 23px;
    font-size: 14px;
}
}
@media screen and (max-width: 810px){
.coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    padding: 0;
}
.coupons-about .about-wrap .picture, .coupons-bottom .picture {
    display: none;
}
.coupons-bottom .text {
    width: 100%;
    padding-left: 0;
}
.coupons-about .about-wrap .text .mob-img, .coupons-bottom .text .mob-img {
    display: block;
}
}



@media screen and (max-width: 640px){
.coupons-bottom .bottom-wrap {
    padding: 0 0 60px 0;
}
.coupons-bottom .text .sub-title h3 {
    font-size: 36px;
}
.coupons-bottom .text .sub-title p {
    padding-top: 21px;
    margin-right: -3px;
    font-size: 16px;
    line-height: 1.44;
}
.coupons-bottom .text .btn {
    padding-top: 9px;
}
.coupons-about .about-wrap .text .btn a, .coupons-bottom .text .btn a {
    width: 100%;
    padding: 26px 15px;
    font-size: 18px;
}
}
</style>
<div class="coupons-bottom">
    <div class="container">
        <div class="mini-wrap">
            <div class="bottom-wrap">
                {% if section.settings.cpn_btmdeskimg != blank %}
                <div class="picture">
                    <span>
                        <img src="{{ section.settings.cpn_btmdeskimg | img_url: '' }}" alt="">
                    </span>
                </div>
                {% endif %}
                <div class="text">
                    <div class="sub-title">
                        {% if section.settings.cpn_btmtit != blank %}
                        <h3>{{section.settings.cpn_btmtit}}</h3>
                        {% endif %}
                        {% if section.settings.cpn_btmescript != blank %}
                        <p>{{section.settings.cpn_btmescript}}</p>
                        {% endif %}
                    </div>
                    {% if section.settings.cpn_btmblimg != blank %}
                    <div class="mob-img">
                        <span>
                            <img src="{{ section.settings.cpn_btmblimg | img_url: '' }}" alt="">
                        </span>
                    </div>
                    {% endif %}
                    {% if section.settings.cpn_btmbtntitl != blank %}
                    <div class="btn">
                        <a href="{{section.settings.cpn_btmbtnlnk}}">{{section.settings.cpn_btmbtntitl}}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Coupons Bottom",
    "settings": [
        {
            "type": "color",
            "id": "cpn_btmbgclr",
            "label": "Select Color"
        },
        {
            "type": "image_picker",
            "id": "cpn_btmdeskimg",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "cpn_btmblimg",
            "label": "Select Mobile Image"
        },
        {
            "type": "text",
            "id": "cpn_btmtit",
            "label": "Title",
            "default": "Enter Title"
        },
        {
            "type": "textarea",
            "id": "cpn_btmescript",
            "label": "Description",
            "default": "Enter Description"
        },
        {
            "type": "text",
            "id": "cpn_btmbtntitl",
            "label": "Button Title",
            "default": "Enter Title"
        },
        {
            "type": "url",
            "id": "cpn_btmbtnlnk",
            "label": "Button Link"
        }
        
    ],
     
    "presets":[
      {
      "name": "Coupons Bottom",
      "category": "coupons_bottom"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}