<style>
    .coupons-intro{
        background-color: {{section.settings.cpn_bgclr}};
    }
    .coupons-intro .mini-wrap {
    max-width: 1300px;
}
    .coupons-intro .intro-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.coupons-intro .intro-wrap .text {
    width: 56%;
    padding: 14% 0 53px 0;
}
.coupons-intro .intro-wrap .text .sub-title {
    text-align: left;
}
.coupons-intro .intro-wrap .text .sub-title h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.31;
}
.coupons-intro .intro-wrap .text .sub-title h1 span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.coupons-intro .intro-wrap .text .sub-title h1 span:before {
    content: '';
    height: 9px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    background: url('{{ section.settings.cpn_btmlnimg | img_url: '' }}') no-repeat center;
    background-size: 100% auto;
}
.coupons-intro .intro-wrap .text .sub-title p {
    padding-top: 24px;
    font-size: 24px;
    line-height: 1.53;
    letter-spacing: 0.6px;
}
.coupons-intro .intro-wrap .coupons-form {
    padding: 25px 0;
}
.coupons-intro .intro-wrap .coupons-form form {
    max-width: 522px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #01C6B2;
    border-radius: 120px;
}
.coupons-intro .intro-wrap .coupons-form form button:hover {
    background-color: #deb63a;
}
.coupons-intro .intro-wrap .coupons-form form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}
.coupons-intro .intro-wrap .coupons-form form label input {
    width: 100%;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    color: var(--green);
    background: none;
    border: none;
}
.coupons-intro .intro-wrap .coupons-form form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 83px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    background-color: var(--green);
    -webkit-box-shadow: 9px 9px 6px rgb(0 0 0 / 20%);
    box-shadow: 9px 9px 6px rgb(0 0 0 / 20%);
    border-radius: 120px;
    border: none;
    -webkit-transition: background-color var(--transition);
    -o-transition: background-color var(--transition);
    transition: background-color var(--transition);
}
.coupons-intro .intro-wrap .text .coupons-save {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.coupons-intro .intro-wrap .text .coupons-save span.icon {
    display: block;
    margin-right: 22px;
    padding: 3px 0;
    width: 63px;
}
.coupons-intro .intro-wrap .text .coupons-save span.icon img {
    width: 100%;
}
.coupons-intro .intro-wrap .text .coupons-save p {
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.53;
    letter-spacing: 0.5px;
    color: var(--black);
}
.coupons-intro .intro-wrap .text .coupons-save p span {
    display: block;
    font-weight: bold;
    font-size: 17px;
}
.coupons-intro .intro-wrap .text .more-info {
    padding: 5.4% 0 0 177px;
}
.coupons-intro .intro-wrap .text .more-info p {
    margin: 0;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: var(--black);
}
.coupons-intro .intro-wrap .text .more-info p:before {
    content: '';
    width: 80px;
    height: 183px;
    position: absolute;
    top: 4px;
    left: -98px;
    background: url('{{section.settings.cpn_arrimg | img_url: ''}}') no-repeat center;
    background-size: contain;
}
.coupons-intro .intro-wrap .picture {
    width: calc(100% - 56%);
    position: relative;
}
.coupons-intro .intro-wrap .picture span {
    width: 49vw;
    display: block;
    position: absolute;
    top: 0;
    left: -14%;
    bottom: 0;
}
.coupons-intro .intro-wrap .picture span img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center bottom;
    object-position: center bottom;
}
.coupons-intro .intro-wrap .text .coupons-save p b {
    font-weight: bold;
}
 .coupons-intro .intro-wrap .coupons-form form label input::-webkit-input-placeholder {
              color: var(--green); }
            .coupons-intro .intro-wrap .coupons-form form label input::-moz-placeholder {
              color: var(--green); }
            .coupons-intro .intro-wrap .coupons-form form label input:-ms-input-placeholder {
              color: var(--green); }
            .coupons-intro .intro-wrap .coupons-form form label input::-ms-input-placeholder {
              color: var(--green); }
            .coupons-intro .intro-wrap .coupons-form form label input::placeholder {
              color: var(--green); }
        .coupons-form .contact-form {
    width: auto;
    padding: 0;
}
@media screen and (max-width: 1590px){
    .coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    max-width: 1173px;
}
.coupons-intro .intro-wrap .text .sub-title h1 {
    font-size: 44px;
}
.coupons-intro .intro-wrap .text .sub-title p {
    padding-top: 24px;
    font-size: 21px;
}
.coupons-intro .intro-wrap .coupons-form form {
    max-width: 470px;
}
.coupons-intro .intro-wrap .coupons-form form label input {
    padding: 7px 14px;
    font-size: 13px;
}
.coupons-intro .intro-wrap .coupons-form form button {
    padding: 10px 77px;
    font-size: 14px;
}
.coupons-intro .intro-wrap .text .coupons-save span.icon {
    width: 55px;
}
.coupons-intro .intro-wrap .text .coupons-save p {
    font-size: 18px;
}
.coupons-intro .intro-wrap .text .coupons-save p span {
    font-size: 15px;
}
.coupons-intro .intro-wrap .text .more-info {
    padding: 5.1% 0 0 159px;
}
.coupons-intro .intro-wrap .text .more-info p {
    font-size: 18px;
}
.coupons-intro .intro-wrap .text .more-info p:before {
    width: 73px;
    height: 168px;
    top: 2px;
    left: -90px;
}
}
@media screen and (max-width: 1430px){
    .coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    max-width: 1050px;
}
.coupons-intro .intro-wrap .text {
    width: 56%;
    padding: 13.5% 0 41px 0;
}
.coupons-intro .intro-wrap .text .sub-title h1 {
    font-size: 40px;
}
.coupons-intro .intro-wrap .text .sub-title p {
    padding-top: 21px;
    font-size: 19px;
}
.coupons-intro .intro-wrap .coupons-form {
    padding: 21px 0;
}
.coupons-intro .intro-wrap .coupons-form form {
    max-width: 420px;
}
.coupons-intro .intro-wrap .coupons-form form label {
    padding: 7px;
}
.coupons-intro .intro-wrap .coupons-form form button {
    padding: 10px 64px;
}
.coupons-intro .intro-wrap .text .coupons-save span.icon {
    width: 50px;
    margin-right: 17px;
}
.coupons-intro .intro-wrap .text .coupons-save p {
    font-size: 16px;
}
.coupons-intro .intro-wrap .text .coupons-save p span {
    font-size: 13px;
}
.coupons-intro .intro-wrap .text .more-info {
    padding: 5.1% 0 0 142px;
}
.coupons-intro .intro-wrap .text .more-info p {
    font-size: 16px;
}
.coupons-intro .intro-wrap .text .more-info p:before {
    width: 65px;
    height: 150px;
    top: 2px;
    left: -79px;
}
}
@media screen and (max-width: 1270px){
.coupons-intro .intro-wrap .text .more-info {
    padding: 5.1% 0 0 80px;
}
}
@media screen and (max-width: 810px){
.coupons-intro .mini-wrap, .coupons-about .mini-wrap, .coupons-bottom .mini-wrap {
    padding: 0;
}
.coupons-intro .intro-wrap .text {
    width: 100%;
    padding: 13.5% 0 41px 0;
}
.coupons-intro .intro-wrap .text .more-info {
    display: none;
}
.coupons-intro .intro-wrap .text {
    width: 100%;
    padding: 13.5% 0 41px 0;
}
.coupons-intro .intro-wrap .picture {
    width: 100%;
}
.coupons-intro .intro-wrap .picture span {
    width: 100%;
    position: static;
}
.coupons-intro .intro-wrap .picture {
    width: 100%;
}
}
@media screen and (max-width: 640px){
.coupons-intro .intro-wrap .text {
    padding: 29px 0;
}
.coupons-intro .intro-wrap .text .sub-title h1 {
    font-size: 36px;
}
.coupons-intro .intro-wrap .text .sub-title p {
    padding-top: 22px;
    padding-right: 57px;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: unset;
}
.coupons-intro .intro-wrap .coupons-form {
    padding: 21px 0 17px 0;
}
.coupons-intro .intro-wrap .coupons-form form label input {
    padding: 3px 11px;
    font-size: 12px;
}
.coupons-intro .intro-wrap .coupons-form form button {
    padding: 5px 49px;
}
.coupons-intro .intro-wrap .text .coupons-save {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.coupons-intro .intro-wrap .text .coupons-save span.icon {
    width: 35px;
    margin-right: 8px;
}
.coupons-intro .intro-wrap .text .coupons-save p {
    font-size: 14px;
    line-height: 1.29;
}
.coupons-intro .intro-wrap .text .coupons-save p span {
    padding-top: 8px;
    font-size: inherit;
}
.coupons-intro .intro-wrap .text .sub-title h1 span:before {
    bottom: -5px;
}
}
</style>
<div class="coupons-intro">
    <div class="container">
        <div class="mini-wrap">
            <div class="intro-wrap">
                <div class="text">
                    <div class="sub-title">
                        <h1>{{section.settings.cpn_tit}}</h1>
                        <p>{{section.settings.cpn_descript}}</p>
                    </div>
                    <div class="coupons-form">
                        {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% render 'form-status'%}
                            <label class="frm_hide">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input  name="contact[email]"
                                    id="Email"
                                    value="{% if customer %}{{ customer.email }}{% endif %}" type="email" placeholder="Enter Your Email Address"  autocorrect="off"
                                    autocapitalize="off">
                            </label>
                            <button type="submit" class="btn_hide">SUBSCRIBE</button>
                             {% if form.posted_successfully? %}
                <style>
                    .frm_hide{
                      display: none !important;
                    }
                    .btn_hide{
                      display: none !important;
                    }
                    .coupons-intro .intro-wrap .coupons-form form{
                        border:0 !important;
                        background: transparent !important;
                    }
                </style>
                {% endif %}
                         {% endform %}
                    </div>
                    <div class="coupons-save">
                        {% if section.settings.cpn_icnimg != blank %}
                        <span class="icon">
                            <img src="{{ section.settings.cpn_icnimg | img_url: '' }}" alt="">
                        </span>
                        {% endif %}
                        <p>{{section.settings.cpn_btmdescript}}</p>
                    </div>
                    <div class="more-info">
                        <p>{{section.settings.cpn_btmtit}}</p>
                    </div>
                </div>
                 {% if section.settings.cpn_rghtimg != blank %}
                <div class="picture">
                    <span>
                        <img src="{{ section.settings.cpn_rghtimg | img_url: '' }}" alt="">
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Coupons Intro",
    "settings": [
        {
            "type": "color",
            "id": "cpn_bgclr",
            "label": "Select Color"
        },
        {
            "type": "text",
            "id": "cpn_tit",
            "label": "Title",
            "default": "Enter Title"
        },
        {
            "type": "image_picker",
            "id": "cpn_btmlnimg",
            "label": "Select Bottom Line Image"
        },
        {
            "type": "textarea",
            "id": "cpn_descript",
            "label": "Description",
            "default": "Enter Description"
        },
        {
            "type": "image_picker",
            "id": "cpn_icnimg",
            "label": "Select Icon image"
        },
        {
            "type": "textarea",
            "id": "cpn_btmdescript",
            "label": "Bottom Description",
            "default": "Enter Description"
        },
        {
            "type": "text",
            "id": "cpn_btmtit",
            "label": "Bootom Title",
            "default": "Enter Title"
        },
        {
            "type": "image_picker",
            "id": "cpn_arrimg",
            "label": "Select Arrow Image"
        },
        {
            "type": "image_picker",
            "id": "cpn_rghtimg",
            "label": "Select Right Image"
        }
    ],
     
    "presets":[
      {
      "name": "Coupons Intro",
      "category": "coupons"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}