<section class="curalin-capsule-section text-center">
  <div class="flex-nowrap md:flex-col container flex items-center">
    <div class="content text-start">
      <h2 class="text-[#3A7684]">The ultimate glucose support</h2>
      <p>Curalin is a safe and effective glucose support supplement. It’s synergistic formula includes 9 natural ingredients that:</p>
    </div>

    <div class="image-wrapper relative min-w-[60%]">
      <img class="desktop" src="{{ 'curalin-capsule.png' | asset_url }}" alt="curalin-capsule">
      <img class="mobile" src="{{ 'curalin-capsule-mobile.png' | asset_url }}" alt="curalin-capsule">
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-1.png' | asset_url }}"></div><div>The pancreas produces insulin to control glucose levels</div></div></div>
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-2.png' | asset_url }}"></div><div>The liver regulates blood glucose and the kidney filters out excess</div></div></div>
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-3.png' | asset_url }}"></div><div>Reducing sugar & carbs can help prevent blood sugar spikes</div></div></div>
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-4.png' | asset_url }}"></div><div>Weight plays a big role in how your body processes glucose</div></div></div>
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-5.png' | asset_url }}"></div><div>Balanced glucose levels are crucial for maintaining overall health</div></div></div>
      <div class="point"><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-6.png' | asset_url }}"></div><div>Healthy glucose levels improve energy</div></div></div>
    </div>
  </div>
</section>

<style>
  .curalin-capsule-section .image-wrapper .point {
    position: absolute;
    transform: translate(-50%, -40%);
    width: 5%;
    aspect-ratio: 1 / 1;
    background: #3A7684;
    border-radius: 50%;
    z-index: 1;
  }

  .curalin-capsule-section .image-wrapper .point:after {
    content: "";
    position: absolute;
    transform: translate(-55%, 110%);
    width: 30%;
    aspect-ratio: 1 / 1;
    background: #FFB22D;
    border-radius: 50%;
    z-index: 2;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(1) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(2) {
    top: 12%;
    left: 68%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(3) {
    top: 41%;
    left: 0.5%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(4) {
    top: 70.5%;
    left: 29%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(5) {
    top: 70.5%;
    left: 68%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(6) {
    top: 41%;
    left: 100%;
  }

  .tooltip {
    position: absolute;
    left: 30px;
    top: 50px;
    transform: translateX(-50%);
    background: white;
    padding: 5px;
    border: 1px solid #3A7684;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;  /* make it non-interactive */
    z-index: 3;
    width: 315px;
    height: 100px;
    display: flex;
    wrap: nowrap;
    padding: 10px;
    box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.35);
    gap: 0.2rem;
    font-size: 16px;
    text-align: start;
    align-items: center;
  }

  .tooltip .icon-wrapper {
    width: 100px;
  }

  .tooltip .icon-wrapper img {
    height: 100px;
  }

  .point:hover {
    cursor: pointer;
  }

  .point:hover .tooltip {
    opacity: 1;
  }
</style>

{% schema %}
  {
    "name": "Curalin Capsule",
    "settings": [],
    "presets": [
      {
        "name": "Curalin Capsule"
      }
    ]
  }
{% endschema %}