<section class="curalin-capsule-section text-center bg-[#FFF8F3]">
  <div class="flex-nowrap md:flex-col container flex items-center gap-8">
    <div class="content text-start md:text-center">
      <h2 class="text-[#3A7684]">The ultimate glucose support</h2>
      <p>Curalin is a safe and effective glucose support supplement. It’s synergistic formula includes 9 natural ingredients that:</p>
    </div>

    <div class="image-wrapper relative min-w-[60%]">
      <img class="desktop" src="{{ 'curalin-capsule.png' | asset_url }}" alt="curalin-capsule">
      <img class="mobile" src="{{ 'curalin-capsule-mobile.png' | asset_url }}" alt="curalin-capsule">
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-1.png' | asset_url }}"></div><div>The pancreas produces insulin to control glucose levels</div></div></div>
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-2.png' | asset_url }}"></div><div>The liver regulates blood glucose and the kidney filters out excess</div></div></div>
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-3.png' | asset_url }}"></div><div>Reducing sugar & carbs can help prevent blood sugar spikes</div></div></div>
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-4.png' | asset_url }}"></div><div>Weight plays a big role in how your body processes glucose</div></div></div>
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-5.png' | asset_url }}"></div><div>Balanced glucose levels are crucial for maintaining overall health</div></div></div>
      <div class="point"><div class="spinner-wrap"><div class="spinner-item"></div><div class="spinner-item spinner-item--2"></div><div class="spinner-item spinner-item--3"></div></div><div class="tooltip"><div class="icon-wrapper"><img src="{{ 'curalin-capsule-icon-6.png' | asset_url }}"></div><div>Healthy glucose levels improve energy</div></div></div>
    </div>
  </div>
</section>

<style>
  .spinner-wrap {
    position: relative;
    top: 3px;
  }

  .spinner-item {
    background: #3A7684;
    border: 1px solid #3A7684;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-animation: zoom 2s linear 0.75s infinite;
            animation: zoom 2s linear 0.75s infinite;
  }
  .spinner-item--2 {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
  }
  .spinner-item--3 {
    background: #FFB22D;
    border: 1px solid #FFB22D;
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
  }

  @-webkit-keyframes zoom {
    0% {
      transform: translate(-50%, -50%) scale(0.2);
      opacity: 0;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }

  @keyframes zoom {
    0% {
      transform: translate(-50%, -50%) scale(0.2);
      opacity: 0;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .spinner-wrap {
      left: -50%;
    }
  }
</style>

<style>
  .curalin-capsule-section .image-wrapper .point {
    position: absolute;
  }

  {% comment %} .curalin-capsule-section .image-wrapper .point:hover::after {
    transform: translate(-50%, 50%);
    width: 50%;
  }

  .curalin-capsule-section .image-wrapper .point:after {
    content: "";
    position: absolute;
    transform: translate(-55%, 110%);
    width: 30%;
    aspect-ratio: 1 / 1;
    background: #FFB22D;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.5;
  } {% endcomment %}

  .curalin-capsule-section .image-wrapper .point:nth-of-type(1) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(2) {
    top: 12%;
    left: 68%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(3) {
    top: 41%;
    left: 0.5%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(4) {
    top: 70.5%;
    left: 29%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(5) {
    top: 70.5%;
    left: 68%;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(6) {
    top: 41%;
    left: 100%;
  }

  .tooltip {
    position: absolute;
    left: 30px;
    top: 50px;
    transform: translateX(-50%);
    background: white;
    padding: 5px;
    border: 1px solid #3A7684;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;  /* make it non-interactive */
    z-index: 3;
    width: 315px;
    height: 100px;
    display: flex;
    wrap: nowrap;
    padding: 10px;
    box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.35);
    gap: 0.2rem;
    font-size: 16px;
    text-align: start;
    align-items: center;
  }

  .tooltip .icon-wrapper {
    min-width: 100px;
  }

  .tooltip .icon-wrapper img {
    height: 70px;
    object-fit: contain;
  }

  .point:hover {
    cursor: pointer;
  }

  .point:hover .tooltip {
    opacity: 1;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(3) .tooltip {
    left: 110px;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(4) .tooltip {
    top: -120px;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(5) .tooltip {
    top: -120px;
  }

  .curalin-capsule-section .image-wrapper .point:nth-of-type(6) .tooltip {
    left: -110px;
  }

  @media screen and (max-width: 768px) {
    .curalin-capsule-section .image-wrapper .point {
      width: 7%;
    }

    .curalin-capsule-section .image-wrapper .point:after {
      width: 40%;
      transform: translate(-50%, 80%);
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(1) {
      top: 0%;
      left: 50%;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(2) {
      top: 25%;
      left: 91.5%;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(3) {
      top: 25%;
      left: 34px;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(4) {
      top: 99%;
      left: 50%;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(5) {
      top: 58%;
      left: 9.5%;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(6) {
      top: 58%;
      left: 91.5%;
    }

    .tooltip {
      width: 200px;
      height: 100px;
      font-size: 12px;
    }

    .tooltip {
      width: 70vw;
      left: 4vw;
      top: 7vw;
      height: 80px;
      font-size: 13px;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(1) .tooltip {
      left: 3vw;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(2) .tooltip {
      left: -34vw;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(3) .tooltip {
      left: 39vw;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(4) .tooltip {
      top: -23vw;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(5) .tooltip {
      left: 39vw;
    }

    .curalin-capsule-section .image-wrapper .point:nth-of-type(6) .tooltip {
      left: -34vw;
    }

    .tooltip .icon-wrapper {
      min-width: 60px;
    }

    .tooltip .icon-wrapper img {
      height: 50px;
    }
  }
</style>


{% schema %}
  {
    "name": "Curalin Capsule",
    "settings": [],
    "presets": [
      {
        "name": "Curalin Capsule"
      }
    ]
  }
{% endschema %}