<div class="container">
  <h2>{{ section.settings.title }}</h2>

  <div class="reviews">
    {% for block in section.blocks %}
      <div class="review">
        <div class="image-wrapper">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
        </div>
        <div class="content">
          <p class="name">{{ block.settings.text }}</p>
          <div class="rating text-lightGreen"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
          <p class="content__name">{{ block.settings.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  section.hero-banner {
    background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.hero-banner h1 {
    max-width: 50%;
    margin-inline-start: 50%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
  }

  @media (max-width: 768px) {
    section.hero-banner h1 {
      max-width: 100%;
      margin-inline-start: unset;
    }
  }
</style>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}