<div class="container">
  <h2>{{ section.settings.title }}</h2>

  <swiper-container class="reviews flex" space-between="30" slides-per-view="auto" pagination="true" pagination-clickable="true">
    {% for block in section.blocks %}
      <swiper-slide class="review h-500 drop-shadow-xl flex items-center gap-8 p-8 bg-white">
        <img class="h-full" src="{{ block.settings.customer_image | img_url: 'master' }}" alt="">
        <div class="content">
          <h3 class="name">{{ block.settings.name }}</h3>
          <div class="rating text-lightGreen mb-5"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
          <p class="quote">{{ block.settings.quote }}</p>
          <p class="additional-text">{{ block.settings.additional_text }}</p>
        </div>
      </swiper-slide>
    {% endfor %}
  </swiper-container>

  <div class="edge-gradient"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<style>
  .customer-reviews .edge-gradient {
    background: linear-gradient(180deg, {{ sectio.settings.bg_color }} 0%, #F7F7F7 100%);
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
  }

  .swiper {
    padding: 50px;
  }

  .customer-reviews {
    background-color: {{ section.settings.bg_color }};
  }

  .customer-reviews .reviews {
    padding: 50px;
  }

  .customer-reviews .review {
    width: 90%;
  }
</style>

{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "customer-reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customer Reviews"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "additional_text",
          "label": "Additional Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}