<section class="customer-reviews relative">
  <div class="container mb-16 flex">
    <div class="review-titles-wrapper w-1/2">
      <div class="review-titles w-5/6">
        {% for block in section.blocks %}
          <div class="review-title text-[25px] py-4 border-b border-black" onclick="window.slideToReview({{ forloop.index }})">
            {{ block.settings.title }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper reviews flex w-1/2">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide review-wrapper">
            <div class="review border border-black h-[350px] md:h-fit md:flex-col md:p-4 md:shadow-xl flex justify-start gap-8 p-8 bg-white shadow-l">
              <img class="md:object-cover md:object-top md:w-full max-h-[280px]" src="{{ block.settings.customer_image | image_url }}" alt="" loading="lazy">
              <div class="content text-start mt-8 md:mt-0">
                <h3 class="name">{{ block.settings.name }}</h3>
                <div class="rating text-[#FFB22D] mb-5"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                <p class="quote">{{ block.settings.quote }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  :root {
    --swiper-theme-color: var(--brown);
    --swiper-pagination-bottom: -8%;
    --swiper-navigation-size: 18px;
  }

  .customer-reviews {
    background-color: {{ section.settings.bg_color }};
  }

  .customer-reviews .review-titles-wrapper .review-title:before {
    content: ">";
    margin-right: 10px;
    font-size: 35px;
  }

  .customer-reviews .review.active {
    color: var(--light-green);
    font-size: 35px;
  }
</style>

<script>
  var reviewsSwiper = new Swiper('.swiper', {
    centeredSlides: true,
    slidesPerView: 'auto',
    grabCursor: true,
    spaceBetween: 30,
    autoHeight: true,
    lazy: true,
    paginationClickable: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });

  window.slideToReview = function(index) {
    reviewsSwiper.slideTo(index);
  }
</script>

{% schema %}
{
  "name": "Customer Reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Short Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}