<section class="customer-reviews relative md:pt-0">
  <div class="container flex md:flex-col gap-y-[10px]">
    <div class="review-titles-wrapper w-1/2 md:w-full">
      <div class="review-titles w-[90%] md:w-full">
        {% for block in section.blocks %}
          <div class="review-title text-[23px] transition-all duration-300 py-4 cursor-pointer {% if forloop.first %}active{% endif %} {% unless forloop.last %}border-b border-black{% endunless %}" onclick="window.slideToReview({{ forloop.index }})">"{{ block.settings.title }}"</div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper reviews w-1/2 md:w-full">
      <div class="swiper-wrapper pb-8">
        {% for block in section.blocks %}
          <div class="swiper-slide review-wrapper">
            <div class="review border border-black h-[350px] md:h-fit md:flex-row-reverse md:p-4 md:shadow-xl flex justify-start gap-8 p-8 bg-white shadow-lg">
              <img class="m-0 max-h-[280px] xl:max-h-[17vw] md-max-h-none md:w-1/4 md:absolute md:" src="{{ block.settings.customer_image | image_url }}" alt="" loading="lazy">
              <div class="content text-start md:text-[4vw]">
                <h3 class="name font-thin mb-2">{{ block.settings.name }}</h3>
                <div class="rating text-[#FFB22D] mb-4 md:mb-16 md:text-[3vw]"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                <div class="quote">{{ block.settings.quote }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  :root {
    --swiper-theme-color: var(--brown);
    --swiper-pagination-bottom: -8%;
    --swiper-navigation-size: 18px;
  }

  .customer-reviews {
    background-color: {{ section.settings.bg_color }};
  }

  .customer-reviews .review-titles-wrapper .review-title:before {
    content: ">";
    margin-right: 10px;
    font-size: 30px;
  }

  .customer-reviews .review-titles-wrapper .review-title.active {
    color: var(--light-green);
    font-size: 25px;
  }

  @media screen and (max-width: 1200px) {
    .customer-reviews .review-titles-wrapper .review-title,
    .customer-reviews .review-titles-wrapper .review-title:before {
      padding-left: 3vw;
      text-indent: -3vw;
    }
  }

  @media screen and (max-width: 768px) {
    .customer-reviews .review-titles-wrapper .review-title,
    .customer-reviews .review-titles-wrapper .review-title:before {
      font-size: 4.4vw;
      padding-left: 8vw;
      text-indent: -14vw;
    }

    .customer-reviews .review-titles-wrapper .review-title.active {
      font-size: 5vw;
    }
  }
</style>

<script>
  class ReviewsApp {
    constructor() {
      this.reviewTitles = Array.from(document.querySelectorAll('.review-title'));
      this.reviewQuotes = Array.from(document.querySelectorAll('.quote'));
      this.reviewsSwiper = new Swiper('.swiper', {
        centeredSlides: true,
        slidesPerView: '1',
        spaceBetween: 30,
        autoHeight: true,
        lazy: true
      });
      this.reviewTitleClickHandler = this.handleReviewTitleClick.bind(this);
    }

    handleReviewTitleClick(event) {
      if(event.target.classList.contains('review-title')) {
        this.slideToReview(this.reviewTitles.indexOf(event.target) + 1);
      }
    }

    bindEvents() {
      this.reviewTitles.forEach(title => title.addEventListener('click', this.reviewTitleClickHandler));
    }

    unbindEvents() {
      this.reviewTitles.forEach(title => title.removeEventListener('click', this.reviewTitleClickHandler));
    }

    highlightQuoteText(title, quote) {
      const titleText = title.innerText.replace(/["]+/g, '');
      const quoteText = quote.textContent;

      if (quoteText.includes(titleText)) {
        const index = quoteText.indexOf(titleText);
        const highlightedText = this.createHighlightedText(titleText);

        quote.textContent = quoteText.substring(0, index);
        quote.append(...[highlightedText, document.createTextNode(quoteText.substring(index + titleText.length))]);
      }
    }

    createHighlightedText(text) {
      const span = document.createElement('span');
      span.classList.add('highlight');
      span.textContent = text;
      return span;
    }

    slideToReview(index) {
      this.reviewsSwiper.slideTo(index - 1);
      this.reviewTitles.forEach((reviewTitle, idx) => reviewTitle.classList.toggle('active', idx === index - 1));
    }

    init() {
      this.bindEvents();
      this.reviewTitles.forEach((title, index) => this.highlightQuoteText(title, this.reviewQuotes[index]));
    }

    destroy() {
      this.unbindEvents();
    }
  }

  let reviewsApp;

  document.addEventListener('DOMContentLoaded', () => {
    reviewsApp = new ReviewsApp();
    reviewsApp.init();
  });

  window.addEventListener('beforeunload', () => {
    if (reviewsApp) {
      reviewsApp.destroy();
    }
  });
</script>

{% schema %}
{
  "name": "Customer Reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Short Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}