<div class="container mb-8">
  <h2>{{ section.settings.title }}</h2>

  <swiper-container class="reviews flex" auto-height="true" space-between="30" slides-per-view="auto" navigation="true" pagination="true" pagination-clickable="true" lazy="true">
    {% for block in section.blocks %}
      <swiper-slide class="review h-500 md:h-fit md:flex-col md:p-4 md:shadow-xl flex gap-8 p-8 bg-white shadow-2xl">
        <img class="md:object-cover md:object-top md:w-full md:h-56 max-h-448px" src="{{ block.settings.customer_image | img_url: 'master' }}" alt="">
        <div class="content mt-8">
          <h3 class="name md:text-start">{{ block.settings.name }}</h3>
          <div class="rating text-lightGreen mb-5"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
          <p class="quote">{{ block.settings.quote }}</p>
          <p class="additional-text bottom-7 md:relative md:bottom-0 absolute">{{ block.settings.additional_text }}</p>
        </div>
      </swiper-slide>
    {% endfor %}
  </swiper-container>
</div>

<div class="edge-gradient right md:hidden block"></div>
<div class="edge-gradient left md:hidden block"></div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<script>
  $(document).ready(function() {
    $('.swiper-pagination').css('z-index', 'unset');
  });
</script>

<style>
  :root {
    --swiper-theme-color: #000;
    --swiper-pagination-bottom: -8%;
    --swiper-navigation-top-offset: 110%;
    --swiper-navigation-sides-offset: 400px;
    --swiper-navigation-size: 18px;
  }

  .customer-reviews {
    background-color: {{ section.settings.bg_color }};
  }

  .customer-reviews .edge-gradient {
    height: 100%;
    position: absolute;
    top: 0;
    width: 450px;
    max-width: 10vw;
    z-index: 10;
  }

  .customer-reviews .edge-gradient.left {
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.80015756302521) 60%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    left: 0;
  }

  .customer-reviews .edge-gradient.right {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.80015756302521) 60%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    right: 0;
  }

  .customer-reviews .swiper-pagination {
    bottom: -50px !important;
  }

  .customer-reviews .swiper-button-prev,
  .customer-reviews .swiper-button-next {
    color: #000 !important;
    bottom: -50px !important;
    z-index: 9999 !important;
    position: absolute;
  }

  .customer-reviews .swiper-button-prev:after,
  .customer-reviews .swiper-button-next:after {
    font-size: 1em;
  }

  .customer-reviews .reviews {
    overflow: visible;
  }

  .customer-reviews .review {
    cursor: grab;
  }
</style>

{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "customer-reviews relative",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customer Reviews"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "additional_text",
          "label": "Additional Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}