{% assign disorders_amount = 0 %}

<section class="disorders-box-section">
  <h2>{{ section.settings.title }}</h2>
  <div class="container">
    <div class="tabbed-content tabs-side shadow-2xl">
      <nav class="tabs min-w-[300px] xl:min-w-fit">
        <ul>
          {% for disorder_block in section.blocks %}
            <li class="xl:min-w-[20vw]"><a href="#item-{{ forloop.index }}" {% if forloop.first %}class="active"{% endif %}>{{ disorder_block.settings.disorder_name }} <i>></i></a></li>
          {% endfor %}
        </ul>
      </nav>

      <div class="content">
        {% for disorder_block in section.blocks %}
          {% assign disorders_amount = disorders_amount | plus: 1 %}
          <div id="item-{{ forloop.index }}" class="item {% if forloop.first %}active always-active{% endif %}" data-title="{{ disorder_block.settings.disorder_name }}">
            <div class="item-content flex">
              <div class="content-column disorder-info">
                <img src="{{ disorder_block.settings.disorder_image.src | image_url }}" alt="{{ disorder_block.settings.disorder_name }}" loading="lazy">
                <p>{{ disorder_block.settings.disorder_description  }}</p>
              </div>

              <div class="arrow">></div>

              <div class="content-column ingredient-info">
                <p class="font-bold">How we tackle it</p>
                <h6>{{ disorder_block.settings.solution_name }}</h6>
                <img src="{{ disorder_block.settings.solution_image.src | image_url }}" alt="{{ disorder_block.settings.solution_name }}" loading="lazy">
                <p class="font-bold">{{ disorder_block.settings.solution_description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<style>
  .disorders-box-section {
    padding: 50px 0 70px;
  }

  .disorders-box-section .tabbed-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
  }

  .disorders-box-section .tabbed-content .tabs {
    box-shadow: 0 25px 54px -35px rgb(0 0 0 / .25);
  }

  .disorders-box-section .tabs ul li {
    text-align: center;
    height: calc(550px / {% if disorders_amount > 0 %}{{ disorders_amount }}{% else %}5{% endif %});
    border-bottom: 1px solid #d2d2d2;
  }

  .disorders-box-section .tabs ul li a {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
  }

  .disorders-box-section .tabs ul li a i {
    position: relative;
    transition: all 0.5s ease-in-out;
    font-style: normal;
    left: 20px;
  }

  .disorders-box-section .tabs ul li a:hover,
  .disorders-box-section .tabs ul li a.active {
    background-color: #f9f9f9;
    color: {{ collection.metafields.custom.color }};
    font-weight: bold;
  }

  .disorders-box-section .item {
    position: relative;
  }

  .disorders-box-section .item::before {
    content: attr(data-title);
    border-top: 1px solid var(--light-green);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    display: block;
    text-align: center;
  }

  .disorders-box-section .item:first-child::before {
    border-top: unset;
  }

  .disorders-box-section .item.active .item-content {
    transition: opacity 0.8s ease-in-out;
  }

  .disorders-box-section .arrow {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    z-index: 10;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disorders-box-section .item-content .content-column {
    width: 50%;
    text-align: center;
    padding: 20px;
    height: 550px;
  }

  .disorders-box-section .item-content .content-column.disorder-info img {
    height: 300px;
    margin-bottom: 20px;
    object-fit: contain;
    object-position: bottom;
  }

  .disorders-box-section .item-content .content-column.ingredient-info {
    background-color: var(--vomit);
    background-color: {{ collection.metafields.custom.collection_bg_color }};
    box-shadow: inset 12px 1px 20px 0px rgb(0 0 0 / .02);
  }

  .disorders-box-section .item-content .content-column.ingredient-info img {
    height: 250px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: 30px;
  }

  .disorders-box-section .tabbed-content .tabs {
    display: none;
  }

  .disorders-box-section .tabbed-content .item {
    min-height: 2em;
  }

  .disorders-box-section .tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .disorders-box-section .tabbed-content .item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  @media all and (min-width: 800px) {
    .disorders-box-section .item.active .item-content {
      padding-top: 0;
    }

    .disorders-box-section .tabbed-content .tabs {
      display: block;
    }

    .disorders-box-section .tabbed-content .tabs li {
      display: inline-block;
    }

    .disorders-box-section .tabbed-content .tabs li:last-child {
      border-bottom: unset;
    }

    .disorders-box-section .tabbed-content .tabs li a {
      display: flex;
    }

    .disorders-box-section .tabbed-content .item {
      min-height: 0;
    }

    .disorders-box-section .tabbed-content .item::before {
      display: none;
    }

    .disorders-box-section .tabbed-content.tabs-side .tabs li {
      display: block;
    }
  }

  @media all and (max-width: 768px) {
    .disorders-box-section .tabbed-content {
      display: block;
      margin-left: unset !important;
    }

    .disorders-box-section .item::after {
      content: "+";
      font-size: 30px;
      position: absolute;
      top: 5px;
      right: 2vw;
      border: 2px solid var(--light-green);
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      font-size: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--light-green);
    }

    .disorders-box-section .item.active::after {
      content: "-";
    }

    .disorders-box-section .tabbed-content .item.active .item-content {
      flex-direction: column;
    }

    .disorders-box-section .item-content .content-column {
      height: unset;
    }

    .disorders-box-section .arrow {
      display: none;
    }

    .disorders-box-section .tabbed-content .item.active .item-content .content-column {
      width: 100%
    }
  }

  @media screen and (max-width: 500px) {
    .disorders-box-section .item::after {
      top: 4vw;
    }
  }
</style>

<script>
  var resizeTimer;
function tabControl() {
  var tabs = $('.disorders-box-section .tabbed-content').find('.tabs');
  if(tabs.is(':visible')) {
    tabs.find('a').on('click', function(event) {
      event.preventDefault();
      var target = $(this).attr('href'),
          tabs = $(this).parents('.tabs'),
          buttons = tabs.find('a'),
          item = tabs.parents('.disorders-box-section .tabbed-content').find('.item');
      buttons.removeClass('active');
      item.removeClass('active');
      $(this).addClass('active');
      $(target).addClass('active');
    });
  } else {
    $(".item").on('click', function() {
      var container = $(this).parents('.tabbed-content'),
          currId = $(this).attr('id'),
          items = container.find('.item');
      container.find('.tabs a').removeClass('active');
      items.removeClass('active');
      $(this).addClass('active');
      container.find('.tabs a[href$="#'+ currId +'"]').addClass('active');
      // Scroll to element function
      $('html, body').animate({
          scrollTop: $(this).offset().top
      }, 200);
    });
  }
}

$(document).ready(function(){
  $(window).on('resize', function(e) {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
      tabControl();
    }, 250);
  });

  tabControl();
});
</script>

{% schema %}
  {
    "name": "Disorders Box",
    "class": "disorers-box-section",
    "settings": [],
    "blocks": [
      {
        "name": "Disorder",
        "type": "disorder",
        "settings": [
          {
            "type": "text",
            "id": "disorder_name",
            "label": "Disorder Name"
          },
          {
            "type": "image_picker",
            "id": "disorder_image",
            "label": "Disorder Image"
          },
          {
            "type": "text",
            "id": "disorder_description",
            "label": "Disorder Description"
          },
          {
            "type": "text",
            "id": "solution_name",
            "label": "Solution Name"
          },
          {
            "type": "image_picker",
            "id": "solution_image",
            "label": "Solution Image"
          },
          {
            "type": "text",
            "id": "solution_description",
            "label": "Solution Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Disorders Box"
      }
    ]
  }
{% endschema %}