{% assign lock_icon_class = 'icofont-simple-smile' %}
{% assign lock_title = 'Happy to see you here!<br>
Ready to take control of your health?<br>
Join our health program and get the support you need to live a healthier life.' %}
{% assign lock_cta_title = 'Get Started Today!' %}

{% if page.title contains '30 Day Challenge' %}
  {% assign lock_cta_link = '/products/30-day-blood-sugar-challenge-pp' %}
{% elsif page.title contains 'Freebies' %}
  {% assign lock_cta_link = '/products/curalin-freebies' %}
{% endif %}

{% if customer.tags contains '30-days-challenge' or customer.tags contains 'freebies' %}
  {%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}
  {% assign param = blank %}

  {% comment %} get "page" param from url {% endcomment %}
  {%- for i in (1..1) -%}
    {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
    {%- assign query_string = page_url | split:'?' | last -%}
    {%- assign qry_parts= query_string | split:'&' -%}

    {%- for part in qry_parts -%}
      {%- assign key_and_value = part | split:'=' -%}
      {%- if key_and_value.size > 1 -%}
        {% if key_and_value[0] == 'page' %}
          {% assign param = key_and_value[1] %}
        {% endif %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}

  <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="width: 100%; height: 900px;" src="https://heyzine.com/flip-book/{{ page.content }}.html{% if param.size > 0 %}#page/{{ param }}{% endif %}"></iframe>
  {% else %}
  <div class="container">
    <i class="{{ lock_icon_class }} main-icon"></i>
    <h1>{{ lock_title }}</h1>
    <a href="{{ lock_cta_link }}"><button class="cta-btn">{{ lock_cta_title }}</button></a>
  </div>

  
  <style>
    .main-icon {
      font-size: 100px;
    }

    main .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 20px;
      font-size: 15px;
      padding: 80px;
    }

    .cta-btn {
      font-size: 20px;
      font-weight: bold;
      background-color: var(--green);
    }
  </style>
{% endif %}

