
<div class="offset-top spgs">
  <div class="container">
    <div class="mini-wrap">
      <div class="feature-info">
        {% if section.settings.fetr_imgone != blank %}
        <div class="img-wrap">
          <span><img src="{{ section.settings.fetr_imgone | img_url: '' }}" alt="" width="391px" height="396px"></span> 
        </div>
        {% endif %} 
        <div class="intro-text">
          <div class="sub-title">
            <h1>{{section.settings.fetr_titlone}}</h1>
            <p>{{section.settings.fter_descone}}</p>
          </div>
          <div class="btn">
            <a href="{{section.settings.fterbnr_btnlinkone}}" class="main-btn">{{section.settings.fterbtn_titlone}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="natural-ingredients">
    <div class="container">
      <div class="mini-wrap">
        <div class="intro-text">
          <div class="sub-title">
            <h3>{{section.settings.fetr_titltwo}}</h3>
          </div>
          <div class="btn">
            <a href="{{section.settings.fterbnr_btnlinktwo}}" class="main-btn">{{section.settings.fterbtn_titltwo}}</a>
          </div>
        </div>
        {% if section.settings.fetr_imgtwo != blank %}
        <div class="img-wrap">
          <img src="{{ section.settings.fetr_imgtwo | img_url: '' }}" alt="" width="332" height="auto">
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mini-wrap">
      <div class="changing-experiences">
        <div class="sub-title">
          <h3>{{section.settings.fetr_titlthree}}</h3>
        </div>
        <div class="quote-slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
              {% if block.type == 'qute' %}
              <div class="swiper-slide">
                <div class="quote-card">
                  <blockquote>
                      <p>{{block.settings.quot_descript}}</p>
                  </blockquote>
                  <div class="quote-info">
                    <div class="quote-author">
                      <p>{{block.settings.authr_name}}</p>
                    </div>
                    <div class="quote-rating">
                      <p>
                        <span class="{{block.settings.quor_ratingone}}"></span>
                        <span class="{{block.settings.quor_ratingtwo}}"></span>
                        <span class="{{block.settings.quor_ratingthree}}"></span> 
                        <span class="{{block.settings.quor_ratingfoue}}"></span>
                        <span class="{{block.settings.quor_ratingfive}}"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div> 
              {% endif %}
              {% endfor %}
            </div>
            <div class="slider-control">
                <div class="prev-slide2"><span class="icon-arrow"></span></div>
                <div class="next-slide2"><span class="icon-arrow"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="making-headlines">
    <div class="container">
      <div class="sub-title">
          <h3>{{section.settings.fetr_titlfour}}</h3>
      </div>
      <div class="logo-list">
          <ul>
              {% for block in section.blocks %}
              {% if block.type == 'partners' %}
              {% if block.settings.fetr_imgfour != blank %}
              <li><img src="{{ block.settings.fetr_imgfour | img_url: '' }}" alt=""></li>
              {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>

<script>
  quoteSlider = new Swiper(".quote-slider .swiper", {
    slidesPerView: 2,
    spaceBetween: 0,
    grabCursor: true,
    autoHeight: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 2,
        centeredSlides: false
      },
      992: {
        slidesPerView: 3,
        centeredSlides: true
      }
    }
  });
</script>

{% schema %}
{
  "name": "Home Features",
  "settings": [
    {
         "type": "header", 
         "content": "Glucose Support Section Start" 
    }, 
    {
        "type": "image_picker",
        "id": "fetr_imgone",
        "label": "Select image"
      },
    {
      "type": "text",
      "id": "fetr_titlone",
      "label": "Title",
      "default": "Enter Yor title"
     },
     {
      "type": "textarea",
      "id": "fter_descone",
      "label": "Description",
      "default": "Enter Description"
     },
     {
      "type": "text",
      "id": "fterbtn_titlone",
      "label": "Button Title",
      "default": "Enter Button Title"
     },
     {
        "id": "fterbnr_btnlinkone",
        "type": "url",
        "label": "Button Link"
      },
      {
         "type": "header", 
         "content": "Powerful natural ingredients Section Start" 
    }, 
    {
      "type": "text",
      "id": "fetr_titltwo",
      "label": "Title",
      "default": "Enter Yor title"
     },
     
     {
      "type": "text",
      "id": "fterbtn_titltwo",
      "label": "Button Title",
      "default": "Enter Button Title"
     },
     {
        "id": "fterbnr_btnlinktwo",
        "type": "url",
        "label": "Button Link"
      },
      {
        "type": "image_picker",
        "id": "fetr_imgtwo",
        "label": "Select image"
      },
      {
         "type": "header", 
         "content": "Quote Slider Section Start" 
    }, 
    {
      "type": "text",
      "id": "fetr_titlthree",
      "label": "Title",
      "default": "Enter Yor title"
     },
      {
         "type": "header", 
         "content": "Our Partners Section Start" 
    }, 
    {
      "type": "text",
      "id": "fetr_titlfour",
      "label": "Title",
      "default": "Enter Yor title"
     }
  ],
   "blocks": [
        {
          "type": "qute",
          "name": "Quote Slider Content",
          "settings": [    
              {
                  "type": "textarea",
                  "id": "quot_descript",
                  "label": "Description",
                  "default": "Enter Description"
              },
              {
                "type": "text",
                "id": "authr_name",
                "label": "Author Name",
                "default": " Enter Author Name "
              },
              {
                "type": "text",
                "id": "quor_ratingone",
                "label": "Rating One",
                "default": " icon-star "
              },
              {
                "type": "text",
                "id": "quor_ratingtwo",
                "label": "Rating Two",
                "default": " icon-star "
              },
              {
                "type": "text",
                "id": "quor_ratingthree",
                "label": "Rating three",
                "default": " icon-star "
              },
              {
                "type": "text",
                "id": "quor_ratingfoue",
                "label": "Rating Four",
                "default": " icon-star "
              },
              {
                "type": "text",
                "id": "quor_ratingfive",
                "label": "Rating Five",
                "default": " icon-star "
              }
              
          ]    
        },
        {
          "type": "partners",
          "name": "Partners Content",
          "settings": [    
              {
                "type": "image_picker",
                "id": "fetr_imgfour",
                "label": "Select image"
              }
              
          ]    
        }
        ],
  "presets":[
    {
    "name": "Home Features",
    "category": "Home"
    }
]
}
{% endschema %}

{% style %}

.feature-info h1 {
 text-align: left;
}

@media screen and (max-width: 480px) {
  .feature-info {
  flex-wrap: wrap;
  }

  .natural-ingredients .mini-wrap {
  flex-wrap: wrap;
  }

.refer-friend {
  flex-wrap: wrap;
}

.refer-friend .img-wrap {
  padding-top: 32px;
}
}
{% endstyle %}

{% javascript %}
{% endjavascript %}