<div class="offset-top">
  <div class="container">
    <div class="mini-wrap">
      <div class="refer-friend">
        {% if section.settings.refr_img != blank %}
        <div class="img-wrap">
          <img src="{{ section.settings.refr_img | image_url }}" alt="" width="472" height="auto" loading="lazy">
        </div>
          {% endif %}
        <div class="intro-text">
          <div class="sub-title">
            <h2>{{section.settings.refr_titl}}</h2>
            <p>{{section.settings.refr_desc}}</p>
          </div>
          <div class="btn">
            <a href="{{section.settings.refr_btnlink}}" class="main-btn">{{section.settings.refr_btntitl}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% render 'newsletter-form' %}

{% schema %}
  {
    "name": "Friend Refer",
    "settings": [
      {
        "type": "header", 
        "content": "Refer a Friend Section Start" 
      }, 
      {
        "type": "image_picker",
        "id": "refr_img",
        "label": "Select image"
      },
      {
        "type": "text",
        "id": "refr_titl",
        "label": "Title",
        "default": "Enter Your title"
      },
      {
        "type": "textarea",
        "id": "refr_desc",
        "label": "Description",
        "default": "Enter Your Description"
      },
      {
        "type": "text",
        "id": "refr_btntitl",
        "label": "Button Title",
        "default": "Enter Button Title"
      },
      {
        "id": "refr_btnlink",
        "type": "url",
        "label": "Button Link"
      },
      {
        "type": "header", 
        "content": "Newsletter Section Start" 
      }
    ],
    "presets": [
      {
        "name": "Friend Refer",
        "category": "Home"
      }
    ]
  }
{% endschema %}