<div class="curalin-page-header container">
    <img class="header-img" src="{{section.settings.header_image | img_url:'533x365' }}" width="533px" height="365px" alt="CuraLin Header Image">
    <div class="header-content">
        <h1>
            {{section.settings.header_title}}<br><br>
            <span class="header-subtitle">{{section.settings.header_subtitle}}</span>
        </h1>
        <div class="btn">
            <a href="{{section.settings.button_link}}" class="main-btn">{{section.settings.button_title}}</a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Glucose Support Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_image",
            "label": "Header Image"
        }, {
            "type": "text",
            "id": "header_title",
            "label": "Title",
            "default": "Enter Title"
        }, {
            "type": "text",
            "id": "header_subtitle",
            "label": "Sub-Title",
            "default": "Enter Sub-Title"
        }, {
            "type": "text",
            "id": "button_title",
            "label": "Button Title",
            "default": "Enter Button Title"
        }, {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
        }
    ],
    "presets": [
        {
            "name": "Glucose Support Banner",
            "category": "image"
        }
    ]
}

{% endschema %}

{% style %}

.curalin-page-header {
    display: inline-flex;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
}

.header-img {
    max-height: 400px;
    position: relative;
}

.header-content {
    margin-left: 100px;
    margin-top: -100px;
}

.header-content .btn .main-btn {
    background-color: #d07c5b;
    border-color: #d07c5b;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
    font-size: 20px;
}

h1 {
    font-size: 60px;
    line-height: 0.5em;
    margin: 20px 0;
}

.header-subtitle {
    font-weight: normal;
    font-size: 30px;
}

@media screen and (max-width: 760px) {
    .curalin-page-header {
        flex-wrap: wrap;
    }

    .header-img {
        width: 100%;
        margin-right: 25%;
    }

    h1 {
        font-size: 50px;
    }

    .header-content {
        text-align: center;
        margin: 0 10px;
        width: 100%;
    }

    .header-subtitle {
        font-size: 25px;
    }
  }

{% endstyle %}