<div class="support-page offset-top">
    <div class="container">
        <div class="white-bg">
            <div class="mini-wrap">
                <div class="advantages-section">
                    <div class="sub-title">
                        <h3>{{section.settings.cpwr_titl}}</h3>
                    </div>
                    <div class="advantages-wrap">
                        <ul>
                            {% assign count = 0 %}
                            {% for block in section.blocks %}
                                {% if block.type == 'cura_power' %}
                                    {%if block.settings.cpwr_img != blank %}
                                        <li class="advantage-content-{{ count }}">
                                            <div class="icon-wrap">
                                                <img src="{{ block.settings.cpwr_img | image_url }}" width="80px" height="60px" alt="icon-wrap" loading="lazy">
                                            </div>
                                            <div class="name">
                                                <p>{{block.settings.cpwr_desc }}</p>
                                            </div>
                                        </li>
                                        {% assign count = count | plus: 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="story-section">
        <div class="story-data">
            <div class="container">
                <div class="mini-wrap">
                    <div class="sub-title">
                        <h2>{{section.settings.wht_titl}}</h2>
                    </div>

                    {% if section.settings.wht_desc != blank %}
                    <div class="text">
                        <p>{{section.settings.wht_desc}}</p>
                    </div>
                    {% endif %}
                    <div class="badges">
                        <ul>
                            {% for block in section.blocks %}
                            {% if block.type == 'what_cura' %}
                            {% if block.settings.wht_img != blank %}
                            <li>
                                <img src="{{ block.settings.wht_img | image_url }}" width="168px" height="143px" alt="" loading="lazy">
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "CuraLin Powerfully Helps",
        "settings": [
            {
                "type": "header", 
                "content": "CuraLin Powerfully Section Start" 
            },
            {
                "type": "text",
                "id": "cpwr_titl",
                "label": "Title",
                "default": "Enter title"
            },
            {
                "type": "header", 
                "content": "What is CuraLin Section Start" 
            },
            {
                "type": "text",
                "id": "wht_titl",
                "label": "Title",
                "default": "Enter title"
            },
            {
                "type": "textarea",
                "id": "wht_desc",
                "label": "Description",
                "default": "Enter Description"
            }
   
        ],
        "blocks": [
            {
                "type": "cura_power",
                "name": "CuraLin Helps Content",
                "settings": [    
                    {
                        "type": "image_picker",
                        "id": "cpwr_img",
                        "label": "Select Image"
                    },
                    {
                        "type": "textarea",
                        "id": "cpwr_desc",
                        "label": "Description",
                        "default": "Enter Description"
                    }
                
                ]    
            },
            {
                "type": "what_cura",
                "name": "What CuraLin Images",
                "settings": [    
                    {
                        "type": "image_picker",
                        "id": "wht_img",
                        "label": "Select Image"
                    }
                    
                ]    
            }
        ],
        "presets":[
            {
                "name": "Banner",
                "category": "text"
            }
        ]
    }
{% endschema %}

{% style %}
.icon-wrap {
    background-color: #BBDDD9;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.icon-wrap img {
    position: relative;
    top: 40%;
    left: 40%;
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.story-data .sub-title {
    margin-bottom: 40px;
    margin-top: 20px;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}