<section class="hero-banner bg-{{ section.settings.bg_position }}">
  <div class="background absolute w-full h-full flex">
    {% for block in section.blocks %}
      <div class="left-images">
        <img class="h-full object-cover" src="{{ block.settings.left_image | image_url }}" alt="">
      </div>
    {% endfor %}

    {% for block in section.blocks %}
      <div class="right-images">
        <img class="h-full object-cover" src="{{ block.settings.right_image | image_url }}" alt="">
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="md:justify-{{ section.settings.mobile_alignment }} container !w-full flex flex-col justify-{{ section.settings.vertical_align_desktop }}">
    <h1 class="max-w-1/2 md:max-w-full md:text-{{ section.settings.text_align_mobile }} font-thin">
      {% if section.settings.flip %} <span class="font-bold">{{ section.settings.big_title }}</span> <br>
        {% if section.settings.small_title %}<span class="small-title">{{ section.settings.small_title }}</span>{% endif %}
      {% else %}
        {% if section.settings.small_title %}<span class="small-title">{{ section.settings.small_title }}</span>{% endif %}
        <br>
        <span class="font-bold">{{ section.settings.big_title }}</span>
      {% endif %}
    </h1>

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" {% if section.settings.is_button_link_new_window %}target="_blank"{% endif %}><button>{{ section.settings.button_title }}</button></a>
    {% endif %}

    {% if section.settings.bottom_content %}<div class="bottom-content"><p>{{ section.settings.bottom_content }}</p></div>{% endif %}
  </div>
</section>

<style>
  section.hero-banner {
    background-image: url('{{ section.settings.bg_image | image_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.hero-banner h1 {
    {% if section.settings.title_color %}color: {{ section.settings.title_color }};{% endif %}
    {% if section.settings.is_title_right %}margin-inline-start: 50%;{% endif %}
    {% if section.settings.is_title_shadow %}text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);{% endif %}
  }

  {% if section.settings.is_disable_br_desktop %}
    section.hero-banner br {
      display: none;
    }

    section.hero-banner h1 .small-title {
      padding-top: {% if section.settings.flip %} 20px{% endif %};
    }

    @media (max-width: 768px) {
      section.hero-banner br {
        display: block;
      }
    }
  {% endif %}

  section.hero-banner h1 .small-title {
    display: inline-block;
    font-size: 30px;
    padding-top: {% if section.settings.flip %} 2vw{% endif %};
  }

  section.hero-banner .bottom-content p {
    position: relative;
    bottom: 0;
    text-align: center;
    max-width: {{ section.settings.bottom_content_max_width }}%;
    margin: auto;
    margin-inline: auto;
    margin-bottom: -100px;
  }

  section.hero-banner a {
    width: fit-content;
  }

  section.hero-banner a button {
    background-color: {{ section.settings.button_color }};
    color: {{ section.settings.button_title_color }};
  }

  @media (max-width: 768px) {
    {% if section.settings.bg_image_mobile %}
      section.hero-banner {
        background-image: url('{{ section.settings.bg_image_mobile | image_url }}');
        {% comment %} max-height: calc(100vw - 80px); {% endcomment %}
      }
    {% endif %}

    section.hero-banner h1 {
      max-width: 100%;
      margin-inline-start: unset;
    }

    section.hero-banner h1 .small-title {
      font-size: 5vw;
    }
  }
</style>

{% schema %}
{
  "name": "Hero Slider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    },
    {
      "type": "textarea",
      "id": "bottom_content",
      "label": "Bottom Content"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "flip",
      "label": "Flip Between Titles"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_align_desktop",
      "label": "Vertical Align on Desktop",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Vertical Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Background Image Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "bottom_content_max_width",
      "label": "Bottom Content Maximum Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 70
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "checkbox",
      "id": "is_title_right",
      "label": "Place Title Right"
    },
    {
      "type": "checkbox",
      "id": "is_disable_br_desktop",
      "label": "Disable <br> on desktop"
    },
    {
      "type": "checkbox",
      "id": "is_title_shadow",
      "label": "Title Shadow"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "is_button_link_new_window",
      "label": "Open Button Link in New Window"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Images Set",
      "settings": [
        {
          "type": "image_picker",
          "id": "right_image",
          "label": "Right Image"
        },
        {
          "type": "image_picker",
          "id": "left_image",
          "label": "Left Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider"
    }
  ]
}
{% endschema %}