<section id="hero-banner-{{ section.id }}" class="hero-banner bg-{{ section.settings.bg_position }}">
  {% if section.blocks.size > 0 %}
    <div class="background absolute w-full h-full">
      <div class="default-images">
        {% assign first_images_set_block = section.blocks | first %}
        <img class="absolute h-full w-1/2 object-cover" src="{{ first_images_set_block.settings.left_image | image_url }}" alt="">
        <img class="absolute h-full w-1/2 left-1/2 object-cover" src="{{ first_images_set_block.settings.right_image | image_url }}" alt="">
      </div>

      <div class="images left">
        {% for block in section.blocks %}
          <img class="absolute h-full w-1/2 object-cover" src="{{ block.settings.left_image | image_url }}" alt="">
        {% endfor %}
      </div>

      <div class="images right">
        {% for block in section.blocks %}
          <img class="absolute h-full w-1/2 left-1/2 object-cover" src="{{ block.settings.right_image | image_url }}" alt="">
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="md:justify-{{ section.settings.mobile_alignment }} container !w-full flex flex-col justify-{{ section.settings.vertical_align_desktop }} {% if section.settings.text_align == 'center' %}items-center{% endif %}">
    <h1 class="w-1/2 md:w-full text-{{ section.settings.text_align }} md:text-{{ section.settings.text_align_mobile }} font-thin {% if section.settings.text_align == 'center' %}m-auto{% endif %}">
      {% if section.settings.flip %} <span class="font-bold">{{ section.settings.big_title }}</span> <br>
        {% if section.settings.small_title %}<span class="small-title">{{ section.settings.small_title }}</span>{% endif %}
      {% else %}
        {% if section.settings.small_title %}<span class="small-title">{{ section.settings.small_title }}</span>{% endif %}
        <br {% if section.settings.is_disable_br_desktop %}class="mobile"{% endif %}>
        <span class="font-bold">{{ section.settings.big_title }}</span>
      {% endif %}
    </h1>

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" {% if section.settings.is_button_link_new_window %}target="_blank"{% endif %}><button>{{ section.settings.button_title }}</button></a>
    {% endif %}

    {% if section.settings.bottom_content %}<div class="bottom-content"><p>{{ section.settings.bottom_content }}</p></div>{% endif %}
  </div>
</section>

<style>
  section.hero-banner {
    background-image: url('{{ section.settings.bg_image | image_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero-banner-{{ section.id }} h1 {
    {% if section.settings.title_color %}color: {{ section.settings.title_color }};{% endif %}
    {% if section.settings.is_title_right %}margin-inline-start: 50%;{% endif %}
    {% if section.settings.is_title_shadow %}text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);{% endif %}
  }

  #hero-banner-{{ section.id }} h1 .small-title {
    {% if section.settings.flip %}padding-top: 20px;{% endif %}
    display: inline-block;
    font-size: 35px;
  }

  #hero-banner-{{ section.id }} .bottom-content p {
    max-width: {{ section.settings.bottom_content_max_width }}%;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-inline: auto;
    margin-bottom: -100px;
  }

  section.hero-banner a {
    width: fit-content;
  }

  #hero-banner-{{ section.id }} a button {
    background-color: {{ section.settings.button_color }};
    color: {{ section.settings.button_title_color }};
  }

  @media (max-width: 768px) {
    {% if section.settings.bg_image_mobile %}
      #hero-banner-{{ section.id }} {
        background-image: url('{{ section.settings.bg_image_mobile | image_url }}');
      }
    {% endif %}

    section.hero-banner h1 {
      max-width: 100%;
      margin-inline-start: unset !important;
    }

    section.hero-banner h1 .small-title {
      font-size: 5vw;
    }
  }
</style>

<style>
  .hero-banner .background .images img {
    opacity: 0;
    animation: change-img-anim 30s infinite;
    animation-fill-mode: forwards;
  }

  {% assign delay = 0 %}
  {% for block in section.blocks %}
    #hero-banner-{{ section.id }} .images img:nth-child({{ forloop.index }}) {
      animation-delay: {{ delay }}s;
      animation-duration: {{ section.blocks.size | times: 30 }}s;
    }

    {% assign delay = delay | plus: 30 %}
  {% endfor %}

  @keyframes change-img-anim {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
</style>

{% schema %}
{
  "name": "Hero Banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    },
    {
      "type": "textarea",
      "id": "bottom_content",
      "label": "Bottom Content"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "flip",
      "label": "Flip Between Titles"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_align_desktop",
      "label": "Vertical Align on Desktop",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Vertical Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Background Image Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "bottom_content_max_width",
      "label": "Bottom Content Maximum Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 70
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "checkbox",
      "id": "is_title_right",
      "label": "Place Title Right"
    },
    {
      "type": "checkbox",
      "id": "is_disable_br_desktop",
      "label": "Disable <br> on desktop"
    },
    {
      "type": "checkbox",
      "id": "is_title_shadow",
      "label": "Title Shadow"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "is_button_link_new_window",
      "label": "Open Button Link in New Window"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Images Set",
      "settings": [
        {
          "type": "image_picker",
          "id": "right_image",
          "label": "Right Image"
        },
        {
          "type": "image_picker",
          "id": "left_image",
          "label": "Left Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}