<div class="homepage-banner">
  <div class="container no-mobile-padding">
      <div class="bg">
          <img class="bg-vector" src="{{ 'homepage-banner-bg-vector.svg' | asset_url }}" width="592px" height="570px" alt="">
          <img class="bg-img" src="{{ 'homepage-banner-bg.png' | asset_url }}" width="1313px" height="566px" alt="">
          <img class="bg-img-mobile" src="{{ 'homepage-banner-bg-mobile.png' | asset_url }}" width="375px" height="626px" alt="">
      </div>
      <div class="content">
          <h1>Effective.<br>Safe.<br>Natural.</h1>
          <p>Science based supplements that improve quality of life.</p>
          <div class="cta-button-wrapper">
              <img class="bottle-img" src="{{ 'curalin-bottle.png' | asset_url }}" width="200px" height="211px" alt="Curalin Bottle">
              <a class="cta-btn" href="/collections/all">Shop Now</a>
              <div class="free-shipping">
                  <img class="free-shipping-icon" src="{{ 'icon-free-shipping-light-white.png' | asset_url }}" width="44px" height="25px" alt="">
                  <p>Worldwide Shipping</p>
              </div>
          </div>
      </div>
      <div class="header-mobile-bottom">
          <div class="free-shipping">
              <p>Worldwide Shipping • 60-Day Money Back Guarantee</p>
          </div>
      </div>
  </div>
</div>
<style>
.homepage-banner {
  background-color: #A8BFCB;
  position: relative;
} 

.homepage-banner .bg .bg-vector {
  position: absolute;
  z-index: 2;
  max-height: 100%;
}

.homepage-banner .bg .bg-img-mobile {
  display: none;
}

.homepage-banner .bg .bg-img {
  position: absolute;
  z-index: 0;
  right: 0;
  width: 70vw;
  height: 566px;
  object-fit: cover;
}

.homepage-banner .content {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  z-index: 10;
  padding: 10px 15px;
}

.homepage-banner .content h1 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.homepage-banner .content p {
  font-size: 30px;
  max-width: 450px;
  font-weight: 300;
}

.homepage-banner .content .cta-button-wrapper {
  position: relative;
}

.homepage-banner .content .cta-button-wrapper .bottle-img {
  width: 200px;
  margin-left: -50px;
  z-index: 1;
  position: relative;
  pointer-events: none;
}

.homepage-banner .content .cta-button-wrapper .cta-btn {
  text-transform: uppercase;
  background: #C78263;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 38px;
  margin-left: -75px;
  border: 0;
  transition: background 0.3s ease-in-out;
}

.homepage-banner .content .cta-button-wrapper .cta-btn:hover {
  background: #a96f54;
}

.homepage-banner .content .cta-button-wrapper .free-shipping {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 105px;
  top: 150px;
}

.homepage-banner .content .cta-button-wrapper .free-shipping .free-shipping-icon {
  height: 25px;
}

.homepage-banner .content .cta-button-wrapper .free-shipping p {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.homepage-banner .header-mobile-bottom {
  display: none;
}

@media screen and (max-width:1270px) {
  .homepage-banner .bg .bg-vector {
      margin-left: -150px;
  }

  .homepage-banner .bg .bg-img {
      object-position: left;
  }
}

@media screen and (max-width:760px) {
  .homepage-banner .content .cta-button-wrapper .cta-btn {
      margin-left: 0;
      font-size: 8vw;
  }

  .homepage-banner .bg .bg-vector {
  display: none;
}

  .homepage-banner .bg .bg-img-mobile {
  display: block;
  position: absolute;
  width: 100%;
}

.homepage-banner .bg .bg-img {
  display: none;
}

.homepage-banner .header-mobile-bottom {
  display: block;
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

.homepage-banner .header-mobile-bottom .free-shipping {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
}

.homepage-banner .content .cta-button-wrapper .free-shipping {
  display: none;
}

.homepage-banner .header-mobile-bottom .free-shipping .free-shipping-icon {
  height: 5vw;
}

  .homepage-banner {
  height: 180vw;
}

.homepage-banner .content .cta-button-wrapper .bottle-img {
  display: none;
}

.homepage-banner .content h1 {
  font-size: 9vw;
  margin: 0;
}

.homepage-banner .content p {
  font-size: 5vw;
  margin: 4vw 0;
}

.homepage-banner .content .cta-button-wrapper button {
  margin-left: 0;
  font-size: 7vw;
}
}
</style>

{% schema %}
{
"name": "Home Banner New",
"settings": [],
"presets":[
{
"name": "Home Banner New",
"category": "Home"
}
]
}
{% endschema %}