<section class="ingredients-benefits-capsule-section">
  <h2>{{ title }}</h2>
  <p>{{ subtitle }}</p>

  <div class="benefits-capsule"></div>

  <div class="ingredients flex">
    <img src="{{ capsule_left_image | img_url: 'master' }}" alt="Capsule left">

    {% for block in blocks %}
      <div class="ingredient">
        <img src="{{ block.settings.ingredient_image | img_url: 'master' }}" alt="{{ block.settings.ingredient_title }}">
        <p>{{ block.settings.ingredient_title }}</p>
      </div>
    {% endfor %}

    <img src="{{ capsule_right_image | img_url: 'master' }}" alt="Capsule right">
  </div>
</section>

<style>
  .benefits-capsule {
    background-image: url({{ capsule_image | img_url: 'master' }});
    background-size: cover;
    min-width: {{ capsule_image.width }}px;
    min-height: {{ capsule_image.height }}px;
  }
</style>

{% schema %}
  {
    "name": "Ingredients Benefits Capsule",
    "class": "ingredients-benefits-capsule",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "benefits",
        "label": "Benefits (seperate by comma)"
      },
      {
        "type": "image_picker",
        "id": "capsule_image",
        "label": "Capsule Image"
      },
      {
        "type": "image_picker",
        "id": "capsule_left_image",
        "label": "Capsule - Left Side Image"
      },
      {
        "type": "image_picker",
        "id": "capsule_right_image",
        "label": "Capsule - Right Side Image"
      },
    ],
    "blocks": [
      {
        "type": "image",
        "name": "ingredient",
        "settings": [
          {
            "type": "image_picker",
            "id": "ingredient_image",
            "label": "Ingredient Image"
          },
          {
            "type": "text",
            "id": "ingredient_title",
            "label": "Ingredient Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredients Benefits Capsule"
      }
    ]
  }
{% endschema %}