<section class="ingredients-benefits-capsule-section">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.subtitle }}</p>

  <div class="benefits-capsule"></div>

  <div class="ingredients flex">
    <img src="{{ section.settings.capsule_left_image | image_url }}" alt="Capsule left">

    {% for block in blocks %}
      <div class="ingredient">
        <img src="{{ block.settings.ingredient_image | image_url }}" alt="{{ block.settings.ingredient_title }}">
        <p>{{ block.settings.ingredient_title }}</p>
      </div>
    {% endfor %}

    <img src="{{ section.settings.capsule_right_image | image_url }}" alt="Capsule right">
  </div>
</section>

<style>
  .ingredients-benefits-capsule-section {
    background-color: {{ section.settings.bg_color }};
  }

  .benefits-capsule {
    background-image: url({{ section.settings.capsule_image | img_url: 'master' }});
    background-size: cover;
    min-width: {{ capsule_image.width }}px;
    min-height: {{ capsule_image.height }}px;
  }
</style>

{% schema %}
  {
    "name": "Ingredients Capsule",
    "class": "ingredients-benefits-capsule",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "benefits",
        "label": "Benefits (seperate by comma)"
      },
      {
        "type": "image_picker",
        "id": "capsule_image",
        "label": "Capsule Image"
      },
      {
        "type": "image_picker",
        "id": "capsule_left_image",
        "label": "Capsule - Left Side Image"
      },
      {
        "type": "image_picker",
        "id": "capsule_right_image",
        "label": "Capsule - Right Side Image"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "ingredient",
        "settings": [
          {
            "type": "image_picker",
            "id": "ingredient_image",
            "label": "Ingredient Image"
          },
          {
            "type": "text",
            "id": "ingredient_title",
            "label": "Ingredient Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredients Capsule"
      }
    ]
  }
{% endschema %}