<section id="items-collection-{{ section.id }}">
  <div class="container">
    <{% if section.settings.is_slider %}swiper-container{% else %}div{% endif %} class="items flex-wrap flex justify-center overflow-visible" {% if section.settings.is_slider %}slides-per-view="auto" auto-height="true" {% if section.settings.is_arrows %}navigation="true"{% endif %} {% if section.settings.is_dots %}pagination="true" pagination-clickable="true"{% endif %} lazy="true"{% endif %}>
      {% for block in section.blocks %}
        <{% if section.settings.is_slider %}swiper-slide{% else %}div{% endif %} class="item relative">
        <div class="item-content flex items-center p-4 text-center">
          <img class="max-h-250px" src="{{ block.settings.image | image_url }}" alt="{{ blovariantsettings.title }}" loading="lazy">
          <{{ section.settings.title_tag }} class="title-tag mt-4">{{ block.settings.title }}</{{ section.settings.title_tag }}>
          <p>{{ block.settings.description }}</p>
        </div>
        </{% if section.settings.is_slider %}swiper-slide{% else %}div{% endif %}>
      {% endfor %}
    </{% if section.settings.is_slider %}swiper-container{% else %}div{% endif %}>
  </div>
</section>

{% if section.settings.is_slider %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% endif %}

<style>
  .items {
    --swiper-theme-color: #000;
    --swiper-pagination-bottom: -9%;
    --swiper-navigation-size: 18px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 0;
  }

  #items-collection-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }

  #items-collection-{{ section.id }} .item {
    width: calc(100% / {% if section.settings.items_in_row_mobile == 'all' %}{{ section.blocks.size }}{% else %}{{ section.settings.items_in_row }}{% endif %});
  }


    #items-collection-{{ section.id }} .item-content {
      flex-direction: {{ section.settings.item_layout }};
      align-items: {{ section.settings.item_content_align }};
      justify-content: {{ section.settings.item_content_align }};
    }

  @media screen and (max-width: 768px) {
    #items-collection-{{ section.id }} .item {
      width: calc(100% / {{ section.settings.items_in_row_mobile }});
      max-width: unset;
    }
  }
</style>

{% schema %}
{
  "name": "Items collection",
  "class": "items-collection",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "is_slider",
      "label": "Slider Functionality"
    },
    {
      "type": "checkbox",
      "id": "is_arrows",
      "label": "Show Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "is_dots",
      "label": "Show Dots",
      "default": true
    },
    {
      "type": "select",
      "id": "item_layout",
      "label": "Item Layout",
      "options": [
        {
          "value": "column",
          "label": "Vertical"
        },
        {
          "value": "row",
          "label": "Horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "item_content_align",
      "label": "Item Conetnt Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "items_in_row",
      "label": "Items In Row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "all",
          "label": "All"
        }
      ],
      "default": "all"
    },
    {
      "type": "select",
      "id": "items_in_row_mobile",
      "label": "Items In Row - On Mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "item_content_width",
      "label": "Item Content Width",
      "min": 50,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Items collection"
    }
  ]
}
{% endschema %}