<div class="container">
  <h2>{{ section.settings.title }}</h2>

  <div class="items flex justify-center gap-16">
    {% for block in section.blocks %}
      <div class="item flex flex-col items-center text-center max-w-1/{{ section.blocks.size }}">
        <img class="max-h-250px" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}" loading="lazy">
        <h4>{{ block.settings.title }}</h4>
        <p>{{ block.settings.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Items collection",
  "tag": "section",
  "class": "items-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Items collection"
    }
  ]
}
{% endschema %}