<div class="hero-banner">
    <div class="container">
        <div class="summer-sale-container">
            <div class="summer-sale-banner">
                <img src="{{ 'lps-aio-lp01-hero-summer-sale.png' | asset_url }}" alt="">
            </div>
            <img src="{{ 'lps-aio-header-30_.gif' | asset_url }}" alt="">
            <a id="header-cta2" href="#"><button>Order Now</button></a>
        </div>
        <div class="just-bottle">
            <a href="#">
            <img src="{{ 'lps-aio-lp01-hero-bottle.png' | asset_url }}" alt=""></a>
        </div>
        <div class="summer-sale-container-mobile">
            <div class="summer-sale-banner">
                <img src="{{ 'lps-aio-lp01-hero-summer-sale-mobile.png' | asset_url }}" alt="">
            </div>
            <img src="{{ 'lps-aio-header-30__mobile.gif' | asset_url }}" alt="">
            <div class="mobile-order-button">
                <a id="header-cta" href="#"><img src="{{ 'lps-aio-lp01-hero-order-now-mobile.png' | asset_url }}" alt=""></a>
            </div>
        </div>
    </div>
</div>

<style>
    .hero-banner {
        background: #FDCB3B;

        padding-top: 50px;

        position: relative;


    }



    .hero-banner button {

        width: 338px;
        height: 64px;
        background: #8FD9EB;
        border: none;
        border-color: #8FD9EB;
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-weight: 600;
        font-size: 38.9384px;
        line-height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.38);
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.38);
    }


    .summer-sale-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .summer-sale-container-mobile {
        display: none;
    }

    .summer-sale-banner {
        display: flex;
    }


    .just-bottle {
       position: absolute;
       width: 400px;
       left: 72vw;
       bottom: -70px;
    }

    @media screen and (max-width: 1206px) {
        .just-bottle {
           
           width: 300px;
           
        }
    } 

    @media screen and (max-width: 1000px) {
        .just-bottle {

           display: none;

        }
    } 

    @media screen and (max-width: 945px) {
        .just-bottle {
            width: 250px;
            left: 75vw;
            top: 420px;

        }
    }

    @media screen and (max-width: 880px) {
        .just-bottle {
            width: 200px;
            top: 470px;

        }
    }

    @media screen and (max-width: 760px) {
        .summer-sale-container {
            display: none;
        }

        .summer-sale-container-mobile {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
        }
    }

    @media screen and (max-width: 500px) {
        .just-bottle {
            width: 170px;
            left: 65vw;
            top: 500px;
        }
    }


    @media screen and (max-width: 420px) {
        .just-bottle {
            width: 100px;
            left: 74vw;
            top: 520px;
        }
    }

    @media screen and (max-width: 350px) {
        .just-bottle {
            width: 85px;
            left: 76vw;
            top: 510px;

        }
    }

    @media screen and (max-width: 350px) {
        .just-bottle {
            width: 85px;
            left: 77vw;
            top: 490px;
        }
    }
   
</style>

<script>
    $("#header-cta").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#product-section").offset().top + 130
        }, 2000);
    });

    $("#header-cta2").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#product-section").offset().top + 130
        }, 2000);
    });
</script>