<section class="faq-section">
    <div class="container">
        <h2><b>FAQ</b></h2>
        <div class="faq">
            <div class="faq-item">
                <div class="question">How much CuraLin do I need to take?</div>
                <div class="answer">
                    <div class="answer-content">The recommended usage of CuraLin is to take 1-2 capsules 30 minutes after each meal. Maximum 6 capsules per day. CuraLin is easy to take.</div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">When should I be taking CuraLin?</div>
                <div class="answer">
                    <div class="answer-content">For the best results, the recommended usage is to take 1-2 capsules of CuraLin 30 minutes after your meals (maximus 6 capsules per day).</div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How does each ingredient work?</div>
                <div class="answer">
                    <div class="answer-content">Each ingredient does a little something different to promote health in the 18 key body functions needed for glucose support.</div>
                    <div class="ingredients-main-slider swiper">
                <div class="swiper-button-prev swiper-nav"></div>
                <div class="ingredients swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-1.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Turmeric</p>
                                <p class="ingredient-description">Also known as Curcuma Longa, Turmeric has been used in Eastern medicinal systems for hundreds of years to help people maintain healthy glucose levels though healthy insulin tolerance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-2.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Swertia Chirata</p>
                                <p class="ingredient-description">The active ingredients help the pancreatic cells release insulin, reduce absorption of glucose from the digestive system and improve the intracellular metabolism of glucose.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-3.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Bitter Melon</p>
                                <p class="ingredient-description">Also known as Karela or Momordica Charantia, Bitter Melon is traditionally used by diabetes in Eastern medicinal systems. Its mechanism of action promotes healthy physiological function in damaged pancreatic cells, supports glucose absorption, and the sensitivity of the muscle cells to insulin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-4.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Cinnamomum Zeylanicum</p>
                                <p class="ingredient-description">Cinnamon has many benefits, including supporting healthy glucose absorption & metabolism, promoting healthy insulin release, circulation & sensitivity, and maintaining healthy levels of gluconeogenesis. It also supports healthy weight loss, promotes healthy HbA1c and fasting blood sugar, healthy cholesterol levels, and promotes a healthy nervous system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-5.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Picrorhiza Kurroa</p>
                                <p class="ingredient-description">The active compounds in Pirorhiza Kurroa act as an anti-oxidant and promotes healthy liver function (protecting it from toxins). This supports healthy glucose tolerance and helps people maintain a healthy weight.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-6.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Amla</p>
                                <p class="ingredient-description">Also known as Indian gooseberry or Emblica Officinalis, the active property in Amla is Tannoid, which helps support the physiological function of pancreatic cells.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-7.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Syzygium Cumini</p>
                                <p class="ingredient-description">Also known as Eugenia Jambolana, the active components in Syzygium Cumini supports a healthy physiological function in the liver, creating a reservoir of glucose macromolecules, thereby helping maintain healthy fasting blood glucose levels.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-8.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Fenugreek</p>
                                <p class="ingredient-description">Also known as Trigonella Foenum Graecum, Fenugreek contains fibers that promotes insulin production, release & sensitivity. Fenugreek also helps support a healthy rate of carbohydrate absorption in the digestive system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ingredient">
                            <img src="{{ "ingredients-9.png" | asset_url }}" alt="" loading="lazy">
                            <div class="ingredient-content">
                                <p class="ingredient-title">Gymnema Sylvestre</p>
                                <p class="ingredient-description">Gymnema Sylvestre has many active compounds including Saponin, which is known to help manage cravings for carbohydrate. Metabolically, it encourages healthy insulin release.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-nav"></div>
            </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">Is there a discount if I order more than one bottle?</div>
                <div class="answer">
                    <div class="answer-content">Yes! You can save substantially by ordering a 3 pack of CuraLin. Check out the pricing section of this page for more information.</div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How do I get my money back in line with your return policy?</div>
                <div class="answer">
                    <div class="answer-content">Easy! We have a no questions asked policy. Just shoot us a message at hello@curalife.com, or call our 24/7 phone support and we’ll take care of your request:
                        <br>UK-Toll-Free: +44 800 086 9122
                        <br>US-Toll-Free: +1 888 286 7307
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How long does shipping take?</div>
                <div class="answer">
                    <div class="answer-content">You will get a tracking number as soon as your order ships so that you can see exactly where your package is. Most orders in the continental USA arrive between 2-5 days after placing the order (depending on where in the US you live). Orders from the UK take an average of 7-8 days to arrive. Orders from Australia and the Asia Pacific Region can take a bit longer. Our official policy is that shipping can take 7-28 business days, but that’s just because of the uncertainty of shipping times these days. Your order will almost always arrive much faster than that, and your tracking number will always keep you up to date.</div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">Will I be able to track my order?</div>
                <div class="answer">
                    <div class="answer-content">Yes! Every CuraLin order comes with a tracking number. You will be able to see where your package is any time you want – from the moment it ships, until the moment it reaches your home.</div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">Can I buy CuraLin in pharmacies and grocery stores?</div>
                <div class="answer">
                    <div class="answer-content">We’re still working on getting CuraLin on the shelves of all the major US pharmacies. That’s part of our 2022 plan. For now, the best place to order CuraLin is online, though this page!
                        <br>Internationally, CuraLin is already sold through channels is over 50 countries, including the UK, Italy, Austria, and other EU member states.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.faq-section .container .faq {
    margin: 1rem auto;
}

.faq-section .container .faq .faq-item {
    border-bottom: 1px solid #d3d3d3;
}

.faq-section .container .faq .faq-item .question {
    padding: 0.7rem 3rem 0.7rem 0;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.faq-section .container .faq .faq-item .question:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.faq-section .container .faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.faq-section .container .faq .faq-item .answer .answer-content {
    padding: 0 1rem 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem;
}

.swiper-nav {
    color: grey;
    width: 10px;
    top: 150px;
}

@media screen and (max-width:760px) {
    .faq-section .container .faq .faq-item .question {
    font-size: 14px;
    }

    .faq-section .swiper-slide {
        overflow: scroll;
    }

    .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0;
}
}
</style>

<script>
    const accordionItemHeaders = document.querySelectorAll(".question");

accordionItemHeaders.forEach(accordionItemHeader => {
  accordionItemHeader.addEventListener("click", event => {
    
    // Uncomment in case you only want to allow for the display of only one collapsed item at a time!
    
    // const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
    // if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
    //   currentlyActiveAccordionItemHeader.classList.toggle("active");
    //   currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
    // }

    accordionItemHeader.classList.toggle("active");
    const accordionItemBody = accordionItemHeader.nextElementSibling;
    if(accordionItemHeader.classList.contains("active")) {
      accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
    }
    else {
      accordionItemBody.style.maxHeight = 0;
    }
    
  });
});

faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
        slidesPerView: 1,
        spaceBetween: 15,
        watchSlidesVisibility: false,
        loop: false,
        autoHeight: true,
        slideToClickedSlide: true,
        navigation: {
            nextEl: '.faq-section .swiper-button-next',
            prevEl: '.faq-section .swiper-button-prev',
            disabledClass: 'disabled'
        }
    });
</script>