<div class="featured-section">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h4>As featured on:</h4>
            </div>
            <div class="partners-wrapper">
                <div id="ticker-wrap" class="ticker-wrap swiper">
                    <div class="ticker-col swiper-wrapper">
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-cnn-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-bbc-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-fox-news-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-fox-news-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-fox-news-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-msn-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-msn-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-msn-logo-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-usa-today.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-usa-today-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-usa-today-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-yahoo-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="partner-col swiper-slide">
                            <div class="partner-item">
                                <a href="javascript:void(0)">
                                    <picture>
                                        <source srcset="{{ 'lp-aio-sante-logo.png' | file_url}}" media="(min-width: 641px)">
                                        <source srcset="{{ 'lp-aio-sante-logo-mb.png' | file_url}}">
                                        <img src="{{ 'lp-aio-sante-logo-mb.png' | file_url}}" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% style %}
.featured-section {
    padding-top: 1.0625rem;
padding-bottom: 3.6875rem;
border-bottom: 1px solid #DCD9D9;
}

.featured-section .sub-title {
text-align: center;
}

.featured-section .sub-title h4 {
font-size: 1.5rem;
letter-spacing: -.03em;
opacity: .6;
font-weight: 400;
line-height: 1.29;
}

.featured-section .partners-wrapper {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding-top: 1.1875rem;
}

.partners-wrapper .ticker-wrap {
display: flex;
margin: 0 -0.9375rem;
padding: 0 0.9375rem;
position: relative;
z-index: 1;
overflow: hidden;
}

.partners-wrapper .ticker-wrap:before {
left: 0;
background: linear-gradient(90deg,#F7F7F7 0%,rgba(255,255,255,.76) 49.3%,rgba(255,255,255,0) 100%);
}

.partners-wrapper .ticker-wrap:after {
right: 0;
background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.76) 49.3%,#F7F7F7 100%);
}

.partners-wrapper .ticker-wrap:before, .partners-wrapper .ticker-wrap:after {
content: "";
width: 0.9375rem;
position: absolute;
top: 0;
bottom: 0;
z-index: 3;
pointer-events: none;
}

.partners-wrapper .ticker-wrap .ticker-col {
display: flex;
align-items: center;
flex-shrink: 0;
transition-timing-function: linear;
}

.partners-wrapper .partner-col {
max-width: max-content;
padding-left: 1.875rem;
padding-right: 1.875rem;
}

.partners-wrapper .partner-item {
opacity: .4;
}

@media screen and (max-width:760px) {
.featured-section {
padding-top: 1.75rem;
padding-bottom: 1.75rem;
}

.featured-section .sub-title h4 {
font-size: 1.125rem;
letter-spacing: normal;
}

.partners-wrapper {
margin: 0 -15px;
}

.partners-wrapper .ticker-wrap {
margin: 0;
padding: 0;
}

.partners-wrapper .partner-col {
padding-left: 1rem;
padding-right: 1rem;
}
}
{% endstyle %}

{% javascript %}

brandsTicker = new Swiper('.partners-wrapper #ticker-wrap', {
    spaceBetween: 0,
    centeredSlides: true,
    speed: 6000,
    autoplay: {
        delay: 0,
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
  });

{% endjavascript %}