<section class="meet-curalin" id="meet-curalin">
  <div class="container">
   <div class="title-curalin">
    <h4 class="font-light">{{ section.settings.title }}</h4>
    <p>{{ section.settings.subtitle }}</p>
   </div>
    <div class="brandmark-info">
    <div class="curaline-brandmark">
      <div class="bg-color"></div>
      <div class="text-with-bg">
        <div class="laboratory-img">
          <img src="{{ 'laboratory.png' | asset_url }}" width="64" height="75" alt="" loading="lazy">
        </div>
        <div class="laboratory-text">
          <h6>Clinically Tested </h6>
         <p class="inline-block"> It’s on <span class="inline-block"> <img class="pubmed" src="{{ 'pubmed-logo-blue.png' | asset_url }}" width="98" height="33" loading="lazy" alt=""></span>! Curalin works <br>
          2-4X better than a placebo.</p>
        </div>
      </div>
      <img class="desk-img" src="{{ section.settings.image_brandmark | img_url: 'master'  }}" width="878" height="518" alt="">
    </div>
    <div class="curalin-intro">
      {% for block in section.blocks %}
      <div class="curaline-widget-item">
        <div class="curaline-widget-icon">
          <img src="{{ block.settings.image_prove | img_url: 'master' }}" width="50" height="44"  alt="" loading="lazy">
        </div>
        <div class="curaline-widget-text">
          <h6>{{ block.settings.title_prove }}</h6>
          <p>{{ block.settings.description_prove }}</p>
        </div>
      </div>
    {% endfor %}

    </div>
    </div>
    </div>
</section>


<style>
  #meet-curalin .meet-curalin {
    position: relative;
  }


  #meet-curalin .brandmark-info {
    display: flex;

  }

  #meet-curalin .title-curalin {
    position: absolute;
  }


  #meet-curalin .curalin-intro {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     width: 60%;
  }


  #meet-curalin .curalin-intro .curaline-widget-item {
    display: flex;
    position: relative;
    gap: 10px;
    z-index: 1
  }

  #meet-curalin .curalin-intro .curaline-widget-item .curaline-widget-icon {
    display: flex;
    align-items: center;

  }
  #meet-curalin .curaline-brandmark {
    position: relative;
    display: flex;
    z-index: 2;
  }

  #meet-curalin .bg-color {
    position: absolute;
    min-height: 200px;
    width: 85%;
    z-index: -1;
    background: #9EB069;
    top: 160px;
    opacity: 0.3;
  }

  #meet-curalin .text-with-bg {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    padding-left: 20px;
  }

  #meet-curalin .laboratory-text {
    position: relative;
    min-width: 200px;
  }

  #meet-curalin .laboratory-text .pubmed {
    max-width: 5rem;
    position: relative;
    top: 6px;
  }

  #meet-curalin .curaline-widget-text h6 {
    margin: 0;
    font-weight: 700;
    color: {{ section.settings.txt_clr }};
  }

  #meet-curalin .curaline-widget-text p {
    margin: 0;
    font-weight: 300;
    color: {{ section.settings.txt_clr }};
  }

  #meet-curalin .curaline-widget-icon {
    max-width: 4rem;
    width: 100%
  }



    @media screen and (max-width: 768px) {

    #meet-curalin .title-curalin {
      position: unset;
    }

    #meet-curalin .title-curalin h2, p {
      margin-bottom: unset;
    }

    #meet-curalin .curalin-intro .curaline-widget-item .curaline-widget-icon img {
      min-width: 1.5em;
    }
      #meet-curalin h6 {
        font-size: 5vw;
      }
      #meet-curalin .container {
        padding: unset;
      }

      #meet-curalin .title-curalin {
        padding: 0 15px;
      }
      #meet-curalin .bg-color {
        width: 100%;
        top: 2em;
        min-height: 8em;
      }
      #meet-curalin .curaline-brandmark {
          width: 100%;
      }

      #meet-curalin .text-with-bg {
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        align-items: flex-start;
        gap: 1vw;
      }

      #meet-curalin .laboratory-img {
        max-width: 1.5em;
      }

      .desk-img {
        width: 45vw;
      }


      #meet-curalin .brandmark-info {
      flex-direction: column;
      justify-content: center;

     }

     #meet-curalin .curalin-intro {
      width: 100%;
      padding-top: unset;
      padding: 0 15px;
      gap: 2vw;

     }

     #meet-curalin .laboratory-text h6 {
      margin-bottom: unset;
     }

     #meet-curalin p {
      font-size: 4vw;
     }

     #meet-curalin .curalin-intro .curaline-widget-item {
        align-items: center
      }

    }

</style>





{% schema %}
    {

    "name": "Meet Curalin",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Meet Curalin"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Blood sugar support made for you."
      },
      {
        "type": "image_picker",
        "id": "image_brandmark",
        "label": "Image Brandmark"
      },
      {
        "type": "color",
        "id": "txt_clr",
        "label": "Text Color",
        "default": "#404733"
      }
    ],
    "blocks": [
      {
        "type": "proves",
        "name": "Prove",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_prove",
            "label": "Image Prove"
          },
          {
            "type": "text",
            "id": "title_prove",
            "label": "Title Prove"
          },
          {
            "type": "text",
            "id": "description_prove",
            "label": "Description Prove"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Meet Curalin"
      }
    ]
    }
{% endschema %}