{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign invoice_id = "51da85a3c3dfa1f360b48852b64218b2" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign invoice_id = "656f0dbf9392657eed7feefc486781fb" %}
{% endif %}

{% if customer %}
  <section class="account-page">
    <div class="container">
      <div id="tabs">
        <h1> My Account</h1>

        <div class="account-content">
          <div class="account-menu">
            <div class="menu-list">
              <ul>
                <li><a href="#a"><span><i class="fa-solid fa-user"></i></span>My Profile</a></li>
                <li><a href="#b"><span><i class="fa-solid fa-credit-card"></i></span>Orders</a></li>
                <!-- <li><a href="#c"><span class="icon-payment"></span>Manage Payments</a></li> -->
                <li style="display:none;"><a href="#d"><span class="icon-refer-friend"></span>Refer a Friend</a></li>
                <li><a href="#e"><span><i class="fa-regular fa-people-group"></i></span>Loyalty</a></li>
                <li><a href="#f"><span><i class="fa-solid fa-key-skeleton"></i></span>Change password</a></li>
                <a class="logout lgoutlnk" href="/account/logout/"><li><span><i class="fa-sharp fa-solid fa-right-from-bracket"></i></span>Logout</li></a>
              </ul>
            </div>
          </div>

          <div class="account-data">
            <div class="data-row" id="a">
              <div class="data-wrap with-border">
                <div class="data-title">Contact Information</div>

                <div class="data-content">
                  <div class="contact-info">
                    <ul>
                      <li>
                        <p>First Name<span>{{ customer.first_name }}</span>
                        </p>
                      </li>
                      <li>
                        <p>Last Name<span>{{ customer.last_name }}</span>
                        </p>
                      </li>
                      <li>
                        <p>Email<span>{{ customer.email }}</span>
                        </p>
                      </li>
                    </ul>
                  </div>

                  <div class="data-btn">
                    <a class="main-btn blank" href="/account/addresses">Edit</a>
                  </div>
                </div>
              </div>

              <div class="data-wrap with-border">
                <div class="data-title">Shipping Address</div>

                <div class="data-content">
                  <div class="shipping-addresses">
                    {% assign address = customer.default_address %}
                    {% if address %}
                      <div class="view_address">
                        <p>{{ address.first_name }} {{address.last_name }}
                        {% if address.company != blank %}<br />{{ address.company }}{% endif %}
                        {% if address.street != blank %}<br />{{ address.street }}{% endif %}
                        <br />{{ address.city }} {% if address.province_code != blank %}, {{ address.province_code }}{% endif %}
                        <br />{{ address.country }} {{ address.zip }}
                        {% if address.phone != blank %}<br />{{ address.phone }}</p>{% endif %}
                      </div>
                    {% else %}

                    <div class="empty-text">
                      <p><span class="icon-shipping"></span>You don't have a shipping address yet.</p>
                    </div>
                    {% endif %}
                  </div>

                  <div class="data-btn">
                    <a class="main-btn blank" href="/account/addresses">add address</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="data-wrap" id="b">
              <div class="data-title">
                <h3>Your Orders</h3>
              </div>

              {% if customer.orders %}
                <div class="data-list">
                  <ul>
                    {% for order in customer.orders %}
                      <li>
                        <div class="order-head">
                          <div class="number">
                            <p>Order {{ order.name }}</p>
                          </div>
                          <div class="date">
                            <p>{{ order.created_at | date: format: 'abbreviated_date' }}</p>
                          </div>
                          <div class="more">
                            <p><a href="{{ shop.secured_url }}/apps/download?ids={{ order.id }}&t=invoice&public_key={{ invoice_id }}&source=shopify_notification_email" target="_blank"><i class="fa-thin fa-laptop-arrow-down"></i></a></p>
                          </div>
                        </div>

                        {% for a in order.line_items %}
                          <div class="order-body">
                            <div class="order-item">
                              <div class="rows-wrap">
                                <div class="img-wrap">
                                  <span><img src={% if a.product.featured_image %}{{ a.product.featured_image | image_url }}{% else %}"{{ 'favicon-96x96.png' | asset_url }}"{% endif %} alt=""></span>
                                </div>

                                <div class="name"><p>{{ a.product.title }}</p></div>
                              </div>

                              <div class="item-quantity"><p>Quantity: {{ a.quantity }}</p></div>
                              <div class="item-price"><p>{{ order.total_price | money_with_currency }}</p></div>

                              <div class="status done">
                                <p>
                                  {% if order.fulfillment_status != "fulfilled" %}
                                    <style>
                                      #{{ order.name }} { color: #d8ae13; }
                                      #{{ order.name }}:before { background: #d8ae13; }
                                    </style>
                                  {% endif %}
                                  <span id="{{ order.name }}">{{ order.fulfillment_status }}</span>
                                </p>
                              </div>
                            </div>

                          </div>
                          <div class="view-details d-mobile">
                            <div class="more-btn">
                              <p>
                                <a href="https://curalife-commerce.myshopify.com/apps/download?ids={{ order.id }}&t=invoice&public_key=51da85a3c3dfa1f360b48852b64218b2&source=shopify_notification_email" target="_blank">Download Invoice</a>                                                        </div>
                          </div>
                          {% endfor %}
                        </li>
                    {% endfor %}

                  </ul>
                </div>
              {% else %}
                <div class="data-content">
                  <div class="empty-content">
                    <div class="empty-text">
                      <p>
                        <span class="icon-smile"></span>You haven't placed any orders yet.</p>
                      <a href="{{ section.settings.ord_btnlink }}" class="main-btn blank">SHOP NOW</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <!--  <div class="data-wrap" id="c">
            <div class="data-title">
              <h3>Manage Payments</h3>
            </div>
            <div class="data-list">
              <ul>
                <li>
                  <div class="payments-head">
                    <div class="number">
                      <p># 1 <span><img src="images/visa.svg" alt=""></span></p>
                    </div>
                    <div class="active-payment">
                      <label><input type="radio" name="set-default" checked>
                        <span class="label-wrap">
                          <span class="active">Default Card</span><span class="set-active">Set Default</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="payments-body">
                    <div class="payments-item">
                      <div class="card-number">
                        <p><span>1234</span></p>
                      </div>
                      <div class="exp-date">
                        <p>05/23</p>
                      </div>
                      <div class="name">
                        <p>Thomas Jhones</p>
                      </div>
                      <div class="delete">
                        <p><a href="javascript:void(0)">Delete card</a></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="payments-head">
                    <div class="number">
                      <p># 2 <span><img src="images/master-card.svg" alt=""></span></p>
                    </div>
                    <div class="active-payment">
                      <label><input type="radio" name="set-default">
                        <span class="label-wrap">
                          <span class="active">Default Card</span><span class="set-active">Set Default</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="payments-body">
                    <div class="payments-item">
                      <div class="card-number">
                        <p><span>1451</span></p>
                      </div>
                      <div class="exp-date">
                        <p>07/22</p>
                      </div>
                      <div class="name">
                        <p>Thomas Jhones</p>
                      </div>
                      <div class="delete">
                        <p><a href="javascript:void(0)">Delete card</a></p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="list-btn">
                <button type="button" class="main-btn blank">add credit card</button>
              </div>
            </div>
          </div> -->

            <div class="data-wrap" id="e">
              <div class="data-title">Rewards history</p></div>

              <script>
             $(document).on("swell:setup", function(){
               var customerDetails = swellAPI.getCustomerDetails();
               $("#custom-point-balance-ui").html(customerDetails.pointsBalance);
               $("#custom-referral-link-ui").html(customerDetails.referralLink);
               customerDetails.actionHistoryItems.forEach(function(item) {
               $("#custom-history-container").append(
                 "<tr>" +
                 "<td>" + item.date   + "</td>" +
                 "<td>" +item.action + " </td>" +
                 "<td>" +item.points + " </td>" +
                 "<td>" +item.status +
                 "</td><tr>");
               });
             })
             </script>

              <div class="rewards-table">
                <table>
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Action</th>
                      <th>Points</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody id="custom-history-container"></tbody>
                </table>
              </div>
            </div>

            <div class="data-wrap with-border" id="f">
              <div class="data-title">
                <h3>Change password</h3>
              </div>
              <div class="data-content">
                <div class="form-wrap">
                  <div class="form-text">
                    <i class="fa-duotone fa-key-skeleton"></i>
                  </div>

                  {% form 'reset_customer_password' %}
                    <div class="form-fields">
                      <label class="full-size">
                        <input name="customer[old_password]" placeholder="Old password" type="password">
                      </label>
                      <label class="full-size">
                        <input name="customer[new_password]" placeholder="New password" type="password">
                      </label>
                      <label class="full-size">
                        <input name="customer[password_confirmation]" placeholder="Re-enter new password " type="password">
                      </label>
                    </div>

                    <div class="submit-wrap">
                      <div class="submit-form">
                        <button class="main-btn" type="submit">Save</button>
                      </div>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    var tabs = document.getElementById('tabs');
  var tabLinks = tabs.querySelectorAll('ul li a');
  var tabPanes = tabs.querySelectorAll('.account-data .data-wrap');

  // Loop through the tab link
  for(var i = 0; i < tabLinks.length; i++) {
    var tabLink = tabLinks[i];
    var tabPane = tabPanes[i];

    // Click event to perform the tab switching
    tabLink.addEventListener('click', function(e) {
      e.preventDefault();

      var target = e.target.getAttribute('href').substr(1);

      // Display the correct tab pane and hide the rest
      for(var j = 0; j < tabPanes.length; j++) {
        if(tabPanes[j].id == target) {
          tabPanes[j].style.display = "block";
        } else if (tabPanes[j]) {
          tabPanes[j].style.display = "none";
        }
      }

      // Set the clicked tab link to active and the rest to inactive
      for(var j = 0; j < tabLinks.length; j++) {
        if(tabLinks[j] == e.target) {
          tabLinks[j].parentElement.className = "active";
        } else {
          tabLinks[j].parentElement.className = "";
        }
      }

    });

    // Show the first tab pane and hide the rest on page load
    if(i === 0) {
      tabPane.style.display = "block";
      tabLink.parentElement.className = "active";
    } else if (tabPane) {
      tabPane.style.display = "none";
    }
  }
  </script>
{% endif %}

<style>
  .icon-logout {
    margin-right: 10px;
  }

  .ui-tabs-active.ui-state-active a:before {
  border-color: var(--dark-green) !important;
}

.ui-tabs-active a {
  color: var(--dark-green) !important;
}

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .account-content {
        display: flex;
    }
    .account-menu {
        width: 285px;
        background: #f8f8f8;
        border: 1px solid #efefef;
    }

    .account-menu .menu-list ul {
        padding: 20px 0;
    }

    .account-menu .menu-list ul li {
        display: block;
        margin: 8px 0;
        padding-left: 24px;
        color: var(--black);
    }

    .account-data {
        width: calc(100% - 285px);
        padding-left: 20px;
    }

    .account-data .data-row {
        display: flex;
        flex-wrap: wrap;
    }

    .account-data .data-wrap.with-border {
        border: 1px solid #efefef;
    }

    .account-data .data-row .data-wrap {
        min-width: 400px;
        margin-right: 10px;
    }

    .account-data .data-title {
        padding: 16px 15px;
        text-align: center;
        background: #f8f8f8;
        border: 1px solid #efefef;
    }

    .account-data .data-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 30px;
    }

    .contact-info ul li:first-child {
        padding-top: 0;
    }
    .contact-info ul li {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #efefef;
    }

    .main-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      background: var(--dark-green);
      border-radius: 2px;
      min-height: 50px;
      width: -webkit-fill-available;
    }

    .account-menu .menu-list ul li a span {
        display: flex;
        min-width: 20px;
    }

    .account-menu .menu-list ul li a,
    .account-menu .menu-list ul li:last-child{
        display: flex;
        align-items: center;
        color: inherit;
        transition: color var(--transition);
        margin-top: 5px;
        gap: 10px;
    }

    .contact-info ul li p span {
        display: block;
        padding-left: 15px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #333;
    }

    .contact-info ul li {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #efefef;
    }

    .contact-info ul li:first-child {
        padding-top: 0;
    }

    .contact-info ul li p {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        color: var(--dark);
    }

    .shipping-addresses,
    .data-list {
      padding: 10px 0;
    }

    .data-list ul li {
      display: block;
      margin: 10px 0;
      border: 1px solid #efefef;
    }

    .data-list ul {
      display: flex;
      flex-direction: column;
    }

    .data-list ul li .order-head {
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 10px 27px;
      background: #f8f8f8;
      border-bottom: 1px solid #efefef;
    }

    .data-list ul li .order-head .number {
      width: 30%;
      text-align: left;
    }

    .data-list ul li .order-head p {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: var(--dark);
    }

    .data-list ul li .order-head .date {
      width: 40%;
      padding: 0 10px;
      text-align: center;
    }

    .data-list ul li .order-head .more {
      width: 30%;
      text-align: right;
    }

    .data-list ul li .order-item:last-child {
      border: none;
    }

    .data-list ul li .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #efefef;
      padding: 20px;
    }

    .data-list ul li .order-item .rows-wrap {
      display: flex;
      align-items: center;
      padding-right: 10px;
    }

    .data-list ul li .order-item .img-wrap {
      width: 70px;
      flex-shrink: 0;
      position: relative;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      overflow: hidden;
    }

    .data-list ul li .order-item .img-wrap:before {
      content: "";
      display: block;
      padding-bottom: 100%;
      pointer-events: none;
    }

    .data-list ul li .order-item .img-wrap span {
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .data-list ul li .order-item .img-wrap span img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .data-list ul li .order-item .name {
      padding-left: 20px;
    }

    .data-list ul li .order-item p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      color: var(--black);
    }

    .data-list ul li .order-item .value,
    .data-list ul li .order-item .item-quantity {
      padding: 0 10px;
    }

    .data-list ul li .order-item .item-quantity p {
      white-space: nowrap;
    }

    .data-list ul li .order-item .item-price p {
      white-space: nowrap;
    }

    .data-list ul li .order-item .status {
      padding-left: 10px;
    }

    .data-list ul li .view-details.d-mobile {
      display: none;
    }

    .data-list ul li .view-details .more-btn {
      display: flex;
      justify-content: center;
      padding: 27px 10px;
      border-top: 1px solid #efefef;
    }

    .data-list ul li .view-details .more-btn p {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3;
      color: #333;
      cursor: pointer;
      transition: color var(--transition);
    }

    .data-list ul li .view-details .more-btn p a {
      font-weight: 400;
      font-size: 14px;
      color: var(--dark);
      text-decoration: underline;
      transition: color var(--transition);
    }

    .account-data .rewards-table {
      padding-top: 20px;
    }

    .account-data .rewards-table table {
      width: 100%;
    }

    .account-data .rewards-table table thead tr {
      background: #f8f8f8;
    }

    .account-data .rewards-table table th {
      padding: 18px 10px;
      font-size: 14px;
    }

    .account-data .rewards-table table td:first-child {
      padding-left: 40px;
    }

    .account-data .rewards-table table td {
      font-size: 14px;
    }

    .account-data .form-text {
      text-align: center;
    }

    .form-fields {
      display: flex;
      flex-wrap: wrap;
    }

    .form-fields label.full-size {
      width: 100%;
    }

    .form-fields label {
      display: block;
      margin: 10px;
      position: relative;
    }

    .form-fields label input {
      width: 100%;
      padding: 17px 21px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #737373;
      background: #fff;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      border-radius: 2px;
    }

    .form-wrap {
      max-width: 600px;
      margin: auto;
      text-align: center;
    }

    @media screen and (max-width: 1590px){
        .account-menu {
            width: 257px;
        }
        .account-menu .menu-list ul {
            padding: 16px 0;
        }
        .account-menu .menu-list ul li {
            margin: 8px 0;
            padding-left: 22px;
            font-size: 15px;
        }
        .account-data {
            width: calc(100% - 257px);
        }
        .account-data .data-title h3 {
            font-size: 15px;
        }
        .account-data .data-content {
            padding: 27px 22px;
        }
        .contact-info ul li {
            padding: 13px 0;
        }

        .contact-info ul li p span {
            font-size: 14px;
        }

        .contact-info ul li {
            padding: 13px 0;
        }
    }

    @media screen and (max-width: 1200px){
       .account-menu {
           width: 230px;
       }
       .account-menu .menu-list ul li {
           margin: 5px 0;
           padding-left: 16px;
           font-size: 14px;
       }
       .account-data {
           width: calc(100% - 230px);
           padding-left: 10px;
       }

       .account-data .data-title {
           padding: 13px 15px;
       }
       .account-data .data-title h3 {
           font-size: 14px;
       }
       .account-data .data-content {
           padding: 22px 19px;
       }
       .contact-info ul li {
           padding: 12px 0;
       }

       .contact-info ul li {
           padding: 12px 0;
       }
    }

    @media screen and (max-width: 768px) {
        .account-menu {
            width: 100%;
        }

        .account-menu .menu-list ul {
            padding: 0;
        }
        .account-menu .menu-list ul li {
            margin: 10px 0;
            padding-left: 25px;
            font-size: 16px;
        }

        .account-menu .menu-list ul li {
            margin: 10px 0;
            padding-left: 25px;
            font-size: 16px;
        }
        .account-data {
            width: 100%;
            padding-left: 0;
            margin-top: 18px;
        }
        .account-data .data-row .data-wrap {
          min-width: -webkit-fill-available;
          margin: unset;
        }
        .account-data .data-title {
            padding: 16px 15px;
        }
        .account-data .data-title h3 {
            font-size: 16px;
        }
        .account-data .data-content {
            padding: 20px 12px;
        }
        .contact-info {
            padding: 0 8px 14px;
        }
        .contact-info ul li:first-child {
            padding-top: 12px;
            border-top: 1px solid #efefef;
        }

        .contact-info ul li p span {
            font-size: 16px;
        }
        .contact-info ul li:first-child {
            padding-top: 12px;
            border-top: 1px solid #efefef;
        }
        .contact-info ul li p {
            font-size: 14px;
        }
        .data-list ul li .order-head {
          justify-content: space-between;
        }

        .data-list ul li .order-head .number {
          width: auto;
        }

        .data-list ul li .order-head .date {
          padding: 0 0 0 10px;
          width: auto;
        }

        .data-list ul li .order-item {
          min-height: 131px;
          flex-wrap: wrap;
          position: relative;
        }

        .data-list ul li .order-item .rows-wrap {
          width: 100%;
          padding-right: 0;
        }

        .data-list ul li .order-item .name,
        .data-list ul li .order-item .value,
        .data-list ul li .order-item .item-quantity,
        .data-list ul li .order-item .item-price,
        .data-list ul li .order-item .status {
          width: 100%;
          padding: 7px 0;
          text-align: right;
        }

        .data-list ul li .order-item .status p {
          font-weight: 500;
        }

        .data-list ul li .order-item .img-wrap {
          width: 33%;
          position: absolute;
          top: 18px;
          right: 18px;
        }

        .data-list ul li .order-item p {
          max-width: 50%;
        }

        .account-content {
          flex-wrap: wrap;
        }
    }
</style>

{% schema %}
{
  "name": "My Account",
  "settings": [
    {
      "type": "text",
      "id": "acnt_titl",
      "label": "Title",
      "default": "Enter Title"
    }, {
      "type": "header",
      "content": "Order Section Start"
    }, {
      "id": "ord_btnlink",
      "type": "url",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "My Account",
      "category": "Account"
    }
  ]
}
{% endschema %}