{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign invoice_id = "51da85a3c3dfa1f360b48852b64218b2" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign invoice_id = "656f0dbf9392657eed7feefc486781fb" %}
{% endif %}

{% if customer.tags contains 'curalifer' %}
  {% assign show_curalifer_tab = true %}
{% endif %}

<section class="account-page">
  <div class="container">
    <div id="tabs">
      <div class="account-content">
        <div class="account-menu desktop">
          <div class="menu-list">
            <ul>
              {% if show_curalifer_tab %}
                <li><a href="#curalifer"><span><i class="fa-thin fa-user-crown"></i></span>Curalifer</a></li>
              {% endif %}
              <li><a href="#a"><span><i class="fa-thin fa-user"></i></span>My Profile</a></li>
              <li><a href="#b"><span><i class="fa-thin fa-credit-card"></i></span>Orders</a></li>
              {% comment %} <li><a href="#c"><span class="icon-payment"></span>Manage Payments</a></li> {% endcomment %}
              {% comment %} <li style="display:none;"><a href="#d"><span class="icon-refer-friend"></span>Refer a Friend</a></li> {% endcomment %}
              <li><a href="#e"><span><i class="fa-thin fa-people-group"></i></span>Loyalty</a></li>
              <li><a href="#f"><span><i class="fa-thin fa-key"></i></span>Change password</a></li>
              <a id="subscription-tab" href="#"><li><span class="min-w-[25px]"><i class="fa-thin fa-calendar"></i></span>Subscriptions</li></a>
              <a class="logout lgoutlnk" href="/account/logout/"><li><span class="min-w-[25px]"><i class="fa-thin fa-right-from-bracket"></i></span>Logout</li></a>
            </ul>
          </div>
        </div>

        <div class="account-menu-mobile-dropdown mobile w-full">
          <select id="mobile-dropdown" onchange="changeContent()">
            {% if show_curalifer_tab %}
              <option value="#curalifer"><i class="fa-thin fa-user-crown"></i>Curalifer</option>
            {% endif %}
            <option value="#a"><i class="fa-thin fa-user"></i>My Profile</option>
            <option value="#b"><i class="fa-thin fa-credit-card"></i>Orders</option>
            <option value="#e"><i class="fa-thin fa-people-group"></i>Loyalty</option>
            <option value="#f"><i class="fa-thin fa-key"></i>Change password</option>
            <option value="#subscription-tab"><i class="fa-thin fa-calendar"></i>Subscriptions</option>
            <option value="/account/logout/"><i class="fa-thin fa-right-from-bracket"></i>Logout</option>
          </select>
        </div>

        <div class="account-data">
          {% if show_curalifer_tab %}
            <div class="data-row" id="curalifer">
              <div class="titles w-full">
                <h2>My Curalife</h2>
                <p>Your exclusive access to our recipies and workouts to help you live a healthier life.</p>
              </div>

              <div class="data-wrap with-border p-[10px]">
                <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalifer_recipies.png" alt="Curalife Recipes">
                <h5 class="data-title m-0">Recipes</h5>
              </div>

              <div class="data-wrap with-border p-[10px]">
                <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalifer_exercise.png" alt="Curalife Workouts">
                <h5 class="data-title m-0">Workouts</h5>
              </div>
            </div>
          {% endif %}

          <div class="data-row" id="a">
            <div class="data-wrap with-border">
              <h5 class="data-title m-0">Contact Information</h5>

              <div class="data-content">
                <div class="contact-info">
                  <ul>
                    <li><p>First Name<span>{{ customer.first_name }}</span></p></li>
                    <li><p>Last Name<span>{{ customer.last_name }}</span></p></li>
                    <li><p>Email<span>{{ customer.email }}</span></p></li>
                  </ul>
                </div>

                <div class="data-btn">
                  <a class="main-btn blank" href="/account/addresses">Edit</a>
                </div>
              </div>
            </div>

            <div class="data-wrap with-border">
              <h5 class="data-title m-0">Shipping Address</h5>

              <div class="data-content">
                <div class="shipping-addresses">
                  {% assign address = customer.default_address %}
                  {% if address %}
                    <div class="view_address">
                      <p>{{ address.first_name }} {{address.last_name }}
                      {% if address.company != blank %}<br />{{ address.company }}{% endif %}
                      {% if address.street != blank %}<br />{{ address.street }}{% endif %}
                      <br />{{ address.city }} {% if address.province_code != blank %}, {{ address.province_code }}{% endif %}
                      <br />{{ address.country }} {{ address.zip }}
                      {% if address.phone != blank %}<br />{{ address.phone }}</p>{% endif %}
                    </div>
                  {% else %}

                  <div class="empty-text">
                    <p><span class="icon-shipping"></span>You don't have a shipping address yet.</p>
                  </div>
                  {% endif %}
                </div>

                <div class="data-btn">
                  <a class="main-btn blank" href="/account/addresses">add address</a>
                </div>
              </div>
            </div>
          </div>

          <div class="data-row w-full" id="b">
            <div class="data-wrap w-full">
              {% render 'account-orders' %}
            </div>
          </div>

        <div class="data-row" id="e">
          <div class="data-wrap">
            {% render 'account-rewards' %}
          </div>
        </div>

        <div class="data-row" id="f">
          <div class="data-wrap with-border">
            {% render 'account-change-password' %}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function changeContent() {
    let selectedTab = document.querySelector('#mobile-dropdown').value;
    let tabLink = document.querySelector(`ul li a[href="${selectedTab}"]`);
    if (tabLink) {
      tabLink.click();
    }
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let tabs = document.querySelector('#tabs');
    let tabLinks = Array.from(tabs.querySelectorAll('ul li a'));
    let accountData = document.querySelector('.account-data');
    let allTabPanes = Array.from(tabs.querySelectorAll('.account-data .data-row'));

    function setActiveTab(targetLink) {
      let href = targetLink ? targetLink.getAttribute('href') : null;
      let target = href ? href.substr(1) : null;
      let tabPane = document.getElementById(target);

      // Deactivate all tab panes and links
      allTabPanes.forEach(pane => {
          pane.classList.remove("active");
          pane.style.pointerEvents = "none";  // Disable interactions
      });
      tabLinks.forEach(link => link.parentElement.classList.remove("active"));

      // Activate the target tab pane and link
      if (tabPane) {
          tabPane.classList.add("active");
          tabPane.style.pointerEvents = "auto";  // Enable interactions
          let tabPaneWrap = tabPane.querySelector('.data-wrap');
          accountData.style.height = `${tabPaneWrap.offsetHeight}px`;
      }

      targetLink.parentElement.classList.add("active");
  }

  // Event listener for transitionend to update the height
  allTabPanes.forEach(pane => {
    pane.addEventListener('transitionend', function() {
      let activeTabPane = tabs.querySelector('.account-data .data-row.active');
      if (activeTabPane) {
        accountData.style.height = `${activeTabPane.clientHeight}px`;
      }
    });
  });

  // Initialize the first tab
  setActiveTab(tabLinks[0]);

  // Add event listener for each tab
  tabLinks.forEach(link => {
      link.addEventListener('click', function(e) {
          e.preventDefault();
          setActiveTab(e.target);
      });
  });

  {% if show_curalifer_tab %}
    let curaliferTabLink = document.querySelector('ul li a[href="#curalifer"]');
    if (curaliferTabLink) {
      setActiveTab(curaliferTabLink);
    }
  {% else %}
    setActiveTab(tabLinks[0]);
  {% endif %}
});
</script>

<script>
  $(document).ready(function() {
    let subscriptionsLink = $('.rc-login a').first().attr('href');
    $('#subscription-tab').attr('href', subscriptionsLink);
    $('.rc-login').closest('section').remove();

    $('#mobile-dropdown option[value="#subscription-tab"]').attr('value', subscriptionsLink);
  });

  $('#mobile-dropdown').on( "change", function() {
    if ($(this).val().includes('/')) {
      window.location.href = $(this).val();
    }
  });
</script>

<style>
  main {
    background: #fef6ea;
  }

  section:has(.rc-login) {
    padding: 0;
  }
  .rc-login a {
    display: inline-flex;
    padding: 10px 20px;
    background: var(--dark-green);
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
</style>

<style>
  .account-data {
    position: relative;
  }

  #mobile-dropdown {
    width: 100%;
    background: white;
    padding: 10px;
    font-weight: bold;
    box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
  }

  .data-row {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .data-row.active {
    opacity: 1;
  }

  .icon-logout {
    margin-right: 10px;
  }

  .ui-tabs-active.ui-state-active a:before {
    border-color: var(--dark-green) !important;
  }

  .ui-tabs-active a {
    color: var(--dark-green) !important;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .account-content {
    display: flex;
    gap: 30px;
  }

  .account-menu {
    width: 400px;
    border-radius: 10px;
  }

  .account-menu .menu-list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .account-menu .menu-list ul li {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
  }

  .account-menu .menu-list ul li.active,
  .account-menu .menu-list ul li:hover {
    box-shadow: unset;
  }

  .account-data {
    width: -webkit-fill-available;
  }

  .account-data .data-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .account-data .data-row .data-wrap {
    min-width: 390px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
  }

  .account-data .data-title {
    padding: 16px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .account-data .data-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
  }

  .contact-info ul li:first-child {
    padding-top: 0;
  }
  .contact-info ul li {
    display: block;
    padding: 15px 0;
  }

  .main-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background: var(--dark-green);
    border-radius: 2px;
    min-height: 50px;
    width: -webkit-fill-available;
  }

  .account-menu .menu-list ul li a span {
    display: flex;
    min-width: 25px;
  }

  .account-menu .menu-list ul li a,
  .account-menu .menu-list ul li:last-child{
    display: flex;
    align-items: center;
    color: inherit;
    transition: color var(--transition);
    gap: 10px;
  }

  .contact-info ul li p span {
    display: block;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
  }

  .contact-info ul li {
    display: block;
    padding: 15px 0;
    min-width: 300px;
    border-bottom: 1px solid #efefef;
  }

  .contact-info ul li:first-child {
    padding-top: 0;
  }

  .contact-info ul li p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--dark);
  }

  .data-list ul li {
    display: block;
    border: 1px solid #efefef;
  }

  .data-list ul {
    display: flex;
    flex-direction: column;
  }

  .data-list ul li .order-head {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 10px 27px;
    background: #f8f8f8;
    border-bottom: 1px solid #efefef;
  }

  .data-list ul li .order-head .number {
    width: 30%;
    text-align: left;
  }

  .data-list ul li .order-head p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--dark);
  }

  .data-list ul li .order-head .date {
    width: 40%;
    padding: 0 10px;
    text-align: center;
  }

  .data-list ul li .order-head .more {
    width: 30%;
    text-align: right;
  }

  .data-list ul li .order-item:last-child {
    border: none;
  }

  .data-list ul li .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    padding: 20px;
  }

  .data-list ul li .order-item .rows-wrap {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  .data-list ul li .order-item .img-wrap {
    width: 70px;
    flex-shrink: 0;
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
  }

  .data-list ul li .order-item .img-wrap:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    pointer-events: none;
  }

  .data-list ul li .order-item .img-wrap span {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .data-list ul li .order-item .img-wrap span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .data-list ul li .order-item .name {
    padding-left: 20px;
  }

  .data-list ul li .order-item p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--black);
  }

  .data-list ul li .order-item .value,
  .data-list ul li .order-item .item-quantity {
    padding: 0 10px;
  }

  .data-list ul li .order-item .item-quantity p {
    white-space: nowrap;
  }

  .data-list ul li .order-item .item-price p {
    white-space: nowrap;
  }

  .data-list ul li .order-item .status {
    padding-left: 10px;
  }

  .data-list ul li .view-details.d-mobile {
    display: none;
  }

  .data-list ul li .view-details .more-btn {
    display: flex;
    justify-content: center;
    padding: 27px 10px;
    border-top: 1px solid #efefef;
  }

  .data-list ul li .view-details .more-btn p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    cursor: pointer;
    transition: color var(--transition);
  }

  .data-list ul li .view-details .more-btn p a {
    font-weight: 400;
    font-size: 14px;
    color: var(--dark);
    text-decoration: underline;
    transition: color var(--transition);
  }

  .account-data .rewards-table table {
    width: 100%;
    box-shadow: unset;
  }

  .account-data .rewards-table table thead tr {
    background: #f8f8f8;
  }

  .account-data .rewards-table table th {
    padding: 18px 10px;
    font-size: 16px;
    border: 0;
  }

  .account-data .rewards-table table td {
    font-size: 16px;
    text-align: center;
    border-color: lightgrey;
  }

  .account-data .form-text {
    text-align: center;
  }

  .form-fields {
    display: flex;
    flex-wrap: wrap;
  }

  .form-fields label.full-size {
    width: 100%;
  }

  .form-fields label {
    display: block;
    margin: 10px;
    position: relative;
  }

  .form-fields label input {
    width: 100%;
    padding: 17px 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    background: #fff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .form-wrap {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  @media screen and (max-width: 1200px){
    .account-menu .menu-list ul li {
      margin: 5px 0;
      padding-left: 16px;
      font-size: 14px;
    }

    .account-data {
      width: calc(100% - 230px);
      padding-left: 10px;
    }

    .account-data .data-title {
      padding: 13px 15px;
    }
    .account-data .data-title h3 {
      font-size: 14px;
    }
    .account-data .data-content {
      padding: 22px 19px;
    }
    .contact-info ul li {
      padding: 12px 0;
    }

    .contact-info ul li {
      padding: 12px 0;
    }
  }

  @media screen and (max-width: 768px) {
    .account-menu {
      width: 100%;
    }

    .account-menu .menu-list ul li {
      margin: unset;
      gap: 5px;
    }

    .account-menu .menu-list ul li {
      padding-left: 25px;
      font-size: 16px;
    }

    .account-data {
      width: 100%;
      padding-left: 0;
      margin-top: 18px;
    }
    .account-data .data-row .data-wrap {
      min-width: -webkit-fill-available;
      margin: unset;
    }
    .account-data .data-title {
      padding: 16px 15px;
    }
    .account-data .data-title h3 {
      font-size: 16px;
    }
    .account-data .data-content {
      padding: 20px 12px;
    }
    .contact-info {
      padding: 0 8px 14px;
    }
    .contact-info ul li:first-child {
      padding-top: 12px;
      border-top: 1px solid #efefef;
    }

    .contact-info ul li p span {
      font-size: 16px;
    }
    .contact-info ul li:first-child {
      padding-top: 12px;
      border-top: 1px solid #efefef;
    }
    .contact-info ul li p {
      font-size: 14px;
    }
    .data-list ul li .order-head {
      justify-content: space-between;
    }

    .data-list ul li .order-head .number {
      width: auto;
    }

    .data-list ul li .order-head .date {
      padding: 0 0 0 10px;
      width: auto;
    }

    .data-list ul li .order-item {
      min-height: 131px;
      flex-wrap: wrap;
      position: relative;
    }

    .data-list ul li .order-item .rows-wrap {
      width: 100%;
      padding-right: 0;
    }

    .data-list ul li .order-item .name,
    .data-list ul li .order-item .value,
    .data-list ul li .order-item .item-quantity,
    .data-list ul li .order-item .item-price,
    .data-list ul li .order-item .status {
      width: 100%;
      padding: 7px 0;
      text-align: right;
    }

    .data-list ul li .order-item .status p {
      font-weight: 500;
    }

    .data-list ul li .order-item .img-wrap {
      width: 33%;
      position: absolute;
      top: 18px;
      right: 18px;
    }

    .data-list ul li .order-item p {
      max-width: 50%;
    }

    .account-content {
      flex-wrap: wrap;
    }

    .account-data .rewards-table table td {
      font-size: 3.3vw;
    }
  }
</style>

{% schema %}
{
  "name": "My Account",
  "settings": [
    {
      "type": "text",
      "id": "acnt_titl",
      "label": "Title",
      "default": "Enter Title"
    }, {
      "type": "header",
      "content": "Order Section Start"
    }, {
      "id": "ord_btnlink",
      "type": "url",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "My Account",
      "category": "Account"
    }
  ]
}
{% endschema %}