<div class="container-fluid" style="position:relative; {% if section.settings.newsletter-footer-bg-color != "blank" %} background:{{ section.settings.newsletter-footer-bg-color }}; {% endif %} padding: 45px 0; margin-top: 60px">
  	{% if section.settings.spcer-image != 'blank' %}	
      <img src="{{ section.settings.spcer-image | img_url: 'master'}}" class="d-none d-lg-block" width="300" style="position:absolute;top: -10px;left:50%;transform:translateX(-50%)"  loading="lazy" />
    {% endif %} 
  	<div class="row d-lg-none" style="margin-top: -200px">
      	{% if section.settings.newsleter-banner-image != 'blank' %}
          <div class="col-12 text-center">
            <img src="{{ section.settings.newsleter-banner-image | img_url: 'master'}}" style="width: 100%; max-width: 470px;"  loading="lazy" />
          </div>
      	{% endif %}
    </div>
    <div class="row">
      	{% if section.settings.spcer-image-mobile != 'blank' %}
          <div class="d-lg-none col-12 text-center" style="margin: 20px 0">
               <img src="{{ section.settings.spcer-image-mobile | img_url: 'master'}}" width="160"  loading="lazy" />
          </div>
      	{% endif %}
      	{% if section.settings.title  != 'blank' %} 
          <div class="col-12 text-center responsive-h3" style="font-weight: 700">
            	{{ section.settings.title }}		
          </div>
      	{% endif %}
      	{% if section.section.subheading != 'blank' %}
        <div class="col-12 text-center responsive-h3" style="font-weight: 500">
          	{{ section.settings.subheading }}
        </div>
      	{% endif %}
      	{% if section.section.description != 'blank' %}
        <div class="col-10 offset-1 text-center" style="font-size: 0.8em; font-weight: 500">
          	{{ section.settings.description }}
        </div>
      	{% endif %}
    </div>
</div>
{% schema %}
{
    "name": {
        "en": "Newsletter Footer",
        "de": "Newsletter Fußzeile",
        "es": "Pie de página del boletín",
        "fr": "Pied de page de la newsletter",
        "pt-PT": "Rodapé do Boletim"
    },
    "class": "newsletter-section-footer",
    "settings": [
		{
          "type": "color",
          "id": "newsletter-footer-bg-color",
          "label": {
				"en":"Background Color",
				"de": "Hintergrundfarbe",
             	"es": "Color de fondo",
             	"fr": "Couleur de l'arrière plan",
              	"pt-PT": "Cor de fundo"
			}
		},
		{
          "type": "image_picker",
          "id": "spcer-image",
          "label": {
              "en": "Spacer Image",
              "de": "Abstandshalter Bild",
              "es": "Imagen espaciadora",
              "fr": "Image d'espacement",
              "pt-PT": "Imagem espaçadora"
          }
        },
		{
          "type": "image_picker",
          "id": "spcer-image-mobile",
          "label": {
              "en": "Spacer Image Mobile",
              "de": "Spacer Image Mobile",
              "es": "Spacer Image Mobile",
              "fr": "Spacer Image Mobile",
              "pt-PT": "Spacer Image Mobile"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
          }
        },
		{
          "type": "text",
          "id": "subheading",
          "label": {
            "en": "Subheading",
            "de": "Unterüberschrift",
            "es": "Subencabezado",
            "fr": "Sous-rubrique",
            "pt-PT": "Subtítulo"
          }
        },
        {
            "id": "description",
            "type": "html",
            "label": {
              "en": "Content",
              "de": "Inhalt",
              "es": "Contenido",
              "fr": "Contenu",
              "pt-PT": "Conteúdo"
            }
        },
		{
          "type": "image_picker",
          "id": "newsleter-banner-image",
          "label": {
				"en":"Image",
				"de": "Bild",
             	"es": "Imagen",
             	"fr": "Image",
              	"pt-PT": "Imagem"
			}
		}
    ]
}
{% endschema %}
