<style>
    @media only screen and (min-width: 761px){
   .white-bg .locations-wrap{
       padding-bottom: 0;
   }
   .loc_titl{
    margin-top: 50px !important;
   }
}
</style>
<div class="offset-top story-page">
   <div class="story-section">
       <div class="story-data">
           <div class="container">
               <div class="mini-wrap">
                   <div class="sub-title">
                       <h3>{{section.settings.dia_titl}}</h3>
                   </div>
                   
                   <div class="more-text">
                       <div class="text">
                           <div class="wrap">
                               <p>{{section.settings.dia_desc}}</p>
                           </div>
                       </div>
                       <div class="more">
                           <p><span class="show">+ Sow all</span><span class="less">- Sow less</span></p>
                       </div>
                   </div>

                   <div class="author">
                       {% if section.settings.dia_img != blank %} 
                       <div class="photo">
                               <img src="{{ section.settings.dia_img | image_url: width: '69' }}" width="67px" height="67px" alt="" loading="lazy">
                       </div>
                       {% endif %}
                       <div class="info">
                           <p><span>{{section.settings.dia_authr}}</span> {{section.settings.dia_desig}}</p>
                       </div>
                   </div>  
               </div>
           </div>
       </div>
   </div>

   <div class="container">
       <div class="white-bg">
           <div class="mini-wrap">
               <div class="team-section">
                   <div class="sub-title">
                       <h3>{{section.settings.tem_titl}}</h3>
                   </div>
                   <div class="team-wrap">
                       {% for block in section.blocks %}
                       {% if block.type == 'our_team' %}
                       <div class="team-item">
                           {%if block.settings.tem_img != blank %}
                           <div class="photo">
                               <img src="{{ block.settings.tem_img | image_url: width: 228 }}" width="285px" height="285px"  alt="" loading="lazy">
                           </div>
                           
                           <div class="info">
                               <h4>{{block.settings.tem_ontitl}}</h4>
                               <p><i>{{block.settings.tem_subtitl}}</i></p>
                           </div>
                           {% endif %}
                       </div>
                       {% endif %}
                       {% endfor %}
                   </div>
               </div>

               <div class="culture-section">
                   <div class="sub-title">
                       <h3>{{section.settings.cmpncltr_titl}}</h3>
                   </div>
                   <div class="culture-wrap">
                       <div class="culture-item">
                           {% if section.settings.cmpncltr_icnimg != blank %}
                           <div class="icon-wrap">
                               <img src="{{ section.settings.cmpncltr_icnimg | image_url }}" alt="" loading="lazy">
                           </div>
                           {% endif %}
                           <div class="text">
                               <p>{{section.settings.cmpncltr_desc}}</p>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="advisory-section">
                   <div class="sub-title">
                       <h3>{{section.settings.advsr_titl}}</h3>
                   </div>
                   <div class="advisory-wrap">
                       {% for block in section.blocks %}
                       {% if block.type == 'advis_board' %}
                       {%if block.settings.advsr_img != blank %}
                       <div class="advisory-item">
                           <div class="item-wrap">
                               <div class="photo">
                                    <img src="{{ block.settings.advsr_img | image_url }}" width="180" height="180" alt="" loading="lazy">
                               </div>
                               <div class="text">
                                   <h4>{{block.settings.advsr_ontitl}}</h4>
                                   <p>{{block.settings.advsr_desc}}</p>
                               </div>
                           </div>
                       </div>
                       {% endif %}
                       {% endif %}
                       {% endfor %}
                       <div class="more">
                           <p><span class="show">+ Sow all</span><span class="less">- Sow less</span></p>
                       </div>
                   </div>
               </div>
           </div>
           <div class="locations-section"> 
               <div class="sub-title"> 
                   <h3 class="loc_titl">{{section.settings.loc_titl}}</h3>
               </div>
               <div class="locations-wrap">
                   <div class="locations-list">
                       <ul>
                           {% for block in section.blocks %}
                           {% if block.type == 'story_locations' %}
                           <li> 
                               <h4>{{block.settings.str_loctitl}}</h4>
                               <a href="{{block.settings.str_loc_url}}" target="_blank"><p>{{block.settings.str_locsubtitl}}</p></a>
                           </li>
                           {% endif %}
                           {% endfor %}
                       </ul>
                   </div>
                   </div>
               </div>
           </div>
       </div>
   </div> 




{% schema %}
 {
   "name": "Our Story Content",
   "settings": [
       {
           "type": "header", 
           "content": "Started Diagnosis Section Start" 
       }, 
       {
           "type": "text",
           "id": "dia_titl",
           "label": "Title",
           "default": "Enter title"
       },
      {
           "type": "textarea",
           "id": "dia_desc",
           "label": "Description",
           "default": "Enter Description"
       },
       {
             "type": "image_picker",
             "id": "dia_img",
             "label": "Author image"
       },
       {
           "type": "text",
           "id": "dia_authr",
           "label": "Author Name",
           "default": "Author Name"
       },
       {
           "type": "text",
           "id": "dia_desig",
           "label": "Author Designation",
           "default": "Author Dame"
      },
       {
           "type": "header", 
           "content": "Our Team Section Start" 
       },
       {
           "type": "text",
           "id": "tem_titl",
           "label": "Title",
           "default": "Title"
       },
       {
           "type": "header", 
           "content": "Company Culture Section Start" 
       },
       {
           "type": "text",
           "id": "cmpncltr_titl",
           "label": "Title",
           "default": "Title"
       },
       {
             "type": "image_picker",
             "id": "cmpncltr_icnimg",
             "label": "Icon Image"
       },
       {
             "type": "image_picker",
             "id": "cmpncltr_img",
             "label": "Image"
       },
       {
           "type": "textarea",
           "id": "cmpncltr_desc",
           "label": "Description",
           "default": "Enter Description"
       },
       {
           "type": "header", 
           "content": "Advisory Board Section Start" 
       },
       {
           "type": "text",
           "id": "advsr_titl",
           "label": "Title",
           "default": "Title"
       },
       {
           "type": "header", 
           "content": "Location Section Start" 
       },
       {
           "type": "text",
           "id": "loc_titl",
           "label": "Title",
           "default": "Title"
       },
       {
           "type": "image_picker",
           "id": "loc_img",
           "label": "Image"
       }   
   ],
   "blocks": [
       {
           "type": "our_team",
           "name": "Our Team",
           "settings": [
               {
                   "type": "image_picker",
                   "id": "tem_img",
                   "label": "Image"
               },    
               {
                   "type": "text",
                   "id": "tem_ontitl",
                   "label": "Title",
                   "default": "Enter Title"
               },
               {
                   "type": "text",
                   "id": "tem_subtitl",
                   "label": "Sub Title",
                   "default": "Enter Sub Title"
               }
               
           ]    
       },
       {
           "type": "advis_board",
           "name": "Advisory Board",
           "settings": [
               {
                   "type": "image_picker",
                   "id": "advsr_img",
                   "label": "Image"
               },    
               {
                   "type": "text",
                   "id": "advsr_ontitl",
                   "label": "Title",
                   "default": "Enter Title"
               },
               {
                   "type": "textarea",
                   "id": "advsr_desc",
                   "label": "Description",
                   "default": "Enter Description"
               }
               
           ]    
       },
       {
           "type": "story_locations",
           "name": "Partnerships Locations",
           "settings": [
                 
               {
                   "type": "text",
                   "id": "str_loctitl",
                   "label": "Country Name",
                   "default": "Enter Country Name"
               },
               {
                   "type": "text",
                   "id": "str_locsubtitl",
                   "label": "Title",
                   "default": "Enter Title"
               },
               {
                "type": "url",
                "id": "str_loc_url",
                "label": "Link"
                }
               
           ]    
       }
   ],
   "presets":[
       {
         "name": "Our Story Content",
         "category": "text"
       }
   ]
 }
{% endschema %}

{% style %}
.story-data .sub-title {
   margin: 40px 0;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}