<div class="container">
	<div class="team-wrapper">
		<div class="text-title-wrap">
			<div class="team-title">
				{{ section.settings.title }}
			</div>
			<div class="team-text">
				{{ section.settings.main_content }}
			</div>
		</div>
		<div class="team-img">
			<img src="{{ section.settings.image | image_url }}" width="1418" height="826" alt="">
		</div>
	</div>
</div>

<style>
	.our-story-team-section {
		position: relative;
		background: {{ section.settings.bg_color }};
	}

	.our-story-team-section .team-wrapper {
		display: flex;
		padding: 40px 10px;
		gap: 10px;
	}

	.our-story-team-section .team-title {
		z-index: 1;
		position: relative;
		font-family: 'PP Radio Grotesk';
		font-weight: 700;
		font-size: 57px;
		line-height: 69px;
		display: flex;
		justify-content: center;
		color: #404733;
	}

	.our-story-team-section .team-text {
		padding-top: 10px;
		font-family: 'DM Sans';
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.02em;
		color: #000000;
	}

	.our-story-team-section .team-title span {
		padding-left: 10px;
		background-image: url("{{ 'our-story-dna-swoosh.png' | asset_url }}");
	}

	@media screen and (max-width: 768px) {
		.our-story-team-section .team-wrapper {
			flex-direction: column-reverse;
		}

		.our-story-team-section .team-title span {
			margin-left: 1vw;
		}

		.our-story-team-section .team-title {
			font-size: 13vw;
			line-height: 1.2em;
		}
	}
</style>

{% schema %}
{
	"name": "Team I&T",
	"tag": "section",
	"class": "our-story-team-section",
	"disabled_on": {
		"groups": [
			"header",
			"footer"
		]
	},
	"settings": [{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "main_content",
			"label": "Content"
		}
	],
	"presets": [{
		"name": "Team I&T"
	}]
}
{% endschema %}