{% comment %} {% if product.tags contains "sleep" %}
  {% assign title_color = "var(--dark-turquoise)" %}
{% else %}
  {% assign title_color = "var(--dark-orange)" %}
{% endif %} {% endcomment %}

<div id="supplement-page">
  {% comment %} {% render 'product-cta-section', ctaTextType: "total",  isCuralinContent: isCuralinBundled, title: "Select Your Deal:", badgesPosition: "cta", badgesContent: "free-shipping,money-back", isHighlightSubtitle: true, isReversed: true, ctaColor: "var(--orange)", bottomLineColor: "var(--light-green)", defaultSelectionIndex: 2, isPricePerUnit: true, isReviews: true %} {% endcomment %}
  {% comment %} {% render 'product-benefits-section' %} {% endcomment %}
  {% comment %} {% render 'curalin-pack-info', product: product %} {% endcomment %}
  {% comment %} {% render 'curalin-supplement-info-section' %} {% endcomment %}
  {% render 'curalin-ingredients-section', product: product %}
  {% comment %} {% render 'product-back-to-top-button', isThirtyDay: true, ctaTitle: "SHOP NOW", textColor: 'white' %} {% endcomment %}
</div>

{% comment %} <style>
  #benefits-section .health-benefits .health-benefit {
    display: none !important;
  }
</style> {% endcomment %}

<script>
  {% assign first_variant = product.variants | first %}
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ first_variant.sku }}',
        affiliation: '{{ shop.name }}',
        price: '{{ first_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>