<div id="supplement-page">
  {% render 'product-cta-section', isCuralinContent: isCuralinBundled, title: "Select Your Plan:", isHighlightSubtitle: true, isReversed: true, ctaColor: "var(--orange)", bottomLineColor: "var(--light-green)", defaultSelectionIndex: 2 %}
  {% render 'product-benefits-section' %}
  {% render 'product-back-to-top-button', isThirtyDay: true, ctaTitle: "SHOP NOW", textColor: 'white' %}
</div>

{% comment %} Temp {% endcomment %}
<style>
  .variant-box {
    border-radius: 10px;
    border-color: var(--light-green);
    height: 70px;
  }

  .product-actions {
    max-width: 350px;
  }

  .cta-section .product-container {
    grid-template-columns: 60% 40%;
  }

  .cta-section .product-image {
    max-height: 600px;
  }
</style>

<style>
  #supplement-page {
    font-size: 20px;
    line-height: 1.2em;
  }

  p {
    margin: unset;
  }

  #supplement-page section .titles {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  #supplement-page section h2 {
    font-size: 48px;
    font-weight: bold;
    white-space: nowrap;
  }


  @media screen and (max-width: 768px) {
    .product-actions {
      max-width: unset;
    }
    #supplement-page section .titles {
      flex-direction: column !important;
      align-items: baseline;
      gap: 2vw;
    }

    #supplement-page section h2 {
      white-space: unset;
      text-align: left;
      font-size: 8vw;
    }
  }
</style>

<script>
  {% assign first_variant = product.variants | first %}
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '{{ first_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>