{% render 'product-cta',
  bgColor: section.settings.bg_color,
  ctaColor: section.settings.cta_color,
  bottomLineColor: section.settings.bottom_line_color,
  multiplaerColor: section.settings.multipl_color,
  multiplierTextColor: section.settings.txtmlt_color,
  mainTitle: section.settings.main_title,
  title: section.settings.variants_title,
  pricePer: section.settings.price_per,
  ctaTextType: section.settings.price_format,
  badgeImage: section.settings.badge_image,
  isCuralinContent: section.settings.is_curalin_content,
  badgesPosition: section.settings.badges_position,
  badgesContent: section.settings.badges,
  imageSection: section.settings.section_image,
  defaultSelectionIndex: section.settings.default_selection_index,
  isHighlightSubtitle: section.settings.is_highlight_subtitle,
  isReversed: section.settings.is_reverse,
  isReviews: section.settings.is_reviews,
  isReviewsQuotes: section.settings.is_reviews_quotes,
  isSaveTitle: section.settings.is_save_title,
  isHideThumbs: section.settings.is_hide_thumbs,
  isThumbsVertical: section.settings.is_thumbs_vertical,
  blocks: section.blocks
  %}

  <div class="recharge-custom-js-widget" data-productid="{{ product.id }}"></div>
{% comment %}
  <div class="rc-container">
    <div class="rc-widget">
      <div class="rc-template">
        <div class="rc-template__legacy-radio">

        </div>
      </div>
    </div>
    <!-- <div>subscription details docs TBD</div> -->
  </div>


  <script>
    const config = {
      productId: {{ product.id }}, // Required
      injectionParent: 'form[action*="cart/add"]', // The node that will have the widget injected in
      injectionMethod: 'prepend', // How will the widget be injected
      injectFn: (node, target) => {}, // Runs a custom injection function
      selectors: {
        price: ['.my-price-selector'], // the selectors that will be updated based on subscription
        variant: ['.variant-selector'] // The variants to watch for to update the subscription prices
      }
    };
    window.ReChargeWidget.createWidget(config);

    // Example of rendering a specific product to a page that doesn't provide the productId in the DOM
    window.ReChargeWidget.createWidget({ productId: {{ product.id }} });

    // Example of rendering a specific product to a page that has a custom injection point
    window.ReChargeWidget.createWidget({ productId: {{ product.id }}, injectionParent: '.rc-custom-injection-point' });

    // Example of rendering a specific product to a page that has a special price selector
    window.ReChargeWidget.createWidget({ productId: {{ product.id }}, selectors: { price: ['.my-price'] } });
  </script> {% endcomment %}

  {% for block in section.blocks %}
    {% if block.type == '@app' %}
      {% render block %}
    {% endif %}
  {% endfor %}

{% schema %}
{
    "name": "CTA Section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "cta_color",
        "label": "CTA Color"
      },
      {
        "type": "color",
        "id": "bottom_line_color",
        "label": "Bottom Line Color"
      },
      {
        "type": "color",
        "id": "multipl_color",
        "label": "Multiplier Background Color",
        "default": "#9eb069"
      },
      {
        "type": "color",
        "id": "txtmlt_color",
        "label": "Multiplier Text Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "variants_title",
        "label": "Variants Title"
      },
      {
        "type": "image_picker",
        "id": "badge_image",
        "label": "Badge Image"
      },
      {
        "type": "select",
        "id": "price_per",
        "label": "Price Per",
        "options": [
          {
            "value": "dont_split",
            "label": "Do not Split"
          },
          {
            "value": "month",
            "label": "Month"
          },
          {
            "value": "bottle",
            "label": "Bottle"
          }
        ],
        "default": "dont_split"
      },
      {
        "type": "select",
        "id": "price_format",
        "label": "Price Format",
        "options": [
          {
            "value": "total",
            "label": "Total"
          },
          {
            "value": "save",
            "label": "Save"
          }
        ],
        "default": "total"
      },
      {
        "type": "select",
        "id": "badges_position",
        "label": "Badges Position",
        "options": [
          {
            "value": "cta",
            "label": "CTA"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "bottom"
      },
      {
        "type": "number",
        "id": "default_selection_index",
        "label": "Default Selection Index",
        "default": 1
      },
      {
        "type": "text",
        "id": "badges",
        "label": "Badges",
        "default": "free-shipping,money-back,secure-checkout"
      },
      {
        "type": "checkbox",
        "id": "is_highlight_subtitle",
        "label": "Is Highlight Subtitle"
      },
      {
        "type": "checkbox",
        "id": "is_reverse",
        "label": "Reverse Variants"
      },
      {
        "type": "checkbox",
        "id": "is_reviews",
        "label": "Show Reviews"
      },
      {
        "type": "checkbox",
        "id": "is_reviews_quotes",
        "label": "Show Reviews Quotes"
      },
      {
        "type": "checkbox",
        "id": "is_save_title",
        "label": "Show Save Title"
      },
      {
        "type": "checkbox",
        "id": "is_curalin_content",
        "label": "Is Curalin Content"
      },
      {
        "type": "checkbox",
        "id": "is_hide_thumbs",
        "label": "Is Hide Thumbs"
      },
      {
        "type": "checkbox",
        "id": "is_thumbs_vertical",
        "label": "Thumb Slider Vertical"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_img",
            "label": "Product Image"
          }
        ]
      },
      {
        "type": "@app"
      }
    ],
    "presets": [
    {
        "name": "CTA Section"
    }
  ]
}
{% endschema %}