{% if shop.name == "CuraLife" %}
  {% if localization.country.iso_code == 'CA' %}
    {% assign challenge_value = 132 %}
    {% assign curaeats_value = 39 %}
  {% elsif localization.country.iso_code == 'AU' %}
    {% assign challenge_value = 147 %}
    {% assign curaeats_value = 43 %}
  {% else %}
    {% assign challenge_value = 99 %}
    {% assign curaeats_value = 29 %}
  {% endif %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign challenge_value = 0 %}
  {% assign curaeats_value = 24 %}
{% endif %}

{% assign reviewsItems = '"This is the greatest! My husband started taking this! Finally found a product that works!":Linda Valtsiotis
|"I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle":Michael Murillo Sr.
|"It is so wonderful to find something that really works. I feel so much better!":Leanne Anderson
|"I&apos;ve started on my second bottle and this is the best thing I&apos;ve ever taken! I would recommend to anyone.": Debra Doss
|"Have been taking CuraLin over the last four months and am beyond pleased with the results.":Michael Edwards
|"Amazing results in such a short time. Thank you!":Meryl Hill
'
| split: '|' %}

{% assign faqItems = "How much CuraLin do I need to take?:The recommended usage of CuraLin is to take 1-2 capsules 30 minutes after each meal. Maximum 6 capsules per day. CuraLin is easy to take.
|When should I be taking CuraLin?:For the best results, the recommended usage is to take 1-2 capsules of CuraLin 30 minutes after your meals (maximus 6 capsules per day).
|How does each ingredient work?:Each ingredient does a little something different to promote health in the 18 key body functions needed for glucose support.
|Is there a discount if I order more than one bottle?:Yes! You can save substantially by ordering a 3 pack of CuraLin. Check out the pricing section of this page for more information.
|How do I get my money back in line with your return policy?:Easy! We have a no questions asked policy. Just shoot us a message at hello@curalife.com, or call our 24/7 phone support and we’ll take care of your request&colon;<br>UK-Toll-Free&colon; +44 800 086 9122 <br>US-Toll-Free&colon; +1 888 286 7307
|How long does shipping take?:You will get a tracking number as soon as your order ships so that you can see exactly where your package is. Most orders in the continental USA arrive between 2-5 days after placing the order (depending on where in the US you live). Orders from the UK take an average of 7-8 days to arrive. Orders from Australia and the Asia Pacific Region can take a bit longer. Our official policy is that shipping can take 7-28 business days, but that’s just because of the uncertainty of shipping times these days. Your order will almost always arrive much faster than that, and your tracking number will always keep you up to date.
|Will I be able to track my order?:Yes! Every CuraLin order comes with a tracking number. You will be able to see where your package is any time you want – from the moment it ships, until the moment it reaches your home.
|Can I buy CuraLin in pharmacies and grocery stores?:We’re still working on getting CuraLin on the shelves of all the major US pharmacies. That’s part of our 2022 plan. For now, the best place to order CuraLin is online, though this page!"
| split: '|' %}

{% render 'script.round-converted-currency' %}


<div class="product-template-all-in-one">
  {% comment %} {% render 'sale-banner', isHidden: true, isFlash: true, desktopContent: "logo,ctaTitle", mobileContent: "logo,ctaTitle", bgColor: "#F59E80", logoFileName: "logo-black-friday.svg", ctaTitle: "flash", isLogoSmall: true %} {% endcomment %}
  {% render 'product-cta', ctaTextType: "save", isVariantNotice: true, isCuralinContent: true, isReviews: true, title: "Select Your Deal:", badgesPosition: "bottom", badgesContent: "free-shipping,money-back,secure-checkout", ctaColor: "var(--dark-green)", bottomLineColor: "black", isSaveTitle: true, challenge_value: challenge_value, curaeats_value: curaeats_value %}
  {% render 'bundle-gifts-section', challenge_value: challenge_value, curaeats_value: curaeats_value %}
  {% render 'product-all-in-one-how-to-section' %}
  {% comment %} {% render 'product-all-in-one-reviews-section', reviewsItems: reviewsItems %} {% endcomment %}
  {% render 'lps-ingredients-slider', bgColor: '#f0f0f0', maintitle: '<b>9 Powerful Ingredients </b>Combined Into One Capsule'%}
  {% render 'product-all-in-one-badges-section' %}
  {% render 'product-all-in-one-return-policy-section' %}
  {% render 'faq-section', faqItems: faqItems, isAllowOneOpen: true, titleVersion: "light" %}
  {% render 'contact-us-section', title: 'We’re here for you 24/7. <br>Get in touch any time.', icons-background-color: 'var(--light-green)', border: false %}
  {% render 'product-back-to-top-button' %}
</div>

<style>
  .product-template-all-in-one {
    background: #f7f7f7
  }
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>