{% assign isCuralinBundled = false %}
{% for prod in product.metafields.custom.bundle-products.value %}
  {% if prod.handle == 'curalin' %}
    {% assign isCuralinBundled = true %}
  {% endif %}
{% endfor %}

{% if product.tags contains "sleep" %}
  {% assign title_color = "var(--dark-turquoise)" %}
{% else %}
  {% assign title_color = "var(--dark-orange)" %}
{% endif %}

{% assign doctors = 'lp-aio-michel.png*Dr. Michael Binder:Functional doctor, author of Cracking The Diabetic Code.
|lp-aio-nancy.png*Dr. Nancy Russell:Internal Medicine Specialist, North Kansas City Hospital
|lp-aio-raz.png*Prof. Itamar Raz:World renouned diabetes expert with over 400 published peer-reviewed studies.
|lp-aio-sarah.png*Dr. Sarah Brewer:Functional doctor, diabetes expert, and author of over 60 books on personal health.'
| split: '|' %}


<div id="supplement-page">
  {% comment %} {% render 'product-cta-section', ctaTextType: "total",  isCuralinContent: isCuralinBundled, title: "Select Your Deal:", badgesPosition: "cta", badgesContent: "free-shipping,money-back", isHighlightSubtitle: true, isReversed: true, ctaColor: "var(--orange)", bottomLineColor: "var(--light-green)", defaultSelectionIndex: 2, isPricePerUnit: true %} {% endcomment %}
  {% render 'product-benefits-section' %}

  {% if product.metafields.custom.bundle-products.value %}
    {% for prod in product.metafields.custom.bundle-products.value %}
      {% if forloop.last %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index, isLastRender: true %}
      {% else %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% render 'product-supplement-pack-info', product: product, isLastRender: true %}
  {% endif %}

  {% render 'product-supplement-info-section', titleColor: title_color %}

  {% if isCuralinBundled %}
    {% render 'product-supplement-doctors-section' %}
  {% endif %}
</div>

<style>
  @media screen and (max-width: 768px) {
    #supplement-page section .titles {
      flex-direction: column !important;
      align-items: baseline;
      gap: 2vw;
    }

    #supplement-page section h2 {
      white-space: unset;
      text-align: left;
      font-size: 8vw;
    }
  }
</style>

<script>
  {% assign first_variant = product.variants | first %}
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '{{ first_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>