{% if article.metafields.recipe.carbs_level == "High" %}
  {% assign carbs_bar_bg_color = 'var(--light-peach)' %}
  {% assign carbs_bar_text_color = 'var(--dark-peach)' %}
{% elsif article.metafields.recipe.carbs_level == "Mid" %}
  {% assign carbs_bar_bg_color = 'var(--light-brown)' %}
  {% assign carbs_bar_text_color = 'var(--dark-brown)' %}
{% elsif article.metafields.recipe.carbs_level == "Low" %}
  {% assign carbs_bar_bg_color = 'var(--lighter-green)' %}
  {% assign carbs_bar_text_color = 'var(--dark-green)' %}
{% endif %}

{% if customer.tags contains '30-day-challenge' or true %}
<div id="recipe-page">
    <div class="top-bar">
      <div class="container">
        <i class="icofont-arrow-left top-bar-button" id="go-back"></i>

        <div class="carbs-level">
          <div class="level-icon {{ article.metafields.recipe.carbs_level | downcase }}"><div class="rec"></div><div class="rec"></div><div class="rec"></div></div>
          <p>{{ article.metafields.recipe.carbs_level }} Carbs</p>
        </div>

        <i class="icofont-printer top-bar-button"></i>
      </div>
    </div>

    <div id="recipe" class="recipe">
      <div class="container">
        <div class="info">
          <h1>{{ article.title }}</h1>
          <div class="subtitles">
            {% comment %} <p class="calories"><i class="icofont-fire-burn"></i>{{ article.metafields.recipe.calories }}kcal</p> {% endcomment %}
            <p class="cooking-duration"><i class="icofont-clock-time"></i>{{ article.metafields.recipe.duration }}</p>
          </div>


          {% comment %} <div class="nutrients">
            <p class="fat"><i class="icofont-cheese"></i>Fat | {{ article.metafields.recipe.fat }}</p>
            <p class="carbs"><i class="icofont-wheat"></i>Carbs | {{ article.metafields.recipe.carbs }}</p>
            <p class="protein"><i class="icofont-chicken-fry"></i>Protein | {{ article.metafields.recipe.protein }}</p>
            <p class="fiber"><i class="icofont-pear"></i>Fiber | {{ article.metafields.recipe.fiber }}</p>
          </div> {% endcomment %}
        </div>

        <div class="line"></div>

        <div class="description">
          <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
              {% for ingredient in article.metafields.recipe.ingredients.value %}
                <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="instructions">
            <h2>Instructions</h2>

              {% for instruction in article.metafields.recipe.instructions.value %}
               <div class="text-instructions"><div class="sub-instructions"></div><div class="text-instruction">{{ instruction }}</div>  </div>
              {% endfor %}

          </div>

          {% if article.metafields.recipe.tip %}
            <div class="tip-wrapper">
              <h2><i class="icofont-bulb-alt"></i>Tip</h2>
              <p>{{ article.metafields.recipe.tip }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <style>
    .sub-instructions {
      padding-left: 10px;
    }

    .top-bar-button {
      cursor: pointer;
      font-size: 35px;
      color: {{ carbs_bar_text_color }};
    }

    .line {
      width: 300px;
      border-bottom: 2px solid var(--peach);
      margin: 30px auto;
    }

    .level-icon {
      display: flex;
      align-items: baseline;
      gap: 1px;
    }

    .level-icon .rec {
      height: 15px;
      width: 10px;
      background: {{ carbs_bar_text_color }};
      border-radius: 3px;
    }

    .level-icon.high .rec:first-child {
      height: 10px;
    }

    .level-icon.low .rec:first-child {
      height: 20px;
    }

    .level-icon.high .rec:last-child {
      height: 20px;
    }

    .level-icon.low .rec:last-child {
      height: 10px;
    }

    #recipe-page {
      font-size: 22px;
    }

    #recipe-page h2 {
      color: var(--peach);
      margin-bottom: 10px;
      font-size: 32px;
    }

    #recipe-page p {
      margin: unset;
    }

    #recipe-page .top-bar {
      background-color: {{ carbs_bar_bg_color }};
      color: {{ carbs_bar_text_color }};
    }

    #recipe-page .top-bar .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px 0;
      font-weight: bold;
      font-size: 26px;
    }

    #recipe-page .top-bar .carbs-level {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    #recipe-page .top-bar p {
      margin: 0;
      font-weight: bold;
    }


    #recipe-page .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-top: 30px;
    }

    #recipe-page .info h1 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }

    #recipe-page .info .subtitles {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-weight: bold;
      color: var(--dark-green);
    }

    #recipe-page .info .nutrients {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: var(--dark-green);
    }

    #recipe-page .info i {
      color: var(--peach);
      margin-right: 10px;
      font-size: 30px;
    }

    #recipe-page .description {
      display: grid;
      gap: 50px;
    }

    #recipe-page .ingredients {
      grid-column: 1/2;
    }

    #recipe-page .ingredients ul {
      list-style: disc;
    }

    #recipe-page .instructions {
      grid-column: 1/3;
      grid-row: 2/3;
    }



    #recipe-page .instructions .text-instructions {
      display: flex;
      counter-increment: instructions-counter;
      margin-bottom: 20px;
      line-height: 1.8em;
    }

    #recipe-page .instructions .text-instructions .sub-instructions::before {
      content: counter(instructions-counter) "";
      color: white;
      background: var(--peach);
      padding: 5px 13px;
      font-weight: bold;
      border-radius: 50%;
      max-width: 10px;
      max-height: 10px;
      margin-right: 30px;
      line-height: 1.8em;
    }

    #recipe-page .instructions .text-instructions .text-instruction {

    }

    #recipe-page .tip-wrapper {
      grid-column: 2/3;
      width: 400px;
      justify-self: right;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px solid var(--peach);
      padding: 20px;
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      #recipe-page h1 {
        font-size: 10vw;
        margin-bottom: unset;
      }

      #recipe-page h2 {
        font-size: 7vw;
      }

      #recipe-page .info .subtitles {
        font-size: 4vw;
        flex-direction: column-reverse;
      }

      #recipe-page .info .nutrients {
        font-size: 5vw;
        flex-wrap: wrap;
      }

      #recipe-page .description {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10vw;
      }

      #recipe-page .instructions .text-instructions .sub-instructions::before {
        margin-right: 4vw;
      }
    }
  </style>

  <script>
    $('.print-button').on('click',function() {
      $("header").hide();
      $("footer").hide();
      window.print();
      $("header").show();
      $("footer").show();
    });
  </script>
{% else %}
  <div class="container">
    <i class="icofont-simple-smile main-icon"></i>
    <h1> Happy to see you here!<br>
    Ready to take control of your health?<br>
    Join our health program and get the support you need to live a healthier life.</h1>
    <a href="/products/30-day-blood-sugar-challenge-pp"><button class="cta-btn">Get Started Today!</button></a>
  </div>

  <style>
    .main-icon {
      font-size: 100px;
    }

    main .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 20px;
      font-size: 15px;
      padding: 80px;
    }

    .cta-btn {
      font-size: 20px;
      font-weight: bold;
      background-color: var(--green);
    }
  </style>
{% endif %}

<script>
  document.getElementById('go-back').addEventListener('click', () => {
    history.back();
  });
</script>