<div class="login-page">
    <div class="container">
        <div class="mini-wrap">
            <div class="page-title">
                <div class="sub-title">
                    <h1>{{section.settings.rst_titl}}</h1>
                </div>
            </div>
            <div class="login-form">
                {% if section.settings.rst_img != blank %}
                <div class="picture">
                    <div class="img-wrap">
                        <img src="{{ section.settings.rst_img | img_url: '' }}" width="560px" height="143px" alt="happy people" loading="lazy">
                    </div>
                </div>
                {% endif %}
                <div class="form-wrap">
                    <div class="main-action">
                        <div class="sub-title d-desktop">
                            <h4>{{section.settings.rst_sbtitl}}</h4>
                        </div>
                        <div class="sub-title d-mobile">
                            <h4>{{section.settings.rst_mbltitl}}</h4>
                            <p>{{section.settings.rst_mbldes}}</p>
                        </div>
                        {% form 'recover_customer_password', id:'rst_popup' %}
                        {{ form.errors | default_errors}}

                            <div class="form-fields">
                                <label class="full-size">
                                    <input type="email" placeholder="E-mail" name="email" id="recover-email"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email">
                                </label>
                            </div>
                            <div class="submit-form">
                                <button id="submit_reset_btn" type="submit" class="main-btn">Submit</button>
                            </div>
                        {% endform %} 
                    </div>
                    <div class="extra-action">
                        <div class="text">
                            <p>Do you want to login?</p>
                        </div>
                        <div class="btn">
                            <a href="/account/login" class="main-btn blank">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Reset Password",
        "settings": [
             
            {
                "type": "text",
                "id": "rst_titl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "header", 
                "content": "Image Section Start" 
            },
            {
                "type": "image_picker",
                "id": "rst_img",
                "label": "Select Image"
            },
            {
                "type": "header", 
                "content": "form Section Start" 
            },
            {
                "type": "text",
                "id": "rst_sbtitl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "text",
                "id": "rst_mbltitl",
                "label": "Mobile Title",
                "default": "Enter Mobile Title"
            },
            {
                "type": "textarea",
                "id": "rst_mbldes",
                "label": "Mobile Description",
                "default": "Enter Mobile Description"
            }
            
        ],    
            
        "presets":[
            {
                "name": "Reset Password",
                "category": "Account"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
    $(document).ready(function(){
  
          $("#submit_reset_btn").click(function(){
            localStorage.setItem("reset_password", true);
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
  var email = $("#recover-email").val();
  if(!filter.test(email)){
    $("#recover-email").css("border-color","red");
    return false;
  }
            if ($.trim($("#recover-email").val()) != "" ) {
       
             $("#rst_popup").submit();
        }
        else{
           
             return false;
        }

           
        
          });
    });
</script>