
{% for block in section.blocks %}
{% if block.type == 'retail-program' %}
<div class="retail-program top-space">
    <div class="container">
        <div class="mini-wrap">
            <div class="refer-wrap {{block.settings.bgclr_style}} {{block.settings.imgpos_style}}">
                <div class="refer-text">
                    <div class="refer-label">
                        <p>{{block.settings.retail_pretitl}}</p>
                    </div>
                    <div class="intro-text">
                        <div class="sub-title">
                            {% if forloop.first %}
                            <h1>{{block.settings.retail_titl}}</h1>
                            {% else %}
                            <h2>{{block.settings.retail_titl}}</h2>
                            {% endif %}
                            <p>{{block.settings.retail_desc}}</p>
                        </div>
                    </div>
                    <div class="intro-btn">
                        <a href="{{block.settings.retail_btnlink}}" class="main-btn">{{block.settings.retail_btntitl}}</a>
                    </div>
                </div>
                {%if block.settings.retail__btmimg != blank %}
                <div class="refer-img">
                    <div class="img-wrap">
                       <img src="{{ block.settings.retail__btmimg | img_url: '' }}" width="367px" height="280px"  alt="" loading="lazy"> 
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if block.settings.retail_txtdesc != blank %}
<div class="retail-text">
    <div class="container">
        <div class="mini-wrap">
            <div class="text-wrap">
                <p>{{block.settings.retail_txtdesc}}</p>
            </div>
            {% if block.settings.retail_txtbtntitl != blank %}
            <div class="btn-wrap">
                <a href="{{block.settings.retail_txtbtnlink}}" class="main-btn blank">{{block.settings.retail_txtbtntitl}}</a>
            </div>
            {% endif %}
        </div> 
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}



{% schema %}
    {
        "name": "Retail Program",
        "settings": [
            
           
        ],
        "blocks": [
            {
                "type": "retail-program",
                "name": "Retail Program Content",
                "settings": [
                    {
                            "type":"select",
                            "id": "bgclr_style",
                            "label": "Select Background Color",
                            "options": [
                            {
                                "label": "Green",
                                "value": "green-bg"
                            },
                            {
                                "label": "Orange",
                                "value": "orange-bg"
                            }
                        ]

                    },
                    {
                            "type":"select",
                            "id": "imgpos_style",
                            "label": "Select Image Position",
                            "options": [
                            {
                                "label": "Right",
                                "value": ""
                            },
                            {
                                "label": "Left",
                                "value": "reverse"
                            }
                        ]

                    },
                    {
                        "type": "text",
                        "id": "retail_pretitl",
                        "label": "Pre Title",
                        "default": "Enter Pre Title"
                    },    
                    {
                        "type": "text",
                        "id": "retail_titl",
                        "label": "Title",
                        "default": "Enter Title"
                    },
                    {
                        "type": "textarea",
                        "id": "retail_desc",
                        "label": "Description",
                        "default": "Enter Description"
                    },
                    {
                        "type": "text",
                        "id": "retail_btntitl",
                        "label": "Button Title",
                        "default": "Enter Button Title"
                    },
                    {
                        "id": "retail_btnlink",
                        "type": "url",
                        "label": "Button Link"
                    },
                    {
                        "type": "image_picker",
                        "id": "retail__btmimg",
                        "label": "Select Image"
                    },
                    {
                        "type": "header", 
                        "content": "Retail Text Section Start" 
                    },
                    {
                        "type": "textarea",
                        "id": "retail_txtdesc",
                        "label": "Description"
                        
                    },
                    {
                        "type": "text",
                        "id": "retail_txtbtntitl",
                        "label": "Button Title"
                        
                    },
                    {
                        "id": "retail_txtbtnlink",
                        "type": "url",
                        "label": "Button Link"
                    }  
                
                ]    
            }  
    
        ],
        "presets":[
            {
                "name": "Retail Program",
                "category": "image"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}