
<div class="supplements">
  <div class="container" >
    <div class="supplement-tech-wrapper">
      <div class="wrapper">
        <div class="taeb-switch left">
          <div class="taeb active-button" taeb-direction="left">Supplement</div>
          <div class="taeb" taeb-direction="right">Tech</div>
        </div>
      </div>

      <div id="screen1" class="screen screen1">
        <div class="tabbed-content desktop-version">
          <nav class="tabs">
            <ul>
              <li><span>1</span><a href="#tab1" class="active">Start With A Need</a></li>
              <li><span>2</span><a href="#tab2">Driven By Research</a></li>
              <li><span>3</span><a href="#tab3">Our Commitment To Excellence</a></li>
              <li><span>4</span><a href="#tab4">What You See Is What You Get </a></li>
            </ul>
          </nav>
          <div class="content">
            <div id="tab1" class="item active">
              <p>Managing metabolic disorders can be a challenging and overwhelming experience and can have a significant impact on your quality of life. When you’re able to get your conditions under control, however, the benefits are immeasurable! You'll experience improvements in physical health, like better blood sugar control and lower blood pressure, and a boost in mental and emotional well-being. Plus, with all that extra energy, you'll be able to take on the world and enjoy life to the fullest!</p>
              <img class="desktop-img" src="{{'science-page-start-img-1.png' | asset_url }}" width="464" height="468" alt="">
            </div>
            <div id="tab2" class="item">
              <p>We believe in the power of nature and ancient knowledge to provide healing and wellness. We are constantly exploring the natural world for potent ingredients and incorporating ancient techniques and remedies into our products and formulations. While some of the scientific terms and concepts may be unfamiliar to some, we trust in the expertise and research from our team to bring you the most effective and natural solutions possible.</p>
              <img class="desktop-img" src="{{'science-page-start-img-2.png' | asset_url }}" width="390" height="468" alt="">
            </div>
            <div id="tab3" class="item">
              <p>There are no hidden secrets or surprises in our formulas - what you see is exactly what you get. We prioritize transparency so you can feel confident and comfortable with what you're putting into your body. We're proud to offer ingredients that are clinically tested, non-GMO, vegan, vegetarian, and gluten-free, so you can feel at ease.</p>
              <img class="desktop-img" src="{{'science-page-start-img-3.png' | asset_url }}" width="388" height="468" alt="">
            </div>
            <div id="tab4" class="item">
              <p>We take pride in the quality and safety of our products. Our products are manufactured in facilities that meet the highest requirements for transparency and traceability and have been regulated by the FDA and certified by third parties to be in compliance with current Good Manufacturing Practices (cGMPs). Each capsule is carefully formulated to meet our specifications for purity, and potency, and is rigorously tested to ensure that it meets all label claims and free from contaminants. We prioritize the quality and safety of our products, and are committed to providing our customers with the best possible health and wellness solutions.</p>
              <img class="desktop-img" src="{{'science-page-start-img-4.png' | asset_url }}" width="311" height="468" alt="">
            </div>
          </div>
        </div>

        <div class="tabbed-content mobile-version">
          <nav class="tabs">
            <ul>
              <li><span>1</span><a href="#tab11" class="active">Start with a need</a></li>

              <div class="content">
                <div id="tab11" class="item active">
                  <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
                  <img class="mobile-img" src="{{'science-page-start-img-1.png' | asset_url }}" width="464" height="468" alt="">
                </div>
              </div>

              <li><span>2</span><a href="#tab12">Driven by research</a></li>

              <div class="content">
                  <div id="tab12" class="item">
                    <p>We believe in the power of nature and ancient knowledge to provide healing and wellness. We are constantly exploring the natural world for potent ingredients and incorporating ancient techniques and remedies into our products and formulations. While some of the scientific terms and concepts may be unfamiliar to some, we trust in the expertise and research from our team to bring you the most effective and natural solutions possible.</p>
                    <img class="mobile-img" src="{{'science-page-start-img-2.png' | asset_url }}" width="390" height="468" alt="">
                  </div>
              </div>
              <li><span>3</span><a href="#tab13">Our commitment to excellence</a></li>

              <div class="content">
                  <div id="tab13" class="item">
                    <p>There are no hidden secrets or surprises in our formulas - what you see is exactly what you get. We prioritize transparency so you can feel confident and comfortable with what you're putting into your body. We're proud to offer ingredients that are clinically tested, non-GMO, vegan, vegetarian, and gluten-free, so you can feel at ease.</p>
                    <img class="mobile-img" src="{{'science-page-start-img-3.png' | asset_url }}" width="388" height="468" alt="">
                  </div>
              </div>
              <li><span>4</span><a href="#tab14">What you see is what you get </a></li>

              <div class="content">
                  <div id="tab14" class="item">
                    <p>We take pride in the quality and safety of our products. Our products are manufactured in facilities that meet the highest requirements for transparency and traceability and have been regulated by the FDA and certified by third parties to be in compliance with current Good Manufacturing Practices (cGMPs). Each capsule is carefully formulated to meet our specifications for purity, and potency, and is rigorously tested to ensure that it meets all label claims and free from contaminants. We prioritize the quality and safety of our products, and are committed to providing our customers with the best possible health and wellness solutions.</p>
                    <img class="mobile-img" src="{{'science-page-start-img-4.png' | asset_url }}" width="311" height="468" alt="">
                  </div>
              </div>
            </ul>
          </nav>
        </div>
      </div>

      <div id="screen2" class="screen screen2" style="display:none;">
        <div class="tabbed-content desktop-version">
            <nav class="tabs">
              <ul>
                <li><a href="#tab5" class="active">Start With A Need</a></li>
                <li><a href="#tab6">How We Do What We Do</a></li>
                <li><a href="#tab7">Technology</a></li>
                <li><a href="#tab8">Innovation</a></li>
                <li><a href="#tab9">Human Experience</a></li>
                <li><a href="#tab10">Your Data Is Secured</a></li>
              </ul>
            </nav>
            <div class="content">
              <div id="tab5" class="item active">
                <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
                <img class="desktop-img" src="{{'science-page-start-img-5.png' | asset_url }}" width="558" height="499" alt="">
              </div>
              <div id="tab6" class="item">
                <p>Healthcare should be an empowering experience for patients. That's why we've created a platform that puts patients in control of their healthcare decisions and uses engaging techniques like gamification to make the process enjoyable. We are passionate about innovation that makes healthcare more accessible, affordable, and convenient for all. By empowering patients as customers, we can revolutionize the healthcare industry and improve the lives of people everywhere.</p>
                <img class="desktop-img" src="{{'science-page-start-img-6.png' | asset_url }}" width="343" height="501" alt="">
              </div>
              <div id="tab7" class="item">
                <p>We're on a mission to bring healthcare within reach for everyone. Equality in care is at the base of everything we do. We know that superior clinical outcomes are rooted in personalizing care programs that actually work for people. Why? Because getting patients involved in their own care makes all the difference. And the best part? By doing all this, we are partnering with patients and providers, making this whole thing called health actually work ;)</p>
                <img class="desktop-img" src="{{'science-page-start-img-7.png' | asset_url }}" width="764" height="499" alt="">
              </div>
              <div id="tab8" class="item">
                <p>Healthcare is expensive. It’s expensive for those without insurance, of course, but also for those who don't have enough coverage and even those with ‘good’ coverage. We use digital first innovation to cut costs, and connect between therapeutics and digital therapeutics that form habits that stick, and health that lasts. We aren't shy with reinventing and challenging the status quo, working with patients, providers and medical professionals alike.</p>
                <img class="desktop-img" src="{{'science-page-start-img-8.png' | asset_url }}" width="730" height="499" alt="">
              </div>
              <div id="tab9" class="item">
                <p>Technology can be as disruptive, as advanced as going to mars, but when it's about your health, you first need tech that you understand and that understands you. That you can use comfortably without asking your grandson’s help. We make sure the screens you see, the buttons you press and the overall experience you have with our tech is awesome.</p>
                <img class="desktop-img" src="{{'science-page-start-img-9.png' | asset_url }}" width="730" height="499" alt="">
              </div>
              <div id="tab10" class="item">
                <p>Patient data security is of the utmost importance. We follow all HIPAA and GDPR regulations to ensure that your personal information is kept confidential. In addition, we have implemented robust cyber protocols to protect against any unauthorized access or breaches. Rest assured that your data is in good hands and we take every precaution to keep it secure. Your trust is important to us, and we are committed to upholding the highest standards of data protection.</p>
                <img class="desktop-img" src="{{'science-page-start-img-10.png' | asset_url }}" width="730" height="499" alt="">
              </div>
            </div>
          </div>
        <div class="tabbed-content mobile-version">
          <nav class="tabs">
            <ul>
              <li><a href="#tab15" class="active"><span>1</span> Start with a need</a></li>

              <div class="content">
              <div id="tab15" class="item active">
                <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
                <img class="mobile-img" src="{{'science-page-start-img-5.png' | asset_url }}" width="558" height="499" alt="">
              </div>
              </div>

              <li><a href="#tab16"><span>2</span> How we do what we do</a></li>

              <div class="content">
                <div id="tab16" class="item">
                  <p>Healthcare should be an empowering experience for patients. That's why we've created a platform that puts patients in control of their healthcare decisions and uses engaging techniques like gamification to make the process enjoyable. We are passionate about innovation that makes healthcare more accessible, affordable, and convenient for all. By empowering patients as customers, we can revolutionize the healthcare industry and improve the lives of people everywhere.</p>
                  <img class="mobile-img" src="{{'science-page-start-img-6.png' | asset_url }}" width="343" height="501" alt="">
                </div>
              </div>
              <li><a href="#tab17"><span>3</span> Technology</a></li>

              <div class="content">
                <div id="tab17" class="item">
                  <p>We're on a mission to bring healthcare within reach for everyone. Equality in care is at the base of everything we do. We know that superior clinical outcomes are rooted in personalizing care programs that actually work for people. Why? Because getting patients involved in their own care makes all the difference. And the best part? By doing all this, we are partnering with patients and providers, making this whole thing called health actually work ;)</p>
                  <img class="mobile-img" src="{{'science-page-start-img-7.png' | asset_url }}" width="764" height="499" alt="">
                </div>
              </div>
              <li><a href="#tab18">Innovation</a></li>

              <div class="content">
                <div id="tab18" class="item">
                  <p>Healthcare is expensive. It’s expensive for those without insurance, of course, but also for those who don't have enough coverage and even those with ‘good’ coverage. We use digital first innovation to cut costs, and connect between therapeutics and digital therapeutics that form habits that stick, and health that lasts. We aren't shy with reinventing and challenging the status quo, working with patients, providers and medical professionals alike.</p>
                  <img class="mobile-img" src="{{'science-page-start-img-8.png' | asset_url }}" width="730" height="499" alt="">
                </div>
              </div>

            <li><span>5</span><a href="#tab19">Human Experience</a></li>

            <div class="content">
              <div id="tab19" class="item">
                <p>Technology can be as disruptive, as advanced as going to mars, but when it's about your health, you first need tech that you understand and that understands you. That you can use comfortably without asking your grandson’s help. We make sure the screens you see, the buttons you press and the overall experience you have with our tech is awesome.</p>
                <img class="mobile-img" src="{{'science-page-start-img-9.png' | asset_url }}" width="730" height="499" alt="">
              </div>
            </div>

            <li><span>6</span><a href="#tab20">Your data is secured</a></li>

            <div class="content">
              <div id="tab20" class="item">
                <p>Patient data security is of the utmost importance. We follow all HIPAA and GDPR regulations to ensure that your personal information is kept confidential. In addition, we have implemented robust cyber protocols to protect against any unauthorized access or breaches. Rest assured that your data is in good hands and we take every precaution to keep it secure. Your trust is important to us, and we are committed to upholding the highest standards of data protection.</p>
                <img class="mobile-img" src="{{'science-page-start-img-10.png' | asset_url }}" width="730" height="499" alt="">
              </div>
            </div>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .supplement-tech-wrapper {
      margin: 50px auto;
      background: #FFFFFF;
      border: 1px solid #E8E8B0;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      overflow: hidden;
  }

  .taeb-switch {
    position: relative;
    display: flex;
  }

  .taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
    border-radius: 37px;
    border: 1px solid #404733;
    height: 100%;
    z-index: 0;
    background: #404733;
  }

  .taeb-switch.left:after {
    left: 0;
  }

  .taeb-switch.right:after {
    left: 50%;
  }

  .taeb-switch.left.active-button:after {
    left: 50%;
  }

  .taeb-switch.right.active-button:after {
    left: 0;
  }

  .taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    z-index: 1;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    line-height: normal;
    user-select: none;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(20px, 2vw, 30px);
    color: #404733;
    text-align: center;
  }

  .taeb-switch .taeb.active-button {
    color: #ffffff;
  }

  .wrapper {
    border-radius: 37px;
    border: 1px solid #404733;
    width: 100%;
    max-width: 509px;
    margin:40px auto;
  }

  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 90%;
    }

    .taeb-switch .taeb {
      padding: 2vw;
    }
  }

  .tabbed-content.desktop-version {
    display: flex;
    padding-left: 20px;
    gap: 20px;
    position: relative;
  }

  .tabbed-content.mobile-version {
    display: none;
  }

  .tabs {
    display: flex;
    min-width: 15%;
    margin-bottom: 1rem;
    position: relative;
  }

  .border-green {
    border-top: 1px solid #9EB069;
  }

  .tabs li {
    border-bottom: 1px solid var(--light-green);
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .tabs a span {
    min-width: 40px;
  }

  .tabs a {
    font-size: clamp(25px, 2vw, 30px);
  }

  .tabs li:last-of-type {
    border-bottom: unset;
  }

  .tabs a.active {
      color: #9EB069;
  }

  .content {
    background: #F9F9F9;
    display: flex;
    padding: 20px;
    width: 100%;
  }

  .content .item {
    display: none;
  }

  .content .item.active {
    display: flex;
  }

  .content p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(10px, 2vw, 17px);
    line-height: 26px;
    letter-spacing: -0.01em;
    max-width: 400px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    z-index: 10;
  }

  .desktop-img {
    max-width: 60%;
    position: relative;
    right: 0;
    bottom: 0;
    position: absolute;
    max-height: 100%;
    object-fit: scale-down;
    object-position: right;
    }

  @media screen and (max-width: 768px) {
    .mobile-img {
      width: 100%;
    }

    .tabs {
      margin-bottom: unset;
    }
    .content {
      background: unset;
    }

    .tabbed-content.desktop-version {
      display: none;
    }

    .tabbed-content.mobile-version {
      display: flex;
    }
    .tabbed-content {
      flex-direction: column;
    }

    .border-green {
      display: none;
      margin-left: 2vw;
      width: 88vw;
    }

    .tabs ul {
      width: 100%;
    }

    .tabs li {
      padding: 2vw;
    }

    .tabs a span {
      padding-right: 3vw;
      color: #9EB069;
    }

    .tabs a {
      display: flex;
      font-size: 5vw;
      line-height: 6vw;
      border-bottom: 1px solid #9EB069;
      margin: unset;
      padding: 3vw 2vw 4vw;
      max-width: unset;
    }

    .tabs a.active {
      border-bottom: unset;
    }

    .tabs a::after{
      position: absolute;
      right: 8vw;
      content: "+";
      font-size: 7vw;
      color: #9EB069;
      transition: transform 0.5s;
    }

    .tabs a.active::after {
      color: #9EB069;
      transform: rotate(45deg);
    }

    .content p {
      max-width: unset;
      font-size: 4vw;
      line-height: 5vw;
      padding: 2vw 3vw;
    }

    .content .item.active {
      flex-direction: column;
    }
  }
</style>

<script>
  var taeb = $(".taeb-switch");
  taeb.find(".taeb").on("click", function() {
    console.log("function"  );
  var $this = $(this);

    if ($this.hasClass("active-button")) return;

    var direction = $this.attr("taeb-direction");

    console.log("direction: "+direction)

    taeb.removeClass("left right").addClass(direction);
    taeb.find(".taeb.active-button").removeClass("active-button");
    $this.addClass("active-button");
  });
</script>

<script>
  // Get the List and Map buttons
  var suplBtn = document.querySelector('.taeb-switch .taeb[taeb-direction="left"]');
  var techBtn = document.querySelector('.taeb-switch .taeb[taeb-direction="right"]');

  // Get the screens
  var screen1 = document.getElementById('screen1');
  var screen2 = document.getElementById('screen2');

  // Add click event listeners to the buttons
  suplBtn.addEventListener('click', function() {
    // Set the List button to active
    suplBtn.classList.add('active-button');
    techBtn.classList.remove('active-button');

    // Show screen1 and hide screen2
    screen1.style.display = 'block';
    screen2.style.display = 'none';
  });

  techBtn.addEventListener('click', function() {
    // Set the Map button to active
    techBtn.classList.add('active-button');
    suplBtn.classList.remove('active-button');

    // Show screen2 and hide screen1
    screen2.style.display = 'block';
    screen1.style.display = 'none';
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tabs = document.querySelectorAll(".tabs a");

    tabs.forEach(function(tab) {
      tab.addEventListener("click", function(event) {
        event.preventDefault();
        const target = this.getAttribute("href");
        const items = document.querySelectorAll(".content .item");

        tabs.forEach(function(tab) {
          tab.classList.remove("active");
        });

        items.forEach(function(item) {
          item.classList.remove("active");
        });

        if (window.innerWidth <= 768) { // Check screen size
          if (this.classList.contains("active")) { // Check if already active
            this.classList.remove("active");
            document.querySelector(target).classList.remove("active");
          } else {
            this.classList.add("active");
            document.querySelector(target).classList.add("active");
          }
        } else {
          this.classList.add("active");
          document.querySelector(target).classList.add("active");
        }
      });

      if (window.innerWidth <= 768) { // Check screen size
        // Add toggle functionality for mobile
        tab.addEventListener("touchstart", function(event) {
          if (this.classList.contains("active")) {
            // Prevent touchstart event from triggering click event
            event.preventDefault();
            document.querySelector(".border-green").style.display = "none";

            // Remove active class
            this.classList.remove("active");
            document.querySelector(this.getAttribute("href")).classList.remove("active");
          }
        });
      }
    });
  });
</script>

{% schema %}
{
    "name": "Supplements",
    "tag": "section",
    "class": "supplements",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "blocks": [
      {
        "type": "slides",
        "name": "Slides",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Supplements"
    }]
}
{% endschema %}