<header>
  <div class="container">
    <div class="header-content flex justify-between p-4">
      <div class="header__logo">
        <img src="{{ section.settings.logo_img | image_url }}" alt="{{ shop.name }}">
      </div>

      <div class="header__links flex gap-4">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link_url }}" {% if block.settings.link_new_tab %}target="_blank"{% endif %}>{{ block.settings.link_title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>

<style>
  header {
    background-color: {{ section.settings.bg_color }};
  }
</style>

{% schema %}
{
  "name": "Simple Header",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo Image"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "id": "link_new_tab",
          "label": "Open in new tab"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Header",
      "category": "Header"
    }
  ]
}
{% endschema %}