<header class="simple-header">
  <div class="container">
    <div class="header-content flex items-center justify-between p-4">
      <div class="header__logo">
        <img class="max-h-[50px]" src="{{ section.settings.logo_img | image_url }}" alt="{{ shop.name }}">
      </div>

      <div class="header__links flex gap-8">
        {% for block in section.blocks %}
          <a {% if block.settings.is_button_style %}class="button"{% endif %} href="{{ block.settings.link_url }}" {% if block.settings.link_new_tab %}target="_blank"{% endif %}>{{ block.settings.link_title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>

<style>
  header.simple-header {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }

  header.simple-header .header_links a.button {
    background-color: var(--orange);
    color: black;
    border-radius: 15px;
  }
</style>

{% schema %}
{
  "name": "Simple Header",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo Image"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "id": "is_button_style",
          "label": "Button Style"
        },
        {
          "type": "checkbox",
          "id": "link_new_tab",
          "label": "Open in new tab"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Header",
      "category": "Header"
    }
  ]
}
{% endschema %}