<section>
  <div class="container">
    <div class="story">
      <div class="details">
        <h2 class="customer-name">{{ section.settings.customer_name }}</h2>

        <div class="stars flex">{% for i in (1..5) %}<i class="text-yellow fa-solid fa-star w-4 h-6"></i>{% endfor %}</div>

        <div class="blood-sugar-levels flex bg-[--blue] text-white">
          <div class="number">{{ section.settings.blood_sugar_levels }}</div>
          <div class="text">Maintained healthy blood sugar level</div>
        </div>

        <h3 class="title">{{ section.settings.title }}</h3>
        <div class="content">{{ section.settings.story }}</div>
        <div class="read-more-link">Read More</div>
      </div>

      <div class="image-wrapper">
        <img src="{{ section.settings.customer_image | image_url }}" alt="{{ section.settings.customer_name }} Success Story">

        <div class="quote">{{ section.settings.quote }}</div>
      </div>
    </div>

    <div class="read-more-content">
      <div class="content">{{ section.settings.hidden_story_content }}</div>
      <div class="read-less-link">Read Less</div>
    </div>
  </div>
</section>

<script>
  const readMoreLink = document.querySelector('.read-more-link');
  const readMoreContent = document.querySelector('.read-more-content');
  const readLessLink = document.querySelector('.read-less-link');

  readMoreLink.addEventListener('click', () => {
    readMoreContent.show();
  });

  readLessLink.addEventListener('click', () => {
    readMoreContent.hide();
  });
</script>

{% schema %}
{
  "name": "Success Story",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "quote_bg_color",
      "label": "Quote Background Color"
    },
    {
      "type": "image_picker",
      "id": "customer_image",
      "label": "Customer Image"
    },
    {
      "type": "text",
      "id": "customer_name",
      "label": "Customer Name"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Story Title"
    },
    {
      "type": "richtext",
      "id": "story",
      "label": "Story"
    },
    {
      "type": "richtext",
      "id": "hidden_story_content",
      "label": "Hidden Story Content"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "number",
      "id": "blood_sugar_levels",
      "label": "Blood Sugar Levels",
      "default": 90
    }
  ]
}
{% endschema %}