<section class="success-story">
  <div class="container">
    <div class="story flex">
      <div class="details w-1/2">
        <h2 class="customer-name">{{ section.settings.customer_name }}</h2>

        <div class="stars flex gap-8">{% for i in (1..5) %}<i class="text-yellow fa-solid fa-star w-4 h-6"></i>{% endfor %}</div>

        <div class="blood-sugar-levels flex bg-[--blue] text-white w-[260px] rounded-[2rem] mb-8 px-4 py-1 gap-2 items-center">
          <div class="number text-[40px] font-semibold">{{ section.settings.blood_sugar_levels }}</div>
          <div class="text">Maintained healthy blood sugar level</div>
        </div>

        <h3 class="title h4">{{ section.settings.title }}</h3>
        <div class="content">{{ section.settings.story }}</div>
        <a class="read-more-link">Read More</a>
      </div>

      <div class="image-wrapper relative w-1/2">
        <img class="w-3/4 mr-0" src="{{ section.settings.customer_image | image_url }}" alt="{{ section.settings.customer_name }} Success Story">

        <div class="quote font-bold absolute w-3/4 bottom-[-40px] text-white p-8"><i class="fa-solid fa-quote-left absolute"></i>{{ section.settings.quote }}</div>
      </div>
    </div>

    <div class="read-more-content hidden">
      <div class="content">{{ section.settings.hidden_story_content }}</div>
      <a class="read-less-link">Read Less</a>
    </div>
  </div>
</section>

<script>
  const readMoreLink = document.querySelector('.read-more-link');
  const readMoreContent = document.querySelector('.read-more-content');
  const readLessLink = document.querySelector('.read-less-link');

  readMoreLink.addEventListener('click', () => {
    readMoreContent.show();
  });

  readLessLink.addEventListener('click', () => {
    readMoreContent.hide();
  });
</script>

<style>
  .success-story {
    background-color: {{ section.settings.bg_color }};
  }

  .success-story .quote {
    background-color: {{ section.settings.quote_bg_color }};
  }
</style>

{% schema %}
{
  "name": "Success Story",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "quote_bg_color",
      "label": "Quote Background Color"
    },
    {
      "type": "image_picker",
      "id": "customer_image",
      "label": "Customer Image"
    },
    {
      "type": "text",
      "id": "customer_name",
      "label": "Customer Name"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Story Title"
    },
    {
      "type": "richtext",
      "id": "story",
      "label": "Story"
    },
    {
      "type": "richtext",
      "id": "hidden_story_content",
      "label": "Hidden Story Content"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "number",
      "id": "blood_sugar_levels",
      "label": "Blood Sugar Levels",
      "default": 90
    }
  ],
  "presets": [
    {
      "name": "Success Story",
      "category": "Story"
    }
  ]
}
{% endschema %}