
{% if block_index %}
  {% assign section_id = block_index %}
{% else %}
  {% assign section_id = section.id %}
{% endif %}

<section class="text-section text-section-{{ section_id }} h-680">
  <div class="md:gap-4 md:flex-col container flex items-center justify-between gap-8">
    <div class="content py-16 md:py-0 md:w-full md:mb-8 text-{{ text_align }} md:text-{{ text_align_mobile }} w-45%">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.content }}</p>

      {% if section.settings.link_title_1 %}
        <div class="links justify-{{ section.settings.text_align }} md:justify-{{ section.settings.text_align_mobile }}">
          {% if section.settings.link_url_1 %}
            <a href="{{ section.settings.link_url_1 }}">{{ section.settings.link_title_1 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
          {% if link_url_2 %}
            <a href="{{ section.settings.link_url_2 }}">{{ section.settings.link_title_2 }} <i class="fa-thin fa-arrow-right"></i></a>
          {% endif %}
        </div>
      {% endif %}

      {% unless section.settings.button_title == blank %}
        <a href="{{ section.settings.button_link }}"><button class="md:w-full">{{ section.settings.button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  {% if section.settings.bg_image %}
    section.text-section-{{ section_id }} {
      background-image: url({{ section.settings.bg_image | img_url: '1920x' }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  {% endif %}

  {% if section.settings.text_color %}
    section.text-section-{{ section_id }} {
      color: {{ section.settings.text_color }};
    }

    section.text-section-{{ section_id }} h2 {
      color: {{ section.settings.text_color }};
    }
  {% endif %}

  {% if section.settings.bg_color %}
    section.text-section-{{ section_id }} {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}

  {% if section.settings.button_color %}
    section.text-section-{{ section_id }} button {
      background-color: {{ section.settings.button_color }};
    }
  {% endif %}

  {% if section.settings.button_text_color %}
    section.text-section-{{ section_id }} button {
      color: {{ section.settings.button_text_color }};
    }
  {% endif %}

  section.text-section-{{ section_id }} p strong {
    font-weight: bold;
  }
</style>

<style>
  section.text-section .links {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  section.text-section h2 {
    text-align: inherit;
  }

  section.text-section .links a {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 768px) {
    section.text-section {
      max-height: unset !important;
    }
  }
</style>

{% schema %}
{
  "name": "Text Section",
  "tag": "section",
  "class": "text-section no-padding",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile (optional)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Links"
    },
    {
      "type": "text",
      "id": "link_title_1",
      "label": "Link Title 1"
    },
    {
      "type": "url",
      "id": "link_url_1",
      "label": "Link URL 1"
    },
    {
      "type": "text",
      "id": "link_title_2",
      "label": "Link Title 2"
    },
    {
      "type": "url",
      "id": "link_url_2",
      "label": "Link URL 2"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color"
    },
    {
      "type": "header",
      "content": "More Options"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "start"
    }
  ],
  "presets": [
    {
      "name": "Text Section"
    }
  ]
}
{% endschema %}