{% if section.settings.is_hide_on_global and shop.name == "CuraLife Global" %}
  {% assign is_hide = true %}
{% endif %}

{% unless is_hide %}
  <section id="section-{{ section.id }}" class="z-10 {% if section.settings.is_hide_on_mobile %}md:hidden{% endif %}">
    <div class="container text-center">
      {% render 'title',
        bg_color: section.settings.bg_color,
        title_color: section.settings.title_color,
        subtitle_color: section.settings.subtitle_color,
        span_color: section.settings.span_color,
        border_color: section.settings.border_color,
        max_width: section.settings.max_width,
        title_tag: section.settings.title_tag,
        title: section.settings.title,
        subtitle: section.settings.subtitle,
        title_swoosh_color: section.settings.title_swoosh_color,
        is_disable_br_desktop: section.settings.is_disable_br_desktop,
        is_hide_on_mobile: section.settings.is_hide_on_mobile,
        is_hide_on_global: section.settings.is_hide_on_global,
        section_id: section.id
      %}

      {% if section.settings.decor_img %}
        <img class="decor-img {% if section.settings.is_decor_remove_on_mobile %}md:hidden{% endif %}" src="{{ section.settings.decor_img | image_url }}" alt="{{ section.settings.decor_img.alt }}" loading="lazy">
      {% endif %}
    </div>
  </section>

  <style>
    #section-{{ section.id }} .container {
      max-width: {{ section.settings.max_width }}%;
    }

    {% if bg_color %}
      #section-{{ section.id }} {
        background-color: {{ section.settings.bg_color }};
      }
    {% endif %}

    {% if section.settings.border_color != blank %}
      #section-{{ section.id }} .container {
        border-bottom: 1px solid {{ section.settings.border_color }};
        padding-bottom: 30px;
      }
    {% endif %}
  </style>

  <style>
    {% if section.settings.padding_top != blank %}
      #title-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
      }
    {% endif %}

    {% if section.settings.padding_bottom != blank %}
      #title-section-{{ section.id }} {
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    {% endif %}

    {% if section.settings.padding_top_mobile != blank %}
      @media screen and (max-width: 768px) {
        #section-{{ section.id }} {
          padding-top: {{ section.settings.padding_top_mobile }}vw;
        }
      }
    {% endif %}

    {% if section.settings.padding_bottom_mobile != blank %}
      @media screen and (max-width: 768px) {
        #section-{{ section.id }} {
          padding-bottom: {{ section.settings.padding_bottom_mobile }}vw;
        }
      }
    {% endif %}

    {% if section.settings.is_remove_padding_bottom %}
      #section-{{ section.id }} {
        padding-bottom: 0;
      }
    {% endif %}

    {% if section.settings.is_remove_padding_top %}
      #section-{{ section.id }} {
        padding-top: 0;
      }
    {% endif %}
  </style>

  {% if decor_img %}
    <style>
      #section-{{ section.id }} .decor-img {
        position: absolute;
        z-index: {% if section.settings.decor_imgis_decor_above %}2{% else %}1{% endif %};
        top: {{ section.settings.decor_position_top }}%;
        left: {{ section.settings.decor_position_left }}%;
        opacity: {{ section.settings.decor_opacity }}%;
        max-width: {{ section.settings.decor_max_width }}%;
      }

      @media screen and (max-width: 768px) {
        #section-{{ section.id }} .decor-img {
          top: {{ section.settings.decor_position_top_mobile }}%;
          left: {{ section.settings.decor_position_left_mobile }}%;
        }
      }
    </style>
  {% endif %}
{% endunless %}

{% schema %}
{
    "name": "Title",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle Color"
      },
      {
        "type": "color",
        "id": "span_color",
        "label": "<span> Text Color"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "id": "title_swoosh_color",
        "label": "Title Decoration Color (<strong>)",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "grey",
            "label": "Grey"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "brown",
            "label": "Brown"
          },
          {
            "value": "green",
            "label": "Green"
          },
          {
            "value": "dark-green",
            "label": "Dark Green"
          },
          {
            "value": "pink",
            "label": "Pink"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "is_disable_br_desktop",
        "label": "Disable <br> on desktop"
      },
      {
        "type": "checkbox",
        "id": "is_hide_on_mobile",
        "label": "Hide on Mobile"
      },
      {
        "type": "checkbox",
        "id": "is_hide_on_global",
        "label": "Hide on Global"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "range",
        "id": "max_width",
        "label": "Maximum Width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 70
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding Top (px unit)",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding Bottom (px unit)",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top on Mobile (vw unit)"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom on Mobile (vw unit)"
      },
      {
        "type": "checkbox",
        "id": "is_remove_padding_top",
        "label": "Remove padding top"
      },
      {
        "type": "checkbox",
        "id": "is_remove_padding_bottom",
        "label": "Remove padding bottom"
      },
      {
        "type": "header",
        "content": "Decoration Image"
      },
      {
        "type": "image_picker",
        "id": "decor_img",
        "label": "Decoration Image"
      },
      {
        "type": "range",
        "id": "decor_opacity",
        "label": "Decoration Opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 100
      },
      {
        "type": "range",
        "id": "decor_max_width",
        "label": "Decoration Maximum Width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 50
      },
      {
        "type": "range",
        "id": "decor_position_top",
        "label": "Decoration Position Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 0
      },
      {
        "type": "range",
        "id": "decor_position_left",
        "label": "Decoration Position Left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 0
      },
      {
        "type": "range",
        "id": "decor_position_top_mobile",
        "label": "Decoration Mobile Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 0
      },
      {
        "type": "range",
        "id": "decor_position_left_mobile",
        "label": "Decoration Mobile Left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "is_decor_above",
        "label": "Decoration Above Content"
      },
      {
        "type": "checkbox",
        "id": "is_decor_remove_on_mobile",
        "label": "Remove Decoration On Mobile"
      }
    ],
    "presets": [
    {
        "name": "Title"
    }
  ]
}
{% endschema %}