<section id="title-section-{{ section.id }}">
  <div class="container text-center">
    <{{ section.settings.title_tag }}>{{ section.settings.title }}</{{ section.settings.title_tag }}>
    <p>{{ section.settings.subtitle }}</p>
  </div>
</section>

{% if section.settings.title_swoosh_color %}
  <style>
    #title-section-{{ section.id }} strong {
      background-image: url('{{ 'title-swoosh-' | append: section.settings.title_swoosh_color | append: '.svg' | asset_url }}');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 8px;
    }
  </style>
{% endif %}

{% if section.settings.bg_color %}
  <style>
    #title-section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }

    {% unless section.settings.subitle %}
      #title-section-{{ section.id }} * {
        margin: unset;
      }
    {% endunless %}
  </style>
{% endif %}

{% schema %}
{
    "name": "Title",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "id": "title_swoosh_color",
        "label": "Title Decoration Color (<strong>)",
        "options": [
          {
            "value": "grey",
            "label": "Grey"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "brown",
            "label": "Brown"
          },
          {
            "value": "green",
            "label": "Green"
          }
        ]
      },
    ],
    "presets": [
    {
        "name": "Title"
    }
  ]
}
{% endschema %}