<section class="video-section video-section-{{ section.id }}">
  <div class="container">
    <div class="video-wrapper">
      <img id="video-thumbnail-{{ section.settings.video_thumbnail_id }}" class="video-thumbnail" src="{{ section.settings.video_thumbnail_image | image_url }}" alt="Video Thumbnail" />
      <iframe src="https://player.vimeo.com/video/{{ section.settings.video_vimeo_id }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="video hidden"></iframe>
    </div>
  </div>
</section>

<script>
  document.getElementById('video-thumbnail-{{ section.settings.video_thumbnail_id }}').addEventListener('click', function() {
    this.style.display = 'none';
    document.querySelector('.video').classList.remove('hidden');
  });
</script>

<style>
  .video-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hidden {
    display: none;
  }
</style>

{% schema %}
{
  "name": "Video",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "video_thumbnail_image",
      "label": "Video Thumbnail Image"
    },
    {
      "type": "text",
      "id": "video_vimeo_id",
      "label": "Video Vimeo ID"
    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}
