{% if product.handle == 'curalin-wholesale' %}
  <section id="wholesale-products-{{ section.id }}">
    <div class="container">
      <div class="products flex justify-center gap-8">
        {% for prod in section.settings.wholesale_products %}
          <div class="product flex w-[400px] gap-4 p-2 items-center" data-product-id="{{ prod.id }}">
            <div class="left w-[25%]">
              <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
            </div>
            <div class="right w-[75%]">
              <h6>{{ prod.title }}</h6>
              <p>{{ prod.price | money }}</p>
              <div class="submit-wrap">
                {% render 'buy-buttons', product: prod, product_form_id: '', section_id: prod.id, is_wholesale: true %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <style>
    #wholesale-products-{{ section.id }} .product {
      border: 1px solid var(--blue);
      border-radius: 10px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap button {
      background-color: var(--orange);
      border-radius: 0px 10px 10px 0;
      font-size: 18px;
      padding: 0.5rem;
      min-height: unset;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
      border: 0;
      background: white;
    }

    @media screen and (max-width: 768px) {
      #wholesale-products-{{ section.id }} {
        grid-area: unset;
        grid-row: 3;
        max-width: unset
      }

      #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
        border: 1px solid var(--orange);
      }

      #wholesale-products-{{ section.id }} .submit-wrap button {
        min-width: 70vw;
      }
    }
  </style>

  <style>
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      display: flex;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment,
    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .decrement {
      cursor: pointer;
      height: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      width: 30px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty input[type=text] {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      width: 50px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }

    /* Quantity Selector Transition */
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      transition: width 0.3s ease;
      width: -webkit-fill-available;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      transition: opacity 0.3s ease;
    }
  </style>

<script>
  function wholesaleIncrementQty() {
    var product_element = $(this).closest('.product');
    var quantityField = product_element.find('#wholesale-products-{{ section.id }} input[name="quantity"]');
    console.log(quantityField);
    var value = parseInt(quantityField.val(), 10);
    value = isNaN(value) ? 1 : value;
    value++;
    quantityField.val(value);
    $(".cart-qty").text(value).addClass("rotate-x");
  }


  function wholesaleDecrementQty() {
    var product_element = $(this).closest('.product');
    var quantityField = product_element.find('#wholesale-products-{{ section.id }} input[name="quantity"]');
    var value = parseInt(quantityField.val(), 10);
    value = isNaN(value) ? 1 : value;
    value = Math.max(1, value - 1);
    quantityField.val(value);
    $(".cart-qty").text(value).addClass("rotate-x");
  }
</script>
{% endif %}

{% schema %}
  {
    "name": "Multiple Products CTA",
    "settings": [
      {
        "type": "product_list",
        "id": "wholesale_products",
        "label": "Select Wholesale Products"
      }
    ],
    "presets": [
      {
        "name": "Wholesale Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}