{% if product.handle == 'curalin-wholesale' %}
  <section id="wholesale-products-{{ section.id }}">
    <div class="container">
      <div class="products flex justify-center gap-8">
        {% for prod in section.settings.wholesale_products %}
          <div class="product flex w-[400px] gap-4 p-2 items-center" data-product-id="{{ prod.id }}">
            <div class="left min-w-[30%]">
              <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
            </div>
            <div class="right">
              <h6>{{ prod.title }}</h6>
              <p>{{ prod.price | money }}</p>
              <div class="submit-wrap">
                {% render 'buy-buttons', product: prod, product_form_id: '', section_id: prod.id %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <style>
    #wholesale-products-{{ section.id }} .product {
      border: 1px solid var(--blue);
      border-radius: 10px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap button {
      background-color: var(--orange);
      border-radius: 0px 10px 10px 0;
      font-size: 18px;
      padding: 0.5rem;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
      border: 0;
      background: white;
    }

    @media screen and (max-width: 768px) {
      #wholesale-products-{{ section.id }} {
        grid-area: unset;
        grid-row: 3;
        max-width: unset
      }

      #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
        border: 1px solid var(--orange);
      }

      #wholesale-products-{{ section.id }} .submit-wrap button {
        min-width: 70vw;
      }
    }
  </style>

  <style>
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      float: left;
      width: 100px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment,
    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .decrement {
      cursor: pointer;
      font-size: 1.2em;
      height: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      width: 30px;
      height: 100%;
      display: inline-block;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty input[type=text] {
      float: left;
      display: flex;
      font-family: "Open Sans", sans-serif;
      outline: 0;
      font-size: 1.2em;
      text-align: center;
      width: 50px;
      height: 100%;
      color: #2a2a2a;
      line-height: 40px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }

    /* Quantity Selector Transition */
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      transition: width 0.3s ease;
      width: -webkit-fill-available;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      transition: opacity 0.3s ease;
    }
  </style>

  <script>
    function incrementQty() {
      var value = document.querySelector('#wholesale-products-{{ section.id }} input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value++;
      document.querySelector('#wholesale-products-{{ section.id }} input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }

    function decrementQty() {
      var value = document.querySelector('#wholesale-products-{{ section.id }} input[name="quantity"]').value;
      var cardQty = document.querySelector(".cart-qty");
      value = isNaN(value) ? 1 : value;
      value > 1 ? value-- : value;
      document.querySelector('#wholesale-products-{{ section.id }} input[name="quantity"]').value = value;
      cardQty.innerHTML = value;
      cardQty.classList.add("rotate-x");
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "Multiple Products CTA",
    "settings": [
      {
        "type": "product_list",
        "id": "wholesale_products",
        "label": "Select Wholesale Products"
      }
    ],
    "presets": [
      {
        "name": "Wholesale Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}