<div class="winning-diabetes">
  {% if section.settings.win_img != blank %}
  <div class="bg-wrap">
     <img src="{{ section.settings.win_img | img_url: '' }}" width="1395px" height="494px" alt="" loading="lazy">
  </div>
   {% endif %}
  <div class="mini-wrap">
      <div class="intro-text">
          <div class="sub-title">
              <h2>{{section.settings.win_titl}}</h2>
              <p>{{section.settings.winr_desc}}</p>
          </div>
          <div class="btn">
              <a href="{{section.settings.win_btnlink}}" class="main-btn" target="_blank">{{section.settings.win_btntitl}}</a>
          </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Winning Diabetes",
  "settings": [
     {
        "type": "image_picker",
        "id": "win_img",
        "label": "Banner image"
      },
    {
      "type": "text",
      "id": "win_titl",
      "label": "Title",
      "default": "Enter Title"
     },
     {
      "type": "textarea",
      "id": "winr_desc",
      "label": "Description",
      "default": "Enter Description"
     },
     {
      "type": "text",
      "id": "win_btntitl",
      "label": "Button Title",
      "default": "Enter Button Title"
     },
     {
        "id": "win_btnlink",
        "type": "url",
        "label": "Button Link"
      }
     
  ],
  "presets":[
    {
    "name": "Winning Diabetes",
    "category": "Home"
    }
]
} 
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}