<section class="contact-us-section" id="contact-us-section">
  {% if box_link %}<a href="{{ box_link }}">{% endif %}
  <div class="container">
    <h2>{{ title }}</h2>

    <div class="contact-options">
      <div class="contact-option">
        <i class="fa-thin fa-comments"></i>
        <p>Live Chat</p>
      </div>
      <div class="contact-option">
        <i class="fa-thin fa-headset"></i>
        <p>Phone Support</p>
      </div>
      <div class="contact-option">
        <i class="fa-thin fa-envelope"></i>
        <p>Email</p>
      </div>
    </div>
    <div class="phone-numbers">
      <div class="phone-number">
        <img src="{{ "icon-flag-uk.png" | asset_url }}" width="32" height="32" alt="" loading="lazy">
        <a href="tel:+448000869122"><p>UK-Toll-Free: +44 800 086 9122</p></a>
      </div>
      <div class="phone-number">
        <img src="{{ "icon-flag-us.png" | asset_url }}" width="32" height="32" alt="" loading="lazy">
        <a href="tel:+18882867307"><p>US-Toll-Free: +1 888 286 7307</p></a>
      </div>
      <div class="phone-number">
        <img src="{{ "icon-flag-au.png" | asset_url }}" alt="" loading="lazy">
        <a href="tel:+611800942961"><p>AU-Toll-Free: +61 1800 942 961</p></a>
      </div>
    </div>
  </div>
  {% if box_link %}</a>{% endif %}
</section>

<style>
  .contact-us-section .container h2 {
    text-align: center;
  }

  .contact-us-section .container .contact-options {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
  }

  .contact-us-section .container .contact-options .contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .contact-us-section .container .contact-options .contact-option svg {
    border-radius: 50%;
    background-color: var(--light-green);
    padding: 20px;
    width: 60px;
    height: 60px;
  }

  .contact-us-section .container .phone-numbers {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin: 30px auto auto;
    align-items: center;
  }

  .contact-us-section .container .phone-numbers .phone-number {
    display: flex;
    align-items: center;
  }

  .contact-us-section .container .phone-numbers .phone-number img {
    width: 25px;
  }

  .contact-us-section .container .phone-numbers .phone-number p {
    font-size: 18px;
    margin: 10px;
    color: black;
  }

  @media screen and (max-width:768px) {
    .contact-us-section .container h2 {
        font-size: 6vw;
        text-align: center;
        max-width: unset;
        margin-bottom: 10px;
    }

    .contact-us-section .container .contact-options {
        gap: 10vw;
        margin-top: 40px;
    }

    .contact-us-section .container .contact-options .contact-option .img-wrapper {
        width: 20vw;
        height: 20vw;
        padding: 15px;
    }

    .contact-us-section .container .contact-options .contact-option svg {
        width: 10vw;
        height: 10vw;
        padding: 15px;
    }

    .contact-us-section .container .phone-numbers .phone-number a p {
        font-size: 4vw;
    }
  }
</style>