<div class="contact-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="contact-data">
          <div class="info-wrap">
            <div class="contacts-bar">
              <div class="sub-title">
                <h1>24/7 Customer Support</h1>
              </div>
              <div class="support-contacts">
                <ul>
                  {% for block in section.blocks %}
                  {% if block.type == 'contact' %}
                  <li>
                  <div class="phone-title">
                    {% if block.settings.cntphn_img != blank %}
                    <span>
                       <img src="{{block.settings.cntphn_img | img_url: width: 32 }}" width="20px" height="20px" alt="">
                    </span>
                    {% endif %}
                    {{block.settings.cntphn_title}}
                  </div>
                  <div class="show-phone">
                    <div class="show-phone-btn"><i class="icofont-phone"></i> Show Phone</div>
                    <div class="show-phone-content">
                      <a href="tel:{{block.settings.cntphn_numbr}}">{{block.settings.cntphn_numbr}}</a>
                    </div>
                  </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% if section.settings.cstmr_emil !=blank %}
                  <li class="mail-me">
                      E-mail: <a href="mailto:{{section.settings.cstmr_emil}}">
                    <i class="icon-envelope"></i> {{section.settings.cstmr_emil}}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="social-bar">
              <h3>{{section.settings.flow_titl}}</h3>
              <ul>
                {% for block in section.blocks %}
                {% if block.type == 'social' %}
                <li><a href="{{block.settings.cntsocil_link}}" target="_blank"><i class="{{block.settings.cntsocil_icn}}"></i></a></li>
                 {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="contact-form">
            <div class="sub-title">
              <h2>{{section.settings.cntnt_titl}}</h2>
            </div>

            {% form 'contact' %}
              {{ form.errors | default_errors }}
              <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us">
              <div class="form-fields">
                  <label for="first-name" class="full-size">
                    <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
                  </label>

                <label for="last-name" class="full-size">
                  <input  id="last-name" maxlength="80" name="contact[last_name]" size="20" type="text" placeholder="Last Name" />
                </label>

                <label for="subject" class="full-size">
                  <input  id="subject" maxlength="80" name="contact[information_id]" size="20" type="text" placeholder="Subject" />
                </label>

                <label for="phone" class="full-size">
                  <input  id="phone" maxlength="40" name="contact[phone]" size="20" type="tel" placeholder="Phone" />
                </label>

                <label for="email" class="full-size">
                  <input  id="email" maxlength="80" name="contact[email]" size="20" type="text" placeholder="Email" />
                </label>

                <label for="body" class="full-size">
                    <textarea name="contact[body]" placeholder="Message"></textarea>
                </label>
              </div>


              <div class="submit-form">
                <button type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
              </div>
            {% endform %}

            <div class="social-bar">
              <h3>{{section.settings.flow_titl}}</h3>
              <ul>
                 {% for block in section.blocks %}
                {% if block.type == 'social' %}
                <li><a href="{{block.settings.cntsocil_link}}" target="_blank"><i class="{{block.settings.cntsocil_icn}}"></i></a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "Contact Us",
  "class":"contact-us",
  "settings": [
    {
      "type": "header",
      "content": "24/7 Customer Success Section Start"
    },
    {
      "type": "text",
      "id": "cstmr_emil",
      "label": "Email",
      "default": "Enter Email"
    },
    {
      "type": "header",
      "content": "Contact Us Form Section Start"
    },
    {
      "type": "text",
      "id": "cntnt_titl",
      "label": "Title",
      "default": "Enter Title"
    },
    {
      "type": "header",
      "content": "Follow Us Section Start"
    },
    {
      "type": "text",
      "id": "flow_titl",
      "label": "Title",
      "default": "Enter Title"
    }
  ],
  "blocks": [

    {
      "type": "contact",
      "name": "Contact Numbers",
      "settings": [
        {
        "type": "image_picker",
        "id": "cntphn_img",
        "label": "Select Image"
        },
        {
        "type": "text",
        "id": "cntphn_title",
        "label": "Title",
        "default": "Enter Title"
        },
        {
        "type": "text",
        "id": "cntphn_numbr",
        "label": "Contact Number",
        "default": " Enter Phone Number "
        }

      ]
      },
      {
      "type": "social",
      "name": "Social Media",
      "settings": [
        {
        "type": "text",
        "id": "cntsocil_icn",
        "label": "Phone Icon",
        "default": "icon-tel"
        },
        {
        "type": "text",
        "id": "cntsocil_title",
        "label": "Title",
        "default": "Enter Title"
        },
        {
        "id": "cntsocil_link",
        "type": "url",
        "label": "Add Link"
        }

      ]
      }


  ],
  "presets":[
    {
    "name": "Contact Us",
    "category": "Contact"
    }
  ]
  }
{% endschema %}

{% style %}
.support-contacts .phone-title {
  line-height: 2.5;
  }

  .support-contacts .show-phone-btn {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  color: var(--green);
  padding: 3px 10px;
  margin-left: 5px;
  }

  .support-contacts .show-phone-content {
  display: none;
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}
<style>
  #contact_form {
    width: 100%;
    padding: 0;
  }
</style>

<style>
    .offset-top, .bottom-line {
        position: relative;
        z-index: 3;
    }
    .container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .white-bg {
      background: #fff;
      box-shadow: 0 76px 70px -57px #0000001a;
  }

  .mini-wrap {
      width: 100%;
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 35px;
  }

  .contact-data {
      display: flex;
      flex-wrap: wrap;
  }

  .contact-data .info-wrap {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .contact-data .contacts-bar {
      padding: 34px 0;
      position: relative;
      z-index: 1;
  }

  .contact-data .contacts-bar:before {
      content: "";
      width: 60vw;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: #f8f8f8;
      pointer-events: none;
  }

  .contact-data .contacts-bar .sub-title {
      padding-bottom: 9.3%;
      text-align: left;
      color: var(--green);
  }

  .sub-title h1, .sub-title h2 {
      margin: 0;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.3;
  }

  .contact-data .social-bar {
      padding-top: 20px;
  }

  .support-contacts ul li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 1;
  }

  @media screen and (max-width: 1590px){
    .mini-wrap {
        max-width: 1110px;
    }

    .sub-title h1, .sub-title h2 {
        font-size: 36px;
    }

    .support-contacts ul li {
        font-size: 18px;
    }
  }

  @media screen and (max-width: 1430px) {
    .mini-wrap {
        max-width: 990px;
    }

    .support-contacts ul li {
        font-size: 16px;
    }
  }

  @media screen and (max-width: 1270px){
    .mini-wrap {
        max-width: 798px;
    }
    .sub-title h1, .sub-title h2 {
        font-size: 28px;
    }

    .support-contacts ul li, .social-bar ul li a {
        font-size: 13px;
    }
  }


  @media screen and (max-width: 768px) {
    .contact-data {
        padding: 0;
    }

    .contact-data .info-wrap {
        width: 100%;
    }

    .contact-data .contacts-bar .sub-title {
        padding-bottom: 30px;
    }

    .contact-data .info-wrap .social-bar {
        display: none;
    }

    .contact-data .social-bar {
        padding: 40px 10px;
    }

    .sub-title h1 {
        font-size: 10vw;
        text-align: center;
    }

    .support-contacts ul li {
        font-size: 20px;
        justify-content: start;
    }
  }
 
  
 

</style>