<div id="new-featured-prods">
  <div class="container">
    <div class="featured-products-new">
      <div class="quote-slider featured">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for prod in collections['curalin-related-products'].products %}
              {% if prod.title != "Curalin" %}
            
              <div class="swiper-slide">
                <a href="{{ prod.url }}">
                  <div class="quote-card">
                  <div class="quote-info">
                  <img style="background-color: {{ prod.metafields.custom.bg_color }}; border-radius: 25px;" src="{{ prod.featured_image | image_url }}" width="303" height="302" alt="">
                    
                    <div class="quote-author">
                      <h3>{{ prod.title }}</h3>
                    </div>
                  </div>

                  <p class="quoted-text">{{ prod.metafields.custom.short_definition }}</p>
                </div></a>
              </div>
            {% endif %}
          {% endfor %}
          </div>

          <div class="slider-control">
            <div class="prev-slide2"><span><</span></div>
            <div class="next-slide2"><span>></span></div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<style>
  .icon-arrow:before {
      content: "\ea99";
  }
  .container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .featured-products {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
  }

  .featured-title {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 48px;
      line-height: 53px;
      color: #222222;
  }

  .link-to-collection {
      font-family: 'PP Radio Grotesk';
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
      text-align: right;
      text-decoration-line: underline;
      color: #222222;
  }

  .quote-slider {
    position: relative;
  }

  .quote-slider .swiper {
      padding: 10px 0;
      position: unset;
  }

  .quote-slider .swiper-slide {
      display: flex;
      height: unset;
      padding: 35px 10px 10px;
  }

  .quote-slider .slider-control {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .quote-slider .prev-slide2 {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: calc(50% - 20px);
      z-index: 5;
      transition: background var(--transition);
      left: 0;
  }

  .quote-slider .next-slide2 {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: calc(50% - 20px);
      z-index: 5;
      transition: background var(--transition);
      right: 0;
  }


  .quote-slider .next-slide2 span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: var(--green);
      border-radius: 50%;
      background: #fff;
      transition: color var(--transition);
  }

  .quote-slider .next-slide2:hover span {
      color: var(--dark-green);
  }

  .quote-slider .prev-slide2 span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: var(--green);
      border-radius: 50%;
      background: #fff;
      transition: color var(--transition);
  }

  .quote-slider .prev-slide2:hover span {
      color: var(--dark-green);
  }


  

  @media screen and (max-width: 768px) {
    .featured-title {
        font-size: 6vw;
        line-height: 35px;
    }
    .link-to-collection {
        font-size: 5vw;
        line-height: 26px;
    }
    .quote-slider .swiper-slide {
        padding: 0 10px;
    }

    .quote-slider .slider-control {
    padding-top: 20px;
    }

    .quote-slider .prev-slide2 {
        width: 50px;
        height: 50px;
        margin: 10px;
        position: static;
    }
    .quote-slider .next-slide2 {
        width: 50px;
        height: 50px;
        margin: 10px;
        position: static;
    }
  }
  
</style>

<style>
 
  #new-featured-prods .quote-slider {
    padding: unset;
    margin: unset;
  }

  #new-featured-prods .quote-slider .swiper-slide .quote-card {
    box-shadow: unset;
    background: unset;
    justify-content: unset;
  }

  #new-featured-prods .quote-slider .swiper-slide.swiper-slide-active .quote-card  {
    top: 0;
    width: unset;
    background: unset;
    box-shadow: unset;
    margin: unset;
  }

  #new-featured-prods .quote-card {
    background: unset;
  }

  #new-featured-prods .quote-card .quote-info {
    padding-top: unset;
  } 
  #new-featured-prods .quote-slider .slider-control {
    justify-content: space-between;
  }

  #new-featured-prods .quote-slider .prev-slide2 {
    background: unset;
  }

  #new-featured-prods .quote-slider .prev-slide2:hover {
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2 {
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2:hover {
    background: unset;
  }

  #new-featured-prods .quote-slider .prev-slide2 span {
    font-size: 40px;
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2 span {
    font-size: 40px;
    background: unset;
  }

  #new-featured-prods .quote-author {
    padding-top: 10px;        
  }

  #new-featured-prods .quote-author h3 {
      font-size: 25px;   
  }


  #new-featured-prods .quoted-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: #424733;
    margin: unset;
  }

  @media screen and (max-width: 768px) {
    #new-featured-prods .featured-products-new {
      width: 100%;
    }

    #new-featured-prods  .quote-slider .slider-control {
      position: relative;
      top: -300px;
    }
  } 

  @media screen and (max-width: 629px) {
    #new-featured-prods .quoted-text {
      font-size: 4vw;
      line-height: unset;        
    }
  }
</style>
  
  
<script>
  const quoteSliderNew = new Swiper(".quote-slider.featured .swiper", {
    slidesPerView: 4,
    spaceBetween: 0,
    grabCursor: true,
    loop: true,
    loopedSlides: 4,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      768: {
        slidesPerView: 3,
        centeredSlides: true
      },
      992: {
        slidesPerView: 4,
        centeredSlides: true
      }
    }
  });
</script> 