<div id="new-featured-prods">
  <div class="container">
    <div class="featured-products-new">
      <div class="quote-slider featured">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for prod in collections['curalin-related-products'].products %}
              {% if prod.title != "Curalin" %}
            
              <div class="swiper-slide">
                <a href="{{ prod.url }}">
                  <div class="quote-card">
                  <div class="quote-info">
                  <img style="background-color: {{ prod.metafields.custom.bg_color }}; border-radius: 25px;" src="{{ prod.featured_image | image_url }}" width="303" height="302" alt="">
                    
                    <div class="quote-author">
                      <h3>{{ prod.title }}</h3>
                    </div>
                  </div>

                  <p class="quoted-text">{{ prod.metafields.custom.short_definition }}</p>
                </div></a>
              </div>
            {% endif %}
          {% endfor %}
          </div>

          <div class="slider-control">
            <div class="prev-slide2"><span class="icon-arrow"></span></div>
            <div class="next-slide2"><span class="icon-arrow"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<style>
 
  #new-featured-prods .quote-slider {
    padding: unset;
    margin: unset;
  }

  #new-featured-prods .quote-slider .swiper-slide .quote-card {
    box-shadow: unset;
    background: unset;
    justify-content: unset;
  }

  #new-featured-prods .quote-slider .swiper-slide.swiper-slide-active .quote-card  {
    top: 0;
    width: unset;
    background: unset;
    box-shadow: unset;
    margin: unset;
  }

  #new-featured-prods .quote-card {
    background: unset;
  }

  #new-featured-prods .quote-card .quote-info {
    padding-top: unset;
  } 
  #new-featured-prods .quote-slider .slider-control {
    justify-content: space-between;
  }

  #new-featured-prods .quote-slider .prev-slide2 {
    background: unset;
  }

  #new-featured-prods .quote-slider .prev-slide2:hover {
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2 {
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2:hover {
    background: unset;
  }

  #new-featured-prods .quote-slider .prev-slide2 span {
    font-size: 40px;
    background: unset;
  }

  #new-featured-prods .quote-slider .next-slide2 span {
    font-size: 40px;
    background: unset;
  }

  #new-featured-prods .quote-author {
    padding-top: 10px;        
  }

  #new-featured-prods .quote-author h3 {
      font-size: 25px;   
  }


  #new-featured-prods .quoted-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: #424733;
    margin: unset;
  }

  @media screen and (max-width: 768px) {
    #new-featured-prods .featured-products-new {
      width: 100%;
    }

    #new-featured-prods  .quote-slider .slider-control {
      position: relative;
      top: -300px;
    }
  } 

  @media screen and (max-width: 629px) {
    #new-featured-prods .quoted-text {
      font-size: 4vw;
      line-height: unset;        
    }
  }
</style>
  
  
<script>
  const quoteSliderNew = new Swiper(".quote-slider.featured .swiper", {
    slidesPerView: 4,
    spaceBetween: 0,
    grabCursor: true,
    loop: true,
    loopedSlides: 4,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      768: {
        slidesPerView: 3,
        centeredSlides: true
      },
      992: {
        slidesPerView: 4,
        centeredSlides: true
      }
    }
  });
</script> 