<div class="features">
  {% if isTotal %}
   {% assign total = 0 %}
{% endif %}
  {% if isSecondLP %}  
    <div class="feature">
      <div class="feature-icon"><i class="icofont-check"></i></div>
      <div class="text-features">     
        <div class="feature-text img-txt">
          <img src="{{ 'lp02-challenge-section-percent-off.png' | asset_url  }}" width="90" height="46" alt="free">
          <span class="span-txt">Curalin</span>
         </div>       
      </div>     
    </div>
    <div class="feature">
      <div class="feature-icon"><i class="icofont-check"></i></div>
      <div class="text-features">     
        <div class="feature-text">
          <b>96 delicious recipes
          </b>organized into weekly plans
         </div>        
          <img class="feature-price-img"  src="{{ 'lp02-challenge-section-free.png' | asset_url  }}" width="114" height="114" alt="free">
      </div>     
    </div>
    <div class="feature">
      <div class="feature-icon"><i class="icofont-check"></i></div>
      <div class="text-features">     
        <div class="feature-text">
          <b>23 easy-to-do movement and exercise videos 
          </b>at your level
         </div>        
          <img class="feature-price-img"  src="{{ 'lp02-challenge-section-free.png' | asset_url  }}" width="114" height="114" alt="free">
      </div>     
    </div>
    <div class="feature">
      <div class="feature-icon"><i class="icofont-check"></i></div>
      <div class="text-features">     
        <div class="feature-text">
          <b>Free Shipping </b>
         </div>

      </div>     
    </div>
    <div class="feature">
      <div class="feature-icon"><i class="icofont-check"></i></div>
      <div class="text-features">     
        <div class="feature-text">
          <b>24/7 Customer Support 
          </b>(phone, email, or live chat)
         </div>

      </div>     
    </div>
  
  {% else %}
  {% for prod in product.metafields.custom.bundle-products.value %}
     <div class="feature">
              <div class="feature-icon"><i class="icofont-check"></i></div>
              <div class="text-features">
                {% if prod.title contains "CuraLin" %}
                <div class="feature-text"><b>30 day supply of Curalin</b></div>
                <div class="feature-text">(180 capsules)</div>
                {% else %}
                <div class="feature-text"><b>{{ prod.title }}</b></div>
                <div class="feature-text">{{ prod.subtitle }}</div>
                {% endif %}                      
                {% assign price_check = prod.compare_at_price %}
                {% if price_check %}
                  <div class="feature-price">a {{ price_check | money_without_trailing_zeros }} Value</div>      
                {% else %}
                  <div class="feature-price priceless">Priceless</div>
                {% endif %}
              </div>
             {% unless isLP %}   
              {% if prod.title contains "CuraLin" %}
              <img class="feature-img" src="{{ prod.metafields.custom.bottle_image | img_url: 'original' }}" width="92" height="92" alt="">
              {% else %}
              <img class="feature-img" src="{{ prod.images[0].src | img_url: 'original'  }}" width="92" height="92" alt="">
              {% endif %}
            {% endunless %}
            </div>
            {% if isTotal %}
                {% assign total = total | plus: price_check %}
            {% endif %}
       {% endfor %}
      
      
       {% unless isTotal %}
  <div class="feature">
 <div class="feature-icon"><i class="icofont-check"></i></div>
 <div class="text-features">
  <div class="feature-text"><b>Free Shipping</b></div>
    <div class="feature-price">a $8 Value</div>      
    </div>
    <img class="feature-img" src="{{ 'thirty-day-product-chalenge-06.png' | asset_url  }}" width="92" height="92" alt="">
  </div>
      {% endunless %}
    {% endif %}
 </div>

 {% if isTotal %}
 <div class="total-wrapper">
      <div class="total-value">Total Value Before Discount: {{ total | money_without_trailing_zeros }} </div>
      <div class="price-today">Your Price Today  <span class="rounded new-price">{{ product.price | money_without_trailing_zeros }}</span><sup>00</sup></div>
    </div>

    <style>
        .total-value {  
           font-family: 'PP Radio Grotesk';
           font-weight: 700;
           font-size: 18px;
           line-height: 17px;
           text-align: center;
           letter-spacing: -0.01em;
           color: var(--light-green);
           padding-top: 20px;
         }

         .price-today {
           padding-top: 30px;
           padding-bottom: 20px;
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 1vw;
           font-family: 'PP Radio Grotesk';
           font-weight: 400;
           font-size: clamp(20px, 2vw, 37px);
           letter-spacing: -0.01em;
           color: var(--dark-green);

         }

        .price-today sup {
           position: relative;
           top: -7px;
           right: 12px;
         }


         .new-price {
           font-family: 'Poppins';
           font-weight: 700;
           font-size: clamp(45px, 2vw, 52px);
           text-align: center;
         }


         @media screen and (max-width: 1440px) {
          .price-today sup {
                  top: -12px;
                  right: 6px;
              }
         }

         @media screen and (max-width: 768px) {
         .price-today sup {
           top: -11px; 
           right: 2px
         }
         }
    </style>
 {% endif %}

{% if isLP %}
<style>
 .features {

    display: flex;
    flex-direction: column;
  }

  .features .feature {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 15px 0;
    font-family: "PP Radio Grotesk";
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 400;
    line-height: 20px;

  }

  {% if isSecondLP %}
   .features .feature:nth-child(5) {
    border-bottom: unset;
   }
 {% else %}
   .features .feature:nth-child(8) {
    border-bottom: unset;
  }
{% endif %}

  .features .feature .feature-icon {
    background: var(--light-green);
    color: white;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }


  .features .feature .feature-text {
    display: flex;
    flex-direction: column;
    max-width: 395px;
    padding-right: 75px;
  }

  .features .feature .feature-text.img-txt {
    max-width: unset;
    padding-right: unset;
    display: flex;
    flex-direction: row;
  }

  .features .feature .feature-text.img-txt .span-txt {
    font-size: clamp(22px, 4vw, 40px);
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
  }

  .features .feature .feature-price {
    position: absolute;
    right: 0;
    top: 20px;
    color:  var(--dark-brown);
  }

  .features .feature .feature-price-img {
    width: 89px;
    position: absolute;
    right: 0;
    top: 0px;
  }

  .features .feature .feature-price.priceless {
    color: #95A157;
  }

  .features .feature .feature-price sup {
    font-size: 10px;
    position: relative;
    top: 1px;
  }

  @media screen and (max-width: 898px) {
    .features .feature .feature-price {
      width: 73px;

    }
  }

  @media screen and (max-width: 768px) {

    .features {
      max-width: unset;
      width: 100%;
    }

    .features .feature .feature-text {
      max-width: unset;
      padding-right: 92px;
    }

    .features .feature .feature-price {
      width: 9vw;
    }

  }

  @media screen and (max-width: 627px) {
    .features .feature .feature-price {
        width: 11vw;
    }
  }

  @media screen and (max-width: 513px) {
    .features .feature .feature-price {
        width: 13vw;
    }
  }

  @media screen and (max-width: 434px) {
    .features .feature .feature-price {
        width: 15vw;
    }
  }

  @media screen and (max-width: 376px) {
    .features .feature .feature-price {
        width: 18vw;
    }
  }
</style>

{% else %}

<style>


    .features {
    display: flex;
    flex-direction: column;
  }

    .features .feature {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-family: "PP Radio Grotesk";
    font-size: clamp(14px, 2vw, 26px);
    line-height: 26px;
    font-weight: 400;
  }

    .features .feature .feature-icon {
    background: var(--light-green);
    color: white;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: -40px;
  }

  .text-features {
    display: flex;
    flex-direction: column;
  }

    .features .feature .feature-text {
    display: flex;
    flex-direction: column;
    max-width:  383px;
    padding-right: 55px;
  }

    .features .feature .feature-price {
    color: #95A157;
    padding-top: 5px;
  }

    .features .feature .feature-img {
    width: 75px;
    position: absolute;
    right: 0;
  }



  @media screen and (max-width: 768px) {
  
    .features {
      max-width: unset;
      width: 100%;
    }

    .features .feature {
      line-height: 24px;
    }

    .features .feature .feature-text {
      max-width: unset;
      padding-right: 92px;
    }
  }
</style>
 {% endif %}
 