<section class="community-moderators">
  <img class="section-badge" src="{{ "lp-community-section-badge-moderators.png" | file_url }}" alt="community people">
  <div class="container">
    <h2>Hi! We’re your moderators.</h2>
    <div class="moderators">
      <div class="moderator">
        <img src="{{ "lp-community-moderators-maria.png" | file_url }}" alt="community moderator">
        <p>Maria A</p>
      </div>
      <div class="moderator">
        <img src="{{ "lp-community-moderators-sara.png" | file_url }}" alt="community moderator">
        <p>Sara B</p>
      </div>
      <div class="moderator">
        <img src="{{ "lp-community-moderators-opal.png" | file_url }}" alt="community moderator">
        <p>Opal F</p>
      </div>
      <div class="moderator">
        <img src="{{ "lp-community-moderators-abbie.png" | file_url }}" alt="community moderator">
        <p>Abbie Z</p>
      </div>
    </div>
    <p class="description">Hi! We are the moderators behind Winning Type 2 Diabetes Together!<br>
    We created this community because our loved ones needed it. Like you, they needed the peer-support that only other diabetics could give them.<br>
    Our goal is to to create a respectful space where you feel safe and comfortable to share. Everyone is welcome in Winning Type 2! We're all friends here!</p>
  </div>
</section>

<style>
  .community-moderators .container {
    max-width: 1100px;
  }

  .community-moderators .moderators {
    display: flex;
    justify-content: space-between;
  }

  .community-moderators .moderators .moderator {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .community-moderators .moderators .moderator img {
    outline: 1px solid #475993;
    border: 5px solid transparent;
    border-radius: 50%;
  }

  .community-moderators .moderators .moderator p {
    border-top: 1px solid #475993;
    width: 120px;
    padding-top: 10px;
    margin-top: 20px;
    font-weight: bold;
  }

  .community-moderators p {
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    .community-moderators h2 {
      text-align: center;
      padding: 20px 0;
    }

    .community-moderators .moderators {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .community-moderators .moderators .moderator {
      width: 40%;
    }

    .community-moderators .moderators .moderator p {
      width: 25vw;
    }

    .community-moderators .description {
      text-align: start;
    }
  }
</style>