<div id="faq-{{ section_id }}" class="faq">
  {% for faqItem in faqItems %}
    <div class="faq-item last:border-b-0 border-b-2 border-white">
      {% if data_type == "json" %}
        <h3 class="question h5 relative flex items-center py-6 m-0 cursor-pointer">{{ faqItem.question }}</h3>
        <div class="answer mb-4">{{ faqItem.answer }}</div>
      {% elsif data_type == "string" %}
        <h3 class="question h5">{{ faqItem | split: ":" | first }}</h3>
        <div class="answer mb-4">{{ faqItem | split: ":" | last }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<style>
  {% if titles_color %}
    #faq-{{ section_id }} .faq-item .question {
      color: {{ titles_color }};
    }
  {% endif %}

  #faq-{{ section_id }} .faq-item .question {
    padding: 1.5rem 3rem 1.5rem 0;
  }

  #faq-{{ section_id }} .faq-item .question + .answer {
    transition: margin-bottom .2s ease-out;
  }

  #faq-{{ section_id }} .faq-item .question:not(.active) + .answer {
    margin-bottom: 0;
  }

  #faq-{{ section_id }} .faq-item .question:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s;
  }

  #faq-{{ section_id }} .faq-item .question.active:after {
    transform: rotate(45deg);
  }

  #faq-{{ section_id }} .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
  }

  @media screen and (max-width:768px) {
    #faq-{{ section_id }} .faq-item .question {
      font-size: 5vw;
    }

    #faq-{{ section_id }} .faq-item .answer {
      font-size: 4vw;
      line-height: 1.5;
    }
  }
</style>

<script>
  let accordionItemHeadersObject = document.querySelectorAll(".question");

  accordionItemHeadersObject.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {
      {% if is_allow_one_open %}
        let currentlyActiveAccordionItemHeader = document.querySelector(".question.active");
        if (currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
          currentlyActiveAccordionItemHeader.classList.toggle("active");
          currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
        }
      {% endif %}

      accordionItemHeader.classList.toggle("active");
      let accordionItemBody = accordionItemHeader.nextElementSibling;
      if (accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      }
      else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });

  {% if is_ingredients_feature %}
    faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
      slidesPerView: 1,
      spaceBetween: 15,
      watchSlidesVisibility: false,
      loop: false,
      autoHeight: true,
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.faq-section .swiper-button-next',
        prevEl: '.faq-section .swiper-button-prev',
        disabledClass: 'disabled'
      }
    });
  {% endif %}

  $('.question').click(function() {
    woopra.track('Open FAQ', {
      question_display_text: $(this).text(),
      question_order:  $(this).parents('.faq-item').index() + 1
    })
  });
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for textFAQItem in faqItems %}
        {% assign parsedTextFAQItem = textFAQItem | json %}
        {% if data_type == "json" %}
          {
            "@type": "Question",
            "name": "{{ textFAQItem.question | escape }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ textFAQItem.answer | escape }}"
            }
          }
        {% elsif data_type == "string" %}
          {
            "@type": "Question",
            "name": "{{ textFAQItem | split: ":" | first }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ textFAQItem | split: ":" | last }}"
            }
          }
        {% endif %}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
</script>