
<section class="text-image-{{ index }}">
  <div class="md:flex-col-reverse container flex items-center gap-40 {% if isFlip %}flex-row-reverse{% endif %}">
    <div class="image-wrapper">
      {% if index %}
        <p class="text-lightGreen text-5xl">{{ index }}</p>
      {% endif %}
      <img class="object-contain w-1/3" src="{{ main_image | image_url }}" alt="" loading="lazy">
    </div>

    <div>
      <h2>{{ title }}</h2>
      <p>{{ content }}</p>

      <div class="links">
        {% if link_url_1 %}
          <a href="{{ link_url_1 }}">{{ link_title_1 }}</a><i class="fa-thin fa-arrow-right"></i>
        {% endif %}
        {% if link_url_2 %}
          <a href="{{ link_url_2 }}">{{ link_title_2 }}</a><i class="fa-thin fa-arrow-right"></i>
        {% endif %}
      </div>

      {% unless button_title == blank %}
        <a href="{{ button_link }}" style="background-color: {{ button_color }};"><button>{{ button_title }}</button></a>
      {% endunless %}
    </div>
  </div>
</section>

<style>
  section.text-image-{{ index }} {
    background-color: {{ bg_color }};
  }

  section.text-image-{{ index }} p {
    margin-bottom: 20px;
  }

  section.text-image-{{ index }} p strong {
    font-weight: bold;
  }
</style>