{% assign renderAnnouncment = true %}

{% if announcement %}
  {% if shop.name == "CuraLife Global" %}
    {% assign contactURLAddition = "-global" %}

    {% if is_hide_announcement_on_global %}
      {% assign renderAnnouncment = false %}
    {% endif %}
  {% endif %}
{% endif %}

{% if shop.name contains 'Global' %}
	{% assign manage_subscription_url = '/pages/manage-my-subscriptions' %}
{% else %}
	{% assign manage_subscription_url = '/tools/recurring/login' %}
{% endif %}

<div class="top-header h-[30px] bg-[--light-blue] text-[14px] tracking-widest flex md:hidden">
<div class="container flex items-center justify-end">
    {% if customer.b2b? %}
      <div class="announcement no-global flex-grow text-center text-[16px]">Welcome {{ customer.first_name }}, you are logged in as Wholesale Customer from <b>{{ customer.current_location.name }}</b></div>
    {% elsif renderAnnouncment %}
      {% if announcement_link %}<a href="{{ announcement_link }}" class="contents" {% if is_announcement_new_tab %}target="_blank"{% endif %}>{% endif %}
        <div class="announcement {% if is_hide_announcement_on_global %}no-global{% endif %} flex-grow text-center text-[16px] {% if announcement_link %}underline{% endif %}">{{ announcement }}</div>
      {% if announcement_link %}</a>{% endif %}
    {% endif %}

    <div class="links-list flex flex-shrink-0">
      <a id="account-link" href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">{% if customer %}My Account{% else %}Customer? Log in{% endif %}</a>
			{% if customer.tags contains 'Active Subscriber' or customer.tags contains 'Yotpo Subscriber' %}
				<a id="manage-subscription-link" href="{{ manage_subscription_url }}">My Subscription</a>
			{% endif %}
			{% unless shop.name contains "Global" %}
        {% unless customer.b2b? %}
          <a id="wholesale-link" href="https://curalife.com/pages/wholesale" class="no-global">Wholesale Customers</a>
        {% endunless %}

        <a id="store-locator-link" href="/pages/store-locator" class="no-global">Find a Store</a>
      {% endunless %}

      <a id="help-link" href="https://help{{ contactURLAddition }}.curalife.com" target="_blank">Help</a>
    </div>
  </div>
</div>

<style>
  {% if customer.b2b? %}
    .top-header {
      background-color: var(--blue);
      color: white !important;
    }

    .hide-on-wholesale {
      display: none !important;
    }

    .section-header {
      margin-top: unset !important;
    }
  {% else %}
    .announcement {
      color: var(--bronze);
      font-weight: bold;
      text-align: left;
      width: 1000px;
    }
  {% endif %}

  .top-header {
    z-index: 999999;
    position: relative;
  }

  .top-header a {
    font-family: 'PP Radio Grotesk';
  }

  .top-header .links-list a::after {
    content: '|';
    font-family: 'DM Sans';
    padding: 0 1rem;
  }

  .top-header .links-list a:last-child::after {
    content: '';
    padding: unset;
  }
</style>