{% assign clients = '“It started with my manager now 4 of us are on it. My doctor said give it
a
try.”*Jeff Ogden
|“Outstanding product and results. I cannot thank you enough for making
this
possible.”*Michael Edwards
|“CuraLin has worked exceptionally well for me! Thank you CuraLin for
helping
me help
myself feel better naturally. Definitely 5 stars!”*Colin Reader

' | split: '|' %}

{% assign percents = 'Are satisfied with CuraLin*88.5%@width: 88.5%;
background: linear-gradient(
90.05deg
, #00D8C7 0%, #00B89D 100%);
|Feel safe using CuraLin*98.1%@width: 98.1%;
background: linear-gradient(
90.05deg
, #FACC37 0%, #F5A412 100%);
|Saw a big impact in their lives*84%@width: 84%;
background: linear-gradient(
90.05deg
, #FF90AC 0%, #FF5476 100%);
|Would recommend CuraLin to a friend*84%@width: 89%;
background: linear-gradient(
90.05deg
, #ACE5B6 0%, #76CF84 100%);
' | split: '|' %}

<div class="support-page bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="changing-experiences">
          <div class="sub-title">
            <h2 class="d-desktop">What Our Clients Say <br>About CuraLin</h2>
            <h3 class="d-mobile">Life Changing Experiences</h3>
          </div>
          <div class="quote-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% for client in clients %}               
                    <div class="swiper-slide">
                    <div class="quote-card">
                        <blockquote>
                        <p>{{ client | split: "*" | first }}</p>
                        </blockquote>
                        <div class="quote-info">
                        <div class="quote-author">
                            <p>{{ client | split: "*" | last }}</p>
                        </div>
                        <div class="quote-rating">
                            <p>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            </p>
                        </div>
                        </div>
                    </div>
                    </div>
            
                {% endfor %}

              </div>
              <div class="slide-control">
                <div class="prev-slide2"><span class="icon-arrow"></span></div>
                <div class="next-slide2"><span class="icon-arrow"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="customer-success">
    <div class="container">
      <div class="mini-wrap">
        <div class="intro-text">
          <div class="sub-title">
            <h3>Customer Success <br>With CuraLin</h3>
          </div>
        </div>
        <div class="success-list">
          <ul>
            {% assign contr = 0 %}
            {% for percent in percents %}
            
            <li class="success-content-{{ contr }}">
              <div class="title">
                <h4>{{ percent | split: "*" | first }}</h4>
              </div>
              <div class="line">
                <div class="percentage">
                  <p>{{ percent | split: "*" | last | split: "@" | first }}</p>
                </div>
                <div class="data">
                  <span style="{{ percent | split: "*" | last | split: "@" | last }}"></span>
                </div>
              </div>
            </li>

            {% assign contr = contr | plus : 1 %}
           
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="feature-info">
         
          <div class="img-wrap">
            <span><img src="{{ 'curalin-homepage-bottle-global.png' | asset_url }}" width="606" height="538" alt="" loading="lazy"></span>
          </div>
         
          <div class="intro-text">
            <div class="sub-title">
              <h3>Maintain Healthy<br> Glucose levels</h3>
              <p>CuraLin is designed specifically for people looking for an effective and natural way to maintain healthy glucose levels so they can enjoy life’s events to the fullest</p>
            </div>
            <div class="btn">
              <a href="/collections/all" class="main-btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .slide-control {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
</style>

<script>
  quoteSlider = new Swiper(".quote-slider .swiper", {
    slidesPerView: 2,
    spaceBetween: 0,
    grabCursor: true,
    autoHeight: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 2,
        centeredSlides: false
      },
      992: {
        slidesPerView: 3,
        centeredSlides: true
      }
    }
  });
</script>

