<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<section class="video-reviews-sections">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <div class="video-reviews swiper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe src="{{ block.settings.vidURL | escape }}?background=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="640" height="640" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" class="fluidvids-item" data-fluidvids="loaded" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="{{ block.settings.video_title }}"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ section.settings.quote_image | img_url }}" alt="" loading="lazy">
              <p class="quote-content">{{ block.settings.quote_content }}</p>
              <p class="quote-author">{{ block.settings.quote_author }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<style>
  .video-reviews-sections .container .video-reviews {
      overflow: visible;
      max-width: 70%
  }

  .video-reviews-sections .container .video-reviews .swiper-slide .video-review {
      display: flex;
      align-items: center
  }

  .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-video {
      width: 60%;
      margin-left: 10%;
      height: 500px
  }

  .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-video iframe {
      width: 100% !important;
      height: 100% !important
  }

  .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote {
      padding: 50px;
      width: 50%;
      font-size: 22px;
      position: relative
  }

  .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote img {
      opacity: .1;
      width: 70px;
      position: absolute;
      left: 50px
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote .quote-author {
      font-size: 18px;
      margin-bottom: 0
  }

  @media screen and (max-width: 768px) {

   .video-reviews-sections {
      background-color: #f0f0f0
  }

   .video-reviews-sections .container .video-reviews {
      max-width: unset;
      margin-top: 30px
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review {
      flex-direction: column;
      max-width: 80%;
      margin: auto;
      text-align: center
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-video {
      width: unset;
      margin-left: unset;
      height: 300px;
      margin-bottom: 10px
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote {
      padding: unset;
      width: 100%;
      font-size: 16px
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote img {
      width: 40px;
      left: -10px;
      top: 0
  }

   .video-reviews-sections .container .video-reviews .swiper-slide .video-review .review-quote .quote-author {
      font-size: 14px
  }

  }
</style>

<script>
  videoReviewsSliderAllInOne = new Swiper('.video-reviews-sections .swiper', {
      slidesPerView: 'auto',
      spaceBetween: 8,
      centeredSlides: true,
      grabCursor: true,
      slideToClickedSlide: true,
      loop: false,
      navigation: {
          nextEl: '.video-reviews-sections .swiper-button-next',
          prevEl: '.video-reviews-sections .swiper-button-prev',
          disabledClass: 'disabled'
      }
  });
</script>

<style>
  .swiper-button-prev,
   .swiper-button-next {
      color: grey;
      transition: opacity .5s
  }

  .video-reviews-sections {
    padding: 50px 0;
  }

  .video-reviews-sections h2 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
color: {% if isSecondLP %} var(--dark-green){% endif %};
  }

  .video-reviews-sections .video-reviews {
    overflow: visible;
    max-width: 70%;
  }

  .video-reviews-sections .swiper-button-prev, .video-reviews-sections .swiper-button-next {
    color: grey;
    transition: opacity .5s;
  }

  .video-reviews-sections .swiper-button-prev.disabled, .video-reviews-sections .swiper-button-next.disabled {
    opacity: 0;
  }

  .video-reviews-sections .swiper-button-prev::after, .video-reviews-sections .swiper-button-next::after {
    font-size: 28px;
  }

  .video-reviews-sections .video-reviews .video-review {
    display: flex;
    align-items: center;
  }

  .video-reviews-sections .video-reviews .video-review .review-video {
    width: 40%;
    margin-left: 10%;
    height: 500px;
  }

  .video-reviews-sections .video-reviews .video-review .review-video iframe {
    width: 100% !important;
    height: 100% !important;
  }

  .video-reviews-sections .video-reviews .video-review .review-quote {
    padding: 50px;
    width: 50%;
    font-size: 22px;
    position: relative;
  }

  .video-reviews-sections .video-reviews .video-review .review-quote img {
    opacity: .1;
    width: 70px;
    position: absolute;
    left: 50px;
  }

  .video-reviews-sections .video-reviews .video-review .review-quote .quote-author {
    font-size: 18px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .video-reviews-sections {
      background-color: #f0f0f0;
      padding: 8vw 0;
    }

    .video-reviews-sections h2 {
      font-size: 6vw;
      text-align: center;
      max-width: unset;
      margin-bottom: 10px;
    }

    .video-reviews-sections .video-reviews {
      max-width: unset;
      margin-top: 30px;
    }

    .video-reviews-sections .video-reviews .video-review {
      flex-direction: column;
      max-width: 80%;
      margin: auto;
      text-align: center;
    }

    .video-reviews-sections .video-reviews .video-review .review-video {
      width: unset;
      margin-left: unset;
      height: 300px;
      margin-bottom: 10px;
    }

    .video-reviews-sections .video-reviews .video-review .review-quote {
      padding: unset;
      width: 100%;
      font-size: 16px;
    }

    .video-reviews-sections .video-reviews .video-review .review-quote img {
      width: 40px;
      left: -10px;
      top: 0px;
    }

    .video-reviews-sections .video-reviews .video-review .review-quote .quote-author {
      font-size: 14px;
    }
  }
</style>


{% schema %}
{
  "name": "Video Rewievs Section",
  "tag": "section",
  "class": "video-reviews-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
  
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customers Reviews Of CuraLin"
    },
    {
      "type": "image_picker",
      "id": "quote_image",
      "label": "Quote Image"
    }   
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Video Slide",
      "settings": [
        {
          "type": "text",
          "id": "vidURL",
          "label": "Video URL"
        },

        {
          "type": "text",
          "id": "video_title",
          "label": "Video Title"
        },
        {
          "type": "text",
          "id": "quote_content",
          "label": "Quote Content"
        },
        {
          "type": "text",
          "id": "quote_author",
          "label": "Quote Author"
        }  
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Rewievs Section"
    }
  ]
}
{% endschema %}

