<section class="community-what">
  <div class="big-swoosh">
    <img src="{{ 'rebrending-big-swoosh.png' | asset_url }}" width="603" height="365" alt="">
  </div>

  <div class="container">
    <div class="leaf-swoosh">
      <img src="{{ 'rebrending-leaf-swoosh.png' | asset_url }}" width="137" height="139" alt="">
    </div>

    <div class="what-text">
      <img class="swoosh_1" src="{{ 'rebranding-community-swoosh-1.png' | asset_url }}" width="145" height="54" alt="">
      <img class="swoosh_2" src="{{ 'rebranding-community-swoosh-2.png' | asset_url }}" width="145" height="55" alt="">
      <img class="swoosh_3" src="{{ 'rebranding-community-swoosh-3.png' | asset_url }}" width="128" height="54" alt="">
      <div class="text-only">
        That’s what community is.<br><br>
        That’s what companionship is.<br><br>
        That’s what friendship is.
      </div>
    </div>
    <div class="green-border"></div>
    <div id="good-days" class="good-days"><p>For the good days.</p> <p>The bad days.</p><p>The big wins.</p> <p>And the small ones.</p></div>
  </div>
</section>

<section class="when-you-have">
  <div class="container">
    <div class="text-and-button">
      <div class="text">
        <div class="text-title">When you’re a part of a community, you celebrate every milestone.</div>

        <div class="paragraph">
          Because we know how hard it can be.
          So feel free to be yourself, ask questions, learn, share, laugh or cry.<br>
          The power of community can have a transformative impact on your health journey.<br><br>

          <b>That’s what it’s here for.</b>
        </div>
      </div>
      <div class="button-wrapper">
        <a href="https://www.facebook.com/groups/winningtype2diabetestogether" target="_blank"><button>Join The Community</button></a>
      </div>
    </div>
  </div>
</section>

<style>
.community-what {
  position: relative;
  background: #FFF1E8;
  position: relative;
  padding: 50px 0;
  overflow: visible;
}

.big-swoosh {
  position: absolute;
  bottom: -263px;
  max-width: 500px;
}

.leaf-swoosh {
  position: absolute;
  right: 0;
}

.what-text {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
}

.green-border {
  margin: 50px auto 20px;
  border-bottom: 5px solid #404733;
  width: 150px;
}

.swoosh_1 {
  position: absolute;
  left: 568px;
  top: -10px;
}

.swoosh_2 {
  position: absolute;
  left: 543px;
  top: 46px;
  width: 197px
}

.swoosh_3 {
  position: absolute;
  left: 573px;
  top: 104px;
  width: 134px
}


.text-only {
  position: relative;
}

.good-days {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: clamp(24px, 2vw, 28px);
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
}

.good-days p {
  margin: unset;
}

.when-you-have {
  position: relative;
  padding: 30px 10px 0;
}

.text-and-button {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-title {
  margin-bottom: 20px;
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: 45px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #404733;
}

.paragraph {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}


.button-wrapper {
  margin: 6% auto;
}

@media screen and (max-width: 1200px) {
  .swoosh_1 {
    left: 47vw;
  }

  .swoosh_2 {
    left: 45vw;
  }

  .swoosh_3 {
    left: 48vw;
  }
}

@media screen and (max-width: 1024px) {
  .swoosh_2 {
    left: 44vw;
  }

  .swoosh_3 {
    left: 47vw;
  }
}


@media screen and (max-width: 900px) {
  .swoosh_1 {
    left: 46vw;
  }

  .swoosh_2 {
    left: 43vw;
  }
}

@media screen and (max-width: 768px) {
  .thousand-text-img {
    padding: 20px 0;
  }

  .good-days {
    flex-direction: column;

  }
  .big-swoosh {
    width: 51vw;
    bottom: -27vw
  }
  .leaf-swoosh {
    width: 24vw;
    top: 19vw;
  }

  .what-text {
    font-size: 19px;
    line-height: 20px;
  }

  .swoosh_1 {
    max-width: 105px;
  }

  .swoosh_2 {
    left: 44vw;
    top: 30px;
    max-width: 135px;
  }

  .swoosh_3 {
    left: 47vw;
    top: 70px;
    width: 91px;
  }

  .green-border {
    width: 29vw;
  }

  .good-days {
    font-size: 21px;
    line-height: 22px;
  }

  .text-and-button {
    flex-direction: column;
    justify-content: center;
  }

  .text {
    max-width: unset;
  }

  .text-title {
    font-size: 35px;
    line-height: 36px;
  }

  .paragraph {
    font-size: 18px;
    line-height: 22px;
  }

  .button-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .swoosh_1 {
    left: 45vw;
  }

  .swoosh_2 {
    left: 42vw;
  }

  .swoosh_3 {
    left: 46vw;
  }
}


@media screen and (max-width: 500px) {
  .swoosh_1 {
    left: 44vw;
  }
  .swoosh_2 {
    left: 41vw;
  }

  .swoosh_3 {
    left: 45vw;
  }
}

@media screen and (max-width: 450px) {
  .leaf-swoosh {
    top:70vw;
  }
  .swoosh_1 {
    left: 43vw;
  }
  .swoosh_2 {
    left: 40vw;
  }
}

@media screen and (max-width: 390px) {
  .swoosh_1 {
    left: 42vw;
  }

  .swoosh_2 {
    left: 38vw;
  }

  .swoosh_3 {
    left: 44vw;
  }
}
</style>
