{% comment %} {% render 'curalin-hero-banner-content-curalin', mainTitle: "curalin", subTitle: "Natural Blood Sugar Support Supplement", ctaButtonLink: "/collections", ctaTitle: "SHOP NOW" %} {% endcomment %}

{% comment %} <div class="support-page offset-top">
  <div class="container">
    <div class="advantages-section">
      <div class="sub-title">
        <h2>Curalin Powerfully Helps</h2>
      </div>

      <div class="advantages-wrap">
        {% assign cura_powers = 'new-year-group-1.png*Supports healthy pancreatic function
        |new-year-group-2.png*Reduces cravings for sugars & carbs
        |new-year-group-3.png*Promotes high daily energy levels
        |new-year-group-4.png*Supports pancreas, liver, and kidney health
        |new-year-group-5.png*Promotes balanced blood glucose levels
        |new-year-group-6.png*Promotes healthy weight loss
        ' | split: '|' %}

        <ul>
          {% for cura_power in cura_powers %}
            <li class="advantage-content">
              <div class="icon-wrap">
                <img src="{{ cura_power | split: '*' | first | asset_url }}" width="128" height="112" alt="icon-wrap" loading="lazy">
              </div>

              <div class="name">
                <p>{{ cura_power | split: '*' | last }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <section class="story-section">
    <div class="container">
      <div class="sub-title">
        <h2>{{ section.settings.wht_titl }}</h2>
      </div>

      {% if section.settings.wht_desc != blank %}
        <div class="text">
          <p>{{ section.settings.wht_desc }}</p>
        </div>
      {% endif %}

      <div class="badges">
        <ul>
          {% for i in (1..6) %}
          <li class="wht_img">
            {% assign imgUrl = "wht_img-" | append: i | append: ".png" %}
            <img src="{{ imgUrl | file_url }}" alt="" loading="lazy">
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div> {% endcomment %}

{% comment %} {% render 'start-healthier-life', ctaButtonLink: "/collections", ctaTitle: "SHOP NOW" %} {% endcomment %}
{% comment %} {% render 'lps-ingredients-slider', maintitle: '<b>9 Powerful Ingredients </b><br>Combined Into One Capsule' %} {% endcomment %}
{% render 'what-our-clients-say' %}
{% if shop.name == 'CuraLife' %}
  {% render 'featured-new-products', ctaButtonLink: "/collections" %}
{% endif %}

<style>
  .icon-wrap {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }

  .icon-wrap img {
    position: relative;
    object-fit: contain;
  }

  .story-data .sub-title {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .advantages-section {
      padding: 30px 0;
  }

  .sub-title {
      text-align: center;
      color: #222222;

  }

  .advantages-wrap ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .advantages-wrap ul li {
      display: flex;
      padding: 32px 25px;
      width: 25%;
      text-align: center;
      flex-direction: column;
      align-items: center;
  }

  .advantages-wrap li img {
      will-change: transform;
      transition: transform .7s ease-in-out;
      margin-bottom: 10px;
  }

  .advantages-wrap ul li .name p {
      max-width: 235px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.22;
      text-align: center;
  }

  .badges ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding-top: 30px;
  }

  .badges ul li {
      display: block;
      width: 100px;
      padding: 4px;
      text-align: center;
  }

   .badges ul li img {
      -o-object-fit: contain;
      object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    .advantages-section {
        padding-top: 41px;
    }

    .badges ul {
        gap: 0;
    }

    .story-section .sub-title {
      padding-bottom: unset;
    }

    .advantages-wrap ul li {
        width: 40%;
        padding: 10px;
    }

    .advantages-wrap ul li .name p {
        font-size: 16px;
        line-height: 1.37;
    }

    .story-section {
        padding-top: 22px;
    }

    .advantages-wrap ul {
      justify-content: space-around;
    }
  }
</style>

{% schema %}
  {
  "name": "CuraLin Powerfully Helps",
    "settings": [
      {
        "type": "header",
        "content": "What is CuraLin Section Start"
      },
      {
        "type": "text",
        "id": "wht_titl",
        "label": "Title",
        "default": "Enter title"
      },
      {
        "type": "textarea",
        "id": "wht_desc",
        "label": "Description",
        "default": "Enter Description"
      }

    ],
    "blocks": [
      {
        "type": "cura_power",
        "name": "CuraLin Helps Content",
        "settings": [

          {
            "type": "textarea",
            "id": "cpwr_desc",
            "label": "Description",
            "default": "Enter Description"
          }

        ]
      },
      {
        "type": "what_cura",
        "name": "What CuraLin Images",
        "settings": [


        ]
      }
    ],
    "presets":[
      {
        "name": "Banner",
        "category": "text"
      }
    ]
  }
{% endschema %}

