{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
	{% assign invoice_id = "51da85a3c3dfa1f360b48852b64218b2" %}
	{% assign manage_subscription_url = '/tools/recurring/login' %}
{% elsif shop.name == "CuraLife Global" %}
	{% assign invoice_id = "656f0dbf9392657eed7feefc486781fb" %}
	{% assign manage_subscription_url = '/pages/manage-my-subscriptions' %}
{% endif %}

{% if customer.tags contains 'curalifer' %}
	{% assign show_curalifer_tab = true %}
{% endif %}

<section class="account-page">
	<div class="container">
		<h1 class="hidden text-center mb-[30px]">My Account</h1>
		<div id="tabs">
			<div class="account-content">
				<div class="account-menu desktop">
					<div class="menu-list">
						<div class="tabs">
							{% if show_curalifer_tab %}
								<div class="tab"><a href="#curalifer"><span>Curalifer</a></div>
							{% endif %}
							<div class="tab"><a href="#a" class="tab">My Profile</a></div>
							<div class="tab"><a href="#b" class="tab">Orders</a></div>
							{% comment %} <li><a href="#c"><span class="icon-payment"></span>Manage Payments</a></li> {% endcomment %}
							{% comment %} <li style="display:none;"><a href="#d"><span class="icon-refer-friend"></span>Refer a Friend</a></li> {% endcomment %}
							<div class="tab"><a href="#e" class="tab">Loyalty</a></div>
							<div class="tab"><a href="#f" class="tab">Change password</a></div>
							<a id="subscription-tab" href="{{ manage_subscription_url }}"><div class="tab">Subscriptions</div></a>
							<a class="logout lgoutlnk" href="/account/logout/"><div class="tab">Logout</div></a>
						</div>
					</div>
				</div>

				<div class="account-menu-mobile-dropdown mobile w-full">
					<select id="mobile-dropdown" onchange="changeContent()">
						{% if show_curalifer_tab %}
							<option value="#curalifer"><i class="fa-thin fa-user-crown"></i>Curalifer</option>
						{% endif %}
						<option value="#a">My Profile</option>
						<option value="#b">Orders</option>
						<option value="#e">Loyalty</option>
						<option value="#f">Change password</option>
						<option value="{{ manage_subscription_url }}">Subscriptions</option>
						<option value="/account/logout/">Logout</option>
					</select>
				</div>

				<div class="account-data">
					{% if show_curalifer_tab %}
						<div class="data-row" id="curalifer">
							<div class="titles w-full">
								<h2>My Curalife</h2>
								<p>Your exclusive access to our recipies and workouts to help you live a healthier life.</p>
							</div>

							<div class="data-wrap with-border p-[10px]">
								<a href="/blogs/recipes">
									<img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalifer_recipies.png" alt="Curalife Recipes">
									<h5 class="data-title m-0">Recipes</h5>
								</a>
							</div>

							<div class="data-wrap with-border p-[10px]">
								<a href="/blogs/workouts">
									<img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalifer_exercise.png" alt="Curalife Workouts">
									<h5 class="data-title m-0">Workouts</h5>
								</a>
							</div>
						</div>
					{% endif %}

					<div class="data-row" id="a">
						<div class="data-wrap with-border">
							<h5 class="data-title m-0">Contact Information</h5>

							<div class="data-content">
								<div class="contact-info">
									<ul>
										<li><p>First Name<span>{{ customer.first_name }}</span></p></li>
										<li><p>Last Name<span>{{ customer.last_name }}</span></p></li>
										<li><p>Email<span>{{ customer.email }}</span></p></li>
									</ul>
								</div>

								<div class="data-btn">
									<a class="main-btn blank" href="/account/addresses">Edit</a>
								</div>
							</div>
						</div>

						<div class="data-wrap with-border">
							<h5 class="data-title m-0">Shipping Address</h5>

							<div class="data-content">
								<div class="shipping-addresses">
									{% assign address = customer.default_address %}
									{% if address %}
										<div class="view_address">
											<p>{{ address.first_name }} {{address.last_name }}
											{% if address.company != blank %}<br />{{ address.company }}{% endif %}
											{% if address.street != blank %}<br />{{ address.street }}{% endif %}
											<br />{{ address.city }} {% if address.province_code != blank %}, {{ address.province_code }}{% endif %}
											<br />{{ address.country }} {{ address.zip }}
											{% if address.phone != blank %}<br />{{ address.phone }}</p>{% endif %}
										</div>
									{% else %}

									<div class="empty-text">
										<p><span class="icon-shipping"></span>You don't have a shipping address yet.</p>
									</div>
									{% endif %}
								</div>

								<div class="data-btn">
									<a class="main-btn blank" href="/account/addresses">add address</a>
								</div>
							</div>
						</div>
					</div>

					<div class="data-row w-full" id="b">
						<div class="data-wrap w-full">
							{% render 'account-orders' %}
						</div>
					</div>

				<div class="data-row" id="e">
					<div class="data-wrap">
						{% render 'account-rewards' %}
					</div>
				</div>

				<div class="data-row" id="f">
					<div class="data-wrap with-border">
						{% render 'account-change-password' %}
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const accountData = document.querySelector('.account-data'); // Initialize once at the top

		if (!accountData) {
			console.error("accountData element is not found");
			return;
		}

		function changeContent() {
			let selectedTab = document.querySelector('#mobile-dropdown').value;
			let tabLink = document.querySelector(`.tabs .tab a[href="${selectedTab}"]`);
			if (tabLink) {
				tabLink.click();
			}
		}

		function setActiveTab(targetLink) {
			const tabs = document.querySelector('#tabs');
			const tabLinks = Array.from(tabs.querySelectorAll('.tabs .tab a'));
			const allTabPanes = Array.from(tabs.querySelectorAll('.account-data .data-row'));

			const href = (targetLink && targetLink.getAttribute('href')) ? targetLink.getAttribute('href').substr(1) : null;
			const tabPane = href ? document.getElementById(href) : null;

			allTabPanes.forEach(pane => {
				pane.classList.remove("active");
				pane.style.pointerEvents = "none";
			});

			tabLinks.forEach(link => link.parentElement.classList.remove("active"));

			if (tabPane && accountData) { // Check if accountData is available
				tabPane.classList.add("active");
				tabPane.style.pointerEvents = "auto";
				const tabPaneWrap = tabPane.querySelector('.data-wrap');
				accountData.style.height = `${tabPaneWrap.offsetHeight}px`;
			}

			targetLink.parentElement.classList.add("active");
		}

		const tabs = document.querySelector('#tabs');
		const tabLinks = Array.from(tabs.querySelectorAll('.tabs .tab a'));

		if (tabLinks.length > 0) {
			setActiveTab(tabLinks[0]);
		}

		tabLinks.forEach(link => {
			link.addEventListener('click', function (e) {
				e.preventDefault();
				setActiveTab(e.target);
			});
		});

		const allTabPanes = Array.from(tabs.querySelectorAll('.account-data .data-row'));

		allTabPanes.forEach(pane => {
			pane.addEventListener('transitionend', function () {
				const activeTabPane = tabs.querySelector('.account-data .data-row.active');
				if (activeTabPane) {
					accountData.style.height = `${activeTabPane.clientHeight}px`;
				}
			});
		});

		const mobileDropdown = document.querySelector('#mobile-dropdown');
		mobileDropdown.addEventListener('change', function() {
			if (this.value.charAt(0) != '#') {
				window.location.href = this.value;
				return;
			}
			else {
				changeContent()
			}
		});
	});
</script>

<style>
	main {
		background: var(--beige);
	}

	section:has(.rc-login) {
		padding: 0;
	}
	.rc-login a {
		display: inline-flex;
		padding: 10px 20px;
		background: var(--blue);
		color: white;
		font-weight: bold;
		border-radius: 5px;
	}
</style>

<style>
	.account-page li:before {
		display: none;
	}

	.account-data {
		position: relative;
	}

	#mobile-dropdown {
		width: 100%;
		background: white;
		padding: 10px;
		font-weight: bold;
		box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
	}

	.data-row {
		position: absolute;
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	.data-row.active {
		opacity: 1;
	}

	.account-content {
		display: flex;
		gap: 30px;
	}

	.account-menu {
		width: 400px;
		border-radius: 10px;
	}

	.account-menu .menu-list .tabs {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.account-menu .menu-list .tabs .tab.active,
	.account-menu .menu-list .tabs .tab:hover {
		box-shadow: unset;
	}

	.account-data {
		width: -webkit-fill-available;
	}

	.account-data .data-row {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.account-data .data-row .data-wrap {
		display: flex;
		flex-direction: column;
		min-width: 390px;
		border-radius: 10px;
		background: white;
		box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
	}

	.account-data .data-title {
		padding: 16px 15px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}

	.account-data .data-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
		padding: 30px;
	}

	.contact-info ul li:first-child {
		padding-top: 0;
	}
	.contact-info ul li {
		display: block;
		padding: 15px 0;
	}

	.account-page ul li {
		padding-left: unset;
	}

	.account-page ul li::before {
		content: '';
	}

	.main-btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #fff;
		background: var(--blue);
		border-radius: 2px;
		min-height: 50px;
		width: -webkit-fill-available;
	}

	.account-menu .menu-list .tabs .tab {
		padding-left: unset;
	}

	.account-menu .menu-list .tabs .tab a span {
		display: flex;
		min-width: 25px;
	}

	.account-menu .menu-list .tabs .tab a,
	.account-menu .menu-list .tabs .tab:last-child{
		display: flex;
		align-items: center;
		color: inherit;
		transition: color var(--transition);
		gap: 10px;
		background: white;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 1px 4px 18px -16px rgba(0,0,0,0.75);
	}

	.contact-info ul li p span {
		display: block;
		padding-left: 15px;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
		color: #333;
	}

	.contact-info ul li {
		display: block;
		padding: 15px 0;
		min-width: 300px;
		border-bottom: 1px solid #efefef;
	}

	.contact-info ul li:first-child {
		padding-top: 0;
	}

	.contact-info ul li p {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.29;
		color: var(--dark);
	}

	.account-data .form-text {
		text-align: center;
	}

	.form-fields {
		display: flex;
		flex-wrap: wrap;
	}

	.form-fields label.full-size {
		width: 100%;
	}

	.form-fields label {
		display: block;
		margin: 10px;
		position: relative;
	}

	.form-fields label input {
		width: 100%;
		padding: 17px 21px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		color: #737373;
		background: #fff;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		border-radius: 2px;
	}

	.form-wrap {
		max-width: 600px;
		margin: auto;
		text-align: center;
	}

	@media screen and (max-width: 1200px){
		.account-menu .menu-list .tabs .tab {
			margin: 5px 0;
			padding-left: 16px;
			font-size: 14px;
		}

		.account-data {
			width: calc(100% - 230px);
			padding-left: 10px;
		}

		.account-data .data-title {
			padding: 13px 15px;
		}
		.account-data .data-title h3 {
			font-size: 14px;
		}
		.account-data .data-content {
			padding: 22px 19px;
		}
		.contact-info ul li {
			padding: 12px 0;
		}

		.contact-info ul li {
			padding: 12px 0;
		}
	}

	@media screen and (max-width: 768px) {
		.account-menu {
			width: 100%;
		}

		.account-menu .menu-list .tabs .tab {
			margin: unset;
			gap: 5px;
			padding-left: 25px;
			font-size: 16px;
		}

		.account-data {
			width: 100%;
			padding-left: 0;
			margin-top: 18px;
		}
		.account-data .data-row .data-wrap {
			min-width: -webkit-fill-available;
			margin: unset;
		}
		.account-data .data-title {
			padding: 16px 15px;
		}
		.account-data .data-title h3 {
			font-size: 16px;
		}
		.account-data .data-content {
			padding: 20px 12px;
		}
		.contact-info {
			padding: 0 8px 14px;
		}
		.contact-info ul li:first-child {
			padding-top: 12px;
			border-top: 1px solid #efefef;
		}

		.contact-info ul li p span {
			font-size: 16px;
		}
		.contact-info ul li:first-child {
			padding-top: 12px;
			border-top: 1px solid #efefef;
		}
		.contact-info ul li p {
			font-size: 14px;
		}

		.account-content {
			flex-wrap: wrap;
		}
	}
</style>


{% schema %}
{
	"name": "My Account",
	"settings": [
		{
			"type": "text",
			"id": "acnt_titl",
			"label": "Title",
			"default": "Enter Title"
		}, {
			"type": "header",
			"content": "Order Section Start"
		}, {
			"id": "ord_btnlink",
			"type": "url",
			"label": "Button Link"
		}
	],
	"presets": [
		{
			"name": "My Account",
			"category": "Account"
		}
	]
}
{% endschema %}