{% assign isCuralinBundled = false %}
{% for prod in product.metafields.custom.bundle-products.value %}
  {% if prod.handle == 'curalin' %}
    {% assign isCuralinBundled = true %}
  {% endif %}
{% endfor %}

{% if product.tags contains "sleep" %}
  {% assign title_color = "var(--dark-turquoise)" %}
{% else %}
  {% assign title_color = "var(--dark-orange)" %}
{% endif %}

{% assign doctors = 'lp-aio-michel.png*Dr. Michael Binder:Functional doctor, author of Cracking The Diabetic Code.
|lp-aio-nancy.png*Dr. Nancy Russell:Internal Medicine Specialist, North Kansas City Hospital
|lp-aio-raz.png*Prof. Itamar Raz:World renouned diabetes expert with over 400 published peer-reviewed studies.
|lp-aio-sarah.png*Dr. Sarah Brewer:Functional doctor, diabetes expert, and author of over 60 books on personal health.'
| split: '|' %}


<div id="supplement-page">
  {% render 'product-cta-section', ctaTextType: "total",  isCuralinContent: isCuralinBundled, title: "Select Your Deal:", badgesPosition: "cta", badgesContent: "free-shipping,money-back", isHighlightSubtitle: true, isReversed: true, ctaColor: "var(--orange)", bottomLineColor: "var(--light-green)", defaultSelectionIndex: 2, isPricePerUnit: true %}
  {% render 'product-benefits-section' %}

  {% if product.metafields.custom.bundle-products.value %}
    {% for prod in product.metafields.custom.bundle-products.value %}
      {% if forloop.last %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index, isLastRender: true %}
      {% else %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% render 'product-supplement-pack-info', product: product, isLastRender: true %}
  {% endif %}

  {% render 'product-supplement-info-section', titleColor: title_color %}

  {% if isCuralinBundled %}
    {% render 'product-supplement-doctors-section' %}
  {% endif %}

  {% render 'product-schedule-a-call-section', productTitle: product.title, bgColor: '#FAF5E9', border: false, isHideImageOnMobile: true %}
  {% render 'product-faq-section', bgColor: "var(--lighter-green)" %}
</div>

{% comment %} Temp {% endcomment %}
<style>
  .variant-box {
    border-radius: 10px;
    border-color: var(--light-green);
    height: 70px;
  }

  .product-actions {
    max-width: 350px;
  }

  .cta-section .product-container {
    grid-template-columns: 60% 40%;
  }

  .cta-section .product-image {
    max-height: 600px;
  }

  .variant-box .price {
    flex-direction: column;
    align-items: end;
    gap: unset;
  }
</style>

<style>
  #supplement-page {
    font-size: 20px;
    line-height: 1.2em;
  }

  p {
    margin: unset;
  }

  #supplement-page section .titles {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
  }

  #supplement-page section h2 {
    font-size: 48px;
    font-weight: bold;
    white-space: nowrap;
    margin: unset;
  }


  @media screen and (max-width: 768px) {
    .product-actions {
      max-width: unset;
    }
    #supplement-page section .titles {
      flex-direction: column !important;
      align-items: baseline;
      gap: 2vw;
    }

    #supplement-page section h2 {
      white-space: unset;
      text-align: left;
      font-size: 8vw;
    }
  }
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>