{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
	{% assign yotpo_script_id = '5AyB8SFKOjnnor-g4qIeMg' %}
	{% assign yotpo_raf_widget_id = '584168' %}
{% elsif shop.name == 'CuraLife Global' %}
	{% assign isGlobal = true %}
	{% assign yotpo_script_id = 'oMYBvmnASlHzmouicgkepg' %}
	{% assign yotpo_raf_widget_id = '111013' %}
{% endif %}

<div class="container">
	{% if isGlobal %}<div class="confetti-container"></div>{% endif %}
	<h1 style="display:none">Refer A Friend</h1>
	<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script>
	<div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_raf_widget_id }}"></div>

	{% if isGlobal %}
		<div id="raf-steps" style="display: none;margin: 70px 0px 50px;">
			<div class="steps">
				<div class="step">
					<div class="step-number">1</div>
					{% comment %} <img class="step-image" src="{{ 'raf-icon-1.png' | asset_url }}" alt=""> {% endcomment %}
					<p class="step-title">Tell Your Friend</p>
					<p class="step-description">Tell your friends about Curalin and the difference it can make in their lives. When you refer, your friend will also get a $25 discount!</p>
				</div>
				<div class="step">
					<div class="step-number">2</div>
					{% comment %} <img class="step-image" src="{{ 'raf-icon-2.png' | asset_url }}" width="69px" height="70px" alt=""> {% endcomment %}
					<p class="step-title">Share Your Link</p>
					<p class="step-description">Share your personal referral code with friends. You can send the link directly, or through Email, SMS, Facebook, Whatsapp, or Twitter.</p>
				</div>
				<div class="step">
					<div class="step-number">3</div>
					{% comment %} <img class="step-image" src="{{ 'raf-icon-3.png' | asset_url }}" alt=""> {% endcomment %}
					<p class="step-title">Redeem Your Reward</p>
					<p class="step-description">When your friend make their first order, we’ll credit your account with 590 Loyalty Points. That is already enough for a free bottle of Curalin!</p>
				</div>
			</div>
		</div>
		<p id="terms-agree" style="display: none;">By clicking next step, you’re agreeing to Curalife’s terms & conditions</p>

		<img id="thank-you-image-base" style="display: none;" src="{{ 'raf-thank-you-image.png' | asset_url }}" alt="">
	{% endif %}
</div>

{% unless isGlobal %}
	<style>
		main {
			background: #ecf2f2;
		}
	</style>
{% endunless %}

{% if isGlobal %}
	<script>
		let confettiIsActivated = false;

		function runAfterElementExists(jquery_selector, callback) {
			var checker = window.setInterval(function () {
				if ($(jquery_selector).length) {
					clearInterval(checker);
					callback();
				}
			}, 200);
		}

		function scrollUp() {
			$('html, body').animate(
				{
					scrollTop: 0
				},
				500
			);
		}

		function renderEmailShare() {
			if (!$('#email-share').length) {
				var emailShare =
					'<li id="email-share" role="listitem" style="font-weight: 400; font-style: normal;"><div class="yotpo-widget-copy-link-container"><button class="yotpo-share-button-widget yotpo-share-button yotpo-copy-link" utm-src="c"><div class="yotpo-share-button-icons"><span class="icon-envelope"></span></div><span class="yotpo-share-button-txt" id="email-share-text">Email</span></button></div></li>';
				$('.yotpo-share-buttons-container').prepend(emailShare);

				$('#email-share').click(function () {
					$('.yotpo-referral-widget-form').css('max-height', '200px');
					$('#remind-friends').css('display', 'block');
				});
			}
		}

		function renderRemindFriend() {
			if (!$('#remind-friends').length) {
				var remindFriend = '<p id="remind-friends">Remind your friend that they will get a $25 discount by buying through your link</p>';
				$('.yotpo-referral-widget-form').append(remindFriend);
			}
		}

		function renderQuote() {
			if (!$('#quote').length) {
				var quote =
					'<div id="quote"><span class="icon-quote"></span><div class="quote-content"><p class="quote-text">My friend mentioned Curalin and i’m so thankful.</p><p class="quote-author">Delores</p></div></div>';
				$('.yotpo-friends-emails-view').append(quote);
			}
		}

		function renderThankYouImage() {
			if (!$('#thank-you-image').length) {
				var thankYouImage = $('#thank-you-image-base').clone();
				thankYouImage.attr('id', 'thank-you-image');
				thankYouImage.insertAfter('.yotpo-title-text');
				$('#thank-you-image').css('display', 'block');
			}
		}

		runAfterElementExists('.yotpo-email-view', function () {
			$('#raf-steps').insertAfter('#yotpoReferralDescriptionText');
			$('#raf-steps').css('display', 'block');
			$('#terms-agree').insertAfter('.yotpo-action-button-widget');
			$('#terms-agree').css('display', 'block');
		});

		runAfterElementExists('.yotpo-friends-emails-view', function () {
			$('#raf-steps').css('display', 'none');
			$('#terms-agree').css('display', 'none');
			renderRemindFriend();
			renderEmailShare();
			renderQuote();
			$('.yotpo-referral-widget-form').insertAfter('.yotpo-share-buttons-container');
			scrollUp();

			$(document).delegate('button', 'click', function () {
				runAfterElementExists('.yotpo-screen-final', function () {
					scrollUp();
					renderThankYouImage();

					if (confettiIsActivated) {
						$('.confetti-container').css('display', 'block');
					} else {
						for (var i = 0; i < 150; i++) {
							create(i);
						}
						confettiIsActivated = true;
					}

					$("[aria-label='Go back to previous screen'], .yotpo-lower-line-tab, button").click(function () {
						runAfterElementExists('.yotpo-friends-emails-view', function () {
							$('.confetti-container').css('display', 'none');
							renderEmailShare();
							renderRemindFriend();
							renderQuote();
							$('.yotpo-referral-widget-form').insertAfter('.yotpo-share-buttons-container');
						});
						scrollUp();
					});
				});

				runAfterElementExists('.yotpo-final-view', function () {
					$("[aria-label='Go back to previous screen']").click(function () {
						runAfterElementExists('.yotpo-friends-emails-view', function () {
							$('.confetti-container').css('display', 'none');
							renderEmailShare();
							renderRemindFriend();
							renderQuote();
							$('.yotpo-referral-widget-form').insertAfter('.yotpo-share-buttons-container');
						});
						scrollUp();
					});
				});
			});
		});

		function create(i) {
			var width = Math.random() * 16;
			var height = width * 0.4;
			var colourIdx = Math.ceil(Math.random() * 3);
			var colour = 'red';
			switch (colourIdx) {
				case 1:
					colour = 'yellow';
					break;
				case 2:
					colour = 'blue';
					break;
				default:
					colour = 'red';
			}

			$('<div class="confetti-' + i + ' ' + colour + '"></div>')
				.css({
					width: width + 'px',
					height: height + 'px',
					top: -Math.random() * 20 + '%',
					left: Math.random() * 100 + '%',
					opacity: Math.random() + 0.5,
					transform: 'rotate(' + Math.random() * 360 + 'deg)'
				})
				.appendTo('.confetti-container');

			drop(i);
		}

		function drop(x) {
			$('.confetti-' + x).animate(
				{
					top: '100%',
					left: '+=' + Math.random() * 15 + '%'
				},
				Math.random() * 2000 + 2000,
				function () {
					reset(x);
				}
			);
		}

		function reset(x) {
			$('.confetti-' + x).animate(
				{
					top: -Math.random() * 20 + '%',
					left: '-=' + Math.random() * 15 + '%'
				},
				0,
				function () {
					drop(x);
				}
			);
		}
	</script>

	<style>
		#shopify-section-refer-friend {
			position: relative;
		}

		.confetti-container {
			height: 100%;
			width: 100%;
			pointer-events: none;
		}

		[class|='confetti'] {
			position: absolute;
		}

		.red {
			background-color: #d98d8d;
		}

		.yellow {
			background-color: #d2cc6f;
		}

		.blue {
			background-color: #97b5b9;
		}

		.contact-form {
			width: 100%;
			padding: 0;
		}

		.how-title {
			color: #74b7ae;
			text-transform: uppercase;
			font-size: 35px;
			margin: 20px;
			margin-top: 50px;
		}

		.line {
			width: 100px;
			border-bottom: 1px solid black;
			margin: 30px auto;
		}

		.steps {
			display: flex;
			gap: 5%;
			justify-content: space-between;
		}

		.steps .step {
			width: 28%;
			text-align: start;
		}

		.steps .step .step-number {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-color: #a5c3cd;
			color: white;
			font-size: 55px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		.steps .step img.step-image {
			height: 70px;
			object-fit: cover;
			margin-inline-start: 10%;
			margin-block-start: -20px;
		}

		.steps .step p.step-title {
			font-weight: 900;
			font-size: 22px;
			margin-bottom: 0;
		}

		.steps .step p.step-description {
			margin-top: 0;
			font-size: 20px;
		}

		#terms-agree {
			font-size: 12px;
		}

		#quote {
			position: relative;
			width: 680px;
			min-height: 35px;
			margin: 40px auto;
			left: -5px;
		}

		#quote .icon-quote {
			font-family: icoFont;
			font-size: 40px;
			color: #a5c3cd;
			position: absolute;
			left: 0px;
			opacity: 0.5;
			z-index: 0;
		}

		#quote .quote-content {
			position: absolute;
			left: 15px;
			top: 10px;
			z-index: 0;
		}

		#quote .quote-content .quote-text {
			font-size: 30px;
			margin: 0;
		}

		#quote .quote-content .quote-author {
			margin: 0;
			color: grey;
			text-align: left;
		}

		.yotpo-button-style {
			background-color: #ffc75a !important;
			max-width: 500px !important;
		}

		.yotpo-tab-active {
			border-bottom: 2px solid var(--green) !important;
			color: var(--green) !important;
		}

		svg.yotpo-share-button-icon {
			width: 40px;
			height: 40px;
		}

		#email-share-text {
			position: relative;
			top: 8px;
		}

		#remind-friends {
			margin: 10px 0;
			font-weight: 500;
		}

		#thank-you-image {
			width: 300px;
			margin: auto;
			margin-bottom: -25px;
		}

		.yotpo-widget-referral-widget .yotpo-final-view .yotpo-header-text {
			display: block;
		}

		.yotpo-widget-referral-widget .yotpo-tile-box.yotpo-final-view {
			padding-top: 20px;
		}

		.yotpo-share-button-icons .icon-envelope {
			font-family: 'icoFont' !important;
			color: white;
			font-size: 25px;
			background-color: #a5c3cd;
			border-radius: 50%;
			padding: 8px;
			cursor: pointer;
		}

		.yotpo-widget-referral-widget .yotpo-referral-widget-form {
			max-width: 500px;
			margin: 20px auto;
			width: inherit;
		}

		.yotpo-friends-emails-view .yotpo-referral-widget-form {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s;
		}

		.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-standard-size {
			width: 100%;
		}

		.yotpo-widget-referral-widget .yotpo-title-text {
			font-family: 'Poppins' !important;
		}

		.yotpo-widget-referral-widget .yotpo-action-button-widget {
			margin-top: 20px;
		}

		.yotpo-widget-referral-widget .yotpo-tile-wrapper {
			max-width: 100%;
		}

		.yotpo-widget-referral-widget .yotpo-background.yotpo-center-background {
			height: unset !important;
		}

		.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-customer-share-button,
		.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
			margin-top: 20px;
		}

		.yotpo-widget-referral-widget .yotpo-header-text {
			display: none;
		}

		.yotpo-widget-referral-widget .yotpo-tile-box {
			padding-top: unset;
		}

		.yotpo-widget-referral-widget .yotpo-tabs-content {
			margin-bottom: 10px;
		}

		.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input-example {
			display: none;
		}

		.yotpo-widget-referral-widget .yotpo-share-buttons-container {
			max-width: 700px;
			margin: auto;
		}

		.yotpo-widget-referral-widget .yotpo-tile {
			min-height: unset;
		}

		.yotpo-widget-referral-widget .yotpo-share-button-icons {
			display: block;
		}

		.yotpo-widget-referral-widget .yotpo-share-buttons-container {
			max-width: 600px;
			margin-top: 60px;
		}

		.yotpo-widget-tooltip-message {
			background-color: var(--green) !important;
			color: white !important;
			font-weight: 900;
			border-radius: 5px;
		}

		.yotpo-widget-referral-widget :focus {
			box-shadow: unset;
		}

		@media screen and (max-width: 768px) {
			.steps {
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.steps .step {
				width: 100%;
				margin-bottom: 20px;
			}

			.yotpo-widget-referral-widget .yotpo-tile-box {
				width: 90%;
			}

			.yotpo-widget-referral-widget .yotpo-email-view .yotpo-title-text {
				font-size: 11vw !important;
			}

			.yotpo-widget-referral-widget .yotpo-share-buttons-container.yotpo-is-mobile li {
				margin: 20px 10px 0 !important;
			}

			.yotpo-widget-referral-widget .yotpo-title-text {
				font-size: 6vw !important;
				margin-top: 10px;
			}

			#email-share-text {
				display: none;
			}

			.yotpo-share-button-icons .icon-envelope {
				padding: 4px;
			}

			#quote {
				max-width: 100%;
				margin: 0 auto 30px;
			}

			#quote .quote-content .quote-text {
				font-size: 6vw;
				text-align: left;
			}

			.yotpo-widget-referral-widget .yotpo-final-view .yotpo-header-text {
				font-size: 8vw !important;
			}

			.yotpo-widget-referral-widget .yotpo-final-view .yotpo-title-text {
				font-size: 5vw !important;
			}

			.yotpo-widget-referral-widget .yotpo-tabs-content {
				margin: 0;
			}

			.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-is-mobile {
				margin-top: 20px;
			}

			#raf-steps {
				margin: 40px 0 20px;
			}

			#email-share {
				min-width: 60px;
			}

			.yotpo-share-button-icons .icon-envelope {
				padding: 9px;
				font-size: 34px;
			}

			.yotpo-widget-referral-widget .yotpo-is-mobile .yotpo-share-button-icon {
				width: 60px;
				height: 50px;
			}

			.yotpo-widget-referral-widget .yotpo-screen-customer_email .yotpo-email-view.yotpo-is-mobile .yotpo-title-text {
				font-size: 11vw !important;
				line-height: 3rem;
			}

			.yotpo-widget-referral-widget .yotpo-email-view.yotpo-is-mobile .yotpo-title-text {
				font-size: 6vw !important;
				line-height: 2rem;
			}

			.yotpo-widget-referral-widget .yotpo-share-buttons-container.yotpo-is-mobile {
				margin-top: 20px;
			}

			.yotpo-widget-referral-widget .yotpo-is-mobile .yotpo-tab-details {
				min-height: unset;
			}

			.yotpo-widget-referral-widget .yotpo-email-view.yotpo-is-mobile .yotpo-referral-widget-form {
				margin-top: -60px;
			}
		}
	</style>
{% endif %}

{% schema %}
	{
		"name": "Refer Friend",
		"settings": [
			{
				"type": "text",
				"id": "refr_pretitl",
				"label": "Pre Title",
				"default": "Enter Pre Title"
			},
			{
				"type": "text",
				"id": "refr_titl",
				"label": "Title",
				"default": "Enter Title"
			},
			{
				"type": "textarea",
				"id": "refr_desc",
				"label": "Description",
				"default": "Enter Description"
			},
			{
				"type": "image_picker",
				"id": "refr__img",
				"label": "Select Image"
			},
			{
				"type": "select",
				"id": "refr_imgpos",
				"label": "Select Image Position",
				"options": [
					{
						"label": "Right",
						"value": ""
					},
					{
						"label": "Left",
						"value": "reverse"
					}
				]
			}
		],

		"presets": [
			{
				"name": "Refer Friend",
				"category": "image"
			}
		]
	}
{% endschema %}
