<div class="login-page">
    <div class="container">
        <div class="mini-wrap">
            <div class="page-title">
                <div class="sub-title">
                    <h1>{{section.settings.rst_titl}}</h1>
                </div>
            </div>
            <div class="login-form">
                {% if section.settings.rst_img != blank %}
                <div class="picture">
                    <div class="img-wrap">
                        <img src="{{ section.settings.rst_img | img_url: '' }}" width="560px" height="143px" alt="happy people" loading="lazy">
                    </div>
                </div>
                {% endif %}
                <div class="form-wrap">
                    <div class="main-action">
                        <div class="sub-title d-desktop">
                            <h4>{{section.settings.rst_sbtitl}}</h4>
                        </div>
                        <div class="sub-title d-mobile">
                            <h4>{{section.settings.rst_mbltitl}}</h4>
                            <p>{{section.settings.rst_mbldes}}</p>
                        </div>
                        {% form 'recover_customer_password', id:'rst_popup' %}
                        {{ form.errors | default_errors}}

                            <div class="form-fields">
                                <label class="full-size">
                                    <input type="email" placeholder="E-mail" name="email" id="recover-email"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email">
                                </label>
                            </div>
                            <div class="submit-form">
                                <button id="submit_reset_btn" type="submit" class="main-btn">Submit</button>
                            </div>
                        {% endform %} 
                    </div>
                    <div class="extra-action">
                        <div class="text">
                            <p>Do you want to login?</p>
                        </div>
                        <div class="btn">
                            <a href="/account/login" class="main-btn blank">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .mini-wrap {
        width: 100%;
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 35px;
    }

    .page-title {
        margin-top: 3%;
        padding: 27px 0;
    }

    .sub-title {
        text-align: center;
        color: var(--dark);
        margin-bottom: 30px;
    }

    .sub-title h1, .sub-title h2 {
        margin: 0;
        font-weight: 800;
        font-size: 48px;
        line-height: 1.3;
        font-family: 'PP Radio Grotesk';
    }
    .login-form .form-wrap {
        margin: 10px auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 35px 39px;
        border: 1px solid #efefef;
    }

    .sub-title {
        text-align: center;
        color: var(--dark);
        margin-bottom: 30px;
    }

    .login-form .form-wrap .sub-title {
        max-width: 396px;
        margin: 0 auto;
        padding-bottom: 22px;
    }
    .sub-title h4 {
        margin: 0;
        font-weight: 700;
        font-size: 28px;
    }

    .login-form .form-wrap .sub-title.d-mobile {
        display: none;
    }
    .form-fields {
        display: flex;
        flex-wrap: wrap;
    }

    .form-fields label.full-size {
        width: 100%;
    }

    .form-fields label {
        display: block;
        margin: 10px;
        position: relative;
    }

    .form-fields label input {
        width: 100%;
        padding: 17px 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #737373;
        background: #fff;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        border-radius: 2px;
    }
    .login-form .form-wrap form .submit-form {
        padding-top: 10px;
    }
    .submit-form {
        text-align: center;
        margin: auto;
    }

    .main-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: -moz-fit-content;
        width: fit-content;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: var(--dark-green);
        border-radius: 2px;
        border: 1px solid var(--dark-green);
        transition: all .6s;
    }

    .submit-form .main-btn {
        width: 95%;
        min-height: 56px;
        font-size: 18px;
    }
    .login-form .form-wrap form .submit-form .main-btn {
        font-size: 16px;
        margin-bottom: 26px;
    }
    .login-form .form-wrap form .submit-form .main-btn:last-child {
        margin-bottom: 10px;
    }

    .login-form .form-wrap .extra-action {
        margin-top: 7.4%;
        padding: 10px;
        border-top: 1px solid rgba(34,34,34,.1);
    }
    .login-form .form-wrap .extra-action .text {
        padding: 7.4% 0;
    }
    .login-form .form-wrap .extra-action .text p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: var(--dark-grey);
    }
    .login-form .form-wrap .extra-action .btn .main-btn {
        width: 100%;
        min-height: 56px;
    }

    @media screen and (max-width: 1590px) {
        .mini-wrap {
            max-width: 1110px;
        }

        .page-title {
            margin-top: 3%;
            padding: 23px 0;
        }
        .sub-title h1, .sub-title h2 {
            font-size: 36px;
        }
        .login-form .form-wrap {
            padding: 32px 34px;
        }
        .login-form .form-wrap .sub-title {
            padding-bottom: 19px;
        }
        .sub-title h4 {
            font-size: 25px;
        }
        .login-form .form-wrap form .form-fields label input {
            height: 51px;
            padding: 10px 24px;
            font-size: 14px;
        }
        .login-form .form-wrap form .submit-form {
            padding-top: 2px;
        }
        .submit-form .main-btn {
            min-height: 49px;
           
        }
        .login-form .form-wrap .extra-action .text p {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1430px) {
        .mini-wrap {
            max-width: 990px;
        }
    }

    @media screen and (max-width: 1270px) {
        .mini-wrap {
            max-width: 798px;
        }

        .page-title {
            margin-top: 2%;
        }
        .sub-title h1, .sub-title h2 {
            font-size: 28px;
        }
    }

    @media screen and (max-width: 1200px) {
        .sub-title h1, .sub-title h2 {
            font-size: 32px;
        }
        .login-form .form-wrap .sub-title {
            padding-bottom: 16px;
        }
        .sub-title h4 {
            font-size: 23px;
        }

        .login-form .form-wrap form .form-fields label input {
            height: 45px;
            padding: 10px 17px;
        }
        .submit-form .main-btn {
            min-height: 45px;
        }
        .login-form .form-wrap form .submit-form .main-btn {
            font-size: 14px;
            margin-bottom: 20px;
        }
        .login-form .form-wrap .extra-action .text p {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 768px) {
        .page-title {
            padding: 15px 0;
        }

        .login-page .page-title {
            display: none;
        }
        .sub-title h1 {
            font-size: 10vw;
            text-align: center;
        }
        .login-page .login-form {
            padding: 0;
            margin: 0 -15px;
        }
        .login-form .picture {
            width: 100%;
        }
        .login-form .form-wrap {
            width: 100%;
            padding: 22px 0 0;
        }
        .login-form .form-wrap .sub-title.d-desktop {
            display: none;
        }
        .sub-title h4 {
            font-size: 24px;
        }
        .login-form .form-wrap .sub-title.d-mobile {
            display: block;
        }
        .login-form .form-wrap form .form-fields label input{
            height: 56px;
            padding: 10px 22px;
            font-size: 16px;
        }
        .login-form .form-wrap form .submit-form {
            padding-top: 9px;
        }

        .login-form .form-wrap form .submit-form .main-btn {
            font-size: 16px;
            min-height: 56px;
            max-width: 95%;
            padding: 13px 20px;
        }
        .login-form .form-wrap .extra-action {
            margin-top: 30px;
        }
        .login-form .form-wrap .extra-action .text {
            padding: 21px 0;
        }
        .login-form .form-wrap .extra-action .text p {
            font-size: 18px;
        }
        .login-form .form-wrap .extra-action .btn .main-btn {
            max-width: 100%;
            font-size: 16px;
        }
    }
</style>


{% schema %}
    {
        "name": "Reset Password",
        "settings": [
             
            {
                "type": "text",
                "id": "rst_titl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "header", 
                "content": "Image Section Start" 
            },
            {
                "type": "image_picker",
                "id": "rst_img",
                "label": "Select Image"
            },
            {
                "type": "header", 
                "content": "form Section Start" 
            },
            {
                "type": "text",
                "id": "rst_sbtitl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "text",
                "id": "rst_mbltitl",
                "label": "Mobile Title",
                "default": "Enter Mobile Title"
            },
            {
                "type": "textarea",
                "id": "rst_mbldes",
                "label": "Mobile Description",
                "default": "Enter Mobile Description"
            }
            
        ],    
            
        "presets":[
            {
                "name": "Reset Password",
                "category": "Account"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
    $(document).ready(function(){
  
          $("#submit_reset_btn").click(function(){
            localStorage.setItem("reset_password", true);
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
  var email = $("#recover-email").val();
  if(!filter.test(email)){
    $("#recover-email").css("border-color","red");
    return false;
  }
            if ($.trim($("#recover-email").val()) != "" ) {
       
             $("#rst_popup").submit();
        }
        else{
           
             return false;
        }

           
        
          });
    });
</script>