.{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'Curalife' %}
  {% assign yotpo_rewards_widget_id = "584162" %}
  {% assign yotpo_rewards_raf_widget_id = "35419" %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
  {% assign rewards_signup_modal_id = "VbQeKW" %}
  {% assign rewards_signup_sms_modal_id = "UXbHiM" %}
{% elsif shop.name == "Curalife Global" %}
  {% assign yotpo_rewards_widget_id = "578292" %}
  {% assign yotpo_rewards_raf_widget_id = "73923" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
  {% assign rewards_signup_modal_id = "Svgepi" %}
  {% assign rewards_signup_sms_modal_id = "Xtwmbf" %}
{% endif %}

<h1 style="display:none">Rewards</h1>
{% comment %} <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script> {% endcomment %}
<div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_rewards_widget_id }}"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_rewards_raf_widget_id }}"></div>

<script>
  window._klOnsite = window._klOnsite || [];

  function openRewardsModal(modalId) {
    window._klOnsite.push(['openForm', modalId]);
  }

  const urlParams = new URLSearchParams(window.location.search);
  const signup = urlParams.get('signup');
  const signupSMS = urlParams.get('signup_sms');

  if (signup === 'true') {
    openRewardsModal('{{ rewards_signup_modal_id }}');
  } else if (signupSMS === 'true') {
    openRewardsModal('{{ rewards_signup_sms_modal_id }}');
  }
</script>