
{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}

{% comment %} get "name" param from url {% endcomment %}
{%- for i in (1..1) -%}
  {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split:'?' | last -%}
  {%- assign qry_parts= query_string | split:'&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split:'=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'name' %}
        {% assign param = key_and_value[1] | replace: "+" , " " %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

<div class="certificate" id="content">
    <div class="container">
        <div class="certificate-wrap">
          {% if page.handle contains "certificate-2" %}
          <div class="logo-wrapper-2">
            <img class="white-logo" src="{{ 'curalife-logo-white.png' | asset_url }}" width="134" height="32" alt="">
          </div>
         {% endif %}
            <div class="logo-wrapper">
            {% unless page.handle contains "certificate-2" %}
              <img class="green-logo" src="{{ 'curalife-logo-dark-green.png' | asset_url }}" width="91" height="22" alt="">
            {% endunless %}

            {% if page.handle contains "certificate-2" %}
            <div class="big-title-2">certificate</div>
            {% else %}
                <img class="big-title" src="{{ 'certificate-big-title.png' | asset_url }}" width="427" height="54" alt="">
                <img class="ornament" src="{{ 'certificate-ornament.png' | asset_url }}" width="229" height="20" alt="">
            {% endif %}
                <div class="wrapper-text">of Completion</div>
            </div> 
            
            <div class="certificate-presentation">
              {% if page.handle contains "certificate-2" %}
                <img class="presentation-bg" src="{{ 'certificate-presentation-bg.png' | asset_url }}" width="490" height="563" alt="">
              {% endif %}
              
              <div class="presented">This certificate is proudly presented to </div> 
              {% if customer %}
                {% assign customerName = customer.first_name | append: ' ' | append: customer.last_name %}
              {% else %}
                {% assign customerName = 'Unknown' %}
              {% endif %}

              {% assign name = param | default: customerName %}

              <div class="name-presented">{{ name }}</div>
              <div class="border-gray-init"></div>
            </div>
            <div class="completing-course">
                <div class="completing">for completing</div>
                <div class="challenge"><b>30 Days Blood Sugar Challenge</b></div>
                <div class="by-curalife">by Curalife</div>
                <div class="italic-text">This diploma signifies the end of a challenging and rewarding journey of self-discovery and growth. Through this blood sugar challenge, you have gained the knowledge and skills to control your health and live life to the fullest.</div>
            </div>
            <div class="stamp-wrapper">
                <div class="signiture">
                <img class="img-sign"  src="{{ 'certificate-signiture.png' | asset_url }}" width="133" height="124" alt="">
                <div class="border-gray"></div>
                <div class="ron-sign"><b> Ron Elul</b><br>
                Founder of Curalife</div>
                </div>
                <img class="img-stamp"  src="{{ 'certificate-stamp.png' | asset_url }}" width="123" height="123" alt="">
            </div>
        </div>
       
    </div>
</div>

<button class="download-main-btn" onclick ="downloadPDF()">Click Here to Download</button>







<style>
 .certificate {
   font-family: 'PP Radio Grotesk';
   font-weight: 400;    
 }
  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    background: {% if page.handle contains "certificate-2" %}linear-gradient(297deg, rgba(208,125,91,1) 0%, rgba(251,147,120,1) 54%){% endif %};
    margin: 50px auto;
    background-image: {% unless page.handle contains "certificate-2" %} url("{{ 'certificate-background.png' | asset_url }}"){% endunless %};
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 600px;
    min-height: 840px
    
  }

 

  .logo-wrapper {
    padding-top: {% unless page.handle contains "certificate-2" %} 12% {% endunless %};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: {% unless page.handle contains "certificate-2" %} 8px {% endunless %};
  }

  .logo-wrapper-2 {
    display: flex;
    padding: 3em 0 0 1em;
  }

  .big-title {
    width: 60%;
  }

  .big-title-2 {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 130px;
    line-height: 100px;
    color: #FFFFFF;

  }

  .wrapper-text {
    font-size: {% if page.handle contains "certificate-2" %}51px{% else %} clamp(18px, 4vw, 34px){% endif %};
    font-weight: {% if page.handle contains "certificate-2" %}700{% endif %} ;
    text-align: center;
    color: #404733;
  }

  .certificate-presentation {
    margin-top: {% if page.handle contains "certificate-2" %} 20px{% endif %};;
    position: relative;
    padding-top: {% if page.handle contains "certificate-2" %} 40px {% else %} 10px {% endif %};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .presentation-bg {
    position: absolute;
    top:0;
    
  }

  .presented {
    position: relative;
    font-size: 22px;  
    color: #404733;
  }

  .certificate-presentation .name-presented { 
    position: relative;
    font-size: 30px;
    color: #7E3211;
  }

  .completing-course {
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: #404733;
    gap: 5px;
  }

  .italic-text {
    font-style: italic;
    max-width: 70%;
    font-size: 22px;
  }

  .stamp-wrapper {
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .signiture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .img-stamp {
   width: 30%;
  }
  .border-gray-init {
    position: relative;
    border: 1px solid grey;
    min-width: 30%;
}
 .border-gray {
     border: 1px solid grey;
     min-width: 70%;
 }

  .ron-sign {  
    font-size: clamp(12px, 3vw, 18px);
    color: #000000
  }


  .download-main-btn {
    color: white;
    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-weight: 300;
    font-size: clamp(20px, 2vw, 30px);
    border-color: var(--dark-green);
    border-radius: 10px;
  }


  




  @media (max-width: 768px) {

  .certificate-wrap {
    min-height: 120vw;
  }
    
   .green-logo {
    width: 15vw;
   }

   .white-logo {
    width: 15vw;
   }

   .big-title {
       width: unset;
       max-width: 26vw;
   }

   .big-title-2 {
    font-size: 17vw;
    line-height: 14vw;
   }
  

   .img-sign {
    max-width: 25vw;
   }

   .ornament {
    max-width: 18px;
   }

   .wrapper-text {
      font-size: 4vw;
   }

   
   .presented {
     
     font-size: 3.5vw;  
    
   }

   .certificate-presentation .name-presented { 
     font-size: 4.5vw;  
   }

   .completing-course {
    font-size: 3.5vw;
   }

   .italic-text {
    font-size: 2.5vw;
   }


  }

  @media (max-width: 700px) {
    .certificate-wrap {
        min-height: 160vw;
        padding: {% if page.handle contains "certificate-2" %}0 3vw{% endif %};

    
    }
  }


</style>


<script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
<script>
  function downloadPDF() {
    const content = document.getElementById("content");

    // Check if the content element exists
    if (!content) {
      return alert("The content element with ID 'content' was not found.");
    }

    domtoimage.toPng(content)
      .then(function (dataUrl) {
        // Create a link element and set its properties
        var link = document.createElement("a");
        link.download = "certificate.pdf";
        link.href = dataUrl;
        link.click();
      })
      .catch(function (error) {
        console.error("Failed to download PDF:", error);
      });
  }
</script>









