{% assign collection_badges = "Supported by a community of 100K+;so you’re never alone on your health journey.|
Free Shipping;to anywhere in the USA.|
Recommended by top metabolic doctors;from around the world.|
24/7 Support;so you can get the help you need in your own time.|
60 day money back guarantee;so you know for 100% certainty you’ll be satisfied.|
Save when you bundle;up and commit to your long term health" | split: "|" %}

<section id="collection-badges-section">
  <div class="container">
    <img class="bg-vector" src="{{ "collection-badges-vector.svg" | asset_url }}" alt="Collection Badges" loading="lazy">

    <h2>Health that lasts</h2>

    <div class="collection-badges">
      {% for badge in collection_badges %}
        <div class="badge">
          <img src="{{ "collection-badge-" | append: forloop.index | append: ".png" | asset_url }}" alt="{{ badge | split: ";" | first }}" loading="lazy">
          <p class="badge-title">{{ badge | split: ";" | first }}</p>
          <p class="badge-description">{{ badge | split: ";" | last }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #collection-badges-section {
    background-color: var(--light-vomit);
  }

  #collection-badges-section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }

  #collection-badges-section .bg-vector {
    position: absolute;
    top: 0;
    left: -20px;
  }

  .collection-badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 50px;
  }

  .collection-badges .badge {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection-badges .badge img {
    object-fit: contain;
    min-height: 60px;
    max-width: 50px;
  }

  .collection-badges .badge .badge-title {
    font-size: 20px;
    font-weight: 600;
    margin: unset;
    margin-top: 20px;
  }

  .collection-badges .badge p {
    text-align: center;
    margin: unset;
  }

  @media screen and (max-width: 768px) {
    #collection-badges-section .bg-vector {
      display: none;
    }

    #collection-badges-section h2 {
      text-align: start;
      font-size: 9vw;
    }

    .collection-badges {
      gap: 5vw;
    }

    .collection-badges .badge {
      width: 45%;
    }
  }
</style>