<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<section class="ingredients-section">
  <div class="container no-padding">
    <h2><b>What Makes CuraLin Work?</b></h2>
    <h3>Powerful herbal ingredients work together to support 18 key body functions needed for effective blood sugar support. Building on hundreds of years of holistic practice, CuraLin is the most effective blend of herbal ingredients and science. CuraLin is a clinically tested formula that’s 100% guaranteed to work or your money back.</h3>
    <img class="seperator-line" src="{{ 'lps-ingredients-seperator-line-mobile.png' | asset_url }}" alt="">

    <div class="ingredients-sliders">
      <h2>CuraLin’s 9 Ingredients</h2>
      <h3>and mechanisms for supporting healthy glucose & A1C:</h3>

      <div class="ingredients-thumbs-slider swiper">
        <div class="ingredients swiper-wrapper">
          {% for i in (1..9) %}
            <div class="ingredient swiper-slide">
              {% assign imgUrl = "ingredients-" | append: i | append: ".png" %}
              <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="ingredients-main-slider swiper">
        <div class="swiper-button-prev swiper-nav"></div>

        <div class="ingredients swiper-wrapper">
          {% for ingredient in ingredients %}
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ ingredient | asset_url | split: "*" | first }}" alt="" loading="lazy">

                <div class="ingredient-content">
                  <p class="ingredient-title">{{ ingredient | split: "*" | last | split: ":" | first }}</p>
                  <p class="ingredient-description">{{ ingredient | split: "*" | last | split: ":" | last }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-button-next swiper-nav"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<style>
  .swiper-button-prev,
  .swiper-button-next {
    color: grey;
    transition: opacity .5s
  }

  .ingredients-section .ingredients-sliders h2 {
    color: #58AA9E;
    font-weight: 600;
    margin-bottom: 0;
  }

  .ingredients-section .ingredients-sliders h2, .ingredients-section .ingredients-sliders h3 {
    text-align: center;
  }

  .ingredients-section h3 {
    margin-bottom: 30px;
  }

  .ingredients-section .seperator-line {
    display: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
    cursor: pointer;
    opacity: .7;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
    opacity: 1;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
    width: 120px;
  }

  .ingredients-section .swiper-button-prev.disabled, .ingredients-section .swiper-button-next.disabled {
    opacity: 0;
  }

  .ingredients-section .swiper-button-prev, .ingredients-section .swiper-button-next {
    color: grey;
    transition: opacity .5s;
  }

  .ingredients-section .swiper-button-prev:after, .ingredients-section .swiper-button-next:after {
    font-size: 28px;
  }

  .ingredients-section .swiper-pagination-bullet {
    background-color: var(--green);
    width: 15px;
    height: 15px;
  }

  .ingredients-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--green);
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
  }

  @media screen and (max-width:768px) {
    .ingredients-section .ingredients-sliders h2, .ingredients-section .ingredients-sliders h3 {
      text-align: start;
    }

    .ingredients-section .seperator-line {
      display: block;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
      top: 150px;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
      width: 50vw;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0;
      font-weight: 600;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
      margin: 10px 0;
    }
  }
</style>

<script>
  ingredientsThumbsSliderAllInOne = new Swiper('.ingredients-section .ingredients-thumbs-slider.swiper', {
    slidesPerView: 5,
    spaceBetween: 10,
    loop: false,
    breakpoints: {
      760: {
        slidesPerView: 7,
        centeredSlides: false,
      },
      1200: {
        slidesPerView: 9,
        centeredSlides: false,
      }
    }
  });

  ingredientsMainSliderAllInOne = new Swiper('.ingredients-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    pagination: {
            el: '.ingredients-main-slider .swiper-pagination',
            clickable: 'true',
            type: 'bullets',
          },
    navigation: {
      nextEl: '.ingredients-section .swiper-button-next',
      prevEl: '.ingredients-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        pagination: {}
      }
    },
    thumbs: {swiper: ingredientsThumbsSliderAllInOne}
  });
</script>