
<section class="hero-banner">
  <div class="container">
    <div class="hero-banner-content">
      <div class="text-button">
        <div class="main-title">{{ mainTitle }}</div>
        <div class="subtitle">{{ subTitle }}</div>
        <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
      </div>
      <img class="main-img" src="{{ 'mask-and-bottle.png' | asset_url }}" width="1039" height="528" alt="bottle-hand-mask">
    </div>
  </div>
  <img class="main-img-mb" src="{{ 'mask-and-bottle-mb.png' | asset_url }}" width="750" height="1084" alt="bottle-hand-mask-mb">
</section>

<style>
  .hero-banner {
    position: relative;
    overflow: hidden;
    background: #E8E8B0;
    padding: 50px 0 0;  
  }

  .hero-banner .main-img {
    {% comment %} position: relative; {% endcomment %}
    left: {% if isLP %}36px{% else %}50px{% endif %};
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: var(--dark-green);
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

  .cta-btn {
    font-weight: 100;
    background: var(--dark-green);
    text-align: center;
    border: 1px solid  var(--dark-green);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 18px);
    letter-spacing: {% if isLP %} 1.5px {% endif %};
    color: white;
    padding: 10px 30px;
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
    width: 250px;
    margin-top: 40px;
  }

  .cta-btn:hover {
    background: var(--darker-green);
  }
  .hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    min-width: 40%;
  }

  .hero-banner-content .text-button .main-title {
    color: var(--dark-green);
    font-size: {% if isLP %}clamp(40px, 4vw, 60px){% else %}clamp(50px, 12vw, 120px) {% endif %};
  }

  .hero-banner-content .text-button .subtitle {
    color: var(--dark-green);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(35px, 2vw, 45px);
  }

  .hero-banner .main-img-mb {
    display: none;
  }

  .hero-banner .container .main-btn.mobile-btn {
    display: none;
  }

  @media screen and (max-width: 877px) {
    .hero-banner-content {
      padding-top: {% if isLP %}80px {% endif %};

    }
  }

  @media screen and (max-width: 768px) {
    .hero-banner {
      text-align: center;
      height: calc(100vh - 60px);
      padding-top:  {% if isLP %}75px{% endif %} ;
    }




    .hero-banner .text-button .cta-btn {
      bottom: 15px;
      left: 5%;
      position: absolute;
      width: 90%;
      z-index: 2;
    }

    .hero-banner-content {
      display: block;
      padding-top: {% if isLP %} 20px {% else %}40px{% endif %};
    }

    .hero-banner-content .text-button .main-title {
      text-align: center;
    }

    .hero-banner-content .text-button .subtitle {
      margin: 0 auto;
      max-width: 280px;
    }

    .hero-banner-content .main-img {
      display: none;
    }

    .hero-banner .main-img-mb {
      display: block;
      position: absolute;
      top: {% if isLP %} 310px {% else %} 140px {% endif %};
      width: 120%;
    }

    .hero-banner-content .text-button {
      margin-left: unset;
    }

    .hero-banner .container .main-btn.mobile-btn {
      display: block;
      margin-top: -30vw;
      text-transform: unset !important;
    }

  }


  }
</style>