<section id="featured-section">
  <div class="container" data-aos="fade-up">
    <h4>As Featured On</h4>
    <div class="partners-wrapper">
      <div class="ticker-wrap swiper" id="ticker-wrap">
        <div class="ticker-col swiper-wrapper">
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-cnn-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-cnn-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-cnn-logo-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-bbc-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-bbc-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-bbc-logo-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-fox-news-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-fox-news-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-fox-news-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-msn-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-msn-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-msn-logo-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-usa-today.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-usa-today-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-usa-today-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-yahoo-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-yahoo-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-yahoo-logo-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
          <div class="partner-col swiper-slide">
            <div class="partner-item">
              <picture>
                <source srcset="{{ 'lp-aio-sante-logo.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-aio-sante-logo-mb.png' | file_url }}">
                <img src="{{ 'lp-aio-sante-logo-mb.png' | file_url }}" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Section from General Page Style -->
<style>
  #featured-section {
      font-family: "Poppins", sans-serif;
      padding: 0px 0px 30px;
  }

  #featured-section  h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    opacity: .6;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .partners-wrapper .ticker-wrap {
    display: flex;
    margin: 0 -.9375rem;
    padding: 0 .9375rem;
    position: relative;
    z-index: 1;
    overflow: hidden
  }

  .partners-wrapper .ticker-wrap:before,
  .partners-wrapper .ticker-wrap:after {
    content: "";
    width: .9375rem;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none
  }

  .partners-wrapper .ticker-wrap:before {
    left: 0;
    background: linear-gradient(90deg, #F7F7F7 0%, rgba(255, 255, 255, .76) 49.3%, rgba(255, 255, 255, 0) 100%)
  }

  .partners-wrapper .ticker-wrap:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .76) 49.3%, #F7F7F7 100%)
  }

  .partners-wrapper .ticker-wrap .ticker-col {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition-timing-function: linear
  }

  .partners-wrapper .partner-col {
    max-width: max-content;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .partners-wrapper .partner-item {
    opacity: .4
  }

  @-webkit-keyframes ticker {
    to {
      transform: translate(-100%)
    }
  }

  @keyframes ticker {
    to {
      transform: translate(-100%)
    }
  }


  @media screen and (min-width: 992px) {
    .partners-wrapper .ticker-wrap .ticker-col {
      display: none;
      animation: none
    }

    .partners-wrapper .ticker-wrap .ticker-col:first-child {
      display: flex
    }

    @media screen and (max-width: 991px) {
      .partners-wrapper .partner-col {
        padding-left: 1rem;
        padding-right: 1rem
      }

      #featured-section {
        padding-bottom: 1.875rem
      }

    }

    @media screen and (max-width: 768px) {
      #featured-section {
        padding: {% if isFlash %}150px{% else %}110px{% endif %};
      }
      #featured-section .sub-title h4 {
        font-size: 1.125rem;
        letter-spacing: normal;
        margin: 45px 0;
      }



      .partners-wrapper {
        margin: 0 -15px
      }

      .partners-wrapper .ticker-wrap {
        margin: 0;
        padding: 0
      }

      .partners-wrapper .ticker-wrap:before,
      .partners-wrapper .ticker-wrap:after {
        display: none
      }

      .real-changes .sub-title {
        padding-top: 1.5rem
      }
    }
  }
</style>


<!-- Featured Section Snippet Changes Style -->
<style>
  #featured-section {
      border-bottom: 1px solid #DCD9D9;
  }
  #featured-section {
    background-color: var(--brown-lighter);

  }

  .partners-wrapper .ticker-wrap {
    display: flex;
    margin: 0 -0.9375rem;
    padding: 0 0.9375rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .partners-wrapper .ticker-wrap:before {
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--brown-lighter) 100%);
  }

  .partners-wrapper .ticker-wrap:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--brown-lighter) 100%);
  }

  .partners-wrapper .ticker-wrap:before,
  .partners-wrapper .ticker-wrap:after {
    content: "";
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }

  .partners-wrapper .ticker-wrap .ticker-col {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition-timing-function: linear;
  }

  .partners-wrapper .partner-col {
    max-width: max-content;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .partners-wrapper .partner-item {
    opacity: .6;
  }

  @media screen and (max-width:768px) {

    #featured-section .sub-title h4 {
      font-size: 1.125rem;
      letter-spacing: normal;
    }

    .partners-wrapper {
      margin: 0 -15px;
    }

    .partners-wrapper .ticker-wrap {
      margin: 0;
      padding: 0;
    }

    .partners-wrapper .partner-col {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>

<script>
  let brandsTicker = new Swiper('.partners-wrapper #ticker-wrap', {
    spaceBetween: 0,
    centeredSlides: true,
    speed: 6000,
    autoplay: {
    delay: 0,
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
    });
</script>