{% if product.tags contains "sleep" %}
  {% assign bg_color = "var(--light-turquoise)" %}
  {% assign number_color = "var(--dark-turquoise)" %}
  {% assign link_color = "var(--dark-turquoise)" %}
{% elsif product.tags contains "joint" %}
  {% assign bg_color = "var(--light-purple)" %}
  {% assign number_color = "var(--purple)" %}
  {% assign link_color = "var(--dark-purple)" %}
{% elsif product.tags contains "immune" %}
  {% assign bg_color = "var(--light-purple)" %}
  {% assign number_color = "var(--purple)" %}
  {% assign link_color = "var(--dark-purple)" %}
{% elsif product.tags contains "multivitamin" %}
  {% assign bg_color = "var(--lighter-peach)" %}
  {% assign number_color = "var(--peach)" %}
  {% assign link_color = "var(--dark-peach)" %}
{% endif %}




<section class="pack-info-section instance-{{ index }}">
  <div class="container">
    <div class="titles">
      <h2 class="title">{{ product.title }}</h2>
      <p class="subtitle">{{ product.description }}</p>
    </div>
    <div class="product-wrapper">
   

    <img class="product-image" src="{{ product.metafields.custom.bottle_image | img_url: 'original' }}" alt="{{ product.title }}" loading="lazy">
    

    <div class="tabbed-content tabs-side">
      <div class="content">
        <div id="highlights-{{ index }}" class="item active always-active">
          <div class="highlights item-content">
            {% for highlight in product.metafields.custom.product-highlights.value %}
              <div class="highlight">
                <div class="highlight-icon"><i class="icofont-check"></i></div>
                <p><b>{{ highlight.title }}</b><br>{{ highlight.subtitle }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>


  <style>
    .pack-info-section .titles {
      flex-direction: revert;
      justify-content: start;
      max-width: 100%;
      text-align: left;
    }

    .pack-info-section {
      background: var(--lighter-brown);
    }

    .product-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    } 
    
    .product-image {
      max-width: 342px;
    }

  
    .pack-info-section .highlights {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .pack-info-section .highlights .highlight {
      display: flex;
      align-items: center;
    }

    .pack-info-section .highlights .highlight p {
      margin: unset;
    }

    .pack-info-section .highlight-icon {
      background: var(--dark-green);
      color: white;
      border-radius: 50%;
      min-width: 30px;
      height: 30px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

 



    @media all and (max-width: 768px) {
      .product-wrapper {
        justify-content: center;
      } 

    
      .pack-info-section .titles .subtitle  {
        text-align: left;
      }


    }

  </style>



