
<section id="challenge-features-section">
  <div class="container">
    <h3>{{ mainTitle }}</h3>
    {% unless isSecondLP %}
    <div class="maintained">to keep your blood sugar maintained:</div>
    {% endunless %}

    <div class="features-wrapper">
      {% if isSecondLP %}
        <img class="main-image" src="{{ 'lp02-challenge-section-main-img.png' | asset_url }}" width="802" height="679" alt="">
      {% else %}
        <img class="main-image" src="{{ 'thirty-day-challenge-section-main-img-3.png' | asset_url }}" width="618" height="595" alt="">
        <div class="small-images">
          <img class="main-image" src="{{ 'thirty-day-challenge-section-free-shiping.png' | asset_url }}" width="172" height="63" alt="">
          <img class="main-image" src="{{ 'thirty-day-challenge-section-customer-support.png' | asset_url }}" width="172" height="63" alt="">
        </div>
      {% endif %}
      <div class="features-wrap">
        {% if isSecondLP %}
          {% render 'features-list', isSecondLP: true, isLP: true %}
        {% else %}
          {% render 'features-list', product: all_products["30-day-blood-sugar-challenge-pp"], isTotal: true, isLP: true %}
        {% endif %}
      </div>
      <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
    </div>
  </div>
</section>

<style>
  #challenge-features-section .container {
    font-weight: bold;
    position: relative;
  }

  #challenge-features-section {
    position: relative;
    color: var(--dark-green);
    padding: 50px 0;
    line-height: 1.2em;
  }

  #challenge-features-section h3 {
    font-family: 'PP Radio Grotesk';
    color: {% if isSecondLP %}#9EB069{% else %}var(--dark-green){% endif %};
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    width: {% if isSecondLP %}57%{% else %}fit-content{% endif %};
    padding-bottom: {% if isSecondLP %}30px{% endif %};
  }

  #challenge-features-section .maintained {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 58px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--dark-green);
    padding-bottom: 40px;
  }

  #challenge-features-section .features-wrapper {
    display: grid;
  }

  #challenge-features-section .main-image {
    margin: 0 auto;
    grid-row: 1/2;
    max-height: 600px;
    object-fit: contain;
  }

  .small-images {
    grid-row: 2/2;
    margin: 10px auto 5px;
  }

  #challenge-features-section .features-wrap {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding-top: {% if isSecondLP %}65px{% endif %};
    margin-left: 2%;
  }

  #challenge-features-section .cta-btn {
    grid-row: {% if isSecondLP %}3/3 {% else %} 3/3 {% endif %};
    grid-column: {% if isSecondLP %}2/3 {% endif %};
    font-weight: 100;
    background: var(--orange);
    text-align: center;
    border: 1px solid  var(--orange);
    border-radius: 4px;
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    color: {% if isSecondLP %} #ffffff {% else %} var(--dark-green){% endif %};
    padding: {% if isSecondLP %}15px 100px {% else %}15px 40px{% endif %};
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
    max-width: 430px;   
    margin: 5px auto;
    max-height: 60px;
    margin-top: {% if isSecondLP %}-110px{% endif %};
    margin-left: {% if isSecondLP %}0px{% endif %};
  }

  #challenge-features-section .cta-btn:hover {
    background: #dd961a;
    box-shadow: unset;
  }

  @media screen and (max-width: 1200px) {
    #challenge-features-section .cta-btn {
       margin-top: {% if isSecondLP %}unset{% endif %}; 
       
       
    }
  }


  @media screen and (max-width: 768px) {
    #challenge-features-section .features-wrapper {
      padding-top: 2vw;
    }

    #challenge-features-section .features-wrap { 
      margin-left: unset;  
      padding-top: {% if isSecondLP %}unset{% endif %};
    }
    #challenge-features-section .container {
      padding: 0 15px;
    }

    #challenge-features-section h3 {
      font-size: 32px;
      line-height: 35px;
      width: {% if isSecondLP %}unset{% endif %};
      padding-bottom: {% if isSecondLP %}unset{% endif %};
    }

    #challenge-features-section .maintained {
      font-size: 29px;
      line-height: 30px;
      padding-bottom: unset;
    }

    #challenge-features-section .features-wrap {
      grid-row: 3/3;
    
    }

    #challenge-features-section .main-image {
      margin:  0 auto 2vw;
      padding-left: {% if isSecondLP %} 15% {% endif %};
      min-width: {% if isSecondLP %}300px{% endif %};
    }

    .small-images {
      grid-row: 2/3;
      display: flex;
      justify-content: center;
      gap: 1vw;
      max-width: 53%;
      
    }

    
    #challenge-features-section .cta-btn {
      margin-top: {% unless isSecondLP %}6vw{% endunless %};
      grid-row: 4/5;
      grid-column: 1/3;
      font-size: 21px;
      line-height: 20px;
      margin-left: {% if isSecondLP %}unset{% endif %};  
      margin: {% if isSecondLP %}auto{% endif %};  
    }
  
    }
</style>

