{% if request.path == '/products/curalin-pack' %}
	{% assign isRenderCartDrawer = true %}
{% endif %}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	<head>
		{{ 'tailwind.min.css' | asset_url | stylesheet_tag }}
		{% render 'layout.head.theme-css' %}

		{% unless request.design_mode %}
			{% render 'layout.head.geo-redirect-script', isDebug: false %}
			{% render 'layout.head.redirects-script' %}
		{% endunless %}

		{% render 'layout.head.meta-tags' %}
		{% render 'layout.head.fonts' %}
		{% render 'layout.head.canonicals' %}

		<title>
			{{ page_title }}
			{%- if current_tags %}&ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
			{%- if current_page != 1 %}&ndash; Page {{ current_page }}{% endif -%}
			{%- unless page_title contains shop.name %}&ndash; {{ shop.name }}{% endunless -%}
		</title>

		<link rel="preload" href="{{ 'global.js' | asset_url }}" as="script">
		<script src="{{ 'global.js' | asset_url }}" defer></script>
		<link rel="dns-prefetch" href="https://cdn.shopify.com">
		<link rel="preconnect" href="https://cdn.shopify.com">
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

		{{ content_for_header }}

		{% render 'layout.head.swiper' %}

		{% comment %} {{ 'buy-box.js' | asset_url | script_tag }} {% endcomment %}

		<style>
			#uwy,
			.uwy,
			#upCart {
				display: none !important;
			}

			h2 {
				font-size: 45px;
				font-weight: 100;

				@media (width <768px) {
					font-size: 10vw;
				}
			}
		</style>

		{% if request.path contains 'vsl' %}
			{% if request.path contains 'short' %}
				<link rel="preload" href="https://scripts.converteai.net/857d249e-e698-4657-9d4e-91d895bbed1a/players/67bf48a56bc81c991c9e0c75/player.js" as="script">
			{% elsif request.path contains 'old-short' %}
				<link rel="preload" href="https://scripts.converteai.net/857d249e-e698-4657-9d4e-91d895bbed1a/players/667a87e58fbf9c000afd997d/player.js" as="script">
			{% else %}
				<link rel="preload" href="https://scripts.converteai.net/857d249e-e698-4657-9d4e-91d895bbed1a/players/67c0e197e18e1226c68e1460/player.js" as="script">
			{% endif %}
			<link rel="preload" href="https://scripts.converteai.net/lib/js/smartplayer/v1/smartplayer.min.js" as="script">
			<link rel="preload" href="https://cdn.converteai.net/857d249e-e698-4657-9d4e-91d895bbed1a/67bf44d5c9f030501a8c594c/main.m3u8" as="fetch">
			<link rel="dns-prefetch" href="https://cdn.converteai.net">
			<link rel="dns-prefetch" href="https://scripts.converteai.net">
			<link rel="dns-prefetch" href="https://images.converteai.net">
			<link rel="dns-prefetch" href="https://api.vturb.com.br">
		{% endif %}

		<script>
			document.documentElement.classList.replace('no-js', 'js');
			if (Shopify.designMode) {
				document.documentElement.classList.add('shopify-design-mode');
			}
		</script>

		{% unless request.design_mode %}
			{% render 'layout.head.animate-on-scroll' %}
			{% render 'layout.head.microsoft-clarity' %}
		{% endunless %}

		{% if isRenderCartDrawer %}
			<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
			{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
			{{ 'component-cart.css' | asset_url | stylesheet_tag }}
			<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
			<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
		{% endif %}
	</head>

	<body
		id="page-{{ page.handle | default: product.handle }}"
		class="{% if customer.email contains '@curalife.com' %}admin{% endif %} {% if page.metafields.custom.is_hide_brand %}hide-brand{% endif %}">
		{% if isRenderCartDrawer %}
			{%- render 'cart-drawer' -%}
		{% endif %}

		{% sections 'lps-header-group' %}

		<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
			{{ content_for_layout }}
		</main>

		{% if page.template_suffix contains 'curalin-lp-2024' or page.template_suffix contains 'retail-lp' or page.template_suffix contains 'testimonials' or page.template_suffix contains 'reasons' %}
			{% sections 'lps-footer-group' %}
		{% endif %}

		{% if request.path contains 'thank-you-aff' %}
			<script>
				async function checkCookieAndContinue() {
					async function waitForCookie(name, timeout = 30000) {
						const checkInterval = 100; // milliseconds
						const endTime = Date.now() + timeout;

						while (Date.now() < endTime) {
							const value = getCookie(name);
							if (value) return value;
							await new Promise(resolve => setTimeout(resolve, checkInterval));
						}

						return undefined;
					}

					function getCookie(name) {
						var value = '; ' + document.cookie;
						var parts = value.split('; ' + name + '=');
						if (parts.length == 2) return parts.pop().split(';').shift();
					}

					const cookieValue = await waitForCookie('_vis_opt_exp_7_combi');

					if (cookieValue) {
						if (cookieValue == '1') {
							console.log('EXP: Original Variant');
						} else if (cookieValue == '2') {
							console.log('EXP: New Variant');
							$('.bonuses .item img').first().attr('src', 'https://cdn.shopify.com/s/files/1/0452/2459/1511/files/mealplan-gift.png?v=1706700418');
						}
					} else {
						console.log('EXP: no cookie');
					}
				}

				checkCookieAndContinue();
			</script>
		{% endif %}

		{% unless request.design_mode %}
			{% comment %} {% render 'script.pass-url-params' %} {% endcomment %}
		{% endunless %}
	</body>
</html>
