<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
	<head>
		{{ 'tailwind.min.css' | asset_url | stylesheet_tag }}
		{% render 'layout.head.theme-css' %}

		{% unless request.design_mode %}
			{% render 'layout.head.geo-redirect-script', isDebug: false %}
			{% render 'layout.head.redirects-script' %}
			{% if shop.name contains 'Global' %}{{ render 'pandectes-rules' }}{% endif %}
		{% endunless %}

		{% render 'layout.head.meta-tags' %}
		{% render 'layout.head.fonts' %}
		{% render 'layout.head.canonicals' %}
		{% render 'layout.head.cart-drawer-loader' %}

		{% if request.path contains 'blogs/blog/' %}
			{{ content_for_header | remove: 'VWO Smartcode' }}
		{% else %}
			{{ content_for_header }}
		{% endif %}

		<link rel="preload" href="{{ 'global.js' | asset_url }}" as="script">
		<script src="{{ 'global.js' | asset_url }}" defer></script>

		<link rel="preconnect" href="https://cdn.shopify.com">
		<link rel="dns-prefetch" href="https://cdn.shopify.com">
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

		{% render 'layout.head.swiper' %}
		{% render 'layout.head.animate-on-scroll' %}

		{% comment %}
			{% unless page.handle == 'tests' %}
				{% if product.handle contains 'curalin' or true %}
					{{ 'buy-box.js' | asset_url | script_tag }}
				{% endif %}
			{% endunless %}
		{% endcomment %}

		{% comment %} {% render 'layout.head.lazyload-images' %} {% endcomment %}

		{% comment %}
			{% if product.handle contains 'curalin' %}
				<script
					type="module"
					src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"
					defer></script>
			{% endif %}
		{% endcomment %}

		{% comment %}
			<script>
					!function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
					posthog.init('phc_oUp6I1OEq7LiXG531CBgiutwV3DtgJqpkM4eFpaI5LK', {
							api_host: 'https://eu.i.posthog.com',
							person_profiles: 'always', // or 'always' to create profiles for anonymous users as well
					})
			</script>
		{% endcomment %}

		<script>
			document.documentElement.classList.replace('no-js', 'js');
			if (Shopify.designMode) {
				document.documentElement.classList.add('shopify-design-mode');
			}
		</script>

		{% comment %} Stagewise Development Toolbar - Only in development {% endcomment %}
		{% unless request.design_mode %}
			<script>
				// Only load stagewise in development environments
				if (
					window.location.hostname === 'localhost' ||
					window.location.hostname.includes('127.0.0.1') ||
					window.location.hostname.includes('.ngrok.') ||
					window.location.hostname.includes('shopify.dev')
				) {
					const script = document.createElement('script');
					script.src = '{{ "stagewise-dev.js" | asset_url }}';
					script.type = 'module';
					script.defer = true;
					document.head.appendChild(script);
				}
			</script>
		{% endunless %}

		{% unless request.design_mode %}
			{% comment %} {% render 'layout.head.microsoft-clarity' %} {% endcomment %}
		{% endunless %}
	</head>

	<body
		id="page-{{ page.handle | default: product.handle }}"
		class="{% if customer.email contains '@curalife.com' %}admin{% endif %} {% if customer.b2b? %}b2b{% endif %}">
		{% if additional_checkout_buttons %}
			<div style="display: none !important">
				{{ content_for_additional_checkout_buttons }}
			</div>
		{% endif %}

		{%- render 'cart-drawer' -%}

		{% sections 'header-group' %}

		<main id="MainContent" class="content-for-layout" role="main">
			{{ content_for_layout }}
		</main>

		{% sections 'footer-group' %}

		{% unless request.design_mode %}
			{% render 'layout.footer.accessibilty-widget' %}
			{% comment %} {% render 'script.pass-url-params' %} {% endcomment %}
		{% endunless %}

		<script>
			window.shopUrl = '{{ request.origin }}';
			window.routes = {
				cart_add_url: '{{ routes.cart_add_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				cart_url: '{{ routes.cart_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}'
			};

			window.cartStrings = {
				error: `{{ 'sections.cart.cart_error' | t }}`,
				quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
			};
		</script>

		<script type="speculationrules">
			{
				"prerender": [
					{
						"where": {
							"and": [{ "href_matches": "/*" }, { "not": { "href_matches": "{{ request.path }}" } }, { "selector_matches": ".prerender" }]
						},
						"eagerness": "eager"
					}
				]
			}
		</script>
	</body>
</html>
