<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    {% unless request.design_mode %}
      {% render 'layout.head.geo-redirect-script' %}
      {% render 'layout.head.redirects-script' %}
      {% comment %} {% render 'layout.head.google-tag-manager'%} {% endcomment %}
      {% comment %} {% render 'layout.head.sentry-io' %} {% endcomment %}
      {% include "pandectes-rules" %}
    {% endunless %}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.fonts' %}
    {% render 'layout.head.canonicals' %}

    <script src="{{ 'constants.js' | asset_url }}" defer></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    {{ content_for_header }}

    {% render 'layout.head.theme-css' %}

    <script src="https://kit.fontawesome.com/2551503516.js" crossorigin="anonymous"></script>
    <script src="{{ 'jquery-4.0.0-beta.min.js' | asset_url }}"></script>
    {% render 'layout.head.swiper' %}
    {% comment %} {% render 'layout.head.animate-on-scroll', part: 'head' %} {% endcomment %}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {% if product.handle contains 'curalin' %}
      <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    {% endif %}

    <script>
      document.documentElement.classList.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {% unless request.design_mode %}
      {% comment %} {% render 'layout.head.gorgias' %} {% endcomment %}
      {% render 'layout.head.vwo-snippet' %}
      {% render 'layout.head.microsoft-clarity' %}
    {% endunless %}
  </head>

  <body {% if customer.email contains '@curalife.com' %}class="admin"{% endif %}>
    {%- render 'cart-drawer' -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% comment %} {% if customer.email contains '@curalife.com' %}
      {% render 'layout.footer.voiceflow-chatbot' %}
    {% endif %} {% endcomment %}

    {% unless request.design_mode %}
      {% render 'layout.footer.woopra-snippet' %}
      {% render 'layout.footer.accessibilty-widget' %}
      {% render 'script.pass-url-params' %}
      {% comment %} {% render 'cookie-banner' %} {% endcomment %}

      <script type="text/javascript" src="{{ 'retina.js' | asset_url }}"></script>

      <script>
        // appLoving script
        window.ALBSS = {
            event_key: '4eb232bb-4ced-466a-b7ad-f917db9357f2'
        };
        </script>
      <script src="https://c.albss.com/p/l/loader.iife.js"></script>
    {% endunless %}

    {% comment %} {% render 'layout.head.animate-on-scroll', part: 'footer' %} {% endcomment %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }
    </script>

    <script type="speculationrules">
      {
        "prerender": [
          {
            "where": {
              "and": [
                { "href_matches": "/*" },
                { "not": { "href_matches": "{{ request.path }}" } },
                { "selector_matches": ".prerender" }
              ]
            },
            "eagerness": "eager"
          }
        ]
      }
    </script>
  </body>
</html>
