<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
	<head>
		{{ 'tailwind.min.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}
		{{ 'style-guide.css' | asset_url | stylesheet_tag }}

		{% unless request.design_mode %}
			{% render 'layout.head.geo-redirect-script', isDebug: false %}
			{% render 'layout.head.redirects-script' %}
			{% comment %} {% render 'layout.head.sentry-io' %} {% endcomment %}
			{% if shop.name == 'CuraLife Global' %}{% render 'pandectes-rules' %}{% endif %}
		{% endunless %}

		{% render 'layout.head.meta-tags' %}
		{% render 'layout.head.fonts' %}
		{% render 'layout.head.canonicals' %}

		{% if request.path contains 'blogs/blog/' %}
			<script>
				console.log('content');
			</script>
			{{ content_for_header | remove: 'VWO Smartcode' }}
		{% else %}
			{{ content_for_header }}
		{% endif %}

		<script rel="preload" src="{{ 'constants.js' | asset_url }}" defer></script>
		<script rel="preload" src="{{ 'pubsub.js' | asset_url }}" defer></script>
		<script rel="preload" src="{{ 'global.js' | asset_url }}" defer></script>
		<link rel="preconnect" href="https://cdn.shopify.com">

		{% render 'layout.head.theme-css' %}

		{% comment %} <script src="https://kit.fontawesome.com/2551503516.js" crossorigin="anonymous" defer></script> {% endcomment %}
		{% render 'layout.head.swiper' %}
		{% render 'layout.head.animate-on-scroll' %}

		{% comment %} {% render 'layout.head.lazyload-images' %} {% endcomment %}

		{% if product.handle contains 'curalin' %}
			<script
				type="module"
				src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"
				defer></script>
		{% endif %}

		<script>
			document.documentElement.classList.replace('no-js', 'js');
			if (Shopify.designMode) {
				document.documentElement.classList.add('shopify-design-mode');
			}
		</script>

		{% unless request.design_mode %}
			{% render 'layout.head.microsoft-clarity' %}
		{% endunless %}
	</head>

	<body
		id="page-{{ page.handle | default: product.handle }}"
		class="{% if customer.email contains '@curalife.com' %}admin{% endif %} {% if customer.b2b? %}b2b{% endif %}">
		{% if additional_checkout_buttons %}
			<div style="display: none !important">
				{{ content_for_additional_checkout_buttons }}
			</div>
		{% endif %}

		{%- render 'cart-drawer' -%}

		{% sections 'header-group' %}

		<main id="MainContent" class="content-for-layout" role="main">
			{{ content_for_layout }}
		</main>

		{% sections 'footer-group' %}

		{% unless request.design_mode %}
			{% render 'layout.footer.accessibilty-widget' %}
			{% comment %} {% render 'script.pass-url-params' %} {% endcomment %}

			{% comment %} appLoving script {% endcomment %}
			<script>
				window.ALBSS = { event_key: '4eb232bb-4ced-466a-b7ad-f917db9357f2' };
			</script>
			<script src="https://c.albss.com/p/l/loader.iife.js"></script>
		{% endunless %}

		<script>
			window.shopUrl = '{{ request.origin }}';
			window.routes = {
				cart_add_url: '{{ routes.cart_add_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				cart_url: '{{ routes.cart_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}'
			};

			window.cartStrings = {
				error: `{{ 'sections.cart.cart_error' | t }}`,
				quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
			};
		</script>

		<script>
			(function () {
				function addAttribute() {
					const widgetElement = document.querySelector('.uwy');
					if (widgetElement && !widgetElement.hasAttribute('name')) {
						widgetElement.setAttribute('name', 'track:userway-widget|name:userway-widget');
						observer.disconnect();
					}
				}
				const observer = new MutationObserver((mutationsList, observer) => {
					addAttribute();
				});
				observer.observe(document.body, { childList: true, subtree: true });
				addAttribute();
			})();
		</script>

		<script type="speculationrules">
			{
				"prerender": [
					{
						"where": {
							"and": [{ "href_matches": "/*" }, { "not": { "href_matches": "{{ request.path }}" } }, { "selector_matches": ".prerender" }]
						},
						"eagerness": "eager"
					}
				]
			}
		</script>
	</body>
</html>
