{%- comment -%} If store is US {%- endcomment -%}
{% comment %} {% if shop.name == 'CuraLife' %}
  {% assign store_domain = "curalife.com" %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign store_domain = "global.curalife.com" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
{% endif %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %} {% render 'layout.head.geo-redirect-script' %}
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %} {% endcomment %}

    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="{{ 'libs.js' | asset_url }}"></script>

    <!-- Swiper Import -->
    <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="{{ 'swiper.min.js' | asset_url }}"></script> {% endcomment %}



    {% comment %} <style>
      @font-face {
    font-family: 'Takota';
    src: url("../fonts/Takota/Takota.eot");
    src: local("Takota"), url("../fonts/Takota/Takota.eot?#iefix") format("embedded-opentype"), url("../fonts/Takota/Takota.woff2") format("woff2"), url("../fonts/Takota/Takota.woff") format("woff"), url("../fonts/Takota/Takota.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Autography';
    src: url("../fonts/Autography/Autography.eot");
    src: url("../fonts/Autography/Autography.eot?#iefix") format("embedded-opentype"), url("../fonts/Autography/Autography.woff") format("woff"), url("../fonts/Autography/Autography.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Samantha';
    src: url("../fonts/Samantha/Samantha-Regular.eot");
    src: local("Samantha Regular"), local("Samantha-Regular"), url("../fonts/Samantha/Samantha-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Samantha/Samantha-Regular.woff") format("woff"), url("../fonts/Samantha/Samantha-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Light.eot");
    src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot");
    src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
    src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("{{ 'SegoeUI.eot' | asset_url }}");
    src: local("Segoe UI"), local("SegoeUI"), url("{{ 'SegoeUI.eot' | asset_url }}?#iefix") format("embedded-opentype"), url("{{ 'SegoeUI.woff' | asset_url }}") format("woff"), url("{{ 'SegoeUI.ttf' | asset_url }}") format("truetype");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
    src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Italic.eot");
    src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic; }

  @font-face {
    font-family: 'icoFont';
    src: url("{{ 'icoFont.eot' | asset_url }}");
    src: url("{{ 'icoFont.eot' | asset_url }}?uayl2p#iefix") format("embedded-opentype"), url("{{ 'icoFont.ttf' | asset_url }}?uayl2p") format("truetype"), url("{{ 'icoFont.woff' | asset_url }}?uayl2p") format("woff"), url("{{ 'icoFont.svg' | asset_url }}?uayl2p#icoFont") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; }
    </style> {% endcomment %}

{{ content_for_header }}

  {% comment %} <script src="{{ 'lp-aio-support-pack.js' | asset_url }}" defer></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script> {% endcomment %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>
</head>
<body>
 <main role="main">
    {{ content_for_layout }}l
  </main>
{% comment %} 
  <script>
    function runAfterElementExists(jquery_selector, callback) {
      var checker = window.setInterval(function () {
        if ($(jquery_selector).length) {
          clearInterval(checker);
          callback();
        }
      }, 200);
    }
  </script> {% endcomment %}

  <!-- This script is taking the URL parameter and replacing all the links on the page with the URL parameter. -->
  {% comment %} <script>
    let urlParameters = new URLSearchParams(window.location.search);
    let productVar = urlParameters.get('prod-var');

    if (productVar) {
    $('a').each(function() {
      var currLink = $(this).attr('href');
      if (currLink) { $(this).attr('href', "/products/curalin-pack-" + productVar) };
    });
    }
  </script> {% endcomment %}

  <!-- RAF -->
  {% comment %} <script>
    let utmParam = new URLSearchParams(window.location.search).get('utm_campaign');

    if (utmParam == 'referral_program') {
      console.log("Referral program");
      function runAfterElementExists(jquery_selector, callback) {
        var checker = window.setInterval(function () {
          if ($(jquery_selector).length) {
            clearInterval(checker);
            callback();
          }
        }, 200);
      }

      // Wisepop Event!
      $(document).ready(function () {
        runAfterElementExists(".yotpo-copy-code-icon", function () {
          wisepops('properties', {rafCodeReceived: true});
          wisepops("pageview");

          $('a').each(function() {
            var currLink = $(this).attr('href');
            $(this).attr('href', currLink.split('?')[0] + "-raf");
          });
        })
      });
    }
  </script> {% endcomment %}

  <!-- Woopra Events -->
  {% comment %} <script>
    $(document).ready(function () {
      // Play Video
      runAfterElementExists(".video-player", function () {
        $(".video-player").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".video-headline").find("p").text(),
            video_order: $(this).parents(".video-block-item-overlay-col").index() + 1
          });
        })
      })

      runAfterElementExists(".testimonials_iframe", function () {
        $(".testimonials_iframe").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".testimonial-headline").find("h2").text(),
          });
        })
      })

      // Open FAQ
      $('.question').click(function() {
        woopra.track('Open FAQ', {
          question_display_text: $(this).children("h4").text(),
          question_order:  $(this).parents("li").index() + 1
        })
      });
    })
  </script> {% endcomment %}

  {% comment %} {% render 'layout.footer.woopra-snippet' %} {% endcomment %}

{% comment %} <style>
  #wisepops-root {
    transition: opacity 0.5s;
  }
</style> {% endcomment %}
{% comment %} {% render 'wisepops-generated' %} {% endcomment %}
</body>
</html>