<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'development-mode' %}

    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'style-guide.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

		{% render 'layout.head.meta-tags' %}
    {% render 'layout.head.fonts' %}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

		{% render 'layout.head.swiper' %}

    {% render 'layout.head.theme-css' %}



		{{ content_for_header }}
  </head>

  <body id="page-{{ page.handle | product.handle }}" {% if customer.email contains "@curalife.com" %}class="admin"{% endif %}>
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
