{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
  {% assign global = true %}
{% endif %}

<!doctype html>
<html>
  {%- comment -%} <script defer type="text/javascript" src="https://static.rechargecdn.com/assets/js/widget.min.js?shop=<curalife-commerce.myshopify.com>"></script> {%- endcomment -%}
  <head>
    <title>{{ page_title }}</title>

    {% render 'layout.head.geo-redirect-script' %}

    <!-- Pricing Test -->
    {% render 'layout.head.pricing-test-script' %}

    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
<<<<<<< HEAD
    {% render 'layout.head.canonicals' %}
=======
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %}
    {% render 'layout.head.sentry-io' %}
>>>>>>> replace-all-as-featured-on-section-partnership

    <!-- Stylesheets -->
    {{ 'bamboo.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'common.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'styles.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- Script Libraries -->
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2551503516.js" crossorigin="anonymous"></script>

<<<<<<< HEAD
  <!-- Fonts -->
  <link rel="preload" href="{{ 'fonts-Poppins-Thin.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-ExtraLight.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Poppins-Black.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Thin.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-ExtraLight.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Light.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Regular.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Medium.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'font-Montserrat-SemiBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Bold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-ExtraBold.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-Montserrat-Black.ttf' | asset_url }}" as="font" type="font/ttf" crossorigin="anonymous">

  <link rel="preload" href="{{ 'fonts-icofont.woff' | asset_url }}" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts-icofont.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">

  {% render 'css-fonts' %}

=======
    <!-- Fancybox Import (for Cart)-->
    <script src="{{ 'fancybox-script.js' | asset_url }}" async></script>

>>>>>>> replace-all-as-featured-on-section-partnership
    <!-- Swiper Import -->
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

    <!-- Shopify Scripts -->
    {% if template contains 'customers' %}
      <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
      <script type="text/javascript" src="{{ 'customer_area.js'  | shopify_asset_url }}" async></script>
    {% endif %}
    {{ content_for_header }} <!-- Header hook for plugins -->

    {% comment %} {{ 'go-cart.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'go-cart.js' | asset_url | script_tag }}
    <script>var goCart = new GoCart();</script> {% endcomment %}

    <!-- Temporary Styles for SALE (fix wisepops banner) -->
    <style>
      @media screen and (max-width: 768px) {
        body {
          padding: unset !important;
        }

        header {
          position: unset !important;
        }
      }
    </style>

    <!-- Other Scripts -->
    {% render 'layout.head.marker-io-snippet' %}
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script>
</head>
  <body>
    <!-- TODO: make another solution for removing header from curalin-pack page -->
    {% unless request.path contains 'curalin-pack' %}
      {% unless request.path contains 'curaeats' %}
        {% section 'header' %}
      {% endunless %}
    {% endunless %}

    <main role="main">{{ content_for_layout }}</main>
    {% section 'footer'%}
    {% comment %} {% render 'go-cart' %} {% endcomment %}

    {% render 'layout.footer.cart-drawer'%}
    {% render 'layout.footer.cart-functionality-scripts' %}
    {% render 'layout.footer.woopra-snippet' %}
    {% render 'layout.footer.ac-snippet' %}
    {% render 'wisepops-generated' %}
    {% render 'social-login' %}

    <style>
      #admin-bar-iframe {
        display: none;
      }
    </style>
</body>
</html>