<footer>
  <div class="top-info">
    <div class="container">
      <div class="info-wrap">
        <div class="main-side footer-column">
          <a href="/"><img class="title" src="{{ 'logo-new.svg' | asset_url }}" width="135" height="40" alt="" style="fill: white;"></a>

          <div class="menu-list">
            {% for block in section.blocks %}
              {%- assign footer_linklist = block.settings.footer_linklist -%}
              {% if linklists[footer_linklist].links.size > 0 %}
                <ul>
                  {% for link in linklists[footer_linklist].links %}
                    <li><a href="{{ link.url }}"{% if link.url contains 'professionals' or link.url contains 'retail' %} rel="nofollow"{% endif %}>{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </div>

          <div class="right-column footer-column">
            <div class="support-contacts">
              <h3 class="title">24/7 CUSTOMER SUPPORT</h3>
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'contact' %}
                    <li>
                      {% if block.settings.flag_img != blank %}
                        <span><img src="{{ block.settings.flag_img | image_url }}" alt="" width="20" height="20"></span>
                      {% endif %}

                      <div class="phone-title">{{ block.settings.phone_title }}</div>

                      <div class="show-phone">
                        <div class="show-phone-btn"><i class="fa-thin fa-phone"></i> Show Phone</div>
                        <div class="show-phone-content">
                          <a href="tel:{{ block.settings.phone_number }}">{{ block.settings.phone_number }}</a>
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
          </div>

          <div class="social-bar">
            <h3 class="title">FOLLOW US ON</h3>
            <ul>
              {% for block in section.blocks %}
                {% if block.type == 'social' %}
                  <li><a href="{{ block.settings.social_link }}" target="_blank"><i class="{{ block.settings.social_icon_class }}"></i></a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <p class="disclaimer">{{ section.settings.disclaimer }}</p>
    </div>
  </div>

  <div class="bottom-info">
    <div class="container">
      <div class="info-wrap">
        <div class="text"><p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p> </div>

        <div class="payment-methods">
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'payment' %}
                {% if block.settings.payment_img != blank %}
                  <li><span><img src="{{ block.settings.payment_img | img_url: '' }}" width="51px" height="32px" alt=""></span></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <p>All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }

  .footer-column .title {
    min-height: 50px;
  }

  footer .top-info .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .disclaimer {
    font-size: 0.7em;
  }

  footer .bottom-info .info-wrap .text p {
    color: white !important;
  }

  .footer-column img.title {
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(327deg) brightness(102%) contrast(105%);
  }

  footer .payment-methods ul:nth-child(2) {
    display: none;
  }

  footer .phone-title {
    line-height: 2.5;
  }

  footer .show-phone-btn {
    background: white;
    border-radius: 10px;
    cursor: pointer;
    color: var(--green);
    padding: 3px 10px;
    margin-left: 5px;
  }

  footer .show-phone-content {
    display: none;
  }

  footer .social-bar {
    max-width: 500px;
  }

  footer .right-column {
    width: 35%;
  }

  footer .footer-column {
    padding-bottom: 30px;
  }

  footer .footer-column .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .main-side .menu-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
  }

  .main-side .menu-list ul li {
    margin-right: 50px;
    padding: 7px 0;
  }

  footer .menu-list ul li a {
    text-transform: uppercase;
    color: inherit;
  }

  footer .support-contacts ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
    gap: 10px;
  }

  footer .support-contacts ul li a {
    display: inline-block;
    padding: 3px 0 3px 13px;
    white-space: nowrap;
    font-weight: 400;
    color: inherit;
    transition: color var(--transition),opacity var(--transition);
  }

  .social-bar ul {
    display: flex;
  }

  footer .social-bar ul li {
    width: 50%;
    padding: 10px 0;
  }

  footer .social-bar ul li a {
    color: inherit;
    transition: opacity var(--transition);
    font-size: 28px;
  }

  footer .bottom-info {
    padding: 10px 0;
    border-top: 1px solid rgba(239,239,239,.37);
  }

  footer .bottom-info .info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    footer .footer-columns {
      font-size: 20px;
    }

    footer .right-column {
      width: unset;
    }

    .main-side .menu-list ul {
      flex-wrap: nowrap;
      max-height: unset;
    }
  }
</style>

<script>
  Array.from(document.getElementsByClassName("show-phone-btn")).forEach(function(e) {
    e.addEventListener('click', (event) => {
      event.target.style.display = 'none';
      event.target.nextElementSibling.style.display = 'block';
    })
  })
</script>

{% schema %}
{
  "name": "Footer",
  "class": "footer_section",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo image"
    },
    {
      "type": "textarea",
      "id": "disclaimer",
      "label": "Disclaimer",
      "default": "Enter Disclaimer"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact Numbers",
        "settings": [
          {
            "type": "image_picker",
            "id": "flag_img",
            "label": "Country Flag Image"
          },
          {
            "type": "text",
            "id": "phone_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number"
          }
        ]
      },
      {
        "type": "social",
        "name": "Social Media",
        "settings": [
          {
            "type": "text",
            "id": "social_icon_class",
            "label": "Social Icon Class"
          },
          {
            "id": "social_link",
            "type": "url",
            "label": "Social Icon Link"
          }
        ]
      },
      {
      "type": "payment",
      "name": "Payment Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "payment_img",
          "label": "Select Payment Image"
        }
      ]
    }
  ]
}
{% endschema %}