<div class="category-badges-section" data-product-collections="{{ collection.handle }}" {% unless request.path contains collection.handle %}style="display: none;"{% endunless %}>
  <div class="container">
    <h2>{{ collection.metafields.custom.category_badges_title }}</h2>
    <div class="category-badges">
      {% for badge in collection.metafields.custom.category_badges.value %}
        <div class="category-badge">
          <img src="{{ badge.src | image_url }}" alt="{{ badge.alt }}">
          <p>{{ badge.alt }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if isLastRender %}
  <style>
    .category-badges-section {
      padding: 50px 0;
    }

    .category-badges-section h2 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 50px;
    }

    .category-badges-section .category-badges {
      display: flex;
      justify-content: space-evenly;
    }

    .category-badges-section .category-badge {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      max-width: 12%;
    }

    .category-badges-section .category-badge p {
      font-size: 24px;
      font-weight: normal;
    }

    @media screen and (max-width: 768px) {
      .category-badges-section h2 {
        text-align: start;
        font-size: 9vw;
      }

      .category-badges-section .category-badges {
        flex-direction: column;
      }

      .category-badges-section .category-badge {
        max-width: unset;
        flex-direction: row;
        text-align: start;
      }
    }
  </style>
{% endif %}