{% if isLink %}
  {% assign renderCollections = collection.handle %}
{% else %}
  {% assign renderCollections = collectionsHandles %}
{% endif %}

{% assign collectionAmount = collectionsHandles | size %}

<section id="collections-catalog-section">
  {% if collectionAmount > 1 %}
    {% unless isLink %}
      <div class="category-tabs {% if isSlideMenu %}slide{% endif %}">
        <div class="container">
          <ul>
            {% if isAll == true %}<li><a href="#" data-collection-handle="all" class="active">All</a></li>{% endif %}

            {% for collection_handle in collectionsHandles %}
              <li><a href="#{{ collection_handle }}-collection-section" data-collection-handle="{{ collection_handle }}" data-collection-description="{{ collections[collection_handle].description }}" {% if request.path contains collection.handle %}class="active"{% endif %}>{{ collections[collection_handle].title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endunless %}
  {% endif %}

  <div class="container flex flex-wrap justify-between">
    {% for collection_handle in renderCollections %}
      {% if forloop.last %}
        {% assign isLastCollectionRender = true %}
      {% endif %}

      <div id="{{ collection_handle }}-collection-section" class="collection-section md:w-full {% if collections[collection_handle].products.size < 3 %}w-[48%]{% endif %} {% if shop.name == 'Curalife Global' %}max-w-[800px] m-auto{% endif %}" data-product-collections="{{ collection_handle }}" >
        {% unless isNoTitle %}
          {% if collections[collection_handle].metafields.custom.alternative_title %}
            {% assign collection_title = collections[collection_handle].metafields.custom.alternative_title %}
          {% else %}
            {% assign collection_title = collections[collection_handle].title %}
          {% endif %}

          <div class="title-wrapper border-b-[1px] border-black"><h2>{{ collection_title }}</h2></div>
        {% endunless %}

        {% if isDescription %}
          <p class="description {% if collections[collection_handle].metafields.custom.is_align_center or isCentered %}text-center m-auto{% endif %}">{{ collections[collection_handle].description }}</p>
        {% endif %}

        <div class="product-grid" style="{% if shop.name == 'Curalife Global' %}justify-center{% else %}justify-between{% endif %} {% if isHiddenCollections %}display: none;{% endif %}">
          {% if collections[collection_handle].metafields.custom.collection_banner_img %}
            <a class="md:w-[48%] .product-link" href="{{ collections[collection_handle].metafields.custom.collection_banner_lnk }}"><img class="h-full md:h-auto hobject-contain" src="{{ collections[collection_handle].metafields.custom.collection_banner_img | image_url }}" alt=""></a>
          {% endif %}

          {% for product in collections[collection_handle].products %}
            {% if forloop.last and isLastCollectionRender %}
              {% assign isLastCardRender = true %}
            {% endif %}

            {% if isNoBundles %}
              {% unless product.tags contains 'bundle' %}
                {% assign product_collections = product.collections | map: 'handle' | join: ' ' %}
                {% render 'product-card', product: product, productCollections: product_collections, isLastRender: isLastCardRender, isNoPrices: isNoPrices, isLinkToCollection: isLinkToCollection %}
                {% if isLastCardRender %}{% assign isLastCardRendered = true %}{% endif %}
              {% endunless %}
            {% else %}
              {% assign product_collections = product.collections | map: 'handle' | join: ' ' %}
              {% render 'product-card', product: product, productCollections: product_collections, isLastRender: isLastCardRender, isNoPrices: isNoPrices, isLinkToCollection: isLinkToCollection %}
              {% if isLastCardRender %}{% assign isLastCardRendered = true %}{% endif %}
            {% endif %}
          {% endfor %}

          {% if isLastCardRendered != true %}
            {% render 'product-card', isOnlyScriptsAndStyles: true, isNoPrices: isNoPrices, isLinkToCollection: isLinkToCollection %}
          {% endif %}
        </div>
      </div>

      {% if collections[collection_handle].metafields.custom.is_align_center %}
        <style>
          .collection-section[data-product-collections="{{ collection_handle }}"] {
            text-align: center;
          }

          .collection-section[data-product-collections="{{ collection_handle }}"] .description {
            margin: 30px auto;
          }
        </style>
      {% endif %}
    {% endfor %}
  </div>
</section>

<style>
  #collections-catalog-section {
    padding: 20px 0;
  }

  #collections-catalog-section h2 {
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 100;
    top: 2px;
    width: fit-content;
    background: white;
    position: relative;
    padding-right: 10px;
  }

  #collections-catalog-section .description {
    margin-top: 15px;
  }

  #collections-catalog-section .line {
    border-bottom: 1px solid black;
    width: 300px;
    margin: 30px 0;
  }

  #collections-catalog-section .product-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  #collections-catalog-section .category-tabs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 10px;
    padding: 10px 0;
    justify-content: space-between;
  }

  #collections-catalog-section .category-tabs ul li a {
    color: var(--light-green);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  #collections-catalog-section .category-tabs ul li a.active {
    background: var(--vomit);
    color: var(--dark-green);
  }

  @media screen and (max-width: 768px) {
    #collections-catalog-section .category-tabs.slide .container {
      --scrollbar-width: 0px;
      --mask-width: 20px;
      overflow-y: auto;
      width: 90vw;
      padding-right: var(--mask-width);
      --mask-image-content: linear-gradient(to right, transparent, white var(--mask-width), white calc(100% - var(--mask-width)), transparent);
      --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
      --mask-image-scrollbar: linear-gradient(white, white);
      --mask-size-scrollbar: var(--scrollbar-width) 100%;
      -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
      -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
      -webkit-mask-position: 0 0, 100% 0;
      -webkit-mask-repeat: no-repeat, no-repeat;
      mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
      mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
      mask-position: 0 0, 100% 0;
      mask-repeat: no-repeat, no-repeat;
    }

    #collections-catalog-section .product-grid {
      justify-content: center;
      gap: 2%;
    }

    #collections-catalog-section .category-tabs ul {
      gap: 3vw;
      justify-content: center;
    }

    #collections-catalog-section .category-tabs.slide ul {
      width: max-content;
      margin-bottom: 15px;
    }

    #collections-catalog-section .category-tabs ul li a {
      padding: 1vw 4vw;
      font-size: 5vw;
    }
  }
</style>

{% comment %} {% unless isLink %}
  <script>
    isEventHappenedOnce = false;

    $('.category-tabs a').click(function (e) {
      $('.category-tabs a').removeClass('active');
      $(this).addClass('active');

      const collectionHandle = $(this).data('collection-handle');
      if (collectionHandle == "all") {
        $('.collection-section').fadeIn();
        $('.category-badges-section').fadeOut();
      }
      else {
        $('.collection-section').fadeOut();
        $('.collection-section[data-product-collections*="' + collectionHandle + '"]').fadeIn();

        $('.category-badges-section').fadeOut();
        $('.category-badges-section[data-product-collections*="' + collectionHandle + '"]').fadeIn();
      }

      if (isEventHappenedOnce) {
        woopra.track('Collection Tab Selected', {tab_name: $('.category-tabs a.active').text()});
      }

      isEventHappenedOnce = true;
    });

    $('.category-tabs a[data-collection-handle="{{ activeCollection }}"]').click();
  </script>
{% endunless %} {% endcomment %}

<script>
  // Auto click on Tab with Url Param
  $( document ).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let linksAddition = urlParams.get('category');
    let collectionTabSelector = '.category-tabs a[data-collection-handle="' + linksAddition + '"]';
    console.log(collectionTabSelector)
    console.log($(collectionTabSelector))

    $(collectionTabSelector).click();
  });
</script>