{% assign currentCollection = collections[collection_handle] %}
{% assign collection_additional_variant_amount = currentCollection.metafields.custom.additional_variants.value.count %}
{% assign collection_products_amount = currentCollection.products.size %}
{% assign collection_total_items_amount = collection_additional_variant_amount | plus: collection_products_amount %}
{% assign bundleVariantsCollections = "magnesium,sleep,joint-care,immune-care" | split: "," %}

{% if collection_handle == 'glucose-support' and shop.name == 'CuraLife Global' %}
  {% assign isGlucoseGlobal = true %}
{% endif %}

<div id="{{ collection_handle }}-collection-section" class="collection-section xl:w-full {% if collection_total_items_amount < 3 and template.name == 'list-collections' %}w-[48%]{% else %}w-full{% endif %} {% if shop.name == 'Curalife Global' or customer.tags contains 'B2B' %}max-w-[800px] m-auto{% endif %}" data-product-collections="{{ collection_handle }}" >
  {% unless isNoTitle %}
    <div class="title-wrapper border-b-[1px] border-black">
      <h2 class="relative mb-0 text-[40px] font-thin top-1 w-fit bg-white pr-3">{{ currentCollection.metafields.custom.alternative_title | default: currentCollection.title }}</h2>
    </div>
  {% endunless %}

  {% if isDescription %}
    <p class="description {% if currentCollection.metafields.custom.is_align_center or isCentered %}text-center m-auto{% endif %}">{{ currentCollection.description }}</p>
  {% endif %}

  <div class="product-grid flex flex-wrap gap-4 {% if isGlucoseGlobal or customer.tags contains 'B2B' %}justify-between{% else %}justify-start{% endif %} {% if isHiddenCollections %}hidden{% endif %}">
    {% if currentCollection.metafields.custom.collection_banner_img and template.name != 'collection'%}
      <div class="image-wrapper {% if collection_handle == 'glucose-support' %}max-w-1/4 md:max-w-1/2{% else %}max-w-[49%]{% endif %}">
        {% if currentCollection.metafields.custom.collection_banner_lnk %}
          <a class="product-link" href="{{ currentCollection.metafields.custom.collection_banner_lnk }}">
            {% render 'responsive-image', img: currentCollection.metafields.custom.collection_banner_img, img_mobile: currentCollection.metafields.custom.collection_banner_img_mobile, classes: "m-0 h-full md:h-[82vw] md:w-[44vw] block max-h-[420px] object-cover" %}
          </a>
        {% else %}
          {% render 'responsive-image', img: currentCollection.metafields.custom.collection_banner_img, img_mobile: currentCollection.metafields.custom.collection_banner_img_mobile, classes: "m-0 h-full md:h-[82vw] md:w-[44vw] block max-h-[420px] object-cover" %}
        {% endif %}
      </div>
    {% endif %}

    {% if collection_handle != 'wholesale' and bundleVariantsCollections contains collection_handle %}
      {% assign onlyProduct = currentCollection.products | first %}
      {% for variant in onlyProduct.variants %}
        {% if forloop.last and isLastCollectionRender %}
          {% assign isLastCardRender = true %}
        {% endif %}

        {% assign product_collections = variant.product.collections | map: 'handle' | join: ' ' %}
        {% render 'variant-card', variant: variant, variantIndex: forloop.index, productCollections: product_collections, isLastRender: isLastCardRender, isNoPrices: isNoPrices %}
      {% endfor %}
    {% else %}
      {% for product in currentCollection.products %}
        {% if forloop.last and isLastCollectionRender %}
          {% assign isLastCardRender = true %}
        {% endif %}

        {% if isNoBundles %}
          {% unless product.tags contains 'bundle' %}
            {% render 'product-card', product: product, isLastRender: isLastCardRender, isNoPrices: isNoPrices %}
            {% if isLastCardRender %}{% assign isLastCardRendered = true %}{% endif %}
          {% endunless %}
        {% else %}
          {% render 'product-card', product: product, isLastRender: isLastCardRender, isNoPrices: isNoPrices %}
          {% if isLastCardRender %}{% assign isLastCardRendered = true %}{% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% for additionalVar in currentCollection.metafields.custom.additional_variants.value %}
      {% for vari in additionalVar.product.variants %}
        {% if vari.id == additionalVar.id %}
          {% assign varIndex = forloop.index %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if additionalVar.product.variants.size == 1 %}
        {% render 'product-card', product: additionalVar.product, isLastRender: isLastCardRender, isNoPrices: isNoPrices %}
      {% else %}
        {% render 'variant-card', variant: additionalVar, variantIndex: varIndex, productCollections: product_collections, isLastRender: isLastCardRender, isNoPrices: isNoPrices %}
      {% endif %}
    {% endfor %}

    {% if isLastCardRendered != true %}
      {% render 'product-card', isOnlyScriptsAndStyles: true, isNoPrices: isNoPrices %}
    {% endif %}
  </div>
</div>

<style>
  .image-wrapper img {
    border-radius: 25px;
  }
</style>

{% if currentCollection.metafields.custom.is_align_center %}
  <style>
    #{{ collection_handle }}-collection-section {
      text-align: center;
    }

    #{{ collection_handle }}-collection-section .description {
      margin: 30px auto;
    }
  </style>
{% endif %}