{% if productType == "variant" %}
  {% assign original_item = prod.metafields.custom.original_item.value %}
  {% assign quantity = prod.metafields.my_fields.pack_bottles_quantity | default: 1 %}
  {% assign original_item_cap = original_item.compare_at_price %}
  {% assign subscription_price = prod.metafields.subscription.price %}
{% elsif prod.metafields.custom.original_item_variant.value %}
  {% assign original_item_cap = prod.metafields.custom.original_item_variant.value.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity %}
{% else %}
  {% assign original_item_cap = prod.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity | default: 1 %}
{% endif %}

{% if prod.price > 0 %}
  {% assign item_price = prod.price | divided_by: quantity %}
{% else %}
  {% assign item_price = prod.metafields.custom.original_item_variant.value.price | divided_by: quantity %}
{% endif %}


<div class="price-wrapper min-h-[30px]">
  <div>
    {% if prod.compare_at_price > prod.price %}<strike class="no-letters text-gray-400 text-[0.8em] mbl:block">{{ original_item_cap | money_with_currency | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>{% endif %}
    <span class="new-price font-bold">{% if subscription_price %}{{ subscription_price.value | money_with_currency }}{% else %}{{ item_price | money | replace: "GBP", "" }}{% endif %}</span>
    {% if quantity > 1 %}<span class="per-bottle font-bold"> Per Bottle</span>{% endif %}
  </div>

  {% comment %} {% if prod.title contains "Pack" or prod.title contains "Months Supply" %}
    <div class="total-prices text-[12px] mb-1">
      TOTAL: <strike class="striked text-gray-400">{{ original_item_cap | times: quantity | money_with_currency | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>
      <span class="real font-bold">{{ prod.price | money_with_currency | replace: "GBP", "" }}</span>
    </div>
  {% endif %} {% endcomment %}
</div>