{% if productType == "variant" %}
  {% assign original_item = prod.metafields.custom.original_item.value | default: prod.selected_or_first_available_variant %}
  {% assign quantity = prod.metafields.my_fields.pack_bottles_quantity | default: 1 %}
  {% assign original_item_cap = original_item.compare_at_price %}
  {% assign subscription_price = prod.metafields.subscription.price.value %}
	{% if subscription_price > 0 %}
		{% assign isGotSubscription = true %}
		{% assign subscription_item_price = subscription_price | divided_by: quantity %}
	{% endif %}
{% elsif prod.metafields.custom.original_item_variant.value %}
  {% assign original_item_cap = prod.metafields.custom.original_item_variant.value.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity %}
{% else %}
  {% assign original_item_cap = prod.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity | default: 1 %}
{% endif %}

{% if prod.price > 0 %}
  {% assign item_price = prod.price | divided_by: quantity %}
{% else %}
  {% assign item_price = prod.metafields.custom.original_item_variant.value.price | divided_by: quantity %}
{% endif %}

{% unless request.path contains 'collections/black-friday' %}
	{% assign isRegularCollection = true %}
{% endunless %}

{% if prod.tags contains 'subscription' %}
	{% assign isGotSubscription = true %}
{% endif %}

{% if prod.variants.size > 1 %}
	{% assign isMultipleVariants = true %}
{% endif %}

{% if isRegularCollection and isMultipleVariants and isGotSubscription %}
	{% assign lastVariant = prod.variants | last %}
	{% assign lastVariantQuantity = lastVariant.metafields.my_fields.pack_bottles_quantity | default: 1 %}

	{% if isGotSubscription %}
		{% assign bestPrice = lastVariant.metafields.subscription.price.value %}
	{% else %}
		{% assign bestPrice = lastVariant.price %}
	{% endif %}
{% endif %}

<div class="price-wrapper min-h-12">
	{% if bestPrice %}
		<span class="best-item-price font-bold">From {{ bestPrice | divided_by: lastVariantQuantity | money }}</span>
		{% if prod.compare_at_price > prod.price %}<strike class="no-letters text-gray-400 text-[0.8em]">{{ prod.compare_at_price | money }}</strike>{% endif %}
			<span class="per-bottle block text-[14px] mt-1">Per Month</span>
	{% else %}
		<div class="prices flex items-center justify-center gap-1">
			{% if prod.compare_at_price > prod.price %}<strike class="no-letters text-gray-400 text-[0.8em] mbl:block">{{ prod.compare_at_price | money }}</strike>{% endif %}
			<span class="total-price font-bold">{{ subscription_price | default: prod.price | money }}</span>
			{% assign final_item_price = subscription_item_price | default: item_price %}

			{% if request.path contains 'collections/black-friday' %}<span class="save-price px-2 py-1 text-[14px] font-bold rounded-full" style="background:#EACB86">Save {{ original_item_cap | minus: final_item_price | times: quantity | money | replace: ".00", "" }}</span>{% endif %}
		</div>

		{% if quantity > 1 %}
			<span class="per-bottle block text-[14px] mt-1">
				<span class="new-price">
					{% if isGotSubscription %}
						{{ subscription_item_price | money }}
					{% else %}
						{% if item_price == 0 %}
							<span class="text-bronze font-normal">Order Free</span>
						{% else %}
							{{ item_price | money }}
						{% endif %}
					{% endif %}
				</span>

				Per {% if prod.tags contains 'bundle' or prod.product.tags contains 'bundle' %}Bundle{% else %}Bottle{% endif %}
			</span>
		{% endif %}
	{% endif %}
</div>