{% unless isOnlyScriptsAndStyles %}
  {% comment %} <a class="product-link" href="{{ product.url }}"> {% endcomment %}
    <div id="{{ product.handle }}" class="product-card {% if isRecommended %}recommended{% endif %}" id="product-card-section">
      <a class="product-link" href="{{ product.url }}"><img class="product-image" src="{{ product.featured_image.src | image_url }}" width="512" height="475" alt="" loading="lazy"></a>

      <div class="info w-full text-center">
        <div class="main">
          <div class="product-titles min-h-[50px] mb-2">
            <a class="product-link" href="{{ product.url }}"><h3 class="text-[22px] m-0">{{ product.metafields.my_fields.alternative_title.value | default: product.title }}</h3></a>
            {% if product.handle == 'curaslim' %}<p class="subtitle text-[--bronze]">Pre-Order!</p>{% endif %}
          </div>

          {% unless isNoPrices %}
            {% render 'price-new', prod: product, isLastRender: isLastRender, productType: "product" %}
          {% endunless %}
        </div>

        {% if customer.email == 'yotam@curalife.com' or customer.b2b? %}
          <div class="submit-wrap flex flex-col gap-2 mb-1">
            <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
              {%- form 'product', product, id: product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled class="product-variant-id">

                <div class="product-form__buttons main-submit-wrapper flex">
                  <div class="qty">
                    <input type="text" name="quantity" maxlength="100" value="{{ product.variants.first.quantity_rule.min }}" title="" class="input-text" />
                    <div class="qty_inc_dec">
                      <i class="increment" onclick="updateQuantity('+')">+</i>
                      <i class="decrement" onclick="updateQuantity('-')">-</i>
                    </div>
                  </div>
                  <button id="ProductSubmitButton-{{ section_id }}" type="submit" name="add" onclick="resetQuantity()" class="product-form__submit button button--full-width button--primary">
                    <span class="submit-title">Add To Cart</span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                </div>
              {%- endform -%}
            </product-form>

            {% if product.metafields.custom.file_url != blank %}
              <a href="{{ product.metafields.custom.file_url }}"><button class="secondary">Download PDF</button></a>
            {% endif %}
          </div>
        {% endif %}

        <a class="product-link" href="{{ product.url }}"><button class="main-btn" title="{{ product.title }}" prod-sku="{{ product.selected_or_first_available_variant.sku }}" prod-id="{{ product.variants.first.id }}" price="{{ product.selected_or_first_available_variant.price | money_without_currency }}" discount="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | minus: product.price | times: 0.01 }}{% else %}0{% endif %}"></i>SHOP NOW</button></a>
      </div>
    </div>
  {% comment %} </a> {% endcomment %}


  {% if product.metafields.custom.badge_image and isNoPrices != true %}
    {% unless product.metafields.custom.is_badge_collection %}
      <style>
        .product-card#{{ product.handle }}::before {
          content: "";
          background-image: url("{{ product.metafields.custom.badge_image | image_url }}");
          background-repeat: no-repeat;
        }
      </style>
    {% endunless %}
  {% endif %}
{% endunless %}

{% if isLastRender or isOnlyScriptsAndStyles %}
  <style>
    .product-card {
      position: relative;
      max-width: 270px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid var(--light-blue);
      border-radius: 10px;
      /* box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1); */
    }

    .product-card::before {
      background-size: contain;
      position: absolute;
      top: 30px;
      right: 10px;
      width: 68px;
      height: 68px;
    }

    .product-card .product-image {
      height: 250px;
      object-fit: contain;
    }

    .product-card .promotion-title {
      font-size: 18px;
      margin: unset;
      color: var(--blue);
    }

    .product-card .product-titles p {
      margin: unset;
    }

    .product-card .subtitle {
      font-size: 14px;
    }

    .product-card button:hover {
      background: var(--dark-blue);
    }

    .product-card button {
      min-width: -webkit-fill-available;
      padding: 6px;
      border-radius: 3px;
      font-weight: bold;
      border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
      .product-card  {
        margin-bottom: 3vw;
        width: 49%;
      }

      .product-card .product-image {
        height: 45vw;
      }

      .product-card button {
        font-size: 4vw;
      }

      .product-grid {
        gap: 1vw;
      }

      .product-card {
        padding: 1vw;
        margin-top: unset;
        max-width: unset;
        width: unset;
        border-radius: 5vw !important;
      }

      .product-card .product-titles {
        min-height: 2.2em;
        margin: unset;
      }

      .product-card .product-titles h3 {
        font-size: 5vw;
        line-height: 1em;
      }

      .product-card .subtitle {
        font-size: 4vw;
      }

      .product-card .info .price strike {
        font-size: 4vw;
      }

      .product-card .info .price .rounded.current-price {
        font-size: 41px;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  </style>

{% if customer.email == 'yotam@curalife.com' or customer.b2b? %}
  <style>
    .product-card .submit-wrap button {
      background-color: var(--orange);
      border-radius: 0px 10px 10px 0;
      font-size: 18px;
      padding: 0.5rem;
      min-width: fit-content;
      min-height: unset;
      color: black;


      &:hover {
        background-color: var(--dark-orange);
      }
    }

    .product-card .submit-wrap button.secondary {
      border-radius: 10px;
      background-color: var(--blue);
      color: white;
      width: 100%;
    }
  </style>

  <style>
    .product-card .submit-wrap .qty {
      display: flex;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .product-card .submit-wrap .qty_inc_dec .increment,
    .product-card .submit-wrap .qty_inc_dec .decrement {
      cursor: pointer;
      height: 50%;
      background-color: #fff2dd !important;;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
    }

    .product-card .submit-wrap .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    .product-card .submit-wrap .qty_inc_dec {
      width: 30px;
    }

    .product-card .submit-wrap .qty input[type=text] {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      width: 50px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
      font-weight: bold;
    }

    /* Quantity Selector Transition */
    .product-card .submit-wrap .qty {
      transition: width 0.3s ease;
      width: -webkit-fill-available;
      flex-basis: content;
    }

    .product-card .submit-wrap .qty_inc_dec {
      transition: opacity 0.3s ease;
    }
  </style>

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <script>
    function updateQuantity(action) {
      var qty_element = $(event.target).closest('.qty');
      var quantityField = qty_element.find('input[name="quantity"]');
      var value = parseInt(quantityField.val(), 10);
      value = isNaN(value) ? 1 : value;

      if (action === "+") {
        value++;
      } else if (action === "-") {
        value = Math.max(1, value - 1);
      }

      quantityField.val(value);
    }

    function resetQuantity() {
      console.log("onclick event")
      var qty_element = $(event.target).closest('.qty');
      var quantityField = qty_element.find('input[name="quantity"]');
      quantityField.val(1);
    }
  </script>
{% endif %}