{% unless isOnlyScriptsAndStyles %}
  <a class="product-link" href="{% if isLinkToCollection %}/collections?cat={{ collection.handle }}{% else %}{{ product.url }}{% endif %}">
    <div id="{{ product.handle }}" class="product-card {% if isRecommended %}recommended{% endif %}" id="product-card-section">
      <img class="product-image" src="{{ product.featured_image.src | image_url }}" width="512" height="475" alt="" loading="lazy">

      <div class="info w-full text-center">
        <div class="main">
          <div class="product-titles min-h-[45px]">
            <h3 class="h6">{{ product.metafields.my_fields.alternative_title.value | default: product.title }}</h3>
            {% if product.handle == 'curaslim' %}<p class="subtitle !mt-[-10px] text-[--bronze]">Pre-Order!</p>{% endif %}
          </div>

          {% unless isNoPrices %}
            <script>console.log("product: {{ product.title }}")</script>
            {% render 'price-new', prod: product, isLastRender: isLastRender, productType: "product" %}
          {% endunless %}
        </div>

        <button class="main-btn" title="{{ product.title }}" prod-sku="{{ product.selected_or_first_available_variant.sku }}" prod-id="{{ product.variants.first.id }}" price="{{ product.selected_or_first_available_variant.price | money_without_currency }}" discount="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | minus: product.price | times: 0.01 }}{% else %}0{% endif %}"></i>Shop Now</button>
      </div>
    </div>
  </a>

  {% if product.metafields.custom.badge_image and isNoPrices != true %}
    {% unless product.metafields.custom.is_badge_collection %}
      <style>
        .product-card#{{ product.handle }}::before {
          content: "";
          background-image: url("{{ product.metafields.custom.badge_image | image_url }}");
          background-repeat: no-repeat;
        }
      </style>
    {% endunless %}
  {% endif %}
{% endunless %}


{% if isLastRender or isOnlyScriptsAndStyles %}
  <style>
    .product-card {
      position: relative;
      max-width: 270px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid var(--light-blue);
      border-radius: 25px;
    }

    .product-card::before {
      background-size: contain;
      position: absolute;
      top: 30px;
      right: 10px;
      width: 68px;
      height: 68px;
    }

    .product-card .product-image {
      min-height: 250px;
      object-fit: contain;
    }

    .product-card .promotion-title {
      font-size: 18px;
      margin: unset;
      color: var(--blue);
    }

    .product-card .product-titles p {
      margin: unset;
    }

    .product-card .subtitle {
      font-size: 14px;
    }

    .product-card button:hover {
      background: var(--dark-blue);
    }

    .product-card button {
      min-width: -webkit-fill-available;
      padding: 6px;
      border-radius: 3px;
      font-weight: bold;
      border-radius: 20px !important;
    }

    @media screen and (max-width: 768px) {
      .product-link {
        margin-bottom: 3vw;
        width: 49%;
      }

      .product-card .product-image {
        min-height: 45vw;
      }

      .product-card button {
        font-size: 4vw;
      }

      .product-grid {
        gap: 1vw;
      }

      .product-card {
        padding: 1vw;
        margin-top: unset;
        max-width: unset;
        width: unset;
        border-radius: 5vw !important;
      }

      .product-card .product-titles {
        min-height: 2.2em;
        margin: unset;
      }

      .product-card .product-titles h3 {
        font-size: 5vw;
        line-height: 1em;
      }

      .product-card .subtitle {
        font-size: 4vw;
      }

      .product-card .info .price strike {
        font-size: 4vw;
      }

      .product-card .info .price .rounded.current-price {
        font-size: 41px;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  </style>
{% endif %}