{% assign variantTitle = variant.product.title | append: ' ' | append: variant.title %}

{% if variant.title contains '1 Month Supply' %}
	{% assign variantTitle = variant.product.title | append: ' ' | append: variant.title | replace: '1 Month Supply', '' %}
{% else %}
	{% assign variantTitle = variant.product.title | append: ' ' | append: variant.title | replace: 'Month Supply', 'Pack' %}
{% endif %}

{% assign variantTitle = variantTitle | replace: ' (Holiday Sale)', '' %}

{% assign actualTitle = variantTitle | default: variant.metafields.custom.alternative_title | default: variant.title %}
{% assign subtitle = variant.metafields.custom.subtitle | default: subtitle %}

{% if variant.metafields.subscription.price and request.path contains '/collections/subscribe-save' %}
	{% assign isSubscription = true %}
{% endif %}

{% assign quantity = variant.metafields.my_fields.pack_items_quantity %}
{% assign quantity_by_cents = quantity | times: 100 %}
{% assign item_price = variant.price | times: 100 | divided_by: quantity_by_cents %}

{% assign original_item_cap_total = original_item_cap | times: quantity %}
{% assign original_item_cap = variant.metafields.my_fields.original_item.value.compare_at_price %}
{% assign save_price = original_item_cap | minus: item_price | times: quantity | money_with_currency | replace: '.00', '' %}

{% if product.url contains '-black-friday' %}
	{% assign variantURL = variant.product.url | split: '-black-friday' | first %}
{% else %}
	{% assign variantURL = variant.product.url %}
{% endif %}

{% assign variantURL = variantURL | append: '?default-variant=' | append: variantIndex %}
{% assign displayImage = thumbnail_image | default: variant.metafields.custom.thumbnail_image | default: variant.image %}

{% assign imageSrc = displayImage %}
{% if displayImage.src %}
	{% assign imageSrc = displayImage.src | image_url %}
{% endif %}

<div id="variant-{{ variant.id }}" class="product-card" data-product-collections="{{ productCollections }}">
	<a class="product-link" href="{{ variantURL }}">
		<img
			class="product-image"
			src="{{ imageSrc }}"
			width="512"
			height="475"
			alt="{{ displayImage.alt | default: actualTitle }}"
			loading="lazy">
	</a>

	<div class="info h-max text-center">
		<div class="main">
			<div class="product-titles min-h-8 mb-2">
				<a class="product-link" href="{{ variantURL }}">
					<h3 class="text-[22px] text-primary m-0">{{ actualTitle }}</h3>
					{% if subtitle %}
						<p class="text-[16px] font-bold text-bronze mt-1 mb-0">{{ subtitle }}</p>
					{% endif %}
				</a>
			</div>

			{% unless isNoPrices %}
				{% render 'price-new', prod: variant, isLastRender: isLastRender, isSubscription: isSubscription, productType: 'variant' %}
			{% endunless %}
		</div>
	</div>

	<div class="submit-wrapper w-full">
		{% if isAddToCart %}
			<div class="submit-wrap add-to-cart-button flex flex-col gap-1 mb-1 {% unless customer.b2b? %}hidden{% endunless %}">
				<product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
					{%- form 'product', variant.product, id: variant.product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
						<input type="hidden" name="id" value="{{ variant.id }}" disabled class="product-variant-id">
						{% if isSubscription -%}
							<input
								class="submit-selling-plan-id"
								type="hidden"
								name="selling_plan"
								value="{{ variant.metafields.subscription.selling_plan_id }}">
						{%- endif %}

						<div class="product-form__buttons main-submit-wrapper flex">
							<div class="qty mbl:hidden {% unless isAddToCartQuantity %}!hidden{% endunless %}">
								<input
									type="text"
									name="quantity"
									maxlength="100"
									value="{{ variant.quantity_rule.min }}"
									title=""
									class="input-text">
								<div class="qty_inc_dec">
									<i class="increment" onclick="updateQuantity('+')">+</i>
									<i class="decrement" onclick="updateQuantity('-')">-</i>
								</div>
							</div>

							<button
								id="ProductSubmitButton-{{ section_id }}"
								type="submit"
								name="add"
								onclick="resetQuantity()"
								class="product-form__submit button button--full-width button--primary">
								<span class="submit-title">
									{%- if isSubscription %}Subscribe Now{% else %}Add To Cart{% endif -%}
								</span>

								<div class="loading-overlay__spinner hidden">
									<svg
										aria-hidden="true"
										focusable="false"
										class="spinner"
										viewBox="0 0 66 66"
										xmlns="http://www.w3.org/2000/svg">
										<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
									</svg>
								</div>
							</button>
						</div>
					{%- endform -%}
				</product-form>
			</div>
		{% endif %}

		<a class="product-link w-full" href="{{ variantURL }}">
			<button
				class="main-btn w-full"
				title="{{ variant.title }}"
				prod-sku="{{ variant.sku }}"
				prod-id="{{ variants.id }}"
				price="{{ variant.price | money_without_currency }}"
				discount="{% if variant.compare_at_price > variant.price %}{{ variant.compare_at_price | minus: variant.price | times: 0.01 }}{% else %}0{% endif %}">
				Shop Now
			</button>
		</a>
	</div>
</div>

{% assign badgeImage = variant.product.metafields.custom.badge_image %}
{% assign badgeImageSrc = badgeImage %}
{% if badgeImage.src %}
	{% assign badgeImageSrc = badgeImage.src | image_url %}
{% endif %}

{% if badgeImage and isNoPrices != true %}
	{% unless variant.product.metafields.custom.is_badge_collection %}
		<style>
			.product-card#variant-{{ variant.id }}::before {
				content: "";
				background-image: url("{{ badgeImageSrc }}");
				background-repeat: no-repeat;
			}
		</style>
	{% endunless %}
{% endif %}
