<section id="bfcm-hero" class="pb-[150px] md:pb-[10vw] {{ section.settings.additional_classes }}">
  <h1 class="offscreen">Curalife | Natural Supplements for Optimal Health</h1>
  <div class="bg -z-10 absolute top-0 w-full"></div>
  <div class="container flex">
    <div class="left flex flex-col text-center">
      {% if shop.name == 'CuraLife Global' and section.settings.left_image_global %}
        <img src="{{ section.settings.left_image_global | image_url }}" alt="sale curalife text" loading="lazy">
      {% else %}
        <img src="{{ section.settings.left_image | image_url }}" alt="sale curalife text" loading="lazy">
      {% endif %}
    <a class="pt-8" href="{% if section.settings.is_link_to_next_page %}{{ page.metafields.custom.next_page_link }}{% else %}{{ section.settings.button_link }}{% endif %}"><button class="revert bg-[--orange] text-black px-10">SHOP SALE</button></a>
    </div>
    <div class="right">
      <div class="capsule">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_7.png" alt="holiday sale" loading="lazy">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_8.png" alt="holiday sale" loading="lazy">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_9.png" alt="holiday sale" loading="lazy">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_7.png" alt="holiday sale" loading="lazy">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_8.png" alt="holiday sale" loading="lazy">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_9.png" alt="holiday sale" loading="lazy">
        </div>

        {% if shop.name == 'CuraLife Global' %}
          <img class="bottle object-cover absolute left-[100px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalin_bottle.png" alt="curalin bottle" loading="lazy">
        {% else %}
          <img class="bottle object-cover absolute left-[100px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalin_bottle.png" alt="curalin bottle" loading="lazy">
        {% endif %}
    </div>
  </div>
</section>

<style>
  #bfcm-hero .bg {
    background-color: var(--blue);
    height: calc(100% - 100px);
  }

  #bfcm-hero .right img.bottle {
    height: 600px;
    top: -100px;
    left: calc(50% - 250px);
    filter: drop-shadow(-21px 22px 21px rgba(0, 0, 0, 0.2));
  }

    #bfcm-hero .capsule img {
      position: absolute;
      height: calc(100% + 100px);
      opacity: 0;
      left: 50%;
      transition: opacity 1s ease-in-out;
    }

    @media screen and (max-width: 768px) {
      #bfcm-hero .bg {
        height: 100%;
      }

      #bfcm-hero .left {
        margin-top: 80vw;
      }

      #bfcm-hero .right img.bottle {
        height: 100vw;
        left: unset;
        right: 43vw;
        top: -60px;
      }

      #bfcm-hero .capsule img {
        height: 70vw;
        left: unset;
        right: 0;
      }
    }
</style>


<script>
  function animateBFCMImages(className) {
    const images = document.querySelectorAll(className);
    let index = 0;

    if (images[index]) {
      images[index].style.opacity = 1;
    }

    setInterval(() => {
      images.forEach(img => img.style.opacity = 0);

      index = (index + 1) % images.length;

      if (images[index]) {
        images[index].style.opacity = 1;
      }

    }, 3000);
  }

  if (window.innerWidth <= 768) {
    animateBFCMImages('.capsule img.mobile');
  } else {
    animateBFCMImages('.capsule img.desktop');
  }
</script>

{% schema %}
{
  "name": "BFCM 23 Hero",
  "settings": [
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
      },
      {
        "type": "checkbox",
        "id": "is_link_to_next_page",
        "label": "link to next page (metafield)"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "image_picker",
        "id": "left_image_global",
        "label": "Left Image on global"
      },
      {
        "type": "text",
        "id": "additional_classes",
        "label": "Additional Classes"
      }
    ],
    "presets": [
    {
      "name": "BFCM Hero"
    }
  ]
}
{% endschema %}