{% layout 'theme.lab1w' %}

<div class="lumen-page">

    <div class="floating-btn">
        <div class="btn-w">
            <button type="button">START TODAY</button>
            <!--<a href="javascript:void(0)" class="main-btn">START TODAY</a>-->
        </div>
    </div>

    <div class="lumen-intro">
        <div class="intro-bg">
            <picture>
                <source srcset="{{ 'lp-lab1w-lumen-intro-1.png' | file_url }}" media="(min-width: 641px)">
                <source srcset="{{ 'lp-lab1w-lumen-intro-1-m.png' | file_url }}">
                <img srcset="{{ 'lp-lab1w-lumen-intro-1-m.png' | file_url }}" alt="">
            </picture>
        </div>
        <div class="container">
            <div class="intro-content">
                <div class="title">
                    <h1><b>Naturally</b> Effective<br>
                        <span>Blood Sugar Support</span></h1>
                    <p>The Easiest Way to <b>Keep Blood Sugar Healthy</b></p>
                    <p class="mobile">The Easiest Way to <br><b>Keep Blood Sugar Healthy</b></p>
                </div>
                <div class="bottom-wrap">
                    <div class="intro-btn">
                        <button type="button">TRY CURALIN</button>
                        <p class="intro">60 Day Money Back Guarantee</p>
                    </div>
                    <div class="intro-bottle">
                        <span><img src="{{ 'lp-lab1w-product-lumen-bottle.png' | file_url }}" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="seen-on">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <p class="intro">60 Day Money Back Guarantee</p>
                    <h3>AS SEEN ON</h3>
                </div>
                <div class="seen-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-cnn.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“CuraLin promotes healthy glucose levels, energy, sleep, and proper body
                                            function”</i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-bbc.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“Incredible results... within days!<br>
                                            I can still eat out”</i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-fox.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“Get back your quality of life, with CuraLin”</i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-msn.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“CuraLin, the all-natural supplement that helps”</i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-sante.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“I am particularly impressed by the effects of CuraLin”
                                        </i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-yahoo.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“The proof is in the pudding”
                                        </i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-daily-express.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“CuraLin... supporting insulin release,
                                            insulin resistance and suppressing food cravings to help control a sweet
                                            tooth”
                                        </i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img"><img src="{{ 'brands-usa-today.png' | asset_url }}" alt=""></div>
                                    <div class="text">
                                        <p><i>“Thousands of Americans already achieve measurable results with CuraLin”
                                        </i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="missing-piece">
        <div class="container">
            <div class="data-wrap">
                <div class="text">
                    <div class="sub-title">
                        <h4>The Missing Piece for Smooth <b>Glucose Support</b></h4>
                        <div class="m-img">
                            <span><img src="{{ 'lp-lab1w-missing-piece.png' | file_url }}" alt=""></span>
                        </div>
                        <p>10 years of research and testing created CuraLin, an innovative glucose support formula that 
                            targets the 18 key body functions needed for effective blood sugar maintenance.</p>
                        <p>All you need is 2 capsules after meals to keep your blood sugar healthy, 
                            your food enjoyable, and your sleep restful. Today, over 100,000 proud customers use CuraLin.</p>
                    </div>
                </div>
                <div class="img">
                    <span><img src="{{ 'lp-lab1w-missing-piece.png' | file_url }}" alt=""></span>
                </div>
            </div>
        </div>
    </div>

    <div class="safety-info big-img">
        <div class="container">
            <div class="data-wrap">
                <div class="img">
                    <span><img src="{{ 'lp-lab1w-new-science.jpg' | file_url }}" alt=""></span>
                </div>
                <div class="text">
                    <div class="sub-title">
                        <h4><span>Nature isn’t new,</span><span>But <b>this</b> science is.</span></h4>
                        <p>We didn’t create the world’s most effective glucose support supplement by accident. Our
                            research team figured it out - exactly what each body process needs. CuraLin packs all that
                            research into a capsule. Yes, CuraLin is rooted in nature, but it’s truly perfected by
                            science.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="doctors-list">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title" style="max-width: none;">
                    <h3 class="doc-rec"><b>Doctor</b> Recommendations</h3>
                    <h4 class="doc-rec">Over 400 Doctors Already <b>Recommend</b> CuraLin</h4>
                </div>
            </div>
        </div>
        <div class="list-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ 'lp-lab1w-doctors-01.png' | file_url }}" alt="">
                        </div>
                        <div class="text">
                            <h3>Dr. Michael Binder</h3>
                            <p>Functional doctor, author of<br> Cracking The Diabetic Code.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ 'lp-lab1w-doctors-02.jpg' | file_url }}" alt="">
                        </div>
                        <div class="text">
                            <h3>Prof. Itamar Raz</h3>
                            <p>World renouned diabetes expert with over 400 published peer-reviewed studies.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ 'lp-lab1w-doctors-03.jpg' | file_url }}" alt="">
                        </div>
                        <div class="text">
                            <h3>Dr. Sarah Brewer</h3>
                            <p>Functional doctor, diabetes expert, and author of over 60 books on personal health.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ 'lp-lab1w-doctors-06.jpg' | file_url }}" alt="">
                        </div>
                        <div class="text">
                            <h3>Dr. Bryan Frank, MD</h3>
                            <p>Age Management & Regenerative Specialist,<br> Re-Genesis Health</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ 'lp-lab1w-doctors-08.jpg' | file_url }}" alt="">
                        </div>
                        <div class="text">
                            <h3>Dr. Nancy Russell, MD</h3>
                            <p>Internal Medicine Specialist,<br>
                                North Kansas City Hospital</p>
                        </div>
                    </div>
                </div>
                <div class="next-slide"></div>
                <div class="prev-slide"></div>
                <div class="slider-bullets"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="ingredients-slider">
        <div class="title">
            <h3>9 powerful <b>natural ingredients</b></br>
                combined into one capsule</h3>
        </div>
        <div class="title-mobile">
            <h3>9 powerful</br> <b>natural ingredients</b></br>
                combined into one capsule</h3>
        </div>
        <div class="wrap">
            <div class="slider-wrap">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-01.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Swertia Chirata</h3>
                                    <p>Swertia Chirata is a beautiful purple flower containing active compounds that promote cellular glucose metabolism, support the release of insulin from the pancreas, and keep a healthy rate of glucose absorption in the digestive system.
                                    </p><br>
                                    <span>[31-33]</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-02.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>BITTER MELON</h3>
                                    <p>Also known as Karela or Momordica Charantia, Bitter Melon is traditionally used in Eastern medicinal systems to promote healthy physiological function in pancreatic cells, supports glucose absorption, and the sensitivity of the muscle cells to insulin.
                                    </p><br>
                                    <span>[14-22]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-03.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>CINNAMON</h3>
                                    <p>Cinnamon has many benefits, including supporting healthy glucose absorption & metabolism, promoting healthy insulin release, circulation & sensitivity, and maintaining healthy levels of gluconeogenesis. It also supports healthy weight loss, promotes healthy HbA1c and fasting blood sugar, healthy cholesterol levels, and promotes a healthy nervous system.
                                    </p><br>
                                    <span>[51-52]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-04.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Picrorhiza Kurroa</h3>
                                    <p>The active compounds in Pirorhiza Kurroa act as an anti-oxidant and promotes healthy liver function (protecting it from toxins). This supports healthy glucose tolerance and helps people maintain a healthy weight.
                                    </p><br>
                                    <span>[47-50]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-05.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>AMLA</h3>
                                    <p>Also known as Indian gooseberry or Emblica Officinalis, the active property in Amla is Tannoid, which helps support the physiological function of pancreatic cells.</p><br>
                                    <span>[29-30]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-06.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>SYZYGIUM CUMINI</h3>
                                    <p>Also known as Eugenia Jambolana, the active components in Syzygium Cumini supports a healthy physiological function in the liver, creating a reservoir of glucose macromolecules, thereby helping maintain healthy fasting blood glucose levels.
                                    </p><br>
                                    <span>[43-44]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-07.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>FENUGREEK</h3>
                                    <p>Also known as Trigonella Foenum Graecum, Fenugreek contains fibers that promotes insulin production, release & sensitivity. Fenugreek also helps support a healthy rate of carbohydrate absorption in the digestive system.
                                    </p><br>
                                    <span>[26-28]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-08.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Gymnema Sylvestre</h3>
                                    <p>Gymnema Sylvestre has many active compounds including Saponin, which is known to help manage cravings for carbohydrates. Metabolically, it promotes healthy insulin release.
                                    </p><br>
                                    <span>[34-40]</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-ingredients-09.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>TURMERIC</h3>
                                    <p>Also known as Curcuma Longa, Turmeric has been used in Eastern medicinal systems for hundreds of years to help people maintain healthy glucose levels though healthy insulin tolerance.
                                    </p><br>
                                    <span>[23-25]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="ingredients-bullets swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="bottle-quality">
        <div class="container small">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3>From <b>Field</b> to <b>Bottle</b><br>
                        our quality is second to none.</h3>
                </div>
                <div class="q-img">
                    <img src="{{ 'lp-lab1w-bottle-quality.png' | file_url }}" alt="">
                </div>
                <div class="sub-title">
                    <h4>Sourced from the most fertile Himalayan soil.</h4>
                    <p>
                        Because not all compounds are created equal, CuraLin’s 9 ingredients are sourced
                        from the rich soil of the Himalayan mountains. They are then extracted at a 64:1 ratio, 
                        meaning that 64 ounces of raw ingredients yields just 1 ounce of finished powder. 
                        Nutritional density has its price, but you get a supplement that’s packed with power. 
                        And your body loves that.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="safety-info">
        <div class="container">
            <div class="data-wrap">
                <div class="img">
                    <div class="sub-title">
                        <h4><span>Your <b>safety</b> comes first</span></h4>
                    </div>
                    <img src="{{ 'lp-lab1w-safety-info.jpg' | file_url }}" alt="">
                </div>
                <div class="text">
                    <div class="sub-title">
                        <h4><span>Your <b>safety</b> comes first</span></h4>
                        <p>Safety is always our top priority. Every CuraLin batch undergoes 11 separate tests for
                            purity, safety, and potency.<br><br>
                            For complete transparency, all of these tests are done by independent labs.<br><br>
                            CuraLin is very safe to take, even alongside prescription medication. 
                            Of course, consult your doctor before use.</p>

                    </div>
                </div>
                <div class="labels">
                    <ul>
                        <li><img src="{{ 'lp-lab1w-safety-01.png' | file_url }}" alt=""></li>
                        <li><img src="{{ 'lp-lab1w-safety-02.png' | file_url }}" alt=""></li>
                        <li><img src="{{ 'lp-lab1w-safety-03.png' | file_url }}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="fda-video">
        <div class="container">
            <div class="sub-title">
                <h2 style="text-align: center;">Cutting Edge Facilities</h2>
                <h4 class="video">Watch to discover more about the FDA registered facilities where CuraLin is processed.</h4>
            </div>
        </div>
        <div class="video-wrap">
            <span>
                <img src="{{ 'lp-lab1w-fda-video.png' | file_url }}" alt="">
                <iframe src="https://player.vimeo.com/video/615936913" frameborder="0" allowfullscreen=""></iframe>
            </span>
        </div>
    </div>

    <div class="real-change">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h2>Are you ready for <b>real change?</b></h2>
                    <h4>Say Goodbye to Blood Sugar Frustrations.<br>
                        <b>It’s your life on your terms.</b></h4>
                </div>
                <div class="change-list">
                    <ul>
                        <li>
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-real-change-blood.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Keep Your Blood Sugar Healthy!</h3>
                                    <p>CuraLin’s ingredients have been used for thousands of years for this exact<br>purpose.
                                         The formula is made with special and rare ingredients that have<br>scientifically 
                                         proven glucose supporting properties.<br>
                                         This promotes healthy blood sugar... And healthy blood sugar has its benefits...</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-real-change-energy.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Energy Goes Up!</h3>
                                    <p>So does your motivation for a vibrant social life, hobbies, and work. 
                                        This is thanks to ingredients that support how glucose converts into energy.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-real-change-sleep.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Sleep Gets Better!</h3>
                                    <p>Without the constant need to ‘get up and go’ or restless tossing & turning. 
                                        This is thanks to ingredients that support bladder health.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-wrap">
                                <div class="img">
                                    <span><img src="{{ 'lp-lab1w-real-change-weight.png' | file_url }}" alt=""></span>
                                </div>
                                <div class="text">
                                    <h3>Weight Loss Is Easier!</h3>
                                    <p>Since CuraLin helps boost metabolism, 
                                        it has the fun effect of making weight loss easier!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="good-company">
        <div class="container" style="padding: 0 !important;">
            <div class="sub-title">
                <h2>Customer<b> Reviews</b></h2>
                <h4><b>100,000 customers</b> already trust CuraLin</h4>
            </div>
        </div>
        <div class="img-bg">
            <img src="{{ 'lp-lab1w-people-03.png' | file_url }}" alt="">
        </div>
    </div>

    <div class="doctors-quote">
        <div class="container small">
            <div class="data-wrap">
                <div class="dq-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><iframe src="https://player.vimeo.com/video/365492409" frameborder="0"
                                                      allowfullscreen=""></iframe></span>
                                    </div>
                                    <div class="text">
                                        <blockquote>
                                            <h4>This is the best product I found for glucose support and I tried them
                                                all in
                                                the past.</h4>
                                            <p>Carol S.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><iframe src="https://player.vimeo.com/video/562754632" frameborder="0"
                                                      allowfullscreen=""></iframe></span>
                                    </div>
                                    <div class="text">
                                        <blockquote>
                                            <h4>It was amazing!
                                                Cross my heart... it works. All you gotta do is stick to CuraLin.</h4>
                                            <p>Allan M.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><iframe src="https://player.vimeo.com/video/562754846" frameborder="0"
                                                      allowfullscreen=""></iframe></span>
                                    </div>
                                    <div class="text">
                                        <blockquote>
                                            <h4>The biggest thing that CuraLin has done for me is interrupt my mindset
                                                of
                                                hopelessness.
                                                It’s a wonderful tool.</h4>
                                            <p>Denise R.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-wrap">
                                    <div class="img">
                                        <span><iframe src="https://player.vimeo.com/video/562754760" frameborder="0"
                                                      allowfullscreen=""></iframe></span>
                                    </div>
                                    <div class="text">
                                        <blockquote>
                                            <h4>CuraLin sounded too good to be true. But it works. Oh man, it
                                                works.</h4>
                                            <p>D’Gaye</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-bullets"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="labels">
                    <ul>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-clinically-tested.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>CLINICALLY<br>
                                    TESTED</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-doctor-approved.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>DOCTOR<br>
                                    APPROVED</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <span><img src="{{ 'icon-patient-recommended.svg' | asset_url }}" alt=""></span>
                            </div>
                            <div class="text">
                                <p>PATIENT<br>
                                    RECOMMENDED</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="risk-free">
        <div class="container">
            <div class="data-wrap">
                <div class="risk-data">
                    <div class="img">
                        <img src="{{ 'lp-lab1w-60-day-label-2.png' | file_url }}" alt="">
                    </div>
                    <div class="text">
                        <h4 style="font-family: 'Roboto';">Return Policy:</h4>
                        <p>You get 100% of your money back if you are not 100% satisfied.
                            Yes, even if the bottls are opened, or if you order more than on bottle.
                            Every order is covered by this guarantee, making your purchase risk-free.</p>
                    </div>
                </div>
                <div class="extra-info">
                    <p><i class="fas fa-truck" style="font-size: 50px;"></i>FREE <span>WORLDWIDE </span>SHIPPING</p>
                </div>
            </div>
        </div>
    </div>

    <div class="goods-list-face">
        <div class="container" style="padding: 0 !important;">
            <div class="data-wrap" >
                <div class="good-list-title">
                    <h4><b>Curalin.</b> Safe and Powerful Glucose Support.</h4>
                </div>
                <div class="good-list-title-mobile">
                    <h3>Curalin.</h3>
                    <h4>Safe and Powerful Glucose Support.</h4>
                </div>
                <div class="list-wrap-face">
                    <div class="mobile-tit">
                        <p class="white">Mini Curalin</p>
                        <p class="black">FREE SHIPPING</p>
                    </div>
                    <div class="face-card-2">
                        <div class="face-wrap">
                            <div class="top">
                                <div class="title">
                                    <h3>Mini Curalin</h3>
                                </div>
                                <div class="img">
                                    <a class="cta-btn-90-caps" href="/cart/41487458631831:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-90-caps-2.png' | file_url }}" alt=""></a>
                                </div>
                                <div class="price">
                                    <p>$39</p>
                                    <span>PER BOTTLE</span>
                                </div>
                            </div>
                            <div class="bottom">   
                                <div class="img">
                                    <a class="cta-btn-90-caps" href="/cart/41487458631831:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-90-caps-2.png' | file_url }}" alt="">
                                    </a>
                                </div>
                                <div class="b-wrap">
                                    <div class="mobile-info">
                                        <p>$39</p>
                                        <span>PER BOTTLE</span>
                                    </div>
                                    <p class="supply">90 Capsules <b>|</b> Up To 30 Days Supply</p>
                                    <p class="mobile-supply">90 Capsules<br>Up To 30 Days Supply</p>
                                    <div class="submit-btn">
                                        <a class="cta-btn-90-caps" href="/cart/41487458631831:1?channel=buy_button">
                                            <span>BUY NOW</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-tit">
                        <p class="white">Curalin</p>
                        <p class="black">FREE SHIPPING</p>
                    </div>
                    <div class="face-card-2">
                        <div class="face-wrap">
                            <div class="top">
                                <div class="title">
                                    <h3>Curalin</h3>
                                </div>
                                <div class="img">
                                    <a class="cta-btn-180-caps" href="/cart/41487981346967:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-180-caps-2.png' | file_url }}" alt=""></a>
                                </div>
                                <div class="price">
                                    <p>$69</p>
                                    <span>PER BOTTLE</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="img">
                                    <a class="cta-btn-180-caps" href="/cart/41487981346967:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-180-caps-2.png' | file_url }}" alt=""></a>
                                </div>
                                <div class="b-wrap">
                                    <div class="mobile-info">
                                        <p>$69</p>
                                        <span>PER BOTTLE</span>
                                    </div>
                                    <p class="supply">180 Capsules <b>|</b> Up To 60 Days Supply</p>
                                    <p class="mobile-supply">180 Capsules<br>Up To 60 Days Supply</p>
                                    <div class="submit-btn">
                                        <a class="cta-btn-180-caps" href="/cart/41487981346967:1?channel=buy_button">
                                            <span class="desktop-only">BUY NOW</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-tit">
                        <p class="white">3 Curalin</p>
                        <p class="black">FREE SHIPPING</p>
                    </div>
                    <div class="face-card-2">
                        <div class="face-wrap">
                            <div class="top">
                                <div class="title">
                                    <h3>3 Curalin</h3>
                                </div>
                                <div class="img">
                                    <a class="cta-btn-3-pack" href="/cart/41487988129943:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-3-pack-face.png' | file_url }}" alt=""></a>
                                </div>
                                <div class="price">
                                    <p>$62</p>
                                    <span>PER BOTTLE</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="img">
                                    <a class="cta-btn-3-pack" href="/cart/41487988129943:1?channel=buy_button"><img
                                            src="{{ 'lp-lab1w-3-pack-face.png' | file_url }}" alt=""></a>
                                </div>
                                <div class="b-wrap">
                                    <div class="mobile-info">
                                        <p>$62</p>
                                        <span>PER BOTTLE</span>
                                    </div>
                                    <p class="supply">Up To 180 Days Supply</p>
                                    <p class="mobile-supply">Up To 180 Days<br>Supply</p>
                                    <div class="submit-btn">
                                        <a class="cta-btn-3-pack" href="/cart/41487988129943:1?channel=buy_button">
                                            <span class="desktop-only">BUY NOW</span>
                                        </a>
                                    </div>
                                    <p class="total">total $186</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="a-labels">
                    <ul>
                        <li><i class="fas fa-truck"></i></span>FREE WORLDWIDE SHIPPING</li>
                        <li><i class="fas fa-certificate"></i></span>60 DAY MONEY BACK GUARANTEE</li>
                        <li><i class="fas fa-lock"></i></span>100% SECURE CHECKOUT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-list">
        <div class="container small">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3>FAQ</h3>
                </div>
                <ul>
                    <li>
                        <div class="question">
                            <h4>How much CuraLin do I need to take?</h4>
                        </div>
                        <div class="answer">
                            <p>The recommended usage of CuraLin is to take 1-2 capsules 30 minutes after each meal.
                                Maximum
                                6 capsules per day.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Can I take CuraLin alongside my drugs?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin is a natural dietary supplement, meaning that it’s meant as a compliment to your
                                existing regime. Thousands of CuraLin users take CuraLin alongside their recommended
                                drugs
                                and treatments and no negative interactions have been reported. Of course, please
                                consult
                                with your doctor before starting on CuraLin, whether you’re on drugs or not.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>How does each ingredient work again?</h4>
                        </div>
                        <div class="answer">
                            <p>Each ingredient does a little something different to promote health in the 18 key body
                                functions needed for glucose support.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>What are the clinical results of CuraLin?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin’s clinical results were published in peer-reviewed medical journals. The results
                                show
                                a very high level of safety and efficacy in supporting healthy blood sugar, improving
                                energy, and improving weight.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is CuraLin recommended by doctors?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes! Hundreds of doctors recommend CuraLin, and the number is rapidly growing. These
                                include
                                high profile doctors and diabetes researchers. Doctors see an average success rate of
                                about
                                90% with their patients. Many diabetic doctors also take CuraLin.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is CuraLin safe?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes! CuraLin has been noted in studies for its ‘Favorable safety profile’.<br>
                                Every batch of CuraLin undergoes at least 11 safety tests during the production process.
                                All
                                of these tests are conducted by fully certified independent labs for total transparency.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is the capsule also natural?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes, the capsule itself is 100% natural and vegan friendly.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Where can I read more about the science?</h4>
                        </div>
                        <div class="answer">
                            <p>Check out our Ingredients Literature Review
                                 <a href="https://curalin.curalife.com/ingredients-literature-review/index.html">here.</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is there a discount if I order more than one bottle?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes! You will save $45… or $90 by ordering a 3-pack or 6-pack respectively.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Which benefits will I get?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin has many benefits including helping to promote:<br>
                                · Healthy blood sugar levels<br>
                                · High energy levels<br>
                                · Healthy weight loss<br>
                                · Healthy pancreas and beta cell function<br>
                                · Reduced cravings for sugars & other carbs<br>
                                · Healthy absorption rates of carbohydrates<br>
                                · Healthy live and kidney function<br>
                                CuraLin users also rave about how they have more motivation and positivity in life after
                                seeing that they can succeed.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>How do I get my money back if it doesn’t work for me?</h4>
                        </div>
                        <div class="answer">
                            <p>Easy! Just shoot us a message at hello@curalife.com, or call our 24/7 phone support:<br>
                                UK-Toll-Free: +44 800 086 9122<br>
                                US-Toll-Free: +1 888 286 7307</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>