{% layout 'theme.lps' %}

{% render 'lp-prelander-navbar' %}

<div class="prelander-v1">



  <section class="main-section-about-allan">
    <div class="container">
      <div class="before-title-about-title">Miss sweets & snacks? Then here’s. . . </div>
      <div class="allan-main-title">
        How To Go Back To Enjoying Your Favorite Foods Without Worrying About Your Blood Sugar
      </div>
      <div class="incredible-allan-story">     
          <div class="date-apr">Aug 03, 2022 at 18:24pm EDT | Sponsored by CuraLife</div>  
        <div class="grey-border"></div>
        <div class="allan-blood-sugar-story">
          <div class="allan-title">Allan’s Blood Sugar Story</div><br>
          <div class="allan-story">
            About two years ago, during a routine blood test, Allan received some startling news. <strong>His sweet tooth has taken its toll on his health,</strong> and if he goes on ignoring his extra weight and blood sugar any longer - there’s probably going to be a <strong>huge price to pay.</strong> <br><br>

            The most frustrating thing about watching your glucose is having to deny yourself the sweet pleasures of life. The comfort foods you've loved for years, never to be enjoyed again. <br><br>

            And all the confusing advice online these days sure makes it <strong>difficult to understand what you can and can’t eat.</strong> <br><br>

            Most people become <strong>hopeless living without normal food,</strong> and simply <strong>lose control</strong> when their <strong>cravings</strong> become too strong to bear. But Allan, a merry 70-year-old Aussie, whose greatest pleasure is sweets, <strong>refused to go down that path.</strong> <br><br>

            Fast forward 2 years to today, Allan’s situation is completely different - even though his lifestyle is not. <br> <br>

           <div class="allan-headline">He’s happier and livelier than ever.</div>  <br>
            He’s lost a significant amount of <strong> weight.</strong> <br><br>
            And what’s really surprising is he’s still satisfying his sweet tooth with <strong>ice cream</strong> and <strong>chocolates</strong> after dinner <strong>without it hurting his blood sugar!</strong> <br><br>

            How does he do it?  <strong>The trick is in his daily routine.</strong> 
          </div>
        </div>
        <div class="allan-eats">
          <img src="{{ 'lp-prelander-allan-eats.png' | file_url }}" width="300px" height="650px" alt="allan-eats" loading="lazy">
        </div> 
        <div class="allan-eats-mobile">
          <img src="{{ 'lp-prelander-allan-eats-mobile.png' | file_url }}" width="335px" height="277px" alt="allan-eats" loading="lazy">
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="allan-eats-all">
    <div class="container">
      <div class="allan-blood-sugar-story">
        <div class="allan-title">Allan’s Decadent Meals</div>
        <div class="allan-story">
          In the morning, Allan will have a couple of slices of toast for breakfast. He’ll also have his cup of coffee. Two times a week he'll alternate and enjoy a bowl of cereal. <br><br>

          Allan’s lunch is usually light. <strong>And then at dinner, he really has a ball.</strong> <br><br>

          Allan sure loves his potatoes. Especially his wife’s mashed potatoes. Twice a week he'll have some at dinner, along with a tasty glass of soda. Then it’s time for some savory dessert. <br><br>

          He'll have some ice cream. Then he might have a couple of chocolates too. <br><br>

          And if Allan’s daily meals sound like a train wreck just waiting to happen, you’ll be amazed to hear his blood sugar and cholesterol levels are perfectly fine! <br> <br>

         <div class="allan-headline">What’s his secret?</div>  <br>
         <strong> It’s not in what Allan eats, but in <a href="/pages/glucose-support-curalin-pack-v3">what he does after he eats.</a></strong> <br><br>   
        </div>
      </div>
      <div class="allans-ice-cream-img">
        <img src="{{ 'lp-prelander-allan-ice-cream.png' | file_url }}" width="1017px" height="135px" alt="ice cream" loading="lazy">
      </div>    
    </div>
  </section>

  <section class="allans-secret">
    <div class="container">
    <div class="allan-blood-sugar-story">
          <div class="allan-title">Allan’s Secret</div>
          <div class="allan-story">
            You see, nearly two years ago, Allan found out about <strong><a href="/pages/glucose-support-curalin-pack-v3">CuraLin - a natural supplement for maintaining healthy blood sugar.</a></strong> <br><br>

            Every morning after breakfast, he’ll take 2 capsules of CuraLin. After lunch, he'll take 2 more capsules. And after dinner, another 2. <br><br>

            As long as Allan doesn’t go overboard, he knows he can enjoy these little <strong>“pleasures of life”</strong> as he calls them, and CuraLin’s there to help him <strong>maintain a healthy glucose level,</strong> and make sure there’s no price to pay.  <br><br>

            Since <strong>CuraLin is 100% natural,</strong> it’s also safe to take without it interfering with any type of medication*.  <br><br>

          <strong><a href="/pages/glucose-support-curalin-pack-v3">CuraLin also helps reduce food cravings,</a></strong> which is how Allan lost 22 pounds in the last two years - without ever going on a diet! <br><br>

          
          (He proudly says he’d lose more if he really wanted to, but admits he's just lazy and doesn’t like to exercise.) <br><br>

          </div>
        </div> 
      </div>   
  </section>


  <section class="allans-recomendations">
    <div class="container">  
      <div class="recomendations">
       <div class="allans-diet-recomendation">
        "There are a lot of people that, in my opinion, are going overboard with their diet", Allan says. <br><br>
        "You know, blood sugar is something we can all handle. Some people are simply denying themselves the pleasures of life. <br><br>
        You know, there are a lot of skeptics in this world and I'm one of them. So I did all the research I could find on CuraLin before I started taking it. And cross my heart - it works!"
       </div>
        <div class="jar-picture">
          <div class="logo"><img src="{{ 'lp-prelander-logo-curalin.png' | file_url }}" width="106px" height="27px" alt="logo curalin" loading="lazy"></div> 
         <div class="bottle">
          
          <a href="/pages/glucose-support-curalin-pack-v3"><img src="{{ 'lp-prelander-allan-bottle.png' | file_url }}" width="506px" height="385px" alt="bottle" loading="lazy"></a></div>   
         </div>
      </div>
    </div>
  </section>

  <section class="learn-about">
    <div class="container">
      <div class="allan-blood-sugar-story">
        <div class="allan-title">Allan’s Success With CuraLin</div><br>
        <div class="allan-story">
         Allan's been on CuraLin for two years now. And you can tell just by looking at him - he's lost some serious weight. In fact, he proudly declares the clothes he bought 2-3 years ago now loosely hang off him. <br><br>

         When it comes to diet, Allan’s philosophy is very simple: <br><br>

        <strong> <i>“Don't deny yourself of everything, but don't cheat yourself either. If you want your chocolate right now - have some. But don't have a whole chocolate bar. And just stick to the CuraLin to maintain healthy blood sugar.”</i></strong> <br><br>

         Want to enjoy some of your favorite foods once again without dealing with any of the consequences? <br><br>

         <a href="/pages/glucose-support-curalin-pack-v3">Go here</a> to learn more about CuraLin and hear about others like Allan who enjoy some “tasty pleasures of life” every day too. <br>

        </div>
      </div> 
      
    </div>
  </section>

  <section class="curalin-button">
    <div class="container">
      <div class="curalin-learn">
        <a href="/pages/glucose-support-curalin-pack-v3"><button><span class="learn-more">Learn More About CuraLin</span></button></a>
      </div>
    </div>
  </section>
</div>

{% section 'footer' %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
  body {
    padding-top: 0;
  }

  .container {
    max-width: 1000px;
  }

  .incredible-allan-story {
    display: grid;
    column-gap: 20px;
  }

  .before-title-about-title {
    margin-top: 2%;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 50px;
  }


  .allan-main-title  {
    max-width: 738px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #272727;
  }


  .date-apr {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 388px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #9D9D9D;
  }

  .grey-border {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 770px;
    border: 1px solid #DDDDDD;
  }


  .allan-blood-sugar-story {
    margin-top: 5%;
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .allan-title {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
  }

  .allan-story {
    padding-top: 2%;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .allan-headline {
    font-weight: 700;
    font-size: 24px;
  }

  .allan-eats {
    margin-top: 5%;
    grid-row: 5/6;
    grid-column: 2/3;
  }

  .allan-eats-mobile {
    display: none;
  }

  .allans-ice-cream-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .recomendations {
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
  }

  .allans-diet-recomendation {
    max-width: 50%;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .jar-picture {
  position: relative;
  }

  .logo  {    
    position: absolute;
    width: 106px;
    height: 27px;
    left: 20%;
    top: 35%;  
  }


  .curalin-learn {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
  }

  .learn-more {
    padding: 26px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
  }

  .curalin-learn button {
    margin-top: 2%;
    padding: 15px 0;
    background: #FED602;
    border: 0;
  }


  @media (max-width: 950px) {
    .logo {     
        left: 7vw;
        top: 12vw;
    }

    .allan-eats img {
      height: 150vw;
      object-fit: cover;
    }
  }


  @media (max-width: 768px) {
 
    .curalin-learn button {
      width: 100%;
    }

    .recomendations {
        margin: 3% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .allans-diet-recomendation {
      max-width: unset;
      width: 100%;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    .allans-ice-cream-img img {
      height: 70vw;
      object-fit: cover;
    }

    .logo  {
      left: 5vw;
      top: 15vw;
    }
  }

  @media (max-width: 700px) {
    .container {
      height: 100%;
    }

    .allan-eats-mobile {
      display: flex;
      justify-content: center;
    }

    .allan-eats-mobile img {
      width: 100%;
      padding: 2vw 0;
    } 

   .allan-eats {
     display: none;
   }
  }

  @media (max-width: 500px) {
    .before-title-about-title {
     padding-top: 7vw;
     font-weight: 400;
     font-size: 18px;
     line-height: 32px;
    }

    .allan-main-title  {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: #000000;
    }
    .allan-title {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }

    .allan-story {
      font-family: 'DM Sans';
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.5px;
    }

    .allan-headline {
      font-weight: 700;
      font-size: 22px;
    }

    .learn-more {
      font-size: 22px;
    }
  }


</style>
