{% layout 'theme.lps' %}

<style>
  body {
    padding: unset;
  }

  .wisepops-root {
    display: none;
  }
</style>

<div class="spinner"></div>
<style>
  @keyframes s1 {to{transform: rotate(.5turn)}}

  .spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #8D4A44 #0000;
    animation: s1 1s infinite;
    margin: 100px auto;
  }
</style>

<script type="text/javascript">
  $(window).on('load', function() {
    $(".spinner").hide();
    $(".page-content").show();
  });
</script>

<div class="page-content" style="display: none;">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="215047"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="215048"></div>

  <script>
    function runAfterElementExists(jquery_selector,callback){
        var checker = window.setInterval(function() {
        if ($(jquery_selector).length) {
            clearInterval(checker);
            callback();
        }}, 200);
    }

    $( document ).ready(function() {
      runAfterElementExists(".yotpo-referral-widget-form", function() {
        $(".yotpo-action-button-widget button").click(function() {
          // Track in GA
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
          'event': 'referrer-submit'
          });
        })
      });

      runAfterElementExists(".yotpo-screen-friends_emails", function() {
        $(".yotpo-friends-share-button button").click(function() {
          // Track in GA
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
          'event': 'referee-submit'
          });

        })
      });
    });
  </script>



  <section id="curalin-section">
    <img class="decoration" src="{{ 'partnerships-curalin-decoration.svg' | asset_url }}" alt="curalife info" loading="lazy">
    <div class="container">
      <div class="content">
        <div class="titles">
          <h2><span class="bigger">curalin</span> Safe & Powerful Glucose Support</h2>
          <p>CuraLin is designed specifically for people looking for an effective and natural way to maintain healthy glucose levels so they can enjoy life’s events to the fullest.</p>
        </div>
        <div class="benefits">
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-1.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Blood sugar maintenance</p>
          </div>
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-2.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Eating the foods you love </p>
          </div>
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-3.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Energy goes up</p>
          </div>
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-4.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Supports internal systems</p>
          </div>
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-5.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Beat unwanted food cravings</p>
          </div>
          <div class="benefit">
            <img src="{{ 'lp-raf-givaway-curalin-icon-6.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
            <p>Weight Loss is easier</p>
          </div>
        </div>
        <img class="bottle" src="{{ 'partnerships-curalin-bottle.png' | asset_url }}" alt="curalife info" loading="lazy">
      </div>
    </div>
  </section>

  <style>
    :root {
      --green-dark: #404733;
      --green: #99B182;
      --green-light: #EBF3E3;
      --brown-dark: #A86129;
      --brown: #CB9F6F;
      --brown-light: #F0D4A6;
      --brown-lighter: #FEFBF6;
      --orange: #FFB22D;
    }

    section {
      position: relative;
      padding: 50px 0;
    }

    .container {
      position: relative;
    }

    h2 {
      font-size: 33px;
      font-weight: 700;
      letter-spacing: 1px;
    }

    h2 span.bigger {
      font-size: 80px;
    }

    p {
      font-size: 28px;
      line-height: 32px;
      margin: unset;
    }

    p.subtitle {
      font-size: 32px;
      line-height: 36px;
    }

    button {
      background-color:var(--orange);
      color: white;
      border: 0;
      padding: 20px 40px;
      font-size: 25px;
      font-weight: bold;
    }

    #curalin-section {
      background-color: var(--brown-lighter);
    }

    #curalin-section .decoration {
      position: absolute;
      top: 10px;
      right: 0;
    }

    #curalin-section .content {
      display: grid;
      position: relative;
      z-index: 1;
      margin-bottom: 50px;
    }

    #curalin-section .content .titles {
      grid-row: 1/2;
      grid-column: 1/2;
      color: var(--green-dark);
      max-width: 800px;
    }

    #curalin-section .content .titles h2 {
      white-space: nowrap;
    }

    #curalin-section .content .benefits {
      grid-row: 2/3;
      grid-column: 1/2;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      max-width: 800px;
      gap: 20px;
    }

    #curalin-section .content .benefits .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
    }

    #curalin-section .content .benefits .benefit p {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      line-height: 24px;
    }

    #curalin-section .content .bottle {
      grid-row: 1/3;
      grid-column: 2/3;
      height: 100%;
      object-fit: cover;
    }

    #curalin-section .content .cta {
      display: block;
      text-align: center;
    }

    @media screen and (max-width: 760px) {
      section {
        padding: 10vw 0;
      }

      #curalin-section .decoration {
        top: 70vw;
      }

      #curalin-section .content .titles h2 {
        white-space: unset;
        text-align: center;
        font-size: 4.7vw;
      }

      #curalin-section .content .titles h2 .bigger {
        display: block;
        font-size: 14vw;
      }

      #curalin-section .content .titles p {
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
      }

      #curalin-section .content .benefits {
        grid-row: 3/3;
        grid-column: 1;
        justify-content: space-around;
      }

      #curalin-section .content .benefits .benefit {
        width: 40vw;
      }

      #curalin-section .content .benefits .benefit p {
        font-size: 4vw;
        line-height: 5vw;
      }

      #curalin-section .content .bottle {
        grid-row: 2/3;
        grid-column: 1;
      }
    }
  </style>


  <div class="real-reviews">
    <div class="container">
      <div class="reviews-slider">
        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events" style="cursor: grab;">
          <div aria-live="off" class="swiper-wrapper" id="swiper-wrapper-5b228155528735db" style="transition-duration: 300ms; transform: translate3d(-1377.5px, 0px, 0px);">
            <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>“I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Murillo Sr.</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>It is so wonderful to find something that really works. I feel so much better!!</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Leanne Anderson</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>I've started on my second bottle and this is the best thing I've ever taken! I would recommend to anyone.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Debra Doss</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>Have been taking CuraLin over the last four months and am beyond pleased with the results.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Edwards</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="1 / 4" class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Murillo Sr.</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="2 / 4" class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>It is so wonderful to find something that really works. I feel so much
                                                            better!!</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Leanne Anderson</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="3 / 4" class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                            would
                                                            recommend to anyone.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Debra Doss</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="4 / 4" class="swiper-slide" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>Have been taking CuraLin over the last four months and am beyond pleased with the
                                                            results.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Edwards</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>“I have tried so many different supplements with no results. This one is amazing
                                                            and i am
                                                            excited. I just purchased my second bottle</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Murillo Sr.</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>It is so wonderful to find something that really works. I feel so much
                                                            better!!</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Leanne Anderson</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                            would
                                                            recommend to anyone.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Debra Doss</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
              <div class="quote-card">
                <blockquote>
                  <p>Have been taking CuraLin over the last four months and am beyond pleased with the results.</p>
                </blockquote>
                <div class="quote-info">
                  <div class="quote-author">
                    <p>Michael Edwards</p>
                  </div>
                  <div class="quote-rating">
                    <p>
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                      <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- If we need navigation buttons -->
          <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Previous slide" class="swiper-button-prev" role="button" tabindex="0"></div>
          <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Next slide" class="swiper-button-next" role="button" tabindex="0"></div>
          <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
        </div>
      </div>
    </div>
    <div class="bottom-bg"></div>
  </div>
  <style>
      .real-reviews {
          padding: 54px 0 26px;
          overflow: hidden;
          background-color: #FEFBF6;
          padding-bottom: 0;
      }

      .real-reviews .sub-title {
          padding-bottom: 60px;
      }

      .real-reviews .reviews-slider {
          padding: 0 95px;
      }

      .real-reviews .reviews-slider .swiper {
          position: static;
          overflow: visible;
      }

      .real-reviews .reviews-slider .swiper-button-next,
      .real-reviews .reviews-slider .swiper-button-prev {
          width: 18px;
          height: 36px;
          z-index: 5;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          color: black;
      }

      .real-reviews .reviews-slider .swiper-button-next:after,
      .real-reviews .reviews-slider .swiper-button-prev:after {
          display: none;
      }

      .real-reviews .reviews-slider .swiper-slide {
          display: flex;
          height: unset;
          padding: 15px;
      }

      .real-reviews .quote-card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 18px 12px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          background: unset;
          background-color: white;
      }

      .real-reviews .quote-card blockquote {
          margin: 0;
          padding: 0;
          position: relative;
      }

      .real-reviews .quote-card blockquote:before {
          content: '';
          width: 33px;
          height: 28px;
          display: block;
          margin: 0 auto;
          background-image: url("data:image/png+xml;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAcCAYAAADvANYcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF/SURBVHgB1ZbRcYMwEEQ3qYAOUDqgBJVAB1EJ6QA6sDsgHTipgKQC0oHdgZ0KiM4GjwySfCclH9mZ8+AZ9mlP5oSBf6wCaWpsDRn+6+KdrdHWS6JvzAlS2zo6ILpWDF8xLTo6tYVQBNksIDPoXje+AC2EUrb2CwjtgGb6dwtvD6E0brd/nAIppr/Beve43rOePQAJxHi8LQSqAwG406Cw/glFu0A3Hj2AAXx1Hn/HNdOT7OuASjMZKuCvmX7vGM7TwFWPjCZUwCwJUUUYhgPoIgCq5q8Z6o55Ljp4YifknsGge4zPbJgh5ilRSG8kuCs7IcD3BtRCxirIkADYLEKYBAbV9QAcE6v4hRDnyXtEutgHUETUSEkhTshXDuOJQhyQJnfhD2SIQrwjTQfn+pQR5Is+YsdtqHoPzCRwOhewFZor+NULGKs/yrHX+LJahKUEHBMCvEZMBOeMpUL8FCaOdg0PHkg1LVZO379tvUH+4Glcui2nYPQAfuLS6M1I/wBFB2Q2BYXkuAAAAABJRU5ErkJggg==");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: unset;
      }

      .real-reviews .quote-card blockquote p {
          margin: 0;
          padding-top: 8px;
          font-weight: normal;
          font-size: 20px;
          line-height: 1.43;
          text-align: center;
          color: #000000;
      }

      .real-reviews .quote-card .quote-info .quote-author p {
          margin: 0;
          font-weight: normal;
          font-size: 14px;
          line-height: 1;
          text-align: center;
      }

      .real-reviews .quote-card .quote-info .quote-rating {
          padding-top: 8px;
      }

      .real-reviews .quote-card .quote-info .quote-rating p img {
        filter: invert(92%) sepia(14%) saturate(4469%) hue-rotate(321deg) brightness(101%) contrast(101%);
        width: 12px;
      }

      .real-reviews .quote-card .quote-info .quote-rating p img:not(:last-child) {
        margin-right: 5px;
      }

      .quote-card blockquote:after {
        content: unset;
      }

      .bottom-bg {
        height: 250px;
        background: #8D4A44;
        margin-top: -150px;
      }

      .swiper-slide {
        opacity: .25;
      }
      .swiper-container {
        overflow: visible;
      }
      .swiper-slide-visible {
        opacity: 1;
      }

      @media screen and (max-width: 760px) {
        .real-reviews {
          padding: 0;
        }

        .real-reviews .reviews-slider {
          padding: 0 8vw;
        }
      }
  </style>

  <script>
      const reviewsSlider = new Swiper('.real-reviews .swiper', {
          slidesPerView: 3,
          spaceBetween: 0,
          grabCursor: true,
          loop: true,
          loopedSlides: 7,
          watchSlidesProgress: true,
          centeredSlides: true,
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
              disabledClass: 'disabled'
          },
          autoplay: {
              delay: 3000,
          },
          breakpoints: {
              0: {
                  slidesPerView: 1,
              },
              630: {
                  slidesPerView: 1,
              },
              900: {
                  slidesPerView: 3,
              }
          }
      });
  </script>

  <div class="floating-cta">
    <button class="btn-cta">ENTER NOW</button>
  </div>

  <style>
    .floating-cta {
      position: fixed;
      left: 20px;
      bottom: 20px;
      z-index: 20;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      display: none;
    }

    .floating-cta .btn-cta {
      font-size: 28px;
      pointer-events: auto;
      color: black;
    }

    @media screen and (max-width: 760px) {
      .floating-cta .btn-cta {
        font-size: 5vw;
        padding: 4vw 6vw;
      }
    }
  </style>

  <script>
    jQuery(document).ready(function() {
        var offset = 300;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.floating-cta').fadeIn(duration);
            } else {
                jQuery('.floating-cta').fadeOut(duration);
            }
        });

        jQuery('.floating-cta').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
  </script>
</div>

{% section 'footer' %}

<style>
  footer {
    background: #8D4A44 !important;
  }
</style>