{% layout 'theme.aio-first-page' %}

<div class="page-overflow">

    <div class="hero-section">
        <div class="container">
            <div class="data-wrap">
                <div class="brand-logo">
                    <a href="javascript:void(0)">
                        <img src="{{ 'lp-aio-logo.png' | file_url}}" alt="">
                    </a>
                </div>
                <div class="brand-slogan">
                    <h1>
                        Natural &
                        Effective Blood
                        Sugar Support
                    </h1>
                </div>
                <div class="brand-welcome-text">
                    <h2>So you can <span></span></h2>
                </div>
                <div class="brand-intro-cover">
                        <span>
                            <picture>
                                <source srcset="{{ 'lp-aio-hero-intro-bg.png' | file_url}}" media="(min-width: 641px)">
                                <source srcset="{{ 'lp-aio-hero-intro-bg-mobile.png' | file_url}}">
                                <img srcset="{{ 'lp-aio-hero-intro-bg-mobile.png' | file_url}}" alt="">
                            </picture>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <div class="featured-section">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h4>As featured on:</h4>
                </div>
                <div class="partners-wrapper">
                    <div id="ticker-wrap" class="ticker-wrap swiper">
                        <div class="ticker-col swiper-wrapper">
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-cnn-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-bbc-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-fox-news-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-fox-news-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-fox-news-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-msn-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-msn-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-msn-logo-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-usa-today.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-usa-today-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-usa-today-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-yahoo-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-col swiper-slide">
                                <div class="partner-item">
                                    <a href="javascript:void(0)">
                                        <picture>
                                            <source srcset="{{ 'lp-aio-sante-logo.png' | file_url}}" media="(min-width: 641px)">
                                            <source srcset="{{ 'lp-aio-sante-logo-mb.png' | file_url}}">
                                            <img src="{{ 'lp-aio-sante-logo-mb.png' | file_url}}" alt="">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="meet-curalin">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>Meet CuraLin.</b>
                        Blood sugar support made for you...</h3>
                </div>

                <div class="curalin-intro">
                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-client-tested-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>Clinically tested</h4>
                            <p>with results published in a peer-reviewed journal</p>
                        </div>
                    </div>
                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-capsules-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>Easy to take capsules</h4>
                            <p>take 1-2 after meals</p>
                        </div>
                    </div>

                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-formula-doctors.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>Formulated by doctors</h4>
                            <p>specifically for glucose support </p>
                        </div>
                    </div>
                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-quick-results-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>See results quickly</h4>
                            <p>on average in 2-3 weeks</p>
                        </div>
                    </div>

                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-research-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>10 years of research</h4>
                            <p>support CuraLin’s formula</p>
                        </div>
                    </div>
                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-recommend-doctors-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>700+ doctors recommend</h4>
                            <p>CuraLin to their patients</p>
                        </div>
                    </div>

                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-supports-icon.svg' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>Supports 18 cellular functions</h4>
                            <p>that promote healthy blood sugar</p>
                        </div>
                    </div>
                    <div class="curaline-widget-item">
                        <div class="curaline-widget-icon">
                            <img src="{{ 'lp-aio-usa-icon.png' | file_url }}" alt="">
                        </div>
                        <div class="curaline-widget-text">
                            <h4>Encapsulated in the USA</h4>
                            <p>in FDA registered and GMP certified facilities</p>
                        </div>
                    </div>

                    <div class="curaline-brandmark">
                        <img src="{{ 'lp-aio-brand-mark.png' | file_url}}" alt="">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <section class="life-changes">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-titles">
                    <h2><b>How will CuraLin Change My Life?</b></h2>
                    <h3>Reviews from Long-Term CuraLin Users</h3>
                </div>
                <div class="video-wrapper">
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672324461" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
    
                            <div class="video-headline">
                                <p>It worked, and it worked for other people that I recommended it to</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672291517" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
                            
                            <div class="video-headline">
                                <p>CuraLin has really helped me. <br> It’s a wonderful tool in my toolbox</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672324380" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
    
                            <div class="video-headline">
                                <p>I did all the research I could before <br> taking it. Cross my heart... it works!</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672291614" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
                            
                            <div class="video-headline">
                                <p>Thank you CuraLin, I so appreciate the supplement. It’s really radically changed my
                                    life.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672291580" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
    
                            <div class="video-headline">
                                <p>It’s completely changed my life. <br> Thank you, CuraLin.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="video-block-item-overlay-col">
                        <div class="video-block-item">
                            <div class="video-player">
                                <lite-vimeo videoid="672317874" videoplay="Mirar"></lite-vimeo>
                            </div>
                            <div class="close-player"></div>
                            
                            <div class="video-headline">
                                <p>I I thought ‘well, let’s give it a try’. And I did. And I was amazed. My doctor was
                                    totally amazed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="survey-button">
                    <button class="btn-cta"  onclick="LinkToProduct(this, '/products/curalin-pack')"><b>Yes,</b> I want to try CuraLin <br>
                        for glucose support</button>
                </div>
            </div>
        </div>
    </section>

    <div class="real-changes">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>Are you ready for real change?</b></h3>
                    <div class="description-overlay">
                        <h4>
                            When keeping your blood sugar healthy is easy, your life is truly on your terms. You are
                            back in
                            control.
                            Just take CuraLin as part of your diet to help support a healthy blood sugar level!
                        </h4>
                    </div>
                </div>
                <div class="real-changes-wrapper">
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-blood-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Blood sugar maintenance</h4>
                                <p>is easy - which makes your life easier. Less constant thinking about what you eat and
                                    when</p>
                            </div>
                        </div>
                    </div>
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-eating-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Eating the foods you love</h4>
                                <p>is possible again. Yes, eat healthy, but CuraLin keeps your body reactive to all your
                                    food choices</p>
                            </div>
                        </div>
                    </div>
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-energy-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Energy goes up</h4>
                                <p>Because your body is efficiently burning glucose as a fuel source, like it’s meant
                                    to </p>
                            </div>
                        </div>
                    </div>
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-food-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Beat unwanted food cravings</h4>
                                <p>so that you’re no longer ‘fighting’ against yourself. After meals, your cravings and
                                    hunger should go away after meals</p>
                            </div>
                        </div>
                    </div>
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-weight-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Weight Loss is easier</h4>
                                <p>to manage because your body is metabolizing food better and is not trying to sabatage
                                    you
                                    anymore</p>
                            </div>
                        </div>
                    </div>
                    <div class="rw-item-col">
                        <div class="rw-item-box">
                            <div class="rw-item-thumbnail">
                                <img src="{{ 'lp-aio-internal-icon.png' | file_url}}" alt="">
                            </div>
                            <div class="rw-item-description">
                                <h4>Supports internal systems</h4>
                                <p>that are responsible for keeping your blood sugar healthy on a cellular level</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-formula">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>10 Years of research</b> <span>identifies</span><br>
                        18 key body functions formula</h3>
                </div>
                <div class="formula-wrapper">
                    <div class="formula-image">
                        <picture>
                            <source srcset="{{ 'lp-aio-humen-body.png' | file_url}}" media="(min-width: 641px)">
                            <source srcset="{{ 'lp-aio-humen-body-mb.png' | file_url}}">
                            <img srcset="{{ 'lp-aio-humen-body-mb.png' | file_url}}" alt="">
                        </picture>
                    </div>
                    <div class="formula-text">
                        <p>A good glucose support supplement is both effective and holistic. Here, CuraLin sets a new
                            standard for innovation.</p>

                        <p>Unlike other formulas, CuraLin targets a holistic set of <strong>18 cellular functions so
                            that
                            your body can NATURALLY</strong> keep your blood sugar healthy.</p>

                        <p>Your body naturally burns glucose to power your life. Many cellular processes work together
                            for
                            this to happen. <strong>These include insulin secretion and sensitivity,</strong> plus
                            functions
                            in your pancreas, liver, spleen, and muscles. CuraLin’s doctor developed formula targets
                            these
                            processes together.</p>

                        <p>The 10 years of innovation and research it took to create this holistic formula are yours to
                            enjoy in every capsule of CuraLin. <strong>Now your body can keep doing what it
                                loves...</strong> Keeping your healthy, happy and active.</p>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="trusted-doctors">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>Trusted by 700+ Doctors</b></h3>
                    <div class="description-overlay">
                        <h4>
                            Over 700 doctors and pharmacists recommend CuraLin to their patients. These include top
                            endocrinologists and faculty members of medical universities. Many of these doctors also
                            take
                            CuraLin themselves! Here are just a few of the doctors working with CuraLin:
                        </h4>
                    </div>
                </div>
                <div class="doctors-boxes-wrapper">

                    <div class="doctor-box-col">
                        <div class="doctor-item-box">
                            <div class="doctor-thumbnail">
                                <span>
                                    <img src="{{ 'lp-aio-michel.png' | file_url}}" alt="">
                                </span>
                            </div>
                            <div class="doctor-informative">
                                <h4>Dr. Michael Binder</h4>
                                <p>Functional doctor, author of Cracking The Diabetic Code.</p>
                            </div>
                        </div>
                    </div>

                    <div class="doctor-box-col">
                        <div class="doctor-item-box">
                            <div class="doctor-thumbnail">
                                <span>
                                <img src="{{ 'lp-aio-nancy.png' | file_url}}" alt="">
                                </span>
                            </div>
                            <div class="doctor-informative">
                                <h4>Dr. Nancy Russell</h4>
                                <p>Internal Medicine Specialist, North Kansas City Hospital</p>
                            </div>
                        </div>
                    </div>

                    <div class="doctor-box-col">
                        <div class="doctor-item-box">
                            <div class="doctor-thumbnail">
                                <span>
                                <img src="{{ 'lp-aio-raz.png' | file_url}}" alt="">
                                </span>
                            </div>
                            <div class="doctor-informative">
                                <h4>Prof. Itamar Raz</h4>
                                <p>World renouned diabetes expert with over 400 published peer-reviewed studies.</p>
                            </div>
                        </div>
                    </div>

                    <div class="doctor-box-col">
                        <div class="doctor-item-box">
                            <div class="doctor-thumbnail">
                                <span>
                                <img src="{{ 'lp-aio-sarah.png' | file_url}}" alt="" width="234" height="234">
                                </span>
                            </div>
                            <div class="doctor-informative">
                                <h4>Dr. Sarah Brewer</h4>
                                <p>Functional doctor, diabetes expert, and author of over 60 books on personal
                                    health.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="testimonials-section">
        <div class="container">
            <div class="data-wrap">
                <div class="testimonials_mainpanel">
                    <div class="testimonials-video_part">
                        <div class="testimonials_iframe">
                            <lite-vimeo videoid="384752311" videoplay="Mirar"></lite-vimeo>
                        </div>
                        <div class="iframe_overlay">
                            <!--<div class="iframe-name">
                                <h3>
                                    Dr. Sarah Brewer
                                </h3>
                            </div>
                            <div class="iframe-description">
                                <p>
                                    Functional doctor, diabetes expert, and author of over 60 books on personal health.
                                </p>
                            </div>-->
                        </div>
                    </div>
                    <div class="close-player"></div>
                    <div class="testimonials-description">
                        <div class="testimonials-headline">
                            <h2>
                                In the cases I've seen, patients typically start to
                                <span>experience results within the first few days</span>
                                when starting CuraLin.
                            </h2>
                        </div>
                        <div class="testimonials-username">
                            <p>
                                Dr. Sarah Brewer
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="natural-ingredients">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>All Natural Ingredients</b></h3>
                    <div class="description-overlay">
                        <h4>
                            Support your body without chemicals or synthetics
                        </h4>
                    </div>
                </div>
                <div class="natural-ingredients_mainpanel">
                    <div class="ingredients_mainpanel-img">
                        <img src="{{ 'lp-aio-capsula.png' | file_url}}" width="676" height="203" alt="">
                        <div class="ingredients_mainpanel-img_notice">
                            *consult your doctor before taking CuraLin
                        </div>
                    </div>
                    <div class="ingredients-mainpanel">
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-doctor1.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Doctor approved</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-medicans2.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Safe to take with medications*</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card no-mb">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-list.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Independent quality checks</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-usa_flag.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Encapsulated in the USA</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-search.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Uses registered facilities</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-vegan.svg' | file_url }}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>Vegan friendly</p>
                            </div>
                        </div>
                        <div class="ingredients-mainpanel_card">
                            <div class="card-icon_overlay">
                                <div class="card-icon">
                                    <img src="{{ 'lp-aio-gmp.png' | file_url}}" height="59" width="58" alt="">
                                </div>
                            </div>
                            <div class="card-description">
                                <p>GMP and ISO9001 Certified facilities</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="floating-cta">
            <button class="btn-cta"  onclick="LinkToProduct(this, '/products/curalin-pack')">Try CuraLin</button>
    </div>

    <div class="why-curaline">
        <div class="container">
            <div class="data-wrap">
                <div class="widget-with-thumbnail">
                    <div class="widget-item-text">
                        <div class="sub-title">
                            <h3><b>Who is CuraLin for?</b></h3>
                            <div class="description-overlay">
                                <h4>
                                    People watching their blood sugar who want to:
                                </h4>
                            </div>
                        </div>

                        <div class="widget-thumbnail-item">
                            <img src="{{ 'lp-aio-cura-rest.gif' | file_url }}" alt="">
                        </div>

                        <div class="informer-list">
                            <ul>
                                <li>Sleep well</li>
                                <li>Enjoy their food</li>
                                <li>Have high energy</li>
                                <li>Support a healthy digestion</li>
                                <li>Maintain healthy glucose metabolism</li>
                                <li>Lose a healthy amount of weight</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="supported-community">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3>Supported by a community of <b>100,000 people</b></h3>
                    <div class="description-overlay">
                        <h4>
                            CuraLin gives you access to the world’s largest blood sugar peer-support community. It will
                            be
                            one of the most valuable resources to help you along your health journey.
                        </h4>
                    </div>
                </div>
                <div class="community-wall">
                    <picture>
                        <source srcset="{{ 'lp-aio-image-community.png' | file_url}}" media="(min-width: 641px)">
                        <source srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}">
                        <img srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}" alt="Community">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="satisfaction-survey">
        <div class="satisfaction-survey-bg">
            <div class="container">
                <div class="data-wrap">
                    <div class="sub-title">
                        <h3><b>Satisfaction Survey</b> of CuraLin Customers</h3>
                    </div>
                    <div class="success-list">
                        <ul>
                            <li>
                                <div class="percentage"><p><span data-count="88.5">0</span>%</p></div>
                                <div class="title">
                                    <h4>Are satisfied with CuraLin</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage"><p><span data-count="98.1">0</span>%</p></div>
                                <div class="title">
                                    <h4>Feel safe using CuraLin</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage"><p><span data-count="84">0</span>%</p></div>
                                <div class="title">
                                    <h4>Saw a big impact in their lives</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage"><p><span data-count="89">0</span>%</p></div>
                                <div class="title">
                                    <h4>Would recommend CuraLin to a friend</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="data-wrap">
                <div class="survey-button">
                    <button class="btn-cta"  onclick="LinkToProduct(this, '/products/curalin-pack')"><b>Yes,</b> I want to try CuraLin <br>
                        for glucose support</button>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-list">
        <div class="container">
            <div class="data-wrap">
                <div class="title-wrap">
                    <div class="sub-title">
                        <h3>Have Questions?<br>
                            We Want You to Ask!</h3>
                        <h4>Our team of nutrition experts and
                            scientists has answers</h4>
                    </div>
                    <div class="title-img">
                        <img src="{{ 'lp-aio-faq-title.png' | file_url}}" alt="" width="312" height="280">
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="question">
                            <h4>Can I take CuraLin alongside my drugs?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin is a natural dietary supplement, meaning that it’s meant as a compliment to your
                                existing regime. You simply take it as part of your diet to help maintain a healthy
                                blood
                                sugar level. Thousands of CuraLin users take CuraLin alongside their prescribed drugs
                                and
                                treatments and no serious negative interactions have been recorded. Of course, please
                                consult with your doctor before starting on CuraLin, whether you’re on drugs or not.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>What are the clinical results of CuraLin?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin’s real-world results show a very high level of safety and efficacy in supporting
                                a
                                healthy fasting and A1c level, improving daily energy, and helping with weight loss. A
                                clinical case study on CuraLin’s effectiveness were published in a peer-reviewed medical
                                journal, and CuraLin is currently involved in a number of double blind placebo
                                controlled
                                studies.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is CuraLin recommended by doctors?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes! Hundreds of doctors recommend CuraLin, and the number is rapidly growing. These
                                include
                                high profile doctors, endocrinologists, and diabetes researchers. Doctors are seeing an
                                average success rate of about 90% with their patients, and many of these doctors also
                                take
                                CuraLin themselves for blood sugar support.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is CuraLin safe?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes! CuraLin has been noted by researchers for its ‘highly favorable safety profile’.<br>
                                The production is done in GMP and ISO9001 certified, and registered facilities.<br>
                                Every batch of CuraLin undergoes at least 10 safety tests during the production process.
                                All
                                tests are conducted by fully certified independent labs for total transparency. No
                                severe
                                negative effects have been reported while taking CuraLin, and it is safe to use
                                alongside
                                prescribed medication (consult your doctor first, of course).</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Is the capsule natural?</h4>
                        </div>
                        <div class="answer">
                            <p>Yes, CuraLin comes in an easy to swallow rice-based capsule. It is 100% natural and vegan
                                friendly.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Where can I read more about the science?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin has 9 natural ingredients, each with its own actions that support healthy blood
                                sugar. Together, they support 18 key body functions. CuraLin’s product page goes into
                                depth
                                on the science behind each ingredient and lists out a lot of the scientific studies.
                                Check
                                it out here.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Which benefits will I get by using CuraLin?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLin has many benefits including helping to promote:<br>
                                · Healthy and stable blood sugar levels<br>
                                · High daily energy levels<br>
                                · Healthy weight loss<br>
                                · Healthy pancreas and beta cell function<br>
                                · Reduced cravings for sugars & other carbs<br>
                                · Healthy absorption rates of carbohydrates<br>
                                · Healthy live and kidney function<br>
                                CuraLin users also rave about how they have more motivation and positivity in life after
                                seeing that they can succeed.<br>
                                We guarantee that you will love CuraLin. If for whatever reason you’re not 100%
                                satisfied
                                within 60 days, just write to our support for your money back.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>I started to see results within 2 days. Is that too fast?</h4>
                        </div>
                        <div class="answer">
                            <p>Not at all! And we’re happy to hear that you’re seeing results so fast. We recommend
                                taking
                                CuraLin for 2-3 weeks before seeing results only to set expectations. But it’s
                                completely
                                normal to see results in as little as 2-3 days.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>What’s the story behind CuraLin?</h4>
                        </div>
                        <div class="answer">
                            <p>CuraLife was founded by Ron when his father needed help with glucose support. None of the
                                products he tried and none of the lifestyle changes he made where helping. So Ron, flew
                                around the world looking for something that would help. Ron was introduced to a family
                                of
                                Ayurvedic doctors on an educational trip to India. They developed a glucose support
                                formula
                                together, and after years of research and testing, CuraLin was born. Today, CuraLin is
                                used
                                by over 100,000 customers around the world.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>I’m a doctor and want to recommend CuraLin to my patients. Do you have a professional
                                program?</h4>
                        </div>
                        <div class="answer">
                            <p>We do! Please click on this link to register for our Professionals program.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Will my doctor approve of this?</h4>
                        </div>
                        <div class="answer">
                            <p>Over 700 doctors, endocrinologists, and medical practitioners are already recommending
                                CuraLin to their patients. While we cannot speak for (and you should consult) your
                                doctor,
                                we can say that doctors everywhere have been thrilled by the results their patients are
                                seeing with CuraLin.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            <h4>Can you tell me more about the 100,000 member support community?</h4>
                        </div>
                        <div class="answer">
                            <p>Peer-support is one of the most important things you can get to help you maintain healthy
                                blood sugar levels. Having a community that’s there to answer your questions, share a
                                recipe, or give you a shoulder to lean is super valuable. This is the world’s largest
                                online
                                blood sugar support community, and it’s there for you day and night. Once you place your
                                CuraLin order, we’ll send you an invite so you can join.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .hero-section .data-wrap:before {
        background-color: #C78263 !important;
    }

    .hero-section .brand-slogan h1 {
        color: white !important;
    }

    .hero-section .brand-welcome-text * {
        color: white !important;
    }

    .real-changes .sub-title {
        border-top: unset !important;
    }

    .featured-section {
        border-bottom: 1px solid #DCD9D9;
    }

    @media screen and (max-width: 640px) {
        .life-changes .survey-button {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
</style>

