{% layout 'theme.aio-first-page' %}

<div class="page-overflow">

  <div class="hero-section">
    <div class="container">
      <div class="data-wrap">
        <div class="brand-logo">
          <a href="javascript:void(0)">
            <img src="{{ 'logo-black.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="brand-slogan">
          <h1>Soporte de azúcar en sangre natural y eficaz.</h1>
        </div>
        <div class="brand-welcome-text">
          <h2 class="v3">Para que puedas 
            <span class="title-text">comer bien</span>
            <span class="title-text" style="display: none;">dormir bien</span>
            <span class="title-text" style="display: none;">sentirte bien</span>
            <span class="title-text" style="display: none;">permanecer romántica</span>
            <span class="title-text" style="display: none;">mantenerse sana</span>
          </h2>
        </div>
        <div class="brand-intro-cover">
          <span class="brand-intro-cover-img">
            <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-1.png' | file_url}}" alt="">
            <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-2.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-3.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-4.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-5.png' | file_url}}" alt="" style="display: none;">
          </span>
          <span class="brand-intro-cover-img-mobile">
            <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-1-mobile.png' | file_url}}" alt="">
            <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-2-mobile.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-3-mobile.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-4-mobile.png' | file_url}}" alt="" style="display: none;">
            <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-5-mobile.png' | file_url}}" alt="" style="display: none;">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-section">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h4>Como aparece en:</h4>
        </div>
        <div class="partners-wrapper">
          <div id="ticker-wrap" class="ticker-wrap swiper">
            <div class="ticker-col swiper-wrapper">
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-cnn-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-cnn-logo-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-bbc-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-bbc-logo-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-fox-news-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-fox-news-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-fox-news-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-msn-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-msn-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-msn-logo-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-usa-today.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-usa-today-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-usa-today-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-yahoo-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-yahoo-logo-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <a href="javascript:void(0)">
                    <picture>
                      <source srcset="{{ 'lp-aio-sante-logo.png' | file_url}}" media="(min-width: 641px)">
                      <source srcset="{{ 'lp-aio-sante-logo-mb.png' | file_url}}">
                      <img src="{{ 'lp-aio-sante-logo-mb.png' | file_url}}" alt="">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="meet-curalin" id="meet-curalin">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>Conoce a CuraLin.</b>
            Soporte de azúcar en la sangre hecho para ti...</h3>
        </div>

        <div class="curalin-intro">
          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-client-tested-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Clínicamente probado</h4>
              <p>con resultados publicados en una revista revisada por pares</p>
            </div>
          </div>
          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-capsules-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Cápsulas fáciles de tomar</h4>
              <p>tomar 1-2 después de cada comida</p>
            </div>
          </div>

          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-formula-doctors.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Formulado por médicos</h4>
              <p>específicamente para el soporte de glucosa</p>
            </div>
          </div>
          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-quick-results-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Ver resultados rápidamente</h4>
              <p>en promedio en 2-3 semanas</p>
            </div>
          </div>

          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-research-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>10 años de investigación</h4>
              <p>apoyar la fórmula de CuraLin</p>
            </div>
          </div>
          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-recommend-doctors-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Más de 700 médicos recomiendan</h4>
              <p>CuraLin a sus pacientes</p>
            </div>
          </div>

          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-supports-icon.svg' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Apoya 18 funciones celulares</h4>
              <p>que promueven un nivel saludable de azúcar en la sangre</p>
            </div>
          </div>
          <div class="curaline-widget-item">
            <div class="curaline-widget-icon">
              <img src="{{ 'lp-aio-eu-icon.png' | file_url }}" alt="">
            </div>
            <div class="curaline-widget-text">
              <h4>Encapsulado en los EE. UU.</h4>
              <p>Utiliza instalaciones reguladas</p>
            </div>
          </div>

          <div class="curaline-brandmark">
            <img src="{{ 'lp-aio-brand-mark.png' | file_url}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="life-changes">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-titles">
          <h3>Cómo CuraLin cambió nuestra vida</h3>
        </div>
        <div class="video-wrapper">
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672324461" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
  
              <div class="video-headline">
                <p>Funcionó, y funcionó para otras personas a las que se lo recomendé.</p>
              </div>
            </div>
          </div>
  
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672291517" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
              
              <div class="video-headline">
                <p>CuraLin realmente me ha ayudado.<br>
                Es una herramienta maravillosa en mi caja de herramientas.</p>
              </div>
            </div>
          </div>
  
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672324380" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
  
              <div class="video-headline">
                <p>Hice toda la investigación que pude antes<br>
                de tomarlo. ¡Cruza mi corazón... funciona!</p>
              </div>
            </div>
          </div>
  
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672291614" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
              
              <div class="video-headline">
                <p>Gracias CuraLin, aprecio mucho el suplemento. Ha cambiado radicalmente mi vida.</p>
              </div>
            </div>
          </div>
  
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672291580" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
  
              <div class="video-headline">
                <p>Ha cambiado mi vida por completo.<br>
                Gracias, Cura Lin.</p>
              </div>
            </div>
          </div>
  
          <div class="video-block-item-overlay-col">
            <div class="video-block-item">
              <div class="video-player">
                <lite-vimeo videoid="672317874" videoplay="Mirar"></lite-vimeo>
              </div>
              <div class="close-player"></div>
              
              <div class="video-headline">
                <p>Pensé 'bueno, intentémoslo'. Y lo hice. Y me quedé asombrado. Mi médico estaba totalmente asombrado.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="survey-button">
          <button  class="btn-cta"  onclick="LinkToProduct(this, '/products/curalin-pack-es')">Sí, quiero probar CuraLin
          para el soporte de glucosa</button>
        </div>
      </div>
    </div>
  </section>

  <div class="body-formula">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>10 años de investigación identifican</b><br>
            la fórmula de 18 funciones corporales clave</h3>
        </div>
        <div class="formula-wrapper">
          <div class="formula-image">
            <picture>
              <source srcset="{{ 'lp-aio-humen-body-es.png' | file_url}}" media="(min-width: 641px)">
              <source srcset="{{ 'lp-aio-humen-body-es.png' | file_url}}">
              <img srcset="{{ 'lp-aio-humen-body-es.png' | file_url}}" alt="">
            </picture>
          </div>
          <div class="formula-text">
            <p>Un buen suplemento de soporte de glucosa es efectivo y holístico. Aquí, CuraLin establece un nuevo nivel de innovación.</p>

            <p>A diferencia de otras fórmulas, CuraLin se enfoca en un conjunto holístico de <strong>18 funciones celulares para que su cuerpo pueda NATURALMENTE</strong> mantener saludable su nivel de azúcar en la sangre.</p>

            <p>Su cuerpo quema glucosa naturalmente para impulsar su vida. Muchos procesos celulares trabajan juntos para que esto suceda. <strong>Estos incluyen la secreción y sensibilidad a la insulina,</strong> además de funciones en el páncreas, el hígado, el bazo y los músculos. La fórmula desarrollada por el médico de CuraLin se enfoca en estos procesos juntos.</p>

            <p>Los 10 años de innovación e investigación que se necesitaron para crear esta fórmula holística son suyos para disfrutar en cada cápsula de CuraLin. <strong>hora tu cuerpo puede seguir haciendo lo que ama...</strong> Manteniéndote saludable, feliz y activo.</p>


          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="real-changes">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>¿Estás listo para un cambio real?</b></h3>
          <div class="description-overlay">
            <h4>Cuando mantener un nivel de azúcar en la sangre saludable es fácil, su vida realmente depende de sus términos. Vuelves a tener el control. ¡Simplemente tome CuraLin como parte de su dieta para ayudar a mantener un nivel saludable de azúcar en la sangre!</h4>
          </div>
        </div>
        <div class="real-changes-wrapper">
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-blood.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>Mantenimiento del azúcar en la sangre</h4>
                <p>es fácil, lo que hace tu vida más fácil. Pensar menos constantemente en lo que comes y cuándo.</p>
              </div>
            </div>
          </div>
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-eating.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>Comiendo los alimentos que amas</h4>
                <p>es posible de nuevo. Sí, come sano, pero CuraLin mantiene tu cuerpo reactivo a todas tus elecciones de alimentos.</p>
              </div>
            </div>
          </div>
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-energy.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>la energia sube</h4>
                <p>Debido a que su cuerpo está quemando glucosa de manera eficiente como fuente de combustible, como debe ser</p>
              </div>
            </div>
          </div>
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-cravings.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>Vence los antojos de alimentos no deseados</h4>
                <p>para que ya no estés "luchando" contra ti mismo. Después de las comidas, los antojos y el hambre deberían desaparecer después de las comidas.</p>
              </div>
            </div>
          </div>
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-weight.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>Adelgazar es más fácil</h4>
                <p>manejar porque tu cuerpo está metabolizando mejor los alimentos y ya no está tratando de sabotearte</p>
              </div>
            </div>
          </div>
          <div class="rw-item-col">
            <div class="rw-item-box">
              <div class="rw-item-thumbnail">
                <img src="{{ 'lp-aio-v3-benefits-internal.png' | file_url}}" alt="">
              </div>
              <div class="rw-item-description">
                <h4>Admite sistemas internos</h4>
                <p>que son responsables de mantener saludable el nivel de azúcar en la sangre a nivel celular</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="trusted-doctors">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>Con la confianza de más de 700 médicos</b></h3>
          <div class="description-overlay">
            <h4>
              Más de 700 médicos y farmacéuticos recomiendan CuraLin a sus pacientes. Estos incluyen los mejores endocrinólogos y miembros de la facultad de las universidades médicas. ¡Muchos de estos médicos también toman CuraLin ellos mismos! Estos son solo algunos de los médicos que trabajan con CuraLin:
            </h4>
          </div>
        </div>
        <div class="doctors-boxes-wrapper">

          <div class="doctor-box-col">
            <div class="doctor-item-box">
              <div class="doctor-thumbnail">
                <span>
                  <img src="{{ 'lp-aio-michel.png' | file_url}}" alt="">
                </span>
              </div>
              <div class="doctor-informative">
                <h4>Dr. Michael Binder</h4>
                <p>Médico funcional, autor de Cracking The Diabetic Code.</p>
              </div>
            </div>
          </div>

          <div class="doctor-box-col">
            <div class="doctor-item-box">
              <div class="doctor-thumbnail">
                <span>
                <img src="{{ 'lp-aio-nancy.png' | file_url}}" alt="">
                </span>
              </div>
              <div class="doctor-informative">
                <h4>Dr. Nancy Russell</h4>
                <p>Especialista en Medicina Interna, North Kansas City Hospital</p>
              </div>
            </div>
          </div>

          <div class="doctor-box-col">
            <div class="doctor-item-box">
              <div class="doctor-thumbnail">
                <span>
                <img src="{{ 'lp-aio-raz.png' | file_url}}" alt="">
                </span>
              </div>
              <div class="doctor-informative">
                <h4>Prof. Itamar Raz</h4>
                <p>Experto en diabetes de renombre mundial con más de 400 estudios revisados ​​por pares publicados.</p>
              </div>
            </div>
          </div>

          <div class="doctor-box-col">
            <div class="doctor-item-box">
              <div class="doctor-thumbnail">
                <span>
                <img src="{{ 'lp-aio-sarah.png' | file_url}}" alt="" width="234" height="234">
                </span>
              </div>
              <div class="doctor-informative">
                <h4>Dr. Sarah Brewer</h4>
                <p>Médico funcional, experto en diabetes y autor de más de 60 libros sobre salud personal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials-section">
    <div class="container">
      <div class="data-wrap">
        <div class="testimonials_mainpanel">
          <div class="testimonials-video_part">
            <div class="testimonials_iframe">
              <lite-vimeo videoid="384752311" videoplay="Mirar"></lite-vimeo>
            </div>
          </div>
          <div class="close-player"></div>
          <div class="testimonials-description">
            <div class="testimonials-headline">
              <h2>
                En los casos que he visto, los pacientes generalmente comienzan a experimentar resultados dentro de los primeros días al comenzar CuraLin.
              </h2>
            </div>
            <div class="testimonials-username">
              <p>
                Dr. Sarah Brewer
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="natural-ingredients">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>Todos los ingredientes naturales
          </b></h3>
          <div class="description-overlay">
            <h4>
Apoya a tu cuerpo sin productos químicos o sintéticos.
            </h4>
          </div>
        </div>
        <div class="natural-ingredients_mainpanel">
          <div class="ingredients_mainpanel-img">
            <img src="{{ 'lp-aio-capsula.png' | file_url}}" width="676" height="203" alt="">
            <div class="ingredients_mainpanel-img_notice">
              *Consulte a su médico antes de tomar CuraLin
            </div>
          </div>
          <div class="ingredients-mainpanel">
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-doctor1.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Doctor aprobado</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-medicans2.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Seguro para tomar con medicamentos*</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card no-mb">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-list.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Controles de calidad independientes</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-eu_flag.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Encapsulado en los EE. UU.</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-search.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Utiliza instalaciones registradas</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-vegan.svg' | file_url }}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Apto para veganos</p>
              </div>
            </div>
            <div class="ingredients-mainpanel_card">
              <div class="card-icon_overlay">
                <div class="card-icon">
                  <img src="{{ 'lp-aio-gmp.png' | file_url}}" height="59" width="58" alt="">
                </div>
              </div>
              <div class="card-description">
                <p>Instalaciones certificadas GMP e ISO9001</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="floating-cta">
      <button  class="btn-cta"  onclick="LinkToProduct(this, '/products/curalin-pack-es')">Prueba CuraLin</button>
  </div>

  <div class="why-curaline">
    <div class="container">
      <div class="data-wrap">
        <div class="widget-with-thumbnail">
          <div class="widget-item-text">
            <div class="sub-title">
              <h3><b>¿Para quién es CuraLin?</b></h3>
              <div class="description-overlay">
                <h4>
Personas que controlan su nivel de azúcar en la sangre y desean:
                </h4>
              </div>
            </div>

            <div class="widget-thumbnail-item">
              <img src="{{ 'lp-aio-cura-rest.png' | file_url }}" alt="">
            </div>

            <div class="informer-list">
              <ul>
                <li>Dormir bien</li>
                <li>disfruta de su comida</li>
                <li>tener mucha energia</li>
                <li>Apoyar una digestión saludable</li>
                <li>Mantener un metabolismo saludable de la glucosa.</li>
                <li>Perder una cantidad saludable de peso</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="supported-community">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3>Apoyado por una comunidad de <b>100,000 personas</b></h3>
          <div class="description-overlay">
            <h4>
CuraLin le brinda acceso a la comunidad de apoyo entre pares de azúcar en la sangre más grande del mundo. Será uno de los recursos más valiosos para ayudarte a lo largo de su camino hacia la salud.
            </h4>
          </div>
        </div>
        <div class="community-wall">
          <picture>
            <source srcset="{{ 'lp-aio-image-community.png' | file_url}}" media="(min-width: 641px)">
            <source srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}">
            <img srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}" alt="Community">
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="satisfaction-survey">
    <div class="satisfaction-survey-bg">
      <div class="container">
        <div class="data-wrap">
          <div class="sub-title">
            <h3><b>Encuesta de satisfacción</b> de los clientes de CuraLin</h3>
          </div>
          <div class="success-list">
            <ul>
              <li>
                <div class="percentage"><p><span data-count="88.5">0</span>%</p></div>
                <div class="title">
                  <h4>Están satisfechos con CuraLin</h4>
                </div>
                <div class="line">
                  <span></span>
                </div>
              </li>
              <li>
                <div class="percentage"><p><span data-count="98.1">0</span>%</p></div>
                <div class="title">
                  <h4>Se sienten seguros usando CuraLin</h4>
                </div>
                <div class="line">
                  <span></span>
                </div>
              </li>
              <li>
                <div class="percentage"><p><span data-count="84">0</span>%</p></div>
                <div class="title">
                  <h4>Vieron un gran impacto en sus vidas.</h4>
                </div>
                <div class="line">
                  <span></span>
                </div>
              </li>
              <li>
                <div class="percentage"><p><span data-count="89">0</span>%</p></div>
                <div class="title">
                  <h4>Recomendaría CuraLin a un amigo</h4>
                </div>
                <div class="line">
                  <span></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="data-wrap">
        <div class="survey-button">
          <button  class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack-es')">Sí, quiero probar CuraLin
          para el soporte de glucosa</button>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-list">
    <div class="container">
      <div class="data-wrap">
        <div class="title-wrap">
          <div class="sub-title">
            <h3>¿Tiene preguntas?<br>
              ¡Queremos que preguntes!</h3>
            <h4>Nuestro equipo de expertos en nutrición y científicos tiene respuestas</h4>
          </div>
          <div class="title-img">
            <img src="{{ 'lp-aio-v3-faq-img.png' | file_url}}" alt="" width="312" height="280">
          </div>
        </div>
        <ul>
          <li>
            <div class="question">
              <h4>¿Puedo tomar CuraLin junto con mis medicamentos?</h4>
            </div>
            <div class="answer">
              <p>CuraLin es un suplemento dietético natural, lo que significa que debe complementar su régimen actual. Simplemente tómelo como parte de su dieta para ayudar a mantener un nivel saludable de azúcar en la sangre. Miles de usuarios de CuraLin toman CuraLin junto con sus medicamentos y tratamientos recetados y no se han registrado interacciones negativas graves. Por supuesto, consulte con su médico antes de comenzar a tomar CuraLin, ya sea que esté tomando medicamentos o no.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Cuáles son los resultados clínicos de CuraLin?</h4>
            </div>
            <div class="answer">
              <p>Los resultados del mundo real de CuraLin muestran un nivel muy alto de seguridad y eficacia para apoyar un ayuno saludable y un nivel de A1c, mejorar la energía diaria y ayudar con la pérdida de peso. Se publicó un estudio de caso clínico sobre la eficacia de CuraLin en una revista médica revisada por pares, y CuraLin participa actualmente en una serie de estudios doble ciego controlados con placebo.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Los médicos recomiendan CuraLin?</h4>
            </div>
            <div class="answer">
              <p>¡Sí! Cientos de médicos recomiendan CuraLin y el número crece rápidamente. Estos incluyen médicos de alto perfil, endocrinólogos e investigadores de diabetes. Los médicos están viendo una tasa de éxito promedio de alrededor del 90 % con sus pacientes, y muchos de estos médicos también toman CuraLin para apoyar el azúcar en la sangre.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Es seguro CuraLin?</h4>
            </div>
            <div class="answer">
              <p>¡Sí! CuraLin ha sido destacado por los investigadores por su "perfil de seguridad altamente favorable".
              La producción se realiza en instalaciones registradas y certificadas por GMP e ISO9001.
              Cada lote de CuraLin se somete al menos a 10 pruebas de seguridad durante el proceso de producción. Todas las pruebas son realizadas por laboratorios independientes totalmente certificados para una transparencia total. No se han informado efectos negativos graves al tomar CuraLin, y es seguro usarlo junto con los medicamentos recetados (consulte primero a su médico, por supuesto).</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿La cápsula es natural?</h4>
            </div>
            <div class="answer">
              <p>Sí, CuraLin viene en una cápsula a base de arroz fácil de tragar. Es 100% natural y apto para veganos.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Dónde puedo leer más sobre la ciencia?</h4>
            </div>
            <div class="answer">
              <p>CuraLin tiene 9 ingredientes naturales, cada uno con sus propias acciones que respaldan un nivel saludable de azúcar en la sangre. Juntos, apoyan 18 funciones corporales clave. La página de productos de CuraLin profundiza en la ciencia detrás de cada ingrediente y enumera muchos de los estudios científicos. Compruébalo aquí.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Qué beneficios obtendré al usar CuraLin?</h4>
            </div>
            <div class="answer">
              <p>CuraLin tiene muchos beneficios que incluyen ayudar a promover:<br>
              · Niveles saludables y estables de azúcar en la sangre<br>
              · Altos niveles de energía diarios<br>
              · Pérdida de peso saludable<br>
              · Páncreas saludable y función de las células beta<br>
              · Reducción de los antojos de azúcares y otros carbohidratos<br>
              · Tasas saludables de absorción de carbohidratos<br>
              · Vida saludable y función renal<br>
              Los usuarios de CuraLin también comentan cómo tienen más motivación y positivismo en la vida después de ver que pueden tener éxito.
              Le garantizamos que le encantará CuraLin. Si por alguna razón no está 100% satisfecho dentro de los 60 días, simplemente escriba a nuestro soporte para que le devolvamos su dinero.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>Empecé a ver resultados en 2 días. ¿Es demasiado rápido?</h4>
            </div>
            <div class="answer">
              <p>¡De nada! Y nos alegra saber que estás viendo resultados tan rápido. Recomendamos tomar CuraLin durante 2-3 semanas antes de ver los resultados solo para establecer expectativas. Pero es completamente normal ver resultados en tan solo 2 o 3 días.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Cuál es la historia detrás de CuraLin?</h4>
            </div>
            <div class="answer">
              <p>CuraLife fue fundado por Ron cuando su padre necesitaba ayuda con el soporte de glucosa. Ninguno de los productos que probó y ninguno de los cambios en el estilo de vida que hizo le ayudaron. Así que Ron, voló alrededor del mundo buscando algo que pudiera ayudar. Ron conoció a una familia de médicos ayurvédicos en un viaje educativo a la India. Juntos desarrollaron una fórmula de soporte de glucosa, y después de años de investigación y pruebas, nació CuraLin. Actualmente, CuraLin es utilizado por más de 100 000 clientes en todo el mundo.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>Soy médico y quiero recomendar CuraLin a mis pacientes. ¿Tienes un programa profesional?</h4>
            </div>
            <div class="answer">
              <p>¡Sí lo tenemos! Haga clic en este enlace para registrarse en nuestro programa de profesionales.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Mi médico aprobará esto?</h4>
            </div>
            <div class="answer">
              <p>Más de 700 médicos, endocrinólogos y médicos ya recomiendan CuraLin a sus pacientes. Si bien no podemos hablar por (y usted debe consultar) a su médico, podemos decir que los médicos de todo el mundo están encantados con los resultados que sus pacientes están viendo con CuraLin.</p>
            </div>
          </li>
          <li>
            <div class="question">
              <h4>¿Puedes decirme más sobre la comunidad de soporte de 100,000 miembros?</h4>
            </div>
            <div class="answer">
              <p>El apoyo de los compañeros es una de las cosas más importantes que puede obtener para ayudarlo a mantener niveles saludables de azúcar en la sangre. Tener una comunidad que esté ahí para responder a sus preguntas, compartir una receta o apoyarlo es muy valioso. Esta es la comunidad de soporte de azúcar en sangre en línea más grande del mundo, y está ahí para usted día y noche. Una vez que realice su pedido de CuraLin, le enviaremos una invitación para que pueda unirse.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  let urlParams = new URLSearchParams(window.location.search);
  let linksAddition = urlParams.get('add');

  if (linksAddition) {
  $('a').each(function() {
    var currLink = $(this).attr('href');
    if (currLink) { $(this).attr('href', currLink + linksAddition) };
  });
  }
</script>

<script>
  // Fade Quotes
  var quotes = $(".title-text");
  var quoteIndex = -1;

  function showNextQuote() {
  ++quoteIndex;
  quotes.eq(quoteIndex % quotes.length)
    .fadeIn(900)
    .delay(1500)
    .fadeOut(900, showNextQuote);
  }

  showNextQuote();

  $next = 1;			
  $current = 0;
  $nextM = 1;			
  $currentM = 0;		
  $interval = 1500;
  $fadeTime = 1800;
  $imgNum = 5;	
 
  $(document).ready(function(){
    $('.brand-intro-cover-img img').css({'position':'absolute'});
    $('.brand-intro-cover-img-mobile img').css({'position':'absolute'});
    nextFadeIn();
    nextFadeInM();
  });
 
  function nextFadeIn(){
    $('.brand-intro-cover-img img').eq($current).delay($interval).fadeOut($fadeTime)
    .end().eq($next).delay($interval).hide().fadeIn($fadeTime, nextFadeIn);
      
    if($next < $imgNum-1){ $next++; } else { $next = 0;}
    if($current < $imgNum-1){ $current++; } else { $current =0; }
  };

  function nextFadeInM(){
    $('.brand-intro-cover-img-mobile img').eq($currentM).delay($interval).fadeOut($fadeTime)
    .end().eq($nextM).delay($interval).hide().fadeIn($fadeTime, nextFadeInM);
      
    if($nextM < $imgNum-1){ $nextM++; } else { $nextM = 0;}
    if($currentM < $imgNum-1){ $currentM++; } else { $currentM =0; }
  };
</script>

<style>
  .brand-intro-cover-img-mobile {
    display: none !important;
  }

  .hero-section .brand-welcome-text {
    padding: 10rem 0 3.5rem;
  }

  .btn-cta {
    border: none;
    background: #FDD246;
    color: black;
    font-weight: 400;
  }

  .btn-cta:hover {
    background: #e6bb2c;
    color: black;
  }

  .satisfaction-survey .success-list ul li .line span {
    background: linear-gradient(90.05deg, #DCEFEB 0%, #1F8B8D 100%);
  }

  .rw-item-box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .rw-item-description {
    width: unset;
    max-width: 350px;
  }

  .rw-item-description h4 {
    margin: 5px;
  }

  .life-changes h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .hero-section .data-wrap:before {
    background-color: #E8E8E8 !important;
  }

  .hero-section .brand-welcome-text * {
    color: white !important;
    line-height: 1;
    font-size: 80px;
  }

  .hero-section .brand-slogan * {
    color: black;
  }

  .hero-section .brand-welcome-text h2 {
    background: #62C1C5;
    padding: 0 30px;
    width: max-content;
    margin: inherit;
  }

  .real-changes .sub-title {
    border-top: unset !important;
  }

  .featured-section {
    border-bottom: 1px solid #DCD9D9;
  }

  @media screen and (max-width: 760px) {
    .brand-intro-cover-img-mobile {
      display: block !important;
      position: absolute !important;
      top: 190px !important;
      height: 80vw;
      width: 110vw !important;
      left: -8vw;
    }

    .hero-section .brand-welcome-text * {
      font-size: 6vw;
      color: #62C1C5 !important;
      background: unset !important;
      padding: 0 !important; 
    }

    .hero-section .brand-welcome-text {
      margin: 0;
      padding-top: 10px;
      margin-left: 6vw;
    }

    .brand-logo {
      margin: auto;
      margin-top: 10px;
    }

    .life-changes h3 {
      font-size: 1.5rem;
    }

    .brand-intro-cover-img {
      display: none !important;
    }

    .hero-section {
      min-height: 130vw;
      overflow: visible;
    }

    .hero-section .data-wrap:before {
      min-height: 130vw;
    }

    .floating-cta .btn-cta {
      max-width: calc(100vw - 40px);
    }

    .life-changes .survey-button {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
</style>


