<style>
  body {
    padding-top: 0 !important;
  }
</style>
  {% render 'summer-sale-header-twenty' %}
<div class="product-template-all-in-one">
 

  <a id="back-to-top-btn">Try CuraLin</a>
  <section class="cta-section">
    <div class="container product-container">
      <div class="product-thumbnails">
        <div class="product-slider">
          <div class="sliders-group">
            <div class="main-slider">
              <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" alt="">
              <div id="product-main-slider-sc" class="swiper">
                <div class="swiper-wrapper">
                  {% for i in (1..5) %}
                  <div class="swiper-slide">

                    <div class="product-img-aio">
                      <div class="img-wrap">
                        {% assign imgUrl = "product-aio-product-thumbnail-" | append: i | append: ".png" %}
                        <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="swiper-slide">
                    <div class="product-video">
                      <iframe id="product-video-iframe" src="https://player.vimeo.com/video/365492409?playsinline=0"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
                        loading="lazy"></iframe>
                    </div>
                  </div>
                  <script>console.log("Shopify Country: {{localization.country.iso_code}}")</script>
                  
                  <!-- {% if localization.country.iso_code == 'GB' %}
                    {% assign saves = "$45 AUD,$65 AUD,$85 AUD" | split: ','%}
                  {% elsif localization.country.iso_code == 'CA' %}
                    {% assign saves = "$45 CAD,$65 CAD,$85 CAD" | split: ','%}
                  {% else %}
                    {% assign saves = "$45,$65,$85" | split: ','%}
                  {% endif %} -->
                  {% for image in product.images %}
                  <div class="swiper-slide">
                    <div class="product-img-aio">
                      <div class="img-wrap">
                        <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                    <!-- <div class="save-money">
                      <div class="save-border">
                        {% assign index = forloop.index | minus: 1 %}
                        <div class="money">SAVE {{ saves[index] }}</div>
                      </div>
                    </div> -->
                  </div>
                  {% endfor %}

                  <style>
                    .free-shipping {
                      position: absolute;
                      right: 200px;
                      top: 0;
                      width: 118px !important;
                      height: unset !important;
                    }

                    @media screen and (max-width: 760px) {
                      .free-shipping {
                        right: 40px;
                        width: 100px !important;
                      }
                    }
                  </style>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
              <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
            </div>

            <div class="thumbs-slider">
              <div id="product-thumbs-slider-sc" class="swiper">
                <div class="swiper-wrapper">
                  {% for i in (1..5) %}
                  <div class="swiper-slide">
                    <div class="thumbs-img">
                      <div class="img-wrap">
                        {% assign imgUrl = "product-aio-product-thumbnail-" | append: i | append: ".png" %}
                        <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="swiper-slide">
                    <div class="thumbs-img video-thumbnail">
                      <div class="img-wrap">
                        <img src="{{ " product-aio-product-video-thumbnail.png" | asset_url }}" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  {% for image in product.images %}
                  <div class="swiper-slide">
                    <div class="thumbs-img">
                      <div class="img-wrap">
                        <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
              <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info">
        <div class="sub-title">
          {% if product.metafields.my_fields.alternative_title.value %}
          <h1>{{ product.metafields.my_fields.alternative_title.value }}</h1>
          {% else %}
          <h1>{{ product.title }}</h1>
          {% endif %}
        </div>
        <div class="rating-stars">
          <img class="rating-stars-img" src="{{ 'product-aio-rating-stars.png' | asset_url }}" alt="">
          <span class="reviews-quantity">3000+ Reviews</span>
        </div>
        <div class="quotes">
          <p class="quote">“It’s completely changed my life” - Paul M.</p>
          <p class="quote">“I’m healthier now than I’ve been in years” - D’Gay F.</p>
          <p class="quote">“Here’s my proof - my MD is thrilled. I’m a believer!” - Ilyssa E.</p>
        </div>
      </div>
      <div class="product-actions">
        <div class="form-wrap">
          <div id="CTAForm">
            <p class="cta-title">Select Your Pack</p>
            <div class="input-field product-option-select">
              {% for var in product.variants %}
              <div class="variant-box">
                <div class="radio-box">
                  {% if var.compare_at_price > var.price %} {% assign discount_amount = var.compare_at_price | minus:
                  var.price %} {% else %} {% assign discount_amount = 0 %} {% endif %}
                  <input type="radio" name="pack" value="{{ var.id }}" price="{{ var.price | money_without_currency }}"
                    discount="{{ discount_amount | money_without_currency }}" title="{{ var.title }}"
                    sku="{{ var.sku }}" save="{{var.metafields.my_fields.discount_percents}}"
                    index="{{ product.variants.size | minus: forloop.index  | plus: 1 }}"></input>
                </div>
                <div class="variant-info">
                  <p class="variant-title">{{ var.title }}</p>
                  <div class="variant-infos">
                    <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
                  </div>

                  {% if forloop.index == 3 %}
                    <img class="free-shipping-var desktop geo" src="{{ 'product-aio-free-shipping-badge-3.png' | asset_url }}" alt="" style="display:none">
                    <img class="free-shipping-var mobile geo" src="{{ 'product-aio-free-shipping-badge-4.png' | asset_url }}" alt="" style="display:none">
                    <style>
                      .free-shipping-var {
                        position: absolute;
                        right: 0;
                        top: -5px;
                      }

                      .free-shipping-var.mobile {
                        visibility: hidden;
                        top: unset;
                        bottom: 0;
                        height: 50px;
                      }

                      @media screen and (max-width:1270px) {
                        .free-shipping-var.desktop {
                          visibility: hidden;
                        }

                        .free-shipping-var.mobile {
                          visibility: visible;
                        }
                      }
                    </style>
                  {% endif %}
                </div>

                {% assign cap = var.compare_at_price %}

                {% if localization.country.iso_code == 'CA' %}
                  {% assign cap = var.metafields.my_fields.ca_cap | times: 100  %}
                {% elsif localization.country.iso_code == 'AU' %}
                  {% assign cap = var.metafields.my_fields.au_cap | times: 100 %}
                {% endif %}


                <div class="price">
                  <p class="compared-at-price"><strike>{{ cap | money_without_trailing_zeros }}</strike></p>
                  <p class="real-price">{{ var.price | money_without_trailing_zeros }}</p>
                </div>
              </div>
              {% endfor %}
            </div>

            <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <div class="submit-wrap">
              <div class="qty-data">
                <div class="qty-control">
                  <a data-act="-" href="javascript:void(0)">
                    <span class="icon-minus"></span>
                  </a>
                  <label>
                    <input maxlength="4" name="quantity" type="number" value="1">
                  </label>
                  <a data-act="+" href="javascript:void(0)">
                    <span class="icon-plus"></span>
                  </a>
                </div>
              </div>

              <div class="btn">
                <button class="main-btn" id="buy-button">Shop Now <span class="save" id="save"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container badges-container">
      <div class="trust-badges">
        <div class="trust-badge"><img src="{{ 'icon-money-back.png' | asset_url }}" alt="">60 Day Money Back Guarantee</div>
        <div class="trust-badge"><img src="{{ 'icon-free-shipping.png' | asset_url }}" alt=""><div id="shipping-badge-text" style="display: inline-block">Free Shipping <div class="geo" style="display:none;display: inline-block;">Over 99$</div></div></div>
        <div class="trust-badge"><img src="{{ 'icon-secure-checkout.png' | asset_url }}" alt="">100% Secure Checkout</div>
      </div>
    </div>
  </section>
  <section class="how-to-section" id="how-to">
    <div class="container">
      <h2>How to get the best results with CuraLin</h2>
      <img src="{{ 'product-aio-how-to.png' | asset_url }}" alt="" loading="lazy">
      <img src="{{ 'product-aio-how-to-mobile.png' | asset_url }}" alt="" class="mobile-version" loading="lazy">
    </div>
  </section>
  <section class="reviews-section">
    <div class="white-fade">
      <div class="left-fade fade"></div>
      <div class="right-fade fade"></div>
    </div>
    <div class="top-bg"></div>
    <div class="container no-padding">
      <h2>Over 3000 5 Star Reviews</h2>
      <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
      <div class="prev slider-nav swiper-button-prev"></div>
      <div class="reviews swiper">
        <div class="swiper-wrapper">
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“This is the greatest! My husband started taking this! Finally found a product
                that works!"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Linda Valtsiotis</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“I have tried so many different supplements with no results. This one is amazing
                and i am excited. I just purchased my second bottle"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Michael Murillo Sr.</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“It is so wonderful to find something that really works. I feel so much better!"
              </p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Leanne Anderson</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“I've started on my second bottle and this is the best thing I've ever taken! I
                would recommend to anyone."</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Debra Doss</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“Have been taking CuraLin over the last four months and am beyond pleased with
                the results."</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Michael Edwards</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“Amazing results in such a short time. Thank you!"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Meryl Hill</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="next slider-nav swiper-button-next"></div>
    </div>
  </section>

  {% render 'lps-video-reviews-2', maintitle: 'Customers Reviews Of CuraLin' %}
  {% render 'lps-ingredients-slider', maintitle: '<b>9 Powerful Ingredients </b>Combined Into One Capsule'%}

  <section class="badges-section">
    <div class="container">
      <div class="badges">
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ " icon-clinically-tested.svg" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Clinically Tested</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ " icon-doctor-approved.svg" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Doctors Recommended</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ " icon-iso-certified.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>ISO9001 Certified</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ " icon-vegan-friendly.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Vegan Friendly</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ " icon-gmp-certified.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>GMP Certified</p>
        </div>
      </div>
    </div>
  </section>
  <section class="return-policy-section">
    <div class="container">
      <div class="return-policy">
        <img src="{{ " icon-money-back-60-days.png" | asset_url }}" alt="" loading="lazy">
        <div class="return-policy-content">
          <p class="title">Return Policy:</p>
          <p class="description">You get 100% of your money back if you are not 100% satisfied. Yes, even if the bottls
            are opened, or if you order more than on bottle. Every order is covered by this guarantee, making your
            purchase risk-free.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="free-shipping-section">
    <img src="{{ " product-aio-free-shipping-line.png" | asset_url }}" alt="" class="free-shipping-line" loading="lazy">
  </section>
  <section class="faq-section">
    <div class="container">
      <h2>FAQ</h2>
      <div class="faq">
        <div class="faq-item">
          <div class="question">How much CuraLin do I need to take?</div>
          <div class="answer">
            <div class="answer-content">The recommended usage of CuraLin is to take 1-2 capsules 30 minutes after each
              meal. Maximum 6 capsules per day. CuraLin is easy to take.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">When should I be taking CuraLin?</div>
          <div class="answer">
            <div class="answer-content">For the best results, the recommended usage is to take 1-2 capsules of CuraLin
              30 minutes after your meals (maximus 6 capsules per day).</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">How does each ingredient work?</div>
          <div class="answer">
            <div class="answer-content">Each ingredient does a little something different to promote health in the 18
              key body functions needed for glucose support.</div>
            <div class="ingredients-main-slider swiper">
              <div class="swiper-button-prev swiper-nav"></div>
              <div class="ingredients swiper-wrapper">
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-1.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Turmeric</p>
                      <p class="ingredient-description">Also known as Curcuma Longa, Turmeric has been used in Eastern
                        medicinal systems for hundreds of years to help people maintain healthy glucose levels though
                        healthy insulin tolerance.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-2.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Swertia Chirata</p>
                      <p class="ingredient-description">The active ingredients help the pancreatic cells release
                        insulin, reduce absorption of glucose from the digestive system and improve the intracellular
                        metabolism of glucose.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-3.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Bitter Melon</p>
                      <p class="ingredient-description">Also known as Karela or Momordica Charantia, Bitter Melon is
                        traditionally used by diabetes in Eastern medicinal systems. Its mechanism of action promotes
                        healthy physiological function in damaged pancreatic cells, supports glucose absorption, and the
                        sensitivity of the muscle cells to insulin.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-4.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Cinnamomum Zeylanicum</p>
                      <p class="ingredient-description">Cinnamon has many benefits, including supporting healthy glucose
                        absorption & metabolism, promoting healthy insulin release, circulation & sensitivity, and
                        maintaining healthy levels of gluconeogenesis. It also supports healthy weight loss, promotes
                        healthy HbA1c and fasting blood sugar, healthy cholesterol levels, and promotes a healthy
                        nervous system.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-5.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Picrorhiza Kurroa</p>
                      <p class="ingredient-description">The active compounds in Pirorhiza Kurroa act as an anti-oxidant
                        and promotes healthy liver function (protecting it from toxins). This supports healthy glucose
                        tolerance and helps people maintain a healthy weight.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-6.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Amla</p>
                      <p class="ingredient-description">Also known as Indian gooseberry or Emblica Officinalis, the
                        active property in Amla is Tannoid, which helps support the physiological function of pancreatic
                        cells.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-7.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Syzygium Cumini</p>
                      <p class="ingredient-description">Also known as Eugenia Jambolana, the active components in
                        Syzygium Cumini supports a healthy physiological function in the liver, creating a reservoir of
                        glucose macromolecules, thereby helping maintain healthy fasting blood glucose levels.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-8.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Fenugreek</p>
                      <p class="ingredient-description">Also known as Trigonella Foenum Graecum, Fenugreek contains
                        fibers that promotes insulin production, release & sensitivity. Fenugreek also helps support a
                        healthy rate of carbohydrate absorption in the digestive system.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ " ingredients-9.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Gymnema Sylvestre</p>
                      <p class="ingredient-description">Gymnema Sylvestre has many active compounds including Saponin,
                        which is known to help manage cravings for carbohydrate. Metabolically, it encourages healthy
                        insulin release.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next swiper-nav"></div>
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">Is there a discount if I order more than one bottle?</div>
          <div class="answer">
            <div class="answer-content">Yes! You can save substantially by ordering a 3 pack of CuraLin. Check out the
              pricing section of this page for more information.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">How do I get my money back in line with your return policy?</div>
          <div class="answer">
            <div class="answer-content">Easy! We have a no questions asked policy. Just shoot us a message at
              hello@curalife.com, or call our 24/7 phone support and we’ll take care of your request:
              <br>UK-Toll-Free: +44 800 086 9122
              <br>US-Toll-Free: +1 888 286 7307
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">How long does shipping take?</div>
          <div class="answer">
            <div class="answer-content">You will get a tracking number as soon as your order ships so that you can see
              exactly where your package is. Most orders in the continental USA arrive between 2-5 days after placing
              the order (depending on where in the US you live). Orders from the UK take an average of 7-8 days to
              arrive. Orders from Australia and the Asia Pacific Region can take a bit longer. Our official policy is
              that shipping can take 7-28 business days, but that’s just because of the uncertainty of shipping times
              these days. Your order will almost always arrive much faster than that, and your tracking number will
              always keep you up to date.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">Will I be able to track my order?</div>
          <div class="answer">
            <div class="answer-content">Yes! Every CuraLin order comes with a tracking number. You will be able to see
              where your package is any time you want – from the moment it ships, until the moment it reaches your home.
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">Can I buy CuraLin in pharmacies and grocery stores?</div>
          <div class="answer">
            <div class="answer-content">We’re still working on getting CuraLin on the shelves of all the major US
              pharmacies. That’s part of our 2022 plan. For now, the best place to order CuraLin is online, though this
              page!
              <br>Internationally, CuraLin is already sold through channels is over 50 countries, including the UK,
              Italy, Austria, and other EU member states.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-us-section">
    <div class="container">
      <h2>We’re here for you 24/7. <br>Get in touch any time.</h2>
      <div class="contact-options">
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ " icon-live-chat.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Live Chat</p>
        </div>
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ " icon-phone-support.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Phone Support</p>
        </div>
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ " icon-email.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Email</p>
        </div>
      </div>
      <div class="phone-numbers">
        <div class="phone-number">
          <img src="{{ " icon-flag-uk.png" | asset_url }}" alt="" loading="lazy">
          <a href="tel:+448000869122">
            <p>UK-Toll-Free: +44 800 086 9122</p>
          </a>
        </div>
        <div class="phone-number">
          <img src="{{ " icon-flag-us.png" | asset_url }}" alt="" loading="lazy">
          <a href="tel:+18882867307">
            <p>US-Toll-Free: +1 888 286 7307</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // Back To Top Button
  var btn = $('#back-to-top-btn');

  $(window).scroll(function () {
    if ($(window).scrollTop() > 600) {
      btn.addClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 60px !important');
      }
    }
    else {
      btn.removeClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 4px !important');
      }
    }
  });

  btn.on('click', function (e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: 0 }, '300');
  });

  // Check Radio Button on Variant Box Click
  $(".variant-box").click(function () {
    $(this).find('input[type=radio]').prop('checked', true);
    $("#productVaraintSelected").prop('value', $(this).find('input[type=radio]')[0].value);

    // Save Text Change
    let saveText = "You Save " + $('input[name=pack]:checked', '#CTAForm').attr('save') + "%";
    $('#save').animate({ 'opacity': 0 }, 800, function () {
      $(this).text(saveText);
    }).animate({ 'opacity': 1 }, 800);
  })

  $(document).ready(function () {
    $(".variant-box").last().trigger("click");
  });

  // Buy Button Functionality
  $("#buy-button").click(function () {
    let checkedPack = $('input[name=pack]:checked', '#CTAForm').val();
    let checkedQuantity = $('input[name=quantity]', '#CTAForm').val();

    $.ajax({
      type: "POST",
      url: '/cart/clear.js',
      dataType: 'json',
      success: function(){
        $.post('/cart/add.js', {
          id: checkedPack,
          quantity: checkedQuantity,
          properties: {
            "_sc": (typeof window.ShipScoutLineItemProperty !== 'undefined' ? window.ShipScoutLineItemProperty : "")
          }
        }, function() {window.location = '/checkout'});
      },
      error: function(){
        alert("Error: Could not clear cart.");
      }
    });
  })

  // Fade Quotes
  var quotes = $(".quote");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length).fadeIn(1000).delay(2000).fadeOut(1000, showNextQuote);
  }

  // CTA Button Color Change on Hover
  $(function () {
    $('.main-btn').hover(function () {
      $('.qty-control').css('border-color', '#AF5B35');
    }, function () {
      // on mouseout, reset the background colour
      $('.qty-control').css('border-color', '#d07c5b');
    });
  });

  // FAQ
  const accordionItemHeaders = document.querySelectorAll(".question");

  accordionItemHeaders.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {
      accordionItemHeader.classList.toggle("active");
      const accordionItemBody = accordionItemHeader.nextElementSibling;
      if (accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      }
      else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });

  showNextQuote();
</script>

<script>
  // Change Quantity Widget On Product Page
  $(document).on("click", ".product-data .qty-control a", function (e) {
    e.preventDefault();
    let newVal, $button = $(this),
      inputObj = $button.closest(".qty-control").find("input"),
      oldValue = inputObj.val();
    if ($button.attr('data-act') === "+") {
      newVal = parseInt(oldValue) + 1;
    }
    else {
      newVal = parseInt(oldValue) - 1;
    }

    inputObj.val(newVal);
  });
</script>

<script>
  $(document).on("click", ".variant-box", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'variant-click',
      'label': $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
    });
  });

  $(document).on("click", "#buy-button", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',
      ecommerce: {
        items: [{
          item_name: '{{ product.title }}',
          item_id: $('input[name=pack]:checked', '#CTAForm').attr('sku'),
          affiliation: '{{ shop.name }}',
          price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
          currency: '{{ shop.currency }}',
          item_brand: 'CuraLife',
          item_category: 'CuraLin',
          quantity: parseInt($(".qty-control input").val())
        }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      product_name: '{{ product.title }}',
      product_price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>

<style>
  body {
    padding-top: 0 !important;
  }

  .ingredients-section {
    background-color: #f0f0f0;
  }

  .ingredients-section h2 {
    max-width: 600px;
    font-weight: 400;
  }

 






  


 

  .main-btn {

    color: #0B0000;
    background: #FDCB3B;

    border: 1px solid #FDCB3B;

  }


  .product-template-all-in-one .cta-section .product-container .product-actions .form-wrap #CTAForm .submit-wrap .btn .main-btn {

    background-color: #FDCB3B;
    border-color: #FDCB3B;

  }

  .product-template-all-in-one #back-to-top-btn {
    background-color: #F66E86;

  }

  .product-template-all-in-one #back-to-top-btn a:hover {
    background-color: #F66E86;

  }

  .save-money {
    position: absolute;
    z-index: 99;
    right: 60px;
    width: 8vw;
    height: 8vw;
    top: 0;

    background: #F66E86;
    box-shadow: 0px 4.72px 4.72px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  .save-border {
    
    margin: 3%;
    width: 94%;
    height: 94%;
    border-radius: 50%;
    border: 0.59px solid #FFFFFF;
  }


  .money {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1vw;
    margin-top: 3vw;
    line-height: 1vw;
    display: flex;

    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    justify-content: center;
  }



 








  @media screen and (max-width: 760px) {

    .save-money {
      right: 10px;
      width: 23vw;
      height: 23vw;
    }

    .money {
      font-size: 5vw;
      margin-top: 5vw;
      line-height: 6vw;
    }

    .grecaptcha-badge {
      display: none !important;
    }

    .transcy-switcher-container {
      bottom: 65px !important;
      transition: bottom 0.5s;
    }

    .helpButton {
      bottom: 4px !important;
      z-index: 1000;
      transition: bottom 0.5s;
    }

    .helpButton .helpButtonEnabled {
      min-width: unset;
      min-height: unset;
      width: 50px;
      font-size: 20px !important;
      height: 50px;
      justify-content: center;
      border-radius: 50%;
      background-color: #c78262 !important;
      box-shadow: unset !important;
    }

    .embeddedServiceHelpButton .uiButton .helpButtonLabel {
      display: none;
    }

    .helpButton .helpButtonEnabled .embeddedServiceIcon {
      margin: 0;
    }

    .embeddedServiceHelpButton .helpButton .uiButton:focus {
      outline: unset !important;
    }

    .ingredients-section {
      background-color: unset;
    }
  }
</style>

<script>
  productThumbsAllInOne = new Swiper('#product-thumbs-slider-sc', {
    slidesPerView: 4,
    spaceBetween: 10,
    watchSlidesVisibility: true,
    grabCursor: true,
    loop: false,
    navigation: {
      nextEl: '#product-thumbs-slider-nav-next',
      prevEl: '#product-thumbs-slider-nav-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        slidesPerView: 1,
      },
      1080: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 3,
      },
      1400: {
        slidesPerView: 4,
      }
    }
  });

  productSliderAllInOne = new Swiper('#product-main-slider-sc', {
    slidesPerView: 1,
    spaceBetween: 15,
    centeredSlides: true,
    watchSlidesVisibility: false,
    slideToClickedSlide: true,
    thumbs: { swiper: productThumbsAllInOne },
    breakpoints: {
      0: {
        pagination: {
          el: '.product-slider .swiper-pagination',
          clickable: 'true',
          type: 'bullets',
        },
        navigation: {
          nextEl: '#product-main-slider-nav-next',
          prevEl: '#product-main-slider-nav-prev',
          disabledClass: 'disabled'
        }
      },
      760: {
        pagination: {},
        navigation: {}
      }
    }
  });

  productSliderAllInOne.on('slideChange', function () {
    $('iframe#product-video-iframe').attr('src', function (i, val) { return val; });
  });

  let isFirstClick = true;
  jQuery(".variant-box").click(function () {
    if (isFirstClick) {
      isFirstClick = false;
    }
    else {
      // Slide to Variant Image
      let slideIndex = productSliderAllInOne.slides.length - jQuery('input[name=pack]:checked', '#CTAForm').attr('index');
      productSliderAllInOne.slideTo(slideIndex);
    }
  });

  reviewsSliderAllInOne = new Swiper('.product-template-all-in-one .reviews-section .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    watchSlidesVisibility: false,
    centeredSlides: true,
    loop: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.reviews-section .swiper-button-next',
      prevEl: '.reviews-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        slidesPerView: 3,
      },
      1200: {
        slidesPerView: 5,
      }
    }
  });

  faqIngredientsMainSliderAllInOne = new Swiper('.product-template-all-in-one .faq-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.faq-section .swiper-button-next',
      prevEl: '.faq-section .swiper-button-prev',
      disabledClass: 'disabled'
    }
  });
</script>

<script>
  const urlParams = new URLSearchParams(window.location.search);

  if (urlParams.has('shipping')) {
    console.log("shipping")
    $("#shipping-badge-text").text("Free Worldwide Shipping Above $99")
    $("#shipping-line").hide();
    $("#shipping-line-above").show();
  }
</script>