<div class="product-template-all-in-one">
  <img class="main-logo" src="{{ 'logo-colored.png' | asset_url }}" alt=""> 
  <a id="back-to-top-btn">Paquete Curalin</a>
  <section class="cta-section">
    <div class="container product-container">
      <div class="product-thumbnails">
        <div class="product-slider">
          <div class="sliders-group">
            <div class="main-slider">
              <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" alt="">
              <div id="product-main-slider-sc" class="swiper">
                <div class="swiper-wrapper">
                  {% for i in (1..5) %}
                    <div class="swiper-slide">
                      <div class="product-img">
                        <div class="img-wrap">
                          {% if i == 1 %}
                            {% assign imgUrl = "product-aio-product-thumbnail-" | append: i | append: '-es'| append: ".png" %}
                          {% else %}
                            {% assign imgUrl = "product-aio-product-thumbnail-" | append: i | append: ".png" %}
                          {% endif %}
                          <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                  <div class="swiper-slide">
                    <div class="product-video">
                      <iframe id="product-video-iframe" src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                    </div>
                  </div>
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      <div class="product-img">
                        <div class="img-wrap">
                          <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                          {% if forloop.index == 3 %}
                            <img class="free-shipping geo" src="{{ "product-aio-free-shipping-badge.png" | asset_url }}" alt="" loading="lazy" style="display:none">
                          {% else %}
                            <img class="free-shipping geo" src="{{ "product-aio-free-shipping-badge-2.png" | asset_url }}" alt="" loading="lazy" style="display:none">
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                  <style>
                    .free-shipping {
                      position: absolute;
                      right: 200px;
                      top: 0;
                      width: 118px !important;
                      height: unset !important;
                    }

                    @media screen and (max-width: 760px) {
                      .free-shipping {
                        right: 40px;
                        width: 100px !important;
                      }
                    }
                  </style>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
              <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
            </div>

            <div class="thumbs-slider">
              <div id="product-thumbs-slider-sc" class="swiper">
                <div class="swiper-wrapper">
                  {% for i in (1..5) %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <div class="img-wrap">
                          {% assign imgUrl = "product-aio-product-thumbnail-" | append: i | append: ".png" %}
                          <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="swiper-slide">
                    <div class="thumbs-img video-thumbnail">
                      <div class="img-wrap">
                        <img src="{{ "product-aio-product-video-thumbnail.png" | asset_url }}" alt="" loading="lazy">
                      </div>                                        
                    </div>
                  </div>
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      <div class="thumbs-img">
                        <div class="img-wrap">
                          <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
              <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info">
        <div class="sub-title">
          {% if product.metafields.my_fields.alternative_title.value %}
          <h1>{{ product.metafields.my_fields.alternative_title.value }}</h1>
          {% else %}
          <h1>{{ product.title }}</h1>
          {% endif %}
        </div>
        <div class="rating-stars">
          <img class="rating-stars-img" src="{{ 'product-aio-rating-stars.png' | asset_url }}" alt="">
          <span class="reviews-quantity">3000+ Reseñas</span>
        </div>
        <div class="quotes">
          <p class="quote">“Ha cambiado mi vida por completo” - Paul M.</p>
          <p class="quote">“Estoy más saludable ahora que en años” - D'Gay F.</p>
          <p class="quote">“Aquí está mi prueba: mi MD está encantado. ¡Yo soy un creyente!" - Ilyssa E.</p>
        </div>
      </div>
      <div class="product-actions">
        <div class="form-wrap">
          <div id="CTAForm">
            <p class="cta-title">Seleccione su paquete</p>
            <div class="input-field product-option-select">
              {% for var in product.variants %}
                <div class="variant-box">
                  <div class="radio-box">
                    {% if var.compare_at_price > var.price %} {% assign discount_amount = var.compare_at_price | minus: var.price %} {% else %} {% assign discount_amount = 0 %} {% endif %}
                    <input type="radio" name="pack" value="{{ var.id }}" price="{{ var.price | money_without_currency }}" discount="{{ discount_amount | money_without_currency }}" title="{{ var.title }}" sku="{{ var.sku }}" save="{{var.metafields.my_fields.discount_percents}}" index="{{ product.variants.size | minus: forloop.index  | plus: 1 }}"></input>
                  </div>
                  <div class="variant-info">
                    <p class="variant-title">{{ var.title }}</p>
                    <div class="variant-infos">
                      <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
                    </div>
                  </div>
                  <div class="price">
                    {% if localization.country.iso_code == 'CA' %}
                      {% assign cap = "$" | append: var.metafields.my_fields.ca_cap %}
                    {% elsif localization.country.iso_code == 'AU' %}
                      {% assign cap = "$" | append: var.metafields.my_fields.au_cap %}
                    {% else %}
                      {% assign cap = var.compare_at_price | money_without_trailing_zeros %}
                    {% endif %}

                    <p class="compared-at-price"><strike>{{ cap }}</strike></p>
                    <p class="real-price">{{ var.price | money_without_trailing_zeros }}</p>
                  </div>

                  {% if forloop.index == 3 %}
                    <img class="free-shipping-var desktop geo" src="{{ 'product-aio-free-shipping-badge-3-es.png' | asset_url }}" alt="" style="display:none">
                    <img class="free-shipping-var mobile geo" src="{{ 'product-aio-free-shipping-badge-mobile-3-es.png' | asset_url }}" alt="" style="display:none">
                    <style>
                      .free-shipping-var {
                        position: absolute;
                        right: 0;
                        top: -5px;
                      }

                      .free-shipping-var.mobile {
                        visibility: hidden;
                        top: unset;
                        bottom: 0;
                        height: 50px;
                      }

                      @media screen and (max-width:1270px) {
                        .free-shipping-var.desktop {
                          visibility: hidden;
                        }

                        .free-shipping-var.mobile {
                          visibility: visible;
                        }
                      }
                    </style>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

            <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}"/>
            <div class="submit-wrap">
              <div class="qty-data">
                <div class="qty-control">
                  <a data-act="-" href="javascript:void(0)">
                    <span class="icon-minus"></span>
                  </a>
                  <label>
                    <input maxlength="4" name="quantity" type="number" value="1">
                  </label>
                  <a data-act="+" href="javascript:void(0)">
                    <span class="icon-plus"></span>
                  </a>
                </div>
              </div>

              <div class="btn">
                <button class="main-btn" id="buy-button">COMPRA AHORA <span class="save" id="save"></span></button>
              </div>
            </div>
          </div>                 
        </div>
      </div>
    </div>
    <div class="container badges-container">
      <div class="trust-badges">
        <div class="trust-badge"><img src="{{ 'icon-money-back.png' | asset_url }}" alt="">Garantía de devolución de dinero de 60 días</div>
        <div class="trust-badge"><img src="{{ 'icon-free-shipping.png' | asset_url }}" alt=""><div id="shipping-badge-text" style="display: inline-block">Envío gratisMás de 99$</div></div>
        <div class="trust-badge"><img src="{{ 'icon-secure-checkout.png' | asset_url }}" alt="">Pago 100% seguro</div>
      </div>
    </div>
  </section>
  <section class="how-to-section" id="how-to">
    <div class="container">
      <h2>Cómo obtener los mejores resultados con CuraLin</h2>
      <img src="{{ 'product-aio-how-to-es.png' | asset_url }}" alt="" loading="lazy">
      <img src="{{ 'product-aio-how-to-es.png' | asset_url }}" alt="" class="mobile-version" loading="lazy">
    </div>
  </section>
  <section class="reviews-section">
    <div class="white-fade">
      <div class="left-fade fade"></div>
      <div class="right-fade fade"></div>
    </div>
    <div class="top-bg"></div>
    <div class="container no-padding">
      <h2>Más de 3000 reseñas de 5 estrellas</h2>
      <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
      <div class="prev slider-nav swiper-button-prev"></div>
      <div class="reviews swiper">
        <div class="swiper-wrapper">
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“¡Esto es lo más grande! ¡Mi esposo comenzó a tomar esto! ¡Finalmente encontré un producto que funciona!"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Linda Valtsiotis</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“He probado tantos suplementos diferentes sin resultados. Este es increíble y estoy emocionado. Acabo de comprar mi segunda botella"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Michael Murillo Sr.</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“Es maravilloso encontrar algo que realmente funcione. ¡Me siento mucho mejor!"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Leanne Anderson</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“¡Comencé con mi segunda botella y esto es lo mejor que he tomado! Yo recomendaría a cualquiera."</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Debra Doss</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">"He estado tomando CuraLin durante los últimos cuatro meses y estoy más que satisfecho con los resultados."</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Michael Edwards</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
          <div class="review swiper-slide">
            <div class="review-top">
              <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
              <p class="review-content">“Resultados increíbles en tan poco tiempo. ¡Gracias!"</p>
            </div>
            <div class="review-bottom">
              <p class="review-author">Meryl Hill</p>
              <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="next slider-nav swiper-button-next"></div>
    </div>
  </section>

  <section class="video-reviews-section">
    <div class="container">
      <h2>Reseñas de los clientes de CuraLin</h2>
      <div class="video-reviews swiper">
        <div class="swiper-button-prev"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="video-review">
              <div class="review-video">
                <iframe src="https://player.vimeo.com/video/662207384?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
              </div>
              <div class="review-quote">
                <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
                <p class="quote-content">Ahora siento que estoy siendo recompensado por mi trabajo duro. Ahora soy un cliente permanente. Solo pruébalo. Estarás encantado.</p>
                <p class="quote-author">Jo R.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-review">
              <div class="review-video">
                <iframe src="https://player.vimeo.com/video/562754760?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
              </div>
              <div class="review-quote">
                <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
                <p class="quote-content">CuraLin sonaba demasiado bueno para ser verdad. Pero funciona. Oh dios, funciona.</p>
                <p class="quote-author">D’Gaye</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-review">
              <div class="review-video">
                <iframe src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
              </div>
              <div class="review-quote">
                <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
                <p class="quote-content">Este es el mejor producto que encontré para el soporte de glucosa y los probé todos en el pasado.</p>
                <p class="quote-author">Carol S.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-review">
              <div class="review-video">
                <iframe src="https://player.vimeo.com/video/562754846?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
              </div>
              <div class="review-quote">
                <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
                <p class="quote-content">Lo más grande que CuraLin ha hecho por mí es interrumpir mi mentalidad de desesperanza. Es una herramienta maravillosa en mi caja de herramientas.</p>
                <p class="quote-author">Denise R.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>

  <style>
    .video-reviews-section {
      padding: 50px 0;
    }

    .video-reviews-section h2 {
      font-size: 40px;
      margin: 0;
      margin-bottom: 30px;
    }

    .video-reviews-section .video-reviews {
      overflow: visible;
      max-width: 70%;
    }

    .video-reviews-section .swiper-button-prev, .video-reviews-section .swiper-button-next {
      color: gray;
      transition: opacity .5s;
    }

    .video-reviews-section .swiper-button-prev.disabled, .video-reviews-section .swiper-button-next.disabled {
      opacity: 0;
    }

    .video-reviews-section .swiper-button-prev::after, .video-reviews-section .swiper-button-next::after {
      font-size: 28px;
    }

    .video-reviews-section .video-reviews .video-review {
      display: flex;
      align-items: center;
    }

    .video-reviews-section .video-reviews .video-review .review-video {
      width: 40%;
      margin-left: 10%;
      height: 500px;
    }

    .video-reviews-section .video-reviews .video-review .review-video iframe {
      width: 100% !important;
      height: 100% !important;
    }

    .video-reviews-section .video-reviews .video-review .review-quote {
      padding: 50px;
      width: 50%;
      font-size: 22px;
      position: relative;
    }

    .video-reviews-section .video-reviews .video-review .review-quote img {
      opacity: .1;
      width: 70px;
      position: absolute;
      left: 30px;
      top: 20px;
    }

    .video-reviews-section .video-reviews .video-review .review-quote .quote-author {
      font-size: 18px;
      margin-bottom: 0;
    }

    @media screen and (max-width: 760px) {
      .video-reviews-section {
        background-color: #f0f0f0;
        padding: 8vw 0;
      }

      .video-reviews-section h2 {
        font-size: 6vw;
        text-align: center;
        max-width: unset;
        margin-bottom: 10px;
      }

      .video-reviews-section .video-reviews {
        max-width: unset;
        margin-top: 30px;
      }

      .video-reviews-section .video-reviews .video-review {
        flex-direction: column;
        max-width: 80%;
        margin: auto;
        text-align: center;
      }

      .video-reviews-section .video-reviews .video-review .review-video {
        width: unset;
        margin-left: unset;
        height: 300px;
        margin-bottom: 10px;
      }

      .video-reviews-section .video-reviews .video-review .review-quote {
        padding: unset;
        width: 100%;
        font-size: 16px;
      }

      .video-reviews-section .video-reviews .video-review .review-quote img {
        width: 40px;
        left: -10px;
        top: 0px;
      }

      .video-reviews-section .video-reviews .video-review .review-quote .quote-author {
        font-size: 14px;
      }
    }
  </style>

  <script>
    videoReviewsSliderAllInOne = new Swiper('.video-reviews-section .swiper', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: true,
        grabCursor: true,
        slideToClickedSlide: true,
        loop: false,
        navigation: {
            nextEl: '.video-reviews-section .swiper-button-next',
            prevEl: '.video-reviews-section .swiper-button-prev',
            disabledClass: 'disabled'
        }
    });
  </script>

<section class="ingredients-section" id="powerful-ingredients">
    <div class="container no-padding">
    <h2><b>9 poderosos ingredientes</b><br>combinados en una cápsula</h2>
    <div class="ingredients-sliders">
        <div class="ingredients-thumbs-slider swiper">
          <div class="ingredients swiper-wrapper">
            {% for i in (1..9) %}
            <div class="ingredient swiper-slide">
              {% assign imgUrl = "ingredients-" | append: i | append: ".png" %}
              <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="ingredients-main-slider swiper">
          <div class="swiper-button-prev swiper-nav"></div>
          <div class="ingredients swiper-wrapper">
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-1.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Cúrcuma</p>
                  <p class="ingredient-description">Es una raíz tradicional ampliamente utilizada para apoyar la glucosa en sangre. Contiene curcumina que promueve niveles saludables de glucosa en sangre y tolerancia a las señales del páncreas. También es compatible con el sistema inmunológico.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-2.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Swertia Chirata</p>
                  <p class="ingredient-description">Es una hermosa flor morada que contiene compuestos activos que promueven el metabolismo celular de la glucosa, apoyan la liberación de secreciones del páncreas y mantienen una tasa saludable de absorción de glucosa en el sistema digestivo.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-3.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Melón amargo</p>
                  <p class="ingredient-description">Se utiliza tradicionalmente para apoyar la sensibilidad metabólica a la glucosa y la función pancreática saludable.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-4.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Cinnamomum Zeylanicum</p>
                  <p class="ingredient-description">Promueve la sensibilidad y liberación de señales del páncreas y ayuda a mantener niveles saludables de glucosa en ayunas y A1c. La canela también apoya la pérdida de peso saludable y un sistema nervioso saludable.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-5.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Picrorhiza Kurroa</p>
                  <p class="ingredient-description">Es un tallo del Himalaya que ayuda al hígado a controlar las toxinas y respalda el funcionamiento adecuado, lo que a su vez ayuda a promover el metabolismo de la glucosa y el control natural del peso.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-6.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Amla</p>
                  <p class="ingredient-description">Es rico en taninos, que ayudan al páncreas y promueven el funcionamiento saludable de las células dañadas.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-7.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Syzygium Cumini</p>
                  <p class="ingredient-description">Es un suplemento popular en Ayurveda y medicina tradicional china para personas que buscan apoyo de glucosa. Contiene compuestos activos que apoyan la función hepática normal y los niveles normales de glucosa.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-8.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Fenugreek</p>
                  <p class="ingredient-description">Es rico en fibras especiales que apoyan la producción, liberación y uso de señales del páncreas. ¡También mantiene una tasa saludable de absorción de carbohidratos en el sistema digestivo!</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ "ingredients-9.png" | asset_url }}" alt="" loading="lazy">
                <div class="ingredient-content">
                  <p class="ingredient-title">Gymnema Sylvestre</p>
                  <p class="ingredient-description">¡Corta a través de los antojos de carbohidratos! Esta planta también se conoce como “gurmar”, que significa “destructor de azúcar”. Contiene moléculas de forma similar a la glucosa, por lo que llenan los receptores de azúcar en las papilas gustativas, lo que reduce los antojos y mantiene la absorción de carbohidratos a un ritmo saludable.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-nav"></div>
        </div>
      </div>
    </div>
  </section>

  <style>
  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
      cursor: pointer;
      opacity: .7;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
      opacity: 1;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
      width: 120px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider {
      padding: 50px 0;
  }

  .ingredients-section .swiper-button-prev.disabled, .ingredients-section .swiper-button-next.disabled {
      opacity: 0;
  }

  .ingredients-section .swiper-button-prev, .ingredients-section .swiper-button-next {
      color: gray;
      transition: opacity .5s;
  }

  .ingredients-section .swiper-button-prev::after, .ingredients-section .swiper-button-next::after {
      font-size: 28px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
      display: flex;
      align-items: center;
      max-width: 70%;
      margin: auto;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
      margin-left: -10%;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: 50px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      font-size: 40px;
      font-size: 30px;
      font-weight: 500;
      margin-top: 20px;
      text-transform: uppercase;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
      font-size: 20px;
      font-weight: 300;
      line-height: 2rem;
  }

  @media screen and (max-width: 760px) {
    .ingredients-section .ingredients-sliders .ingredients-main-slider {
        padding: 0;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
        top: 100px;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
        flex-direction: column;
        max-width: 80%;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
        width: 50vw;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
        margin-left: unset;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
        margin: 0;
        font-weight: 600;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
        margin: 10px 0;
    }
  }
  </style>

  <script>
    ingredientsThumbsSliderAllInOne = new Swiper('.ingredients-section .ingredients-thumbs-slider.swiper', {
        slidesPerView: 5,
        spaceBetween: 10,
        loop: false,
        breakpoints: {
            760: {
                slidesPerView: 7,
                centeredSlides: false,
            },
            1200: {
                slidesPerView: 9,
                centeredSlides: false,
            }
        }
    });

    ingredientsMainSliderAllInOne = new Swiper('.ingredients-section .ingredients-main-slider.swiper', {
        slidesPerView: 1,
        spaceBetween: 15,
        watchSlidesVisibility: false,
        loop: false,
        autoHeight: true,
        slideToClickedSlide: true,
        navigation: {
            nextEl: '.ingredients-section .swiper-button-next',
            prevEl: '.ingredients-section .swiper-button-prev',
            disabledClass: 'disabled'
        },
        thumbs: {swiper: ingredientsThumbsSliderAllInOne}
    });
  </script>

  <section class="badges-section">
    <div class="container">
      <div class="badges">
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ "icon-clinically-tested.svg" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Clínicamente probado</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ "icon-doctor-approved.svg" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Recomendado por médicos</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ "icon-iso-certified.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Certificado ISO9001</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ "icon-vegan-friendly.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Apto para veganos</p>
        </div>
        <div class="badge-wrapper">
          <div class="badge">
            <img src="{{ "icon-gmp-certified.png" | asset_url }}" alt="" loading="lazy">
          </div>
          <p>Certificado GMP</p>
        </div>
      </div>
    </div>
  </section>
  <section class="return-policy-section">
    <div class="container">
      <div class="return-policy">
        <img src="{{ "icon-money-back-60-days.png" | asset_url }}" alt="" loading="lazy">
        <div class="return-policy-content">
          <p class="title">Politica de devolucion:</p>
          <p class="description">Le devolvemos el 100% de su dinero si no estás 100% satisfecho. Sí, incluso si las botellas están abiertas o si pides más de una botella. Cada pedido está cubierto por esta garantía, lo que hace que su compra esté libre de riesgos.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-section">
    <div class="container">
      <h2>Preguntas más frecuentes</h2>
      <div class="faq">
        <div class="faq-item">
          <div class="question">¿Cuánto CuraLin necesito tomar?</div>
          <div class="answer">
            <div class="answer-content">El uso recomendado de CuraLin es tomar 1-2 cápsulas 30 minutos después de cada comida. Máximo 6 cápsulas al día. CuraLin es fácil de tomar.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Cuándo debo tomar CuraLin?</div>
          <div class="answer">
            <div class="answer-content">Para obtener los mejores resultados, el uso recomendado es tomar 1-2 cápsulas de CuraLin 30 minutos después de las comidas (máximo 6 cápsulas por día).</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Cómo funciona cada ingrediente?</div>
          <div class="answer">
            <div class="answer-content">Cada ingrediente hace algo diferente para promover la salud en las 18 funciones corporales clave necesarias para el soporte de glucosa.</div>
            <div class="ingredients-main-slider swiper">
              <div class="swiper-button-prev swiper-nav"></div>
              <div class="ingredients swiper-wrapper">
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-1.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Cúrcuma</p>
                      <p class="ingredient-description">Es una raíz tradicional ampliamente utilizada para apoyar la glucosa en sangre. Contiene curcumina que promueve niveles saludables de glucosa en sangre y tolerancia a las señales del páncreas. También es compatible con el sistema inmunológico.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-2.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Swertia Chirata</p>
                      <p class="ingredient-description">Es una hermosa flor morada que contiene compuestos activos que promueven el metabolismo celular de la glucosa, apoyan la liberación de secreciones del páncreas y mantienen una tasa saludable de absorción de glucosa en el sistema digestivo.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-3.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Melón amargo</p>
                      <p class="ingredient-description">Se utiliza tradicionalmente para apoyar la sensibilidad metabólica a la glucosa y la función pancreática saludable.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-4.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Cinnamomum Zeylanicum</p>
                      <p class="ingredient-description">Promueve la sensibilidad y liberación de señales del páncreas y ayuda a mantener niveles saludables de glucosa en ayunas y A1c. La canela también apoya la pérdida de peso saludable y un sistema nervioso saludable.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-5.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Picrorhiza Kurroa</p>
                      <p class="ingredient-description">Es un tallo del Himalaya que ayuda al hígado a controlar las toxinas y respalda el funcionamiento adecuado, lo que a su vez ayuda a promover el metabolismo de la glucosa y el control natural del peso.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-6.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Amla</p>
                      <p class="ingredient-description">Es rico en taninos, que ayudan al páncreas y promueven el funcionamiento saludable de las células dañadas.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-7.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Syzygium Cumini</p>
                      <p class="ingredient-description">Es un suplemento popular en Ayurveda y medicina tradicional china para personas que buscan apoyo de glucosa. Contiene compuestos activos que apoyan la función hepática normal y los niveles normales de glucosa.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-8.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Fenugreek</p>
                      <p class="ingredient-description">Es rico en fibras especiales que apoyan la producción, liberación y uso de señales del páncreas. ¡También mantiene una tasa saludable de absorción de carbohidratos en el sistema digestivo!</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ingredient">
                    <img src="{{ "ingredients-9.png" | asset_url }}" alt="" loading="lazy">
                    <div class="ingredient-content">
                      <p class="ingredient-title">Gimnema silvestre</p>
                      <p class="ingredient-description">¡Corta a través de los antojos de carbohidratos! Esta planta también se conoce como “gurmar”, que significa “destructor de azúcar”. Contiene moléculas de forma similar a la glucosa, por lo que llenan los receptores de azúcar en las papilas gustativas, lo que reduce los antojos y mantiene la absorción de carbohidratos a un ritmo saludable.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next swiper-nav"></div>
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Hay algún descuento si pido más de una botella?</div>
          <div class="answer">
            <div class="answer-content">¡Sí! Puedes ahorrar sustancialmente si pides un paquete de 3 CuraLin's. Consulte la sección de precios de esta página para obtener más información.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Cómo recupero mi dinero de acuerdo con su política de devolución?</div>
          <div class="answer">
            <div class="answer-content">¡Fácil! Tenemos una política de no hacer preguntas. Simplemente envíenos un mensaje a hello@curalife.com, o llame a nuestro soporte telefónico 24/7 y nos ocuparemos de su solicitud:
            <br>Número gratuito en el Reino Unido: +44 800 086 9122 Número gratuito en
            <br>EE. UU.: +1 888 286 7307
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">Cuanto tiempo tarda el envio?</div>
          <div class="answer">
            <div class="answer-content">Recibirá un número de seguimiento tan pronto como se envíe su pedido para que pueda ver exactamente dónde está su paquete. La mayoría de los pedidos en los EE. UU. continentales llegan entre 2 y 5 días después de realizar el pedido (según el lugar de los EE. UU. donde viva). Los pedidos desde el Reino Unido tardan una media de 7-8 días en llegar. Los pedidos desde Australia y la región de Asia Pacífico pueden demorar un poco más. Nuestra política oficial es que el envío puede demorar entre 7 y 28 días hábiles, pero eso se debe a la incertidumbre de los tiempos de envío en estos días. Su pedido casi siempre llegará mucho más rápido que eso, y su número de seguimiento siempre lo mantendrá actualizado.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Podré rastrear mi pedido?</div>
          <div class="answer">
            <div class="answer-content">¡Sí! Cada pedido de CuraLin viene con un número de seguimiento. Podrá ver dónde está su paquete en cualquier momento, desde el momento en que se envía hasta el momento en que llega a su casa.</div>
          </div>
        </div>
        <div class="faq-item">
          <div class="question">¿Puedo comprar CuraLin en farmacias y supermercados?</div>
          <div class="answer">
            <div class="answer-content">Todavía estamos trabajando para que CuraLin esté en los estantes de las principales farmacias de EE. UU. Eso es parte de nuestro plan 2022. Por ahora, el mejor lugar para ordenar CuraLin es en línea, ¡aunque esta página!
            <br>A nivel internacional, CuraLin ya se vende a través de canales en más de 50 países, incluidos el Reino Unido, Italia, Austria y otros estados miembros de la UE.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-us-section">
    <div class="container">
      <h2>Estamos aquí para usted 24/7.<br>
      Póngase en contacto en cualquier momento.</h2>
      <div class="contact-options">
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ "icon-live-chat.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Chat en vivo</p>
        </div>
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ "icon-phone-support.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Soporte telefónico</p>
        </div>
        <div class="contact-option">
          <div class="img-wrapper"><img src="{{ "icon-email.png" | asset_url }}" alt="" loading="lazy"></div>
          <p>Correo electrónico</p>
        </div>
      </div>
      <div class="phone-numbers">
        <div class="phone-number">
          <img src="{{ "icon-flag-uk.png" | asset_url }}" alt="" loading="lazy">
          <a href="tel:+448000869122"><p>Número gratuito en el Reino Unido: +44 800 086 9122</p></a>
        </div>
        <div class="phone-number">
          <img src="{{ "icon-flag-us.png" | asset_url }}" alt="" loading="lazy">
          <a href="tel:+18882867307"><p>Número gratuito en EE. UU.: +1 888 286 7307</p></a>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // Back To Top Button
  var btn = $('#back-to-top-btn');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 600) {
      btn.addClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 60px !important');
      }
    } 
    else {
      btn.removeClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 4px !important');
      }
    }
  });

  btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });

  // Check Radio Button on Variant Box Click
  $(".variant-box").click(function() {
    $(this).find('input[type=radio]').prop('checked', true);
    $("#productVaraintSelected").prop('value', $(this).find('input[type=radio]')[0].value);

    // Save Text Change
    let saveText = "Ahorras " + $('input[name=pack]:checked', '#CTAForm').attr('save') + "%";
    $('#save').animate({'opacity': 0}, 800, function () {
      $(this).text(saveText);
    }).animate({'opacity': 1}, 800);
  })

  $( document ).ready(function() {
    $(".variant-box").last().trigger( "click" );
  });

  // Buy Button Functionality
  $("#buy-button").click(function() {
    let checkedPack = $('input[name=pack]:checked', '#CTAForm').val();
    let checkedQuantity = $('input[name=quantity]', '#CTAForm').val();

    $.ajax({
      type: "POST",
      url: '/cart/clear.js',
      dataType: 'json',
      success: function(){
        $.post('/cart/add.js', {
          id: checkedPack,
          quantity: checkedQuantity,
          properties: {
            "_sc": (typeof window.ShipScoutLineItemProperty !== 'undefined' ? window.ShipScoutLineItemProperty : "")
          }
        }, function() {window.location = '/checkout?locale=es'});
      },
      error: function(){
        alert("Error: Could not clear cart.");
      }
    });
  })

  // Fade Quotes
  var quotes = $(".quote");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length).fadeIn(1000).delay(2000).fadeOut(1000, showNextQuote);
  }

  // CTA Button Color Change on Hover
  $(function() {
    $('.main-btn').hover(function() {
      $('.qty-control').css('border-color', '#AF5B35');
    }, function() {
      // on mouseout, reset the background colour
      $('.qty-control').css('border-color', '#d07c5b');
    });
  });

  // FAQ
  const accordionItemHeaders = document.querySelectorAll(".question");

  accordionItemHeaders.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {
      accordionItemHeader.classList.toggle("active");
      const accordionItemBody = accordionItemHeader.nextElementSibling;
      if(accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      }
      else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });

  showNextQuote();
</script>

<script>
  // Change Quantity Widget On Product Page
  $(document).on("click", ".submit-wrap .qty-control a", function (e) {
        e.preventDefault();
        let newVal, $button = $(this),
            inputObj = $button.closest(".qty-control").find("input"),
            oldValue = inputObj.val();
        if ($button.attr('data-act') === "+") {
            newVal = parseInt(oldValue) + 1;
        } 
        else {
            newVal = parseInt(oldValue) - 1;
        }

        inputObj.val(newVal);
    });
</script>

<script>
  $(document).on("click", ".variant-box", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'variant-click', 
      'label': $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
    });
  });

  $(document).on("click", "#buy-button", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',    
      ecommerce: {                          
      items: [{       
        item_name: '{{ product.title }}',      
        item_id: $('input[name=pack]:checked', '#CTAForm').attr('sku'), 
        affiliation: '{{ shop.name }}',
        price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',            
        item_category: 'CuraLin',         
        quantity: parseInt($(".qty-control input").val())
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      product_name: '{{ product.title }}',
      product_price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ product.title }}',
        affiliation: '{{ shop.name }}',
        price: '',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>

<style>
  body {
    padding-top: 0 !important;
  }

  .ingredients-section {
    background-color: #f0f0f0;
  }

  .ingredients-section h2 {
    max-width: 600px;
    font-weight: 400;
  }

@media screen and (max-width: 760px) {
  .grecaptcha-badge {
    display: none !important;
  }
  
  .transcy-switcher-container {
    bottom: 65px !important;
    transition: bottom 0.5s;
  }

  .helpButton {
    bottom: 4px !important;
    z-index: 1000;
    transition: bottom 0.5s;
  }

  .helpButton .helpButtonEnabled {
    min-width: unset;
    min-height: unset;
    width: 50px;
    font-size: 20px !important;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
    background-color: #c78262 !important;
    box-shadow: unset !important;
  }

  .embeddedServiceHelpButton .uiButton .helpButtonLabel {
    display: none;
  }

  .helpButton .helpButtonEnabled .embeddedServiceIcon {
    margin: 0;
  }

  .embeddedServiceHelpButton .helpButton .uiButton:focus {
    outline: unset !important;
  }

  .ingredients-section {
    background-color: unset;
  }
}
</style>

<script>
  productThumbsAllInOne = new Swiper('#product-thumbs-slider-sc', {
    slidesPerView: 4,
    spaceBetween: 10,
    watchSlidesVisibility: true,
    grabCursor: true,
    loop: false,
    navigation: {
      nextEl: '#product-thumbs-slider-nav-next',
      prevEl: '#product-thumbs-slider-nav-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        slidesPerView: 1,
      },
      1080: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 3,
      },
      1400: {
        slidesPerView: 4,
      }
    }
  });

  productSliderAllInOne = new Swiper('#product-main-slider-sc', {
    slidesPerView: 1,
    spaceBetween: 15,
    centeredSlides: true,
    watchSlidesVisibility: false,
    loop: false,
    slideToClickedSlide: true,
    thumbs: {swiper: productThumbsAllInOne},
    breakpoints: {
      0: {
        pagination: {
          el: '.product-slider .swiper-pagination',
          clickable: 'true',
          type: 'bullets',
        },
        navigation: {
          nextEl: '#product-main-slider-nav-next',
          prevEl: '#product-main-slider-nav-prev',
          disabledClass: 'disabled'
        }
      },
      760: {
        pagination: {},
        navigation: {}
      }
    }
  });

  productSliderAllInOne.on('slideChange', function () {
    $('iframe#product-video-iframe').attr( 'src', function ( i, val ) { return val; });
  });

  let isFirstClick = true;
  jQuery(".variant-box").click(function() {
    if (isFirstClick) {
      isFirstClick = false;
    }
    else {
      // Slide to Variant Image
      let slideIndex = productSliderAllInOne.slides.length - jQuery('input[name=pack]:checked', '#CTAForm').attr('index');
      productSliderAllInOne.slideTo(slideIndex);
    }
  });

  reviewsSliderAllInOne = new Swiper('.product-template-all-in-one .reviews-section .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    watchSlidesVisibility: false,
    centeredSlides: true,
    loop: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.reviews-section .swiper-button-next',
      prevEl: '.reviews-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    breakpoints: {
      760: {
        slidesPerView: 3,
      },
      1200: {
        slidesPerView: 5,
      }
    }
  });

  faqIngredientsMainSliderAllInOne = new Swiper('.product-template-all-in-one .faq-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.faq-section .swiper-button-next',
      prevEl: '.faq-section .swiper-button-prev',
      disabledClass: 'disabled'
    }
  });
</script>