{% if section.settings.display_on_pages != blank %}
	{% assign isDisplayOnThisPage = false %}
	{% assign displayOnPagesArray = section.settings.display_on_pages | split: ',' %}
	{% assign currentPath = request.path %}

	{% for pagePath in displayOnPagesArray %}
		{% assign cleanPath = pagePath | strip %}
		{% if currentPath == cleanPath %}
			{% assign isDisplayOnThisPage = true %}
			{% break %}
		{% endif %}
	{% endfor %}

	{% unless isDisplayOnThisPage %}
		{% assign hideSection = true %}
	{% endunless %}
{% endif %}

{% if section.settings.display_on_url_param %}
	{% assign hideSection = false %}
{% endif %}

{% unless hideSection %}
	{% assign sectionIDParts = section.id | split: '_' %}
	{% assign shortSectionID = sectionIDParts[-1] %}
	{% assign shortSectionIDParts = shortSectionID | split: '-' %}
	{% assign SID = shortSectionIDParts[-1] %}

	{% if shop.name contains 'Global' and section.settings.product_global %}
		{% assign prodReference = all_products[section.settings.product_global] | default: section.settings.product | default: product %}
	{% else %}
		{% assign prodReference = section.settings.product | default: product | default: all_products['curalin-pack'] %}
	{% endif %}

	{% assign buyBoxColor = prodReference.metafields.custom.primary_color | default: section.settings.buy_box_color | default: page.metafields.primary_color | default: 'var(--primary-color)' %}

	<div id="cta-section-anchor"></div>
	{% if section.settings.anchor_id != blank %}<div id="{{ section.settings.anchor_id }}"></div>{% endif %}

	<section
		id="cta-section-{{ SID }}"
		class="cta-section overflow-visible {{ section.settings.additional_classes }}{% if section.settings.is_popup %} cta-popup{% endif %}"
		{% if section.settings.is_popup %}
			aria-hidden="true"
			style="opacity: 0; visibility: hidden; pointer-events: none;"
		{% endif %}>
		{% if section.settings.is_popup %}
			<div class="cta-popup-content" role="dialog" aria-modal="true" aria-labelledby="popup-title">
				<a class="close-popup top-close" aria-label="Close Popup">&times;</a>
		{% endif %}

		{% if section.settings.cta_template == 'subscription' and false %}
			{% render 'buy-box',
				buyboxType: section.settings.cta_template,
				buyboxName: section.settings.buybox_name,
				ctaColor: 'var(--orange)',
				mainTitle: section.settings.main_title,
				subtitle: section.settings.subtitle,
				variantsTitle: section.settings.variants_title,
				ctaText: section.settings.cta_text,
				thumbnailImage: section.settings.thumbnail_image,
				thumbnailImageMobile: section.settings.thumbnail_image_mobile,
				defaultSelectionIndex: section.settings.default_selection_index,
				thumbs: section.settings.thumbs,
				pricePer: section.settings.price_per,
				priceFormat: section.settings.price_format,
				saveFormat: section.settings.save_format,
				badgeImage: section.settings.badge_image,
				titleTag: section.settings.title_tag,
				isShowReviews: section.settings.is_reviews,
				isProductThumbs: section.settings.is_product_thumbs,
				isHideThumbs: section.settings.is_hide_thumbs,
				isHideInfo: section.settings.is_hide_info,
				isBuyWithPrime: section.settings.is_buy_with_prime,
				isOneTimePurchaseLink: section.settings.is_one_time_purchase_link,
				isOneTimeGift: section.settings.is_one_time_gift,
				isSlideVariant: section.settings.is_slide_variant,
				buyType: section.settings.buy_type,
				prod: prodReference,
				blocks: section.blocks,
				SID: SID
			%}
		{% else %}
			{% render 'product-cta',
				buyboxType: section.settings.cta_template,
				buyboxName: section.settings.buybox_name,
				ctaColor: 'var(--orange)',
				mainTitle: section.settings.main_title,
				subtitle: section.settings.subtitle,
				variantsTitle: section.settings.variants_title,
				variantsNotice: section.settings.variants_notice,
				ctaText: section.settings.cta_text,
				thumbnailImage: section.settings.thumbnail_image,
				thumbnailImageMobile: section.settings.thumbnail_image_mobile,
				defaultSelectionIndex: section.settings.default_selection_index,
				thumbs: section.settings.thumbs,
				pricePer: section.settings.price_per,
				priceFormat: section.settings.price_format,
				saveFormat: section.settings.save_format,
				badgeImage: section.settings.badge_image,
				titleTag: section.settings.title_tag,
				isShowReviews: section.settings.is_reviews,
				isProductThumbs: section.settings.is_product_thumbs,
				isHideThumbs: section.settings.is_hide_thumbs,
				isHideInfo: section.settings.is_hide_info,
				isBuyWithPrime: section.settings.is_buy_with_prime,
				isOneTimePurchaseLink: section.settings.is_one_time_purchase_link,
				isOneTimeGift: section.settings.is_one_time_gift,
				isSlideVariant: section.settings.is_slide_variant,
				buyType: section.settings.buy_type,
				prod: prodReference,
				blocks: section.blocks,
				SID: SID
			%}
		{% endif %}

		{% if section.settings.is_popup %}
			<a class="close-popup bottom-close" aria-label="Close Popup" name="close-cta-modal">Close</a>
			</div>
		{% endif %}
	</section>

	<script>
		(() => {
			const section = document.getElementById('cta-section-{{ SID }}');
			if (!section) return;

			const params = new URLSearchParams(window.location.search);
			const ctaParam = params.get('cta') === 'true';

			if (ctaParam) {
				document.querySelectorAll('.hide-on-cta').forEach(el => el.remove());
			}

			if ({{ section.settings.display_on_url_param | json }} && !ctaParam) {
				section.remove();
			}
		})();
	</script>

	<script>
		window.addEventListener('load', function () {
			var _learnq = window._learnq || [];
			var item = {};
			function addedToCart() {
				fetch(`${window.location.origin}/cart.js`).then(res =>
					res
						.clone()
						.json()
						.then(data => {
							var cart = {
								total_price: data.total_price / 100,
								$value: data.total_price / 100,
								total_discount: data.total_discount,
								original_total_price: data.original_total_price / 100,
								items: data.items
							};
							if (item !== 'undefined') {
								cart = Object.assign(cart, item);
							}

							if (klAjax) {
								_learnq.push(['track', 'Added to Cart', cart]);
								klAjax = false;
							}
						})
				);
			}

			document.addEventListener('ajax:success', function (event) {
				var xhr = event.detail[2];
				if (xhr.responseURL.includes('/cart/add.js')) {
					addedToCart();
				}
			});

			var klAjax = true;
			var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
			for (var i = 0; i < atcButtons.length; i++) {
				atcButtons[i].addEventListener('click', function () {
					if (klAjax) {
						_learnq.push(['track', 'Added to Cart', item]);
						klAjax = false;
					}
				});
			}
		});
	</script>

	<style>
		#cta-section-{{ SID }}  {
			--primary: {{ buyBoxColor | default: 'var(--curalin)' }};
			--cta-button-color: {{ section.settings.cta_color | default: 'var(--primary-color)' }};

			background-color: {{ section.settings.bg_color | default: 'var(--white)' }};
		}
	</style>

	<style>
		#section-{{ section.id }} {
			{% if section.settings.padding_top != blank and section.settings.padding_top != 50 %}
				padding-top: {{ section.settings.padding_top }}px;
			{% endif %}

			{% if section.settings.padding_bottom != blank and section.settings.padding_bottom != 50 %}
				padding-bottom: {{ section.settings.padding_bottom }}px;
			{% endif %}

			@media screen and (max-width: 768px) {
				{% if section.settings.padding_top_mobile != blank %}
					padding-top: {{ section.settings.padding_top_mobile }}vw;
				{% endif %}

				{% if section.settings.padding_bottom_mobile != blank %}
					padding-bottom: {{ section.settings.padding_bottom_mobile }}vw;
				{% endif %}
			}
		}
	</style>

	{% if section.settings.is_popup %}
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const popup = document.getElementById('cta-section-{{ SID }}');
				const popupContent = popup.querySelector('.cta-popup-content');
				const closeButtons = popup.querySelectorAll('.close-popup');
				const focusableElementsString =
					'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable]';
				let focusableElements = [];
				let firstFocusableElement = null;
				let lastFocusableElement = null;

				const togglePopup = show => {
					if (show) {
						popup.setAttribute('aria-hidden', 'false');
						popup.classList.add('show');
						focusableElements = popupContent.querySelectorAll(focusableElementsString);
						firstFocusableElement = focusableElements[0];
						lastFocusableElement = focusableElements[focusableElements.length - 1];
						firstFocusableElement.focus();
						document.addEventListener('keydown', trapTabKey);
						document.addEventListener('keydown', handleEscape);
						document.body.style.overflow = 'hidden';
					} else {
						popup.setAttribute('aria-hidden', 'true');
						popup.classList.remove('show');
						document.removeEventListener('keydown', trapTabKey);
						document.removeEventListener('keydown', handleEscape);
						document.body.style.overflow = '';
					}
				};

				const trapTabKey = e => {
					if (e.keyCode === 9) {
						if (e.shiftKey) {
							if (document.activeElement === firstFocusableElement) {
								e.preventDefault();
								lastFocusableElement.focus();
							}
						} else {
							if (document.activeElement === lastFocusableElement) {
								e.preventDefault();
								firstFocusableElement.focus();
							}
						}
					}
				};

				const handleEscape = e => {
					if (e.key === 'Escape' || e.keyCode === 27) {
						togglePopup(false);
					}
				};

				document.querySelectorAll('a[href="#cta-popup"]').forEach(el =>
					el.addEventListener('click', e => {
						e.preventDefault();
						togglePopup(true);
					})
				);

				closeButtons.forEach(button => {
					button.addEventListener('click', () => togglePopup(false));
				});

				popup.addEventListener('click', e => {
					if (e.target === popup) togglePopup(false);
				});
			});
		</script>

		<style>
			#cta-section-{{ SID }} {
				.buy-box {
					padding: 0 !important;
				}

				.cta-popup {
					position: fixed;
					inset: 0;
					background-color: rgba(0, 0, 0, 0.5);
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 1000;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					transition: opacity 0.3s ease, visibility 0s linear 0.3s;

					&.show {
						opacity: 1 !important;
						visibility: visible !important;
						pointer-events: auto !important;
						transition-delay: 0s;

						.cta-popup-content {
							transform: translateY(0);
							opacity: 1;
						}
					}

					.cta-popup-content {
						background-color: #fff;
						padding: 30px;
						border-radius: 8px;
						position: relative;
						max-width: 1200px;
						width: 90%;
						max-height: 90%;
						box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
						transform: translateY(-20px);
						opacity: 0;
						transition: opacity 0.3s ease, transform 0.3s ease;
						overflow-y: auto;

						&::-webkit-scrollbar {
							width: 6px;
						}

						&::-webkit-scrollbar-thumb {
							background-color: rgba(0, 0, 0, 0.2);
							border-radius: 3px;
						}
					}

					.close-popup {
						cursor: pointer;
						color: #333;

						&:hover {
							color: #000;
						}

						&:focus {
							outline: 2px solid #000;
						}

						&.top-close {
							position: absolute;
							top: 15px;
							right: 15px;
							font-size: 24px;
							background: none;
							border: none;
						}

						&.bottom-close {
							display: block;
							margin-top: 20px;
							text-align: center;
							font-size: 16px;
							background: none;
							border: none;
							text-decoration: underline;
						}
					}
				}

				@media (max-width: 768px) {
					.cta-popup {
						.cta-popup-content {
							width: 100%;
							height: 100%;
							max-width: none;
							max-height: none;
							border-radius: 0;
							padding: 20px;
							transform: none
						}
					}
				}
			}
		</style>
	{% endif %}
{% endunless %}

{% schema %}
	{
		"name": "Buy Box",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "header",
				"content": "Product Settings"
			},
			{
				"type": "product",
				"id": "product",
				"label": "Product"
			},
			{
				"type": "text",
				"id": "product_global",
				"label": "Product on Global (handle)",
				"info": "If set, will use this product on Global store"
			},
			{
				"type": "header",
				"content": "Buy Box Settings"
			},
			{
				"type": "select",
				"id": "cta_template",
				"label": "Buy Box Type",
				"options": [
					{ "value": "basic", "label": "Basic" },
					{ "value": "subscription", "label": "Subscription" },
					{ "value": "subscription-2", "label": "Subscription 2" },
					{ "value": "subscription-3", "label": "Subscription 2" },
					{ "value": "2024-new", "label": "Subscription New" },
					{ "value": "2024-new-gift", "label": "Subscription New With Gift" },
					{ "value": "2024-new-gift-two", "label": "Subscription New With Two Gifts" },
					{ "value": "2024-new-2", "label": "Subscription New 2" },
					{ "value": "2024-new-3", "label": "Subscription New 3" },
					{ "value": "2024-new-4", "label": "Subscription New 4" },
					{ "value": "2024-new-4-gift", "label": "Subscription New 4 With Gift" }
				],
				"default": "2024-new"
			},
			{
				"type": "text",
				"id": "buybox_name",
				"label": "Buy Box Name"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			},
			{
				"type": "color",
				"id": "buy_box_color",
				"label": "Buy Box Main Color",
				"default": "#3A7684"
			},
			{
				"type": "color",
				"id": "cta_color",
				"label": "CTA Color"
			},
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "text",
				"id": "main_title",
				"label": "Main Title"
			},
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "variants_title",
				"label": "Variants Title"
			},
			{
				"type": "text",
				"id": "variants_notice",
				"label": "Variants Notice"
			},
			{
				"type": "richtext",
				"id": "cta_text",
				"label": "CTA Text"
			},
			{
				"type": "header",
				"content": "Images"
			},
			{
				"type": "image_picker",
				"id": "thumbnail_image",
				"label": "Main Thumbnail Image"
			},
			{
				"type": "image_picker",
				"id": "thumbnail_image_mobile",
				"label": "Main Thumbnail Image on Mobile"
			},
			{
				"type": "image_picker",
				"id": "badge_image",
				"label": "Badge Image"
			},
			{
				"type": "header",
				"content": "Purchase Configuration"
			},
			{
				"type": "select",
				"id": "buy_type",
				"label": "Buy Type",
				"options": [
					{ "value": "add_to_cart", "label": "Add to Cart" },
					{ "value": "buy_now", "label": "Buy Now" }
				],
				"default": "add_to_cart"
			},
			{
				"type": "select",
				"id": "price_format",
				"label": "Price Format",
				"options": [
					{ "value": "total", "label": "Total" },
					{ "value": "per_bottle", "label": "Per Bottle" }
				],
				"default": "total"
			},
			{
				"type": "select",
				"id": "price_per",
				"label": "Price Per",
				"options": [
					{ "value": "dont_split", "label": "Do not Split" },
					{ "value": "month", "label": "Month" },
					{ "value": "bottle", "label": "Bottle" }
				],
				"default": "dont_split"
			},
			{
				"type": "select",
				"id": "save_format",
				"label": "Save Format",
				"options": [
					{ "value": "percentage", "label": "Percentage" },
					{ "value": "money", "label": "Money" }
				],
				"default": "percentage"
			},
			{
				"type": "header",
				"content": "Display Settings"
			},
			{
				"type": "select",
				"id": "title_tag",
				"label": "Title Tag",
				"options": [
					{ "value": "h1", "label": "H1" },
					{ "value": "h2", "label": "H2" }
				],
				"default": "h1"
			},
			{
				"type": "number",
				"id": "default_selection_index",
				"label": "Default Selection Index",
				"default": 1
			},
			{
				"type": "header",
				"content": "Features"
			},
			{
				"type": "select",
				"id": "thumbs",
				"label": "Thumbs",
				"options": [
					{ "value": "horizontal", "label": "Horizontal" },
					{ "value": "vertical", "label": "Vertical" },
					{ "value": "none", "label": "None" }
				],
				"default": "horizontal"
			},
			{
				"type": "checkbox",
				"id": "is_reverse",
				"label": "Reverse Variants"
			},
			{
				"type": "checkbox",
				"id": "is_reviews",
				"label": "Show Reviews"
			},
			{
				"type": "checkbox",
				"id": "is_save_title",
				"label": "Show Save Title"
			},
			{
				"type": "checkbox",
				"id": "is_product_thumbs",
				"label": "Show Product Images on Thumbs",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "is_hide_thumbs",
				"label": "Is Hide Thumbs"
			},
			{
				"type": "checkbox",
				"id": "is_hide_info",
				"label": "Is Hide Product Info"
			},
			{
				"type": "checkbox",
				"id": "is_buy_quantity",
				"label": "Quantity Selector"
			},
			{
				"type": "checkbox",
				"id": "is_buy_with_prime",
				"label": "Show Buy with Prime"
			},
			{
				"type": "checkbox",
				"id": "is_popup",
				"label": "Display as Popup"
			},
			{
				"type": "checkbox",
				"id": "is_one_time_purchase_link",
				"label": "Show One Time Purchase Link"
			},
			{
				"type": "checkbox",
				"id": "is_one_time_gift",
				"label": "Gift On One Time Purchase"
			},
			{
				"type": "checkbox",
				"id": "is_slide_variant",
				"label": "Slide To Variant On Click",
				"default": true
			},
			{
				"type": "header",
				"content": "Padding"
			},
			{
				"type": "number",
				"id": "padding_top",
				"label": "Padding Top (px unit)",
				"default": 50
			},
			{
				"type": "number",
				"id": "padding_bottom",
				"label": "Padding Bottom (px unit)",
				"default": 50
			},
			{
				"type": "number",
				"id": "padding_top_mobile",
				"label": "Padding Top on Mobile (vw unit)"
			},
			{
				"type": "number",
				"id": "padding_bottom_mobile",
				"label": "Padding Bottom on Mobile (vw unit)"
			},
			{
				"type": "header",
				"content": "Advanced Display"
			},
			{
				"type": "text",
				"id": "anchor_id",
				"label": "Anchor ID"
			},
			{
				"type": "text",
				"id": "additional_classes",
				"label": "Additional Classes"
			},
			{
				"type": "text",
				"id": "display_on_pages",
				"label": "Display on Pages",
				"info": "Comma-separated list of page paths to display this section on. Leave blank to display on all pages."
			},
			{
				"type": "checkbox",
				"id": "display_on_url_param",
				"label": "Display Only on cta=true URL Param"
			}
		],
		"blocks": [
			{
				"type": "@app"
			},
			{
				"type": "variant",
				"name": "Variant",
				"settings": [
					{
						"type": "header",
						"content": "Variant Configuration"
					},
					{
						"type": "text",
						"id": "variant_id",
						"label": "Variant ID"
					},
					{
						"type": "text",
						"id": "variant_id_global",
						"label": "Variant ID on Global"
					},
					{
						"type": "select",
						"id": "purchase_type",
						"label": "Purchase Type",
						"options": [
							{ "value": "subscribe", "label": "Subscribe" },
							{ "value": "buyonce", "label": "Buy Once" }
						],
						"default": "buyonce"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Variant Title"
					},
					{
						"type": "text",
						"id": "variant_description",
						"label": "Variant Description"
					},
					{
						"type": "text",
						"id": "variant_second_description",
						"label": "Variant Second Description"
					},
					{
						"type": "text",
						"id": "save_text",
						"label": "Save Text"
					},
					{
						"type": "text",
						"id": "badge_text",
						"label": "Badge Text"
					},
					{
						"type": "text",
						"id": "reveal_on_paths",
						"label": "Paths to Reveal",
						"info": "Comma separated list of paths to reveal this variant on. If empty, variant will be shown on all pages. Example: /products/product-handle"
					},
					{
						"type": "color",
						"id": "box_color",
						"label": "Variant Box Color"
					}
				]
			},
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "product_img",
						"label": "Product Image"
					}
				]
			},
			{
				"type": "video",
				"name": "Video",
				"settings": [
					{
						"type": "text",
						"id": "vimeo_video_id",
						"label": "Vimeo Video ID"
					},
					{
						"type": "image_picker",
						"id": "video_thumbnail",
						"label": "Video Thumbnail"
					}
				]
			},
			{
				"type": "gift",
				"name": "Gift",
				"settings": [
					{
						"type": "header",
						"content": "Gift Configuration"
					},
					{
						"type": "image_picker",
						"id": "gift_thumbnail",
						"label": "Gift Thumbnail"
					},
					{
						"type": "product",
						"id": "gift_product",
						"label": "Gift Product"
					},
					{
						"type": "text",
						"id": "variant_id",
						"label": "Variant ID (if not set, will use the first variant)"
					},
					{
						"type": "product",
						"id": "gift_product_subscription",
						"label": "Gift Product on Subscription (optional)"
					},
					{
						"type": "text",
						"id": "variant_id_subscription",
						"label": "Variant ID on Subscription (if not set, will use the first variant)"
					},
					{
						"type": "select",
						"id": "show_on",
						"label": "Show On",
						"options": [
							{ "value": "both", "label": "Both" },
							{ "value": "us", "label": "US" },
							{ "value": "global", "label": "Global" }
						],
						"default": "both"
					},
					{
						"type": "text",
						"id": "description",
						"label": "Gift Description"
					}
				]
			},
			{
				"type": "faq",
				"name": "FAQ",
				"settings": [
					{
						"type": "header",
						"content": "FAQ Configuration"
					},
					{
						"type": "text",
						"id": "question",
						"label": "Question"
					},
					{
						"type": "richtext",
						"id": "answer",
						"label": "Answer"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Buy Box"
			}
		]
	}
{% endschema %}
