<div id="supplement-page">
  {% render 'curalin-ingredients-section', product: product %}
</div>

<script>
  {% assign first_variant = product.variants | first %}
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: '{{ first_variant.sku }}',
        affiliation: '{{ shop.name }}',
        price: '{{ first_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'Curalife',
        item_category: 'CuraLin',
        quantity: 1
      }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>