{% layout 'theme.lps' %}

{% render 'script.round-converted-currency' %}

<div class="product-template-all-in-one">
  {% comment %} {% render 'sale-banner', isOnlyLogo: true, desktopContent: "logo", mobileContent: "logo", bgColor: "#404733", logoFileName: "logo-white-black-friday.png" %} {% endcomment %}
  {% render 'product-all-in-one-cta-section-thirty-days', badgesPosition: "cta", badgesContent: "free-shipping,money-back,secure-checkout", isBadges: true, isThirtyDay: true %}
  {% render 'thirty-day-product-challenge-section', isThirtyDay: true %}
  {% render 'product-all-in-one-take-control', ctaTitle: "Join the Challenge!" %}
  {% render 'product-all-in-one-easy', ctaTitle: "Join the Challenge!" %}
  {% render 'thirty-day-commitement' %}
  {% render 'product-all-in-one-how-it-works' %}
  {% comment %} {% render 'product-thirty-day-video-reviews' %} {% endcomment %}
  {% render 'lps-video-reviews', maintitle: 'Customers Reviews Of CuraLin' %}
  {% render 'product-all-in-one-thirty-day-money-back' %}
  {% render 'product-back-to-top-button', isThirtyDay: true, ctaTitle: "Join the Challenge!", textColor: "#404733" %}
</div>

<style>
  .product-template-all-in-one {
    background: #f7f7f7
  }
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
    items: [{
      item_name: '{{ product.title }}',
      item_id: '{{ product.selected_or_first_available_variant.sku }}',
      affiliation: '{{ shop.name }}',
      price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
      currency: '{{ shop.currency }}',
      item_brand: 'CuraLife',
      item_category: 'CuraLin',
      quantity: 1
    }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>