{% assign isGlobal = false %}
{% if shop.name contains 'Global' %}
	{% assign isGlobal = true %}
{% endif %}

<section id="supplement-info-{{ section.id }}" class="supplement-info overflow-visible">
  <div class="container">
    <div class="titles mbl:text-center">
      <h2 class="mb-2 text-white">{{ section.settings.title }}</h2>
      <p class="text-[22px]">{{ section.settings.subtitle }}</p>
    </div>

    <div class="tabs">
      <div class="tab active">Overview</i></div>
      <div class="tab">Ingredients</i></div>
      {% if section.settings.faq_product != blank %}<div class="tab">FAQ</i></div>{% endif %}
    </div>

    <div class="content-wrapper">
      <div class="content overview active">
        <div class="wrapper mbl:flex-col-reverse flex items-center">
          <div class="text-content max-w-[60%] mbl:max-w-full">{{ section.settings.content }}</div>
					{% if isGlobal %}
						{% assign imgSrc = section.settings.overview_image_global %}
					{% else %}
						{% assign imgSrc = section.settings.overview_image %}
					{% endif %}

          {% if section.settings.overview_image %}
						{% render 'image-test',
            image: imgSrc,
						is_retina: true,
						is_log: true,
						load_mobile: true,
						max_width: 590,
            lazy: true,
            alt: section.settings.overview_image.alt,
            class: 'absolute right-0 bottom-[-50px] mbl:static mbl:max-w-[75%]'
          %}
          {% endif %}
        </div>
      </div>

      <div class="content ingredients">
        {% render 'responsive-image', img: section.settings.ingredients_image, img_mobile: section.settings.ingredients_image_mobile, classes: "mbl:w-full block w-fit" %}
      </div>

      {% if section.settings.faq_product != blank %}
        <div class="content faq">
          {% render 'product-faq-section', section_id: section.id, is_allow_one_open: true, titles_color: "white", data_type: "json", faqItems: section.settings.faq_product.metafields.custom.faq.value %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tabs = document.querySelectorAll('#supplement-info-{{ section.id }} .tab');
    const contents = document.querySelectorAll('#supplement-info-{{ section.id }} .content');

    tabs.forEach(function(tab, index) {
      tab.addEventListener("click", function() {
        tabs.forEach(t => t.classList.remove('active'));
        tab.classList.add('active');

        const activeContent = document.querySelector('#supplement-info-{{ section.id }} .content.active');
        if (activeContent) {
          activeContent.style.opacity = 0;
          setTimeout(() => {
            activeContent.classList.remove('active');
            activeContent.style.display = "none";

            const newContent = contents[index];
            newContent.style.display = "block";
            setTimeout(() => {
              newContent.style.opacity = 1;
              newContent.classList.add('active');
            }, 10);
          }, 300);
        }
      });
    });
  });
</script>

<style>
  #supplement-info-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};

    a:has(button) {
      display: flex;
      bottom: -80px;
      position: relative;
      z-index: 9999;
      justify-content: center;

      button {
        color: black;
        background: var(--orange);
      }
    }

    .tabs {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;

      .tab {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        text-align: center;
        padding: 1rem;
        background-color: {{ section.settings.background_color }};
        color: white;
        width: 200px;
        border-radius: 30px;
        border-color: white;
        border-width: 1px;
        transition: background-color 0.3s ease-in-out;

        &.active,
        &:hover {
          cursor: pointer;
          background-color: var(--light-blue);
          color: {{ section.settings.background_color }};
          font-weight: bold;
        }
      }
    }

    .content-wrapper {
      .content {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        display: none;
        position: relative;

        &.active {
          display: block;
        }

        ul {
          li {
            &:before {
              background: {{ section.settings.titles_color }};
            }

            strong {
              color: {{ section.settings.titles_color }};
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #supplement-info-{{ section.id }} {
      .tabs {
        gap: 0.5rem;

        .tab {
          font-size: 4vw;
        }
      }

      a:has(button) {
        bottom: -17vw;
      }
    }
  }
</style>

{% schema %}
  {
      "name": "Supplement Info 2",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "titles_color",
          "label": "Titles Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Titles Color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "overview_image",
          "label": "Overview Image"
        },
				{
					"type": "image_picker",
					"id": "overview_image_global",
					"label": "Overview Image Global"
				},
        {
          "type": "image_picker",
          "id": "ingredients_image",
          "label": "Ingredients Image"
        },
        {
          "type": "image_picker",
          "id": "ingredients_image_mobile",
          "label": "Ingredients Image Mobile"
        },
        {
          "type": "product",
          "id": "faq_product",
          "label": "FAQ From Product"
        }
      ],
      "presets": [
      {
          "name": "Supplement Info 2"
      }
    ]
  }
{% endschema %}