{% if product.handle == 'curalin-wholesale' %}
  <section id="wholesale-products-{{ section.id }}">
    <div class="container">
      <h4 class="text-center">{{ section.settings.title }}</h4>

      <div class="products flex flex-wrap justify-center gap-8">
        {% for prod in section.settings.wholesale_products %}
          <div class="product flex w-[400px] gap-4 p-2 items-center" data-product-id="{{ prod.id }}">
            <div class="left w-[25%]">
              <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
            </div>

            <div class="right w-[75%] mbl:w-fit">
              <h6>{{ prod.title }}</h6>
              <p>{{ prod.price | money }}</p>

              <div class="submit-wrap flex flex-col gap-2">
                <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
                <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

                <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
                  {%- form 'product', prod, id: prod.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}" disabled class="product-variant-id">

                    <div class="product-form__buttons main-submit-wrapper flex">
                      <div class="qty">
                        <input type="text" name="quantity" maxlength="100" value="{{ prod.variants.first.quantity_rule.min }}" title="" class="input-text" />
                        <div class="qty_inc_dec">
                          <i class="increment" onclick="updateQuantity('+')">+</i>
                          <i class="decrement" onclick="updateQuantity('-')">-</i>
                        </div>
                      </div>
                      <button id="ProductSubmitButton-{{ section_id }}" type="submit" name="add" class="product-form__submit button button--full-width button--primary">
                        <span class="submit-title">Add To Cart</span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </button>
                    </div>
                  {%- endform -%}
                </product-form>

                {% if prod.metafields.custom.file_url != blank %}
                  <a href="{{ prod.metafields.custom.file_url }}"><button class="secondary">Download PDF</button></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

        {% for block in section.blocks %}
          {% assign prod = block.settings.prod %}
          <div class="product flex w-[400px] gap-4 p-2 items-center" data-product-id="{{ prod.id }}">
            <div class="left w-[25%]">
              <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
            </div>

            <div class="right w-[75%] mbl:w-fit">
              <h6>{{ prod.title }}</h6>
              <p class="subtitle text-bronze">{{ block.settings.subtitle }}</p>
              <p>{{ prod.price | money }}</p>

              <div class="submit-wrap flex flex-col gap-2">
                <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
                <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

                <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
                  {%- form 'product', prod, id: prod.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}" disabled class="product-variant-id">

                    <div class="product-form__buttons main-submit-wrapper flex">
                      <div class="qty">
                        <input type="text" name="quantity" maxlength="100" value="{{ prod.variants.first.quantity_rule.min }}" title="" class="input-text" />
                        <div class="qty_inc_dec">
                          <i class="increment" onclick="updateQuantity('+')">+</i>
                          <i class="decrement" onclick="updateQuantity('-')">-</i>
                        </div>
                      </div>
                      <button id="ProductSubmitButton-{{ section_id }}" type="submit" name="add" class="product-form__submit button button--full-width button--primary">
                        <span class="submit-title">Add To Cart</span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </button>
                    </div>
                  {%- endform -%}
                </product-form>

                {% if prod.metafields.custom.file_url != blank %}
                  <a href="{{ prod.metafields.custom.file_url }}"><button class="secondary">Download PDF</button></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <style>
    #wholesale-products-{{ section.id }} .product {
      border: 1px solid var(--blue);
      border-radius: 10px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap button {
      background-color: var(--orange);
      border-radius: 0px 10px 10px 0;
      font-size: 18px;
      padding: 0.5rem;
      min-height: unset;
      color: black;
    }

    #wholesale-products-{{ section.id }} .submit-wrap button.secondary {
      border-radius: 10px;
      background-color: var(--blue);
      color: white;
      width: 100%;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
      border: 0;
      background: white;
    }

    @media screen and (max-width: 768px) {
      #wholesale-products-{{ section.id }} {
        grid-area: unset;
        grid-row: 3;
        max-width: unset
      }

      #wholesale-products-{{ section.id }} .submit-wrap .qty-data .qty-control {
        border: 1px solid var(--orange);
      }
    }
  </style>

  <style>
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      display: flex;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment,
    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .decrement {
      cursor: pointer;
      height: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec .increment {
      border-bottom: 0;
      line-height: 25px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      width: 30px;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty input[type=text] {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      width: 50px;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }

    /* Quantity Selector Transition */
    #wholesale-products-{{ section.id }} .submit-wrap .qty {
      transition: width 0.3s ease;
      width: -webkit-fill-available;
      flex-basis: content;
    }

    #wholesale-products-{{ section.id }} .submit-wrap .qty_inc_dec {
      transition: opacity 0.3s ease;
    }
  </style>

<style>
  #wholesale-products-{{ section.id }} .product:only-child {
    width: 600px;
    height: 250px;

    .left {
      width: 45%;
    }

    .right {
      h6 {
        font-size: 30px;
      }
    }
  }
</style>

<script>
  function updateQuantity(action) {
    var product_element = $(event.target).closest('.product');
    var quantityField = product_element.find('input[name="quantity"]');
    var value = parseInt(quantityField.val(), 10);
    value = isNaN(value) ? 1 : value;

    if (action === "+") {
      value++;
    } else if (action === "-") {
      value = Math.max(1, value - 1);
    }

    quantityField.val(value);
    $(".cart-qty").text(value).addClass("rotate-x");
  }
</script>
{% endif %}

{% schema %}
  {
    "name": "Multiple Products CTA",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "product_list",
        "id": "wholesale_products",
        "label": "Select Wholesale Products"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "prod",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Wholesale Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}