<section id="button-section-{{ section.id }}" class="button-section">
  <div class="container flex justify-center">
    <a id="button-link" href="{% if page.metafields.custom.next_page_link != blank %}{{ page.metafields.custom.next_page_link }}{% else %}{{ section.settings.button_link }}{% endif %}" {% if section.settings.animation %}data-aos="{{ section.settings.animation }}"{% endif %}><button><span>{{ section.settings.button_text }}</span></button></a>
  </div>
</section>

{% if section.settings.is_pass_url_parameters %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var baseLink = document.getElementById('button-link').href;
      var params = new URLSearchParams(window.location.search);
      document.getElementById('button-link').href = baseLink + '?' + params.toString();
    });
  </script>
{% endif %}

<style>
  #button-section-{{ section.id }} {
    background: {{ section.settings.bg_color }};
    {% if section.settings.remove_padding_top %}padding-top: 0;{% endif %}
    {% if section.settings.remove_padding_bottom %}padding-bottom: 0;{% endif %}
  }

  #button-section-{{ section.id }} button {
    border: none;
    background: {{ section.settings.button_bg_color }};
    color: {{ section.settings.button_title_color }};
    font-weight: 700;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: all var(--transition);
  }

  #button-section-{{ section.id }} button:hover {
    {%  comment  %} {% if section.settings.button_bg_hover != blank %}background: {{ section.settings.button_bg_hover }};{% endif %}{% endcomment %}
    {% if section.settings.button_title_color_hover != blank %}color: {{ section.settings.button_title_color_hover }};{% endif %}
  }

  @media screen and ( max-width: 768px) {
    #button-section-{{ section.id }} button {
      min-width: 300px;
    }
  }
</style>

<style>
  {% if section.settings.padding_top != 50 and section.settings.padding_top != blank %}
    #button-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
    }
  {% endif %}

  {% if section.settings.padding_bottom != 50 and section.settings.padding_top != blank %}
    #button-section-{{ section.id }} {
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  {% endif %}

  {% if section.settings.padding_top_mobile != blank %}
    @media screen and (max-width: 768px) {
      #button-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top_mobile }}vw;
      }
    }
  {% endif %}

  {% if section.settings.padding_bottom_mobile != blank %}
    @media screen and (max-width: 768px) {
      #button-section-{{ section.id }} {
        padding-bottom: {{ section.settings.padding_bottom_mobile }}vw;
      }
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Button",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "is_pass_url_parameters",
      "label": "Pass URL Parameters"
    },
    {
      "type": "checkbox",
      "id": "is_link_to_next_page",
      "label": "link to next page (metafield)"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    },
    {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button Hover Background Color"
    },
    {
      "type": "color",
      "id": "button_title_color_hover",
      "label": "Button Hover Title Color"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top (px unit)",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom (px unit)",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top on Mobile (vw unit)",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "vw"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom on Mobile (vw unit)",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "vw"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_top",
      "label": "Remove Top Padding"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_bottom",
      "label": "Remove Bottom Padding"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fade-zoom-in",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
