


  {% if shop.name == "CuraLife Global" %}
   <a class="button-wrapper" href="{{ section.settings.button_link }}"><button class="button-section">{{ section.settings.button-text }}</button></a>
  {% elsif shop.name == "CuraLife" %}
    <a href="{{ section.settings.button_link2 }}"><button class="button-section">{{ section.settings.button-text }}</button></a>
  {% endif %}


<style>


   section button {
      display: flex;
      justify-content: center;
  }

  .button-section {
    border: none;
    background:  {{ section.settings.button_color }};
    border-radius: 0;
    color: {{ section.settings.button_title_color }};
    font-weight: 400;
    padding: 8px 60px;
    font-size: 24px;
    box-shadow: 0 10px 20px #0000004d;
    transition: all var(--transition);
  }

  .button-section:hover {
    background: {{ section.settings.button_hbg }};
    color: {{ section.settings.button_httl }}
  }
 @media screen and ( max-width: 768px) {
    section a.button-section {
      padding: unset;
    }
     section button {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
</style>

{% schema %}
{
  "name": "Button1",
  "tag": "section",
  "class": "button-1 no-padding",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },


    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_link2",
      "label": "Button Link 2"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_hbg",
      "label": "Button Hover Background Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "button_httl",
      "label": "Button Hover Title Color",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "Button1"
    }
  ]
}
{% endschema %}
