<section class="button-section button-section-{{ section.id }}">
  <div class="container">
    <a id="button-link" href="{% if page.metafields.custom.next_page_link != blank %}{{ page.metafields.custom.next_page_link }}{% else %}{{ section.settings.button_link }}{% endif %}"><button>{{ section.settings.button_text }}</button></a>
  </div>
</section>

{% if section.settings.is_pass_url_parameters %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var baseLink = document.getElementById('button-link').href;
      var params = new URLSearchParams(window.location.search);
      document.getElementById('button-link').href = baseLink + '?' + params.toString();
    });
  </script>
{% endif %}

<style>
  .button-section-{{ section.id }} {
    background: {{ section.settings.bg_color }};
    {% if section.settings.remove_padding_top %}padding-top: 0;{% endif %}
    {% if section.settings.remove_padding_bottom %}padding-bottom: 0;{% endif %}
  }

  .button-section .container {
    display: flex;
    justify-content: center;
  }

  .button-section-{{ section.id }} button {
    border: none;
    background: {{ section.settings.button_bg_color }};
    border-radius: 0;
    color: {{ section.settings.button_title_color }};
    font-weight: 700;
    font-size: 33px;
    box-shadow: 8.26531px 8.26531px 8.26531px rgba(0, 0, 0, 0.2);
    transition: all var(--transition);
    border-radius: 17px;
    min-width: 500px;
  }

  .button-section-{{ section.id }} button:hover {
    {%  comment  %} {% if section.settings.button_bg_hover != blank %}background: {{ section.settings.button_bg_hover }};{% endif %}{% endcomment %}
    {% if section.settings.button_title_color_hover != blank %}color: {{ section.settings.button_title_color_hover }};{% endif %}
  }

  @media screen and ( max-width: 768px) {
    .button-section button {
      min-width: 300px;
      font-size: 25px;
    }
  }
</style>

{% schema %}
{
  "name": "Button",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "is_pass_url_parameters",
      "label": "Pass URL Parameters"
    },
    {
      "type": "checkbox",
      "id": "is_link_to_next_page",
      "label": "link to next page (metafield)"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    },
    {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button Hover Background Color"
    },
    {
      "type": "color",
      "id": "button_title_color_hover",
      "label": "Button Hover Title Color"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_top",
      "label": "Remove Top Padding"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_bottom",
      "label": "Remove Bottom Padding"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
