

<section id="button-simple-section-{{ section.id }}" class="button-simple-section no-padding">
    <div class="container text-center">                   
     <a href="{{ section.settings.button_link }}"><button class="btn-cta">{{ section.settings.button_text }}</button></a>                
    </div>
</section>

<style>
    {% if section.settings.padding_bottom %}
        #button-simple-section-{{ section.id }}  {
          padding-bottom: 2rem;
        }
    {% endif %}
   
    #button-simple-section-{{ section.id }}  {
        background: {{ section.settings.bg_color }};
      }
    #button-simple-section-{{ section.id }} .btn-cta {
      background: {{ section.settings.button_bg_color }};
      max-width: 35rem;
      box-shadow: .625rem .625rem .825rem #0000004d;
      border-radius: 1.25rem;
      padding: .875rem;
      display: inline-block;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.2;
      text-align: center;
      color: {{ section.settings.button_text_color }};
      width: 100%;
      transition: all var(--transition);
    }

    #button-simple-section-{{ section.id }} .btn-cta b {
      font-weight: 700;
    }

    #button-simple-section-{{ section.id }} .btn-cta:hover {
      background-color: {{ section.settings.button_bg_hover_color }};
      color: {{ section.settings.button_txt_hover_color }};
      transition: all var(--transition);
    }
 
    @media screen and ( max-width: 768px) {
    
    {% if section.settings.bg_color_change %}
        #button-simple-section-{{ section.id }}  {
          background: unset;
        }
    {% endif %}

    #button-simple-section-{{ section.id }} .btn-cta {
        padding: .5625rem .625rem;
        font-size: 1.2rem;
        font-weight: 400;
        max-width: 15rem;
      }

      #button-simple-section-{{ section.id }} .btn-cta b {
        font-weight: 700
      }

    }
  </style>



{% schema %}
    {
        "name": "Button Simple",
       
        "settings": [

          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },

          {
            "type": "text",
            "id": "button_link",
            "label": "Button Link"
          },
        
          {
            "type": "color",
            "id": "button_bg_color",
            "label": "Button Background Color",
            "default": "#404733"
          },
          {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#fff"
          },

          {
            "type": "color",
            "id": "button_bg_hover_color",
            "label": "Button Background Hover Color",
            "default": "#314227"
          },
          {
            "type": "color",
            "id": "button_txt_hover_color",
            "label": "Button Text Hover Color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "checkbox",
            "id": "bg_color_change",
            "label": "Background Color Changed"
          },
          {
            "type": "checkbox",
            "id": "padding_bottom",
            "label": "Padding Bottom"
          }
        ],
        "presets": [
          {
            "name": "Button Simple"
          }
        ]
    }
{% endschema %}