<section id="curalin-pack-ingredients-section">
  <div class="container">
    <div class="tabbed-content tabs-side">
      <nav class="tabs">
        <ul>
          {% for block in section.blocks %}
            {% assign ingredient_handle = block.settings.title | downcase | replace: ' ', '-' %}
            <li><a href="#ingredients-{{ ingredient_handle }}" {% if forloop.first %}class="active"{% endif %}>
              <img src="{{ block.settings.img | img_url: 'master' }}" width="68" height="53" alt="Ingredient" loading="lazy">
              <span class="main-titles">{{ block.settings.title }}</span>
            </a></li>
          {% endfor %}
        </ul>
      </nav>

      <div class="content">
        {% for block in section.blocks %}
          {% assign ingredient_handle = block.settings.title | downcase | replace: ' ', '-' %}
          <img class="product-suppliment-mb" src="{{ block.settings.img | img_url: 'master' }}" width="68" height="53" alt="Ingredient" loading="lazy">
          <div id="ingredients-{{ ingredient_handle }}" class="item {% if forloop.first %}active{% endif %}" data-title="{{ block.settings.title }}">
            <div class="ingredients item-content">
              <div class="ingr-imp">
                <div class="ingr">{{ block.settings.ingr }}&nbsp; <span>{{ block.settings.title }}</span></div>
                <div class="title-impact line">{{ block.settings.comp_ttl }}</div>
                <div class="impact">{{ block.settings.compound }}</div>
                <div class="title-impact">{{ block.settings.imp_ttl }}</div>
                <div class="impact">{{ block.settings.impact }}</div>
              </div>

              <div class="title-impact">{{ block.settings.res_ttl }}</div>
              <div class="impact">{{ block.settings.research }}</div>
              <div class="molecule"><img src="{{ block.settings.img_mol | img_url: 'master' }}" width="" height=""  alt="Ingredient2" loading="lazy"></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .content {
    max-width: 100%;

  }

  .content .product-suppliment-mb {
    display: block;
    position: absolute;
  }



  .ingr-imp {
    display: flex;
    flex-direction: column;
    max-width: 65%;
  }

  .ingr {
    padding-bottom: 20px;
  }

  .title-impact, .ingr {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: {{ section.settings.ttlimp_clr }};
  }

  .ingr {
    border-bottom: 2px solid #828282;
  }

  .ingr span {
    color: {{ section.settings.spn_clr }};
    font-weight: 700;
  }

  .impact {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: {{ section.settings.spn_clr }};
  }

  .title-impact.line {
    padding-top: 20px;
  }



  #curalin-pack-ingredients-section:nth-of-type(even) .tabbed-content {
    margin-left: unset;
  }

  #curalin-pack-ingredients-section .ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .molecule {
    display: flex;

  }

  .molecule img {
    margin:unset;
  }

  #curalin-pack-ingredients-section .ingredient {
    width: 30%;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #curalin-pack-ingredients-section .ingredient p {
    font-size: 16px;
    text-align: center;
  }


  #curalin-pack-ingredients-section .tabbed-content {
    display: flex;
    gap: 50px;
  }

  #curalin-pack-ingredients-section .tabs ul li {
    text-align: center;
    height: 70px;

  }

  #curalin-pack-ingredients-section .tabs ul li:not(:last-child) {
    border-bottom: 1px solid {{ section.settings.itm_clr }};
  }



  #curalin-pack-ingredients-section .tabs ul li a {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }


  #curalin-pack-ingredients-section .tabs ul li a:hover,
  #curalin-pack-ingredients-section .tabs ul li a.active {
    color: {{ section.settings.itm_clr }};
    font-weight: bold;
  }

  #curalin-pack-ingredients-section .item {
    margin-bottom: 2px;
    position: relative;
  }

 #curalin-pack-ingredients-section .item:not(:nth-of-type(1)):before {
    border-top: 1px solid {{ section.settings.itm_clr }};
 }

  #curalin-pack-ingredients-section .item::before {
    content: attr(data-title);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 0.5em 1em;
    display: block;
    text-align: center;
  }



  #curalin-pack-ingredients-section .item.active .item-content {
    transition: opacity 0.8s ease-in-out;
  }

  #curalin-pack-ingredients-section .tabbed-content .tabs {
    display: none;
  }

  .tabbed-content .item {
    min-height: 2em;
  }

  #curalin-pack-ingredients-section .tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  #curalin-pack-ingredients-section .tabbed-content .item.active .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    height: auto;
    background: {{ section.settings.ingr_color }};
    padding: 25px;
  }

  @media all and (min-width: 1131px) {
    .content .product-suppliment-mb {
      display: none;
    }


    .item.active .item-content {
      padding-top: 0;
    }

    #curalin-pack-ingredients-section .tabbed-content .tabs {
      display: block;
    }

    #curalin-pack-ingredients-section .tabbed-content .tabs li {
      display: inline-block;
      margin-bottom: 2px;
    }

    #curalin-pack-ingredients-section .tabbed-content .tabs li a {
      display: flex;
    }

    #curalin-pack-ingredients-section .tabbed-content .item {
      min-height: 0;
    }

    #curalin-pack-ingredients-section .tabbed-content .item::before {
      display: none;
    }

    #curalin-pack-ingredients-section .tabbed-content.tabs-side .tabs {
      min-width: 300px;
      margin-right: 50px;
    }

    #curalin-pack-ingredients-section .tabbed-content.tabs-side .tabs li {
      display: flex;
      min-width: 340px;
    }
  }

  @media all and (max-width: 1130px) {
    #curalin-pack-ingredients-section .tabbed-content {
      display: block;
      margin-left: unset !important;
    }

    .ingr-imp {
      max-width: unset;
    }
    .ingr {
      display: none;
    }

    #curalin-pack-ingredients-section .item::after {
      content: "+";
      font-size: 30px;
      position: absolute;
      top: 5px;
      right: 2vw;
      width: 3vw;
      height: 3vw;
      font-size: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: {{ section.settings.itm_clr }};
    }

    #curalin-pack-ingredients-section .item.active::after {
      content: "-";
    }

    #curalin-pack-ingredients-section .item.active::before {
      color: {{ section.settings.itm_clr }};
    }

    @media screen and (max-width: 1130px) {
      .title-impact {
          {% if section.settings.italic %}
          font-style: italic;
          text-decoration: underline;
          {% endif %}
      }
    }
  }

  @media screen and (max-width: 500px) {
    #curalin-pack-ingredients-section .item::before {
      font-size: 4vw;
      line-height: 2.9em;
    }
    #curalin-pack-ingredients-section .item::after {
      top: 5vw;
      width: 4vw;
      height: 4vw;
      font-size: 9vw;
    }
  }
</style>

<script>
  tabControl();

  var resizeTimer;
  $(window).on('resize', function(e) {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
    tabControl();
    }, 250);
  });

  function tabControl() {
    var tabs = $('#curalin-pack-ingredients-section .tabbed-content').find('.tabs');
    if(tabs.is(':visible')) {
    tabs.find('a').on('click', function(event) {
      event.preventDefault();
      var target = $(this).attr('href'),
          tabs = $(this).parents('.tabs'),
          buttons = tabs.find('a'),
          item = tabs.parents('#curalin-pack-ingredients-section .tabbed-content').find('.item');
      buttons.removeClass('active');
      item.removeClass('active');
      $(this).addClass('active');
      $(target).addClass('active');
    });
    } else {
    $('.item').on('click', function() {
      var container = $(this).parents('.tabbed-content'),
          currId = $(this).attr('id'),
          items = container.find('.item');
      const isCurrentActive = $(this).hasClass('active');
      container.find('.tabs a').removeClass('active');
      items.removeClass('active');
      if (!isCurrentActive) {
        $(this).addClass('active')
        container.find('.tabs a[href$="#'+ currId +'"]').addClass('active');
      };
    });
    }
  }
</script>


{% schema %}
  {
    "name": "Ingredients Box",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings":[
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "ttlimp_clr",
        "label": "Title Impact Color",
        "default": "#5E8F8F"
      },
      {
        "type": "color",
        "id": "ingr_color",
        "label": "Ingredients Background",
        "default": "#FFF1E8"
      },
      {
        "type": "color",
        "id": "spn_clr",
        "label": "Bold Span Color",
        "default": "#191A1E"
      },
      {
        "type": "color",
        "id": "itm_clr",
        "label": "Item Decoration Color",
        "default": "#9eb069"
      },
      {
        "type": "checkbox",
        "id": "italic",
        "label": "Italic"
      }
    ],
    "blocks": [
      {
        "name": "Ingredient Block",
        "type": "ingredient_block",
        "settings": [
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"text",
            "id":"ingr",
            "label":"Ingredient",
            "default": "Ingredient:"
          },
          {
            "type":"text",
            "id":"imp_ttl",
            "label":"Impact",
            "default": "Impact:"
          },
          {
            "type":"richtext",
            "id":"impact",
            "label":"Impact Content"
          },
          {
            "type":"text",
            "id":"comp_ttl",
            "label":"Compound",
            "default": "Active compound:"
          },
          {
            "type":"richtext",
            "id":"compound",
            "label":"Compound Content"
          },
          {
            "type":"text",
            "id":"res_ttl",
            "label":"Research"
          },
          {
            "type":"richtext",
            "id":"research",
            "label":"Research Content"
          },
          {
            "type":"image_picker",
            "id":"img",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"img_mol",
            "label":"Molecule Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Ingredients Box"
      }
    ]
  }
{% endschema %}