<section id="customer-reviews-{{ section.id }}" class="customer-reviews">
	<div class="container relative">
		<div class="reviews swiper overflow-visible">
			<div class="swiper-wrapper">
				{% for review in section.blocks %}
					<div class="review swiper-slide {% unless review.settings.image %}no-image{% endunless %}">
						<div class="review-wrapper flex flex-col items-center text-center p-6 bg-[--light-blue] !h-[600px] mbl:!h-[160vw] rounded-xl md:m-auto md:w-[90%]">
							{% if review.settings.image %}
								<img class="my-4" src="{{ review.settings.image | img_url: 'master' }}" alt="{{ review.settings.name }}">
							{% endif %}

							<div class="name text-[26px] text-[#3A7684] mb-4">{{ review.settings.name }}</div>
							<div class="title font-italic mb-4 font-bold text-black">{{ review.settings.title }}</div>

							{% if section.settings.is_show_stars %}
								<div class="stars w-fill absolute bottom-0 pb-6 text-center">
									{% render 'rating-stars', rating: '5' %}
								</div>
							{%- endif %}

							<blockquote class="quote p-0 text-black border-0">{{ review.settings.quote }}</blockquote>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="swiper-nav swiper-button-prev desktop"></div>
		<div class="swiper-nav swiper-button-next desktop"></div>
	</div>
</section>

<style>
	:root {
	  --swiper-navigation-sides-offset: -80px;
	  --swiper-navigation-sides-offset-mobile: 5vw;
	  --swiper-pagination-bullet-height: 12px;
	  --swiper-pagination-bullet-size: 12px;
	  --color-star: #FFB22D;
	  --swiper-nav-size: 50px;
	  --swiper-nav-size-mobile: 10vw;
	}

	#customer-reviews-{{ section.id }} .review.no-image .name {
	  margin-top: 60px;
	  font-size: 26px;
	}


	#customer-reviews-{{ section.id }} .review.no-image .quote {
	  font-size: 24px;
	}

	#customer-reviews-{{ section.id }} .review:not(.no-image) .stars {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: -webkit-fill-available;
	}

	#customer-reviews-{{ section.id }} .swiper-nav::after {
	  color: var(--primary-color);
	  background: white;
	  border: 2px solid var(--primary-color);
	  border-radius: 50%;
	  min-width: var(--swiper-nav-size);
	  height: var(--swiper-nav-size);
	  font-size: 30px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	@media screen and (max-width: 768px) {
	  :root {
	    --swiper-navigation-sides-offset: var(--swiper-navigation-sides-offset-mobile);
	  }

	  #customer-reviews-{{ section.id }} .swiper-nav::after {
	    min-width: var(--swiper-nav-size-mobile);
	    height: var(--swiper-nav-size-mobile);
	    font-size: 20px;
	  }
	}
</style>

<script>
	loadSwiper();

	document.addEventListener('DOMContentLoaded', () => {
		loadSwiper(() => {
			let swiper = initializeSwiper('#customer-reviews-{{ section.id }} .swiper', {
				grabCursor: true,
				slidesPerView: 3,
				spaceBetween: 30,
				navigation: {
					nextEl: '#customer-reviews-{{ section.id }} .swiper-button-next',
					prevEl: '#customer-reviews-{{ section.id }} .swiper-button-prev'
				},
				breakpoints: {
					320: { slidesPerView: 1, spaceBetween: 10, autoHeight: true },
					501: { slidesPerView: 2, spaceBetween: 20 },
					768: { slidesPerView: 3, spaceBetween: 30 }
				}
			});
		});
	});
</script>

{% schema %}
	{
		"name": "Customer Reviews 3",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			},
			{
				"type": "checkbox",
				"id": "is_show_stars",
				"label": "Show Stars"
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Customer Image"
					},
					{
						"type": "text",
						"id": "name",
						"label": "Customer Name"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Customer Title"
					},
					{
						"type": "richtext",
						"id": "quote",
						"label": "Review Quote"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Customer Reviews 3"
			}
		]
	}
{% endschema %}
