<section class="customer-reviews">
  <div class="container relative">
    <div class="reviews swiper overflow-visible">
      <div class="swiper-wrapper">
        {% for review in section.blocks %}
          <div class="review swiper-slide {% unless review.settings.image %}no-image{% endunless %}">
            <div class="review-wrapper flex flex-col text-center p-6 bg-[--light-blue] !h-[600px] md:!h-fit rounded-xl md:m-auto md:w-[90%]">
              {% if review.settings.image %}
                <img class="mb-4" src="{{ review.settings.image | img_url: 'master' }}" alt="{{ review.settings.name }}">
              {% endif %}
              <div class="name text-[26px] text-[#3A7684] mb-4">{{ review.settings.name }}</div>
              <div class="title font-italic mb-8 font-bold text-black">{{ review.settings.title }}</div>
              <div class="stars pb-6 text-center">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[#FFB22D] mr-1"></i>{% endfor %}</div>
              <div class="quote text-black">{{ review.settings.quote }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper-nav swiper-button-prev"></div>
    <div class="swiper-nav swiper-button-next"></div>
    <div class="swiper-pagination mobile !bottom-[8vw]"></div>
  </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<style>
  :root {
    --swiper-navigation-sides-offset: -40px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-size: 12px;
  }

  .customer-reviews .review.no-image .name {
    margin-top: 60px;
  }

  .customer-reviews .review.no-image .quote {
    font-size: 26px;
  }

  .customer-reviews .review.no-image .stars {
    position: absolute;
    bottom: 0;
  }

  .customer-reviews .swiper-nav::after {
    color: #3A7684;
    background: white;
    border: 2px solid #3A7684;
    border-left-width: 2px;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    :root {
      --swiper-navigation-sides-offset: -8vw;
    }

    .customer-reviews .swiper-nav::after {
      min-width: 10vw;
      height: 10vw;
      font-size: 20px;
    }
  }
</style>

<script>
  const swiper = new Swiper('.customer-reviews .swiper', {
    grabCursor: true,
    slidesPerView: 3,
    autoHeight: window.innerWidth < 768 ? true : false,
    loop: true,
    spaceBetween: 30,
    navigation: {
      nextEl: '.customer-reviews .swiper-button-next',
      prevEl: '.customer-reviews .swiper-button-prev',
    },
    pagination: {
        el: '.customer-reviews .swiper-pagination',
        clickable: true
    },
    autoplay: { delay: 5000 }
  });

  window.onresize = queryResizer;
  queryResizer();
  function queryResizer() {
    if (window.innerWidth >= 725) {
        swiper.params.slidesPerView = 3;
    } else if (window.innerWidth >= 501 && window.innerWidth < 725) {
        swiper.params.slidesPerView = 2;
    } else if (window.innerWidth < 501) {
        swiper.params.slidesPerView = 1;
    }
    swiper.update();
}
</script>

{% schema %}
{
  "name": "Customer Reviews 3",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Customer Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Customer Title"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews 3"
    }
  ]
}
{% endschema %}