{% assign newID = 'customer-reviews-' | append: section.id %}

<section id="customer-reviews-{{ section.id }}" class="customer-reviews">
	<div class="container relative">
		{% if section.settings.main_title != blank %}
			{% render 'title',
				section_id: newID,
				title: section.settings.main_title,
				title_tag: 'h2',
				subtitle: section.settings.main_subtitle,
				title_color: section.settings.title_color,
				span_color: section.settings.title_highlight_color,
				padding_bottom: '30',
				padding_top: 0
			%}
		{% endif %}
		<div class="reviews swiper overflow-visible">
			<div class="swiper-wrapper">
				{% for review in section.blocks %}
					<div class="review swiper-slide {% unless review.settings.image %}no-image{% endunless %}">
						<div class="review-wrapper flex flex-col p-6 bg-light-blue !h-[450px] mbl:!h-[130vw] rounded-xl md:m-auto md:w-[90%]">
							{% comment %}
								{% if review.settings.image %}
								  <img class="my-4" src="{{ review.settings.image | img_url: 'master' }}" alt="{{ review.settings.name }}">
								{% endif %}
							{% endcomment %}
							{% if section.settings.is_show_stars -%}
								<div class="stars pb-4 text-center">
									{%- for star in (1..5) -%}
										<i class="fa-sharp fa-solid fa-star text-[#FFB22D] mr-1"></i>
									{%- endfor -%}
									>
								</div>
							{%- endif %}
							{% if section.settings.is_show_quote_sign %}<i class="fa-sharp fa-solid fa-quote-left font-bold text-orange w-fit mb-4 text-[50px]"></i>{% endif %}
							<div class="titles min-h-[80px] mbl:min-h-[25vw]">
								{% if review.settings.name != blank -%}
									<div class="name text-[26px] font-bold text-[#3A7684]">{{ review.settings.name }}</div>
								{%- endif %}
								{% if review.settings.title != blank -%}
									<div class="title text-[24px] font-italic mb-2 text-[--blue]">
										{%- if review.settings.title contains 'Verified' %}<i class="fa-solid fa-badge-check mr-2"></i>{% endif -%}
										{{- review.settings.title -}}
									</div>
								{%- endif %}
							</div>
							<div class="review-quote p-0 text-black border-0">{{ review.settings.quote }}</div>
							{% if review.settings.product != blank -%}
								<div class="taking-badge absolute">Taking: {{ review.settings.product }}</div>
							{%- endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="swiper-nav swiper-button-prev desktop"></div>
		<div class="swiper-nav swiper-button-next desktop"></div>
	</div>
</section>

<style>
	:root {
	  --swiper-navigation-sides-offset: -40px;
	  --swiper-navigation-sides-offset-mobile: 5vw;
	  --swiper-pagination-bullet-height: 12px;
	  --swiper-pagination-bullet-size: 12px;
	  --color-star: #FFB22D;
	  --swiper-nav-size: 50px;
	  --swiper-nav-size-mobile: 10vw;
	}

	{% if section.settings.bg_color %}
	  #customer-reviews-{{ section.id }} {
	    background: {{ section.settings.bg_color }};
	  }
	{% endif %}

	{% if section.settings.review_bg_color %}
	  #customer-reviews-{{ section.id }} .review-wrapper {
	    background: {{ section.settings.review_bg_color }};
	  }
	{% endif %}

	#customer-reviews-{{ section.id }} .review .taking-badge {
	  position: absolute;
	  bottom: 20px;
	  left: 20px;
	  padding: 5px 20px;
	  background: #aec8d0;
	  border-radius: 50px;
	}

	#customer-reviews-{{ section.id }} .review:not(.no-image) .stars {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: -webkit-fill-available;
	}

	#customer-reviews-{{ section.id }} .swiper-nav::after {
	  color: var(--primary-color);
	  background: white;
	  border: 2px solid var(--primary-color);
	  border-radius: 50%;
	  min-width: var(--swiper-nav-size);
	  height: var(--swiper-nav-size);
	  font-size: 30px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	@media screen and (max-width: 768px) {
	  :root {
	    --swiper-navigation-sides-offset: var(--swiper-navigation-sides-offset-mobile);
	  }

	  #customer-reviews-{{ section.id }} .swiper-nav::after {
	    min-width: var(--swiper-nav-size-mobile);
	    height: var(--swiper-nav-size-mobile);
	    font-size: 20px;
	  }

	  #customer-reviews-{{ section.id }} .review .taking-badge {
	    left: unset;
	    font-size: 4vw;
	  }

	  #customer-reviews-{{ section.id }} .review.no-image .review-quote {
	    font-size: 5vw;
	  }
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		loadSwiper(() => {
			let swiper = initializeSwiper('#customer-reviews-{{ section.id }} .swiper', {
				autoplay: { delay: 5000 },
				loop: true,
				grabCursor: true,
				slidesPerView: 3,
				spaceBetween: 30,
				navigation: {
					nextEl: '#customer-reviews-{{ section.id }} .swiper-button-next',
					prevEl: '#customer-reviews-{{ section.id }} .swiper-button-prev'
				},
				breakpoints: {
					320: { slidesPerView: 1, spaceBetween: 10, autoHeight: true },
					501: { slidesPerView: 2, spaceBetween: 20 },
					768: { slidesPerView: 3, spaceBetween: 30 }
				}
			});
		});
	});
</script>

{% schema %}
	{
		"name": "Customer Reviews 4",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			},
			{
				"type": "color",
				"id": "review_bg_color",
				"label": "Review Background Color",
				"default": "#EBF1F3"
			},
			{
				"type": "text",
				"id": "main_title",
				"label": "Main Title"
			},
			{
				"type": "checkbox",
				"id": "is_show_stars",
				"label": "Show Stars"
			},
			{
				"type": "checkbox",
				"id": "is_show_quote_sign",
				"label": "Show Quote Sign",
				"default": true
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Customer Image"
					},
					{
						"type": "text",
						"id": "name",
						"label": "Customer Name"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Customer Title"
					},
					{
						"type": "richtext",
						"id": "quote",
						"label": "Review Quote"
					},
					{
						"type": "text",
						"id": "product",
						"label": "Product Taken"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Customer Reviews 4"
			}
		]
	}
{% endschema %}
