<section id="customer-reviews-{{ section.id }}" class="customer-reviews">
  <div class="container relative">
    <h2 class="text-center relative z-10 text-[#3A7684]">Hear from our happy customers</h2>

    {% comment %} <img class="pb-6 m-auto" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877255.png?v=1695042350" alt="customers avatars" loading="lazy"> {% endcomment %}

    <div class="reviews swiper overflow-visible max-w-[80%]">
      <div class="swiper-wrapper">
        {% for review in section.blocks %}
          <div class="review swiper-slide p-6 bg-[#E7F8EC] md:min-h-[90vw] border-cyan-700 border shadow-xl rounded-xl min-h-[250px]">
            <div class="stars pb-6 text-center">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[#FFB22D] mr-1"></i>{% endfor %}</div>
            <div class="quote text-black">{{ review.settings.quote }}</div>
            <div class="name absolute bottom-6 font-bold text-[#3A7684]">{{ review.settings.name }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-nav swiper-button-prev"></div>
      <div class="swiper-nav swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<style>
  :root {
    --swiper-navigation-sides-offset: -40px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-size: 12px;
  }

  #customer-reviews-{{ section.id }} .swiper-slide {
    opacity: 0;
    transition: .4s;
  }

  #customer-reviews-{{ section.id }} .swiper-slide-active,
  #customer-reviews-{{ section.id }} .swiper-slide-next,
  #customer-reviews-{{ section.id }} .swiper-slide-prev {
    opacity: 1;
  }

  #customer-reviews-{{ section.id }} .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left,rgb(48 72 143 / 20%),rgba(0,0,0,0));
  }

  #customer-reviews-{{ section.id }} .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right,rgb(48 72 143 / 20%),rgba(0,0,0,0));
  }

  #customer-reviews-{{ section.id }} .swiper-nav::after {
    color: #3A7684;
    background: white;
    border: 2px solid #3A7684;
    border-left-width: 2px;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    :root {
      --swiper-navigation-sides-offset: -8vw;
    }

    #customer-reviews-{{ section.id }} .swiper-nav::after {
      min-width: 10vw;
      height: 10vw;
      font-size: 20px;
    }
  }
</style>

<script>
  const swiper = new Swiper('#customer-reviews-{{ section.id }} .swiper', {
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1,
    reverseDirection: true,
    loop: true,
    spaceBetween: 30,
    effect: "coverflow",
    coverflowEffect: {
        rotate: 0,
        depth: 400,
        slideShadows: true,
    },
    navigation: {
      nextEl: '#customer-reviews-{{ section.id }} .swiper-button-next',
      prevEl: '#customer-reviews-{{ section.id }} .swiper-button-prev',
    },
    pagination: {
        el: '#customer-reviews-{{ section.id }} .swiper-pagination',
        clickable: true
    },
    autoplay: { delay: 5000 }
  });

  window.onresize = queryResizer;
  queryResizer();
  function queryResizer() {
      if (window.innerWidth < 724) swiper.params.slidesPerView = 2;
      if (window.innerWidth > 501) swiper.params.slidesPerView = 2;
      if (window.innerWidth > 724) swiper.params.slidesPerView = 2.3;
      if (window.innerWidth < 501) swiper.params.slidesPerView = 1;
      swiper.update();
  }
</script>

{% schema %}
{
  "name": "Customer Reviews 2",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews 2"
    }
  ]
}
{% endschema %}