<div class="container mb-16 flex">
  {% comment %} <div class="review-titles w-1/2">
    {% for block in section.blocks %}
      <div class="review-title" onclick="swiper.slideTo({{ forloop.index }})">
        {{ block.settings.title }}
      </div>
    {% endfor %}
  </div> {% endcomment %}

  <swiper-container class="reviews flex" centered-slides="true" auto-height="true" space-between="30" slides-per-view="auto" navigation="true" pagination="true" pagination-clickable="true" lazy="true">
    {% for block in section.blocks %}
      <swiper-slide class="review-wrapper">
        <div class="review h-[350px] md:h-fit md:flex-col md:p-4 md:shadow-xl flex justify-start gap-8 p-8 bg-white shadow-2xl">
          <img class="md:object-cover md:object-top md:w-full max-h-[280px]" src="{{ block.settings.customer_image | image_url }}" alt="" loading="lazy">
          <div class="content text-start mt-8 md:mt-0">
            <h3 class="name">{{ block.settings.name }}</h3>
            <div class="rating text-lightGreen mb-5"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
            <p class="quote">{{ block.settings.quote }}</p>
            <p class="additional-text bottom-7 md:text-sm md:relative md:bottom-0 absolute">{{ block.settings.additional_text }}</p>
          </div>
        </div>
      </swiper-slide>
    {% endfor %}
  </swiper-container>
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    // your options here
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<style>
  :root {
    --swiper-theme-color: var(--brown);
    --swiper-pagination-bottom: -8%;
    --swiper-navigation-size: 18px;
  }

  .customer-reviews {
    background-color: {{ section.settings.bg_color }};
  }

  .customer-reviews .reviews {
    overflow: visible;
  }

  .customer-reviews .review {
    cursor: grab;
    max-width: 80%;
    margin: auto;
  }
</style>

{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "customer-reviews relative",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "additional_text",
          "label": "Additional Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Short Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}