<section id="customer-reviews-{{ section.id }}" class="customer-reviews">
  <div class="container relative">
    <div class="reviews swiper overflow-visible">
      <div class="swiper-wrapper">
        {% for review in section.blocks %}
          <div class="review swiper-slide {% unless review.settings.image %}no-image{% endunless %}">
            <div class="review-wrapper flex flex-col p-6 bg-[--light-blue] !h-[600px] mbl:!h-[160vw] rounded-xl md:m-auto md:w-[90%]">
              {% comment %} {% if review.settings.image %}
                <img class="my-4" src="{{ review.settings.image | img_url: 'master' }}" alt="{{ review.settings.name }}">
              {% endif %} {% endcomment %}
              <i class="fa-sharp fa-solid fa-quote-left font-bold text-[--orange] w-fit mb-4 text-[50px]"></i>
              {% if review.settings.name != blank %}<div class="name text-[30px] font-bold text-[#3A7684]">{{ review.settings.name }}</div>{% endif %}
              <div class="title text-[28px] font-italic mb-4 text-[--blue] min-h-[50px]">{{ review.settings.title }}</div>
              <blockquote class="quote p-0 text-black border-0">{{ review.settings.quote }}</blockquote>
              <div class="taking-badge absolute">Taking: {{ review.settings.product }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper-nav swiper-button-prev desktop"></div>
    <div class="swiper-nav swiper-button-next desktop"></div>
    {% comment %} <div class="swiper-pagination mobile"></div> {% endcomment %}
  </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<style>
  :root {
    --swiper-navigation-sides-offset: -40px;
    --swiper-navigation-sides-offset-mobile: 5vw;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-size: 12px;
    --color-primary: #3A7684;
    --color-star: #FFB22D;
    --swiper-nav-size: 50px;
    --swiper-nav-size-mobile: 10vw;
  }

  #customer-reviews-{{ section.id }} .review .taking-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px 20px;
    background: #aec8d0;
    border-radius: 50px;
  }

  #customer-reviews-{{ section.id }} .review.no-image .quote {
    font-size: 24px;
  }

  #customer-reviews-{{ section.id }} .review:not(.no-image) .stars {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
  }

  #customer-reviews-{{ section.id }} .swiper-nav::after {
    color: var(--color-primary);
    background: white;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    min-width: var(--swiper-nav-size);
    height: var(--swiper-nav-size);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    :root {
      --swiper-navigation-sides-offset: var(--swiper-navigation-sides-offset-mobile);
    }

    #customer-reviews-{{ section.id }} .swiper-nav::after {
      min-width: var(--swiper-nav-size-mobile);
      height: var(--swiper-nav-size-mobile);
      font-size: 20px;
    }

    #customer-reviews-{{ section.id }} .review .taking-badge {
      left: unset;
    }

    #customer-reviews-{{ section.id }} .review.no-image .quote {
      font-size: 6vw;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('#customer-reviews-{{ section.id }} .swiper', {
      autoplay: { delay: 5000 },
      loop: true,
      grabCursor: true,
      slidesPerView: 3,
      spaceBetween: 30,
      navigation: {
        nextEl: '#customer-reviews-{{ section.id }} .swiper-button-next',
        prevEl: '#customer-reviews-{{ section.id }} .swiper-button-prev',
      },
      // pagination: {
      //   el: '#customer-reviews-{{ section.id }} .swiper-pagination',
      //   clickable: true
      // },
      breakpoints: {
        320: { slidesPerView: 1, spaceBetween: 10, autoHeight: true },
        501: { slidesPerView: 2, spaceBetween: 20 },
        768: { slidesPerView: 3, spaceBetween: 30 }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Customer Reviews 4",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "is_show_stars",
      "label": "Show Stars"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Customer Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Customer Title"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "product",
          "label": "Product Taken"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews 4"
    }
  ]
}
{% endschema %}