
{% if product.metafields.custom.faq.value %}
  {% assign faq_data = product.metafields.custom.faq.value %}
  {% assign data_type = "json" %}
{% elsif section.settings.product_faq != blank %}
  {% assign productFAQ = section.settings.product_faq %}
  {% assign faq_data = productFAQ.metafields.custom.faq.value %}
  {% assign data_type = "json" %}
{% else %}
  {% assign faq_data = section.settings.faq_data | split: "|" %}
  {% assign data_type = "string" %}
{% endif %}

<section id="faq-section-{{ section.id }}" class="faq-section {{ section.settings.additional_classes }}">
  <div class="container">
    <h2 class="mb-2">{{ section.settings.title }}</h2>

    {% if faq_data.size > 0 %}
      {% render 'product-faq-section',
        titles_color: section.settings.titles_color,
        closed_bg_color: section.settings.closed_bg_color,
        opened_bg_color: section.settings.opened_bg_color,
        seperator_color: section.settings.seperator_color,
        is_allow_one_open: section.settings.is_allow_one_open,
        data_type: data_type,
        faqItems: faq_data,
        section_id: section.id
      %}
    {% endif %}
  </div>
</section>

{% if section.settings.bg_color.alpha != 0.0 and section.settings.bg_color != blank %}
  <style>
    #faq-section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  </style>
{% endif %}

{% schema %}
{
    "name": "FAQ",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "closed_bg_color",
        "label": "Closed Background Color"
      },
      {
        "type": "color",
        "id": "opened_bg_color",
        "label": "Open Background Color"
      },
      {
        "type": "color",
        "id": "titles_color",
        "label": "Titles Color"
      },
      {
        "type": "color",
        "id": "seperator_color",
        "label": "Seperator Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "product",
        "id": "product_faq",
        "label": "Product FAQ"
      },
      {
        "type": "richtext",
        "id": "faq_data",
        "label": "FAQ Data"
      },
      {
        "type": "checkbox",
        "id": "is_allow_one_open",
        "label": "Allow only one answer open at a time"
      },
			{
				"type": "text",
				"id": "additional_classes",
				"label": "Additional Classes"
			}
    ],
    "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}