<footer>
  <div class="top-info">
    <div class="container">
      <div class="info-wrap">
        <div class="main-side footer-column">
          <a href="/"><img class="logo invert" src="{{ 'logo-new.svg' | asset_url }}" alt="curalife logo" width="134" height="32" loading="lazy"></a>
          <div class="social-links flex gap-4 text-[24px] mt-4">
            {% for block in section.blocks %}
              {% if block.type == 'social' %}
                <a href="{{ block.settings.social_link }}" target="_blank"><i class="{{ block.settings.social_icon_class }}"></i></a>
              {% endif %}
            {% endfor %}
          </div>
      </div>

        <div class="right-column footer-column">
          <div class="menu-list">
            {% for block in section.blocks %}
              {% if block.type == 'menu' %}
                <div class="menu-wrapper">
                  <div class="h6">{{ block.settings.menu_title }}</div>
                  {% assign footer_linklist = block.settings.footer_linklist %}
                  {% if linklists[footer_linklist].links.size > 0 %}
                    <ul>
                      {% for link in linklists[footer_linklist].links %}
                        <li><a href="{{ link.url }}"{% if link.url contains 'professionals' or link.url contains 'retail' %} rel="nofollow"{% endif %}>{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% comment %} <div class="disclaimer-and-other">
        <div class="social-bar">
          <div class="h6">FOLLOW US ON</div>
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'social' %}
                <li><a href="{{ block.settings.social_link }}" target="_blank"><i class="{{ block.settings.social_icon_class }}"></i></a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="support-contacts min-w-[25%]">
          <div class="h6">CUSTOMER SUPPORT</div>
            <ul>
              {% for block in section.blocks %}
                {% if block.type == 'contact' %}
                  <li>
                    <div class="phone-title">{{ block.settings.phone_title }}</div>

                    <div class="show-phone">
                      <div class="show-phone-btn"> Show Phone</div>
                      <div class="show-phone-content">
                        <a href="tel:{{ block.settings.phone_number }}">{{ block.settings.phone_number }}</a>
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div> {% endcomment %}

      <div class="pre-bottom-text">*Curalin, Curalife products, and statements on this website and other Curalife assets have not been evaluated by the Food and Drug Administration, and are not intended to diagnose, treat, cure, or prevent any disease. Results will vary from one person to another and there is no guarantee of specific results. We recommend consulting your doctor or your primary healthcare provider before using our products, especially when if you’re taking any medications.</div>
    </div>
  </div>

  <div class="bottom-info">
    <div class="container">
      <div class="info-wrap">
        <div class="text"><p class="copy-write">&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p> </div>

        <div class="payment-methods">
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'payment' %}
                {% if block.settings.payment_img != blank %}
                  <li><span><img src="{{ block.settings.payment_img | img_url: '' }}" width="51px" height="32px" alt=""></span></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <p class="rights-reserved">All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<script>
  Array.from(document.getElementsByClassName("show-phone-btn")).forEach(function(e) {
    e.addEventListener('click', (event) => {
      event.target.style.display = 'none';
      event.target.nextElementSibling.style.display = 'block';
    })
  })
</script>

<style>
  footer {
    background: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }

  footer .logo {
    max-width: 150px;
    margin: unset;
  }

  footer .top-info .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
  }

  footer .disclaimer {
    font-size: 0.7em;
  }

  footer .bottom-info .info-wrap .text p {
    color: white !important;
  }

  footer .payment-methods ul:nth-child(2) {
    display: none;
  }

  footer .support-contacts ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .show-phone-btn {
    background: {{ section.settings.titles_color }};
    border-radius: 15px;
    cursor: pointer;
    color: black;
    padding: 0 25px;
    font-size: 14px;
    line-height: 27px;
    min-width: 10rem;
    text-align: center;
  }

  footer .show-phone-content {
    display: none;
  }

  footer .right-column {
    min-width: 80%;
  }

  footer .footer-column {
    padding-top: 20px;
  }

  .main-side .menu-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .right-column .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  footer .h6 {
    text-transform: uppercase;
    color: {{ section.settings.titles_color }};
    font-weight: bold;
  }

  .right-column .menu-list .menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .right-column .menu-list {
    padding-top: 0.7em;
  }

  .right-column .menu-list ul {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
  }

  footer .support-contacts ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
    gap: 10px;
    min-height: 30px;
  }

  .disclaimer-and-other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .disclaimer-and-other a {
    font-family: 'PP Radio Grotesk';
    font-weight: lighter;
    text-decoration-line: underline;
    color: {{ section.settings.titles_color }};
  }

  .social-bar ul {
    display: flex;
    gap: 20px;
  }

  footer .social-bar ul li {
    width: 50%;
    padding: 10px 0;
  }

  footer .social-bar ul li a {
    color: inherit;
    transition: opacity var(--transition);
    font-size: 28px;
  }

  footer .bottom-info {
    padding: 10px 0;
    border-top: 1px solid rgba(239,239,239,.37);
  }

  footer .bottom-info .info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }

  .pre-bottom-text {
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
  }

  .payment-methods ul {
    display: flex;
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    footer .footer-columns {
      font-size: 20px;
    }

    footer .top-info .info-wrap {
      padding-bottom: unset;
      display: unset;
    }

    .main-side .menu-list ul {
      flex-wrap: nowrap;
      max-height: unset;
    }

    .right-column .menu-list ul {
      margin-bottom: 20px;
    }

    .right-column .menu-list {
      flex-direction: column;
      gap: 5vw;
    }

    .disclaimer-and-other {
      flex-direction: column;
      padding-bottom: 10px;
    }

    .social-bar ul {
      gap: 2vw;
    }

    .pre-bottom-text {
      font-weight: 400;
      font-size: 3vw;
      line-height: 1.8em;
    }

    .payment-methods ul {
      gap: 2vw;
    }

    .copy-write {
      font-size: 2vw;
    }

    .rights-reserved {
      font-size: 2vw;
      margin-left: 2vw;
    }
  }
</style>

{% schema %}
{
  "name": "Footer",
  "class": "footer_section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "titles_color",
      "label": "Titles Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo image"
    },
    {
      "type": "header",
      "content": "Bottom Menu"
    },
    {
      "type": "text",
      "id": "bottom_menu_title",
      "label": "Bottom Menu Title"
    },
    {
      "type": "link_list",
      "id": "bottom_linklist",
      "label": "Bottom Menu"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact Numbers",
        "settings": [
          {
            "type": "image_picker",
            "id": "flag_img",
            "label": "Country Flag Image"
          },
          {
            "type": "text",
            "id": "phone_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number"
          }
        ]
      },
      {
        "type": "social",
        "name": "Social Media",
        "settings": [
          {
            "type": "text",
            "id": "social_icon_class",
            "label": "Social Icon Class"
          },
          {
            "id": "social_link",
            "type": "url",
            "label": "Social Icon Link"
          }
        ]
      },
      {
      "type": "payment",
      "name": "Payment Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "payment_img",
          "label": "Select Payment Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}