<div class="hero-banner-easter">
  <div class="hero-img">
    {% if shop.name == "CuraLife" %}
    <a href="{{ section.settings.button_link }}">
      <img src="{{ section.settings.bg_image | image_url }}" width="1113" height="639" alt="">
    </a>
    {% else %}
    <a href="{{ section.settings.button_link2 }}">
      <img src="{{ section.settings.bg_image | image_url }}" width="1113" height="639" alt="">
    </a>
  {% endif %}
    </div>
    <div class="hero-img-mb">
    {% if shop.name == "CuraLife" %}
      <a href="{{ section.settings.button_link }}">
        <img src="{{ section.settings.bg_image_mobile | image_url }}" width="343" height="568" alt="">
      </a>
      {% else %}
      <a href="{{ section.settings.button_link2 }}">
        <img src="{{ section.settings.bg_image_mobile | image_url }}" width="343" height="568" alt="">
      </a>
    {% endif %}
    </div>

</div>

<style>

  section.hero-banner-easter  {
   padding: unset;
  }
  .hero-banner-easter {
    {% comment %} margin-top: {% if page.url contains 'glucose-support-' %}50px{% endif %}; {% endcomment %}
    background: {{ section.settings.bg_color }};
    overflow: hidden;
  }

   .hero-img {
    display: block;
    margin-bottom: {% if page.url contains '/pages/curalin-advanced-glucose-support' %}-20px{% endif %};
  }

   .hero-img-mb {
    display: none;
  }

  @media (max-width: 768px) {
    section.hero-banner-easter  {
     padding: unset;
    }
    .hero-banner-easter {
      margin-top: {% unless page.url contains 'glucose-support-curalin-pack-v3' %}unset{% endunless %};
    }

  .hero-img {
      display: none;
    }
     .hero-img-mb {
      display: block;
    }

    .hero-img-mb img {
      width: 100%;
    }
  }
</style>



{% schema %}
{
  "name": "Hero Banner Easter",
  "tag": "section",
  "class": "hero-banner-easter",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "start"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "checkbox",
      "id": "is_title_right",
      "label": "Place Title Right"
    },
    {
      "type": "checkbox",
      "id": "is_title_shadow",
      "label": "Title Shadow"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_link2",
      "label": "Button Link 2"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner Easter"
    }
  ]
}
{% endschema %}
