<div class="md:justify-{{ section.settings.mobile_alignment }} container flex flex-col justify-center">
 

  <div class="hero-img">
    <a href="{{ section.settings.button_link }}">
      <img src="{{ section.settings.bg_image | image_url }}" width="1113" height="639" alt="">
    </a>
    </div>
    <div class="hero-img-mb">
    <a href="{{ section.settings.button_link }}">
      <img src="{{ section.settings.bg_image_mobile | image_url }}" width="1113" height="639" alt="">
    </a>
    </div>
 
</div>

<style>
  section.hero-banner-easter {
    background: {{ section.settings.bg_color }};
  }

  section.hero-banner-easter .hero-img {
    display: flex;
  }

  section.hero-banner-easter .hero-img-mb {
    display: none;
  }

 
  @media (max-width: 768px) {
   
  section.hero-banner-easter .hero-img {
      display: none;
    }

    section.hero-banner-easter .hero-img-mb {
      display: flex;
    }
    
  }
</style>

{% schema %}
{
  "name": "Hero Banner Easter",
  "tag": "section",
  "class": "hero-banner-easter-easter",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Align on Mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "start"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "checkbox",
      "id": "is_title_right",
      "label": "Place Title Right"
    },
    {
      "type": "checkbox",
      "id": "is_title_shadow",
      "label": "Title Shadow"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner Easter"
    }
  ]
}
{% endschema %}
