<section class="footer no-padding">
    <div class="container">
        <div class="menus">
            <div class="column"> 
                <div class="menu">
                    <h4>Navigation</h4>
                    {% assign navigation = section.blocks | where: 'type', 'navigation' %}
                    {% for block in navigation %}
                     <a href="{{ block.settings.nav_link }}"><p><span><i class="fa-solid fa-chevron-right"></i></span>&nbsp;{{ block.settings.nav_ttl }}</p></a> 
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="menu">
                    <h4>Contact us</h4>
                    <a href="mailto:parnetships@curalife.com"><p><i class="icofont-email"></i> partnerships@curalife.com</p></a>
                </div>

                <div class="menu">
                    <h4>Find us on</h4>
                    <div class="social-links">
                        {% assign soc_lnk = section.blocks | where: 'type', 'soc_lnk' %}
                        {% for block in soc_lnk %}
                          <a href="{{ block.settings.soc_link }}"><i class="{{ block.settings.soc_icon }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyrights">© 2022 CuraLife Global</p>
            <div class="policies">
                {% assign policy = section.blocks | where: 'type', 'policy' %}
                {% for block in policy %}
                  <a class="policy" href="{{ block.settings.policy_link }}">{{ block.settings.policy_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<style>
    .footer {
        background-color: {{ section.settings.bg_color }};
        padding: 130px 0 0 0;
    }

 
    .footer .menus {
        display: flex; 
        justify-content: space-between;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .footer .menu h4 {
        color: {{ section.settings.text_color }};
        font-size: 30px;
        margin-bottom: 10px;
    }

    .footer .menu p span {
        color: {{ section.settings.dec_color }};
        font-weight: 800;
    }

    .footer .menu a,
    .footer .menu p {
        font-family: 'DMSans';
        font-size: 17px;
        color: {{ section.settings.text_color }};
        margin-bottom: 10px;
    }

    .footer .social-links {
        display: flex;
        gap: 20px;
    }

    .footer .social-links a {
        font-size: 30px;
        color: {{ section.settings.dec_color }};
    }

    .footer .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 15px 0;
        border-top: 1px solid {{ section.settings.brd_clr }};
    }

    .footer .policies {
        display: flex;
        gap: 15px;
    }

    .footer .policy,
    .footer .copyrights {   
        font-size: 18px;
        font-family: 'DM Sans';
        font-weight: 400;
        color: {{ section.settings.text_color }};
    }

    @media screen and (max-width: 768px){
        .footer {
            padding: 5vw 5vw 0;
        }

        .footer .menus {
            flex-direction: column;
            padding-top: 7vw;
        }

        .footer .policy {
            font-size: 2vw;
        }
    }
</style>


{% schema %}
{
  "name": "Partnerships Footer",
 "disabled_on": {
   "groups": [
     "header",
     "footer"
   ]
 },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#404733"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "dec_color",
      "label": "Decoration Color",
      "default": "#ffb22d"
    },
    {
        "type": "color_background",
        "id": "brd_clr",
        "label": "Border Color",
        "default": "rgba(255, 255, 255, 0.25)"
    }
  
  ],
  "blocks": [
    {
      "type": "navigation",
      "name": "Navigation",
      "settings": [
        {
          "type": "url",
          "id": "nav_link",
          "label": "Navigation Link"
        },
        {
          "type": "text",
          "id": "nav_ttl",
          "label": "Navigation Title"
        }
      ]
    },
    {
      "type": "soc_lnk",
      "name": "Social Link",
        "settings": [
         {
           "type": "url",
           "id": "soc_link",
           "label": "Social Link"
         },
         {
           "type": "text",
           "id": "soc_icon",
           "label": "Social Icon"
         }
        ]
      },
      {
        "type": "policy",
        "name": "Policy",
        "settings": [
          
          {
            "id": "policy_link",
            "type": "url",
            "label": "Policy Link"
          },
          {
            "type": "text",
            "id": "policy_name",
            "label": "Policy name"
          }
        ]
      }    
  ],
  "presets": [
    {
      "name": "Partnerships Footer"
    }
  ]
}
{% endschema %}