
<section class="survey">
  <div class="survey-bg">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>{{ section.settings.title_1 }}</b> {{ section.settings.title_2 }}</h3>
        </div>

        <div class="success-list">
          <ul>
           {% for block in section.blocks %}
            <li>
              <div class="percentage">
                <p><span data-count="{{ block.settings.data_count_text }}">0</span>%</p>
              </div>
              <div class="title">
                <h4>{{ block.settings.people_text }}</h4>
              </div>
              <div class="line">
                <span></span>
              </div>
            </li>
           {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .survey .data-wrap {
    padding-left: .9375rem
  }

  .survey .sub-title {
    padding-bottom: 3.6875rem
  }

  .survey .survey-button {
    width: 100%;
    max-width: 100%;
    text-align: center
  }


  .survey .success-list {
    max-width: 48.9375rem;
    margin: 0 auto
  }

  .survey .success-list ul li {
    padding-left: 10.25rem;
    margin-bottom: 3.375rem;
    position: relative;
    z-index: 1
  }

  .survey .success-list ul li:last-child {
    margin-bottom: 0
  }

  .survey .success-list ul li .percentage {
    display: flex;
    align-items: center;
    position: absolute;
    top: .5rem;
    left: 0;
    bottom: 0;
    overflow: hidden
  }

  .survey .success-list ul li .percentage p {
    margin: 0;
    font-weight: 500;
    font-size: 2.8125rem;
    line-height: 1;
    text-transform: uppercase;
    color: #222
  }

  .survey .success-list ul li .title {
    padding-bottom: .25rem
  }

  .survey .success-list ul li .title h4 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #222
  }

  .survey .success-list ul li .line {
    height: 1.4375rem;
    position: relative;
    overflow: hidden
  }

  .survey .success-list ul li .line span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: {{ section.settings.servey_background_reverse }};
    background: {{ section.settings.servey_background }};
    border-radius: 0 .9375rem .9375rem 0;
    transition: width 1s ease-in-out;
  }

  @media screen and (max-width: 991px) {
    .survey {
      margin-top: 1.875rem
    }


    .survey .success-list ul li .percentage p {
      font-size: 2rem
    }

    .survey .sub-title {
      padding-bottom: 1.875rem
    }

    .survey .success-list ul li .title h4 {
      font-size: 1.1875rem
    }

    .survey .success-list ul li {
      padding-left: 7.5rem;
      margin-bottom: .9375rem
    }


    .survey .survey-bg {
      padding-top: 2.8125rem;
      padding-bottom: 6.25rem;
    }
    .survey .data-wrap {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {

    .survey .survey-bg {
      padding-top: 0
    }

    .survey {
      margin-top: .6875rem;
    }

    .survey .success-list ul li .percentage p {
      font-size: 1.25rem
    }

    .survey .success-list ul li .percentage {
      position: static;
      min-width: 4.375rem
    }

    .survey .success-list ul li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: .8125rem;
      margin-bottom: 2.4375rem
    }

    .survey .success-list ul li .title {
      padding-bottom: 0
    }

    .survey .success-list ul li .title h4 {
      font-size: .875rem;
      font-weight: 400
    }

    .survey .success-list ul li .line {
      width: 100%;
      height: 1rem;
      margin-top: .375rem
    }

    .survey .success-list {
      margin-right: -.9375rem
    }

    .survey .sub-title {
      padding-bottom: 1.375rem
    }

    .survey .survey-bg {
      padding-bottom: 0.375rem;
    }
  }
</style>

<script>

const counters = document.querySelectorAll('.survey .success-list ul li .percentage p span');
const countingSpeed = 6000;
let animateCounters = true;

window.addEventListener('scroll', (e) => {
  let last_known_scroll_position = window.scrollY;
   if (counters && animateCounters && window.innerHeight > document.querySelector('.survey .data-wrap').getBoundingClientRect().top && window.innerHeight < document.querySelector('.survey .data-wrap').getBoundingClientRect().top + document.querySelector('.survey .line').getBoundingClientRect().top) {
    animateCounters = false;
    counters.forEach(counter => {
      const animate = () => {
        const value = parseFloat(+counter.getAttribute('data-count'));
        const dataLine = counter.closest('li').querySelector('.line span');
        const data = +counter.innerText;

        const time = value / countingSpeed;
        if (data < value) {
          counter.innerText = Math.ceil(data + time);
          dataLine.style.width = Math.ceil(data + time) + '%';
          setTimeout(animate, 0.1);
        } else {
          counter.innerText = value;
          dataLine.style.width = value + '%';
        }
      }
      animate();
    });
  }
});
</script>

{% schema %}
{
  "name": "Survey",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1",
      "default": "Satisfaction Survey"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": " of Curalin Customers"
    },
    {
      "type": "color_background",
      "id": "servey_background",
      "label": "Servey Background",
      "default": "linear-gradient(90.05deg ,rgba(238,208,195,.5) 0%,rgba(208,125,91,.5) 100%)"
    },
    {
      "type": "color_background",
      "id": "servey_background_reverse",
      "label": "Servey Background Reverse",
      "default": "-o-linear-gradient(359.95deg, rgba(238, 208, 195, .5) 0%, rgba(208, 125, 91, .5) 100%)"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "data_count_text",
          "label": "Data Count Text"
        },
        {
          "type": "text",
          "id": "people_text",
          "label": "People Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Survey"
    }
  ]
}
{% endschema %}