{% if shop.name == 'CuraLife Global' %}
	{% if section.settings.is_hide_on_global %}
		{% assign hideSection = true %}
	{% elsif section.settings.section_additional_classes contains 'prime' or section.settings.section_additional_classes contains 'subscription' %}
		{% assign hideSection = true %}
	{% endif %}
{% endif %}

{% if section.settings.display_on_pages != blank %}
	{% assign isDisplayOnThisPage = false %}
	{% assign displayOnPagesArray = section.settings.display_on_pages | split: ',' %}
	{% for currentPage in displayOnPagesArray %}
		{% if currentPage == request.path %}
			{% assign isDisplayOnThisPage = true %}
		{% endif %}
	{% endfor %}

	{% unless isDisplayOnThisPage %}
		{% assign hideSection = true %}
	{% endunless %}
{% endif %}

{% unless hideSection %}
	{% assign mainTitle = section.settings.main_title | default: section.settings.main_title_rich %}
	{% assign contentBG = section.settings.container_bg_color | default: section.settings.bg_color | default: 'white' %}

	<section
		id="section-{{ section.id }}"
		class="text-image overflow-visible md:overflow-hidden text-image-{{ section.id }} {% if section.settings.is_sticky %}sticky-banner{% endif %} {% if section.settings.is_image_overlap %}min-h-[500px] md:min-h-auto{% endif %} {% if section.settings.is_decor_relative_full %}static{% endif %} {% unless section.settings.is_dynamic_height %}min-h-[400px]{% endunless %} {% if section.settings.is_remove_padding_top %}pt-0{% endif %} {% if section.settings.is_remove_padding_bottom %}pb-0{% endif %} {% if section.settings.display_on_utm_parmeters != blank %}!hidden{% endif %} {% if section.settings.is_image_overlap_style %}mb-[150px] md:mb-0{% endif %} {{ section.settings.section_additional_classes }}">
		<div class="container main-container flex flex-col justify-center text-center {% if section.settings.is_decor_relative_full %}static{% endif %}">
			{% if mainTitle != blank or section.settings.main_subtitle != blank %}
				{% render 'title',
					section_id: section.id,
					title: mainTitle,
					title_tag: section.settings.title_tag,
					subtitle: section.settings.main_subtitle,
					title_color: section.settings.main_title_color,
					span_color: section.settings.title_highlight_color,
					padding_bottom: 30,
					is_reverse: section.settings.is_reverse_main_titles,
					is_balance_text: true
				%}
			{% endif %}

			{% render 'text-image',
				title_color: section.settings.title_color,
				title_highlight_color: section.settings.title_highlight_color,
				text_color: section.settings.text_color,
				border_color: section.settings.border_color,
				main_image: section.settings.image,
				main_mobile_image: section.settings.image_mobile,
				image_link: section.settings.image_link,
				videoURL: section.settings.video_embed,
				title: section.settings.title,
				subtitle: section.settings.subtitle,
				title_badge: section.settings.title_badge,
				content: section.settings.content,
				title_icon: section.settings.title_icon,
				content_width: section.settings.content_width,
				max_width: section.settings.max_width,
				text_size: section.settings.text_size,
				title_tag: section.settings.title_tag,
				image_position: section.settings.image_position,
				alignment: section.settings.alignment,
				mobile_alignment: section.settings.mobile_alignment,
				is_no_p_margin: section.settings.is_no_p_margin,
				is_line_seperator: section.settings.is_line_seperator,
				is_dynamic_height: section.settings.is_dynamic_height,
				is_hide_description_on_mobile: section.settings.is_hide_description_on_mobile,
				is_image_cover: section.settings.is_image_cover,
				is_reverse_on_mobile: section.settings.is_reverse_on_mobile,
				is_hide_image_on_mobile: section.settings.is_hide_image_on_mobile,
				is_image_full_width_mobile: section.settings.is_image_full_width_mobile,
				is_image_middle_mobile: section.settings.is_image_middle_mobile,
				is_image_bottom: section.settings.is_image_bottom,
				is_image_overlap: section.settings.is_image_overlap,
				is_limit_image_size: section.settings.is_limit_image_size,
				is_remove_container_padding_mobile: section.settings.is_remove_container_padding_mobile,
				is_no_wrap: section.settings.is_no_wrap,
				is_image_overlap_style: section.settings.is_image_overlap_style,
				is_dont_lazyload: section.settings.is_dont_lazyload,
				is_force_original_image: section.settings.is_force_original_image,
				is_image_shadow: section.settings.is_image_shadow,
				shadow_opacity: section.settings.shadow_opacity,
				shadow_blur: section.settings.shadow_blur,
				shadow_position_inline: section.settings.shadow_position_inline,
				shadow_position_block: section.settings.shadow_position_block,
				content_animation: section.settings.content_animation,
				image_animation: section.settings.image_animation,
				animation_duration: section.settings.animation_duration,
				items_slider_on: section.settings.items_slider_on,
				items_hidden_title: section.settings.items_hidden_title,
				contentBG: contentBG,
				section_blocks: section.blocks,
				section_id: section.id
			%}
		</div>

		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'decoration' %}
					{% render 'decoration',
						id: block.id,
						decor_img: block.settings.decor_img,
						decor_opacity: block.settings.decor_opacity,
						decor_max_width: block.settings.decor_max_width,
						decor_max_width_mobile: block.settings.decor_max_width_mobile,
						decor_position_top: block.settings.decor_position_top,
						decor_position_left: block.settings.decor_position_left,
						decor_position_top_mobile: block.settings.decor_position_top_mobile,
						decor_position_left_mobile: block.settings.decor_position_left_mobile,
						is_decor_above: block.settings.is_decor_above,
						is_decor_bg: block.settings.is_decor_bg,
						is_decor_relative_full: block.settings.is_decor_relative_full,
						is_decor_remove_on_desktop: block.settings.is_decor_remove_on_desktop,
						is_decor_remove_on_mobile: block.settings.is_decor_remove_on_mobile,
						is_dont_lazyload: section.settings.is_dont_lazyload
					%}
			{% endcase %}
		{% endfor %}
	</section>


	<script>
		(() => {
			const section = document.getElementById('section-{{ section.id }}');
			if (!section) return;

			const params = new URLSearchParams(window.location.search);
			const ctaParam = params.get('cta') === 'true';

			if (ctaParam) {
				document.querySelectorAll('.hide-on-cta').forEach(el => el.remove());
			}

			if ({{ section.settings.display_on_url_param | json }} && !ctaParam) {
				section.remove();
			}
		})();
	</script>

	{% if section.settings.is_sticky %}
		<div class="sticky-margin"></div>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var stickyMargin = document.querySelector('.sticky-margin');
				var section = document.getElementById('section-{{ section.id }}');
				if (stickyMargin && section) {
					stickyMargin.style.height = section.offsetHeight + 'px';
				}
			});
		</script>
	{% endif %}

	{% if section.settings.display_on_utm_parmeters != blank %}
		<script>
			$(document).ready(function () {
				var displayOnUrlParameter = '{{ section.settings.display_on_utm_parmeters }}';

				if (window.location.href.includes(displayOnUrlParameter)) {
					$('.text-image').removeClass('!hidden');
				} else {
					$('.shopify-section').css('margin-top', '0');
				}
			});
		</script>
	{% endif %}

	<style>
		.text-image {
		  display: flex;

		  @media (max-width: 768px) {
		    display: block;
		  }
		}

		.text-image .content a {
		  color: var(--blue);
		  text-decoration: underline;
		}

		.text-image .content a:has(button) {
		  text-decoration: unset;
		}

		#section-{{ section.id }} {
		  {% if section.settings.bg_image %}
		    background-image: url('{{ section.settings.bg_image | image_url }}');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		  {% endif %}

		  {% if section.settings.bg_color and section.settings.bg_width == 'full' %}
		    background-color: {{ section.settings.bg_color }};
		  {% endif %}

		  {% if section.settings.bg_image_mobile %}
		    @media (width < 768px) {
		      background-image: url('{{ section.settings.bg_image_mobile | image_url }}');
		    }
		  {% endif %}
		}

		#section-{{ section.id }} .container.main-container {
		  {% if section.settings.bg_width == 'container' %}
		    {% unless section.settings.bg_color contains 'rgba(0,0,0,0)' %}background-color: {{ section.settings.bg_color }};{% endunless %}
		    padding: 30px;
		    border-radius: 5px;
		    width: unset;
		  {% endif %}

		  {% if section.settings.container_bg_color != blank %}
		    background: {{ section.settings.container_bg_color }};
		    padding: 50px 2rem;
		    border-radius: 5px;
		  {% endif %}

		  {% if section.settings.border_color != blank %}
		    border: 1px solid {{ section.settings.border_color }};
		    padding: 2rem;
		  {% endif %}

		  {% if section.settings.is_full_width %}
		    max-width: 100%;
		    padding: 0;
		  {% endif %}
		}
	</style>

	{% if section.settings.is_sticky %}
		<style>
			#section-{{ section.id }} {
			  position: fixed;
			  top: 0;
			  width: 100%;
			  z-index: 100;
			  filter: drop-shadow(0px 2px 12px rgba(47, 47, 47, 0.5));
			}

			{% assign stickyHeaderHeight = section.settings.image.height | plus: section.settings.padding_top | plus: section.settings.padding_bottom %}
			{% if stickyHeaderHeight > 0 %}
			  .shopify-section:has(> sticky-header) {
			    margin-top: {{ stickyHeaderHeight }}px;

			    @media (width < 768px) {
			      {% assign paddingTop = section.settings.padding_top_mobile |  default: section.settings.padding_top %}
			      {% assign paddingBottom = section.settings.padding_bottom_mobile |  default: section.settings.padding_bottom %}
			      {% if section.settings.padding_top_mobile != blank and section.settings.padding_bottom_mobile != blank %}
			        margin-top: calc({{ section.settings.image_mobile.height }}px + {{ paddingTop }}vw + {{ paddingBottom }}vw);
			      {% else %}
			        margin-top: {{ section.settings.image_mobile.height | plus: paddingTop | plus: paddingBottom | plus: 80 }}px;
			      {% endif %}
			    }
			  }
			{% endif %}
		</style>
	{% endif %}

	<style>
		#section-{{ section.id }} {
			{% if section.settings.padding_top != blank and section.settings.padding_top != 50 %}
				padding-top: {{ section.settings.padding_top }}px;
			{% endif %}

			{% if section.settings.padding_bottom != blank and section.settings.padding_bottom != 50 %}
				padding-bottom: {{ section.settings.padding_bottom }}px;
			{% endif %}

			@media screen and (max-width: 768px) {
				{% if section.settings.padding_top_mobile != blank %}
					padding-top: {{ section.settings.padding_top_mobile }}vw;
				{% endif %}

				{% if section.settings.padding_bottom_mobile != blank %}
					padding-bottom: {{ section.settings.padding_bottom_mobile }}vw;
				{% endif %}

				.container {
					max-width: 100% !important;
		      	max-height: unset !important;
				}
			}
		}
	</style>

	{% if section.settings.decor_img %}
		<style>
			#section-{{ section.id }} .decor-img {
			  position: absolute;
			  z-index: {% if section.settings.is_decor_above %}2{% else %}0{% endif %};
			  {% if section.settings.decor_position_top > 50 %}
			    bottom: {{ 100 | minus:  section.settings.decor_position_top }}%;
			  {% else %}
			    top: {{ section.settings.decor_position_top }}%;
			  {% endif %}
			  {% if section.settings.decor_position_left > 50 %}
			    right: {{ 100 | minus: section.settings.decor_position_left }}%;
			  {% else %}
			    left: {{ section.settings.decor_position_left }}%;
			  {% endif %}
			  opacity: {{ section.settings.decor_opacity }}%;
			  max-width: {{ section.settings.decor_max_width }}%;
			  max-height: 100%;
			  object-fit: contain;

			  @media (width < 768px) {
			    {% if section.settings.decor_position_top_mobile > 50 %}
			      bottom:{{ 100 | minus:  section.settings.decor_position_top_mobile }}%;
			      top: unset;
			    {% else %}
			      top:{{ section.settings.decor_position_top_mobile }}%;
			      bottom: unset;
			    {% endif %}
			    {% if section.settings.decor_position_left_mobile > 50 %}
			      right: {{ 100 | minus: section.settings.decor_position_left_mobile }}%;
			      left: unset;
			    {% else %}
			      left:{{ section.settings.decor_position_left_mobile }}%;
			      right: unset;
			    {% endif %}
			  }
			}
		</style>
	{% endif %}
{% endunless %}

{% schema %}
	{
		"name": "Text with Image",
		"tag": "section",
		"class": "text-image-section no-padding overflow-visible",
		"settings": [
			{
				"type": "header",
				"content": "Main Title"
			},
			{
				"type": "text",
				"id": "main_title",
				"label": "Main Title"
			},
			{
				"type": "richtext",
				"id": "main_title_rich",
				"label": "Main Title (Rich Text)"
			},
			{
				"type": "text",
				"id": "main_subtitle",
				"label": "Main Subtitle"
			},
			{
				"type": "color",
				"id": "main_title_color",
				"label": "Main Title Color"
			},
			{
				"type": "checkbox",
				"id": "is_reverse_main_titles",
				"label": "Reverse Main Titles"
			},
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"type": "image_picker",
				"id": "image_mobile",
				"label": "Image on Mobile (optional)",
				"info": "Deprecated! please upload '-mbl' image instead."
			},
			{
				"type": "html",
				"id": "video_embed",
				"label": "Video Embed (optional instead on image)"
			},
			{
				"type": "url",
				"id": "image_link",
				"label": "Image Link (optional)"
			},
			{
				"type": "image_picker",
				"id": "bg_image",
				"label": "Background Image (optional)"
			},
			{
				"type": "image_picker",
				"id": "bg_image_mobile",
				"label": "Background Image on Mobile (optional)"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Title"
			},
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title_badge",
				"label": "Title Badge"
			},
			{
				"type": "richtext",
				"id": "content",
				"label": "Content"
			},
			{
				"type": "text",
				"id": "title_icon",
				"label": "Title Icon (fa class)"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			},
			{
				"type": "color",
				"id": "title_color",
				"label": "Title Color"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text Color"
			},
			{
				"type": "color",
				"id": "container_bg_color",
				"label": "Container Background Color"
			},
			{
				"type": "color",
				"id": "border_color",
				"label": "Border Color"
			},
			{
				"type": "color",
				"id": "title_highlight_color",
				"label": "Title Highlight Color (<strong>)"
			},
			{
				"type": "header",
				"content": "More Options"
			},
			{
				"type": "range",
				"id": "max_width",
				"label": "Maximum Width",
				"min": 600,
				"max": 1200,
				"step": 10,
				"unit": "px",
				"default": 1200
			},
			{
				"type": "range",
				"id": "content_width",
				"label": "Content Width",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"default": 45
			},
			{
				"type": "range",
				"id": "text_size",
				"label": "Text Size",
				"min": 5,
				"max": 40,
				"step": 1,
				"unit": "px",
				"default": 18
			},
			{
				"type": "select",
				"id": "title_tag",
				"label": "Title Tag",
				"options": [
					{
						"value": "h1",
						"label": "H1"
					},
					{
						"value": "h2",
						"label": "H2"
					},
					{
						"value": "h3",
						"label": "H3"
					},
					{
						"value": "h4",
						"label": "H4"
					},
					{
						"value": "h5",
						"label": "H5"
					},
					{
						"value": "h6",
						"label": "H6"
					}
				],
				"default": "h2"
			},
			{
				"type": "select",
				"id": "image_position",
				"label": "Image Position",
				"options": [
					{
						"value": "right",
						"label": "Right"
					},
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "bottom",
						"label": "Bottom"
					},
					{
						"value": "top",
						"label": "Top"
					}
				],
				"default": "right"
			},
			{
				"type": "select",
				"id": "alignment",
				"label": "Text Alignment",
				"options": [
					{
						"value": "start",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					}
				],
				"default": "start"
			},
			{
				"type": "select",
				"id": "mobile_alignment",
				"label": "Text Alignment on Mobile",
				"options": [
					{
						"value": "start",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					}
				],
				"default": "start"
			},
			{
				"type": "select",
				"id": "bg_width",
				"label": "Background Width",
				"options": [
					{
						"value": "full",
						"label": "Full Width"
					},
					{
						"value": "container",
						"label": "Only Container Width"
					}
				],
				"default": "full"
			},
			{
				"type": "checkbox",
				"id": "is_full_width",
				"label": "Full Width"
			},
			{
				"type": "checkbox",
				"id": "is_no_p_margin",
				"label": "Remove Paragraph Margins"
			},
			{
				"type": "checkbox",
				"id": "is_line_seperator",
				"label": "Line Seperator after Title"
			},
			{
				"type": "checkbox",
				"id": "is_dynamic_height",
				"label": "Dynamic Height"
			},
			{
				"type": "checkbox",
				"id": "is_image_cover",
				"label": "Image Fit - Cover"
			},
			{
				"type": "checkbox",
				"id": "is_reverse_on_mobile",
				"label": "Reverse on Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_image_full_width_mobile",
				"label": "Full Width Image on Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_image_middle_mobile",
				"label": "Put Image After the Title on Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_image_bottom",
				"label": "Stick Image to Bottom"
			},
			{
				"type": "checkbox",
				"id": "is_image_overlap",
				"label": "Image Overlaps Container"
			},
			{
				"type": "checkbox",
				"id": "is_limit_image_size",
				"label": "Limit Image Size (500px height)"
			},
			{
				"type": "checkbox",
				"id": "is_no_wrap",
				"label": "No Wrap on Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_image_overlap_style",
				"label": "Overlap Image Style"
			},
			{
				"type": "checkbox",
				"id": "is_dont_lazyload",
				"label": "Don't Lazyload Image"
			},
			{
				"type": "checkbox",
				"id": "is_force_original_image",
				"label": "Force Original Image"
			},
			{
				"type": "header",
				"content": "Padding"
			},
			{
				"type": "number",
				"id": "padding_top",
				"label": "Padding Top (px unit)",
				"default": 50
			},
			{
				"type": "number",
				"id": "padding_bottom",
				"label": "Padding Bottom (px unit)",
				"default": 50
			},
			{
				"type": "number",
				"id": "padding_top_mobile",
				"label": "Padding Top on Mobile (vw unit)"
			},
			{
				"type": "number",
				"id": "padding_bottom_mobile",
				"label": "Padding Bottom on Mobile (vw unit)"
			},
			{
				"type": "checkbox",
				"id": "is_remove_container_padding_mobile",
				"label": "Remove container padding on mobile"
			},
			{
				"type": "header",
				"content": "Image Shadow"
			},
			{
				"type": "checkbox",
				"id": "is_image_shadow",
				"label": "Image Shadow"
			},
			{
				"type": "range",
				"id": "shadow_opacity",
				"label": "Shadow Opacity",
				"min": 0,
				"max": 1,
				"step": 0.1,
				"default": 0.3
			},
			{
				"type": "range",
				"id": "shadow_blur",
				"label": "Shadow Blur",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"default": 10
			},
			{
				"type": "range",
				"id": "shadow_position_inline",
				"label": "Shadow Position X",
				"min": -50,
				"max": 50,
				"step": 1,
				"unit": "px",
				"default": 0
			},
			{
				"type": "range",
				"id": "shadow_position_block",
				"label": "Shadow Position Y",
				"min": -50,
				"max": 50,
				"step": 1,
				"unit": "px",
				"default": 0
			},
			{
				"type": "header",
				"content": "Animations"
			},
			{
				"type": "select",
				"id": "content_animation",
				"label": "Content Animation",
				"options": [
					{
						"value": "none",
						"label": "None"
					},
					{
						"value": "fade-zoom-in",
						"label": "Fade"
					},
					{
						"value": "fade-up",
						"label": "Fade Up"
					},
					{
						"value": "fade-down",
						"label": "Fade Down"
					},
					{
						"value": "fade-left",
						"label": "Fade Left"
					},
					{
						"value": "fade-right",
						"label": "Fade Right"
					},
					{
						"value": "fade-up-right",
						"label": "Fade Up Right"
					},
					{
						"value": "fade-up-left",
						"label": "Fade Up Left"
					},
					{
						"value": "fade-down-right",
						"label": "Fade Down Right"
					},
					{
						"value": "fade-down-left",
						"label": "Fade Down Left"
					},
					{
						"value": "flip-up",
						"label": "Flip Up"
					},
					{
						"value": "flip-down",
						"label": "Flip Down"
					},
					{
						"value": "flip-left",
						"label": "Flip Left"
					},
					{
						"value": "flip-right",
						"label": "Flip Right"
					},
					{
						"value": "slide-up",
						"label": "Slide Up"
					},
					{
						"value": "slide-down",
						"label": "Slide Down"
					},
					{
						"value": "slide-left",
						"label": "Slide Left"
					},
					{
						"value": "slide-right",
						"label": "Slide Right"
					},
					{
						"value": "zoom-in",
						"label": "Zoom In"
					},
					{
						"value": "zoom-in-up",
						"label": "Zoom In Up"
					},
					{
						"value": "zoom-in-down",
						"label": "Zoom In Down"
					},
					{
						"value": "zoom-in-left",
						"label": "Zoom In Left"
					},
					{
						"value": "zoom-in-right",
						"label": "Zoom In Right"
					},
					{
						"value": "zoom-out",
						"label": "Zoom Out"
					},
					{
						"value": "zoom-out-up",
						"label": "Zoom Out Up"
					},
					{
						"value": "zoom-out-down",
						"label": "Zoom Out Down"
					},
					{
						"value": "zoom-out-left",
						"label": "Zoom Out Left"
					},
					{
						"value": "zoom-out-right",
						"label": "Zoom Out Right"
					}
				],
				"default": "none"
			},
			{
				"type": "select",
				"id": "image_animation",
				"label": "Image Animation",
				"options": [
					{
						"value": "none",
						"label": "None"
					},
					{
						"value": "fade",
						"label": "Fade"
					},
					{
						"value": "fade-up",
						"label": "Fade Up"
					},
					{
						"value": "fade-down",
						"label": "Fade Down"
					},
					{
						"value": "fade-left",
						"label": "Fade Left"
					},
					{
						"value": "fade-right",
						"label": "Fade Right"
					},
					{
						"value": "fade-up-right",
						"label": "Fade Up Right"
					},
					{
						"value": "fade-up-left",
						"label": "Fade Up Left"
					},
					{
						"value": "fade-down-right",
						"label": "Fade Down Right"
					},
					{
						"value": "fade-down-left",
						"label": "Fade Down Left"
					},
					{
						"value": "flip-up",
						"label": "Flip Up"
					},
					{
						"value": "flip-down",
						"label": "Flip Down"
					},
					{
						"value": "flip-left",
						"label": "Flip Left"
					},
					{
						"value": "flip-right",
						"label": "Flip Right"
					},
					{
						"value": "slide-up",
						"label": "Slide Up"
					},
					{
						"value": "slide-down",
						"label": "Slide Down"
					},
					{
						"value": "slide-left",
						"label": "Slide Left"
					},
					{
						"value": "slide-right",
						"label": "Slide Right"
					},
					{
						"value": "zoom-in",
						"label": "Zoom In"
					},
					{
						"value": "zoom-in-up",
						"label": "Zoom In Up"
					},
					{
						"value": "zoom-in-down",
						"label": "Zoom In Down"
					},
					{
						"value": "zoom-in-left",
						"label": "Zoom In Left"
					},
					{
						"value": "zoom-in-right",
						"label": "Zoom In Right"
					},
					{
						"value": "zoom-out",
						"label": "Zoom Out"
					},
					{
						"value": "zoom-out-up",
						"label": "Zoom Out Up"
					},
					{
						"value": "zoom-out-down",
						"label": "Zoom Out Down"
					},
					{
						"value": "zoom-out-left",
						"label": "Zoom Out Left"
					},
					{
						"value": "zoom-out-right",
						"label": "Zoom Out Right"
					}
				],
				"default": "none"
			},
			{
				"type": "range",
				"id": "animation_duration",
				"label": "Animation Duration",
				"min": 100,
				"max": 3000,
				"step": 100,
				"unit": "ms",
				"default": 1000
			},
			{
				"type": "header",
				"content": "Section Settings"
			},
			{
				"type": "text",
				"id": "section_additional_classes",
				"label": "Additional Classes"
			},
			{
				"type": "header",
				"content": "Visibility"
			},
			{
				"type": "text",
				"id": "display_on_pages",
				"label": "Display Only On Pages",
				"info": "Enter a comma separated list of page paths to display this section only on those pages. Leave blank to display on all pages."
			},
			{
				"type": "text",
				"id": "display_on_utm_parmeters",
				"label": "Display Only On UTM Parameters",
				"info": "Enter a UTM Prameter needs to be to the banner to. example: 'sale=flash'. Leave blank to display on all pages."
			},
			{
				"type": "checkbox",
				"id": "display_on_url_param",
				"label": "Display Only on cta=true URL Param"
			},
			{
				"type": "checkbox",
				"id": "is_hide_on_global",
				"label": "Hide Section On Global"
			},
			{
				"type": "checkbox",
				"id": "is_hide_description_on_mobile",
				"label": "Hide Description On Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_hide_image_on_mobile",
				"label": "Hide Image On Mobile"
			},
			{
				"type": "checkbox",
				"id": "is_sticky",
				"label": "Stick Section To Top"
			},
			{
				"type": "header",
				"content": "Items Settings"
			},
			{
				"type": "select",
				"id": "items_slider_on",
				"label": "Activate Slider",
				"options": [
					{
						"value": "none",
						"label": "None"
					},
					{
						"value": "both",
						"label": "Both Desktop and Mobile"
					},
					{
						"value": "desktop",
						"label": "Desktop Only"
					},
					{
						"value": "mobile",
						"label": "Mobile Only"
					}
				],
				"default": "none"
			},
			{
				"type": "text",
				"id": "items_hidden_title",
				"label": "Hide Items Title"
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"type": "richtext",
						"id": "text",
						"label": "Text Content"
					},
					{
						"type": "color",
						"id": "text_color",
						"label": "Box Text Color"
					},
					{
						"type": "color",
						"id": "box_border_color",
						"label": "Box Border Color"
					},
					{
						"type": "color",
						"id": "box_bg_color",
						"label": "Box Background Color"
					},
					{
						"type": "range",
						"id": "font_size",
						"label": "Font Size",
						"min": 10,
						"max": 40,
						"step": 1,
						"unit": "px",
						"default": 18
					},
					{
						"type": "range",
						"id": "opacity",
						"label": "Opacity",
						"min": 0,
						"max": 100,
						"step": 10,
						"unit": "%",
						"default": 100
					},
					{
						"type": "checkbox",
						"id": "is_box_shadow",
						"label": "Box Shadow"
					}
				]
			},
			{
				"type": "code",
				"name": "Code",
				"settings": [
					{
						"type": "textarea",
						"id": "content",
						"label": "Code Content"
					}
				]
			},
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "image_picker",
						"id": "image_mobile",
						"label": "Mobile Image (optional)"
					},
					{
						"type": "image_picker",
						"id": "image_global",
						"label": "Image on Global (optional)"
					},
					{
						"type": "image_picker",
						"id": "image_mobile_global",
						"label": "Image on Global Mobile (optional)"
					},
					{
						"type": "url",
						"id": "image_link",
						"label": "Image Link (optional)"
					},
					{
						"type": "text",
						"id": "additional_classes",
						"label": "Additional Classes"
					},
					{
						"type": "checkbox",
						"id": "is_image_before_content",
						"label": "Image Before Main Content"
					},
					{
						"type": "checkbox",
						"id": "is_image_full_width_mobile",
						"label": "Full Width Image on Mobile",
						"default": true
					}
				]
			},
			{
				"type": "video",
				"name": "Video",
				"settings": [
					{
						"type": "image_picker",
						"id": "video_thumbnail",
						"label": "Video Thumbnail"
					},
					{
						"type": "textarea",
						"id": "video_url",
						"label": "Video Input (Embed or URL)"
					}
				]
			},
			{
				"type": "button",
				"name": "Button",
				"settings": [
					{
						"type": "text",
						"id": "button_text",
						"label": "Button Text"
					},
					{
						"type": "url",
						"id": "button_url",
						"label": "Button URL"
					},
					{
						"type": "url",
						"id": "button_url_global",
						"label": "Button URL on Global (optional)"
					},
					{
						"type": "text",
						"id": "button_icon",
						"label": "Button Icon Class (optional)"
					},
					{
						"type": "text",
						"id": "additional_classes",
						"label": "Button Additional Classes"
					},
					{
						"type": "text",
						"id": "button_element_name",
						"label": "Button Name (for tracking)"
					},
					{
						"type": "color",
						"id": "button_text_color",
						"label": "Button Text Color",
						"default": "#ffffff"
					},
					{
						"type": "color",
						"id": "button_bg_color",
						"label": "Button Background Color",
						"default": "#404733"
					},
					{
						"type": "select",
						"id": "button_align",
						"label": "Button Alignement",
						"options": [
							{
								"value": "start",
								"label": "Start"
							},
							{
								"value": "center",
								"label": "Center"
							}
						],
						"default": "start"
					},
					{
						"type": "select",
						"id": "button_style",
						"label": "Button Style",
						"options": [
							{
								"value": "solid",
								"label": "Solid"
							},
							{
								"value": "outline",
								"label": "Outline"
							}
						],
						"default": "solid"
					},
					{
						"type": "checkbox",
						"id": "button_is_new_tab",
						"label": "Open link in new tab"
					},
					{
						"type": "checkbox",
						"id": "button_is_link_to_top",
						"label": "Link to top of page"
					},
					{
						"type": "checkbox",
						"id": "button_is_prerender_link",
						"label": "Pre-render link"
					},
					{
						"type": "header",
						"content": "Under Title"
					},
					{
						"type": "text",
						"id": "button_under_title",
						"label": "Button Under Title"
					},
					{
						"type": "color",
						"id": "button_under_title_color",
						"label": "Button Under Title Color"
					},
					{
						"type": "text",
						"id": "button_under_title_classes",
						"label": "Under Title Additional Classes"
					}
				]
			},
			{
				"type": "decoration",
				"name": "Decoration",
				"settings": [
					{
						"type": "image_picker",
						"id": "decor_img",
						"label": "Decoration Image"
					},
					{
						"type": "range",
						"id": "decor_opacity",
						"label": "Decoration Opacity",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 100
					},
					{
						"type": "range",
						"id": "decor_max_width",
						"label": "Decoration Maximum Width",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 50
					},
					{
						"type": "range",
						"id": "decor_position_top",
						"label": "Decoration Position Top",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 0
					},
					{
						"type": "range",
						"id": "decor_position_left",
						"label": "Decoration Position Left",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 0
					},
					{
						"type": "range",
						"id": "decor_max_width_mobile",
						"label": "Decoration Maximum Width on Mobile",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 50
					},
					{
						"type": "range",
						"id": "decor_position_top_mobile",
						"label": "Decoration Mobile Top",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 0
					},
					{
						"type": "range",
						"id": "decor_position_left_mobile",
						"label": "Decoration Mobile Left",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"default": 0
					},
					{
						"type": "checkbox",
						"id": "is_decor_above",
						"label": "Decoration Above Content"
					},
					{
						"type": "checkbox",
						"id": "is_decor_bg",
						"label": "Decoration is a Background"
					},
					{
						"type": "checkbox",
						"id": "is_decor_relative_full",
						"label": "Decoration Relative to Full Width"
					},
					{
						"type": "checkbox",
						"id": "is_decor_remove_on_desktop",
						"label": "Remove Decoration On Desktop"
					},
					{
						"type": "checkbox",
						"id": "is_decor_remove_on_mobile",
						"label": "Remove Decoration On Mobile"
					}
				]
			},
			{
				"type": "countdown",
				"name": "Countdown Timer",
				"settings": [
					{
						"type": "color",
						"id": "bg_color",
						"label": "Countdown Background Color"
					},
					{
						"type": "header",
						"content": "Target Date"
					},
					{
						"type": "range",
						"id": "year",
						"label": "Year",
						"min": 2024,
						"max": 2026,
						"step": 1,
						"default": 2024
					},
					{
						"type": "select",
						"id": "month",
						"label": "Month",
						"options": [
							{
								"value": "Jan",
								"label": "January"
							},
							{
								"value": "Feb",
								"label": "February"
							},
							{
								"value": "Mar",
								"label": "March"
							},
							{
								"value": "Apr",
								"label": "April"
							},
							{
								"value": "May",
								"label": "May"
							},
							{
								"value": "Jun",
								"label": "June"
							},
							{
								"value": "Jul",
								"label": "July"
							},
							{
								"value": "Aug",
								"label": "August"
							},
							{
								"value": "Sep",
								"label": "September"
							},
							{
								"value": "Oct",
								"label": "October"
							},
							{
								"value": "Nov",
								"label": "November"
							},
							{
								"value": "Dec",
								"label": "December"
							}
						]
					},
					{
						"type": "range",
						"id": "day",
						"label": "Day",
						"min": 1,
						"max": 31,
						"step": 1,
						"default": 1
					},
					{
						"type": "range",
						"id": "hour",
						"label": "Hour",
						"min": 0,
						"max": 23,
						"step": 1,
						"default": 10
					},
					{
						"type": "range",
						"id": "minute",
						"label": "Minute",
						"min": 0,
						"max": 59,
						"step": 1,
						"default": 0
					},
					{
						"type": "checkbox",
						"id": "is_show_days",
						"label": "Show Days"
					},
					{
						"type": "header",
						"content": "Urgency Countdown Settings"
					},
					{
						"type": "number",
						"id": "urgency_minutes",
						"label": "Urgency Minutes",
						"info": "The number of minutes to show the urgency countdown for. If not set, the countdown will relate to the date above."
					}
				]
			},
			{
				"type": "item",
				"name": "Item",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "image_picker",
						"id": "image_mobile",
						"label": "Image on Mobile"
					},
					{
						"type": "text",
						"id": "icon",
						"label": "Icon (class)"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "richtext",
						"id": "description",
						"label": "Description"
					},
					{
						"type": "checkbox",
						"id": "is_image_background",
						"label": "Image is Background"
					},
					{
						"type": "checkbox",
						"id": "is_hide_on_mobile",
						"label": "Hide on mobile"
					},
					{
						"type": "text",
						"id": "link_title",
						"label": "Link Title"
					},
					{
						"type": "url",
						"id": "link_url",
						"label": "Link URL"
					},
					{
						"type": "header",
						"content": "Global Store Settings"
					},
					{
						"type": "image_picker",
						"id": "image_global",
						"label": "Image - Global"
					},
					{
						"type": "image_picker",
						"id": "image_mobile_global",
						"label": "Image on Mobile - Global"
					},
					{
						"type": "url",
						"id": "link_url_global",
						"label": "Link URL - Global"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Text with Image"
			}
		]
	}
{% endschema %}
