{% if section.settings.is_hide_on_global and shop.name == "CuraLife Global" %}
	{% assign is_hide = true %}
{% endif %}

{% unless is_hide %}
	{% assign mainTitle = section.settings.title | default: section.settings.title_rich %}

	{% if section.settings.anchor_id != blank %}<div id="{{ section.settings.anchor_id }}"></div>{% endif %}
	<section id="section-{{ section.id }}" class="title-section {% if section.settings.is_hide_on_mobile %}md:hidden{% endif %} {{ section.settings.section_additional_classes }}">
		<div class="container">
			<div class="wrapper md:!max-w-full" {% if section.settings.animation %}data-aos="{{ section.settings.animation }}"{% endif %}>
				{% render 'title',
					title_color: section.settings.title_color,
					subtitle_color: section.settings.subtitle_color,
					span_color: section.settings.span_color,
					border_color: section.settings.border_color,
					title_tag: section.settings.title_tag,
					title: mainTitle,
					subtitle: section.settings.subtitle,
					is_horizontal_lines: section.settings.is_horizontal_lines,
					is_disable_br_desktop: section.settings.is_disable_br_desktop,
					is_reverse: section.settings.is_reverse,
					is_balance_text: section.settings.is_balance_text,
					alignment: section.settings.alignment,
					section_id: section.id
				%}

				{% if section.settings.decor_img %}
					<img class="decor-img {% if section.settings.is_decor_remove_on_mobile %}md:hidden{% endif %}" src="{{ section.settings.decor_img | image_url }}" alt="{{ section.settings.decor_img.alt }}" loading="lazy">
				{% endif %}
			</div>
		</div>
	</section>

	<style>
		{% if section.settings.bg_color %}
			#section-{{ section.id }} {
				background-color: {{ section.settings.bg_color }};
			}
		{% endif %}

		{% if section.settings.border_color != blank %}
			#section-{{ section.id }} .container {
				border-bottom: 1px solid {{ section.settings.border_color }};
				padding-bottom: 30px;
			}
		{% endif %}

		{% if section.settings.padding_top != blank %}
			#section-{{ section.id }} {
				padding-top: {{ section.settings.padding_top }}px;
			}
		{% endif %}

		{% if section.settings.padding_bottom != blank %}
			#section-{{ section.id }} {
				padding-bottom: {{ section.settings.padding_bottom }}px;
			}
		{% endif %}

		{% if section.settings.padding_top_mobile != blank %}
			@media screen and (max-width: 768px) {
				#section-{{ section.id }} {
					padding-top: {{ section.settings.padding_top_mobile }}vw;
				}
			}
		{% endif %}

		{% if section.settings.padding_bottom_mobile != blank %}
			@media screen and (max-width: 768px) {
				#section-{{ section.id }} {
					padding-bottom: {{ section.settings.padding_bottom_mobile }}vw;
				}
			}
		{% endif %}

		#section-{{ section.id }} .container .wrapper {
			max-width: {{ section.settings.max_width }}%;
			margin: auto;
		}

		@media screen and (max-width: 768px) {
			#section-{{ section.id }} .container {
				max-width: 100% !important;
			}
		}
	</style>

	{% if section.settings.decor_img %}
		<style>
			#section-{{ section.id }} .decor-img {
				position: absolute;
				z-index: {% if section.settings.decor_imgis_decor_above %}2{% else %}1{% endif %};
				{% if section.settings.decor_position_top > 50 %}
					bottom: {{ 100 | minus:  section.settings.decor_position_top }}%;
				{% else %}
					top: {{ section.settings.decor_position_top }}%;
				{% endif %}
				{% if section.settings.decor_position_left > 50 %}
					right: {{ 100 | minus: section.settings.decor_position_left }}%;
				{% else %}
					left: {{ section.settings.decor_position_left }}%;
				{% endif %}
				opacity: {{ section.settings.decor_opacity }}%;
				max-width: {{ section.settings.decor_max_width }}%;
			}

			@media screen and (max-width: 768px) {
				#section-{{ section.id }} .decor-img {
					top: unset;
					bottom: unset;
					left: unset;
					right: unset;
					{% if section.settings.decor_position_top_mobile > 50 %}
						bottom:{{ 100 | minus:  section.settings.decor_position_top_mobile }}%;
					{% else %}
						top:{{ section.settings.decor_position_top_mobile }}%;
					{% endif %}
					{% if section.settings.decor_position_left_mobile > 50 %}
						right: {{ 100 | minus: section.settings.decor_position_left_mobile }}%;
					{% else %}
						left:{{ section.settings.decor_position_left_mobile }}%;
					{% endif %}
				}
			}
		</style>
	{% endif %}
{% endunless %}

{% schema %}
{
	"name": "Title",
	"settings": [
		{
			"type": "color",
			"id": "title_color",
			"label": "Title Color"
		},
		{
			"type": "color",
			"id": "subtitle_color",
			"label": "Subtitle Color"
		},
		{
			"type": "color",
			"id": "span_color",
			"label": "<span> Text Color"
		},
		{
			"type": "color",
			"id": "border_color",
			"label": "Border Color"
		},
		{
			"type": "select",
			"id": "title_tag",
			"label": "Title Tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				}
			],
			"default": "h2"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "title_rich",
			"label": "Title (Rich Text)"
		},
		{
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle"
		},
		{
			"type": "checkbox",
			"id": "is_disable_br_desktop",
			"label": "Disable <br> on desktop"
		},
		{
			"type": "checkbox",
			"id": "is_hide_on_mobile",
			"label": "Hide on Mobile"
		},
		{
			"type": "checkbox",
			"id": "is_hide_on_global",
			"label": "Hide on Global"
		},
		{
			"type": "checkbox",
			"id": "is_horizontal_lines",
			"label": "Show Horizontal Lines"
		},
		{
			"type": "checkbox",
			"id": "is_reverse",
			"label": "Reverse Titles"
		},
		{
			"type": "checkbox",
			"id": "is_balance_text",
			"label": "Balance Text Wrap",
			"default": true
		},
		{
			"type": "select",
			"id": "alignment",
			"label": "Alignment",
			"options": [
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "start",
					"label": "Left"
				}
			],
			"default": "center"
		},
		{
			"type": "text",
			"id": "anchor_id",
			"label": "Anchor ID"
		},
		{
			"type": "text",
			"id": "section_additional_classes",
			"label": "Additional Classes"
		},
		{
			"type": "header",
			"content": "Section Settings"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color"
		},
		{
			"type": "range",
			"id": "max_width",
			"label": "Maximum Width",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 70
		},
		{
			"type": "header",
			"content": "Padding"
		},
		{
			"type": "number",
			"id": "padding_top",
			"label": "Padding Top (px unit)",
			"default": 50
		},
		{
			"type": "number",
			"id": "padding_bottom",
			"label": "Padding Bottom (px unit)",
			"default": 0
		},
		{
			"type": "number",
			"id": "padding_top_mobile",
			"label": "Padding Top on Mobile (vw unit)"
		},
		{
			"type": "number",
			"id": "padding_bottom_mobile",
			"label": "Padding Bottom on Mobile (vw unit)"
		},
		{
			"type": "select",
			"id": "animation",
			"label": "Animation",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "fade-zoom-in",
					"label": "Fade"
				},
				{
					"value": "fade-up",
					"label": "Fade Up"
				},
				{
					"value": "fade-down",
					"label": "Fade Down"
				},
				{
					"value": "fade-left",
					"label": "Fade Left"
				},
				{
					"value": "fade-right",
					"label": "Fade Right"
				},
				{
					"value": "fade-up-right",
					"label": "Fade Up Right"
				},
				{
					"value": "fade-up-left",
					"label": "Fade Up Left"
				},
				{
					"value": "fade-down-right",
					"label": "Fade Down Right"
				},
				{
					"value": "fade-down-left",
					"label": "Fade Down Left"
				},
				{
					"value": "flip-up",
					"label": "Flip Up"
				},
				{
					"value": "flip-down",
					"label": "Flip Down"
				},
				{
					"value": "flip-left",
					"label": "Flip Left"
				},
				{
					"value": "flip-right",
					"label": "Flip Right"
				},
				{
					"value": "slide-up",
					"label": "Slide Up"
				},
				{
					"value": "slide-down",
					"label": "Slide Down"
				},
				{
					"value": "slide-left",
					"label": "Slide Left"
				},
				{
					"value": "slide-right",
					"label": "Slide Right"
				},
				{
					"value": "zoom-in",
					"label": "Zoom In"
				},
				{
					"value": "zoom-in-up",
					"label": "Zoom In Up"
				},
				{
					"value": "zoom-in-down",
					"label": "Zoom In Down"
				},
				{
					"value": "zoom-in-left",
					"label": "Zoom In Left"
				},
				{
					"value": "zoom-in-right",
					"label": "Zoom In Right"
				},
				{
					"value": "zoom-out",
					"label": "Zoom Out"
				},
				{
					"value": "zoom-out-up",
					"label": "Zoom Out Up"
				},
				{
					"value": "zoom-out-down",
					"label": "Zoom Out Down"
				},
				{
					"value": "zoom-out-left",
					"label": "Zoom Out Left"
				},
				{
					"value": "zoom-out-right",
					"label": "Zoom Out Right"
				}
			],
			"default": "none"
		},
		{
			"type": "header",
			"content": "Decoration Image"
		},
		{
			"type": "image_picker",
			"id": "decor_img",
			"label": "Decoration Image"
		},
		{
			"type": "range",
			"id": "decor_opacity",
			"label": "Decoration Opacity",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 100
		},
		{
			"type": "range",
			"id": "decor_max_width",
			"label": "Decoration Maximum Width",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 50
		},
		{
			"type": "range",
			"id": "decor_position_top",
			"label": "Decoration Position Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 0
		},
		{
			"type": "range",
			"id": "decor_position_left",
			"label": "Decoration Position Left",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 0
		},
		{
			"type": "range",
			"id": "decor_position_top_mobile",
			"label": "Decoration Mobile Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 0
		},
		{
			"type": "range",
			"id": "decor_position_left_mobile",
			"label": "Decoration Mobile Left",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 0
		},
		{
			"type": "checkbox",
			"id": "is_decor_above",
			"label": "Decoration Above Content"
		},
		{
			"type": "checkbox",
			"id": "is_decor_remove_on_mobile",
			"label": "Remove Decoration On Mobile"
		}
	],
	"presets": [
		{
			"name": "Title"
		}
	]
}
{% endschema %}
