<section id="title-section-{{ section.id }}" class="title-section">

  <div class="container text-center">
    <{{ section.settings.title_tag }} class="title">{{ section.settings.title }}</{{ section.settings.title_tag }}>
    <p>{{ section.settings.subtitle }}</p>
  </div>

</section>

<style>
  {% if section.settings.is_left %}
  #title-section-{{ section.id }} .title, p {
    text-align: left;
  } 
  #title-section-{{ section.id }} .title {
    margin-inline: unset !important;
  } 
  {% endif %}

  {% if section.settings.title_swoosh_color %}
    #title-section-{{ section.id }} .title strong {
      background-image: url('{{ 'title-swoosh-' | append: section.settings.title_swoosh_color | append: '.svg' | asset_url }}');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 8px;
    }
  {% endif %}

  {% if section.settings.bg_color %}
    #title-section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}

  {% if section.settings.is_remove_padding_bottom %}
    #title-section-{{ section.id }} {
      padding-bottom: 0;
    }
  {% endif %}

  {% if section.settings.is_remove_padding_top %}
    #title-section-{{ section.id }} {
      padding-top: 0;
    }
  {% endif %}

  {% if section.settings.border_color != blank %}
    #title-section-{{ section.id }} .container {
      border-bottom: 1px solid {{ section.settings.border_color }};
    }
  {% endif %}

  {% if section.settings.is_disable_br_desktop %}
    #title-section-{{ section.id }} .title br {
      display: none;
    }

    @media (max-width: 768px) {
      #title-section-{{ section.id }} .title br {
        display: block;
      }
    }
  {% endif %}
</style>

<style>
  #title-section-{{ section.id }} .title small {
    font-weight: lighter;
  }

  #title-section-{{ section.id }} .title {
    {% if section.settings.subtitle == blank %}margin: unset;{% endif %}
    max-width: {{ section.settings.max_width }}%;
    margin-inline: auto;
  }

  #title-section-{{ section.id }} .title strong {
    background-image: url('{{ 'title-swoosh-grey.svg' | asset_url }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
  }

  @media (max-width: 768px) {

    {% if section.settings.bg_color_change %}
       #title-section-{{ section.id }} {
         background-color: unset;
        }
    {% endif %}
    .title-section .title {
      max-width: 100% !important;
    }
  }
</style>

{% schema %}
{
    "name": "Title",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color"
      },
      {
        "type": "range",
        "id": "max_width",
        "label": "Maximum Width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 70
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "id": "title_swoosh_color",
        "label": "Title Decoration Color (<strong>)",
        "options": [
          {
            "value": "grey",
            "label": "Grey"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "brown",
            "label": "Brown"
          },
          {
            "value": "green",
            "label": "Green"
          }
        ]
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "checkbox",
        "id": "is_remove_padding_top",
        "label": "Remove padding top"
      },
      {
        "type": "checkbox",
        "id": "is_remove_padding_bottom",
        "label": "Remove padding bottom"
      },
      {
        "type": "checkbox",
        "id": "is_disable_br_desktop",
        "label": "Disable <br> on desktop"
      },
      {
        "type": "checkbox",
        "id": "is_left",
        "label": "Left"
      },
      {
        "type": "checkbox",
        "id": "bg_color_change",
        "label": "Background Color Changed"
      }
    ],
    "presets": [
    {
        "name": "Title"
    }
  ]
}
{% endschema %}