{% comment %}
	@file meta-tags.liquid
	Core meta tags for SEO and social sharing
{% endcomment %}

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="view-transition" content="same-origin">

{% assign page_title = page_title | default: shop.name %}
{% assign page_description = page_description | default: shop.description | default: shop.name %}
{% assign canonical_url = canonical_url | default: request.origin %}

{% if template == 'list-collections' %}
	{% assign page_title = 'Curalife | Explore Our Herbal Solutions' %}
	{% assign page_description = "Browse Curalife's expertly curated collections to find the ideal glucose support solutions for your wellness journey. Our range of science-backed dietary supplements is designed to help you maintain balanced glucose levels naturally." %}
{% endif %}

<title>
	{{ page_title }}
	{%- if current_tags %} – tagged "{{ current_tags | join: ', ' }}"{% endif -%}
	{%- if current_page != 1 %} – Page {{ current_page }}{% endif -%}
	{%- unless page_title contains shop.name %} – {{ shop.name }}{% endunless -%}
</title>

{% comment %} Primary Meta Tags {% endcomment %}
<meta name='title' content='{{ page_title | escape }}'>
<meta name='description' content='{{ page_description | escape }}'>

{% assign noIndexLangs = 'de,it' | split: ',' %}
{% if product.metafields.custom.no_index == true or page.metafields.custom.no_index == true or article.metafields.custom.no_index == true or noIndexLangs contains localization.language.iso_code %}
	<meta name='robots' content='noindex'>
{% endif %}

{% comment %} Open Graph / Facebook {% endcomment %}
<meta property='og:type' content='{% if request.page_type == 'product' %}product{% elsif request.page_type == 'article' %}article{% else %}website{% endif %}'>
<meta property='og:site_name' content='{{ shop.name }}'>
<meta property='og:url' content='{{ canonical_url }}'>
<meta property='og:title' content='{{ page_title | escape }}'>
<meta property='og:description' content='{{ page_description | escape }}'>
<meta property='og:image' content='{% if page_image %}https:{{ page_image | image_url }}{% else %}{{ 'meta-thumbnail.png' | asset_url }}{% endif %}'>

{% if page_image %}
	<meta property='og:image:width' content='{{ page_image.width }}'>
	<meta property='og:image:height' content='{{ page_image.height }}'>
{% endif %}

{% if request.page_type == 'product' %}
	<meta property='og:price:amount' content='{{ product.price | money_without_currency | strip_html }}'>
	<meta property='og:price:currency' content='{{ cart.currency.iso_code }}'>
{% endif %}

<link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
