<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="view-transition" content="same-origin" />
<meta name="theme-color" content="">

{% if template == 'list-collections' %}
  {% assign page_title = "Curalife | Explore Our Herbal Solutions" %}
  {% assign page_description = "Browse Curalife's expertly curated collections to find the ideal glucose support solutions for your wellness journey. Our range of science-backed dietary supplements is designed to help you maintain balanced glucose levels naturally." %}
{%- endif -%}

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>
<meta name="title" content="{{ page_title }}">
<meta name="description" content="{{ page_description | escape }}">

<!-- Favicons -->
{%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
{% else %}
<link rel="shortcut icon" href="{{ 'favicon-32x32.png' | asset_url }}" type="image/png">
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ 'favicon-96x96.png' | asset_url }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ 'favicon-128x128.png' | asset_url }}" sizes="128x128" />
  <link rel="icon" type="image/png" href="{{ 'favicon-196x196.png' | asset_url }}" sizes="196x196" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'favicon-apple-touch-icon-57x57.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'favicon-apple-touch-icon-60x60.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'favicon-apple-touch-icon-72x72.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'favicon-apple-touch-icon-76x76.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'favicon-apple-touch-icon-114x114.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'favicon-apple-touch-icon-120x120.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'favicon-apple-touch-icon-152x152.png' | asset_url }}" />
  <meta name="application-name" content="CuraLife"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ 'favicon-mstile-144x144.png' | asset_url }}" />
  <meta name="msapplication-square70x70logo" content="{{ 'favicon-mstile-70x70.png' | asset_url }}" />
  <meta name="msapplication-square150x150logo" content="{{ 'favicon-mstile-150x150.png' | asset_url }}" />
  <meta name="msapplication-wide310x150logo" content="{{ 'favicon-mstile-310x150.png' | asset_url }}" />
  <meta name="msapplication-square310x310logo" content="{{ 'favicon-mstile-310x310.png' | asset_url }}" />
{%- endif -%}

{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: request.origin
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'password'
    assign og_url = request.origin
  endif
%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title | escape }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description | escape }}">

{%- if page_image -%}
  <meta property="og:image" content="http:{{ page_image | image_url }}">
  <meta property="og:image:secure_url" content="https:{{ page_image | image_url }}">
  <meta property="og:image:width" content="{{ page_image.width }}">
  <meta property="og:image:height" content="{{ page_image.height }}">
{%- else -%}
    <meta property="og:image" content="{{ 'meta-thumbnail.png' | asset_url }}" />
{%- endif -%}

{%- if request.page_type == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
{%- endif -%}

{%- if settings.social_twitter_link != blank -%}
  <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{%- endif -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title | escape }}">
<meta name="twitter:description" content="{{ og_description | escape }}">

{% comment %} No Index Metafield Functionality {% endcomment %}
{% if product.metafields.custom.no_index == true or page.metafields.custom.no_index == true or article.metafields.custom.no_index == true%}
  <meta name="robots" content="noindex">
{% endif %}