{% if shop.name contains 'Global' %}
	{% assign min_weight = 45 %}
	{% assign max_weight = 150 %}
	{% assign default_weight = 70 %}
	{% assign measure = 'kg' %}
{% else %}
	{% assign min_weight = 100 %}
	{% assign max_weight = 400 %}
	{% assign default_weight = 150 %}
	{% assign measure = 'lbs' %}
{% endif %}

<section id='calculator-{{ section.id }}' class='calculator-section {{ section.settings.section_additional_classes }}'>
	<div class='container'>
		<div class='wrapper' data-aos='fade-up'>
			<img class='bg-img absolute z-[-1]' src='https://cdn.shopify.com/s/files/1/0452/2459/1511/files/plant.png' alt='Curaslim 2024 plant' loading='lazy'>

			<div class='weight-loss-calculator'>
				<div class='weight-display flex items-center justify-between'>
					<div class='weight-title flex items-center gap-2 font-bold'>
						<img src='https://cdn.shopify.com/s/files/1/0452/2459/1511/files/wightloss-icons.png' alt='weight loss' loading='lazy'>
						<span
							>Your current<br>
							weight</span
						>
					</div>

					<span class='current-weight text-lg' id='currentWeight'>
						{{- default_weight -}}
						<span class='lbs text-sm'>{{ measure }}</span></span
					>
				</div>

				<div class='slider-container'>
					<input type='range' min='{{ min_weight }}' max='{{ max_weight }}' value='{{ default_weight }}' class='slider' id='weightSlider' name='track:Weight Calculator Slider'>
				</div>

				<div class='result flex items-center justify-between'>
					<div class='left'>
						<div><strong>Weight you could lose</strong> ({{ measure }})</div>
						<div class='bg-orange italic rounded-full px-2 py-1 mt-1 w-fit'>With Curaslim</div>
					</div>
					<div class='result-value text-lg' id='weightLoss'
						>22<span class='lbs text-sm'>{{ measure }}</span></div
					>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.weight-loss-calculator {
		border-radius: 24px;
		background: linear-gradient(180deg, #ffffff 40.95%, #9f9d5e 190.95%);
		box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.1);
		padding: 50px 90px;
		width: 800px;
		margin: 0 auto;

		@media screen and (max-width: 768px) {
			width: 100%;
			padding: 1rem;
		}
	}

	.bg-img {
		max-width: 450px;

		@media (width < 768px) {
			width: 78vw;
			left: -22vw;
		}
	}

	.weight-display {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.weight-title {
			min-width: 30%;

			@media (width < 768px) {
				flex-basis: min-content;
				font-size: 4vw;
				min-width: 40vw;
			}

			span {
				@media (width < 768px) {
					font-size: 4vw;
					width: 30vw;
				}
			}

			img {
				margin: 0;

				@media (width < 768px) {
					width: 15vw;
					max-width: 20vw;
				}
			}
		}
	}

	.current-weight {
		position: relative;
		font-size: 44px;
		font-weight: bold;
	}

	.slider-container {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding-block: 1rem;
	}

	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 5px;
		background: #bbb86f;
		outline: none;
		opacity: 1;
		transition: opacity 0.2s;
		cursor: pointer;
	}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 67px;
		height: 67px;
		background: url('https://cdn.shopify.com/s/files/1/0452/2459/1511/files/pill-icon.png?v=1723546176') no-repeat center center;
		background-size: cover;
		cursor: pointer;
	}

	.slider::-moz-range-thumb {
		width: 67px;
		height: 67px;
		background: url('https://cdn.shopify.com/s/files/1/0452/2459/1511/files/pill-icon.png?v=1723546176') no-repeat center center;
		background-size: cover;
		cursor: pointer;
		border: none;
	}

	.result {
		background-color: white;
		padding: 1rem;
		border-radius: 15px;

		.left {
			color: #9b995a;

			@media (width < 768px) {
				font-size: 3.5vw;
			}
		}
	}

	.result-value {
		position: relative;
		font-size: 44px;
		font-weight: bold;
		color: #9b995a;

		@media (width < 768px) {
			font-size: 10vw;
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const calculator = document.getElementById('calculator-{{ section.id }}');
		const slider = calculator.querySelector('#weightSlider');
		const currentWeight = calculator.querySelector('#currentWeight');
		const weightLoss = calculator.querySelector('#weightLoss');

		function calculateWeightLoss(weight) {
			const potentialLoss = Math.round(weight * 0.15);
			return Math.min(potentialLoss, 100);
		}

		function updateWeightLoss() {
			const weight = slider.value;
			currentWeight.innerHTML = `${weight}<span class="lbs text-sm">{{ measure }}</span>`;
			weightLoss.innerHTML = `${calculateWeightLoss(weight)}<span class="lbs text-sm">{{ measure }}</span>`;
		}

		slider.addEventListener('input', updateWeightLoss);
		updateWeightLoss();
	});
</script>

{% schema %}
	{
		"name": "Weight Loss Calculator",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Widget Title",
				"default": "Weight Loss Estimator"
			},
			{
				"type": "text",
				"id": "section_additional_classes",
				"label": "Additional Classes"
			}
		],
		"presets": [
			{
				"name": "Weight Loss Calculator",
				"category": "Custom"
			}
		]
	}
{% endschema %}
